@using Sitecore
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    	
	var url = "#";
		
	 var ShopAndDine = Sitecore.Context.Database.GetItem("{3BBB3E9F-1D7F-4582-8D6A-4CAC392BEC01}");
    var ShopAndDineTerminalMap = Sitecore.Context.Database.GetItem("{5A4540A0-DE8C-4FDB-B0BB-B631BCBEDF1F}");
  
    var AirportService = Sitecore.Context.Database.GetItem("{9B6DC66F-C06A-41CC-B4A2-0D4A08AA5A02}");
    var AirportServiceImage = Sitecore.Context.Database.GetItem("{797B36DE-9EE2-4577-A0CC-9FDB9DCBD0CF}");
    var AirportServiceOtherService = Sitecore.Context.Database.GetItem("{B3B8698F-23BD-47FA-A2E3-52CB1E901A03}");
    var AirportServiceTerminalMap = Sitecore.Context.Database.GetItem("{99CCDF1D-96E4-406C-A824-18785AA6F811}");
    var OtherServiceCOunt =0;
    var OtherServiceCOunt1 =0;  
  
    var flight = Sitecore.Context.Database.GetItem("{D67BA825-4FA3-49ED-8F5A-09ADBD833985}");
  
    var PG = Sitecore.Context.Database.GetItem("{C99B4BEC-7A3C-4816-B2C0-DC32B51F76DA}");
  
    var Transport = Sitecore.Context.Database.GetItem("{9FCF4EB6-43C4-45FA-9C22-A5CB133E332D}");
  
    var Arrival = Sitecore.Context.Database.GetItem("{C5FADC32-8630-4EAC-8FFB-E69981206CE1}");
    var ArrivalContent = Sitecore.Context.Database.GetItem("{3168E196-7FD5-40AB-9FEE-3DE3900685D1}");
    var Departure = Sitecore.Context.Database.GetItem("{9C92E717-BA5E-4731-90C6-AD514549448B}");
    var DepartureContent = Sitecore.Context.Database.GetItem("{8CF4E9C6-7417-48C7-9CAC-D103215B78F0}");
  
    var PGTerminalMap = Sitecore.Context.Database.GetItem("{110F3C4B-24AD-48C0-8340-CACFD33BE41A}");
    var PGFAQ = Sitecore.Context.Database.GetItem("{9852481F-BF6B-4108-A4C9-7D75307D5614}");
	
}

        <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        	<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--shop-dine">
                                    <a class="nav-link" href="@ShopAndDine.Url()">Shop & Dine</a>
									<div class="megamenu">
										<div class="row">
									@foreach (var element in ShopAndDine.GetChildren().ToList())
									{
										if (element.Fields["Title"] != null)
										{
										<div class="col-lg-2">
											<div class="row">
												<div class="col-12">
														<div>
														 <a href="@element.Url()">
														<h3>@Html.Sitecore().Field("Title", element)<span class="fa fa-angle-right"></span></h3>
															<div>
																@Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
															</div>
														</a>
														</div>
												</div>
											</div>
										</div>
										}
									}	
									<div class="col-lg-2"> 
												<div class="row"> 
													<div class="col-12">
															 <div> 
															<a href="https://stagemangaluru.adaniairports.com/ShopAndDine#Feedback">
															<h3>Feedback <span class="fa fa-angle-right"></span></h3>
															<div>
															<img alt="" src="-/media/CF6152ABDF1049B991B22DD25709A0AE.ashx" />
															</div>
															</a>
															 </div> 
													</div> 
												 </div> 
											</div> 
										</div>
									</div>
                                </li>
									<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--airport-services">
                                    <a class="nav-link" href="@AirportService.Url()">Airport Services</a>
											<div class="megamenu">
									<h3>Services we offer <span class="fa fa-angle-right"></span></h3>
										<div class="row">
										<div class="col-lg-4">
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																@Html.Sitecore().ImageField("BannerImage", AirportServiceImage, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
														@foreach (var element in AirportService.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
														</div>
													</div>
												</div>
											</div>											
		
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
														@foreach (var element in AirportServiceOtherService.GetChildren().ToList())
														{
															if(OtherServiceCOunt < 5)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															OtherServiceCOunt = OtherServiceCOunt +1;
															}
														}														
															
														</div>
													</div>
												</div>
											</div>
												<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
														@foreach (var element in AirportServiceOtherService.GetChildren().ToList())
														{
															if(OtherServiceCOunt1 > 4)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															OtherServiceCOunt1 = OtherServiceCOunt1 +1;
															}
															else
															{
															OtherServiceCOunt1 = OtherServiceCOunt1 +1;
															}
														}
														</div>
													</div>
												</div>
											</div>
												<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stagemangaluru.adaniairports.com/AirportService#Feedback"><h3>Feedback <span class="fa fa-angle-right"></span></h3>
															<div>
															<img alt="" src="-/media/CF6152ABDF1049B991B22DD25709A0AE.ashx" />
															</div>
															</a>
															</div>
													</div>
												</div>
											</div>
									
										</div>
										</div>
                          
							  </li>
								<li class="nav-item">
                                    <a class="nav-link" href="@flight.Url()">Flights</a>
                                </li>
								 <li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--passenger_guide">
                                    <a class="nav-link" href="@PG.Url()">Passenger Guide</a>
									<div class="megamenu">
										<div class="row">
											<div class="col-lg-4">
											<h3>Arrival <span class="fa fa-angle-right"></span></h3>
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	@Html.Sitecore().ImageField("Image", Arrival, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
														@foreach (var element in ArrivalContent.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															url = Arrival.Url() +"#" + Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
															<p><a href="@url">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
															
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
											<h3>Departure <span class="fa fa-angle-right"></span></h3>
											<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	@Html.Sitecore().ImageField("Image", Departure, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
															@foreach (var element in DepartureContent.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															url = Departure.Url()+ "#" + Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
															
															<p><a href="@url">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stagemangaluru.adaniairports.com/PassangerGuide#Feedback"><h3>Feedback <span class="fa fa-angle-right"></span></h3></a>
															<a href="@PGFAQ.Url()"><h3>FAQs <span class="fa fa-angle-right"></span></h3></a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" href="@Transport.Url()">Transport</a>
                                </li>
                        @foreach (var item in model.GetChildren().ToList())
                        {
                            var subItemModel = Sitecore.Context.Database.GetItem(item.ID);
                            var childCount = subItemModel.GetChildren().Count();
                            var cssClass = "";

                            if (childCount > 0)
                            {
                                cssClass = "nav-item dropdown-toggle__megamenu";
                            }
                            else
                            {
                                cssClass = "nav-item";
                            }
							if (childCount > 0)
                            {
                            <li class="@cssClass">

                                @Html.Sitecore().BeginField("Link", item, new { haschildren = true, @class = "nav-link" })
                                @Html.Sitecore().Field("NavigationTitle", item)
                                @if (childCount > 0)
                                {<i class="fas fa-ellipsis-v"></i>}
                                @Html.Sitecore().EndField()


                                @if (subItemModel != null)
                                {
                                    <div class="megamenu">
                                        <ul>
                                            @foreach (var subItem in subItemModel.GetChildren().ToList())
                                            {
                                                <li class="">
                                                    <div>
                                                        @Html.Sitecore().BeginField("Link", subItem, new { haschildren = true, @class = "dropdown-item" })

															<h3> @Html.Sitecore().Field("NavigationTitle", subItem) <span class="fa fa-angle-right"></span></h3>
                                                        <div>
                                                            <!-- <img src="https://via.placeholder.com/350x150" class="img-fluid"> -->
															@Html.Sitecore().Field("Image", subItem)
                                                        </div>
                                                        
                                                        @Html.Sitecore().EndField()
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                        }

                    </ul>
                    <ul id="search-toggle">
                        <li>
                            <i class="fa fa-search "></i>
                            <div class="search-container">
                                <div class="container-fluid">
                                    @Html.Sitecore().Placeholder("header-searchbar")

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
          