@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var url = "";
var class1 = "";
var index = 0;
}

@if (model != null)
{

    <section class="bg-cream scroll-nav" id="first-section">
        <div class="container-fluid">
            <ul>
                @foreach (var element in model.GetChildren().ToList())
                {
                    if (Html.Sitecore().Field("Title", element) != null)
                    {
                        url = Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");

                        if (url == "")
                        {
                            <li><a href="#fuelfarms">Fuel Farm</a></li>
                        }
                        else
                        {
                            <li><a href="#@url">@Html.Sitecore().Field("Title", element)</a></li> }

                    }
                    else
                    {
                        url = "App Based Cabs";
                        <li><a href="#@url">App Based Cabs</a></li>
                    }
                }
            </ul>
        </div>
    </section>
    foreach (var element in model.GetChildren().ToList())
    {
	  index = index+1; 
        if (Html.Sitecore().Field("Title", element) != null)
        {
            url = Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");

        }
        else
        {
            url = "";
        }
		 class1 = Html.Sitecore().Field("Summary", element).ToString().Replace(" ", "");
        
		
          if( index%2 == 0)
{
<section class=" section @class1 content-header travel-guide__content @index" id="@url">
            <div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 pb-lg-0 pb-4">
				<div class="content-se pt-lg-5">
					<h2>@Html.Sitecore().Field("Title", element)</h2>
					 @Html.Sitecore().Field("Body", element)
					 </div>
			</div>
			<div class="col-lg-6 pl-lg-5">
				  @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
			</div>
		</div>
 </div>
        </section>
}
else{
<section class=" section @class1 content-header travel-guide__content" id="@url">
            <div class="container-fluid">
<div class="row">
			<div class="col-lg-6 pb-lg-0 pb-4">
				@Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
			</div>
			<div class="col-lg-6">
				<div class="content-se">
						<h2>@Html.Sitecore().Field("Title", element)</h2>
					 @Html.Sitecore().Field("Body", element)
				</div>
			</div>
		</div>
		 </div>
        </section>
    } 
            
           
    }
}