@using Sitecore
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var TBLogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "TBLogo").FirstOrDefault().Value;
	
	var test = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "ShopAndDine").FirstOrDefault().Value;
	var test1 = Sitecore.Context.Database.GetItem("{3BBB3E9F-1D7F-4582-8D6A-4CAC392BEC01}");
	var test2 = test1.GetChildren();
	
	    var ShopAndDine = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ShopAndDine"];
 var ShopAndDineitem = Sitecore.Context.Database.GetItem(ShopAndDine);
  //var ShopAndDinedata = ShopAndDineitem.Children;
}

  
<div class="header-topbar  test13 @test1">

    <div class="container-fluid">
        <div class="alert fade show" role="alert">
            <a href="/notification" class="txt-white">
                Important information – Coronavirus update

            </a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="navPanel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-5">
                <!-- <a class="navbar-brand" href="/"><img src="-/media/1C2DC986C142406CB54BCBBE9025A955.ashx" alt="Adani Airport" class="img-fluid"></a>  -->
				<a class="navbar-brand navbar-brand-first" href="/" title="Lucknow Airport"> 
				 <ul> 
					 <li><div class="logo_title">Lucknow <span class="d-block">Airport</span></div></li> 
					 <li>Chaudhary Charan Singh<span class="d-block">International Airport</span></li> 
				 </ul> 
				 </a>
            </div>
            <div class="col-lg-4 col-5 d-lg-block d-none">
                <div class="navbar-brand__middle">
                    <a class="navbar-brand travelers active" href="/">Travelers</a>
                    <div class="navbar-brand__middle-divider"></div>
                    <a class="navbar-brand business" href="/Business">Business</a>
                </div>
                @*<a class="navbar-brand navbar-brand__middle" href="/"><img src="@TBLogo" alt="Adani Airport" class="img-fluid"></a>*@
            </div>
            <div class="col-lg-4 col-5 text-lg-right text-right">
                <a class="navbar-brand mr-lg-0" href="/"><img src="-/media/42B57991BEC74FD4976DA5FC330941EC.ashx" alt="Adani Airport" class="img-fluid"></a>
            </div>
            <div class="col-2 d-block d-lg-none topNavBtn-main">
                <div class="topNavBtn">
                    <button type="button" id="topNavCollapse" class="btn btn-menu">
                        <!--<i class="fas fa-align-justify"></i>-->
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg ml-5 my-3">
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        	<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--shop-dine">
                                    <a class="nav-link" href="">Shop & Dine</a>
									<div class="megamenu">
										<div class="row">
										
									<!--	
										
										
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="">
															<h3>Shop <span class="fa fa-angle-right"></span></h3>
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="">
															<h3>Dine <span class="fa fa-angle-right"></span></h3>
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="">
															<h3>Relax <span class="fa fa-angle-right"></span></h3>
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="">
															<h3>Smoking Lounge <span class="fa fa-angle-right"></span></h3>
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
												</div>
											</div>
										-->	<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href=""><h3>Terminal Map <span class="fa fa-angle-right"></span></h3></a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
									<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--airport-services">
                                    <a class="nav-link" href="">Airport Services</a>
									<div class="megamenu">
									<h3>Services we offer <span class="fa fa-angle-right"></span></h3>
										<div class="row">
											<div class="col-lg-4">
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
															<p><a href="#">Baggage Wrapping Service</a></p>
															<p><a href="#">Wifi Service</a></p>
															<p><a href="#">Meet & Greet Services</a></p>
															<p><a href="#">Lost & Found</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
															<p><a href="#">Baby Care</a></p>
															<p><a href="#">Premium Services</a></p>
															<p><a href="#">Medical Facilities</a></p>
															<p><a href="#">Prayer Room</a></p>
															<p><a href="#">Post Office</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
															<p><a href="#">Passenger with Reduced Mobility</a></p>
															<p><a href="#">Porter Services</a></p>
															<p><a href="#">Forex & ATMs</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href=""><h3>Terminal Map <span class="fa fa-angle-right"></span></h3></a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" href="">Flights</a>
                                </li>
								 <li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--passenger_guide">
                                    <a class="nav-link" href="">Passenger Guide</a>
									<div class="megamenu">
										<div class="row">
											<div class="col-lg-4">
											<h3>Arrival <span class="fa fa-angle-right"></span></h3>
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
															<p><a href="#">Immigration</a></p>
															<p><a href="#">Customs</a></p>
															<p><a href="#">Baggage Reclaim</a></p>
															<p><a href="#">Medical & Health Guidelines</a></p>
															<p><a href="#">Others</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
											<h3>Departure <span class="fa fa-angle-right"></span></h3>
											<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
															<p><a href="#">Check in</a></p>
															<p><a href="#">Baggage allowance</a></p>
															<p><a href="#">Security</a></p>
															<p><a href="#">Immigration</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="">
															<h3>Transfer <span class="fa fa-angle-right"></span></h3>
																<div>
																	<img src="https://via.placeholder.com/350x150" class="img-fluid">
																</div>
															</a>
															</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href=""><h3>Terminal Map <span class="fa fa-angle-right"></span></h3></a>
															<a href=""><h3>FAQs <span class="fa fa-angle-right"></span></h3></a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" href="">Transport</a>
                                </li>
                        @foreach (var item in model.GetChildren().ToList())
                        {
                            var subItemModel = Sitecore.Context.Database.GetItem(item.ID);
                            var childCount = subItemModel.GetChildren().Count();
                            var cssClass = "";

                            if (childCount > 0)
                            {
                                cssClass = "nav-item dropdown-toggle__megamenu";
                            }
                            else
                            {
                                cssClass = "nav-item";
                            }
							if (childCount > 0)
                            {
                            <li class="@cssClass">

                                @Html.Sitecore().BeginField("Link", item, new { haschildren = true, @class = "nav-link" })
                                @Html.Sitecore().Field("NavigationTitle", item)
                                @if (childCount > 0)
                                {<i class="fas fa-ellipsis-v"></i>}
                                @Html.Sitecore().EndField()


                                @if (subItemModel != null)
                                {
                                    <div class="megamenu">
                                        <ul>
                                            @foreach (var subItem in subItemModel.GetChildren().ToList())
                                            {
                                                <li class="">
                                                    <div>
                                                        @Html.Sitecore().BeginField("Link", subItem, new { haschildren = true, @class = "dropdown-item" })


                                                        <div>
                                                            <!-- <img src="https://via.placeholder.com/350x150" class="img-fluid"> -->
															@Html.Sitecore().Field("Image", subItem)
                                                        </div>
                                                        <h3> @Html.Sitecore().Field("NavigationTitle", subItem)</h3>
                                                        @Html.Sitecore().EndField()
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                        }

                    </ul>
                    <ul id="search-toggle">
                        <li>
                            <i class="fa fa-search d-none"></i>
                            <div class="search-container">
                                <div class="container-fluid">
                                    @Html.Sitecore().Placeholder("header-searchbar")

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="ml-5" id="topMenu">
                <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-times-circle"></i></div>
                <div class="clearfix"></div>
                <!-- link menu code-->
                @Html.Sitecore().Placeholder("header-topmenu")

            </div>
        </div>
    </div>
</div>
<!--Mobile Search-->
<div class="d-lg-none d-flex bg-gray">
    <div class="container-fluid p-0 p-lg-3">
        <ul class="d-md-search">
            <li class="text-center">
                <div class="navbar-brand__middle">
                    <a class="navbar-brand active" href="/">Travelers</a>
                    <div class="navbar-brand__middle-divider"></div>
                    <a class="navbar-brand" href="/Business">Business</a>
                </div>
                @*<a class="navbar-brand navbar-brand__middle" href="/"><img src="-/media/E6E59B4301374B5FA342BA432F3ED993.ashx" alt="Adani Airport" class="img-fluid"></a>*@
            </li>
            <li class="text-center">
                <ul id="search-toggle">
                    <li>
                        <i class="fa fa-search d-none"></i>
                        <div class="search-container">
                            <div class="container-fluid">
                                @Html.Sitecore().Placeholder("header-MobileSearchbar")
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>