@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;

    var CEOMessage = paramid["CEOMessage"] != null ? Sitecore.Context.Database.GetItem(paramid["CEOMessage"].ToString().Replace("%2F", "/")) : null;
    var ChiefAirportManagerMessage = paramid["ChiefAirportManagerMessage"] != null ? Sitecore.Context.Database.GetItem(paramid["ChiefAirportManagerMessage"].ToString().Replace("%2F", "/")) : null;

}

<section class="bg-white py-5 content-header">
    <div class="container-fluid mb-4">
        @if (CEOMessage != null)
        {
        <h2>@Html.Sitecore().Field("Title", CEOMessage)</h2>
        <div class="row">
            <div class="col-lg-5 mb-4 order-lg-1 order-1">
                @Html.Sitecore().ImageField("Image", CEOMessage, 0, 0, "img-fluid")
				<div class="border-left pl-3 mb-3">
				 <h4 class="txt-md mb-2 mt-3"><b>@Html.Sitecore().Field("Text", CEOMessage)</b></h4><h4 class="txt-md mb-4">Chief Executive Officer</h4>
                </div>
            </div>
            <div class="col-lg-7 mb-4 order-lg-2 order-2">
			<div class="border-left pl-3 mb-3">
			  
			   </div>
                <div class="mb-3 txt-md txt-gray font-weight-light">@Html.Sitecore().Field("Summary", CEOMessage)</div>
                <!-- <h4 class="txt-md mb-4">@Html.Sitecore().Field("Title", CEOMessage)</h4> -->
                <div><a href="@CEOMessage.Url()" class="btn btn-gradient">Read more</a></div>
            </div>
        </div>
        }
    </div>
    <div class="container-fluid">
        @if (ChiefAirportManagerMessage != null)
        {
            <h2>@Html.Sitecore().Field("Title", ChiefAirportManagerMessage)</h2>
            <div class="row">
                <div class="col-lg-7 mb-4 order-lg-1 order-2">
                    <div class="mb-3 txt-md txt-gray font-weight-light">@Html.Sitecore().Field("Summary", ChiefAirportManagerMessage)</div>
                    <!-- <h4 class="txt-md mb-4">@Html.Sitecore().Field("Title", ChiefAirportManagerMessage)</h4> -->
                    <div><a href="@ChiefAirportManagerMessage.Url()" class="btn btn-gradient">Read more</a></div>
                </div>
                <div class="col-lg-5 mb-4 order-lg-2 order-1">
				<div class="text-right">
                    @Html.Sitecore().ImageField("Image", ChiefAirportManagerMessage, 0, 0, "img-fluid")
					<div class="border-right pr-3 mb-3 text-right">
					<h4 class="txt-md mb-2 mt-3"><b>@Html.Sitecore().Field("Text", ChiefAirportManagerMessage)</b></h4><h4 class="txt-md mb-4">Chief Airport Officer</h4>
              			  </div>
						  </div>
			  </div>
            </div>
        }
        </div>
</section>