@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);



}



<section class="bg-white notification_section" id="main-section">
    <div class="container-fluid">
        <div class="owl-carousel notification_carousel">
            @foreach (Item item in element.GetChildren())
            {
                Sitecore.Data.Fields.LinkField itemslinkvalues = item.Fields["Link"];
                var itemslinks = itemslinkvalues.GetFriendlyUrl();
                <div class="item">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="notification_carousel-desc">
                                <span>@element.Name</span>
                                <h2>@Html.Sitecore().Field("Title", item)</h2>
								 @Html.Sitecore().ImageField("Image", item, 0, 0, "w-auto")
                                @Html.Sitecore().Field("Body", item)
                                <div><a href="@itemslinks" class="btn btn-secondary">Know More <span class="fa fa-arrow-right"></span></a></div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-lg-block d-none">
                            <div class="notification_carousel-thumb">
                                @Html.Sitecore().ImageField("Image", item, 0, 0, "w-auto ml-auto")

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>