@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc

<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none' ; script-src 'self'  https://*.adanividyamandir.org/  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-9126c7f27d' ; style-src 'self' https://*.adanividyamandir.org/ ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.adanividyamandir.org/ https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'  https://*.adanividyamandir.org/ data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.adanividyamandir.org/ https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com       />

    <link rel="icon" type="image/png" href="~/images/AdaniVidyamandir/vidyamandirIcon.png" />
    <title>Adani Vidya Mandir</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
    @Html.Sitecore().Placeholder("head")
    }


    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->

    <header class="headerSec">
        <div class="fade-overlay"></div>
        <div class="overlay-top"></div>
        @Html.Sitecore().Placeholder("Header")
    </header>

    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    @*<div class="fixed_cta">
            <a href="#"><img src="~/images/AdaniTotal/fixed-cta.png"></a>
        </div>
        <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>*@
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <footer class="pt-5 position-relative d-block">

        @Html.Sitecore().Placeholder("footer")

    </footer>
    <div class="modal fade video" id="video-1" tabindex="-1" role="dialog" aria-labelledby="video-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background: #494a4e;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/oRsQQ01sApo' data-src='' frameborder='0' allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade video" id="video-S" tabindex="-1" role="dialog" aria-labelledby="video-S" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background: #494a4e;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class='embed-container'><iframe src='https://adanidotcom.azureedge.net/AVMS Documentory Video 1.mp4' data-src='' frameborder='0' allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>

    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script nonce="9126c7f27d">
        AOS.init();
    </script>
</body>
</html>
