@using Sitecore.Data.Fields;
@using Sitecore.Links;
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore.Electricity.Website.Model;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Electricity.Website.Model.FeedbackModel


<div class="container">
    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmUserFeedback", @class = "form-signin", @enctype = "multipart/form-data" }))
    {
        @Html.AddUniqueFormId()
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.IsInputCorrect)
        @Html.HiddenFor(m => m.Source)
        @Html.HiddenFor(m => m.FeedbackType)
        @Html.HiddenFor(m => m.SR_Number)
        <div class="form-panel">
            <div class="row">
                @Html.HiddenFor(m => m.Recomandation_scale_Adani_Electricity)
                <div class="col-lg-5">
                    <div class="bg-cream">
                        <p>Overall, how would you rate your overall experience on quality of closure of your complaint?</p>
                    </div>
                </div>
                <div class="col-lg-7 text-center">
                    <div class="input-range">
                        <div id="range-slider" data-value=""></div>
                        <div id="labels-list" class="labels" data-value=""></div>
                    </div>
                </div>
                <div id="rateScaleSubDiv" style="display:none;">
                    <div class="px-3">
                        <p>Please help us improve your experience by giving us your valuable inputs in field below:</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label class="form-check-label text-left mb-2" for="@Model.AEML_could_be_doing_differently_Other_Text">Please specify</label>
                                    @Html.TextAreaFor(M => M.AEML_could_be_doing_differently_Other_Text, new { @class = "form-control", @rows = "3" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-11 mx-auto"><hr></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg-white @Html.ValidationErrorFor(x => x.Captcha, "has-error")">
                        <div class="row captcha_box pt-3">
                            <div class="col-lg-5 text-right">
                                <label for="" class="">@Html.Sitecore().Dictionary("/Common/Captcha", "Captcha") <span class="required">*</span></label>
                            </div>
                            <div class="col-lg-6">
                                <div class="g-recaptcha" data-sitekey="6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 text-right">
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-11 mx-auto"><hr></div>

            <div class="row" id="moreQuestionAskDiv">
                <div class="col-lg-12 mx-auto">
                    <div class="bg-white text-center p-4">
                        <p class="mt-4">
                            <input type="submit" class="btn btn-primary" id="SubmitAndClose" name="SubmitAndClose" value="Submit & Close" />
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" id="moreQuestionShowDiv" style="display:none;">
                <div class="col-lg-12 mx-auto">
                    <div class="bg-white text-center p-4">

                        <p class="mt-4">
                            <input type="submit" class="btn btn-primary" id="SubmitAll" name="SubmitAll" value="Submit" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
