@using Sitecore.Data.Fields;
@using Sitecore.Links;
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore.Electricity.Website.Model;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Electricity.Website.Model.FeedbackModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

<section class="section_feedback--form">
    <div class="bg-images"><img src="/images/feedback_bg.png"></div>
    @if (!Model.IsInputCorrect)
    {
        <div class="container">
            <p>@Model.ErrorMessage</p>
        </div>
    }
    else
    {
        if (Model.FeedbackType == "3")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackCallCentre.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }
        else if (Model.FeedbackType == "4")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackCCC.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }
        else if (Model.FeedbackType == "5")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackEmail.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }
        @*else if (Model.FeedbackType == "6")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackDigital.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }
        else if (Model.FeedbackType == "7")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackBackend.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }
        else if (Model.FeedbackType == "8")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackComplaintClosure.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }
        else if (Model.FeedbackType == "9")
        {
            @Html.Partial("~/Views/Feedback/_UserFeedbackDevelopers.cshtml", new FeedbackModel(Model.FeedbackType) { Source = Model.Source, FeedbackType = Model.FeedbackType, SR_Number = Model.SR_Number, IsInputCorrect = Model.IsInputCorrect })
        }*@
        else
        {
            <div class="container">
                <p>Input is invalid, page is not accessible to you!</p>
            </div>
        }
    }
</section>

<div id="answermorequestion_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p>Message</p>
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="">
                    <p class="">We would like to make your experience of connecting with us hassle free, Would you like to answer few more questions, which would help us serve you better.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary answermorequestion_modalbtnYesNO" value="1">Yes</button>
                <button type="button" class="btn btn-primary answermorequestion_modalbtnYesNO" value="0">No</button>
            </div>
        </div>
    </div>
</div>

<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>

