@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
    var contextBrowserTitle = Sitecore.Context.Item.Fields["BrowserTitle"];
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src https:; object-src 'none'">
    @if (!string.IsNullOrEmpty(contextBrowserTitle.ToString()))
    {
        <title>@contextBrowserTitle</title>
    }
    else
    {
        <title>@Html.Sitecore().Dictionary("/sitecore/content/AdaniSolar/Global/Dictionary/PageMetadata/Title", "Adani Group | Leading Indian Multinational Conglomerate")</title>
    }
    <!--[if IE 9]>
          <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
        <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>

    <![endif]-->

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>



</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="navPanel fixed-top">
            <div class="container-fluid">
                <div class="search-main">
                    <form action="" method="get" autocomplete="off">
                        <input type="text" id="s" name="s" class="form-control" value=""
                               placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-8 border-right py-2 text-center">

                        <a class="navbar-brand" href="/"><img alt="" src="-/media/2A19FC36B5BD4A6594E448E49323A022.ashx" class="img-fluid" /></a>
                    </div>
                    <div class="col-sm-9 col-4">
                        <div class="row top-submenu">
                            <div class="col-lg-9 col-0">
                                @Html.Sitecore().Placeholder("header-top")
                            </div>
                            <div class="col-md-3 col-sm-4 col-10 ml-auto">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <div class="row">
                                            <div class="col-sm-6 col-6">
                                                @*<p class="searchIcon">
                                                    <a href="#">
                                                        <span>
                                                            <i class="fas fa-search"></i>
                                                        </span>
                                                    </a>
                                                </p>*@
                                            </div>
                                            <div class="col-sm-6 col-6">
                                                <!-- Toggle button to show/hide side top menu -->
                                                <div class="d-block d-lg-none topNavBtn">
                                                    <button type="button" id="topNavCollapse" class="btn btn-menu">
                                                        <!--<i class="fas fa-align-justify"></i>-->
                                                        <i class="fas fa-bars"></i>
                                                    </button>
                                                </div>
                                                <!-- /Toggle button to show/hide top menu -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row nav-bg-gray mainmenu">
                                @Html.Sitecore().Placeholder("navbar")                            
                        </div>
                    </div>
                </div>
            </div>
            <section class="desktop-none bg-gray">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                                    aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                                <!--<span class="navbar-toggler-icon"></span>-->
                                <span class="far fa-circle"></span>
                                <span class="far fa-circle"></span>
                                <span class="far fa-circle"></span>
                            </button>
                        </div>
                        <div class="col-9 text-right">

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>

    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    
    <footer class="pt-5 position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
        <div class="footerBtmPanel mt-3 py-2">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">
                        <div class="d-none d-md-block">© 2019 Adani Group</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu">
                            <ul class="ft-policy-links">
                                <li>
                                    <a href="/privacy-policy">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="/disclaimer">
                                        Legal Disclaimer
                                    </a>
                                </li>
                                <li>
                                    <a href="/terms-and-conditions">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- To top -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page"
       data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!-- /To top -->
    <!-- Bootstrap core JavaScript
    ================================================== -->

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
</body>
</html>
