@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
    var contextBrowserTitle = Sitecore.Context.Item.Fields["BrowserTitle"];
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (!string.IsNullOrEmpty(contextBrowserTitle.ToString()))
    {
        <title>@contextBrowserTitle</title>
    }
    else
    {
        <title>@Html.Sitecore().Dictionary("/sitecore/content/AdaniSolar/Global/Dictionary/PageMetadata/Title", "Adani Group | Leading Indian Multinational Conglomerate")</title>
    }
    <!--[if IE 9]>
          <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
        <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>

    <![endif]-->

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
	<div class="row nav-bg-gray mainmenu" style="display:none">
                                @Html.Sitecore().Placeholder("navbar")                            
                        </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>



</head>

    <!-- /To top -->
    <!-- Bootstrap core JavaScript
    ================================================== -->

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>

</html>
@Html.Sitecore().Placeholder("page-nolayout")
