@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 0;
    var j = 0;



}

<section class="section bg-white content-header travel-guide__content" id="AttheAirport">
    <div class="container-fluid">
        @Html.Sitecore().Field("Body", element)
    </div>
</section>

<section class="exp-airport_section Service-Offerings">
    <div class="container-fluid">
        <h2 class="section-heading">Service Offerings and Inclusions</h2>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @foreach (Item item in element.GetChildren())
            {
                if (i == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> @Html.Sitecore().ImageField("Image", item)<span>@Html.Sitecore().Field("Title", item)</span></a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            @Html.Sitecore().ImageField("Image", item)<span>@Html.Sitecore().Field("Title", item)</span>
                        </a>
                    </li>
                }
                i++;
            }
        </ul>

        <div class="tab-content pt-0" id="myTabContent">
            @foreach (Item item in element.GetChildren())
            {

                if (j == 0)
                {
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mt-5 mb-3">
                            @foreach (Item items in item.GetChildren())
                            {
                                
                            <div class="col-lg-6 mb-lg-0 mb-5">
                                <div class="Airport_SERV">
                                    <span>@Html.Sitecore().ImageField("Image", element)</span>
                                    <div>
                                        <h4>@Html.Sitecore().Field("Summary", items)</h4>


                                    </div>
                                </div>
                                <div class="feedback">
                                    <div class="feedback-thumb">
                                        @Html.Sitecore().ImageField("Image", items)
                                    </div>
                                    <div class="feedback-content">
                                        <h3>@Html.Sitecore().Field("Title", items)</h3>
                                        <div>@Html.Sitecore().Field("Body", items)</div>
                                    </div>
                                </div>
                            </div>

                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row mt-5 mb-3">
                            @foreach (Item items in item.GetChildren())
                            {
                           
                            <div class="col-lg-6 mb-lg-0 mb-5">
                                <div class="Airport_SERV">
                                    <span> @Html.Sitecore().ImageField("Image", element)</span>
                                    <div>
                                        <h4>@Html.Sitecore().Field("Summary", items)</h4>


                                    </div>
                                </div>
                                <div class="feedback">
                                    <div class="feedback-thumb">
                                        @Html.Sitecore().ImageField("Image", items)
                                    </div>
                                    <div class="feedback-content">
                                        <h3>@Html.Sitecore().Field("Title", items)</h3>
                                        <div>@Html.Sitecore().Field("Body", items)</div>
                                    </div>
                                </div>
                            </div>

                            }
                        </div>
                    </div>
                }
                j++;
            }
        </div>

    </div>
</section>