@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Fields.LinkField linkfld = model.Fields["Link"];
    var url = linkfld.GetFriendlyUrl();

    }

@if (model != null)
{

    <section class="bg-white pb-5 bg-sidebar">
        <div class="container-fluid">
            <h2>@Html.Sitecore().Field("Title", model)</h2>
            <div class="position-relative">
                <div class="bg-images">@Html.Sitecore().ImageField("Image", model, 0, 0, "")</div>
                <div class="bg-sidebar__box">
                    <h3>@Html.Sitecore().Field("Summary", model)</h3>
                    <p class="mb-4">@Html.Sitecore().Field("Body", model)</p>
                    <p><a href="@url" class="btn btn-gradient">See Maps</a></p>
                </div>
            </div>
        </div>
    </section>
}