@using Sitecore
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    
	var ShopAndDine = Sitecore.Context.Database.GetItem("{C6A74E83-2E96-44A2-9C99-33CA7434CAD4}");
	var ShopAndDineTerminalMap = Sitecore.Context.Database.GetItem("{40FD58B0-A994-45B3-92D8-E5C48FF0B3D1}");
	
	var AirportService = Sitecore.Context.Database.GetItem("{8D61756D-A4EB-43BA-A691-B481BB9CC5AB}");
	var AirportServiceImage = Sitecore.Context.Database.GetItem("{131F6C15-E832-4499-8A07-4D4EBAF8C0C6}");
	var AirportServiceOtherService = Sitecore.Context.Database.GetItem("{DB4FC977-3C66-46EE-A36B-2788666DFC95}");
	var AirportServiceTerminalMap = Sitecore.Context.Database.GetItem("{FBAD3DA8-4EDC-4CA5-8111-33D70342A258}");
	var OtherServiceCOunt =0;
	var OtherServiceCOunt1 =0;	
	
	var flight = Sitecore.Context.Database.GetItem("{CCF1AA8D-B0A7-4714-9706-83AF8D60612D}");
	
	var PG = Sitecore.Context.Database.GetItem("{EEDB44D0-049B-4F44-86FB-29FB5BEBB834}");
	
	var Transport = Sitecore.Context.Database.GetItem("{40FDEDD6-A070-4E79-B361-BBEE10FF7806}");
	
	var Arrival = Sitecore.Context.Database.GetItem("{2B116FF1-A435-4DAD-882F-3F7C404799D9}");
	var ArrivalContent = Sitecore.Context.Database.GetItem("{7BFDFDCE-58D2-42E2-8264-C0D5B19F584A}");
	var Departure = Sitecore.Context.Database.GetItem("{D5C3026A-9A74-4C80-81B2-E44551A62FDF}");
	var DepartureContent = Sitecore.Context.Database.GetItem("{861388DD-09E3-447A-A119-97D6BBFCBB13}");
	var Transfer = Sitecore.Context.Database.GetItem("{0898B589-DA80-4D13-9C42-E8E4457FD5ED}");
	var TransferContent = Sitecore.Context.Database.GetItem("{A95B9567-B4B3-434E-BF4D-04EA06E6B96C}");
	var PGTerminalMap = Sitecore.Context.Database.GetItem("{8903BA7C-BAA0-4E62-87FA-878A3AE503D7}");
	var PGFAQ = Sitecore.Context.Database.GetItem("{3B58A86C-EA3C-456A-9F3E-CAB969C7C0D0}");
	
	
	var url = "#";
	
}

        <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        	<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--shop-dine">
                                    <a class="nav-link" href="@ShopAndDine.Url()">Shop & Dine</a>
									<div class="megamenu">
										<div class="row">
									@foreach (var element in ShopAndDine.GetChildren().ToList())
									{
										if (element.Fields["Title"] != null)
										{
										<div class="col-lg-2">
											<div class="row">
												<div class="col-12">
														<div>
														 <a href="@element.Url()">
														<h3>@Html.Sitecore().Field("Title", element)<span class="fa fa-angle-right"></span></h3>
															<div>
																@Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
															</div>
														</a>
														</div>
												</div>
											</div>
										</div>
										}
									}	
									<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stagelucknow.adaniairports.com/ShopAndDine#Feedback"><h3>Feedback <span class="fa fa-angle-right"></span></h3>
															<div>
															<img alt="" src="-/media/3C522D420934443C85183347740B726C.ashx" />
															</div>
															</a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
									<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--airport-services">
                                    <a class="nav-link" href="@AirportService.Url()">Airport Services</a>
											<div class="megamenu">
									<h3>Services we offer <span class="fa fa-angle-right"></span></h3>
										<div class="row">
										<div class="col-lg-4">
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																@Html.Sitecore().ImageField("BannerImage", AirportServiceImage, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
														@foreach (var element in AirportService.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
														</div>
													</div>
												</div>
											</div>											
		
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
														@foreach (var element in AirportServiceOtherService.GetChildren().ToList())
														{
															if(OtherServiceCOunt < 5)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															OtherServiceCOunt = OtherServiceCOunt +1;
															}
														}														
															
														</div>
													</div>
												</div>
											</div>
												<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
														@foreach (var element in AirportServiceOtherService.GetChildren().ToList())
														{
															if(OtherServiceCOunt1 > 4)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															OtherServiceCOunt1 = OtherServiceCOunt1 +1;
															}
															else
															{
															OtherServiceCOunt1 = OtherServiceCOunt1 +1;
															}
														}
														</div>
													</div>
												</div>
											</div>
												<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stagelucknow.adaniairports.com/AirportService#Feedback"><h3>Feedback <span class="fa fa-angle-right"></span></h3>
															<div>
															<img alt="" src="-/media/3C522D420934443C85183347740B726C.ashx" />
															</div>
															</a>
															</div>
													</div>
												</div>
											</div>
									
										</div>
										</div>
                          
							  </li>
								<li class="nav-item">
                                    <a class="nav-link" href="@flight.Url()">Flights</a>
                                </li>
								 <li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--passenger_guide">
                                    <a class="nav-link" href="@PG.Url()">Passenger Guide</a>
									<div class="megamenu">
										<div class="row">
											<div class="col-lg-4">
											<h3>Arrival <span class="fa fa-angle-right"></span></h3>
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	@Html.Sitecore().ImageField("Image", Arrival, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
														@foreach (var element in ArrivalContent.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															url = Arrival.Url() +"#" + Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
															<p><a href="@url">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
															
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
											<h3>Departure <span class="fa fa-angle-right"></span></h3>
											<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	@Html.Sitecore().ImageField("Image", Departure, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
															@foreach (var element in DepartureContent.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															url = Departure.Url()+ "#" + Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
															
															<p><a href="@url">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="">
															<h3>Transfer <span class="fa fa-angle-right"></span></h3>
																<div>
																	@Html.Sitecore().ImageField("Image", Transfer, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stagelucknow.adaniairports.com/PassangerGuide#Feedback"><h3>Feedback <span class="fa fa-angle-right"></span></h3></a>
															<a href="@PGFAQ.Url()"><h3>FAQs <span class="fa fa-angle-right"></span></h3></a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" href="@Transport.Url()">Transport</a>
                                </li>
                        @foreach (var item in model.GetChildren().ToList())
                        {
                            var subItemModel = Sitecore.Context.Database.GetItem(item.ID);
                            var childCount = subItemModel.GetChildren().Count();
                            var cssClass = "";

                            if (childCount > 0)
                            {
                                cssClass = "nav-item dropdown-toggle__megamenu";
                            }
                            else
                            {
                                cssClass = "nav-item";
                            }
							if (childCount > 0)
                            {
                            <li class="@cssClass">

                                @Html.Sitecore().BeginField("Link", item, new { haschildren = true, @class = "nav-link" })
                                @Html.Sitecore().Field("NavigationTitle", item)
                                @if (childCount > 0)
                                {<i class="fas fa-ellipsis-v"></i>}
                                @Html.Sitecore().EndField()


                                @if (subItemModel != null)
                                {
                                    <div class="megamenu">
                                        <ul>
                                            @foreach (var subItem in subItemModel.GetChildren().ToList())
                                            {
                                                <li class="">
                                                    <div>
                                                        @Html.Sitecore().BeginField("Link", subItem, new { haschildren = true, @class = "dropdown-item" })

															<h3> @Html.Sitecore().Field("NavigationTitle", subItem) <span class="fa fa-angle-right"></span></h3>
                                                        <div>
                                                            <!-- <img src="https://via.placeholder.com/350x150" class="img-fluid"> -->
															@Html.Sitecore().Field("Image", subItem)
                                                        </div>
                                                        
                                                        @Html.Sitecore().EndField()
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                        }

                    </ul>
                    <ul id="search-toggle">
                        <li>
                            <i class="fa fa-search d-none1"></i>
                            <div class="search-container">
                                <div class="container-fluid">
                                    @Html.Sitecore().Placeholder("header-searchbar")

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
          