@using Sitecore.Feature.News
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>
@{
    var Items = Model;

    var i = 0;
}
<section class="section bg-white news-container" id="news">
    <div class="container">
        <h3 class="pb-5">@DictionaryPhraseRepository.Current.Get("/sitecore/content/Realty/Global/Dictionary/News/News Title", "News")</h3>
        <div class="row pb-5" id="">
            @foreach (var item in Items)
            {
                Sitecore.Data.Fields.LinkField linkfield = item.Fields[Templates.NewsArticle.Fields.Link];
                var url = linkfield.GetFriendlyUrl();
                if (i == 0) { }


                <div class="col-sm-5 mr-auto mb-5">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="@url">
                                @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image, item, 0, 0, "img-fluid")
                            </a>
                        </div>
                        <div class="col-sm-7" id="newsTitle">
                            <p><a href="#">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)</a></p>
                            <span>
                                @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date, item, new
                                                           {
                                                               format = "MMM dd, yyyy"
                                                           })
                            </span>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="row pt-5">
            <a href="@DictionaryPhraseRepository.Current.Get("/sitecore/content/Realty/Global/Dictionary/News/Know More Link", "Know More Link")" class="btn-primary blueBtn my-3 my-md-0 ml-auto mr-auto" target="_blank">@DictionaryPhraseRepository.Current.Get("/sitecore/content/Realty/Global/Dictionary/News/Know More", "Know More")</a>
        </div>
    </div>
    
</section>
<!-- /News -->