@using Sitecore.Feature.News
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>
@{
    var Items = Model.OrderByDescending(x=>x.Statistics.Created); //.Where(x => x.TemplateID == new Sitecore.Data.ID("{2DC7B601-67F0-4EEA-9408-E8306A6DEBC8}")); //.OrderByDescending(x => x.Statistics.Created).Take(3);}

}
<h5 class="sectionTitle">Latest News</h5>
<div class="panelBox">
    <ul class="newsList">
        @foreach (var item in Items.Take(4).ToList())
        {
            Sitecore.Data.Fields.LinkField linkfield = item.Fields[Templates.NewsArticle.Fields.Link];
            var url = linkfield.GetFriendlyUrl();
            <li>
                <a href="@url" class="newsItem">
                    <div class="newsImg">@Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image, item)</div>
                    <div class="newsDetails">
                        <div class="newsBrief" title="@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)</div>
                        <div class="newsDate">
                            @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date, item, new
                                     {
                                         format = "MMM dd, yyyy"
                                     })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
        }
    </ul>
</div>
<div class="btnWrapper"><a href="https://twitter.com/adaniaustralia" class="btn btnBordered">Read more</a></div>