@model Project.Mining.Website.Models.UnderConstruction.UnderConstruction

@{

    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
   
    
}
@if (Model != null)
{
    <div class="not-found-body position-relative section-padding">
        <div class="container">
            <div class="img-box text-center">
                @if (Model.Image != null)
                {
                    <img src="@Model.Image.Src" alt="@Model.Image.Alt" class="logo green-logo">
                    <img src="@Model.AnimationImage.Src" alt="@Model.AnimationImage.Alt">
                }
                </div>
            <div class="img-text text-center">
                <h3>@Model.Heading</h3>
                @Html.Raw(Model.Description)

            </div>
        </div>
    </div>
}