@model Project.Mining.Website.Models.Sitemap.SitemapModel


<div class="sitemap-content">
    <div class="container">
        <div class="sitemap-menus">
            @if (Model.SitemapLinks != null)
            {

                foreach (var child in Model.SitemapLinks)
                {
                    <div class="sitemap-col">
                        <h3>@child.Heading</h3>
                        <ul>
                            @foreach (var subChild in child.Items)
                            {
                                <li><a href="@subChild.Link.Url" class="analytics-tags">
                                     @subChild.Link.Text
                                <meta name="Event" content="@subChild.Event">
                                <meta name="Category" content="@subChild.Category">
                                <meta name="Banner_category" content="@subChild.Banner_Category">
                                <meta name="Sub_category" content="@subChild.Sub_category">
                                <meta name="Page_type" content="@subChild.Page_type">
                                <meta name="Label" content="@subChild.Label">
                                <meta name="Index" content="@subChild.Index">
                            </a></li>
                            }
                        </ul>
                    </div>
                    
                }
            }

        </div>
    </div>
</div>