@using Sitecore.Mvc


@using Sitecore.GuwahatiAirport.Website.Model;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.GuwahatiAirport.Website.Model.AdminUserDetails>
@{
    var envelopeCreate = Sitecore.Context.Database.GetItem(Templates.Tender.AdminUserCreate);
    var TenderListURL = Sitecore.Context.Database.GetItem(Templates.Tender.AdminTenderListing);
}

<style>
    .delete-section {
        display: inline;
    }
</style>

<div class="pageContent">
    <div class="container">
        @using (Html.BeginForm("Logout", "GuwahatiAirport", FormMethod.Post))
        {
            <div class="col-12 p-0 pb-3">
                <div class="float-right"><button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("GuwahatiAirport/Tender/Logout", "Logout")</button></div>
                <div class="clearfix"></div>
            </div>
        }
        <!-- Section -->
        <div class="col-12 p-0 pb-3">
            <h2>@Html.Sitecore().Dictionary("GuwahatiAirport/Tender/Envelope Users Text", "Admin Users")</h2>
        </div>
        <div class="col-12 p-0 pb-3">
            <div class="txt-right">
                <p><a class="btn btn-primary" href="@envelopeCreate.Url()">@Html.Sitecore().Dictionary("GuwahatiAirport/Tender/Create Envelope User Text", "Create Admin User")</a></p>
            </div>
        </div>

        <div class="table-responsive tableOuter">
            <table class="table table-borderless table-white table-hover mb-0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.MobileNo)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TenderNumber)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.EnvelopRight)
                        </th>

                        <th scope="col">@Html.Display("Delete User")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.TenderNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnvelopRight)
                            </td>
                            <td>
                                @*@Html.ActionLink("Update", "AdminEnvelopeUpdate", new { id = item.UserId }) |*@
                                @Html.ActionLink("Delete", "DisableAdminUser", new { id = item.UserId }, new { onclick = "return confirm('Do you really want to delete this User')" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="card-footer">
                <a href="@TenderListURL.Url()" class="btn btn-primary">@Html.Sitecore().Dictionary("GuwahatiAirport/Tender/Back To List Text", "Back To Tender List")</a>
            </div>
        </div>

    </div>
</div>


