@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.ChangeOfNameApplicationFromModel

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmRegister", @class = "form-signin" }))
{
    @Html.AddUniqueFormId()
    <!-- Page Content -->
    <div class="pageContent">
        <div class="container">
            <!-- Welcome Message-->
            <div class="row">
                <div class="col-12">
                    <h4 class="float-left">Welcome, <span class="txt-orange">@Html.DisplayFor(x => x.ConsumerName)</span></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /Welcome Message -->
            <div class="py-2"></div>
            <!-- Section -->
            <!-- Main Content Panel -->

            <div class="" id="mainContent">
                <!-- Update Profile Page Content-->
                <div class="panel">
                    @*<form class="changeofname">*@
                    <h2 class="txt-md txt-orange mb-3"><b>Existing Account Details:</b></h2>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for=""><b>Account Number</b></label>
                                @*<input type="text" class="form-control" id="" placeholder="234567763" disabled>*@
                                @Html.TextBoxFor(x => x.AccountNo, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.AccountNo, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for=""><b>Meter Number</b></label>
                                @*<input type="text" class="form-control" id="" placeholder="7654432" disabled>*@
                                @Html.TextBoxFor(x => x.MeterNumber, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.MeterNumber, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for=""><b>Connection Type</b></label>
                                @*<input type="text" class="form-control" id="" placeholder="RESI1" disabled>*@
                                @Html.TextBoxFor(x => x.ConnectionType, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.ConnectionType, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for=""><b>Registered Customer Name</b></label>
                                @*<input type="text" class="form-control" id="" placeholder="Mr. Pravin Prakash Bhosale" disabled>*@
                                @Html.TextBoxFor(x => x.ConsumerName, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.ConsumerName, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for=""><b>Mobile Number</b></label>
                                @*<input type="text" class="form-control" id="" placeholder="9460826482" disabled>*@
                                @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.MobileNo, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for=""><b>Email Address</b></label>
                                @*<input type="text" class="form-control" id="" placeholder="9460826482" disabled>*@
                                @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.EmailId, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for=""><b>Registered Address</b></label>
                                <textarea class="form-control" id="" placeholder="Rm No 5GR FLR H NO 485 Bamgine House atil Pada, Danda Koliwada Khar Danda Khar West\Near Bhagat Bhandar" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <h2 class="txt-md txt-orange mb-3"><b>Step 1: Select Premise Type</b></h2>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for=""><b>Select Applicable Premise Type</b></label>
                            </div>
                            <div class="col-lg-4" id="premise-type">
                                @Html.DropDownListFor(m => m.PremiseTypeSelectList, new SelectList(Model.PremiseTypeSelectList, "Value", "Text"), "Select", new { @class = "form-control", required = "required" })

                                @*<select class="form-control">
                                        <option>Select..</option>
                                        <option value="flatinregisteredsociety">Flat in registered society</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>*@
                            </div>
                            <div class="col-lg-5 text-right mt-3 mt-lg-0">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generalguideline">GENERAL GUIDELINES</button>
                                <a href="#generalguideline" class="btn btn-primary d-none" target="_blank" style="color: #fff;" data-toggle="modal" data-target="#generalguideline"><b>GENERAL GUIDELINES</b></a>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.SelectedPremiseType)

                        <div class="col-lg-12">
                            <label class="radio-label mr-3"><b>Is it Rented Premise (PAGDI)</b></label>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.IsRentalProperty, "No", new { id = "IsRentalPropertyNo", required = "required", @class = "form-check-input" })
                                @*<input class="form-check-input" type="radio" name="PAGDI" id="PAGDI-no" value="no" onclick="javascript:checkrentedpremise();" checked>>*@
                                <label class="form-check-label" for="rdbNo">No</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.IsRentalProperty, "Yes", new { id = "IsRentalPropertyYes", required = "required", @class = "form-check-input" })
                                @*<input class="form-check-input" type="radio" name="PAGDI" id="PAGDI-yes" value="yes" onclick="javascript:checkrentedpremise();">*@
                                <label class="form-check-label" for="rdbYes">Yes</label>
                            </div>
                            @Html.ValidationMessageFor(x => x.IsRentalProperty, "", new { @class = "help-block" }, "p")
                        </div>
                    </div>

                    <hr>
                    <div class="" id="divStep2" style="display:none;">
                        <h2 class="txt-md txt-orange mb-3"><b>Step 2: Enter Details of the Changes being requested</b></h2>
                        <div class="changeofname_fieldsblock my-3 d-block">
                            <fieldset class="px-3">
                                <legend>Applicant Details</legend>
                                <div class="form-group">
                                    <label class="w-100"><b>Applicant Type :</b></label>
                                    <div class="form-check form-check-inline">
                                        @*<input class="form-check-input" type="radio" name="ApplicantType" id="Individual" value="Individual" checked>*@
                                        @Html.RadioButtonFor(model => model.ApplicantType, "Individual", new { id = "ApplicantTypeIndividual", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="ApplicantTypeIndividual">Individual</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @*<input class="form-check-input" type="radio" name="ApplicantType" id="Joint" value="Joint">*@
                                        @Html.RadioButtonFor(model => model.ApplicantType, "Joint", new { id = "ApplicantTypeJoint", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="ApplicantTypeJoint">Joint</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @*<input class="form-check-input" type="radio" name="ApplicantType" id="Joint-Occupancy" value="JointOccupancy">*@
                                        @Html.RadioButtonFor(model => model.ApplicantType, "Joint Occupancy (Single Applicant)", new { id = "ApplicantTypeJointOccupancy", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="ApplicantTypeJointOccupancy">Joint Occupancy (Single Applicant)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="w-100"><b>Is the registered customer still living?</b></label>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsStillLiving, "Yes", new { id = "ApplicantLivingYes", required = "required", @class = "form-check-input" })
                                        @*<input class="form-check-input" type="radio" name="ApplicantLiving" id="Yes" value="Yes" checked>*@
                                        <label class="form-check-label" for="ApplicantLivingYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsStillLiving, "No", new { id = "ApplicantLivingNo", required = "required", @class = "form-check-input" })
                                        @*<input class="form-check-input" type="radio" name="ApplicantLiving" id="No" value="No">*@
                                        <label class="form-check-label" for="ApplicantLivingNo">No</label>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.IsStillLiving, "", new { @class = "help-block" }, "p")
                                </div>
                                <div class="form-group">
                                    <label class="w-100"><b>Name:</b></label>
                                    <div class="row">

                                        <div class="col-lg-3 col-md-6">

                                            <div class="form-group">
                                                <label><b>Title <span class="required">*</span></b></label>
                                                <select class="form-control" id="">
                                                    <option>Select..</option>
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label for=""><b>First Name</b></label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label for=""><b>Middle Name</b></label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label for=""><b>Last Name</b></label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="changeofname_fieldsblock my-3 026" >
                            <fieldset class="px-3">
                                <legend>Address Details</legend>
                                <div>
                                    <label class="radio-label mr-3"><b>Address Correction required</b></label>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsAddressCorrectionRequired, "No", new { id = "IsAddressCorrectionRequiredNo", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="IsAddressCorrectionRequiredNo">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsAddressCorrectionRequired, "Yes", new { id = "IsAddressCorrectionRequiredYes", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="IsAddressCorrectionRequiredYes">Yes</label>
                                    </div>
                                    <div class="" style="" id="divIsAddressCorrectionRequired">
                                        <p class="txt-orange mb-2 mt-3"><b>Applicant's Present / Correspondence Address :</b></p>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>House Number</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Street</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Area</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Landmark</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>City</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Pincode</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-3 px-3">
                                    <label class="radio-label mr-3"><b>Is billing address different than Address where supply is required</b></label>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsBillingAddressDifferent, "No", new { id = "IsBillingAddressDifferentNo", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="IsBillingAddressDifferentNo">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsBillingAddressDifferent, "Yes", new { id = "IsBillingAddressDifferentYes", required = "required", @class = "form-check-input" })
                                        <label class="form-check-label" for="IsBillingAddressDifferentYes">Yes</label>
                                    </div>
                                    <div class="" id="divIsBillingAddressDifferent">
                                        <p class="txt-orange mb-2 mt-3"><b>Applicant's Present / Correspondence Address :</b></p>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Flat/Shop/Plot No <span class="required">*</span></b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Building Name <span class="required">*</span></b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Lane/Street <span class="required">*</span></b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Landmark</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="form-group">
                                                    <label><b>Area</b></label>
                                                    <select class="form-control" id="">
                                                        <option>Select..</option>
                                                        <option></option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="form-group">
                                                    <label><b>Pincode</b></label>
                                                    <select class="form-control" id="">
                                                        <option>Select..</option>
                                                        <option></option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="changeofname_fieldsblock my-3 d-block">
                            <fieldset class="px-3">
                                <legend>Contact Details</legend>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for=""><b>Email <span class="required">*</span></b></label>
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for=""><b>Landline Number</b></label>
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label for=""><b>Mobile Number <span class="required">*</span></b></label>
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                            </fieldset>
                        </div>
                        <div class="changeofname_fieldsblock my-3 d-block">
                            <fieldset class="px-3">
                                <legend>Billing Details</legend>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label><b>Bill Language</b></label>
                                            <select class="form-control" id="">
                                                <option>Select</option>
                                                <option>English</option>
                                                <option>Hindi</option>
                                                <option>Marathi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="w-100"><b>Bill Format :</b></label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="billformat" id="Paperless" value="Individual" checked>
                                                <label class="form-check-label" for="inlineRadio1">Paperless</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="billformat" id="EBill" value="Joint">
                                                <label class="form-check-label" for="inlineRadio1">E-Bill + Physical</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" style="display:none;" id="divRentalProperty">
                                        <p class="txt-orange mb-2 mt-3"><b>Landloard Details :</b></p>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Name of Owner <span class="required">*</span></b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Mobile No</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Landline No </b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for=""><b>Email</b></label>
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 px-3">
                                        <label class="radio-label mr-3"><b>Continue with Existing Security Deposit Amount</b></label>
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(model => model.IsContinueWithExistingSD, "No", new { id = "IsContinueWithExistingSDNo", required = "required", @class = "form-check-input" })
                                            <label class="form-check-label" for="IsContinueWithExistingSDNo">No</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(model => model.IsContinueWithExistingSD, "Yes", new { id = "IsContinueWithExistingSDYes", required = "required", @class = "form-check-input" })
                                            <label class="form-check-label" for="IsContinueWithExistingSDYes">Yes</label>
                                        </div>
                                    </div>
                                    <div id="divIsContinueWithExistingSD">
                                        <label>Security Deposit Amount</label>
                                        <input type="text" value="695.00" />
                                        <label>Existing Security Deposit Amount : 695.00</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for=""><b>Consumer Remark</b></label>
                                <textarea class="form-control" id="" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="px-3" id="divStep3" style="display:none;">
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2 class="txt-md txt-orange mb-3"><b>Step 3: Upload Documents</b></h2>
                                </div>
                                <div class="col-lg-6 text-right mt-3 mt-lg-0">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#docsupload">DOCUMENT UPLOAD GUIDELINES</button>
                                    <a href="#docsupload" class="btn btn-primary d-none" style="color: #fff;" target="_blank" data-toggle="modal" data-target="#docsupload"><b>DOCUMENT UPLOAD GUIDELINES</b></a>
                                </div>
                            </div>
                        </div><hr>
                        <h5>Identity Document (Upload any one document)</h5>
                        <div class="table-responsive my-3">
                            <table class="table table-bordered mb-0 txt-sm">
                                <thead class="bg-white">
                                    <tr>
                                        <th valign="middle" style="min-width: 100px;">Sr. No</th>
                                        <th valign="middle">Document Type</th>
                                        <th valign="middle"></th>
                                        <th valign="middle">Document No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <select class="form-control">
                                                    <option>Select..</option>
                                                    <option value="GSTN">GSTN</option>
                                                    <option>Driving Licence</option>
                                                    <option>PAN Card</option>
                                                    <option>Election ID Card</option>
                                                    <option>Passport</option>
                                                    <option>AADHAR Card</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td><input type="file" class="form-control-file" id="exampleFormControlFile1"></td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h5 class="mt-4">Photograph</h5>
                        <div class="table-responsive my-3">
                            <table class="table table-bordered mb-0 txt-sm">
                                <thead class="bg-white">
                                    <tr>
                                        <th valign="middle" style="min-width: 100px;">Sr. No</th>
                                        <th valign="middle">Document Type</th>
                                        <th valign="middle"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Passport size photograph of the applicant <span class="required">*</span></td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h5 class="mt-4">Ownership Document (Upload any one document)</h5>
                        <div class="table-responsive my-3">
                            <table class="table table-bordered mb-0 txt-sm">
                                <thead class="bg-white">
                                    <tr>
                                        <th valign="middle" style="min-width: 100px;">Sr. No</th>
                                        <th valign="middle">Document Type</th>
                                        <th valign="middle"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select class="form-control">
                                                <option>Select..</option>
                                                <option value="GSTN">Registered Agreement Copy / Purchase Deed / Safe deed with present registered customer</option>
                                                <option>Share Certificate of the Registered Society</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h5 class="mt-4">Supporting Document (Not applicable for load between 100-150 KW)</h5>
                        <div class="table-responsive my-3">
                            <table class="table table-bordered mb-0 txt-sm">
                                <thead class="bg-white">
                                    <tr>
                                        <th valign="middle" style="min-width: 100px;">Sr. No</th>
                                        <th valign="middle">Document Type</th>
                                        <th valign="middle"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Latest Maintainence Bill (Duty certified & stamped by registered society)</td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>NOC from Registered Housing / Industrial Society</td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="mb-3"><b>Terms & Conditions:</b></p>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label" for="">I agree to the terms and conditions</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label" for="">I confirm that copies of uploaded documents are self-attested</label>
                        </div>
                        <div class="form-group py-2 text-right mb-0">
                            <button type="submit" class="btn btn-secondary">Save as Draft</button>
                            <button type="submit" class="btn btn-primary">Submit Application</button>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content Panel -->
    @*</div>*@
    <!-- /Section -->

    <!-- /Page Content -->
}

<!-- Modal -->
<div class="modal fade modal-popup" id="generalguideline" tabindex="-1" role="dialog" aria-labelledby="generalguideline" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>GENERAL GUIDELINES</h5>
                <div class="modal-popup__content">

                    <table width="100%" align="center" cellpadding="3" style="text-align: justify">
                        <tbody>
                            <tr>
                                <td style="font-size: small" align="left">
                                    <b><u>Introduction: </u></b>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    Application for change of name is processed as per the provision of Maharashtra
                                    Electricity Regulatory Commission (Electricity Supply Code and Other Conditions
                                    of Supply) Regulations, 2005.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    <b>A. Who can apply: </b>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    A connection may be transferred in the name of another person upon death of the
                                    consumer or, in case of transfer of ownership or occupancy of the premises, upon
                                    application for change of name by the new owner or occupier.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    <b>B. Submission of application and documents: </b>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    I. Consent letter of the transferor for transfer of connection in the in favor of
                                    the applicant’s name.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    II. In the absence of a consent letter, any one of the following documents in respect
                                    of the premises: (a) proof of ownership of premises; (b) in case of partition, the
                                    partition deed; (c) registered deed; or (d) succession certificate.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    <b>C. General Requirements: </b>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    I. Pay a transfer fee of Rs. 65/-(+GST) (for single or three phase) and Security Deposit (Equivalent to a bill amount for avg. consumption over the last 12 months). (All the forms mentioned above are available at all Divisional Customer Care Centres free of cost).
                                    <br>
                                </td>
                            </tr>
                            <tr id="MainContent_TbContr_tbpnlGeneralGuidline_tr3">
                                <td style="font-size: small" align="left">
                                    II. All documents uploaded by the applicant must be self attested him / her along
                                    with any one photo ID issued by Government of India.
                                    <br>
                                </td>
                            </tr>

                            <tr id="MainContent_TbContr_tbpnlGeneralGuidline_Tr4">
                                <td style="font-size: small" align="left">
                                    III. Signature of the applicant on the documents submitted should be same as the
                                    signature as on the photo ID
                                    <br>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: small" align="left">
                                    IV. While uploading, the applicant must ensure that the registered agreement copy
                                    should include
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- a. Pages of agreement reflecting buyer and For transfer
                                    of existing Security Deposit to the new account
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- b. Pages of agreement reflecting address of premises
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- c. Page of agreement reflecting contains signatures
                                    and photos of buyer and seller
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- d. Copy of Index II
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    V. In case the property transfer agreement is not with the present registered customer,
                                    chain of agreements from the registered customer to the current applicant must be
                                    uploaded.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    VI. In case of joint ownership, applicant should produce NOC from Co- owner/s
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    VII. For transfer of existing Security Deposit to the new account of applicant,
                                    the applicant must produce the receipt or No objection letter from the transferor.
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    VIII. The details of name and address in all the supporting documents must be same.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    IX. Only PDF, JPG format file are supported for upload and applicable file limit
                                    for each file is 2 MB.
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    X. In case of unregistered societies, NOC’s from builder / developer must be on
                                    the original letterheads duly stamped and signed.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    XI. In case the tariff category is other than residential category, the Applicants
                                    must submit necessary valid licenses / permission / NOC / compliances from the competent
                                    authorities.
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    XII. No application for change of name shall be processed for disconnected connection.
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: small" align="left">
                                    XIII. AEML reserves its right to reject the application in case of insufficient
                                    / incomplete documentation and non fulfillment of formalities.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-popup" id="docsupload" tabindex="-1" role="dialog" aria-labelledby="docsupload" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>DOCUMENT UPLOAD GUIDELINES</h5>
                <div class="modal-popup__content">

                    <table cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <font color="red">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Note:</b>
                                                    </td>
                                                    <td>
                                                        1) Document marked with * are mandatory to Upload.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        2) Only Pdf/JPG file are supported except mentioned one.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        3) Applicable file limit for each file is 2 MB.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        4) For Chain Agreement, in case the agreement is not with present registered customer,
                                                        chain of agreements from the registered customer to the current applicant must be
                                                        uploaded
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        5) In case of Joint Occupancy (single applicant), for Single Applicant's
                                                        Name to appear on Bill, the Co-Owner's NOC is mandatory.
                                                    </td>
                                                </tr>
                                                <tr id="MainContent_TbContr_tbpnlDocument_tr6PlaceHolder">
                                                    <td></td>
                                                    <td>
                                                        6) Against the relevant doc type in 'Identity Document section', kindly enter your
                                                        doc no. Ex: If your doc type is PAN Card, then your PAN Card no. will be your doc
                                                        no,the same data  will be updated against your contract account.
                                                    </td>
                                                </tr>


                                                <tr id="MainContent_TbContr_tbpnlDocument_tr7PlaceHolder">
                                                    <td></td>
                                                    <td>
                                                        <!--
                                                        7) Change of name undertaking form and power supply agreement form are available
                                                        for download in the "Form download" section.
                                                        -->
                                                        7) Copies of uploaded documents should be self-attested.
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 10px;" align="center">
                                    <span id="MainContent_TbContr_tbpnlDocument_lblDocmsg" style="color:Red;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade modal-popup" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>Terms and Conditions</h5>
                <div class="modal-popup__content">

                </div>
            </div>

        </div>
    </div>
</div>

