@using Sitecore.Mvc
@{
    Layout = null;
    var assetDomainURL = string.Empty;
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    var environmentAPIVersion = Sitecore.Configuration.Settings.GetSetting("environmentAPIVersionVariable").ToString();
    Sitecore.Data.Fields.MultilistField servicesField = ((Sitecore.Data.Fields.MultilistField)contextItem.Fields["ListofServices"]);
    if (!string.IsNullOrEmpty(Sitecore.Configuration.Settings.GetSetting("mediaDomainUrl")))
    {
        assetDomainURL = Sitecore.Configuration.Settings.GetSetting("mediaDomainUrl").ToString();

    }

}
<!DOCTYPE html>
<html>

<head>
    @if (contextItem != null)
    {
        <title>@contextItem["MetaTitle"]</title>
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" type="image/png" href="@assetDomainURL/assets/images/favicon/favicon.ico" />
    <link rel="stylesheet" href="@assetDomainURL/assets/airport/css/common.css?v=@_helper.GetLatestVersionFiles("/assets/airport/css/common.css")" />
    <link rel="stylesheet" href="@assetDomainURL/assets/airport/css/header.css?v=@_helper.GetLatestVersionFiles("/assets/airport/css/header.css")" />
    <link rel="stylesheet" href="@assetDomainURL/assets/airport/css/footer.css?v=@_helper.GetLatestVersionFiles("/assets/airport/css/footer.css")" />
    @Html.Partial("~/Views/SubLayouts/PartialViews/GtmScript.cshtml")
</head>

<body data-bs-spy="scroll">
    @Html.Partial("~/Views/SubLayouts/PartialViews/GtmNonScript.cshtml")
    @Html.Sitecore().Placeholder("header")
    <div class="@contextItem["cssClass"]">
        @Html.Sitecore().Placeholder("main")
    </div>
    <div id="footer">@Html.Sitecore().Placeholder("footer")</div>
</body>

</html>

<script>
    var environmentAPIVersion= "@environmentAPIVersion"
</script>
<script defer src="@assetDomainURL/assets/airport/js/jquery.min.js?v=@_helper.GetLatestVersionFiles("/assets/airport/js/jquery.min.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/bootstrap.bundle.min.js?v=@_helper.GetLatestVersionFiles("/assets/airport/js/bootstrap.bundle.min.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/header.js?v=@_helper.GetLatestVersionFiles("/assets/airport/js/header.js")"></script>


