@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Optimization
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@{
    Layout = null;
    var assetDomainURL = string.Empty;
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    var domainUrl = !string.IsNullOrEmpty(Sitecore.Configuration.Settings.GetSetting("domainUrl").ToString()) ? Sitecore.Configuration.Settings.GetSetting("domainUrl").ToString() : string.Empty;
    var pageUrl = contextItem != null ? Sitecore.Links.LinkManager.GetItemUrl(contextItem) : String.Empty;
    Sitecore.Data.Fields.MultilistField servicesField = ((Sitecore.Data.Fields.MultilistField)contextItem.Fields["ListofServices"]);
    var environmentVariable = Sitecore.Configuration.Settings.GetSetting("widzetEnvironmentVariable").ToString();
    var environmentAPIVersion = Sitecore.Configuration.Settings.GetSetting("environmentAPIVersionVariable").ToString();
    string currentDate = DateTime.Now.AddDays(1).ToString("ddMMyyyy");
    string queryString = !string.IsNullOrEmpty(Sitecore.Context.Request.QueryString["isapp"]) ? Sitecore.Context.Request.QueryString["isapp"].ToLower() : "";
    IHelper _helper = new Helper();
    var canonicalUrl = string.Empty;
    var canonicalField = "Canonical";
    if (contextItem != null && contextItem.Fields[canonicalField] != null && !string.IsNullOrEmpty(contextItem.Fields[canonicalField].Value))
    {
        canonicalUrl = _helper.GetLinkURL(contextItem, canonicalField);
    }


    if (!string.IsNullOrEmpty(Sitecore.Configuration.Settings.GetSetting("mediaDomainUrl")))
    {
        assetDomainURL = Sitecore.Configuration.Settings.GetSetting("mediaDomainUrl").ToString();

    }

    var Cssversion = _helper.GetLatestVersionFiles("/assets/css/static.min.css");
    var widgetVersion = _helper.CacheVersion();
}
<!DOCTYPE html>
<html>

<head>
    @if (contextItem != null)
    {
        <title>@contextItem["MetaTitle"]</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="@contextItem["Viewport"]" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="@contextItem["MetaDescription"]" />
        <meta name="robots" content="@contextItem["Robots"]" />
        <meta name="keywords" content="@contextItem["Keywords"]" />
        <meta property="og:title" content="@contextItem["OG-Title"]" />
        <meta property="og:image" content="@contextItem["OG-Image"]" />
        <meta property="og:description" content="@contextItem["OG-Description"]" />
        <link rel="canonical" href="@canonicalUrl" />
    }
    <link rel="icon" type="image/png" href="@domainUrl/favicon.ico" />
    <link rel="stylesheet" href="@assetDomainURL/flight/statics/css/cdn/bundles/libs/default/widgets-master.css?v=@widgetVersion" />
    <link rel="stylesheet" href="@assetDomainURL/assets/css/static.min.css?v=@Cssversion" />
    @Html.Partial("~/Views/SubLayouts/PartialViews/GtmScript.cshtml")
</head>

<body data-bs-spy="scroll">
    @Html.Partial("~/Views/SubLayouts/PartialViews/GtmNonScript.cshtml")
    @if (queryString == "true")
    {
        <div class="@contextItem["cssClass"] noHeader_footer">
            @Html.Sitecore().Placeholder("main")
        </div>
    }
    else
    {
        @Html.Sitecore().Placeholder("header")
        <div class="@contextItem["cssClass"]">
            @Html.Sitecore().Placeholder("main")
        </div>
        <div id="footer">@Html.Sitecore().Placeholder("footer")</div>
    }

</body>

</html>
<script>
    var environmentAPIVersion= "@environmentAPIVersion"
</script>
<script defer src="@assetDomainURL/assets/airport/js/jquery.min.js?v=@_helper.GetLatestVersionFiles("/assets/airport/js/jquery.min.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/bootstrap.bundle.min.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/bootstrap.bundle.min.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/slick.min.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/slick.min.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/moment.min.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/moment.min.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/header.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/header.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/common.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/common.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/tender-page.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/tender-page.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/SubmitForm.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/SubmitForm.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/partnership-page.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/partnership-page.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/jquery.validate.min.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/jquery.validate.min.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/jquery.validate.unobtrusive.min.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/jquery.validate.unobtrusive.min.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/news-room.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/news-room.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/general-aviation.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/general-aviation.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/terms-conditions.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/terms-conditions.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/faq-services.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/faq-services.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/faq-lp.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/faq-lp.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/domestic-flights.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/domestic-flights.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/business-cargo.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/business-cargo.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/mumbai-discover.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js//mumbai-discover.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/awards-and-accolades.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/awards-and-accolades.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/csmia-reports.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/csmia-reports.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/gr8-facts.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/gr8-facts.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/panzoom.umd.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/panzoom.umd.js")"></script>
<script defer src="@assetDomainURL/assets/statics/js/terminal-map.js?v= @_helper.GetLatestVersionFiles("/assets/statics/js/terminal-map.js")"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script defer src="@assetDomainURL/assets/airport/js/script-custom-validator.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/script-custom-validator.js")"></script>
<script defer src="@assetDomainURL/assets/airport/js/call-back-form.js?v= @_helper.GetLatestVersionFiles("/assets/airport/js/call-back-form.js")"></script>
<script src="@assetDomainURL/flight/statics/js/cdn/bundles/libs/core.js?v=@widgetVersion"></script>
<script>
setTimeout(() => {
    ADL.widgets.load({
         "searchFlightCityToCity": {
            "data":{
                tt:"O",
                ac:"ADLONE",
                popup:"x",
                tenant: "D",
                class: "ECO",
                pax: "1_0_0",
                q: "DEL-BOM-@currentDate"
            },
            "env":"test",
            "version":"searchFlightCityToCity",
            "language":"en",
            "container":"domesticFlightCityToCity",
            "rVersion":{
                "js": "demo",
                "css": "css-demo"
            }
        }
    }, {
        widgetsLoader: {
            env: '@environmentVariable',//test|uat|stage|prod
        }
    });
}, 50);
</script>


