@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Feature.Navigation
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}



@if (models.Children != null)
{
    foreach (var item in models.Children.ToList())
    {
<li class="nav-item">


    @*@if (Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item).ToString() == "About Us")
        {
            <a href="@item.LinkFieldUrl(Templates.Link.Fields.Link)" class="menu-link aboutus menucomm">
                @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)
            </a>
        }
        else if (Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item).ToString() == "Contact Us")
        {
            <a href="@item.LinkFieldUrl(Templates.Link.Fields.Link)" class="menu-link contactus menucomm">
                @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)
            </a>
        }
        else if (Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item).ToString() == "Media")
        {
            <a href="@item.LinkFieldUrl(Templates.Link.Fields.Link)" class="menu-link media menucomm">
                @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)
            </a>
        }
        else
        {
            <a href="@item.LinkFieldUrl(Templates.Link.Fields.Link)" class="menu-link">
                @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)
            </a>
        }*@
    @if (Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item).ToString() == "Apply Now")
    {
    <a class="nav-link btn-applynow" href="@item.LinkFieldUrl(Templates.Link.Fields.Link)"><i class="fa fa-arrow-circle-right mr-3"></i> @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)</a>
    }
    else
    {
        <a class="nav-link" href="@item.LinkFieldUrl(Templates.Link.Fields.Link)">  @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, item)</a>
    }
</li>
    }

}



