@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}


@if (element != null)
{
    <section class="Approach-decarb position-relative bg-white">
        <div class="container custom-contaier">
            <div class="row">
                <div class="centered-div">
                    <h2 class="text-Our">@Html.Sitecore().Field("Title", element)</h2>
                    @Html.Sitecore().Field("Summary", element)
                </div>
            </div>
            @Html.Sitecore().Field("Body", element)
        </div>

        <div class="container">
            <div class="row custom-row">
                @if (element.HasChildren)
                {
                    foreach (var child in element.GetChildren().ToList())
                    {

                        <div class="col-md-3 p-3 mb-2">
                            <!-- col-md-2 gives each box a fixed width -->
                            <div class="custom-box">
                                <h5>@Html.Sitecore().Field("Title", child)</h5>
                                <div class="hr-container">
                                    <hr />
                                </div>
                                <div class="Body">@Html.Sitecore().Field("Body", child)</div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>

    </section>
}
else
{
    <p>No element found</p>
}




