@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var ImageUrl = "";
    var ImageAlt = "";

}


<div class="detailed-sections-container">
    @foreach (var child in element.Children.ToList())
    {
        var section_id = @Html.Sitecore().Field("MainId", child);
        <section class="pt-5 position-relative z-index detailed-section" id="@section_id">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="ESG-text">@Html.Sitecore().Field("Title", child)</h1>


                                @Html.Sitecore().Field("Body", child)


                            </div>
                            <div class="col-md-6">

                                <div class="owl-nav-awards">
                                    <button type="button" role="presentation" class="owl-prev-@section_id sustainability-businesses-slider-prev-award">
                                        <span aria-label="Previous">&#60;</span>
                                    </button>
                                    <button type="button" role="presentation" class="owl-next-@section_id sustainability-businesses-slider-next-award">
                                        <span aria-label="Next">&#62;</span>
                                    </button>
                                </div>

                                <div id="Carousel-awards-@section_id" class="owl-carousel owl-theme">
                                    @foreach (var subchild in child.Children.ToList())
                                    {
                                        Sitecore.Data.Fields.ImageField Image = ((Sitecore.Data.Fields.ImageField)subchild.Fields["Image"]);
                                        if (Image != null && Image.MediaItem != null)
                                        {
                                            ImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(Image.MediaItem);
                                            ImageAlt = Image.Alt;
                                        }
                                        <div class="sustainability-businesses-content">
                                            <img src="@ImageUrl" class="awards-img" alt="@ImageAlt">
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>
    }
</div>





























