@*@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
	}

<section class="position-relative section__covid-donation bg-white">
	<div class="container">
@foreach (var child in element.Children.ToList())
{   Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)child.Fields["Image"]);
    var imgurl = ImageField.MediaItem == null ? "" : Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
        <div class="row mb-5">
        
			<div class="col-lg-9 space-management">
				<h3 class="Goals-item-management">@Html.Sitecore().Field("Title", child)</h3>
			<div class="item">
				   
			</div>
			   @Html.Sitecore().Field("Body", child)

			</div>
			<div class="col-lg-3 space-management">
				<img class="image-goals-management" src="@imgurl">
			</div>
        </div>
    foreach (var Subchild in child.Children.ToList())
    {
		<h1 class="action-head">@Html.Sitecore().Field("Title", Subchild)</h1>
		<div class="col-management d-flex align-items-center">
			@Html.Sitecore().Field("Body", Subchild)
            </div>
        
    }
}
	</div>
</section>*@

   


