<section class="pb-4 pt-5">
    <div class="container">
        @Html.Sitecore().Placeholder("investor-Distribution-Financials")
        
    </div>
</section><!--/Section-->
<!--/Section-->
@Html.Sitecore().Placeholder("investor-graph")
<!--/Section-->
<section class="bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @Html.Sitecore().Placeholder("Credit-Information")
            </div>
            <div class="col-lg-8">
                @Html.Sitecore().Placeholder("investor-tabs")

            </div>
        </div>
    </div>
</section><!--/Section-->
<section class="bg-gray pb-4">
    <div class="container">
        @Html.Sitecore().Placeholder("investor-links")
        
    </div>
</section><!--/Section-->
@Html.Sitecore().Placeholder("investor-contact")<!--/Section-->
