@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
	var btnUrl="";

}

<div class="section-holder edge-connex-hoder">
    <div class="content-wrapper grid-wrapper">
        <div class="grid ec-left">
            @if (model != null)
            {
                Sitecore.Data.Fields.LinkField linkField = model.Fields["ButtonLink"];
                btnUrl = linkField.GetFriendlyUrl();

               @* <p class="full h1 fm-asb tx-000">@Html.Sitecore().Field("MediaTitle", model)</p>
                <p class="full d-txt desc">@Html.Sitecore().Field("MediaDescription", model)</p>*@
					@Html.Sitecore().Field("MediaDescription", model)
                

            }

        </div>

        @Html.Sitecore().Placeholder("about-adani-connex")
		
		@if (btnUrl != null)
                {
                    <a href="@btnUrl" class="btn">@Html.Sitecore().Field("ButtonTitle", model)</a>
                }
                else
                {
                    <a href="#" class="btn">@Html.Sitecore().Field("ButtonTitle", model)</a>
                }

    </div>
</div>

 <!-- Globe Section Start Here -->
        <div class="map-holder section-holder">
            <div class="content-wrapper" id="dr_earth" >
                <div class="map-heading-wrapper">
                    <p class="full h1 fm-asb tx-000">Data center platform to empower a Digital India</p>
                    <p class="full d-txt desc">Enabling businesses and consumers with cloud, content and data through a resilient, scalable, sustainable and automated infrastructure platform.</p>
                </div>
                <!-- Globe Code Start Here -->
                <div class="map_section" style="max-width: 1300px;">
                    <div id="myearth">
              
                    </div>
              
                      <div class="city_box_list">
                          <div class="city_box" data-index="3">
                              <div class="city_box_img">
                                  <img src="../../images/AdaniConneX/globe/chennai-blue.png" class="blue_city_icon"/>
                                  <img src="../../images/AdaniConneX/globe/chennai-darkgrey.png" class="grey_city_icon"/>
                              </div>
                              <h5>Chennai
                                  <span>India</span>
                              </h5>
                          </div>
                          <!-- city_box -->
                          <div class="city_box" data-index="4">
                              <div class="city_box_img">
                                  <img src="../../images/AdaniConneX/globe/hyderabad-blue.png" class="blue_city_icon"/>
                                  <img src="../../images/AdaniConneX/globe/hyderabad-darkgrey.png" class="grey_city_icon"/>
                              </div>
                              <h5>Hyderabad
                                  <span>India</span>
                              </h5>
                          </div>
                          <!-- city_box -->
                          <div class="city_box" data-index="1">
                              <div class="city_box_img">
                                  <img src="../../images/AdaniConneX/globe/mumbai-blue.png" class="blue_city_icon"/>
                                  <img src="../../images/AdaniConneX/globe/mumbai-darkgrey.png" class="grey_city_icon"/>
                              </div>
                              <h5>Mumbai
                                  <span>India</span>
                              </h5>
                          </div>
                          <!-- city_box -->
                           <div class="city_box" data-index="0">
                              <div class="city_box_img">
                                  <img src="../../images/AdaniConneX/globe/noida-blue.png" class="blue_city_icon"/>
                                  <img src="../../images/AdaniConneX/globe/noida-darkgrey.png" class="grey_city_icon"/>
                              </div>
                              <h5>Noida
                                  <span>India</span>
                              </h5>
                          </div>
                          <!-- city_box -->
                          <div class="city_box" data-index="2">
                              <div class="city_box_img">
                                  <img src="../../images/AdaniConneX/globe/pune-blue.png" class="blue_city_icon"/>
                                  <img src="../../images/AdaniConneX/globe/pune-darkgrey.png" class="grey_city_icon"/>
                              </div>
                              <h5>Pune
                                  <span>India</span>
                              </h5>
                          </div>
                          <!-- city_box -->
                          <div class="city_box" data-index="5">
                              <div class="city_box_img">
                                  <img src="../../images/AdaniConneX/globe/vizag-blue.png" class="blue_city_icon"/>
                                  <img src="../../images/AdaniConneX/globe/vizag-darkgrey.png" class="grey_city_icon"/>
                              </div>
                              <h5>Vizag
                                  <span>India</span>
                              </h5>
                          </div>
                          <!-- city_box -->
                      </div>
                      <!-- city_box_list -->
              
                      <div class="location_list">
                          <ul>
                              <li class="active country_li">
                                  <a href="javascript:locationMarker(1, 1.5)" class="btn"><span>India</span></a>
                              </li>
                              <li class="country_li">
                                  <a href="javascript:locationMarker(2, 1.5)" class="btn">North America</a>
                              </li>
                              <li class="country_li">
                                  <a href="javascript:locationMarker(3, 1.5)" class="btn">South America</a>
                              </li>
                              <li class="country_li">
                                  <a href="javascript:locationMarker(4, 1.57)" class="btn">EMEA</a>
                              </li>
                          </ul>
                      </div>
                      <!-- locatin_list -->
        
                 </div>
                <!-- Globe Code End Here -->
            </div>
        </div>
        <!-- Globe Section End Here -->
