@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Fields.LinkField linkvalue = model.Fields["MediaLink"];
    var itemlink = linkvalue.GetFriendlyUrl();
}
    

<div class="hero-section home-video">
    @*
            @if (model != null)
            {
                Sitecore.Data.Fields.LinkField linkUrl = model.Fields["MediaLink"];
                var videoUrl = linkUrl.GetFriendlyUrl();

                if (videoUrl != null)
                {
                    <video autoplay muted loop>
                        <source src="./assets/video/hero-banner.mov" type="video/mp4" />
                    </video>
                }
                else
                {
                    @Html.Sitecore().Field("MediaImage", model)
                }
            }

        <video autoplay muted loop>
            <source src="./assets/video/hero-banner.mov" type="video/mp4" />
        </video>
    *@

    @if (itemlink != null)
    {
        <video playsinline autoplay muted loop preload="auto">
            <source src="@itemlink" type="video/mp4" />
        </video>
    }

    <div class="hero-content-wrapper">
        <div class="full">
            <div class="hero-content">

                @if (model != null)
                {
                    Sitecore.Data.Fields.LinkField linkField = model.Fields["ButtonLink"];
                    var btnUrl = linkField.GetFriendlyUrl();

                    <h1 class="full hero-heading fm-am">@Html.Sitecore().Field("MediaTitle", model)</h1>
                    <p class="full hero-desc fm-am">@Html.Sitecore().Field("MediaDescription", model)</p>

                    if (btnUrl != null)
                    {
                        <a href="@btnUrl" class="btn fm-am">@Html.Sitecore().Field("ButtonTitle", model)</a>
                    }
                    else
                    {
                        <a href="#" class="btn fm-am">@Html.Sitecore().Field("ButtonTitle", model)</a>
                    }
                }


            </div>

            @Html.Sitecore().Placeholder("take-a-tour")

        </div>
        <div class="banner-arrow">
            <span class="circle"></span>
            <span class="arrow"></span>
        </div>
    </div>
</div>


