@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);

	var i=1;
}
<div class="take-tour-holder">
	<div class="take-tour-content">
		<div class="owl-carousel dot-bc" id="takeTour">

            @if (model != null && model.HasChildren)
            {

                foreach (Item item in model.GetChildren())
                {
                    Sitecore.Data.Fields.LinkField linkField = item.Fields["LinkUrl"];
                    var btnUrl = linkField.GetFriendlyUrl();

			<div class="full">
				<p class="full fm-am take-tour-info">@Html.Sitecore().Field("Heading", item)</p>
                @if (btnUrl != "")
                {
                    if (linkField.LinkType == "internal")
                    {
				<a href="@btnUrl" class="xxsmal btn btn-000 fl" style="position: relative; z-index">@Html.Sitecore().Field("Title", item)</a>
						i++;
                    }
else if (linkField.IsMediaLink)
                                                                    {

				<a href="#whitePaperPopup" doc-name="AdaniConneX Corporate Brochure" data-type="Brochure" data-url="@btnUrl" class="xxsmal btn btn-000 fl whitePaperActionnew" style="position: relative; z-index">@Html.Sitecore().Field("Title", item)</a>
						i++;
}
                    else
                    {
				<a href="@btnUrl" target="_blank" class="xxsmal btn btn-000 fl" style="position: relative; z-index">@Html.Sitecore().Field("Title", item)</a>
						i++;
                    }
                }
                else
                {
					if(i == 1)
					{
				<a href="javascript:void(0)" class="xxsmal btn btn-000 fl takVirtaulTourActionnew" style="position: relative; z-index">@Html.Sitecore().Field("Title", item)</a>
					}
                     else
					 {
				<a href="javascript:void(0)" class="xxsmal btn btn-000 fl" style="position: relative; z-index">@Html.Sitecore().Field("Title", item)</a>
					 }   
						i++;
                }


			</div> 
                    }             

            }
		</div>
	</div>
</div>