@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    string imgurl = "";
    string altText = "";
    var btnUrl = "";
}

@if (model != null)
{



    <li class="right">
        <div class="full awards-list owl-carousel dot-bc brand-dots" id="awardsList">

            @if (model.HasChildren)
            {
                foreach (Item item in model.GetChildren())
                {
                    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
                    if (imgField != null && imgField.MediaItem != null)
                    {
                        imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                        altText = imgField.Alt;
                    }

                    //if (!String.IsNullOrEmpty(@Html.Sitecore().Field("ButtonLink", item).ToString()))
                    //{
                    //    Sitecore.Data.Fields.LinkField linkField = item.Fields["ButtonLink"];
                    //    btnUrl = linkField.GetFriendlyUrl();
                    //}

                    Sitecore.Data.Fields.LinkField linkField = item.Fields["ButtonLink"];
                    btnUrl = linkField.GetFriendlyUrl();

                <div>
                    <div class="award-item">
                        <div class="card-box card-media-top small-card">

                            @if (imgurl != "")
                            {
                                <div class="card-media">
                                    <img src="@imgurl" alt="@altText" class="">
                                </div>
                            }
                                <div class="card-content">

                                    <p class="full  fs-16">@Html.Sitecore().Field("SubTitle", item)</p>
                                    <p class="full card-title fs-20 fm-am tx-000">@Html.Sitecore().Field("MediaTitle", item)</p>
                                    <p class="full card-desc d-txt">@Html.Sitecore().Field("MediaDescription", item)</p>

        

                                    @if (btnUrl != "")
                                    {
                                        if (linkField.LinkType == "internal")
                                        {
                                            <a href="@btnUrl" class="item-link">@Html.Sitecore().Field("ButtonTitle", item)</a>

                                        }
                                        else
                                        {
                                            <a href="@btnUrl" target="_blank" class="item-link">@Html.Sitecore().Field("ButtonTitle", item)</a>

                                        }
                                    }
                                    else
                                    {
                                        <a href="#" class="item-link">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                    }
                                </div>
                        </div>
                    </div>
                </div>
                }

            }

        </div>
    </li>
}
