@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Fields.LinkField linkvalue = model.Fields["MediaLink"];
    var itemlink = linkvalue.GetFriendlyUrl();

}

<div class="section-holder sustainability-wrapper">
    <div class="content-wrapper">
        <div class="full sustainability-content grid-wrapper mob-col-reverse">
            <div class="left-col custom-col">
                @if (model != null)
                {
                <p class="full h1 fm-asb tx-000 hidden-phone">@Html.Sitecore().Field("MediaTitle", model)</p>
                <p class="full d-txt desc">@Html.Sitecore().Field("MediaDescription", model)</p>

                    Sitecore.Data.Fields.LinkField linkField = model.Fields["ButtonLink"];
                    var btnUrl = linkField.GetFriendlyUrl();                    

                    if (btnUrl != null)
                    {
                        <a href="@btnUrl" class="btn small">@Html.Sitecore().Field("ButtonTitle", model)</a>
                    }
                    else
                    {
                        <a href="#" class="btn small">@Html.Sitecore().Field("ButtonTitle", model)</a>
                    }

                }

            </div>

            <div class="right-col custom-col">
                <p class="full h1 fm-asb tx-000 hidden-desktop">@Html.Sitecore().Field("MediaTitle", model)</p>
                <div class="full movie-holder">
                    <div class="full movie-wrapper image-view" id="sustainabilityVideoHolder" >
                        @if (itemlink != null)
                        {
						@*
                            <video muted loop id="sustainabilityVideo">
                                <source src="@itemlink" type="video/mp4" />
                            </video>
							*@
							<figure>
								<img src="-/media/7AC9A225621242899DBD8FC8A80DF407.ashx" alt=""/>
							</figure>
                        }
                        @*
                        <div class="play-holder" id="sustainabilityVideoToggle">
                            <i class="i-play i-20"></i>
                        </div>
						*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>