@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    string imgThumbUrl = "";
    string imgurl = "";
    string altText = "";
    var btnUrl = "";
}

<li class="right award-2">
@if(model.GetChildren().Count > 2)
{
	    <div class="full awards-list owl-carousel dot-bc brand-dots" id="awardsList">
        @if (model != null && model.HasChildren)
        {

            foreach (Item item in model.GetChildren())
            {

                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
                if (imgField != null && imgField.MediaItem != null)
                {
                    imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                    altText = imgField.Alt;
                }


                Sitecore.Data.Fields.ImageField imgThumb = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaThumbnail"]);
                if (imgThumb != null && imgThumb.MediaItem != null)
                {
                    imgThumbUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgThumb.MediaItem);

                }

                Sitecore.Data.Fields.LinkField linkField1 = item.Fields["ButtonLink"];
                btnUrl = linkField1.GetFriendlyUrl();
                //if (!String.IsNullOrEmpty(@Html.Sitecore().Field("ButtonLink", item).ToString()))
                //{
                //    Sitecore.Data.Fields.LinkField linkField1 = item.Fields["ButtonLink"];
                //    btnUrl = linkField1.GetFriendlyUrl();
                //}


                <div>
                    <div class="award-item">
                        <div class="card-box card-media-top small-card">
                            <div class="card-media">
                                @if (imgurl != "")
                                {
                                    <img src="@imgurl" alt="@altText" class="" />
                                }
                            </div>
                            <div class="card-content">
                                @if (imgThumbUrl != "")
                                {
                                    <div class="feature-icon">
                                        <i><img src="@imgThumbUrl" alt="PDF"></i>
                                    </div>
                                }

                                <p class="full  fs-16">@Html.Sitecore().Field("SubTitle", item)</p>
                                <p class="full card-title fs-20 fm-am tx-000">@Html.Sitecore().Field("MediaTitle", item)</p>
                                <p class="full card-desc">@Html.Sitecore().Field("MediaDescription", item)</p>
                                @if (btnUrl != "")
                                {
                                    if (linkField1.LinkType == "internal")
                                    {
                                        <a href="javascript:void(0)" doc-name="@Html.Sitecore().Field("MediaTitle", item)" data-type="@Html.Sitecore().Field("SubTitle", item)" data-url="@btnUrl" class="item-link whitePaperActionnew">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" doc-name="@Html.Sitecore().Field("MediaTitle", item)" data-type="@Html.Sitecore().Field("SubTitle", item)" data-url="@btnUrl" class="item-link whitePaperActionnew">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                    }
                                }
                                else
                                {
                                    <a href="javascript:void(0)"  doc-name="@Html.Sitecore().Field("MediaTitle", item)" data-type="@Html.Sitecore().Field("SubTitle", item)" data-url="@btnUrl" class="item-link whitePaperActionnew">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
}

else{
    <div class="full awards-list owl-carousel " id="awardsList">
        @if (model != null && model.HasChildren)
        {

            foreach (Item item in model.GetChildren())
            {

                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
                if (imgField != null && imgField.MediaItem != null)
                {
                    imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                    altText = imgField.Alt;
                }


                Sitecore.Data.Fields.ImageField imgThumb = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaThumbnail"]);
                if (imgThumb != null && imgThumb.MediaItem != null)
                {
                    imgThumbUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgThumb.MediaItem);

                }

                Sitecore.Data.Fields.LinkField linkField1 = item.Fields["ButtonLink"];
                btnUrl = linkField1.GetFriendlyUrl();
                //if (!String.IsNullOrEmpty(@Html.Sitecore().Field("ButtonLink", item).ToString()))
                //{
                //    Sitecore.Data.Fields.LinkField linkField1 = item.Fields["ButtonLink"];
                //    btnUrl = linkField1.GetFriendlyUrl();
                //}


                <div>
                    <div class="award-item">
                        <div class="card-box card-media-top small-card">
                            <div class="card-media">
                                @if (imgurl != "")
                                {
                                    <img src="@imgurl" alt="@altText" class="" />
                                }
                            </div>
                            <div class="card-content">
                                @if (imgThumbUrl != "")
                                {
                                    <div class="feature-icon">
                                        <i><img src="@imgThumbUrl" alt="PDF"></i>
                                    </div>
                                }

                                <p class="full  fs-16">@Html.Sitecore().Field("SubTitle", item)</p>
                                <p class="full card-title fs-20 fm-am tx-000">@Html.Sitecore().Field("MediaTitle", item)</p>
                                <p class="full card-desc">@Html.Sitecore().Field("MediaDescription", item)</p>
                                @if (btnUrl != "")
                                {
                                    if (linkField1.LinkType == "internal")
                                    {
                                        <a href="javascript:void(0)" doc-name="@Html.Sitecore().Field("MediaTitle", item)" data-type="@Html.Sitecore().Field("SubTitle", item)" data-url="@btnUrl" class="item-link whitePaperActionnew">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" doc-name="@Html.Sitecore().Field("MediaTitle", item)" data-type="@Html.Sitecore().Field("SubTitle", item)" data-url="@btnUrl" class="item-link whitePaperActionnew">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                    }
                                }
                                else
                                {
                                    <a href="javascript:void(0)"  doc-name="@Html.Sitecore().Field("MediaTitle", item)" data-type="@Html.Sitecore().Field("SubTitle", item)" data-url="@btnUrl" class="item-link whitePaperActionnew">@Html.Sitecore().Field("ButtonTitle", item)</a>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
}

</li>