@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    

}
<div class="bg-grey section-holder sustainability-wrapper bottom-radius-none">
    <div class="content-wrapper">
        <div class="full sustainability-content grid-wrapper">
            @if (model != null)
            {
                Sitecore.Data.Fields.LinkField linkField = model.Fields["ButtonLink"];
                var btnUrl = linkField.GetFriendlyUrl();

            <div class="left-col custom-col know-your-dc">
                <p class="full h1 fm-asb tx-000">@Html.Sitecore().Field("MediaTitle", model)</p>
                <p class="full d-txt desc">
                    @Html.Sitecore().Field("Summary", model)
                </p>
                <p class="full d-txt desc">@Html.Sitecore().Field("MediaDescription", model)</p>
                @if (btnUrl != null)
                {
                    CheckboxField checkbox = model.Fields["ExternalLink"];
                    if (checkbox != null && checkbox.Checked)
                    {
                        <a href="javascript:void(0)" target="_blank" class="btn small getInTouchAction">@Html.Sitecore().Field("ButtonTitle", model)</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="btn small getInTouchAction">@Html.Sitecore().Field("ButtonTitle", model)</a>
                    }
                }
                else
                {
                    <a href="javascript:void(0)" class="btn small getInTouchAction">@Html.Sitecore().Field("ButtonTitle", model)</a>
                }


            </div>
            }
                @Html.Sitecore().Placeholder("map-section")
            </div>
    </div>
</div>