@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model List<SolarApplicationDetail>

<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="panel">
    @Html.Sitecore().Placeholder("page-body")

    <div class="py-3"></div>
    <h5 class="txt-orange">@Html.Sitecore().Dictionary("/SolarApplication/Existing Applications", "Existing Applications")</h5>
    <div class="py-3"></div>
    <table class="table table-bordered mb-0 txt-sm">
        <thead class="bg-white">
            <tr>
                <th valign="middle" style="min-width: 80px;">S.N.</th>
                <th valign="middle">Application Number</th>
                <th valign="middle">Date of Registration</th>
                <th valign="middle">Status</th>
            </tr>
        </thead>
        <tbody>
            @{var i1 = 1;
                foreach (var app in Model)
                {
                    <tr>
                        <td>@i1</td>
                        <td>
                            @app.TempRegistrationNumber
                        </td>
                        <td>
                            @app.CreatedDate
                        </td>
                        <td>
                            @app.ApplicationStatus
                        </td>
                    </tr>
                    i1 = i1 + 1;
                }
            }
        </tbody>
    </table>
</div>

