@using Sitecore.Mvc
@using Adani.BAU.Transmission.Project.Platform
@using Adani.BAU.Transmission.Project.Platform.Helper
<!DOCTYPE html>

<html lang="en" class=" js no-touch cssanimations csstransitions">



<head>

    <meta charset="utf-8">
    @{
        var contextTitle = Sitecore.Context.Item["Title"];
        var Title = "Adani : Western Transmission";
        var IsHomepage = true;
    }

    @if (contextTitle != "Home")
    {
        IsHomepage = false;
        Title = "Adani : " + contextTitle;

    }
    <title>@Title</title>
    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta name="author" content="adani group">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="Content-Security-Policy" value="frame-ancestors 'self' ;default-src 'self' https://www.google.com data:; script-src 'self'  https://*.westerntrans.in  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-1726c7f27c' 'nonce-2726c7f27c' 'nonce-3726c7f27c' 'nonce-4726c7f27c' 'nonce-5726c7f27c' 'nonce-6726c7f27c' 'nonce-7726c7f27c'; style-src 'unsafe-inline' 'self' https://*.westerntrans.in ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.westerntrans.in https://*.google.com https://www.google.co.in https://i.ytimg.com;  font-src 'self'  https://*.westerntrans.in data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.westerntrans.in https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com     />

    <meta name="Referrer-Policy" value="no-referrer | same-origin" />
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    <!-- Custom CSS -->

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/bootstrapmin">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/animate">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/owlcarouselmin">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/jquerybxslider">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/jqueryflipstermin">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/adani">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/timeline">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/magnific-popup">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/aos">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/fontawesomemin">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/header">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/nav">

    <link rel="stylesheet" href="~/-/media/Project/Westerntrans/themes/css/western-Transmission.css">

    <!-- Favicon -->

    <link rel="shortcut icon" href="/Assets/WesternTransmission/images/favicon.png">

    <link rel="apple-touch-icon" href="/Assets/WesternTransmission/images/apple-touch-icon.png">

    <link rel="apple-touch-icon" sizes="72x72" href="/Assets/WesternTransmission/images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="/Assets/WesternTransmission/images/apple-touch-icon-114x114.png">

    <style>

        body {
            overflow-x: hidden !important;
        }

        .owl-carousel .item-video {
            height: 420px;
        }

        .owl-carousel .owl-video-tn {
            background-size: 100%;
        }

        .flipster::-webkit-scrollbar {
            display: none;
        }

        .flipster__button {
            top: 40%;
        }

        .flipster__button--prev {
            width: 19px;
            height: 53px;
            background: transparent url(../../images/bntArrow_prev_gry.png) no-repeat scroll 0px 0px;
        }

        .flipster__button--next {
            width: 19px;
            height: 53px;
            background: transparent url(../../images/bntArrow_next_gry.png) no-repeat scroll 0px 0px;
        }
    </style>

    <style>
        .scollspy {
            position: fixed;
            z-index: 100;
            top: 50%;
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            background: rgba(0,0,0,.6);
            padding: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            right: 0;
        }

            .scollspy li {
                display: block;
                width: 14px;
                height: 13px;
                margin: 7px;
                position: relative;
            }

                .scollspy li a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    text-decoration: none;
                }

                    .scollspy li a span {
                        border-radius: 50%;
                        position: absolute;
                        z-index: 1;
                        height: 4px;
                        width: 4px;
                        border: 0;
                        background: #fff;
                        left: 50%;
                        top: 50%;
                        margin: -2px 0 0 -2px;
                        -webkit-transition: all .1s ease-in-out;
                        -moz-transition: all .1s ease-in-out;
                        -o-transition: all .1s ease-in-out;
                        transition: all .1s ease-in-out;
                    }

                    .scollspy li a.active span {
                        height: 12px;
                        width: 12px;
                        margin: -6px 0 0 -6px;
                        border-radius: 100%;
                    }
    </style>
    @Html.Raw(@ContentHelper.GTMHeader(Constant.strWTGTMScriptHeadBodyTag))
</head>



<body data-bs-spy="scroll">
    @Html.Raw(@ContentHelper.GTMBody(Constant.strWTGTMScriptHeadBodyTag))


    @Html.Sitecore().Placeholder("header")



    <div id="adScroller">

        @Html.Sitecore().Placeholder("ImageBanner")

        @Html.Sitecore().Rendering("{E9586A93-E31B-4D8A-AE38-CD8101A4C11D}")

        @Html.Sitecore().Placeholder("main")
        @Html.Partial("/Views/Layouts/WesternTransmission/WTcookiePopup.cshtml");

        @Html.Sitecore().Placeholder("footer")

    </div>
    @if (IsHomepage)
    {
        <nav class="scollspy">
            <ul>
                <li>
                    <a class="active" href="#i1"><span></span></a>
                </li>
                <li>
                    <a href="#offerings">
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#i3">
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#i4">
                        <span></span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    <!-- Scroll to Top -->

    <a href="#" class="scrollToTop"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>



    <!-- JAVASCRIPT -->

    <script src="~/-/media/Project/Westerntrans/themes/js/jquery"></script>

    <script src="~/-/media/Project/Westerntrans/themes/js/adani"></script>

    <script src="~/-/media/Project/Westerntrans/themes/js/scrolloverflowmin"></script>

    <script src="~/-/media/Project/Westerntrans/themes/js/jqueryflipstermin"></script>

    <script src="~/-/media/Project/Westerntrans/themes/js/jquerymagnificpopupmin"></script>

    <script src="~/-/media/Project/Westerntrans/themes/js/common"></script>

    <script src="~/-/media/Project/Westerntrans/themes/js/Web-Transmission"></script>
    <script src="~/-/media/Project/Westerntrans/themes/js/sendEmail"></script>

    <script nonce="1726c7f27c">

        $('.unique-home').owlCarousel({

            loop: false,

            margin: 0,

            nav: true,

            dots: true,

            navText: ["<i class='fa fa-chevron-left' aria-hidden='true'></i>", "<i class='fa fa-chevron-right' aria-hidden='true'></i>"],

            responsive: {

                0: {

                    items: 1

                },

                600: {

                    items: 3

                },

                1000: {

                    items: 3

                }

            }

        })

    </script>

    <script nonce="2726c7f27c">

        $(document).ready(function () {

            $('#pw-genBanner').bxSlider({

                auto: true,

                pause: 5000,

                mode: 'fade',

                controls: false,

            });

        });

    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            var width = $(window).width();

            var height = $(window).height();

            if ((width >= 1025 && height >= 700)) {

                $('#adScroller').fullpage({

                    //Navigation

                    navigation: true,

                    //navigationTooltips:['Home','Adani Timeline','Unmatched Scale','Video Gallery','Our Group Websites','Footer'],

                    slidesNavigation: true,

                    loopBottom: false,



                    //Scrolling

                    css3: true,

                    scrollBar: true,

                    responsiveSlides: true,

                    responsiveWidth: 1025,

                    //scrollOverflow: true,



                    //Accessibility

                    keyboardScrolling: true,



                    //Design

                    verticalCentered: false,

                    //paddingTop: '50px',



                    afterRender: function () {

                        setInterval(function () {

                            $.fn.fullpage.moveSlideRight();

                        }, 10000);

                    },

                });

            }

        });

    </script>

    <script nonce="3726c7f27c">

        AOS.init({

            easing: 'ease-out-back',

            duration: 1500,

            disable: function () {

                var maxWidth = 1024;

                return window.innerWidth < maxWidth;

            }

        })

    </script>

    <script nonce="4726c7f27c">

        $('.feature-slider').owlCarousel({

            loop: true,

            margin: 10,

            nav: false,

            responsive: {

                0: {

                    items: 1

                },

                600: {

                    items: 1

                },

                1000: {

                    items: 1

                }

            }

        })

        $('.feature-slider2').owlCarousel({

            loop: false,

            margin: 10,

            nav: true,

            auto: true,

            dots: false,

            navText: ["<i class='fa fa-chevron-left' aria-hidden='true'></i>", "<i class='fa fa-chevron-right' aria-hidden='true'></i>"],

            responsive: {

                0: {

                    items: 1

                },

                600: {

                    items: 3

                },

                1000: {

                    items: 5

                }

            }

        })

    </script>

    <script nonce="5726c7f27c">

        $('.md-carousel').owlCarousel({

            loop: false,

            nav: false,

            dots: true,

            responsive: {

                0: {

                    items: 1

                },

                600: {

                    items: 3

                },

                1000: {

                    items: 5

                }

            }

        })

        $('.md-carousel2').owlCarousel({

            loop: false,

            margin: 10,

            nav: false,

            dots: true,

            responsive: {

                0: {

                    items: 1

                },

                600: {

                    items: 3

                },

                1000: {

                    items: 5

                }

            }

        })

    </script>

    <script nonce="6726c7f27c">
        $('.tabLink').click(function () {

            if ($(this).parent().hasClass('dirTabAct')) {

                $('.dirTabAct').removeClass('dirTabAct');



                $('.directConten').slideUp();

                return;

            }

            $('.dirTabAct').removeClass('dirTabAct');

            $(this).parent().addClass('dirTabAct');

            $('.directConten').slideUp();

        })

    </script>

    <script nonce="7726c7f27c">

        function scrollSpy() {

            var sections = ['i1', 'offerings', 'i3', 'i4', 'i5'];

            var current;

            for (var i = 0; i < sections.length; i++) {

                var top = ($('#' + sections[i]).offset() || { "top": NaN }).top - 95;

                if (top <= $(window).scrollTop()) {

                    current = sections[i];

                }

            }



            $(".scollspy a[href='#" + current + "']").addClass('active');

            $(".scollspy a").not("a[href='#" + current + "']").removeClass('active');

        }

        // smooth scrolling navigation

        $(".scollspy a").click(function () {

            var target = $(this).attr("href");

            $("body, html").animate({

                scrollTop: target.offset().top

            }, 500);

            return false;

        });

        //scrollSpy call

        $(document).ready(function () {

            scrollSpy();

        });

        $(window).scroll(function () {

            scrollSpy();

        });

    </script>

</body>
</html>