@model Farmpik.Domain.Commands.ImportFileCommands.ImportDetails

<div class="template-form">
    <div class="col-2">
        <div class="template-title">@Model.TemplateName</div>
        <span>
            @if (Model.TemplateName == "Price Master" || Model.TemplateName == "Product details")
            {<a href="/-/media/Project/Farmpik/DashboardAPI/files/@(Model.TemplateName).xlsx">Download Template</a>}
            <a class="download-template" data-href="/api/FarmpikTemplate/DownloadTemplate?name=@Model.TemplateName" data-download-name="@(Model.TemplateName).xlsx">View</a>
        </span>
    </div>
    <div class="col-2">
        <div class="template-records txt-c">
            <span class="NoOfUploads">@Model.NoOfUploads</span>
        </div>
    </div>
    <div class="col-2">
        <div class="template-date DisplayLastImportedDate">@(Model.DisplayLastImportedDate)</div>
        <span class="LastImportedUser">By @Model.LastImportedUser</span>
    </div>
    <div class="col-4">
        <div class="drag-drop form-control form-control-lg">
            <div class="row after-upload">
                <img src="/-/media/Project/Farmpik/DashboardAPI/image/spreadsheet.svg" class="col-2" />
                <div class="col-6 change-template">
                    <div class="template-date">@Model.TemplateName</div>
                    <span class="file-name"></span>
                </div>
                <div class="col-1 upload-icon" data-template-name="@Model.TemplateName"><img src="/-/media/Project/Farmpik/DashboardAPI/image/upload.svg" class="small-icon" /></div>
                <div class="col-1 delete-icon"><img src="/-/media/Project/Farmpik/DashboardAPI/image/delete.svg" class="small-icon" /></div>
                @Html.Hidden("ImportFile", "", new { type = "file", hidden = true })
                <div class="progress progress-bar progress-bar-striped bg-farmpik-success" role="progressbar" style="width: 50%"></div>
            </div>
            <div class="text-center before-upload">
                <img src="/-/media/Project/Farmpik/DashboardAPI/image/add-plus.svg" /> &nbsp; Upload/ Drag & Drop
            </div>
        </div>
    </div>
    <div class="col-2 txt-c">
        <div class="template-records template-error TotalRecords"></div>
    </div>
    <div class="col-error">
        <div class="row template-records template-error">
            <div class="error-block">
                <div class="col-1" data-template-name="@Model.TemplateName"><img src="/-/media/Project/Farmpik/DashboardAPI/image/info.svg" class="small-icon info" /><span class="tool-tip"></span></div>
                <span class="text-danger col-5 ErrorRecords"> @Model.ErrorRecords</span>
                <div class="col-3 pointer-event"><img src="/-/media/Project/Farmpik/DashboardAPI/image/download.svg" height="15" class="small-icon download-template" data-href="/api/FarmpikTemplate/DownloadTemplate?name=@(Model.TemplateName)&isErrorTemplate=true" data-download-name="Error @(Model.TemplateName).xlsx" aria-hidden="true" /></div>
            </div>
            </div>
        </div>
</div>
