@using Sitecore.Mvc;
@using Sitecore.Mvc.Configuration;

@model Sitecore.Farmpik.Website.ViewModel.LoginViewModel
<div class="login row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="position-fixed p-3" style="z-index: 11">
            <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        @*<img src="/-/media/Project/Farmpik/DashboardAPI/image/error.svg" class="rounded mr-2" alt="..."> &nbsp; Invalid Credentials.*@
                    </div>
                </div>
            </div>


            @*@using (Html.BeginForm("Login", "FarmpikLogin", FormMethod.Post, new { @class = "login-form" }))
            {*@

            <form action="/api/FarmpikLogin/Login" method="post" class="login-form" autocomplete="off">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="login-logo"></div>
                <p class="login-header">Sign In</p>
                <p class="login-content">Sign In to upload & access all documents at one place.</p>
                <div class="login-block">
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control login-input", @placeholder = "EmailId", @autocomplete = "off" })
                        @Html.LabelFor(x => x.EmailId, "Email ID")
                        @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-floating">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control login-input", @placeholder = "password" , @autocomplete = "off"})
                        @Html.LabelFor(x => x.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg login-button" disabled>Sign in</button>
                </div>

            </form>
        </div>
        <input value="@Model.InValidCredential" id="InValidCredential" hidden />
        <input value="@Model.ErrorMessage" id="ErrorMessage" hidden />
        <input value="@Model.IsSignOut" id="IsSignOut" hidden />
    </div>
 </div>