@using Sitecore.Mvc

@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var menu = Sitecore.Context.Database.GetItem(datasource);
}


@Html.Sitecore().Field("Body", model)

<footer class="container-fluid">
    <div class="row bg-1e2d3b py-2">
        <div class="col-md-12 text-center my-auto">
            <p class="text-center py-0">

                @foreach (var element in menu.GetChildren().ToList())
                {
                    var childCount = element.GetChildren().Count();

                    if (childCount > 0)
                    {
                        <li class="nav-item dropdown my-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarAbout" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @Html.Sitecore().Field("NavigationTitle", element)

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarAbout">
                                @foreach (var child in element.GetChildren().ToList())
                                {
                                    @Html.Sitecore().BeginField("Link", child, new { haschildren = true, @class = "dropdown-item" })

                                    @Html.Sitecore().Field("NavigationTitle", child)

                                    @Html.Sitecore().EndField()
                                }
                            </div>
                        </li>

                    }
                    else
                    {

                        @Html.Sitecore().BeginField("Link", element, new { haschildren = true, @class = "font-light text-white px-3 my-auto" })

                        @Html.Sitecore().Field("NavigationTitle", element)

                        @Html.Sitecore().EndField()
                    }



                }

                <a class="font-light text-white px-3 my-auto" href="-/media/0D1F2A3BE1B84961BB2E6A1EF9808E5C.ashx">BROCHURE</a>
            </p>
        </div>
    </div>
    <!--model-->
    <div class="modal fade" id="disclaimerPopup" tabindex="-1" role="dialog" aria-labelledby="disclaimerPopupLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg my-auto my-5 py-5" role="document">
            <div class="modal-content py-3 px-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="disclaimerPopupLabel">DISCLAIMER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="lead">
                        Note: The photographs/artistic impressions contained herein are illustrative and used for
                        indicative purpose only.This is purely conceptual and not legal offering.No warranty either
                        expressly or impliedly given that the completed development of the project will comply in any
                        degree with such artistic impression depicted herein.All specifications,amenities etc. of the
                        unit/project shall be as per the final agreement to sell between the parties.Recipients are
                        advised to use their discretion in relying on the information described/shown herein.
                    </p>
                    <p class="lead">
                        Please contact our Sales Team at <a href="tel:18001202852" target="_blank">
                            1800 120
                            2852
                        </a> (India)/ <a href="mailto:info@adanirealty.com"
                                         target="_blank">info@adanirealty.com</a> for the updated sales and marketing information and
                        collaterals.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--endmodel-->
    <!--otpModel-->
    <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="otpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="otpModalLabel">Enter OTP to submit your details.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-otp" class="l-spacing1">Enter OTP</label>
                        <input type="number" class="form-control text-center" id="input-otp" placeholder="_ _ _ _ _ _">
                        <p class="err_msg_pop"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary generate_otp" data-count="0">Re-send OTP</button>
                    <button type="button" class="btn btn-primary verify_otp">Verify & Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--endOtpModel-->
    <!--footer otp modal-->
    <div class="modal fade" id="footer-otpModal" tabindex="-1" role="dialog" aria-labelledby="footer-otpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="footer-otpModalLabel">Enter OTP to submit your details.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="footer-input-otp" class="l-spacing1">Enter OTP</label>
                        <input type="email" class="form-control text-center" id="footer-input-otp" placeholder="_ _ _ _ _ _">
                        <p class="footer-err_msg_pop"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary footer-generate_otp" data-count="0" >Re-send OTP</button>
                    <button type="button" class="btn btn-primary footer-verify_otp">Verify & Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <small class="d-block my-2">© 2016 - 2020 Adani Realty</small>
            </div>
            <div class="col-2 col-md">
                <small class="d-block my-2">Disclaimer</small>
            </div>
            <div class="col-md-5 text-right">
                <!--<small class="d-block my-2">
                    Designed by <a href="http://spotlights.co.in/"
                                   target="_blank">spotlights.co.in</a>
                </small>-->
            </div>
            <div class="col-md-12">
                <small class="d-block my-2">* All Images are for representation purpose only</small>
            </div>
        </div>
    </div>
</footer>