@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Electricity.Website.Model;
@model Sitecore.Electricity.Website.Model.ITSRUserModel
@{
    var itemListing = Sitecore.Context.Database.GetItem(Templates.ITSR.ITSRBidderFormListing);
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="pageContent">
    <div class="container">
        @using (Html.BeginForm("Logout", "ITSRForm", FormMethod.Post))
        {
            <div class="col-12 p-0 pb-3">
                <div class="float-right"><button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("Electricity/Tender/Logout", "Logout")</button></div>
                <div class="clearfix"></div>
            </div>
        }
        <!-- Section -->
        <div class="pb-3">
            <div>
                <div class="mr-auto ml-auto">
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">@Html.Sitecore().Dictionary("Electricity/Tender/Create User", "Create User")</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmCreate", @class = "form-signin", @enctype = "multipart/form-data" }))
                            {
                                @Html.AddUniqueFormId()
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row form-group pt-md-2">
                                            <label class="col-sm-5 col-md-5 col-form-label">
                                                @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row form-group pt-md-2">
                                            <label class="col-sm-5 col-md-5 col-form-label">
                                                @Html.Label("Email Id", htmlAttributes: new { @class = "control-label" })
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row form-group pt-md-2">
                                            <label class="col-sm-5 col-md-5 col-form-label">
                                                @Html.Label("Mobile Number", htmlAttributes: new { @class = "control-label" })
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control reset-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row form-group pt-md-2">
                                            <label class="col-sm-5 col-md-5 col-form-label">
                                                @Html.Label("User Name", htmlAttributes: new { @class = "control-label" })
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control reset-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row form-group pt-md-2">
                                            <label class="col-sm-5 col-md-5 col-form-label">
                                                @Html.Label("User Role", htmlAttributes: new { @class = "control-label" })
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                @Html.DropDownListFor(m => m.Role, new SelectList(Model.UserRoles, "RoleValue", "RoleName", Model.Role), "Select", new { @class = "form-control", id = "ddlRole", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer txt-right">
                            <a href="@itemListing.Url()" class="btn btn-link">@Html.Sitecore().Dictionary("Electricity/Tender/Back To form Text", "Back To form List")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

