@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.AdaniCare.Website.Models.AdaniCareOfferDetails

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div id="Claim_Offer_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">
        @using (Html.BeginForm("AdaniCareClaimOfferDirectRedirect", "AdaniCare", FormMethod.Post, new { id = "AdaniCareClaimOfferDirectRedirect" }))
        {
            @Html.AntiForgeryToken()
            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p>Please wait, we are redirecting you to the offer company website.</p>
                <button type="button" class="close reset" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(x => x.OfferId)
                @Html.HiddenFor(x => x.OfferCode)
                @Html.HiddenFor(x => x.OfferName)
                @Html.HiddenFor(x => x.OfferCompany)
                @Html.HiddenFor(x => x.OfferLink)
                @*<form class="pt-3">
                <div class="form-group row py-2">
                    <div class="col-sm-12">
                        <button type="submit" id="ClaimAnOffer" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>*@
            </div>
        </div>
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var OfferCode = $("#OfferIdCMS").text();
        $("#OfferId").val(OfferCode);

        var OfferCode = $("#OfferCodeId").text();
        $("#OfferCode").val(OfferCode);

        var offerName = $("#OfferHeading").text();
        $("#OfferName").val(offerName);

        var offerCompany = $("#OfferCompanyName").text();
        $("#OfferCompany").val(offerCompany);

        var offerLink = $("#OfferLinkToRedirect").text();
        $("#OfferLink").val(offerLink);
        $(".claim-offer-check").click(function () {
           
            $("#AdaniCareClaimOfferDirectRedirect").submit();
        });

       

    });

</script>
