@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.AdaniCare.Website.Models.AdaniCareOfferDetails

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div id="Claim_Offer_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">
        @using (Html.BeginForm("AdaniCareClaimOffer", "AdaniCare", FormMethod.Post, new { id = "AdaniCareClaimOffer" }))
        {
            @Html.AntiForgeryToken()
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <p>Please fill in your contact information if you want to go with this offer.</p>
                    <button type="button" class="close reset" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.OfferId)
                    @Html.HiddenFor(x => x.OfferCode)
                    @Html.HiddenFor(x => x.OfferName)
                    @Html.HiddenFor(x => x.OfferCompany)
                    @Html.HiddenFor(x => x.OfferLink)
                    <form class="pt-3">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Email Adddress<span class="required">*</span></label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.ClaimEmailAddress, new { @class = "form-control", @autocomplete = "off", required = "required", id = "emailAddressForClaim", @maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.ClaimEmailAddress)
                                <span class="field-validation-error" id="emailerror"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Mobile Number<span class="required">*</span></label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.ClaimMobileNumber, new { @class = "form-control", @autocomplete = "off", required = "required", id = "mobilenumberForClaim", @maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.ClaimMobileNumber)
                                <span class="field-validation-error" id="mobileerror"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div id="recaptcha1" class="ml-3"></div>
                            <div class="col-sm-8 col-lg-6">
                                @Html.HiddenFor(model => model.reResponse, new { id = "reResponse" })
                                @Html.ValidationMessageFor(model => model.reResponse, "", new { @class = "help-block" }, "p")
                                <span class="field-validation-error" id="captchaErrorMessage">@ViewBag.Message</span>
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            <div class="col-sm-12">
                                <button type="submit" id="ClaimAnOffer" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-reset reset d-none">Reset</button>
                            </div>
                        </div>

                    </form>
                    <p class="FT_10 txt-xs">Please mention the correct email address and contact information as the same with the AEML account information will be sent across to Adani Group company to contact you directly.</p>
                </div>
            </div>

        }
    </div>
</div>
