@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media

@model Sitecore.Mvc.Presentation.RenderingModel
@{
    

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    
}



<div class="container-fluid">
    <div class="row my-3 p-3">
        <div class="col-md-12 text-center">
            <h2 class="heading-title">Inspire BKC</h2>
            <div class="line-below"></div>
            <h3 class="pb-2">IGBC Certified Inspire BKC is Green Commercial Project in BKC Mumbai</h3>
        </div>
        <div class="col-md-12 py-5">
            <div class="row">
                @foreach (var item in model.GetChildren().ToList())
                {
                    Sitecore.Data.Fields.ImageField BannerImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["BannerImage"]);
                    string BannerImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(BannerImageField.MediaItem);

                    Sitecore.Data.Fields.ImageField MobileImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["MobileImage"]);
                    string MobileImageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MobileImageField.MediaItem);

                   // Sitecore.Data.Fields.LinkField linkfld = item.Fields["ExploreLink"];
                    //var url = linkfld.GetFriendlyUrl();
                <div class="col-md-4 col-lg-4 pt-4">
                    <a href="@BannerImageUrl" data-lightbox="gallery-1" data-title="">
                        <picture>
                            @if (!string.IsNullOrEmpty(BannerImageUrl))
                            {
                                <source srcset="@BannerImageUrl" media="(min-width: 767px)">
                            }

                            @if (!string.IsNullOrEmpty(MobileImageUrl))
                            {
                                <source srcset="@MobileImageUrl" media="(min-width: 0)">
                            }
                            <img alt="inspirebkc" srcset="@BannerImageUrl" src="@BannerImageUrl" style="width:100%">
                        </picture>
                    </a>
                   </div>

                }
            </div>
        </div>
    </div>
</div>
