@using Sitecore.Mvc
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using Project.Mining.Website.Templates

<!DOCTYPE html>

<html lang="en">

@{
    var pageName = Sitecore.Context.Item;
    Sitecore.Data.Items.Item GtmFieldId = Sitecore.Context.Database.GetItem(BaseTemplates.GtmFieldTemplate.GtmFieldId);
}
<title>@pageName.Fields["Title"].Value</title>
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'; img-src * data:; media-src * data:;">
    <meta name="Referrer-Policy" value="no-referrer | same-origin" />
    @Html.Raw(@GtmFieldId.Fields[BaseTemplates.GtmFieldTemplate.HeaderFieldId].Value)
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Html.Sitecore().Placeholder("head")
    <link rel="stylesheet" href="/-/media/Project/Mining/css/bootstrapmin.css" asp-append-version="true">
    <link rel="stylesheet" href="/-/media/Project/Mining/css/fontawesome-all.css" asp-append-version="true">
    <link rel="stylesheet" href="/-/media/Project/Mining/css/slick.css" asp-append-version="true">
    <link rel="stylesheet" href="/-/media/Project/Mining/css/style.css" asp-append-version="true">

    @Html.RenderFormStyles()
</head>
<body>
    @Html.Raw(@GtmFieldId.Fields[BaseTemplates.GtmFieldTemplate.BodyFieldId].Value)
    @Html.Sitecore().Placeholder("header")
    <main>
        @Html.Sitecore().Placeholder("main")

    </main>
    @Html.Sitecore().Placeholder("footer")

    <script src="/-/media/Project/Mining/js/jquerymin.js"></script>
    <script src="/-/media/Project/Mining/js/bootstrapmin.js"></script>
    <script src="/-/media/Project/Mining/js/slick.js"></script>
    <script src="/-/media/Project/Mining/js/main.js"></script>
    <script src="/-/media/Project/Mining/js/Contact.js"></script>
    <script src="/-/media/Project/Mining/js/projectContact.js"></script>
    <script src="/-/media/Project/Mining/js/site.js"></script>
    <script src="/-/media/Project/Mining/js/autocomplete.js"></script>
    @Html.RenderFormScripts()
</body>
</html>