@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model IEnumerable<Sitecore.AhmedabadAirport.Website.Models.AhmedabadFlight>


@{
    var i = 1;
    var today = DateTime.Today;
    var tomorrow = today.AddDays(1);
    var yesterday = today.AddDays(-1);
}
<section class="f-search__content bg-white">
    <div class="container-fluid">
        <div class="f-search__content-form">
            <div class="row">
                <div class="col-lg-9">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#arrival">Arrival</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#departure">Departure</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 text-right d-none">
                    <div class="f-search__content-form__status">
                        <p>Last Updated</p>
                        <p>21.44 <span><a href="#">update</a></span></p>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content p-0">
                <div class="tab-pane p-0 active" id="arrival">
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" id="DateArrival" name="DateArrive" required="required">
                                    <option value="@yesterday.ToShortDateString()">@yesterday.ToShortDateString()</option>
                                    <option value="@today.ToShortDateString()" selected>@today.ToShortDateString()</option>
                                    <option value="@tomorrow.ToShortDateString()">@tomorrow.ToShortDateString()</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="input-group flight_search ">
                                    <input type="text" id="txtSearch" placeholder="Flights Airlines" class="form-control" /> <button type="button" value="Search" id="btnSearch"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="f-search__results table-responsive">
                        <table class="table table-hover mb-0 flight_details">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Airlines</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Flight</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Origin</th>
                                    <th class="th-lg" style="width: 18%;min-width: 180px;">Scheduled Time</th>
                                    <th class="th-lg" style="width: 17%;min-width: 140px;">Estimated Time</th>
                                    <th class="th-lg">Status</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody id="arrival2">
                                @foreach (var item in Model)
                                {
                                    if (item.Flightkind == "Arrival")
                                    {
                                        <tr>
                                            <td>@item.Airline</td>
                                            <td>@item.FlightNumber</td>
                                            <td>@item.ArrivingFrom</td>
                                            <td>@item.Scheduled</td>
                                            <td>@item.EstimationTime</td>
                                            <td>@item.Status</td>




                                        </tr>
                                    }

                                }



                            </tbody>
                            <!--Table body-->
                        </table>
                    </div>
                </div>
                <div class="tab-pane p-0 fade" id="departure">
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" id="DateDeparture" name="DateDepart" required="required">
                                    <option value="@yesterday.ToShortDateString()">@yesterday.ToShortDateString()</option>
                                    <option value="@today.ToShortDateString()" selected>@today.ToShortDateString()</option>
                                    <option value="@tomorrow.ToShortDateString()">@tomorrow.ToShortDateString()</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="input-group flight_search">
                                    <input type="text" id="txtSearches" placeholder="Flights Airlines" class="form-control" /> <button type="button" value="Search" id="btnSearchDeparture"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="f-search__results table-responsive">
                        <table class="table table-hover mb-0 flight_details">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Airlines</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Flight</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Destination</th>
                                    <th class="th-lg" style="width: 18%;min-width: 180px;">Scheduled Time</th>
                                    <th class="th-lg" style="width: 17%;min-width: 140px;">Estimated Time</th>
                                    <th class="th-lg">Status</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody id="departure2">
                                @foreach (var item in Model)
                                {
                                     if (item.Flightkind == "Departure")
                                    {
                                        <tr>
                                            <td>@item.Airline</td>
                                            <td>@item.FlightNumber</td>
                                            <td>@item.ArrivingFrom</td>
                                            <td>@item.Scheduled</td>
                                            <td>@item.EstimationTime</td>
                                            <td>@item.Status</td>

                                        </tr>
                                    }

                                }



                            </tbody>
                            <!--Table body-->
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
