@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    
}

@if (currentItem != null)
{
       <div class="scrollableOffset" id="@currentItem.DisplayName">
           <div class="helpline-detail">
               <h4>@Html.Sitecore().Field("Title", currentItem)</h4>
               <p>@Html.Sitecore().Field("SubTitle", currentItem)</p>
               <ul class="d-flex">
                   <li>
                       <a href="#" class="d-flex align-items-center" style="pointer-events: none; cursor: default;">
                           <i class="i-call"></i>
                           <p>
                               <span>@Html.Sitecore().Field("Contact Number", currentItem)</span>
                           </p>
                       </a>
                   </li>
                   <li>
                       <a href="#" class="d-flex align-items-center" style="pointer-events: none; cursor: default;">
                           <i class="i-mail"></i>
                           <p>
                               <span>@Html.Sitecore().Field("Email", currentItem)</span>
                           </p>
                       </a>
                   </li>
               </ul>
           </div>
       </div>
    
}
