@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
    Sitecore.Data.Fields.ImageField whatsappImgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Whatsapp Image"]);
    string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Image") : "";
    string whatsappimageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Whatsapp Image") : "";
    <div class="adl-info">
        <div class="business-service">
            <h3 class="sr-heading">@Html.Sitecore().Field("Title", currentItem)</h3>
            <div class="service-tiles">
                <div class="img-box">

                    <img src=" @imageUrl " loading="lazy">
                </div>
                <div class="content-box">
                    <h4>@Html.Sitecore().Field("SubTitle", currentItem)</h4>
                    <ul class="service-option">
                        <li>
                            <a href="#">
                                <i class="i-call"></i>
                                <p>
                                    @Html.Sitecore().Field("Contact Number", currentItem)
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="i-mail"></i>
                                <p>
                                    @Html.Sitecore().Field("Email", currentItem)
                                </p>
                            </a>
                        </li>
                        <li>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img-whtsapp"><img src="@whatsappimageUrl" loading="lazy"></div>
                                <p>@Html.Sitecore().Field("Whatsapp Number", currentItem)</p>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
}

