@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel

<div class="sectionWrapper statewiseWrapper widthControl">    
    @Html.Sitecore().DynamicPlaceholder("banner-wrapper")
    
    @Html.Sitecore().DynamicPlaceholder("tabs-wrapper")
    <div class="covid-wrapper">
        @Html.Sitecore().DynamicPlaceholder("covid-wrapper")
    </div>
    <div class="adl-info">
        @Html.Sitecore().DynamicPlaceholder("business-service")
        @Html.Sitecore().DynamicPlaceholder("section-wrapper")
        <div class="sectionWrapper">
            @Html.Sitecore().DynamicPlaceholder("section-wrapperContainer")
            <div class="covid-wrapper">
                <div class="section-wrap mainHeading">                    
                        @Html.Sitecore().DynamicPlaceholder("faq-wrapper")                    
                </div>
            </div>
        </div>
    </div>
</div>

