@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'     https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.facebook.com/ https://www.linkedin.com/ https://twitter.com/ https://www.youtube.com/ https://www.instagram.com/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-hgbvcf456' ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com       />
    <!-- Google Tag Manager -->
    <script nonce="hgbvcf456">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PK6SS6S');
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="images/AdaniInstitute/favicon.png" />

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--Animate CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">

    <!--Lato Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <style>
        .npfTitle-81bfbc5a86cba02697d97b2558e693d4 {
            text-align: center;
        }
    </style>


</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PK6SS6S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<!--<script type="text/javascript"> var npf_d='https://aidtm.nopaperforms.com'; var npf_c='665'; var npf_m='1'; var s=document.createElement("script"); s.type="text/javascript"; s.async=true; s.src="https://track.nopaperforms.com/js/track.js"; document.body.appendChild(s); </script>
    <script src="https://eequeuestorage.blob.core.windows.net/staticfiles/aidtm/ee-form-widget/form-2/widget.js"></script>-->
       
        @Html.Sitecore().Placeholder("Header")
   

    <!-- /Header -->
    <!--  Main content Section-->
    <main>
	@Html.Sitecore().Placeholder("faculty-breadcrumb")
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--<div class="fixed_cta"> 
        <a href="http://admissions.aidtm.ac.in/" target="_blank"><img alt="ApplyOnline" src="~/images/AdaniInstitute/fixed-cta.png"></a> 
    </div> -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>
   
<div class="sidebar_s-icons">
<ul>
    <li class="fb"><a href="https://www.facebook.com/aidtmofficial" target="_blank"><img alt="AIDTM Facebook" src="/Images/AdaniCapital/FB.jpg"><span>Facebook</span></a></li>
    <li class="link"><a href="https://www.linkedin.com/company/aidtmofficial/" target="_blank"><img alt="AIDTM Linkedin" src="/Images/AdaniCapital/in.jpg"><span>Linkedin</span></a></li>
	  <li class="twitter"><a href=" https://twitter.com/aidtmofficial" target="_blank"><img alt="adani twitter" src="/-/media/C4C00D1CB29C4C28874D72043CD0FD63.jpg?la=en&amp;hash=C122DECDDBFE0B4E71C322282AB82A8B" target="_blank"><span>Twitter</span></a></li>
    
    <li class="ytube"><a href="https://www.youtube.com/channel/UCNsDejr_E2lHCaaqtrw_qEQ" target="_blank"><img alt="AIDTM Youtube" src="/Images/AdaniCapital/youtube.jpg"><span>Youtube</span></a></li>
    <li class="insta"><a href="https://www.instagram.com/aidtmofficial/" target="_blank"><img alt="adani Instagram" src="/Images/AdaniCapital/Insta.png" target="_blank"><span>Instagram</span></a></li>
    
</ul>
</div>

   <footer>
       
     @Html.Sitecore().Placeholder("footer")
      </footer>
	  
        <!-- /Footer -->
        <!-- To top -->
        <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
            <span class="fa fa-angle-up"></span>
        </a>
        <!-- /To top -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        @Html.Sitecore().Placeholder("page-sidebar")

        @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
        @Html.RenderFormScripts()
       

        @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
            <script src="~/scripts/Realty/popper.min.js"></script>
            <script src="~/scripts/Realty/bootstrap.min.js"></script>

            <!--[if lte IE 8]>
              <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
              <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
            <![endif]-->

            <!-- Owl Carousel -->
            <script src="~/scripts/Realty/owl.carousel.min.js"></script>

            <!-- Gallery carousel -->

            <script src="~/scripts/Realty/carousle-slider.js"></script>

            <!-- Custom JavaScript for Adani Electricity
            ================================================== -->
            <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
			
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div id="lsq-portal-widget-b4611dd4-6f4b-11ee-8d02-062290c66066-43b239bf-ccea-4daa-9556-1975949553ea"
                              class="lsq-portal-widget lsq-form-widget">
       <script src="https://portal-widgets.lsqportal.com/assets/bootstrap-widget.js"
        data-widget-id="b4611dd4-6f4b-11ee-8d02-062290c66066"
        data-version-id="43b239bf-ccea-4daa-9556-1975949553ea"
        data-formjs="https://dhx9mmhpfsala.cloudfront.net/cdn/externalforms/r21/js/lsq.form.js"
        data-URL="https://portal-widgets.lsqportal.com"
        onload="window['___lsq-portal-widget-helpers___'].bootstrapLSQWidget(event)"
        charset="utf-8">
       </script>
     </div>
      </div>     
    </div>
  </div>
</div>
</body>
</html>
