@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta name="facebook-domain-verification" content="u7tujil7j3zql5lc3j40p9lla94xcx" />
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KT2PVQF');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MQXGCNP');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '800887383898358');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=800887383898358&ev=PageView
	&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->


    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="https://www.aidtm.ac.in/images/AdaniInstitute/favicon.png" />

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-193992345-1"></script>

    <script>

        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());



        gtag('config', 'UA-193992345-1');

    </script>
    <!--Animate CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">

    <!--Lato Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()


    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <style>
        .npfTitle-81bfbc5a86cba02697d97b2558e693d4 {
            text-align: center;
        }
    </style>
    <!--Search Code-->
    <meta name="google-site-verification" content="BO_gAu2YEbhLdjJwgdrrrTuvSntIImNqtC-oM9Af9gQ" />

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-KT2PVQF
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQXGCNP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--<script type="text/javascript"> var npf_d='https://admissions.aidtm.ac.in'; var npf_c='665'; var npf_m='1'; var s=document.createElement("script"); s.type="text/javascript"; s.async=true; s.src="https://track.nopaperforms.com/js/track.js"; document.body.appendChild(s); </script>-->



    @Html.Sitecore().Placeholder("Header")


    <!-- /Header -->
    <!--  Main content Section-->
    <main>
        @Html.Sitecore().Placeholder("faculty-breadcrumb")
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <div class="fixed_cta">
        <a href="https://admissions.aidtm.ac.in/" target="_blank"><img alt="ApplyOnline" src="~/images/AdaniInstitute/fixed-cta.png"></a>
    </div>
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>

    <div class="sidebar_s-icons">
        <ul>
            <li class="fb"><a href="https://www.facebook.com/aidtmofficial" target="_blank"><img alt="AIDTM Facebook" src="/Images/AdaniInstitute/FB.jpg"><span>Facebook</span></a></li>
            <li class="link"><a href="https://www.linkedin.com/company/aidtmofficial/" target="_blank"><img alt="AIDTM Linkedin" src="/Images/AdaniInstitute/in.jpg"><span>Linkedin</span></a></li>
            <li class="twitter d-none"><a href=" https://twitter.com/aidtmofficial" target="_blank"><img alt="adani twitter" src="-/media/52A3508E99564AB2A463DB3BD33815D6.ashx" target="_blank"><span>Twitter</span></a></li>

            <li class="ytube d-none"><a href="https://www.youtube.com/channel/UCNsDejr_E2lHCaaqtrw_qEQ" target="_blank"><img alt="AIDTM Youtube" src="/Images/AdaniInstitute/youtube.jpg"><span>Youtube</span></a></li>
            <li class="insta"><a href="https://www.instagram.com/aidtmofficial/" target="_blank"><img alt="adani Instagram" src="/Images/AdaniInstitute/Insta.png" target="_blank"><span>Instagram</span></a></li>
            <li class="whatsapp"><a href="http://wa.me/916358975333/?text=hi" target="_blank"><img alt="adani Whatsapp" src="/Images/AdaniInstitute/whatsapp.jpg" target="_blank"><span style="background-color: #90EE90;">Whatsapp</span></a></li>
            <li class="whatsapp"><a href="https://aidtm.ac.in/360tour" target="_blank"><img alt="adani 360Tour" src="/Images/AdaniInstitute/360.jpg" target="_blank"><span style="background-color: #e95d0e;">Virtual Tour</span></a></li>
        </ul>
    </div>

    <footer>

        @Html.Sitecore().Placeholder("footer")
    </footer>

    <!-- /Footer -->
    <!-- To top -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!-- /To top -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()


    @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
        <script src="~/scripts/Realty/popper.min.js"></script>
        <script src="~/scripts/Realty/bootstrap.min.js"></script>

        <!--[if lte IE 8]>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
        <![endif]-->

        <!-- Owl Carousel -->
        <script src="~/scripts/Realty/owl.carousel.min.js"></script>

        <!-- Gallery carousel -->

        <script src="~/scripts/Realty/carousle-slider.js"></script>

        <!-- Custom JavaScript for Adani Electricity
        ================================================== -->
        <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
    <script src="https://in5cdn.npfs.co/js/widget/npfwpopup.js"></script>
    <script>let npfW31e369a1fcb765b46b6f7e042024ae09 = new NpfWidgetsInit({ 'widgetId': '31e369a1fcb765b46b6f7e042024ae09', 'baseurl': 'widgets.in5.nopaperforms.com', 'formTitle': 'Enquire Now', 'titleColor': '#FF0033', 'backgroundColor': '#ddd', 'iframeHeight': '436px', 'buttonbgColor': '#ff0000', 'buttonTextColor': '#FFF', }); $('#npfWdgclose-31e369a1fcb765b46b6f7e042024ae09').attr('src', 'https://admissions.aidtm.ac.in/downloads/63887e9f6a749722565815_download.png'); $('.npfTitle:contains(Enquire Now)').css('text-align', 'center');</script>


    <!--<script src="https://cdn.npfs.co/js/widget/npfwpopup.js"></script><script>let npfW81bfbc5a86cba02697d97b2558e693d4 = new NpfWidgetsInit( { 'widgetId':'81bfbc5a86cba02697d97b2558e693d4', 'baseurl':'widgets.nopaperforms.com', 'formTitle':'Enquire Now', 'titleColor':'#ddd', 'backgroundColor':'#5b58a7', 'iframeHeight':'350px', 'buttonbgColor':'#5b58a7', 'buttonTextColor':'#FFF', }); </script>-->
    <script>
        var oldSrc = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABzUlEQVRYhe3Wy27TYBAF4A+2ZAkRECpuFeVdemFL6RMAZYHaF2FHEQ9QhRYJBDwILCo2sKDsoV2FEMzin8iRaxzbKeqiPZKl5J8zM8dje2Y4w2nHuYb8OdzDIm7Ef/iGr3iPN9g/LoFj9LCFIbIp1wh9XD+u5Cs4iOADbOM+FnAhrgWshm0Q3AMsz5r8iXRHmXRXN2v43MKOvBrrbZOvRIDfeNrCfyN8R1pUoicve5vkkyIy/MSVJo4v5WWfFbsRa6uuw5xUuoHyZ/4Q3ZLzbtiKuB2xhlJlp2JdUrxdYnsUtk8FEd04y4JTRL/CdgQfgrxaYptMNBZRdlbEWtjf1RHwOch3/mEvJpyWnNQnMuzVEXAY5E4F5xI+yrvfHi5X8DvBOywazpeQszoqS1A1V8Z5/tQJdOKP4MRfwsf+32dY1ieO4JrUNAbSYCmiaSOa17ARwQtJ8U5dhwq8jljPmzhdlQ+jjRmSb0aMH6o/01Isy8dxGxGb8nG82MIfaS6MF5JdabBMw7y87CPppZ4JS9I8H69kfTzAXanDdeL3Gl7hl7zsre+8iIt4pt5SOpRmf60FpOla3pNWtSVpV5hcy79Ia/lbfG8Y9wynGH8BHnKpr/YwVJ8AAAAASUVORK5CYII=';
        var newSrc = 'https://aidtm.nopaperforms.com/downloads/603f1d02291a2327511317_crs.png';
        $('#npfWdgclose-81bfbc5a86cba02697d97b2558e693d4[src="' + oldSrc + '"]').attr('src', newSrc);
    </script>
    <!-- <script src="https://eequeuestorage.blob.core.windows.net/staticfiles/aidtm/ee-form-widget/form-2/widget.js"></script> -->

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="lsq-portal-widget-b4611dd4-6f4b-11ee-8d02-062290c66066-43b239bf-ccea-4daa-9556-1975949553ea"
                         class="lsq-portal-widget lsq-form-widget">
                        <script src="https://portal-widgets.lsqportal.com/assets/bootstrap-widget.js"
                                data-widget-id="b4611dd4-6f4b-11ee-8d02-062290c66066"
                                data-version-id="43b239bf-ccea-4daa-9556-1975949553ea"
                                data-formjs="https://dhx9mmhpfsala.cloudfront.net/cdn/externalforms/r21/js/lsq.form.js"
                                data-URL="https://portal-widgets.lsqportal.com"
                                onload="window['___lsq-portal-widget-helpers___'].bootstrapLSQWidget(event)"
                                charset="utf-8">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
