@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@using Sitecore.Mvc.Configuration
@model Sitecore.Marathon.Website.Models.Donate
@{
	var Taxexemption = Sitecore.Context.Database.GetItem("{997F0F57-0DBF-497E-831D-57C564E4FC01}");
}
<section class="adani-realty whitebg runner_profile">
    <div class="container">
        <div class="row border-bottom">
            <div class="col-md-12 text-left">Donate Now !!</div>
        </div>
        @using (Html.BeginForm("DonateSubmit", "Marathon", FormMethod.Post, new { name = "login_form", id = "login_form", @class = "login-form" }))
        {
            @Html.AntiForgeryToken()


            <div class="row mb-5">
                <div class="col-lg-12">
                <div class="row mb-4">
                    <div class="col-lg-4">
                        <h4 class="" style="font-size:18px;">Name*</h4>
                    </div>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control1 width100", required = "required", id = "cName" })

                        </div>
                    </div>



                </div>
                <div class="col-lg-12">
                    <div class="row mb-4">
                        <div class="col-lg-4">
                            <h4 style="font-size:18px;">Email Id*</h4>
                        </div>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control1 width100", required = "required", id = "cEmail" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row mb-4">
                        <div class="col-lg-4">
                            <h4 style="font-size:18px;">Mobile No*</h4>
                        </div>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control1 width100", required = "required", id = "cMobileNo" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row mb-4">
                        <div class="col-lg-4">
                            <h4 style="font-size:18px;">Amount*</h4>
                        </div>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control1 width100", required = "required", id = "cAmount" })
							<label class="amount_error" style="font-size:18px;"></label>
							
							
                        </div>
                    </div>
					 
                </div>
				<div class="col-lg-12">
                <div class="row mb-4">
                    <div class="col-lg-4">
                        <h4 style="font-size:18px;">PAN No</h4>
                    </div>
                    <div class="col-lg-8">
					 @Html.TextBoxFor(x => x.AffiliateCode, new { @class = "form-control1 width100",  id = "cAffiliateCode" })
                        <!-- <input class="form-control1 width100" id="PAN_No" name="PAN_No" type="text" value=""> -->


                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="row mb-4">
                    <div class="col-lg-4">
                        <h4 style="font-size:18px;">City</h4>
                    </div>
                    <div class="col-lg-8">
										 @Html.TextBoxFor(x => x.CauseTitle, new { @class = "form-control1 width100",  id = "cCauseTitle" })

                    </div>
                </div>

            </div>
			<div class="col-lg-12">
                <div class="row mb-4">
                    <div class="col-lg-4">
                        <h4 style="font-size:18px;">Purpose of Donation</h4>
                    </div>
					<div class="col-lg-8">
						<select class="form-control1 width100 TaxExemptionCause " id="TaxExemptionCause" style="height:34px;" name="TaxExemptionCause" >
							<option value="">Select your Cause</option>
							@foreach(var value in Taxexemption.GetChildren().ToList())
							{
								<option class="all-dist " value='@value.Fields["Text"]'>@value.Fields["Text"]</option>
							}
						</select>
                    </div>               
                </div>

            </div>
              
            </div>

        
      
        <div class="row border_bottom">
			<div class="form-group mb-3">
						<input name="reResponse" id="reResponseLogin" type="hidden"  class="form-control g-recaptcha">
                    </div>
            <div class="col-12">
                <input name="submit_form" type="submit" class="submit_btn btn g-recaptcha" id="btnDonateSubmit" value="Submit"   data-sitekey="6Lffy6MmAAAAAJWCrNIqaaSIz3mHsEy_xpKrmiaY"  data-callback='onSubmitDonationSubmit'>
            </div>
        </div>
    }


        </div>
    </section>
	<style>
	.width100
	{
	width : 100%;
	}
	.col-lg-4 h4{ text-align:left;}
	.col-lg-8  { text-align:left;}
	</style>