@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@using Sitecore.Mvc.Configuration
@model Sitecore.Marathon.Website.Models.RegistrationModel

<section class="multi-step-form" style="padding-top: 100px !important;">
    @Html.Partial("~/Views/Marathon/Sublayouts/MarathonRegistrationPageBase.cshtml")
    <div class="container">
        <h2>Registration is now closed. For more details, E-mail us at <a href="mailto:ahmedabadmarathon@adani.com">ahmedabadmarathon@adani.com</a></h2>
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="bgWht regFormBox">
                <div class="portLf">
                    <div>
                        <label>Customer Id<span class="txt-red">*</span></label>
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="regInpt">
                        <label>Organization Name<span class="txt-red">*</span></label>
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="regInpt">
                        <label>Organization Name<span class="txt-red">*</span></label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="regInpt">
                        <label>Organization Name<span class="txt-red">*</span></label>
                        @Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="regInpt">
                        <label>Organization Name<span class="txt-red">*</span></label>
                        @Html.TextBoxFor(x => x.FinalAmount, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="clear"></div>

                    <div class="clear"></div>
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </div>
        }
    </div>
</section>