@using Adani.BAU.Transmission.Feature.Navigation.Platform.Models;

@if (Model != null)
{
    <div class='container'>
        <div class='ftrCopy'>@Model.Title</div>
        <div class='ftrBtmLink'>

            @if (Model.FooterLinks.Count > 0)
            {
                var Title = "";
                var i = 0;
                var last = Model.FooterLinks.Count;
                foreach (var footerLink in Model.FooterLinks)
                {
                    i++;
                    if (i == last)
                    {
                        Title = @footerLink.Title;
                    }
                    else
                    {
                        Title = @footerLink.Title + " |";
                    }

                    <a href='@footerLink.LinkUrl' title='@footerLink.Title'>@Title</a>
                }

            }

        </div>
    </div>
}