@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Ports.Website.Models.PortsGmsLevel2Dashbord
@using Sitecore.Ports.Website.Models
@{

    // var currentDate = DateTime.Now;
    // var AddGrievance = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceBookingOnBehalf);
    var Department = Sitecore.Context.Database.GetItem("{39DA8970-3944-4F15-9A7D-7E9157ACB4F2}");
    var Role = Sitecore.Context.Database.GetItem("{1B5C8C51-E533-449F-A06B-F96F58011CE7}");
    var Title = Sitecore.Context.Database.GetItem("{76273070-C57B-4589-9C56-E8941677865A}");
    var Company = Sitecore.Context.Database.GetItem("{1B5C8C51-E533-449F-A06B-F96F58011CE7}");
	
	
	 var Home = Sitecore.Context.Database.GetItem("{11DA71B0-CCA3-4C7C-A77A-53A15DE042C6}");
     var Level2Reply = Sitecore.Context.Database.GetItem("{C29316FF-6AB5-4587-B2CF-8C2611470D0F}");
     var BusinessGroupVal = Sitecore.Context.Database.GetItem("{119FA889-2109-458D-A9EE-F6413A5F6034}");
     var SiteHeadVal = Sitecore.Context.Database.GetItem("{8B03DDAB-DD00-419C-9B48-B56AAEEBAD47}");
     var TypeofStakeholder = Sitecore.Context.Database.GetItem("{64560685-0E30-4596-8FC2-0D66386DFBB5}");
     var PointMan = Sitecore.Context.Database.GetItem("{3D8808C8-9807-4E15-835C-6F85FCFBEE98}");
     var AssigntoLevel3 = Sitecore.Context.Database.GetItem("{F4F149E0-1410-4F05-910A-9B6239B27095}");
     var Comments = Sitecore.Context.Database.GetItem("{D8290214-9AB6-4A14-B297-34DA82804199}");
     var ReassignmentSection = Sitecore.Context.Database.GetItem("{111D9BE8-0D3B-464B-98BF-0BF14443D435}");
    var Logout = Sitecore.Context.Database.GetItem("{47B87494-30B8-4AA7-AE92-C9BC02116B90}");
    var StakeholderGrievanceReview = Sitecore.Context.Database.GetItem("{DD113836-248D-4809-8377-5CACF40F2ED9}");
    var Address = Sitecore.Context.Database.GetItem("{268B4CDB-A7DD-4FE0-9CAE-9DA38AD02EE1}");
    var Areyousatisfiedwiththeresponse = Sitecore.Context.Database.GetItem("{759CC695-3BD5-4102-A8F7-C906118CC362}");
    var Close = Sitecore.Context.Database.GetItem("{E79E3995-48C8-4249-8A6C-53F45B94BAA2}");
    var DOB = Sitecore.Context.Database.GetItem("{6570C8A6-D690-4880-B56D-C8C049F8CB1C}");
    var Email = Sitecore.Context.Database.GetItem("{3CE3368F-CD4C-404D-A702-6EBE307A26ED}");
    var FinalComment = Sitecore.Context.Database.GetItem("{4AA1064E-8094-42F3-999B-8ACB41131BB9}");
    var ForStakeHolder = Sitecore.Context.Database.GetItem("{34FF1236-5C56-46B7-95F0-875EE97F01C4}");
    var Gender = Sitecore.Context.Database.GetItem("{0AB2FB56-B9AD-44F4-AD7C-D3D5257AC3D5}");
    var GrievanceBrief = Sitecore.Context.Database.GetItem("{CF352B1C-2C42-4804-BF8A-23A812002594}");
    var GrievanceDetails = Sitecore.Context.Database.GetItem("{1E560E9C-0F63-4FBA-A50A-5AA3F82B4E95}");
    var GrievanceID = Sitecore.Context.Database.GetItem("{4D08AD45-6870-41CF-8B7F-C255238A4D9C}");
    var Location = Sitecore.Context.Database.GetItem("{ED2C31A9-6E19-4662-B829-A0B9074B258D}");
    var LocationDepartment = Sitecore.Context.Database.GetItem("{FD14F065-7790-49CA-B3B3-F69620CA950F}");
    var Mobile = Sitecore.Context.Database.GetItem("{0784625B-3F1D-4569-A231-687A4E07DBAE}");
    var Name = Sitecore.Context.Database.GetItem("{8E489AED-71BD-4B84-AA77-95F11D92636A}");
    var Remarks = Sitecore.Context.Database.GetItem("{0CA0616F-94C3-4D2D-AC43-8FD4843E8ADB}");
    var StakeholderDetails = Sitecore.Context.Database.GetItem("{541638EB-36E3-4FDB-96F7-5347F308BA94}");
    var StakeholderRemarks = Sitecore.Context.Database.GetItem("{11DA71B0-CCA3-4C7C-A77A-53A15DE042C6}");
    var Subject = Sitecore.Context.Database.GetItem("{D058BE29-EF74-4EBB-96C8-FE6C4A1CB000}");
    var WhoImpacted = Sitecore.Context.Database.GetItem("{F05CA11E-47D7-496A-A8F4-053F4C7C2274}");
   

   var BusinessGroup = Sitecore.Context.Database.GetItem("{7F330547-8B54-4343-93C0-D06F25394B81}");
   var SiteHead = Sitecore.Context.Database.GetItem("{3C86DA42-7730-4AE8-9A9E-C72734D1990E}");
    var HO = Sitecore.Context.Database.GetItem("{FCB0B564-E638-473D-9086-2514778FE099}");
    var Team = Sitecore.Context.Database.GetItem("{48992B38-A3CE-4DEB-9131-35EEB86ED1FC}");

    var item = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceLevel2Dashbord);
    var link = item.Url();
}

<section class="breadcrumb-sub-layout bg-white  pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    <li><a href="@link">@Home["Title"]</a></li>
                    <li>@Level2Reply["Title"]</li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <p class="user_logout"><a href="/Grievance/Logout"><span class="fa fa-sign-out mr-2"></span>@Logout["Title"]</a></p>
            </div>
        </div>
    </div>
</section>
<section class="pb-5 bg-white">
    <div class="container">

        <div class="form_panel bg-l-gray p-4 box-shadow">
            <h3 class="heading mb-4 pl-3">@StakeholderDetails["Title"]</h3>
            <form action="" enctype="multipart/form-data" id="PortsGMSLevel2Reply" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">@Name["Title"]</label>
                            <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="">@Address["Title"]</label>
                            <input type="text" class="form-control" value="@Model.Address" name="Address" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none">
                        <div class="form-group">
                            <label for="">@DOB["Title"]</label>
                            <input type="text" class="form-control" name="DOB" value="@Model.DOB" placeholder="" readonly>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4"> -->
                        <!-- <div class="form-group"> -->
                            <!-- <label for="">@Gender["Title"]</label> -->
                            <!-- <input type="text" class="form-control" name="Gender" value="@Model.Gender" placeholder="" readonly> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">@Email["Title"]</label>
                            <input type="text" class="form-control" name="Email" value="@Model.Email" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">@Mobile["Title"]</label>
                            <input type="text" class="form-control" name="Mobile" value="@Model.Mobile" placeholder="" readonly>
                        </div>
                    </div>

                </div>
                <hr>
                <h3 class="heading mb-4 pl-3">@GrievanceDetails["Title"]</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="">@GrievanceID["Title"]</label>
                        <div class="form-group">
                            <input style="text-transform:uppercase;" type="text" class="form-control" name="Id" id="Id" value="@Model.Id" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="">@Location["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Location" value="@Model.Location" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-none">
                        <label for="">@LocationDepartment["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Department" value="@Model.Department" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <label for="">@Subject["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Subject" minl value="@Model.Subject" minlength="10" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-none">
                        <label for="">@WhoImpacted["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="WhoImpacted" value="@Model.WhoImpacted" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <label for="">@GrievanceBrief["Title"]</label>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="Brief" id="Brief" value="@Model.Brief" placeholder="" readonly>*@
                            <textarea class="" name="Brief" rows="3" cols="115" minlength="50" readonly style="background-color: #deeaf5;">@Model.Brief</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="">@BusinessGroupVal["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.BusinessGroup" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <label for="">Level-0 Comment(@Model.Level0UserName)</label>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="" value="@Model.Level0Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="75" readonly style="background-color: #deeaf5;">@Model.Level0Comment</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label for="">@SiteHeadVal["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.SiteHead" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="">@TypeofStakeholder["Title"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.HO" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Level-1 Comment(@Model.Level1UserName)</label>
                            @*<input type="text" class="form-control" name="" value="@Model.Level1Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="55" readonly style="background-color: #deeaf5;">@Model.Level1Comment</textarea>
                        </div>
                    </div>
                </div>
                @*@if (Model.Assigned)
                    {*@
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>@PointMan["Title"]<span class="required">*</span></label>
                            <select name="PointMan" required class="form-control" id="PointMan">
                                @foreach (var element in Team.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)
                                    {
                                        <option></option>
                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Value", element)">@Html.Sitecore().Field("Value", element)</option>

                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label for="">Level-2 Reply(@Model.Level2UserName)</label>
                            <textarea class="" name="Comment" required minlength="50" id="Comment" rows="3" cols="85"></textarea>
                        </div>
                    </div>
                </div>

                @*}*@

                <div class="col-lg-12 mt-3 text-right">
                    <button type="submit" class="btn btn-gradient">@AssigntoLevel3["Title"]</button>
                    <a href="@link" class="btn btn-dark">@Close["Title"]</a>
                </div>

            </form>
        </div>
    </div>
</section>
