
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Ports.Website.Models.PortsGmsLevel2Dashbord
@using Sitecore.Ports.Website.Models
@{

     var Home = Sitecore.Context.Database.GetItem("{11DA71B0-CCA3-4C7C-A77A-53A15DE042C6}");
     var Level2Dashboard = Sitecore.Context.Database.GetItem("{7387FA53-6C91-4B9E-9534-928FA94D65A7}");
	 var Logout = Sitecore.Context.Database.GetItem("{47B87494-30B8-4AA7-AE92-C9BC02116B90}");
	 var Dashboard = Sitecore.Context.Database.GetItem("{0F4D92C2-B7E4-4704-A876-09D8E82C79F0}");
	 var AddGrievanceOnBehalf = Sitecore.Context.Database.GetItem("{63D1CEDD-E45F-4286-9A3D-965B6B6B55F6}");
     var GrievanceStatus = Sitecore.Context.Database.GetItem("{4803460E-880A-47E3-8E0A-59CAB6F8C10A}");
     var SelectGrievanceStatus = Sitecore.Context.Database.GetItem("{C16B58E0-31D1-4067-8C98-2D332D1EA927}");
     var From = Sitecore.Context.Database.GetItem("{7D9A1CF9-62BC-4A39-9E76-F1DCAD0FD224}");
     var To = Sitecore.Context.Database.GetItem("{12FAB60E-748A-48F7-AD54-6155F78D5D63}");
	 var Search = Sitecore.Context.Database.GetItem("{5CCF4012-1ACE-4C91-934F-AE36F00B9DC6}");
     var Reset = Sitecore.Context.Database.GetItem("{CA6736BE-9253-416C-B2A0-B2F24D8632D5}");
     var SubmitOn = Sitecore.Context.Database.GetItem("{DFD78DC7-E507-4ABD-8202-07FABCEA3736}");
     var Status = Sitecore.Context.Database.GetItem("{3E732FDE-B3B8-4695-9CF4-C6311A5FD793}");
     var GrievanceNo = Sitecore.Context.Database.GetItem("{F0DB0DC5-FA97-4481-863F-A2DB3533D610}");
     var Name = Sitecore.Context.Database.GetItem("{290F13D4-3E8A-46D7-ABB7-9C9434A86AEA}");
     var CompanyName = Sitecore.Context.Database.GetItem("{C28263EB-E3D3-43F8-93A8-5383FDA7FC35}");
     var ContactNo = Sitecore.Context.Database.GetItem("{7273511F-DA18-4E71-B928-10DDEDF46E89}");
     var Email = Sitecore.Context.Database.GetItem("{513A23AC-D4A5-4ED1-9EE5-DDBC653F0F56}");
     var NoBookingsFound = Sitecore.Context.Database.GetItem("{4F1CF976-1DAE-447E-AF1C-5EBDBDCA3EE9}"); 
    var currentDate = DateTime.Now;
    //var AddGrievance = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceBookingOnBehalf);
    var Reply = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceLevel2Reply);
    var item = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceLevel2Dashbord);
    var Homelink = item.Url();
}
<section class="breadcrumb-sub-layout bg-white  pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    <li>@Home["Title"]</li>
                    <li>@Level2Dashboard["Title"]</li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <p class="user_logout"><a href="/Grievance/Logout"><span class="fa fa-sign-out mr-2"></span>@Logout["Title"]</a></p>
            </div>
        </div>
    </div>
</section>
<section class="pb-5 bg-white">
    <div class="container">
        @if (Session["SuccessMsg2"] != null)
        {
            <div class="alert-success mb-4 p-2">@Session["SuccessMsg2"]</div>
            Session["SuccessMsg2"] = null;
        }
        @if (Session["ErrorMsg2"] != null)
        {
            <div class="alert-danger mb-4 p-2">@Session["ErrorMsg2"]</div>
            Session["ErrorMsg2"] = null;
        }
        <div class="form_panel bg-l-gray p-4 box-shadow">
            <h3 class="heading mb-4 pl-3">
                Dashboard<span class="float-lg-right pt-3 pt-lg-0"></span>
            </h3>
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-level2", id = "form-level2" }))
            {
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>@From["Title"]</label>
                            <input type="date" name="FromDate" value="@Model.FromDate" class="form-control" required id="ContentPlaceHolder1_date" placeholder="DD/MM/YYYY">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>@To["Title"]</label>
                            <input type="date" name="ToDate" value="@Model.ToDate" class="form-control" required id="ContentPlaceHolder1_date" placeholder="DD/MM/YYYY">
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3 text-right">
                        <button type="submit" class="btn btn-secondary">@Search["Title"]</button>
                        <input name="submit" type="submit" id="reset" class="btn btn-dark" value="@Reset["Title"]" />
                        @*<button type="button" class="btn btn-dark reset">Reset</button>*@
                        @*<a href="@Homelink" class="btn btn-dark">Reset</a>*@
                    </div>
                </div>
            }
            @if (Model.AllBookings.Count > 0)
            {
                <div class="">
                    <div class="">
                        <table id="bookings" class="table table-bordered table-hover dt-responsive border">
                            <thead>
                                <tr>
                                    <th>@SubmitOn["Title"]</th>
                                    <th>@GrievanceStatus["Title"]</th>
                                    <th>@GrievanceNo["Title"]</th>
                                    <th>@Name["Title"]</th>
                                    <th>@CompanyName["Title"]</th>
                                    <th>@ContactNo["Title"]</th>
                                    <th>@Email["Title"]</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var bData in  Model.AllBookings.OrderByDescending(p => p.Created_Date).ToList())
                                {

                                    <tr>
                                        <td>@bData.Created_Date</td>
                                        <td>@bData.Status</td>
                                        <td style="text-transform:uppercase;"><a href="@Reply.Url()?id=@bData.Id">@bData.Id</a></td>
                                        <td>@bData.Name</td>
                                        <td>@bData.Company</td>
                                        <td>@bData.Mobile</td>
                                        <td>@bData.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            else
            {
                <div class="alert-danger mb-4 p-2">@NoBookingsFound["Title"]</div>
            }

        </div>
    </div>
</section>
