@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    string dashboard = Session["Dashboard"].ToString();
}

<body>
    @foreach (Item item in element.GetChildren())
    {
        if (item.Name == dashboard)
        {
        <nav class="navbar navbar-expand-lg bg-white sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="-/media/B86C22A5DFE6478AAFCEB128D78CB092.ashx" alt="">
                </a>
                <div>
                    <a href="/Logout?ComeFrom=LNGDashboard" class="back--button">
                        Logout
                    </a>

                </div>
            </div>
        </nav>

        <div class="container welcome--msg">
            <h2 class="gas__day-note">Gas Day : @Html.Sitecore().Field("GasDay1", item, new { format = "MMM dd, yyyy" })</h2>
            <h2 class="welcome-note">Welcome @Session["UserName"]</h2>
        </div>
        <div class="container">
            <hr class="line-1">
        </div>

        <div class="container dashboard--pressure">
            <h6 class="dash--title">RLNG Delivery Pressure (Bar)</h6>

            <div class="pressure--row">
                <div class="col-md-4 col-bg-11">
                    <p class="pressure__top--text">Stream 1</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Pressure Stream1", item)</h4>
                </div>
                <div class="col-md-4 col-bg-22">
                    <p class="pressure__top--text">Stream 2</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Pressure Stream2", item)</h4>
                </div>
                <div class="col-md-4 col-bg-33">
                    <p class="pressure__top--text">Stream 3</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Pressure Stream3", item)</h4>
                </div>
            </div>

        </div>

        <div class="container dashboard--pressure">
            <h6 class="dash--title">RLNG Delivery Temperature (°C)</h6>

            <div class="pressure--row">
                <div class="col-md-4 col-bg-11">
                    <p class="pressure__top--text">Stream 1</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Temperature Stream1", item)</h4>
                </div>
                <div class="col-md-4 col-bg-22">
                    <p class="pressure__top--text">Stream 2</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Temperature Stream2", item)</h4>
                </div>
                <div class="col-md-4 col-bg-33">
                    <p class="pressure__top--text">Stream 3</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Temperature Stream3", item)</h4>
                </div>
            </div>

        </div>


        <div class="container dashboard--pressure">
            <h6 class="dash--title">RLNG Send Out Rate (SCMHr)</h6>

            <div class="dashboard--row">
                <div class="col-md-4 col-bg-11">
                    <p class="pressure__top--text">Stream 1</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Send Out Rate Stream1", item)</h4>
                </div>
                <div class="col-md-4 col-bg-22">
                    <p class="pressure__top--text">Stream 2</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Send Out Rate Stream2", item)</h4>
                </div>
                <div class="col-md-4 col-bg-33">
                    <p class="pressure__top--text">Stream 3</p>
                    <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Send Out Rate Stream3", item)</h4>
                </div>
            </div>

        </div>

        <div class="container second__gas--day">
            <h2 class="gas__day-note">Gas Day : @Html.Sitecore().Field("GasDay2", item, new { format = "MMM dd, yyyy" })</h2>

            <hr class="line-2">

            <div class="dashboard--row">
                <div class="col-md-6 col-bg-1">
                    <p class="dashboard__top--text">
Cumulative Volumetric Total ( in MMBTU)
                    </p>
                    <p class="dashboard__sub--value">@Html.Sitecore().Field("Cumulative Volumetric Total - MMBTU", item)</p>
                </div>
                <div class="col-md-6 col-bg-2">
                    <p class="dashboard__top--text">Cumulative Volumetric Total ( in MMSCM)</p>
                    <p class="dashboard__sub--value">@Html.Sitecore().Field("Cumulative Volumetric Total - MMSCM", item)</p>
                </div>
            </div>
        </div>

        <div class="container second__gas--para">
            <div class="dashboard--row">
                <div class="col-md-6 gas--info-1">
                    <h6 class="dash--title">RLNG Specifications</h6>
                    <div class="rlng--para">
                        <p>
                            @Html.Sitecore().Field("RLNG Specification", item)
                        </p>

                    </div>

                </div>
                <div class="col-md-6 gas--info-2">
                    <h6 class="dash--title">Additional Information</h6>
                    <div class="rlng--para">
                        <p>
                            @Html.Sitecore().Field("Additional Information", item)
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 disclaim-box">
                <img src="~/Images/warning-sign-1.png" alt="" class="warn--img">
                <p class="disclaim-para">
                    @Html.Sitecore().Field("Body", item)
                </p>
            </div>
        </div>

        <div class="container">
            <p class="updated-time">Last Updated: @Html.Sitecore().Field("Modified_On", item)</p>
        </div>
        }
    }
</body>