@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);



}

<section class="position-relative bg-white section_padding">
    <div class="bg-images"><img src="images/dotted_map.png"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-lg-0 my-3">
                <div class="text_container mb-4">
                    <h2>@Html.Sitecore().Field("Title", element)</h2>
                    @Html.Sitecore().Field("Body", element)
                    <div><a href="/about-us" class="btn">Read more</a>
                </div>
                <div class="row">
                    @foreach (Item item in element.GetChildren())
                    {
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="stats_section">
                                <div class="stats_section--thumb">
                                    @Html.Sitecore().Field("Image", item)
                                </div>
                                <div class="stats_section--description">
                                    <h3>@Html.Sitecore().Field("Title", item)</h3>
                                    <p>@Html.Sitecore().Field("Body", item)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
				</div>
            </div>
            <div class="col-lg-5">
                <div class="video_section" data-toggle="modal" data-target="#about-video">
                    @Html.Sitecore().Field("Image", element)
                </div>
                <!-- Modal -->
                <div class="modal fade video_modal" id="about-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body">
                               <!-- <div class='embed-container'><iframe src='https://www.youtube.com/embed/QILiHiTD3u' frameborder='0' allowfullscreen></iframe></div>-->
<div class='embed-container'><iframe src='https://adanidotcom.azureedge.net/Roof%20Lift%20-%20Dhamra%20Port%20-%20FINAL.mp4' frameborder='0' allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>