@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;

    var About = Sitecore.Context.Database.GetItem("{80C139D9-4954-47A9-9F6C-211656349A2A}");

    var Downloads = Sitecore.Context.Database.GetItem("{FCF54C4F-FDC7-482B-8676-76F4F46A7682}");

    var PrivacyPolicy = Sitecore.Context.Database.GetItem("{518BAD88-6FC6-406E-AEB0-470585F69612}");


    /*var Downloads = Sitecore.Context.Database.GetItem(paramid["Downloads"]);

   var PrivacyPolicy = Sitecore.Context.Database.GetItem(paramid["PrivacyPolicy"]);*/



}

<footer class="bg-white py-5">
	<div class="container">
    <div class="row">
        <div class="col-lg-4 col-6 my-3 order-2 order-lg-1">
            @foreach (Item item in About.GetChildren())
            {
				Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                var link = linkFields.GetFriendlyUrl();
                <h5><a href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                @*<h5><a href="">Businesses</a></h5>
                    <h5><a href="">Location</a></h5>
                    <h5><a href="">Vendor Section</a></h5>*@
            }
        </div>
        <div class="col-lg-4 col-6 my-3 order-3 order-lg-2">
            @foreach (Item item in Downloads.GetChildren())
            {
				Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                var link1 = linkFields.GetFriendlyUrl();
                <h5><a href="@link1">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                @*<h5><a href="">Careers</a></h5>
                <h5><a href="">Contact Us</a></h5>*@
            }
            </div>
        <div class="col-lg-4 text-lg-right text-center  my-3 order-1 order-lg-3">
            <img src="-/media/78236AD391954EDA9CEF32E33617CDC0.ashx" class="img-fluid" />
        </div>
    </div>
</div>
</footer>
<div class="bottom_copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-md-3 my-2 order-2 order-md-1 text-md-left text-center">
                <p>© 2022</p>
            </div>
            <div class="col-md-9  my-md-3 my-2 text-md-right text-center order-1 order-md-2">
                <ul class="ft-policy-links">
                    @foreach (Item item in PrivacyPolicy.GetChildren())
                    {
						Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
						var link2 = linkFields.GetFriendlyUrl();
                        <li><a href="@link2">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
                        
                    }
                    </ul>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-lg-4 col-6 my-3 order-2 order-lg-1">
            @foreach (var item in AboutUs.GetChildren())
            {
                //Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                //var link = linkFields.GetFriendlyUrl();
                <h5><a href="">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
            }
            </div>
        <div class="col-lg-4 col-6 my-3 order-3 order-lg-2">
            @foreach (Item item in Downloads.GetChildren())
            {
                Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                var link = linkFields.GetFriendlyUrl();
                <h5><a href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
            }
        </div>
            <div class="col-lg-4 text-lg-right text-center  my-3 order-1 order-lg-3">
                <img src="-/media/6DCBDC9CF2D347E99BA74CC7E4AB3772.ashx" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="bottom_copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-md-3 my-2 order-2 order-md-1 text-md-left text-center">
                    <p>© 2022</p>
                </div>
                <div class="col-md-9  my-md-3 my-2 text-md-right text-center order-1 order-md-2">
                    <ul class="ft-policy-links">
                        @foreach (Item item in PrivacyPolicy.GetChildren())
                        {
                            Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
                            <h5><a href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                        }
                    </ul>
                </div>
            </div>
        </div>*@

