@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    string dashboard = Session["Dashboard"].ToString();
}
<div class="container">
    @foreach (Item item in element.GetChildren())
    {
        if (item.Name == dashboard)
        {
            <nav class="navbar navbar-expand-lg bg-white">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img class="img-fluid" src="headerlogo.png" alt="">
                    </a>
                    <div>
                        <a href="#" class="back--button">
                            < &nbsp; Back to Website
                        </a>

                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="container welcome--msg">
                    <h4 class="welcome-note">Welcome @Session["UserName"]</h4>
                    <p class="updated-time">Last Updated: @Html.Sitecore().Field("Created_On", item)</p>

                </div>
                <div class="container dashboard--head">
                    <div class="row dashboard--row">
                        <div class="col-md-3 col-bg-1">
                            <p class="dashboard__top--text">
                                Cumulative Volumetric Total<br />
                                (of current gas-day)
                            </p>
                            <p class="dashboard__sub--value">@Html.Sitecore().Field("Cumulative Volumetric Total", item)</p>
                        </div>
                        <div class="col-md-3 col-bg-2">
                            <p class="dashboard__top--text">RLNG Gross Heating Value<br /> (of current gas-day)</p>
                            <p class="dashboard__sub--value">@Html.Sitecore().Field("RLNG Gross Heating Value", item)</p>
                        </div>
                        <div class="col-md-3 col-bg-3">
                            <p class="dashboard__top--text">RLNG Specification</p>
                            <p class="dashboard__sub--value">@Html.Sitecore().Field("RLNG Specification", item)</p>
                        </div>
                    </div>


                </div>
                <div class="container dashboard--pressure">
                    <h6 class="dash--title">RLNG Delivery Pressure (Bar)</h6>

                    <div class="row pressure--row">
                        <div class="col-md-3 col-bg-11">
                            <p class="pressure__top--text">Stream 1</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Pressure Stream1", item)</h4>
                        </div>
                        <div class="col-md-3 col-bg-22">
                            <p class="pressure__top--text">Stream 2</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Pressure Stream2", item)</h4>
                        </div>
                        <div class="col-md-3 col-bg-33">
                            <p class="pressure__top--text">Stream 3</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Pressure Stream3", item)</h4>
                        </div>
                    </div>

                </div>

                <div class="container dashboard--pressure">
                    <h6 class="dash--title">RLNG Delivery Temperature (&#8451;)</h6>

                    <div class="row pressure--row">
                        <div class="col-md-3 col-bg-11">
                            <p class="pressure__top--text">Stream 1</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Temperature Stream1", item)</h4>
                        </div>
                        <div class="col-md-3 col-bg-22">
                            <p class="pressure__top--text">Stream 2</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Temperature Stream2", item)</h4>
                        </div>
                        <div class="col-md-3 col-bg-33">
                            <p class="pressure__top--text">Stream 3</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Delivery Temperature Stream3", item)</h4>
                        </div>
                    </div>

                </div>


                <div class="container dashboard--pressure">
                    <h6 class="dash--title">RLNG Send Out Rate (SCMHr)</h6>

                    <div class="row dashboard--row">
                        <div class="col-md-3 col-bg-11">
                            <p class="pressure__top--text">Stream 1</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Send Out Rate Stream1", item)</h4>
                        </div>
                        <div class="col-md-3 col-bg-22">
                            <p class="pressure__top--text">Stream 2</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Send Out Rate Stream2", item)</h4>
                        </div>
                        <div class="col-md-3 col-bg-33">
                            <p class="pressure__top--text">Stream 3</p>
                            <h4 class="pressure__sub--value">@Html.Sitecore().Field("RLNG Send Out Rate Stream3", item)</h4>
                        </div>
                    </div>

                </div>

            </div>
        }
    }
</div>
