@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/images/AdaniCare/favicon.png" />
    <title>Adani Cares</title>

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
    <script src="https://www.google.com/recaptcha/api.js?onload=registerCallBack&render=explicit" async defer></script>
    <!--Animate CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">

    <!--Lato Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-6 col-sm-8 text-left">
                    <a class="header-logo" href="/"><img src="/images/AdaniCare/logo.png"></a>
                </div>
                <div class="col-6 col-sm-4 text-lg-right text-right">
                    <p class="contact-link">
                       

                        <a href="" data-toggle="modal" data-target="#callback"><span class="far fa-envelope"></span> Contact us</a>
                    </p>
                </div>
                <div class="col-6 col-sm-4 text-lg-left text-right d-none">
                    <a class="btn btn-sm tollfree" href="tel:18005655656"><span class="fa fa-phone fa-rotate-90"></span><span class="d-lg-inline-block d-none">19122 (24x7 Toll Free)</span></a>
                    <a class="btn btn-sm points-tooltip" href="#"><span class="fa fa-question-circle"></span><span class="d-lg-inline-block d-none">Know more about Adani Cares</span></a>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
        <section class="py-1 bg-white section-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-md-left left-center order-md-1 order-2 my-3">
                        <p class="mt-4 mb-3">&copy; 2020 Adani Group</p>
                    </div>
                    <div class="col-md-6 text-md-right left-center order-md-1 order-2 my-3">
                        <ul class="text-md-right">
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms-and-conditions">Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-md-right left-center order-md-2 order-1 my-3 d-none">
                        <ul class="ft_social pt-md-4">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
</body>
</html>
