@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta http-equiv="Content-Security-Policy" content="default-src https:; object-src 'none'">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <title>Garvhai</title>

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()


    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->



    @Html.Sitecore().VisitorIdentification()
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))  home page page-id-2 page-template-default wpb-js-composer js-comp-ver-4.8.0.1 vc_responsive">
    <!-- Header -->
    <header class="headerSec">
        <div class="fade-overlay"></div>
        <div class="overlay-top"></div>

        <div class="navPanel position-absolute">
            <div class="container navtopbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- logo Garvhai -->
                    <a class="navbar-brand" href="/"><img src="-/media/47EC2B98E1034328832CB5FBEF03B1FA.ashx" alt="Garvhai"></a>
                    <!-- /logo Garvhai -->
<div class="menu-overlay d-none fadeInLeft animated ">
                    <div class="collapse navbar-collapse fadeInDown animated" id="mainMenu" style="display:none;">
                        <ul class="navbar-nav mx-auto primaryMenu">
                            @Html.Sitecore().Placeholder("Header-TopMenu")
                        </ul>
                    </div>
					</div>
                    <!-- logo Adani -->
                    <a class="navbar-brand adani-logo ml-auto" href=""><img src="-/media/9E5C8684612A4271B0B0AC2CA55CEBD3.ashx" alt="Adani.com"></a>
                    <!-- /logo Adani -->
                    <button class="navbar-toggler" id="nav-button" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                    </button>
                </nav>
            </div>
        </div>
    </header>

    <main role="main">
        <!-- Banner -->
        <div class="position-relative d-block">
            @Html.Sitecore().Placeholder("page-layout")
        </div>
    </main>

    <!--  /Main content Section-->
    <!-- To top -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!-- /To top -->
    <!-- Footer -->
    <footer class="py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-lg-left text-center txt-white">
                    <p class="mb-0">© 2019 Adani. All rights reserved.</p>
                </div>
                <div class="col-lg-8 text-lg-right text-center">
                    <ul class="ft-menu mb-0">
                        @Html.Sitecore().Placeholder("Footer-TopLink")
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
            @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
            @Html.RenderFormScripts()
<script>
AOS.init();
</script>
    </body>
    </html>
