@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <section>
            <div class="parking-facility" style="background-image: url('../../assets/images/transport/parking.png');">
                <div class="container">
                    <div class="contentWrap">
                        <div class="contentBox">
                            <h3 class="main_heading">@Html.Sitecore().Field("Title", currentItem)</h3>
                            <p>
                                @Html.Sitecore().Field("Description", currentItem)
                            </p>
                                @Html.Sitecore().Field("Link", currentItem, new { @class = "black_link" })
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- mobile view start-->
    <section class="parking-facility-mobile">
        <div class="container">
            <h3 class="main_heading">@Html.Sitecore().Field("Title", currentItem)</h3>
            @Html.Sitecore().Field("Image", currentItem, new { @class = "img-fluid" })
            <p>
                @Html.Sitecore().Field("Description", currentItem)
            </p>
            @Html.Sitecore().Field("Link", currentItem, new { @class = "black_link" })
        </div>
    </section>
    <!-- mobile view End-->
}
