@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelper = new Helper();
}

@if (currentItem != null)
{

    <div class="internal-service pt-top">
        <div class="container">
            @foreach (Item transportService in currentItem.Children)
            {
                <div class="card-box">
                    <div class="card zoomEffect">
                        <div class="row g-0 grid-Box align-items-center">
                            <div class="col-md-5 order1">
                                <h3 class="main_heading">@Html.Sitecore().Field("Title", transportService)</h3>
                                <figure>@Html.Sitecore().Field("Image", transportService, new { @class = "img-fluid", @alt = "..." })</figure>
                            </div>
                            <div class="col-md-7 order2">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.Sitecore().Field("Title", transportService)</h5>
                                    <p class="card-text">
                                        @Html.Sitecore().Field("Description", transportService)
                                    </p>
                                    <span class="black_link">
                                        <a href="@linkHelper.LinkUrl(transportService.Fields["Link"])" >
                                            @Html.Sitecore().Field("ReadMoreText", transportService)
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
