@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields

@model RenderingModel
@{



    var brochure = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["brochure"];
    var GroupPolicies = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["GroupPoliciess"];
    var CodeOfConduct = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["CodeOfConducts"];

    var Newsdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["links"];
    var links = Sitecore.Context.Database.GetItem(Newsdatasource);


    var mundradatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["mundra"];
    var mundra = Sitecore.Context.Database.GetItem(mundradatasource);

    var udupidatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["udupi"];
    var udupi = Sitecore.Context.Database.GetItem(udupidatasource);

    var raipursource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["raipur"];
    var raipur = Sitecore.Context.Database.GetItem(raipursource);

    var raigarhsource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["raigarh"];
    var raigarh = Sitecore.Context.Database.GetItem(raigarhsource);

    var dahejdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["dahej"];
    var dahej = Sitecore.Context.Database.GetItem(dahejdatasource);

    var compliancesdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["compliances"];
    var compliances = Sitecore.Context.Database.GetItem(compliancesdatasource);

    var goddaTPPdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["goddaTPP"];
    var goddaTPP = Sitecore.Context.Database.GetItem(goddaTPPdatasource);

    var jitpurdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["jitpur"];
    var jitpur = Sitecore.Context.Database.GetItem(jitpurdatasource);

    var kawaidatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["kawai"];
    var kawai = Sitecore.Context.Database.GetItem(kawaidatasource);

    var penchdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["pench"];
    var pench = Sitecore.Context.Database.GetItem(penchdatasource);

    var tirodadatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["tiroda"];
    var tiroda = Sitecore.Context.Database.GetItem(tirodadatasource);

    var Korbadatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Korba"];
    var Korba = Sitecore.Context.Database.GetItem(Korbadatasource);

    var Anuppurdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Anuppur"];
    var Anuppur = Sitecore.Context.Database.GetItem(Anuppurdatasource);

    var Katnidatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Katni"];
    var Katni = Sitecore.Context.Database.GetItem(Katnidatasource);

    var mahandatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["mahan"];
    var mahan = Sitecore.Context.Database.GetItem(mahandatasource);

    var TalabiraMinedatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Talabira1Mine"];
    var Talabira1Mine = Sitecore.Context.Database.GetItem(TalabiraMinedatasource);
    var GaneshpurOpencastCoalmines = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["GaneshpurOpencastCoalmine"];
    var GaneshpurOpencast = Sitecore.Context.Database.GetItem(GaneshpurOpencastCoalmines);

    var Mirzapurdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Mirzapur"];
    var Mirzapur = Sitecore.Context.Database.GetItem(Mirzapurdatasource);

    var WorldEnvironmentdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["WorldEnvironment"];
    var WorldEnvironment = Sitecore.Context.Database.GetItem(WorldEnvironmentdatasource);


}

<section class="pb-5 bg-gray">
    <div class="container">
        <div class="row bg-white p-3 border-bottom mb-2">
            <div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Adani Power Brochure</a></div>
            <div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@brochure" target="_blank" class="btn btn-gradient">View</a></div>
        </div>
    </div>
</section>
<section class="pb-5 bg-gray">
    <div class="container">
        <div class="row bg-white p-3 border-bottom mb-2">
            <div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Policy on Human Rights</a></div>
            <div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@GroupPolicies" target="_blank" class="btn btn-gradient">View</a></div>
        </div>
    </div>
</section>
<section class="pb-5 bg-gray">
    <div class="container">
        <div class="row bg-white p-3 border-bottom mb-2">
            <div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Code of Conduct for Employees</a></div>
            <div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@CodeOfConduct" target="_blank" class="btn btn-gradient">View</a></div>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">
        <div id="accordion" class="accordion investor-faq">
            <div class="card mb-0">

                <div class="card-header collapsed" data-toggle="collapse" href="#News">
                    <a class="card-title">
                        Sustainability Links
                    </a>
                </div>
                <div id="News" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in links.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4 d-none">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#Ganeshpur">
                    <a class="card-title">
                        Ganeshpur Opencast Coalmine
                    </a>
                </div>
                <div id="Ganeshpur" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in GaneshpurOpencast.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4 d-none">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="bg-gray py-1"></div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#TalabiraMine">
                    <a class="card-title">
                        Talabira-1 Mine
                    </a>
                </div>
                <div id="TalabiraMine" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in Talabira1Mine.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4 d-none">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>










                <div class="bg-gray py-1"></div>
                <div class="bg-gray py-1"></div>



                <div class="card-header collapsed" data-toggle="collapse" href="#AdaniUPCL">
                    <a class="card-title">
                        Adani UPCL Environment real time data
                    </a>
                </div>
                <div id="AdaniUPCL" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        <div class="container mt-4">
                            <h2 class="heading pl-4 mb-4 d-none">Adani UPCL Environment real time data </h2>
                            <div class="row">


                                <div class="col-md-4 mb-4">
                                    <a href="https://upclenvironmentdata.adani.com/" target="_blank">
                                        <div class="tariff-block bg-white border p-3">
                                            <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                            <p>Adani UPCL Environment real time data </p>
                                        </div>
                                    </a>
                                </div>


                            </div>
                        </div>



                    </div>
                </div>






                <div class="bg-gray py-1"></div>
                <div class="bg-gray py-1"></div>

                <div class="bg-gray py-1"></div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#mundra">
                    <a class="card-title">
                        Mundra Thermal Power Plant
                    </a>
                </div>

                <div id="mundra" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in mundra.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#tiroda">
                    <a class="card-title">
                        Tiroda Thermal Power Plant
                    </a>
                </div>

                <div id="tiroda" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in tiroda.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#kawai">
                    <a class="card-title">
                        Kawai Thermal Power Plant
                    </a>
                </div>
                <div id="kawai" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in kawai.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>




                <div class="card-header collapsed" data-toggle="collapse" href="#udupi">
                    <a class="card-title">
                        Udupi Thermal Power Plant
                    </a>
                </div>
                <div id="udupi" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in udupi.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>



                <div class="card-header collapsed" data-toggle="collapse" href="#raipur">
                    <a class="card-title">
                        Raipur Energen Limited
                    </a>
                </div>
                <div id="raipur" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in raipur.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>




                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#Korba">
                    <a class="card-title">
                        Raigarh Thermal Power Plant
                    </a>
                </div>

                <div id="Korba" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in Korba.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#mahan">
                    <a class="card-title">
                        Mahan Thermal Power Plant
                    </a>
                </div>
                <div id="mahan" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in mahan.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="bg-gray py-1"></div>





                <div class="card-header collapsed" data-toggle="collapse" href="#goddaTPP">
                    <a class="card-title">
                        Godda Thermal Power Plant
                    </a>
                </div>
                <div id="goddaTPP" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in goddaTPP.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#pench">
                    <a class="card-title">
                        Pench Thermal Power Project
                    </a>
                </div>
                <div id="pench" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in pench.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#dahej">
                    <a class="card-title">
                        Dahej Thermal Power Project
                    </a>
                </div>
                <div id="dahej" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in dahej.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#Anuppur">
                    <a class="card-title">
                        Anuppur Thermal Power Plant
                    </a>
                </div>

                <div id="Anuppur" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in Anuppur.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#Katni">
                    <a class="card-title">
                        Katni Thermal Power Plant
                    </a>
                </div>

                <div id="Katni" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in Katni.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="bg-gray py-1"></div>





                <div class="card-header collapsed" data-toggle="collapse" href="#jitpur">
                    <a class="card-title">
                        Jitpur Coal Mining Project
                    </a>
                </div>
                <div id="jitpur" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in jitpur.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#Mirzapur">
                    <a class="card-title">
                        Mirzapur Thermal Power Plant
                    </a>
                </div>
                <div id="Mirzapur" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in Mirzapur.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>





                <div class="bg-gray py-1"></div>





                <div class="card-header collapsed" data-toggle="collapse" href="#compliances">
                    <a class="card-title">
                        Compliances
                    </a>
                </div>
                <div id="compliances" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in compliances.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="bg-gray py-1"></div>




                <div class="card-header collapsed" data-toggle="collapse" href="#WorldEnvironment">
                    <a class="card-title">
                        World Environment Day Celebration
                    </a>
                </div>
                <div id="WorldEnvironment" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in WorldEnvironment.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="bg-gray py-1"></div>
            </div>
        </div>
    </div>
</section>
