@model Sitecore.AdaniGreenTalks.Website.Models.AdaniGreenTalks_JoinUs_Model
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var siteItem = Sitecore.Context.Database.Items.GetItem("{34064204-9A4D-4F4E-90AE-1180DF78DF19}");
}

@Html.Sitecore().Field("HeaderTagScript", siteItem)
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6Le0pu0gAAAAAD9pAHmh_CiRwBo6VZCNEvhMMnes', { action: 'JoinUsFOrm' }).then(function (token) {
            $('#googleCaptchaToken').val(token);
        });
    });
</script>
<div class="body-container-wrapper green-homepage">
    <div class="form-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7 col-xl-6 col-xxl-5">
                    <div class="w-100 text-center">
                        <h3>Let’s start with the basics.</h3>
                        <p>Pick a project category to connect with a specific community. You can always update this later.</p>
                    </div>
                    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "joinus_form", name = "joinus_form", enctype = "multipart/form-data", autocomplete = "off" }))
                    {
                        @Html.AddUniqueFormId()
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="ParticipantName" maxlength="30" name="ParticipantName" placeholder="Participant name">
                                    <label for="ParticipantName">Participant name</label>
                                    @Html.ValidationMessageFor(Model => Model.ParticipantName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            @*Please update the category inside controller function also. If any changes made here*@
                            <div class="formrow">
                                <div class="form-floating">
                                    <select class="form-select" id="inputState" name="Category">
                                        @*<select id="inputState" name="Category" class="form-control">*@
                                        <option value="" selected>Choose...</option>
                                        <option value="Education">Education</option>
                                        <option value="Healthcare">Healthcare</option>
                                        <option value="Agriculture">Agriculture</option>
                                        <option value="Technology">Technology</option>
                                        <option value="Natural Resources">Natural Resources</option>
                                        <option value="Livelihood Concern">Livelihood Concern</option>
                                    </select>
                                    <label for="inputState">Choose a Catagory</label>
                                </div>
                            </div>

                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="text" class="form-control" maxlength="30" id="BusinessName" name="BusinessName" placeholder="Business Name">
                                    <label for="BusinessName">Business Name</label>
                                    @Html.ValidationMessageFor(Model => Model.BusinessName, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="text" class="form-control" maxlength="30" id="BusinessWebsite" name="BusinessWebsite" placeholder="Business Website">
                                    <label for="BusinessWebsite">Business Website</label>
                                    <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                                    @Html.ValidationMessageFor(Model => Model.BusinessWebsite, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="text" class="form-control" maxlength="30" id="BusinessType" name="BusinessType" placeholder="Business Type">
                                    <label for="BusinessType">Business Type</label>
                                    @Html.ValidationMessageFor(Model => Model.BusinessType, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="number" class="form-control" onKeyPress="if(this.value.length==10) return false;" autocomplete="off" onpaste="return false;" ondrop="return false;" minlength="10" id="contactNumber" name="ContactNumber" placeholder="Contact Number">
                                    <label for="contactNumber">Contact Number</label>
                                    @Html.ValidationMessageFor(Model => Model.ContactNumber, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="Email_Id" name="Email_Id" placeholder="Official Email Id">
                                    <label for="Email_Id">Official Email Id</label>
                                    @Html.ValidationMessageFor(Model => Model.Email_Id, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="formrow">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Address">
                                    <label for="Address">Address</label>
                                    @Html.ValidationMessageFor(Model => Model.Address, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="formrow">
                                <div class="inputfilebox">
                                    <i class="uploadicon"></i>
                                    <label for="Doc_UploadProject1">Upload Project</label>
                                    <input type="file" class="form-control" id="Doc_UploadProject1" name="Doc_UploadProject" placeholder="up">
                                </div>
                                <div class="hint-txt">Upload your project to represent your cause (Only PDF). <span class="tips"><a href="javascript:void(0)">Tips</a></span></div>
                                @Html.ValidationMessageFor(Model => Model.Doc_UploadProject, "", new { @class = "text-danger" })

                            </div>

                            <div class="formrow">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="adani2" name="Participate_AdaniPrizes" value="uncheck">
                                    <label class="form-check-label" for="adani2">Also Participate for Green Talks Adani Prize</label>
                                </div>
                            </div>


                            <div class="" id="AdaniPrizesBlock">

                                <div class="formrow">
                                    <div class="form-floating">
                                        <textarea class="form-control" maxlength="255" placeholder="Leave a comment here" id="exampleFormControlTextarea1" name="reasonCause" style="height: 100px"></textarea>
                                        <label for="exampleFormControlTextarea1">Revenue of the company, Asset value and interdependency if any</label>
                                        <div class="hint-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="word-count">0/255</span></div>
                                        <span asp-validation-for="reasonCause" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="formrow">
                                    <div class="inputfilebox">
                                        <i class="uploadicon"></i>
                                        <label for="Doc_ProfitLoss1">Profit and loss last year</label>
                                        <input type="file" class="form-control" id="Doc_ProfitLoss1" name="Doc_ProfitLoss" placeholder="Profit">
                                    </div>
                                    <div class="hint-txt">Upload your project to represent your cause (Only PDF). <span class="tips"><a href="javascript:void(0)">Tips</a></span></div>

                                    @Html.ValidationMessageFor(Model => Model.Doc_ProfitLoss, "", new { @class = "text-danger" })

                                </div>

                                <div class="formrow">
                                    <div class="inputfilebox">
                                        <i class="uploadicon"></i>
                                        <label for="Doc_Ownership1">Upload Ownership structure</label>
                                        <input type="file" class="form-control" id="Doc_Ownership1" name="Doc_Ownership" placeholder="Profit">
                                    </div>
                                    <div class="hint-txt">Upload your project to represent your cause (Only PDF). <span class="tips"><a href="javascript:void(0)">Tips</a></span></div>
                                    @Html.ValidationMessageFor(Model => Model.Doc_Ownership, "", new { @class = "text-danger" })

                                </div>

                                <div class="formrow">
                                    <div class="inputfilebox">
                                        <i class="uploadicon"></i>
                                        <label for="Doc_ProjectionSales1">Upload Projection of sales for next 3 years</label>
                                        <input type="file" class="form-control" id="Doc_ProjectionSales1" name="Doc_ProjectionSales" placeholder="Projection">
                                    </div>
                                    <div class="hint-txt">Upload your project to represent your cause (Only PDF). <span class="tips"><a href="javascript:void(0)">Tips</a></span></div>
                                    @Html.ValidationMessageFor(Model => Model.Doc_ProjectionSales, "", new { @class = "text-danger" })

                                </div>

                                <div class="formrow">
                                    <div class="inputfilebox">
                                        <i class="uploadicon"></i>
                                        <label for="Doc_ValuationReport1">Upload valuation report structure</label>
                                        <input type="file" class="form-control" id="Doc_ValuationReport1" name="Doc_ValuationReport" placeholder="valuationReport">
                                    </div>
                                    <div class="hint-txt">Upload your project to represent your cause (Only PDF). <span class="tips"><a href="javascript:void(0)">Tips</a></span></div>
                                    @Html.ValidationMessageFor(Model => Model.Doc_ValuationReport, "", new { @class = "text-danger" })

                                </div>

                                <div class="formrow">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="chkDocuments_approved" id="adanidoc" value="uncheck">
                                        <label class="form-check-label" for="adanidoc">All documents are authenticated and approved by CA</label>
                                    </div>
                                </div>
                            </div>


                            <div class="formrow text-center">
                                <input type="hidden" name="FormUrl" value="/join-us">
                                <input type="hidden" name="FormType" value="Join Us">
                                <input type="hidden" id="googleCaptchaToken" name="googleCaptchaToken" value="" />

                                <button type="submit" id="joinUs_submit_btn" data-sitekey="6Le0pu0gAAAAAD9pAHmh_CiRwBo6VZCNEvhMMnes" class="btn btn-primary">Submit</button>
                            </div>

                            <div class="formrow">
                                <div class="tnc-txt text-center">By starting a campaign, you agree with Green talks <a href="javascript:void(0)">terms</a> and <a href="javascript:void(0)">conditions</a></div>
                            </div>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
