@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
   <div class="subSection section-works">
        <h2>
            @currentItem.Name <a href="#" class="black_link" data-bs-toggle="offcanvas" data-bs-target="#Carparking"
   aria-controls="citycanvasRight"> @currentItem.Fields["UrlName"].Value</a>
        </h2>
        <!-- <div class="card-wrapper parking-fac"> -->
        <div class="card-wrapper">           
            <div class="card-item">   
                @if (!string.IsNullOrEmpty(_helper.GetImageURL(currentItem, "Image")))
                {
                    <img src="@_helper.GetImageURL(currentItem, "Image")" alt="@_helper.GetImageAlt(currentItem, "Image")" loading="lazy">
                }
                    <!--<div class="text-container">-->
                        <!-- cacographic -->
                        <!--<div class="text-wrapper">-->
                            <!-- class="more" -->
                            <!--<p>
                            @currentItem.Fields["Description"].Value
                            </p>
                        </div>-->

                        @*<div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@currentItem.Fields["ReadMore"].Value</div>
                    </div>*@    
            <div class="text-container">
                <p>
                    @currentItem.Fields["Description"].Value
                    <a href="#" class="black_link mt-2 d-block" data-bs-toggle="offcanvas" data-bs-target="#Carparking"
                       aria-controls="citycanvasRight"> @currentItem.Fields["ReadMore"].Value</a>
                </p>
            </div>
            </div>
        </div>
    </div>
    
}




