@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.BelvedereClubGurgaon.Website.Models.Login

<div class="pageContent">
    <div class="container">
        <!-- Section -->
        <div class="pb-3">
            <div class="row">
                <div class="col-lg-5 mr-auto ml-auto">
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">@Html.Sitecore().Dictionary("Realty/UserLogin/SignIn", "Sign In")</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
                            {
                                @Html.AddUniqueFormId()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label for="inputPasswordOld">@Html.Sitecore().Dictionary("/Realty/UserLogin/UserName", "Username or Email")</label>
                                    @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control", id = "LoginName", required = "required" })
                                    @Html.ValidationMessageFor(x => x.LoginName, "", new { @class = "help-block txt-orange" }, "p")
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">@Html.Sitecore().Dictionary("/Realty/UserLogin/Passoword", "Passoword")</label>
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "Password", @autocomplete = "off", required = "required" })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block txt-orange" }, "p")
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("Realty/UserLogin/Login", "Login")</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Section -->
    </div>
</div>