
@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    //var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var elements = Sitecore.Context.Database.GetItem(datasource);
    //var Children =  elements.Children;
    //var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Ports/", "");
    //var path = ContentPath.Replace("/Ports/", "");
    //string[] pathArr = path.Split('/');
    //var navPath = "/";
    //var pageName = "";

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var Children = elements.Children;
    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/APMUL/", "");
    var path = ContentPath.Replace("/APMUL/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}


    @*<div class="breadcrumb-banner">
        <div class="bg-images"> @Html.Sitecore().ImageField("MediaThumbnail", elements, 0, 0, "image-fluid")</div>
        <div class="container position-relative d-block">
            <ul>
                @for (i = 0; i < pathArr.Count(); i++)
                {
                    navPath = navPath + pathArr[i];
                    pageName = pathArr[i].Replace("-", " ").Substring(0, 1).ToUpper() + "" + pathArr[i].Replace("-", " ").Substring(1).ToLower();

                    <li><a href="@navPath">@pageName</a></li>
                    navPath = navPath + "/";
                }
            </ul>
            @Html.Sitecore().Field("MediaDescription", elements)
        </div>
    </div>*@

    <section class="breadcrumb-slider">
        <div class="breadcrumb-sl-inner">
            <div class="container">
                <ul>
                    @*@for (int i = 0; i < pathArr.Count(); i++)
        {
            navPath = navPath + pathArr[i];
            pageName = pathArr[i].Replace("-", " ").Substring(0, 1).ToUpper() + "" + pathArr[i].Replace("-", " ").Substring(1).ToLower();

            <li><a href="@navPath">@pageName</a></li>
            navPath = navPath + "/";
        }*@
                    @for (int i = 0; i <= pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];


                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
            </div>
        </div>
        <div class="owl-carousel owl-theme" id="about-banner">
            @foreach (var item in Children.ToList())
            {

                <div class="item">
                    <div class="slider-content">
                        @Html.Sitecore().ImageField("MediaThumbnail", item, 0, 0, "img -fluid")
                        <div>
                            <div class="container">
                                <p>@Html.Sitecore().Field("MediaTitle", item)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
