@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!string.IsNullOrEmpty(Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary).ToString()))
{
    <div class="section bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center pt-md-3">
                        <p class="lead">@Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="section bg-white" id="@Html.Sitecore().Field(Templates.HasPageContent.Fields.Title).ToString().ToLower()">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-2">
                @if (!string.IsNullOrEmpty(Html.Sitecore().Field(Templates.HasPageContent.Fields.Title).ToString()))
                {
                    <h3 class="pull-left sectionHeading leftAlign mt-0">@Html.Sitecore().Field(Templates.HasPageContent.Fields.Title)</h3>
                }
                <div class="content">
                    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Body)
                </div>
            </div>
            <div class="col-md-6 py-2" style="margin-top:6%">
                <div id="prjtsCarousel1">
                    @Html.Sitecore().Placeholder("media-casoual")
                </div>
            </div>
        </div>
    </div>
</div>



