@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/AdaniGreenTalks/greentalkfavicon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="~/images/AdaniGreenTalks/greentalkfavicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="NOINDEX,NOFOLLOW" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    @{
        var siteItem = Sitecore.Context.Database.Items.GetItem("{34064204-9A4D-4F4E-90AE-1180DF78DF19}");
    }
    @{
        var GTMCode = Sitecore.Context.Database.Items.GetItem("{350E231E-5DA5-4676-BC39-D30FE175702C}");
    }
    @Html.Sitecore().Field("HeaderTagScript", siteItem)
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles()

    <title>Adani Green Talks</title>
    @Html.Raw(@GTMCode.Fields["HeaderTagScript"])

</head>

<body>
    @Html.Raw(@GTMCode.Fields["BodyTagScript"])
    @*Header*@
    @Html.Sitecore().Placeholder("header")
    @*Header TagLine*@
    @Html.Sitecore().Placeholder("header-tagline")
    @*Page Content*@
    @Html.Sitecore().Placeholder("page-layout")
    @*Footer*@
    @Html.Sitecore().Placeholder("footer")



    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @Html.Sitecore().Field("PageScripts", Sitecore.Context.Item)
    <div id="contactLoader" class="loader">
        <svg viewBox="0 0 70 100">
            <circle cx="6" cy="50" r="6">
                <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15"
                                  repeatCount="indefinite" begin="0.1" />
            </circle>
            <circle stroke="none" cx="30" cy="50" r="6">
                <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10"
                                  repeatCount="indefinite" begin="0.2" />
            </circle>
            <circle stroke="none" cx="54" cy="50" r="6">
                <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5"
                                  repeatCount="indefinite" begin="0.3" />
            </circle>
        </svg>
        <span>Give us a moment. We’re almost there.</span>
    </div>

</body>
</html>



