@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc.Configuration
@using System.Web.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model List<Sitecore.TrivandrumAirport.Website.Model.CorrigendumDetails>
@using Sitecore.TrivandrumAirport.Website.Model;
@{
    //var item = Sitecore.Context.Database.GetItem(Templates.Tender.AdminTenderDetail);
    //var tenderDetailURL = item.Url();
    //var TenderListURL = Sitecore.Context.Database.GetItem(Templates.Tender.AdminTenderListing);
}
<div class="pageContent">
    <div class="container">
        <div class="col-12 p-0 pb-3">
            <h2 class="txt-orange">@Html.Sitecore().Dictionary("TrivandrumAirport/Tender/Corrigendum Listing", "Corrigendum Listing")</h2>
        </div>
        <div class="col-12 p-0 pb-3">
            @if (!string.IsNullOrEmpty(ViewBag.TenderDetail))
            {
                <div class="form-group row">
                    <span><b>Tender Name:</b></span> <label for="" class="col-sm-12 col-form-label">@ViewBag.TenderDetail</label>
                </div>
            }
        </div>
        <!-- Tenders -->
        <div class="table-responsive tableOuter">
            <table class="table table-borderless table-white table-hover mb-0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Corrigendum Date</th>
                        <th scope="col">Corrigendum Title</th>
                        <th scope="col">Documents</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var itemdata in Model)
                        {
                            <tr>
                                <td>@itemdata.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@itemdata.Title</td>
                                <td>
                                    @foreach (var item in itemdata.TenderDocument)
                                    {

                                        var myFilePath = item.DocumentPath;
                                        string ext = Path.GetExtension(myFilePath);

                                        if (ext.ToLower() == ".pdf")
                                        {
                                            <a href="@item.DocumentPath" target="_blank">@item.FileName</a>
                                        }
                                        else
                                        {
                                            <a href="@item.DocumentPath" download="">@item.FileName</a>
                                        }

                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                No records found.
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            @*<div class="card-footer">
                    <a href="@TenderListURL.Url()" class="btn btn-primary">@Html.Sitecore().Dictionary("TrivandrumAirport/Tender/Back To List Text", "Back To Tender List")</a>
                </div>*@
        </div>
    </div>
    <!-- /Tenders -->

</div>