@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    int i = 1;

}




<section class="main_content py-lg-5 py-4 bg-white">
    <div class="container">
        @Html.Sitecore().Field("Body", element)
        <div class="row">
            @if (element != null)
            {
                foreach (Item item in element.GetChildren())
                {
                    if (i % 2 != 0)
                    {
                        <div class="col-lg-7 mb-4 col-md-6">
                            <h3> @Html.Sitecore().Field("Title", item)</h3>
                            @Html.Sitecore().Field("Summary", item)
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-5 mb-4 col-md-6">
                            <h3> @Html.Sitecore().Field("Title", item)</h3>
                            @Html.Sitecore().Field("Summary", item)
                        </div>

                    }
                    i++;
                }
            }
            <div class="col-lg-5 mb-4 col-md-6">
                @Html.Sitecore().Field("Summary", element)
            </div>

        </div>
    </div>
</section>
