@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string divID = string.Empty;
    string cssClass = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    Helper _helper = new Helper();
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        divID = parms["id"];
        cssClass = parms["class"];
    }
}
@if (currentItem != null)
{
    <div class="section-wrap business-service @cssClass" id="@divID">
        <div class="service-tiles">
            <div class="img-box">
                <img loading="lazy" src="@_helper.GetImageURL(currentItem,"ItemImage")" />
            </div>
            <div class="content-box">
                <h3 class="sr-heading">@Html.Sitecore().Field("StepText", currentItem)</h3>
                @Html.Sitecore().Field("ItemDescription", currentItem)
            </div>
        </div>
    </div>
}
