@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using SitecoreBundler
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary" />
    <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">
    <meta name="twitter:url" content="https://stage.adani.com/covid19updates" />
    <meta name="twitter:title" content="Adani Group's Initiatives to Fight Against COVID-19 | Coronavirus News" />
    <meta name="twitter:description" content="Adani Group is humbled to contribute Rs. 100 Cr to the #PMCaresFunds in this hour of India’s battle against #COVID19. We are also contributing additional resources to support the Governments and fellow Citizen in these testing times." />
    <meta name="twitter:image" content="https://stage.adani.com/-/media/GoodnessNeverStops 02nd.jpg" />
    <meta property="og:title" content="Adani Group's Initiatives to Fight Against COVID-19 | Coronavirus News" />
    <meta property="og:image" content="https://stage.adani.com/-/media/GoodnessNeverStops 02nd.jpg" />
    <meta property="og:description" content="Adani Group is humbled to contribute Rs. 100 Cr to the #PMCaresFunds in this hour of India’s battle against #COVID19. We are also contributing additional resources to support the Governments and fellow Citizen in these testing times." />
    <meta property="og:url" content="https://stage.adani.com/covid19updates" />

    <!--[if IE 9]>
          <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
        <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>

    <![endif]-->

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)



    <link href="/styles/Adani/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/Adani/fontawesome-all.css" rel="stylesheet" />
    <link href="/styles/Adani/owl.carousel.css" rel="stylesheet" />
    <link href="/styles/Adani/owl.theme.default.css" rel="stylesheet" />
    <link href="/styles/Adani/adani-com.css" rel="stylesheet" />
    <link href="/styles/Adani/adani-com-responsive.css" rel="stylesheet" />
    <link href="/styles/Adani/animate.css" rel="stylesheet" />
    <link href="/styles/Adani/aos.css" rel="stylesheet" />
    <link href="/styles/Adani/magnific-popup.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/Electricity/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/fontawesome-all.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/gijgo.min.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/owl.carousel.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/owl.theme.default.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/adani-custom.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/adani-custom-responsive.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/aos.css" rel="stylesheet" />
    <link href="/styles/MangaloreAirport/animate.min.css" rel="stylesheet" />

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
 
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
  
 





    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MWTKKQN');</script>



</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWTKKQN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="navPanel fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-8 border-right py-2 text-center">

                        <a class="navbar-brand" href="/"><img alt="" src="-/media/8614C9E10D4A4EC3993153E0208322ED.ashx" class="img-fluid"/></a>
                    </div>
                    <div class="col-sm-9 col-4">
                        <div class="row top-submenu">
                            <div class="col-lg-9 col-0">
                                @Html.Sitecore().Placeholder("header-top")
                            </div>
                            <div class="col-md-3 col-sm-4 col-10 ml-auto">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <div class="row">
                                           
                                            <div class="col-sm-6 col-6">
                                            
                                                <div class="d-block d-lg-none topNavBtn">

                                                    <button type="button" id="topNavCollapse" class="btn btn-menu">
                                             
                                                        <i class="fas fa-bars"></i>
                                                    </button>
                                                </div>
                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row nav-bg-gray mainmenu">
                            <div class="col-sm-8 col-md-9">
                                @Html.Sitecore().Placeholder("navbar")
                            </div>
                            <div class="col-sm-4 col-md-3 mobile-none">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
    </header>

  
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main>
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-angle-up"></span></a>
  
    <footer class="pt-5 bg-white position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
			<div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
		<div class="container">
			<div class="row row-grid align-items-end ftrBtmInner">
			<div class="col-12 col-md-auto text-center text-md-left">

				<div class="d-none d-md-block">© 2019 Adani Group</div>
			</div>
			<div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
				<div class="footerMenu">
					<ul class="ft-policy-links">
							<li>
								<a href="/privacy-policy">
								Privacy Policy
								</a>
							</li>
							<li>
								<a href="/disclaimer">
								 Legal Disclaimer
								</a>
							</li>
							<li>
								<a href="/terms-and-conditions">
								Terms &amp; Conditions
								</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
    </footer>
 
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()

</body>
</html>
