<!-- @using Sitecore.Foundation.SitecoreExtensions.Extensions -->
<!-- @using Sitecore.Foundation.Dictionary.Repositories -->
<!-- @using Sitecore.Mvc.Presentation -->
<!-- @using System.Text.RegularExpressions -->
<!-- @using Sitecore.Foundation.SitecoreExtensions.Extensions -->
<!-- @model RenderingModel -->
<!-- @{ -->
    <!-- var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource; -->
    <!-- var parent = Sitecore.Context.Database.GetItem(datasource); -->
	<!-- var tab=parent.Children; -->
	<!-- var i =0; -->
	 <!-- var j = 0; -->
	  <!-- var divID = ""; -->
<!-- } -->
<!-- <section class="pt-5 pb-4 bg-gray"> -->
	<!-- <div class="container"> -->
	<!-- @Html.Sitecore().Field("Summary",parent) -->
				     <!-- <div class=""> -->
                  <!-- <ul class="nav nav-tabs tabs-section d-md-flex d-none"> -->
                 <!-- @foreach (var child in tab.ToList()) -->
				 <!-- { -->
				   <!-- var replacestr = Regex.Replace(@Html.Sitecore().Field("Title", child).ToString(), "[^a-zA-Z0-9_]+", "").ToLower();   -->

				 <!-- if (i == 0) -->
				   <!-- { -->
                 <!-- <li class ="nav-item"> -->
				 <!-- <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="false" href="#@replacestr">@Html.Sitecore().Field("Title", child)</a></li> -->
				 <!-- } -->
				 <!-- else -->
				 <!-- { -->
				  <!-- <li class ="nav-item"> -->
				 <!-- <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false" href="#@replacestr">@Html.Sitecore().Field("Title", child)</a></li> -->
				 <!-- } -->
				 <!-- i++; -->
                 <!-- } -->
                  <!-- </ul> -->
                                             
				<!-- </div> -->
				
		
				 <!-- <div class="tab-content p-4 d-md-flex d-none" id="address-tab-container"> -->
                <!-- @foreach (var child in tab.ToList()) -->
                <!-- { -->
                    <!-- if (j == 0) -->
                    <!-- { -->
                        <!-- divID = Regex.Replace(@Html.Sitecore().Field("Title", child).ToString(), "[^a-zA-Z0-9_]+", "").ToLower(); -->

                        <!-- <div class="tab-pane fade show active" id="@divID" role="tabpanel" aria-labelledby="home-tab"> -->
                            <!-- @Html.Sitecore().Field("Body", child) -->
							 <!-- @Html.Sitecore().Field("Summary", child) -->
                            
                        <!-- </div> -->
                    <!-- } -->
                    <!-- else -->
                    <!-- { -->
                        <!-- divID = Regex.Replace(@Html.Sitecore().Field("Title", child).ToString(), "[^a-zA-Z0-9_]+", "").ToLower(); -->

                        <!-- <div class="tab-pane fade show" id="@divID" role="tabpanel" aria-labelledby="home-tab"> -->
                            <!-- @Html.Sitecore().Field("Body", child) -->
                            <!-- @Html.Sitecore().Field("Summary", child) -->
                        <!-- </div> -->
                    <!-- } -->
                    <!-- j++; -->
                <!-- } -->
            <!-- </div>		 -->
	
	
	
	
	
<!-- </div> -->
<!-- </section> -->