@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    // var itemcollections = models.Axes.GetDescendants();
}
<!-- Section8 -->
<section class="section-downloadsInfo2 bg-downloads section">
    <div class="bg-images">
        @Html.Sitecore().ImageField(Templates.NavigationBar.Fields.VideoThumb, models, 0, 0, "img-fluid")
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7 contactTxt">
                <h5>@Html.Sitecore().ImageField(Templates.NavigationBar.Fields.Description, models)</h5>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 contactBtn">
                @Html.Sitecore().Field(Templates.NavigationBar.Fields.LinkText, models)
                @*<a href="@models.Fields["Link"].Value" class="btn btnBordered">@Html.Sitecore().ImageField(Templates.NavigationBar.Fields.Title, models)</a>*@
            </div>
        </div>
    </div>
</section>
<!-- Section8 -->