@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<section class="section bg-white position-relative">
    <div class="container">
        <div class="row pt-3">
            <div class="col-sm-6 col-lg-4">
                <h5 class="sectionTitle-violet">@Html.Sitecore().DictionaryField("/Adani/Global/Dictionary/News/Latest News", "Latest News")</h5>
                <div class="panelBox">
                    <ul class="newsList">
                        @Html.Sitecore().Placeholder("latest-news")
                    </ul>
                </div>
                <div class="btnWrapper"><a href="@Html.Sitecore().DictionaryField("/Adani/Global/Dictionary/News/News Read More", "https://www.adani.com")" class="btn btn-violet">Read more</a></div>
            </div>
            <div class="col-sm-6 col-lg-4">

                <h5 class="sectionTitle-violet">@Html.Sitecore().DictionaryField("/Adani/Global/Dictionary/Resources/Resources", "Resources")</h5>
                @Html.Sitecore().Placeholder("resources")
                <div class="btnWrapper"><a href="@Html.Sitecore().DictionaryField("/Adani/Global/Dictionary/Resources/Explore More Facts", "https://www.adani.com")" class="btn btn-violet">Explore more facts</a></div>
            </div>
            <div class="col-sm-6 col-lg-4 videoCol">
                <h5 class="sectionTitle-violet">@Html.Sitecore().DictionaryField("/Adani/Global/Dictionary/Media Center/Media Center", "Media Center")</h5>
                @Html.Sitecore().Placeholder("media-center")
                <div class="btnWrapper"><a href="@Html.Sitecore().DictionaryField("/sitecore/content/Adani/Global/Dictionary/Media Center/View All", "https://www.adani.com")" class="btn btn-violet">View all</a></div>
            </div>
        </div>
    </div>
</section>
