@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var itemcollections = models.Axes.GetDescendants();
    var i = 0;
}
<section class="section pad0 position-relative d-block">
    <div class="bg-images">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, models)</div>
    <div class="byLocation">
        <div class="container">
            <h3 class="text-center sectionHeading">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, models)</h3>
            <!-- Country Component start -->
            <div id="location_carsol" class="owl-carousel">
                @foreach (var child in models.Children.ToList())
                {
                    <div class="item">
                        <div class="locationTab">
                            <a href="javascript:void(0);" class="locTabLink @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, child)" title="@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, child)">
                                @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, child, 0, 0, "img-fluid")
                                <span class="locName">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, child)</span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="section bg-white" id="team-tile">
    <div class="container teams-tiles txt-center">
        <div id="thumbs" class="owl-carousel owl-theme">
            @foreach (var items in models.Children.ToList())
            {
                foreach (var child in items.Children.ToList())
                {
                    <div class=" item">
                        @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, child, 0, 0, "img-fluid")  @*img-fluid")*@
                        <h3>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, child)</h3>
                    </div>
                }
            }
        </div>
    </div>
    <div class="container">
        <div id="big" class="owl-carousel owl-theme">
            @{ i = 0;}
            @foreach (var items in models.Children.ToList())
            {
                foreach (var child in items.Children.ToList())
                {
                    foreach (var subchild in child.Children.ToList())
                    {

                        @Html.Sitecore().Field("{4FAB727E-7D87-4891-856D-507D9278A697}", subchild)
                        @*<div class="row item t-tiles">
                                <div class="col-lg-3 txt-center">
                                    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, child, 0, 0, "img-fluid")
                                    <h3>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, child)</h3>
                                    <h4>@Html.Sitecore().Field(SubTitleTemp, child)</h4>
                                </div>
                                <div class="col-lg-9 pt-5 pb-5 px-5 mt-5">
                                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, child)
                                </div>
                            </div>*@
                    }
                }
            }
        </div>
    </div>
</section>