@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc

<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="~/images/AdaniTotal/favicon.png" />
    <title>Adani Total</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--Animate CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">

    <!--Lato Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->

    <header>
        <div class="fade-overlay"></div>
        <div class="overlay-top"></div>
        @Html.Sitecore().Placeholder("Header")
    </header>

    <!-- /Header -->
    <!--  Main content Section-->
    <main>
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    @*<div class="fixed_cta">
        <a href="#"><img src="~/images/AdaniTotal/fixed-cta.png"></a>
    </div>
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>*@
   
    <footer>
       
     @Html.Sitecore().Placeholder("footer")
      </footer>
        <!-- /Footer -->
        <!-- To top -->
        @*<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
            <span class="fa fa-angle-up"></span>
        </a>*@
        <!-- /To top -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        @Html.Sitecore().Placeholder("page-sidebar")

        @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
        @Html.RenderFormScripts()
        <script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

        @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
            <script src="~/scripts/Realty/popper.min.js"></script>
            <script src="~/scripts/Realty/bootstrap.min.js"></script>

            <!--[if lte IE 8]>
              <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
              <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
            <![endif]-->

            <!-- Owl Carousel -->
            <script src="~/scripts/Realty/owl.carousel.min.js"></script>

            <!-- Gallery carousel -->

            <script src="~/scripts/Realty/carousle-slider.js"></script>

            <!-- Custom JavaScript for Adani Electricity
            ================================================== -->
            <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
</body>
</html>
