@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model IEnumerable<Sitecore.LucknowAirport.Website.Models.LucknowFlight>


@{
    var i = 1;
}
@foreach (var item in Model)
{
     if (item.Flightkind == "Arrival")
    {
        <tr>
            <td>@item.Airline</td>
            <td>@item.FlightNumber</td>
            <td>@item.ArrivingFrom</td>
            <td>@item.Scheduled</td>
            <td>@item.EstimationTime</td>
            <td>@item.Status</td>
        </tr>
      
    }

}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
  
<tr>
<td colspan="6"><p class="text-center" style="
    color: #737373;
    text-decoration: underline;
"><span class="fa fa-exclamation-triangle mr-2"></span>There is no data to show</p></td>   
</tr>

}