@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

	var shortDescription = element.Fields["MediaInfo"];

}

<section class=".airo pt-4 pb-4 container-fluid section-services bg-white celebration">
        <h2 class="heading2 KeralaheadingWeight pb-3">
			@Html.Sitecore().Field("Text",element)					
        </h2>
		@if (Html.Sitecore().Field("MediaInfo",element).ToString()!= "")
        {
            <h5 class="pb-3">
                @Html.Sitecore().Field("MediaInfo",element)
            </h5>
        }
        <div class="d-lg-block d-none">
            <div class="owl-carousel airport-section__carousel ">
				@foreach(Item item in element.GetChildren())
                {
					Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
					var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
					<div class="item">
						<a>
							<img src="@imgurl" class="img-fluid w-100" alt="" />
							<div class="text-center">
								<p>@Html.Sitecore().Field("MediaTitle", item)</p>
								<span>@Html.Sitecore().Field("MediaDescription",item)</span>
							</div>
						</a>
					</div>
				}
            </div>
        </div>
        <div class="d-lg-none d-block">
            <div class="owl-carousel airport-section__carousel ">
			@foreach(Item item in element.GetChildren())
                {
					Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
					var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
					<div class="item">
						<a>
							<img src="@imgurl" class="img-fluid w-100" alt="" />
							<div class="text-center">
								<p>@Html.Sitecore().Field("MediaTitle", item)</p>
								<span>@Html.Sitecore().Field("MediaDescription",item)</span>
							</div>
						</a>
					</div>
				}
            </div>
        </div>
</section>
