@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var classImage = element.Fields["Class"];


}
<section class="bg-white pt-4 pb-4 content-section" id="main-section">
	<section>
            <div class="container-fluid">
				@if (classImage.ToString() == "Left")
				{
					<h3 class="Keralaheading mb-4 KeralaheadingWeight">@Html.Sitecore().Field("MediaTitle", element)</h3>
				}
				@if (classImage.ToString() == "Right")
				{
					<h3 class="history mt-5 KeralaheadingWeight">@Html.Sitecore().Field("MediaTitle", element)</h3>
				}
                <div class="row">
				@if (classImage.ToString() == "Left")
				{
					Sitecore.Data.Fields.ImageField imgField = element.Fields["MediaImage"];
					var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                    <div class="col-md-6">
                        <img class="thiruvananthapuram w-100 pb-3" src="@imgurl" alt="" id="mobileshow">
                    </div>
                    <div class="col-md-6">
                        <h3 class="Keralaheading2 KeralaheadingWeight mb-4">@Html.Sitecore().Field("MediaTitle", element)</h3>
                        <span class="mt-4 more">@Html.Sitecore().Field("MediaDescription", element)</span>
                    </div>
				}
					
				@if (classImage.ToString() == "Right")
				{
					Sitecore.Data.Fields.ImageField imgField = element.Fields["MediaImage"];
					var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
					<div class="col-md-6">
						<h3 class="mt-5 history2 mb-4 KeralaheadingWeight">@Html.Sitecore().Field("MediaTitle", element)</h3>		
						<span class="more history3">@Html.Sitecore().Field("MediaDescription", element) </span>
					</div>
					<div class="col-md-6">						
						<h3 class="mt-5 history4 KeralaheadingWeight">@Html.Sitecore().Field("MediaTitle", element)</h3>
						<img class="w-100 mt-5 pb-3" src="@imgurl" alt="" >
						<span class="more history5">@Html.Sitecore().Field("MediaDescription", element)</span>
					</div>
				}					
                   
                </div>
            </div>
    </section>
</section>






