@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<style>
@@media(max-width:768px){

    a.morelink1 {

        font-weight: 500;

    color: black;

    text-decoration: none;

     /* border: 2px solid red;  */

    float: right;

    top: 0;

    right: 0;

    left: 260px;

    position: absolute;

    margin-top: 25px;

    font-size: 40px;

}

}
@@media(max-width:768px){
    .more1{
    margin-left: 54px;
    width: inherit;
    }
}
</style>
          <section class="pt-4 pb-4 bg-white" id="bestplaces">
              <div class="container-fluid">
                  <h3 class="pb-3 KeralaheadingWeight">Best Places to Shop in Thiruvananthapuram</h3>
					@foreach (Item item in element.GetChildren())
					{
						Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
						var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
						<div class="row">
							<div class="col-md-1 mt-3">
								<img class="thumbnailHW" src="@imgurl" alt="">
							</div>
							<div class="col-md-11">
								<h4 class="mt-3 pb-3 pl-3">@Html.Sitecore().Field("MediaTitle", item)</h4>
								<p class="more1 ">@Html.Sitecore().Field("MediaDescription", item)</p>
							</div>
						</div>
						<hr>
					}
              </div>
          </section>


<!-- mobileview -->
          <section class="pt-4 pb-4 bg-white" id="bestplace1">
            <div class="container">
                <h3 class="KeralaheadingWeight">Best Places to Shop in Thiruvananthapuram</h3>
				@foreach (Item item in element.GetChildren())
				{
						Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
						var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
						<div class="row">
							<div class="col-2 mt-3">
								<img class="places thumbnailHW" src="@imgurl" alt="" />
							</div>
							<div class="col-8">
								<h4 class="mt-5 pl-5 ">@Html.Sitecore().Field("MediaTitle", item)</h4>
								<p class="more1 mt-2">@Html.Sitecore().Field("MediaDescription", item)</p>
							</div>
							<div class="col-2">
								<!--<button class="mt-5" style="border:none; background-color:#fff;">
									<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
									 </svg>  
								</button>-->
							</div>
						</div>
						<hr>
				}
            </div>
        </section>
		
		
		
		
		


