@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model IEnumerable<Sitecore.TrivandrumAirport.Website.Models.TrivandrumFlight>



@{
    var i = 1;
	var Astatus = "";
}
@foreach (var item in Model)
{
  if (item.Flightkind == "Arrival" )
	{
	if(item.Status == "On-Time" || item.Status == "Arrived" || item.Status == "Delayed" || item.Status == "Cancelled" || item.Status == "Diverted" || item.Status == "Baggage Delivered" || item.Status == "Bags on Belt" || item.Status == "Awaiting Bag")
		{		

			if(item.Status == "Baggage Delivered" || item.Status == "Bags on Belt" || item.Status == "Awaiting Bag")
			{
				Astatus="Arrived";
			}
			else
			{
			Astatus=item.Status;
			}
        <tr>
            <td>@item.Airline</td>
            <td>@item.FlightNumber</td>
            <td>@item.ArrivingFrom</td>
            <td>@item.Scheduled</td>
            <td>@item.EstimationTime</td>
            <td>@Astatus</td>
			<td><a><span class="far fa-envelope"></span></a></td>
        </tr>
       }
	   }

}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
  
<tr>
<td colspan="6"><p class="text-center" style="
    color: #737373;
    text-decoration: underline;
"><span class="fa fa-exclamation-triangle mr-2"></span>There is no data to show</p></td>   
</tr>

}