@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.ResidentTopProperty.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.ResidentTopProperty.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var contectText = Sitecore.Context.Item;
}

<h1 class="mb-3">@Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Title, model)
    @*<span class="txt-blue txt-bold">@Html.Sitecore().Field(Templates._HasPageContent.Fields.Title,contectText)</span>*@
    </h1>
<div class="row mb-5">
    <div class="col-lg-7 mb-5">
        <p class="txt-md">
            @Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Description, model)
        </p>
    </div>
    <div class="col-lg-5">
        @Html.Sitecore().Field(Templates.ResidentTopProperty.Fields.Logo, model, new { @class = "img-fluid" })
    </div>
</div>