@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Realty.Website
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var img = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}

<section class="testimonial">
    <div class="bg-images">@Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image, img)</div>
    <div class="testimonial-bg pt-4 pb-5">
        <div class="container">
            <h3>Happy Customers</h3>
            <div class="large-12 columns">
                <div class="owl-carousel owl-theme" id="testimonials">
                    @foreach (var child in models.Children.ToList())
                    {
                        <div class="item bg-white py-4 px-4">
                            <p>@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)</p>
                            <div class="row">
                                @*<div class="col-3">
                                    @Html.Sitecore().ImageField(Templates.HappyCustomer.Fields.Image, child, 0, 0, "mt-2 img-fluid")
                                </div>*@
                                <div class="col-9 pt-3">
                                    <p class="txt-blue"><b>@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Name, child)</b></p>
                                    <p>Resident : @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Resident, child)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>