@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@using Sitecore.Mvc.Configuration
@*@model Sitecore.Mvc.Presentation.RenderingModel*@
@model Sitecore.Realty.Website.Model.RealtyFilter

@{

    var RealtySearchPage = Sitecore.Context.Database.GetItem(Templates.RealtySearchPage.ID);

    var searchurl = string.Empty;

    if (RealtySearchPage != null)
    {
        searchurl = RealtySearchPage.Url();
    }

}
@*<style>
        #myInputautocomplete-list div {
            position: absolute;
            background: #fff;
            width: 100%;
            max-width: 280px;
            top: 89%;
            border: 1px solid #e3e3e3;
            padding: 10px 10px;
            color: #000;
            border-radius: 3px;
        }
    </style>*@

<div class="bannerForm mobile-none innerform">
    <div class="container filter-box">
        <div class="">
            <form method="get" action="@searchurl">
                <div class="row">
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.qry, new { @class = "form-control typeahead", @name = "country", @id = "country", placeholder = "Enter City.." })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(m => m.project, new { @class = "form-control typeahead", @name = "country", @id = "project", placeholder = "Enter Project.." })
                    </div>
                    <div class="col-3">
                        @Html.DropDownListFor(m => m.type
                                , new SelectList(Model.PropertyTypeList, "Value", "Text", Model.type)
                                , Html.Sitecore().Dictionary("/Search/Type", "Type")
                                , new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.DropDownListFor(m => m.status
                                , new SelectList(Model.ProjectStatusList, "Value", "Text", Model.status)
                                , Html.Sitecore().Dictionary("/Search/Status", "Status")
                                , new { @class = "form-control" })
                    </div>
                    @*<div class="col-2">
                        <a href="#" class="adv-search" data-toggle="collapse" data-target="#demo">
                            <i class="fa fa-cog"></i>
                            &nbsp;&nbsp; @Html.Sitecore().Dictionary("/Search/Advanced", "Advanced")
                        </a>
                    </div>*@
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Search/Find", "Find")</button>
                    </div>
                </div>
                <div id="demo" class="collapse" style="margin-top:20px;">
                    <div class="row pb-3">
                        <div class="col-2">
                            @Html.DropDownListFor(m => m.minarea
                                        , new SelectList(Model.MinimumAreaList, "Value", "Text", Model.minarea)
                                        , Html.Sitecore().Dictionary("/Search/Min Area", "Min Area")
                                        , new { @class = "form-control" })
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(m => m.maxarea
                                        , new SelectList(Model.MaximumAreaList, "Value", "Text", Model.maxarea)
                                        , Html.Sitecore().Dictionary("/Search/Max Area", "Max Area")
                                        , new { @class = "form-control" })
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(m => m.minbudget
                                        , new SelectList(Model.MinimumBudgetList, "Value", "Text", Model.minbudget)
                                        , Html.Sitecore().Dictionary("/Search/Min Budget", "Min Budget")
                                        , new { @class = "form-control" })
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(m => m.maxbudget
                                        , new SelectList(Model.MaximumBudgetList, "Value", "Text", Model.maxbudget)
                                        , Html.Sitecore().Dictionary("/Search/Max Budget", "Max Budget")
                                        , new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Banner -->
<div class="bannerForm desktop-none">
    <div class="bannerForm desktop-none">
        <div class="container filter-box">
            <div class="">
                <form method="get" action="@searchurl">
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.TextBoxFor(m => m.qry, new { @class = "form-control typeahead", @name = "country", @id = "country", placeholder = "Enter City" })
                        </div>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(m => m.project, new { @class = "form-control typeahead", @name = "country", @id = "project", placeholder = "Enter Project" })
                        </div>
                        <div class="col-lg-3 col-md-6">

                            @Html.DropDownListFor(m => m.type
                                , new SelectList(Model.PropertyTypeList, "Value", "Text", Model.type)
                                , Html.Sitecore().Dictionary("/Search/Type", "Type")
                                , new { @class = "form-control" })

                        </div>
                        <div class="col-lg-3 col-md-6">

                            @Html.DropDownListFor(m => m.status
                                , new SelectList(Model.ProjectStatusList, "Value", "Text", Model.status)
                                , Html.Sitecore().Dictionary("/Search/Status", "Status")
                                , new { @class = "form-control" })
                        </div>
                        @*<div class="col-lg-3 col-md-6">
                                <a href="#" class="adv-search" data-toggle="collapse" data-target="#demo1" aria-expanded="false"><i class="fa fa-cog"></i>&nbsp;&nbsp;@Html.Sitecore().Dictionary("/Search/Advanced", "Advanced")</a>
                            </div>*@
                        <div id="demo1" class="collapse tab-mobile px-3" style="margin-top: 20px;">
                            <div class="row pb-3">
                                <div class="col-lg-3 col-md-6">

                                    @Html.DropDownListFor(m => m.minarea
                                        , new SelectList(Model.MinimumAreaList, "Value", "Text", Model.minarea)
                                        , Html.Sitecore().Dictionary("/Search/Min Area", "Min Area")
                                        , new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-6">

                                    @Html.DropDownListFor(m => m.maxarea
                                        , new SelectList(Model.MaximumAreaList, "Value", "Text", Model.maxarea)
                                        , Html.Sitecore().Dictionary("/Search/Max Area", "Max Area")
                                        , new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-6">

                                    @Html.DropDownListFor(m => m.minbudget
                                        , new SelectList(Model.MinimumBudgetList, "Value", "Text", Model.minbudget)
                                        , Html.Sitecore().Dictionary("/Search/Min Budget", "Min Budget")
                                        , new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3 col-md-6">

                                    @Html.DropDownListFor(m => m.maxbudget
                                        , new SelectList(Model.MaximumBudgetList, "Value", "Text", Model.maxbudget)
                                        , Html.Sitecore().Dictionary("/Search/Max Budget", "Max Budget")
                                        , new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">

                            <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Search/Find", "Find")</button>
                            @*@Html.Action("Search","Realty")*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Banner -->