@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@using Sitecore.Mvc.Configuration
@model Sitecore.Realty.Website.Model.EnquiryModel

@{
    var id = Sitecore.Context.Database.GetItem(Templates.ThankYouPage.ID).Url();
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host;
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
}


<h3 class="mb-5">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle)</h3>
<form id="enquiry_form11" name="enquiry_form11" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="form1" style="padding: 1% 3%;">
    <input type=hidden name="oid" value="00D28000000eQCv">
    <input type=hidden name="retURL" id="retURL" value="@RedirectUrl">
    <input type=hidden name="lead_source" value="5 - Web to Lead">
    <input type="hidden" name="00N2800000DM81x" value="1">
    <input type="hidden" id="FormType" value="enquiry" />
    <input type="hidden" id="PageInfo" value="@pagename" />
    <input type="hidden" id="utm_source" value="" />
    <h5 class="required mb-2">All fields are mandatory.</h5>
    <div class="row">
        <div class="col-sm-6 mb-4">
            <input type="text" class="form-control" placeholder="First Name" name="first_name" id="firstname" required="required" />
        </div>

        <div class="col-sm-6 mb-4">
            <input type="text" class="form-control" placeholder="Last Name" name="last_name" id="lastname" required="required" />
        </div>
        <div class="col-sm-6 mb-4">
            <input class="form-control" placeholder="Mobile" type="number" name="mobile" id="enuiry-mobile" required="required" />
        </div>
        <div class="col-sm-6 mb-4">
            <input type="email" class="form-control" placeholder="Email" name="email" id="enuiry-email" required="required" />
        </div>
        <div class="col-sm-6 mb-4">
            <input class="form-control" type="number" placeholder="Budget" name="00N28000007ZbWU" id="budget" required="required">
        </div>
        <div class="col-sm-6 mb-4">
            @Html.DropDownList("country_code", new List<SelectListItem>
           {
              new SelectListItem{Value="AU",Text="Australia"},
              new SelectListItem{Value="CA",Text="Canada"},
              new SelectListItem{Value="BR",Text="Brazil"},
              new SelectListItem{Value="CN",Text="China"},
              new SelectListItem{Value="DE",Text="Germany"},
              new SelectListItem{Value="GB",Text="United Kingdom"},
              new SelectListItem{Value="IE",Text="Ireland"},
              new SelectListItem{Value="IN",Text="India"},
              new SelectListItem{Value="IT",Text="Italy"},
              new SelectListItem{Value="MX",Text="Mexico"},
              new SelectListItem{Value="US",Text="United States"},
           }, "Select Country",new {id="drpcountry", @class = "form-control" })
        </div>
        <div class="col-sm-6 mb-4">
            @Html.DropDownList("state_code", new List<SelectListItem> { }, "Select State", new { id = "state", @class = "form-control" })
        </div>
        <div class="col-sm-6 mb-4">
            <p>Projects Interesetd: </p>
            <p>
                <input checked="checked" type="radio" name="recordType" value="0122v000001uNyyAAE" id="residentialrb">&nbsp;RESIDENTIAL <br />
            </p>
            <p>
                <input type="radio" name="recordType" value="0122v000001uNyyAAEc" id="commercialrb">&nbsp;COMMERCIAL<br />
            </p>
            <p>
                <input type="radio" name="recordType" value="0122v000001uNyyAAEb" id="clubrb">&nbsp;CLUB<br />
            </p>
        </div>
        <div class="col-sm-6 mb-4">
            <select id="describe" name="Projects_Interested__c" required="required" class="form-control">
                <option name="name" value="" style="color:#000!important;">Select Property</option>
                <option style="color:#000!important;" value="Aangan">Aangan</option>
                <option style="color:#000!important;" value="Elysium">Elysium</option>
                <option style="color:#000!important;" value="La Marina">La Marina</option>
                <option style="color:#000!important;" value="Oyster Grande">Oyster Grande</option>
                <option style="color:#000!important;" value="The Meadows">The Meadows</option>
                <option style="color:#000!important;" value="Western Heights">Western Heights</option>
                <option style="color:#000!important;" value="Water Lily">Water Lily</option>
                <option style="color:#000!important;" value="The North Park">The North Park</option>
                <option style="color:#000!important;" value="Monte South">Monte South</option>
                <option style="color:#000!important;" value="Samsara">Samsara</option>
                <option style="color:#000!important;" value="Pratham">Pratham</option>
                <option style="color:#000!important;" value="Aangan - Shantigram">Aangan - Shantigram</option>
                <option style="color:#000!important;" value="Code Name Greens">Code Name Greens</option>
            </select>
        </div>
        <div class="col-sm-6 mb-4" id="sale_type" style="display:none;">
            <select class="form-control" name="00N2800000EFM7F" title="Sale Type" id="sellingtype">
                <option style="color:#000;" value="">Select Sale Type</option>
                <option style="color:#000;" value="B2B Outright">Outright</option>
                <option style="color:#000;" value="B2B Outright Pre-Lease">Outright Pre-Lease</option>
                <option style="color:#000;" value="B2B Lease">Lease</option>
                <option style="color:#000;" value="B2B Lease and Buyout">Lease and Buyout</option>
            </select>
        </div>
        <div class="col-sm-12 mb-4">
            <textarea class="form-control" name="00N28000007ZbWx" rows="4" cols="50" id="remarks"></textarea>
        </div>
    </div>
    @*<div class="g-recaptcha" data-sitekey="6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf" data-callback="correctCaptcha"></div><br>*@
    <div class="form-group row py-2 mb-5">
        <div class="col-sm-12">
            <input class="btn btn-primary" type="button" id="submitformabcd" value="Submit" name="contact" />
            <input class="btn btn-secondary" type="reset" />
        </div>
    </div>
</form>




