
<header class="headerCntr">
    <div class="container-header-box">
        <div class="d-flex align-items-centre justify-content-between">
            <div class="d-flex align-items-centre ">
                <div class="hamburgerCntr">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <img src="/-/media/Project/Adani-Updates/images/images/hamburger.svg" />
                    </button>

                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            <!-- <div id="navbarCollapse"> -->
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a class="@(Request.Path.EndsWith("resource-centre")?"active":"")"
                                       href="resource-centre">Resource Centre</a>
                                </li>
                                <li>
                                    <a class="@(Request.Path.EndsWith("media-news")?"active":"")"
                                       href="media-news">News in the Media</a>
                                </li>
                                <li>
                                    <a class="@(Request.Path.EndsWith("media-release")?"active":"")"
                                       href="media-release">Media Releases</a>
                                </li>

                                <li>
                                    <a class="@(Request.Path.EndsWith("key-opinion")?"active":"")"
                                       href="key-opinion">Key Opinion Showcase</a>
                                </li>
                                <li>
                                    <a class="@(Request.Path.EndsWith("news-highlights")?"active":"")"
                                       href="news-highlights">News Highlights</a>
                                </li>
                            </ul>
                            <!-- </div> -->
                            <div class="offcanvas-footer socialLink">
                                <ul class="list-group list-group-horizontal">
                                    <li><a target="_blank" href="https://www.facebook.com/AdaniOnline" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Facebook.svg"></a></li>
                                    <li><a target="_blank" href="https://twitter.com/adanionline" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Twitter.svg"></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/company/adani-group/" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Linkedin.svg"></a></li>
                                    <li><a target="_blank" href="https://www.youtube.com/user/AdaniOnline" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Youtube.svg"></a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/adanionline/" rel="noopener noreferrer"><img src="/-/media/Project/Adani-Updates/images/images/Instagram.svg"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="offcanvas-footer">
                            <div class="mob-footer-logo">
                                <img src="/-/media/Project/Adani-Updates/images/images/adani-coloured.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <a href="/">
                    <img src="/-/media/Project/Adani-Updates/images/images/adani-coloured.svg"
                         alt="adani" />
                </a>

            </div>


            <div>
                <div class="menuCntr">
                    <ul class="navbar-nav flex-row flex-wrap">
                        <li class="nav-item">
                            <a class="nav-link @(Request.Path.EndsWith("resource-centre")?"active":"")" href="resource-centre">Resource Centre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Request.Path.EndsWith("media-news")?"active":"")" href="media-news">News in the Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Request.Path.EndsWith("media-release")?"active":"")" href="media-release">Media Releases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Request.Path.EndsWith("key-opinion")?"active":"")" href="key-opinion">Key Opinion Showcase</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Request.Path.EndsWith("news-highlights")?"active":"")" href="news-highlights">News Highlights</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="search-box-wrapper global">
                <div class="search-box d-flex align-items-centre" data-bs-toggle="dropdown">
                    <img src="/-/media/Project/Adani-Updates/images/images/search.svg" alt="">
                    <input type="text" id="search" placeholder="Search">
                </div>
                <div class="dropdown-menu search-box-dd">
                    <div class="search-box-dd-field">
                        <input type="text" placeholder="Search">
                        <img src="/-/media/Project/Adani-Updates/images/images/cross.svg" alt="" class="clear-input">
                    </div>
                    <ul>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</header>