@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item myItem = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.MultilistField multiselectField = myItem.Fields["Latest Resources"];
    Sitecore.Data.Items.Item[] items = multiselectField.GetItems();
    var linkurl = "";
    var ImageItemUrl = "";
}

<div class="latest-happen section-wrapper">
    <div class="container">
        <h2 class="h3">@myItem.Fields["Latest Resources Heading"].Value</h2>
        <div class="media-grid row">
            @if (items != null && items.Length > 0)
            {
                for (int i = 0; i < items.Length; i++)
                {
                    Sitecore.Data.Items.Item child = items[i];
                    Sitecore.Data.Fields.LinkField linkValue = child.Fields["{57077B5D-D1AC-4CD7-9592-98239DC43D00}"];
                    Sitecore.Data.Fields.ImageField ImageItem = ((Sitecore.Data.Fields.ImageField)child.Fields["{5DA4C6A8-FB08-400B-A328-7DBB7513A328}"]);
                    if (ImageItem != null && ImageItem.MediaItem != null)
                    {
                        ImageItemUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageItem.MediaItem);
                    }
                    if (linkValue != null)
                    {
                        linkurl = linkValue.GetFriendlyUrl();
                    }
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                        <a target="_blank"
                           href="@linkurl">
                            <div class="single-item d-flex justify-content-between flex-column small-card">
                                <div>
                                    <figure>
                                        <img src="@ImageItemUrl"
                                             alt="@ImageItem.Alt" />
                                    </figure>
                                    <div class="content">
                                        <span class="subtext blackTx_666"> @Html.Sitecore().Field("{98849A84-626E-471F-BE6A-5BB9FBA7D767}", child)</span>
                                        <h5 class="subtext blackTx_222">
                                            @Html.Sitecore().Field("{4177D42E-7ABA-4D05-95DD-3CAF7BA330CF}", child)
                                        </h5>
                                    </div>
                                </div>
                                <img src="./assets/icons/share.svg"
                                     alt=""
                                     class="share-icon d-none" />
                                <span class="btm-text subtext blackTx_666 black-link">Know more</span>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Latest happening | END -->
