
@{
    var socialItem = Sitecore.Context.Database.GetItem("/sitecore/content/Adani Updates/Global/Social Links");
    Sitecore.Data.Fields.LinkField EmaillinkValue = socialItem.Fields["{B3A1330C-90E1-4B49-9C0C-1393CB02FC47}"];
    var emailurl = EmaillinkValue == null ? string.Empty : EmaillinkValue.GetFriendlyUrl();
    Sitecore.Data.Fields.LinkField FacebooklinkValue = socialItem.Fields["{00E60AFC-B5A2-4B5C-99E8-9E6642FF430D}"];
    var facebookurl = FacebooklinkValue == null ? string.Empty : FacebooklinkValue.GetFriendlyUrl();
    Sitecore.Data.Fields.LinkField LinkedinlinkValue = socialItem.Fields["{7C88091A-D7DC-4F1E-9612-80575F9E3B59}"];
    var linkedinurl = LinkedinlinkValue == null ? string.Empty : LinkedinlinkValue.GetFriendlyUrl();
    Sitecore.Data.Fields.LinkField TwitterlinkValue = socialItem.Fields["{A432499D-1D8B-4B64-9E2A-AC79FC5FB78D}"];
    var twitterurl = TwitterlinkValue == null ? string.Empty : TwitterlinkValue.GetFriendlyUrl();
    Sitecore.Data.Fields.LinkField WhatsapplinkValue = socialItem.Fields["{EFB9B4D1-C913-4944-81E1-AD6D1BA16D72}"];
    var whatsappurl = WhatsapplinkValue == null ? string.Empty : WhatsapplinkValue.GetFriendlyUrl();
}

<div class="modal fade custo-modal" id="shareArticleModal" tabindex="-1" aria-labelledby="shareArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="modal-title" id="shareArticleModalLabel">Share this Article</h2>
                <div class="thumb-div">
                    <div class="thumb-img">
                        <img src="/-/media/Project/Adani-Updates/images/images/news-shareeee" alt="">
                    </div>
                    <div class="thumb-text">
                        <h2>Adani prepays $1.1bn pledge</h2>
                        <p>In continuation of the promoters commitment to reduce the overall promoter.</p>
                    </div>
                </div>

            </div>
            <input type="hidden" value="" id="share-div-url">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary clipboard">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/Link.svg" &nbsp;="" alt=""> Copy Link
                </button>
                <a href="" data-url="@emailurl" class="btn btn-primary social-share">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/Mail.svg" &nbsp;="" alt="">Email
                </a>

                <a href="" data-url="@facebookurl" target="_blank" class="btn btn-primary social-share">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/Facebook.svg" &nbsp;="" alt="">Facebook
                </a>

                <a href="" data-url="@linkedinurl" target="_blank" class="btn btn-primary social-share">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/Linkedin.svg" &nbsp;="" alt="">Linkedin
                </a>

                <a href="" data-url="@twitterurl" target="_blank" class="btn btn-primary social-share">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/Twitter.svg" &nbsp;="" alt="">Twitter
                </a>

                <a href="" data-url="@whatsappurl" target="_blank" class="btn btn-primary social-share">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/Whatsap.svg" &nbsp;="" alt="">Whatsapp
                </a>

                <div class="linkCopied d-none">
                    <img src="/-/media/Project/Adani-Updates/images/social-icons/confirm.svg" alt=""><p>Link copied</p>
                </div>
            </div>
        </div>
    </div>
</div>