@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{
    var myItem = Sitecore.Context.Item;
    var MetaTitle = myItem.Fields["Meta Title"];
    var MetaDescription = @Html.Raw(myItem.Fields["Meta Description"]);
    var MetaKeywords = myItem.Fields["Meta Keywords"];
    var OGTitle = myItem.Fields["OG Title"];
    var OGDescription = @Html.Raw(myItem.Fields["OG Description"]);
    var OGKeywords = myItem.Fields["OG Keywords"];
    var OGSite_Name = myItem.Fields["OG Site_Name"];
    var OGURL = myItem.Fields["OG URL"];
    var OGImage = myItem.Fields["OG Image"];

}

@Html.Raw(myItem.Fields["CanonicalUrl"])
<title>@MetaTitle</title>
<meta name="description" content="@MetaDescription">
<meta name="keywords" content="@MetaKeywords">
<meta property="og:title" content="@OGTitle">
<meta property="og:description" content="@OGDescription">
<meta property="og:keywords" content="@OGKeywords">
<meta property="og:site_name" content="@OGSite_Name">
<meta property="og:url" content="@OGURL">
<meta property="og:image" content="@OGImage">



