@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    string ph = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Placeholder;
    var contextPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/MundraHospital/", "");
    var path = contextPath.Replace("/MundraHospital/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}

@if (!String.IsNullOrEmpty(ph) && ph == "banner-breadcrumb")
{
    <div class="breadcrumb-sl-inner">
        <div class="container">
            <ul>
                @for (int i = 0; i <= pathArr.Count() - 1; i++)
                {
                    navPath = navPath + pathArr[i];

                    if (i == 0)
                    {
                        <li><a href="@navPath">@pathArr[i]</a></li>
                    }
                    else
                    {
                        <li><a href="@navPath">@pathArr[i]</a></li>
                    }
                    navPath = navPath + "/";
                }
            </ul>
        </div>
    </div>
}

else if (ph == "breadcrumb")
{
    <section class="breadcrumb-sub-layout bg-gray py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="breadcrumb-sublayout-ul">
                        @for (int i = 0; i <= pathArr.Count() - 2; i++)
                        {
                            navPath = navPath + pathArr[i];
                            <li><a href="@navPath">@pathArr[i]</a></li>
                            navPath = navPath + "/";
                        }
                    </ul>
                    <h1>@pathArr[pathArr.Count() - 1].Replace("-", " ")</h1>
                </div>
            </div>
        </div>
    </section>
}
else if (ph == "profilepage-breadcrumb")
{
    <section class="breadcrumb-sub-layout bg-gray py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="breadcrumb-sublayout-ul">
                        @for (int i = 0; i <= pathArr.Count() - 1; i++)
                        {
                            navPath = navPath + pathArr[i];
                            <li><a href="@navPath">@pathArr[i]</a></li>
                            navPath = navPath + "/";
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}


