@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<div class="col-sm-6 col-6 col-md-4 footer-mobile-menu">
    <div class="footer-menu">
        <ul class="big-menu">
            @if (models.GetChildren() != null)
            {
                foreach (Item item in models.GetChildren())
                {
                    if (models.GetChildren() != null)
                    {
                        if (!String.IsNullOrEmpty(Html.Sitecore().Field("Link", item).ToString()))
                        {
                            LinkField link = (LinkField)item.Fields["Link"];
                            <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
                        }
                        else
                        {
                            <li><a href="">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
                        }
                        @*LinkField link = (LinkField)item.Fields["Link"];
                        <li><a href="@link.GetFriendlyUrl()">@Html.Sitecore().Field("NavigationTitle", item)</a></li>*@
                    }
                }
            }
        </ul>
    </div>
</div>
