@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var item = Sitecore.Context.Item;
}
@Html.Sitecore().Placeholder("breadcrumb")
<section class="pb-5 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
            </div>
            <div class="col-md-9">
                <div class="border-left pl-3 mb-3">
                    <h1>@Html.Sitecore().Field("Title", item)</h1>
                    <p>@Html.Sitecore().Field("NavigationTitle", item)</p>
                </div>
                <section class="bg-gray py-5 about-apsez loadmore-content">
                    <div class="container">
                        @Html.Sitecore().Field("Body", item)
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
