@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var item = Sitecore.Context.Item;
}

@Html.Sitecore().Placeholder("profilepage-breadcrumb")

<section class="pb-5 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                @Html.Sitecore().ImageField("Picture", item,0,0,"fluid")

            </div>
            <div class="col-md-9">
                <div class="border-left pl-3 mb-3">
                    <h1>@Html.Sitecore().Field("Name", item)</h1>
                    <p>@Html.Sitecore().Field("Title",item)</p>
                </div>
                <section class="bg-gray py-5 about-apsez loadmore-content">
                    <div class="container">
                        @Html.Sitecore().Field("Biography", item)

                    </div>
                </section>

            </div>
        </div>
    </div>
</section>
