@using Sitecore.Mvc.Presentation;
@using Sitecore.Data.Items;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var item = Sitecore.Context.Item;

}

@Html.Sitecore().Placeholder("services-banner")
@Html.Sitecore().Placeholder("breadcrumb")
@Html.Sitecore().Placeholder("profilepage-breadcrumb")
@if (!String.IsNullOrEmpty(Html.Sitecore().Field("Summary", item).ToString()))
{
    <section class="section-details bg-gray">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <div class="service-details">
                        @Html.Sitecore().Field("Summary", item)
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@Html.Sitecore().Placeholder("head-message")
@Html.Sitecore().Placeholder("board-governors")
@*<section class="section-details">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="service-details">
                        @Html.Sitecore().Field("Summary")
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@Html.Sitecore().Placeholder("services-main")


@Html.Sitecore().Placeholder("explore-more")