@using Sitecore.Data.Items
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = datasource != null ? Sitecore.Context.Database.GetItem(datasource) : null;
    string imgurl = "#";
    string altText = string.Empty;
}
<!-- third section start -->
<div class="container">
    <div class="row-3 mt-5 mr-4">
        <div class="text-center mx-5 px-5 my-2 mt-3 text-dark">
            <h1><strong>@Html.Sitecore().Field("MediaTitle", model)</strong></h1>
        </div>
        <div class="row ">
            <div class="d-flex justify-content-around">
                <div class="row mx-5">
                    @foreach (Item item in model.GetChildren())
                    {
                        Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
                        if (imgField != null && imgField.MediaItem != null)
                        {
                            imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                            altText = imgField.Alt;
                        }
                        else
                        {
                            imgurl = "#";
                            altText = "";
                        }

                        <div class="col-lg-4 text-center">
                            <div class="round my-3">
                                <img src="@imgurl" height="40"
                                     width="50">
                            </div>
                            <div>
                                <h5>@Html.Sitecore().Field("MediaTitle", item)</h5>
                                <p>@Html.Sitecore().Field("MediaDescription", item)</p>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="mx-5">
                @Html.Sitecore().Field("MediaDescription", model)
            </div>
            <div class="text-center w-100 my-5">
                <h6 style="color:black" class="text-center">
                    @Html.Sitecore().Field("Summary", model)
                </h6>
                @*<button type="button"
                class="btn border border-success text-success rounded-pill mt-3">
            @Html.Sitecore().Field("ButtonTitle", model)
        </button>*@
                <a href="javascript:void(0)"  class="btn border border-success text-success rounded-pill mt-3">
                    @Html.Sitecore().Field("ButtonTitle", model)
                </a>
            </div>
        </div>
    </div>
</div>