@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Foundation.SitecoreExtensions.Extensions.ItemExtensions.getItem(datasource);
    string imgurl = "#";
    string altText = "";
    string imgurl1 = "#";
    string altText1 = "";

}

@if (model != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)model.Fields["Thumbnail"]);
    if (imgField != null && imgField.MediaItem != null)
    {
         imgurl = FieldExtensions.ImageUrl(imgField);
         altText = FieldExtensions.ImageAlternateText(imgField);
    }

    Sitecore.Data.Fields.ImageField imgField1 = ((Sitecore.Data.Fields.ImageField)model.Fields["MainImage"]);
    if (imgField1 != null && imgField1.MediaItem != null)
    {
         imgurl1 = FieldExtensions.ImageUrl(imgField1);
         altText1 = FieldExtensions.ImageAlternateText(imgField1);
    }
<div class="about">
    <div class="green-contact-section">
        <div class="contact-skewed">
            <div class="container">
                @Html.Sitecore().Placeholder("breadcrumb")
                
                <div class="about-hero">
                    <div class="hero-intro">
                        <div class="heading">
                            <h2>@Html.Sitecore().Field("Heading", model)</h2>
                        </div>
                        <p>
                            @Html.Sitecore().Field("ShortDescription", model)
                        </p>
                    </div>
                    <div class="hero-right-img">
                        <img src="@imgurl" alt="@altText">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="about-intro">
        <div class="about-image">
            <img src="@imgurl1" alt="@altText1" srcset="" class="h-100  ">
        </div>
        <div class="about-info">
            <h2>@Html.Sitecore().Field("Title", model)</h2>
            @Html.Sitecore().Field("Description", model)
        </div>
    </div>
</div>

}