@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc

@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = Sitecore.Context.Database.GetItem(datasource);
    string imgurl = "#";
    string altText = string.Empty;
    string linkurl = "#";

}

@if (model != null)
{
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)model.Fields["Image"]);
    if (imgField != null && imgField.MediaItem != null)
    {
        imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
        altText = imgField.Alt;
        <div class="goal-details-hero goal-details-hero-background-image explore-banner" style="background-image:url(@imgurl)">
            <div class="container">
                <div class="hero-box">
                    <div class="hero-content">
                        @Html.Sitecore().Field("ShortDescription", model)
                    </div>
                    @*<div class="hero-image">
                            <img src="@imgurl" alt="@altText">
                        </div>*@
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="goal-details-hero goal-details-hero-background-image explore-banner">
            <div class="container">
                <div class="hero-box">
                    <div class="hero-content">
                        @Html.Sitecore().Field("ShortDescription", model)
                    </div>
                    @*<div class="hero-image">
                            <img src="@imgurl" alt="@altText">
                        </div>*@
                </div>
            </div>
        </div>
    }



}

