@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.AdaniGreenTalks.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current?.Rendering?.DataSource;
    Item model = datasource != null ? Sitecore.Context.Database.GetItem(datasource) : null;
    string altText = string.Empty;
}


@if (model != null)
{
    <div class="ikure-solution-section" id="metrics">
        <div class="container">
            <div class="top">
                <h3>@Html.Sitecore().Field(Constant.Title, model)</h3>
                <p>@Html.Sitecore().Field(Constant.Summary, model)</p>
            </div>
            <div class="btm">
                @if (model.HasChildren)
                {
                    foreach (Item item in model.GetChildren())
                    {
                        <div class="item">
                            <div class="img">
                                @Html.Sitecore().Field(Constant.Image, item)
                            </div>
                            <div class="desc">
                                <h4>@Html.Sitecore().Field(Constant.Title, item)</h4>
                                <p>@Html.Sitecore().Field(Constant.Summary, item)</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
