@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.AdaniGreenTalks.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{


	var Initiative = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Initiative"];
	var InitiativeList = Sitecore.Context.Database.GetItem(Initiative);
	var Company = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Company"];
	var CompanyList = Sitecore.Context.Database.GetItem(Company);
	var SocialMedia = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SocialMedia"];
	var SocialMediaList = Sitecore.Context.Database.GetItem(SocialMedia);
	var HelpAndSupport = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["HelpAndSupport"];
	var HelpAndSupportList = Sitecore.Context.Database.GetItem(HelpAndSupport);

	var NoPoverty = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["NoPoverty"];
    var NoPovertyList = Sitecore.Context.Database.GetItem(NoPoverty);
	var ZeroHunger = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ZeroHunger"];
    var ZeroHungerList = Sitecore.Context.Database.GetItem(ZeroHunger);
	var GoodHealthAndWellBeing = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["GoodHealthAndWellBeing"];
    var GoodHealthAndWellBeingList = Sitecore.Context.Database.GetItem(GoodHealthAndWellBeing);
	var QualityEducation = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["QualityEducation"];
    var QualityEducationList = Sitecore.Context.Database.GetItem(QualityEducation);
	var GenderEquality = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["GenderEquality"];
	var GenderEqualityList = Sitecore.Context.Database.GetItem(GenderEquality);
	var CleanWaterandSanitation = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["CleanWaterandSanitation"];
	var CleanWaterandSanitationList = Sitecore.Context.Database.GetItem(CleanWaterandSanitation);  
	var AffordableandCleanEnergy = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["AffordableandCleanEnergy"];
	var AffordableandCleanEnergyList = Sitecore.Context.Database.GetItem(AffordableandCleanEnergy);
	var DecentWorkandEconomicGrowth = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["DecentWorkandEconomicGrowth"];
	var DecentWorkandEconomicGrowthList = Sitecore.Context.Database.GetItem(DecentWorkandEconomicGrowth);  
	var IndustryInnovationandInfrastructure = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["IndustryInnovationandInfrastructure"];
	var IndustryInnovationandInfrastructureList = Sitecore.Context.Database.GetItem(IndustryInnovationandInfrastructure);
	var ReducedInequality = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ReducedInequality"];
	var ReducedInequalityList = Sitecore.Context.Database.GetItem(ReducedInequality);
	var SustainableCitiesandCommunities = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SustainableCitiesandCommunities"];
	var SustainableCitiesandCommunitiesList = Sitecore.Context.Database.GetItem(SustainableCitiesandCommunities);
	var ResponsibleConsumptionandProduction = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ResponsibleConsumptionandProduction"];
	var ResponsibleConsumptionandProductionList = Sitecore.Context.Database.GetItem(ResponsibleConsumptionandProduction);
	var ClimateAction = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ClimateAction"];
	var ClimateActionList = Sitecore.Context.Database.GetItem(ClimateAction);
	var LifeBelowWater = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["LifeBelowWater"];
	var LifeBelowWaterList = Sitecore.Context.Database.GetItem(LifeBelowWater);
	var LifeonLand = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["LifeonLand"];
	var LifeonLandList = Sitecore.Context.Database.GetItem(LifeonLand);
	var PeaceandJusticeStrongInstitutions = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["PeaceandJusticeStrongInstitutions"];
	var PeaceandJusticeStrongInstitutionsList = Sitecore.Context.Database.GetItem(PeaceandJusticeStrongInstitutions);
	var PartnershipstoachievetheGoal = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["PartnershipstoachievetheGoal"];
	var PartnershipstoachievetheGoalList = Sitecore.Context.Database.GetItem(PartnershipstoachievetheGoal);
	
	
	
}
<div class="about cm-privacy">
        <div class="contact-skewed">
          <div class="container">
            <div class="web-bredcrumb w-100 d-none d-md-block">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Sitemap</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
<div class="privicyPolicy">
<div class="container">
    <div class="sitemap-data">
                <h1 class="heading-tittle">Sitemap</h1>
                <img src="-/media/ED6017832ACC4D6BB3D856C07AB76CE2" class="hide-on-small" alt="Sitemap">
                <img src="-/media/D411AF00CADA46339C14ED7821B1B6B4" class="show-on-mob" alt="Sitemap">
                <div class="sitemap-menus">
                    <div class="sitemap-col">
                        <h3>Green Talks</h3>
                        <ul>
                          @foreach (var child in CompanyList.Children.ToList())
							{
								Sitecore.Data.Fields.LinkField itemslinkvalues = child.Fields["Link"];
								var itemslinks = itemslinkvalues.GetFriendlyUrl();
								if(@child.Name=="Sitemap"){
									continue;
								}
								<li><a href="@itemslinks">@child.Fields["ShortTitle"]</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        <h3>Initiative</h3>
                        <ul>
                          @foreach (var child in InitiativeList.Children.ToList())
							{
								Sitecore.Data.Fields.LinkField itemslinkvalues = child.Fields["Link"];
								var itemslinks = itemslinkvalues.GetFriendlyUrl();
								<li><a href="@itemslinks">@child.Fields["ShortTitle"]</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        <h3>Social Media</h3>
                        <ul>
                          @foreach (var child in SocialMediaList.Children.ToList())
							{
								Sitecore.Data.Fields.LinkField itemslinkvalues = child.Fields["Link"];
								var itemslinks = itemslinkvalues.GetFriendlyUrl();
								<li><a href="@itemslinks">@child.Name</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        <h3>Help &amp; Support</h3>
                        <ul>
                          @foreach (var child in HelpAndSupportList.Children.ToList())
							{
								Sitecore.Data.Fields.LinkField itemslinkvalues = child.Fields["Link"];
								var itemslinks = itemslinkvalues.GetFriendlyUrl();
								<li><a href="@itemslinks">@child.Fields["ShortTitle"]</a></li>
							}
						</ul>
                    </div>
                    
					<div class="sitemap-col">
						@{
						string NoPovertyListUrl = Sitecore.Links.LinkManager.GetItemUrl(NoPovertyList);
						<a href="@NoPovertyListUrl"><h3>@NoPovertyList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in NoPovertyList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@child.Name</a></li>									
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string ZeroHungerListUrl = Sitecore.Links.LinkManager.GetItemUrl(ZeroHungerList);
						<a href="@ZeroHungerListUrl"><h3>@ZeroHungerList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in ZeroHungerList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string GoodHealthAndWellBeingListUrl = Sitecore.Links.LinkManager.GetItemUrl(GoodHealthAndWellBeingList);
						<a href="@GoodHealthAndWellBeingListUrl"><h3>@GoodHealthAndWellBeingList.Fields["Title"]</h3></a>
						}
                        
                        <ul>
                          @foreach (var child in GoodHealthAndWellBeingList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        @{
						string QualityEducationListUrl = Sitecore.Links.LinkManager.GetItemUrl(QualityEducationList);
						<a href="@QualityEducationListUrl"><h3>@QualityEducationList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in QualityEducationList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    
					<div class="sitemap-col">
						@{
						string GenderEqualityListUrl = Sitecore.Links.LinkManager.GetItemUrl(GenderEqualityList);
						<a href="@GenderEqualityListUrl"><h3>@GenderEqualityList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in GenderEqualityList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string CleanWaterandSanitationListUrl = Sitecore.Links.LinkManager.GetItemUrl(CleanWaterandSanitationList);
						<a href="@CleanWaterandSanitationListUrl"><h3>@CleanWaterandSanitationList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in CleanWaterandSanitationList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string AffordableandCleanEnergyListUrl = Sitecore.Links.LinkManager.GetItemUrl(AffordableandCleanEnergyList);
						<a href="@AffordableandCleanEnergyListUrl"><h3>@AffordableandCleanEnergyList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in AffordableandCleanEnergyList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string DecentWorkandEconomicGrowthListUrl = Sitecore.Links.LinkManager.GetItemUrl(DecentWorkandEconomicGrowthList);
						<a href="@DecentWorkandEconomicGrowthListUrl"><h3>@DecentWorkandEconomicGrowthList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in DecentWorkandEconomicGrowthList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    
					<div class="sitemap-col">
                        @{
						string IndustryInnovationandInfrastructureListUrl = Sitecore.Links.LinkManager.GetItemUrl(IndustryInnovationandInfrastructureList);
						<a href="@IndustryInnovationandInfrastructureListUrl"><h3>@IndustryInnovationandInfrastructureList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in IndustryInnovationandInfrastructureList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string ReducedInequalityListUrl = Sitecore.Links.LinkManager.GetItemUrl(ReducedInequalityList);
						<a href="@ReducedInequalityListUrl"><h3>@ReducedInequalityList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in ReducedInequalityList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
						@{
						string SustainableCitiesandCommunitiesListUrl = Sitecore.Links.LinkManager.GetItemUrl(SustainableCitiesandCommunitiesList);
						<a href="@SustainableCitiesandCommunitiesListUrl"><h3>@SustainableCitiesandCommunitiesList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in SustainableCitiesandCommunitiesList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        @{
						string ResponsibleConsumptionandProductionListUrl = Sitecore.Links.LinkManager.GetItemUrl(ResponsibleConsumptionandProductionList);
						<a href="@ResponsibleConsumptionandProductionListUrl"><h3>@ResponsibleConsumptionandProductionList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in ResponsibleConsumptionandProductionList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                   
				   <div class="sitemap-col">
                         @{
						string ClimateActionListUrl = Sitecore.Links.LinkManager.GetItemUrl(ClimateActionList);
						<a href="@ClimateActionListUrl"><h3>@ClimateActionList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in ClimateActionList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        @{
						string LifeBelowWaterListUrl = Sitecore.Links.LinkManager.GetItemUrl(LifeBelowWaterList);
						<a href="@LifeBelowWaterListUrl"><h3>@LifeBelowWaterList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in LifeBelowWaterList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    <div class="sitemap-col">
                        @{
						string LifeonLandListUrl = Sitecore.Links.LinkManager.GetItemUrl(LifeonLandList);
						<a href="@LifeonLandListUrl"><h3>@LifeonLandList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in LifeonLandList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                     <div class="sitemap-col">
                        @{
						string PeaceandJusticeStrongInstitutionsListUrl = Sitecore.Links.LinkManager.GetItemUrl(PeaceandJusticeStrongInstitutionsList);
						<a href="@PeaceandJusticeStrongInstitutionsListUrl"><h3>@PeaceandJusticeStrongInstitutionsList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in PeaceandJusticeStrongInstitutionsList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                    
					<div class="sitemap-col">
                         @{
						string PartnershipstoachievetheGoalListUrl = Sitecore.Links.LinkManager.GetItemUrl(PartnershipstoachievetheGoalList);
						<a href="@PartnershipstoachievetheGoalListUrl"><h3>@PartnershipstoachievetheGoalList.Fields["Title"]</h3></a>
						}
                        <ul>
                          @foreach (var child in PartnershipstoachievetheGoalList.Children.ToList())
							{
								var itemName = child.Fields["Title"];
								var itemId = child.Paths.Path.ToString().ToLower();
								string url = Sitecore.Links.LinkManager.GetItemUrl(child);
								if(@child.Name=="Local Datasource"){
									continue;
								}	
								<li><a href="@url">@itemName</a></li>
							}
						</ul>
                    </div>
                </div>
            </div>
</div>
</div>
