@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item model = datasource != null ? Sitecore.Context.Database.GetItem(datasource) : null;
    string imgurl = "#";
    string altText = "";

}
@if (model != null)
{

    <div class="green-stories-section">
        <div class="container">
            <div class="top">
                <h2>@Html.Sitecore().Field("MediaTitle", model)</h2>
            </div>
            <div class="btm">
                @foreach (Item item in model.GetChildren())
                {
                    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);
                    if (imgField != null && imgField.MediaItem != null)
                    {
                        imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                        altText = imgField.Alt;
                    }
                    else
                    {
                        imgurl = "#";
                        altText = "";
                    }
                    <div class="item">
                        <div class="inner">
                            <div class="img">
                                <img src="@imgurl"
                                     alt="@altText" />
                            </div>
                            <div class="desc">
                                <h3> @Html.Sitecore().Field("MediaTitle", item)</h3>
                                <p>
                                    @Html.Sitecore().Field("MediaDescription", item)
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="arrows">
                <div class="arr-left">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         height="24"
                         viewBox="0 0 24 24"
                         width="24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                    </svg>
                </div>
                <div class="arr-right">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         height="24"
                         viewBox="0 0 24 24"
                         width="24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
}