@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.AdaniGreenTalks.Website; 
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    string logoSrc = string.Empty;
    string altText = "Adani Green Talks";
    Item rootItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.RootPath);
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)rootItem.Fields[Constant.logoFieldName]);
    if (imgField != null && imgField.MediaItem != null)
    {
        logoSrc = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
        altText = imgField.Alt;
    }
}


<div class="header-wrapper">
<header>
    <div class="container">
         <div class="row">
            <div class="col-md-3 logo-section">
                <div class="mobile-trigger">
                    <span></span><span></span><span></span>
                </div>
				<div class="logo-area">
				<a href="/">
                    <img src="@logoSrc" alt="@altText" class="logo green-logo">
 		   <img src="/-/media/Project/AdaniGreenTalks/Logo/logo-white" alt="Green Talks" class="logo white-logo" style="display:none;">
                </a>
				<p>Ideas that Impact</p>
				</div>
                
            </div>
            <div class="col-md-9 header-nav">
                <div class="menu-section">
                    @Html.Sitecore().Placeholder("header-menu-right")
            
                </div>
            </div>
        </div>
    </div>
        <div class="sidebar-navigation">
            <div class="offcanvas-body">
                <div class="hamburger_section logo-sec">
                    <a href="/">
                        <img src="@logoSrc" alt="@altText" class="logo">
                    </a>
                </div>
                @Html.Sitecore().Placeholder("hamburger")
       
            </div>
        </div>
        <div class="overLay"></div>
</header>
</div>

