@model Sitecore.Feature.Media.Models.StoriesBaseModel



<div class="action-bottom-section">
    <div class="container">
        <div class="top">
            <h2>@Model.Title</h2>
        </div>
        <div class="row">
            @if (Model.objStoriesMasterModelList.Count > 0)
            {
                foreach (var item in Model.objStoriesMasterModelList.OrderByDescending(c => c.Date))
                {
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <div class="video-thumb">
                            <img src="@item.thumbnail" alt="@item.Title" class="video-thumb-img">
                            <img src="images/player.png" alt="play" class="play-img">
                        </div>

                        <div class="desc">
                            <span class="date">@item.storydate</span>
                            <h3>@item.Title</h3>
                            <p>@item.Summary</p>
                            <a href="" class="read_more">Read More</a>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>



