@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
<div id="ageContainer" class="d-none">
    <div class="ageContainer">
        <div class="ageContainerHeader">
            @Html.Sitecore().Field("Image", currentItem)
            <h5>@Html.Sitecore().Field("Title", currentItem)</h5>
        </div>
        <div class="ageContainerBody">
            <ul>
                <li>@Html.Sitecore().Field("Point1 Text", currentItem)</li>
            </ul>
        </div>
        <div class="ageContainerFooter">
            <div class="ageButtonGroup">
                <button type="button" class="ageModalButton btn btn-outline-secondary" onclick="confirmAge(false);">@Html.Sitecore().Field("Button1 Text", currentItem)</button>
                <button type="button" class="ageModalButton btn btn-primary" onclick="confirmAge(true);">@Html.Sitecore().Field("Button2 Text", currentItem)</button>
            </div>
            <p>@Html.Sitecore().Field("Warning Message", currentItem)</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal ageModal fade" id="ageModal" tabindex="-1" aria-labelledby="ageModal" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ageModalBody">
            </div>
        </div>
    </div>
</div>

<div class="offcanvas ageOffcanvas offcanvas-bottom" tabindex="-1" id="ageOffcanvas" aria-labelledby="ageOffcanvas">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="ageCanvasBody">

    </div>
</div>
}