@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <!-- cookies Modal/offcanvas -->
    <div class="cookies-layer d-none" id="cookiesModal">
        <button type="button" class="icon_button lightRipple" onclick="closeCookie();">
            @Html.Sitecore().Field("RichText", currentItem)
        </button>
        <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
        <div class="cookiesContent">
            <p>@Html.Sitecore().Field("Consent description", currentItem)</p>
            <button type="button" class="btn btn-secondary primary_waves" onclick="closeCookie();">@Html.Sitecore().Field("Button Text", currentItem)</button>
        </div>
    </div>


    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="cookies_offcanvas"
         aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <div class="offcanvas-title h5">@Html.Sitecore().Field("Title", currentItem)</div>
            <button type="button" class="btn-close text-reset lightRipple" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="cookiesContent">
                <p>@Html.Sitecore().Field("Consent description", currentItem)</p>
                <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class=" btn btn-secondary primary_waves">@Html.Sitecore().Field("Button Text", currentItem)</button>
            </div>
        </div>
    </div>
    <!-- cookies Modal/offcanvas -->
}