@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.MultilistField topDomesticRoutesField = ((Sitecore.Data.Fields.MultilistField)currentItem.Fields["SelectRoutes"]);
    IHelper _helper = new Helper();
    var flightType = string.Empty;
    var redirectUrl = string.Empty;
}
@if (currentItem != null && topDomesticRoutesField != null)
{
    <div class="section-wrap rightairport-info d-none d-md-block mt-top">
        <h5 class="section-heading">@Html.Sitecore().Field("TopDomesticFlightsTitle", currentItem)</h5>
        @if (currentItem.TemplateName == "TopRelatedFlightRoute")
        {
            foreach (Sitecore.Data.Items.Item route in topDomesticRoutesField.GetItems())
            {
                if(route.Paths.FullPath.Contains("domestic-flights"))
                {
                    flightType = "/domestic-flights";
                }
                else if (route.Paths.FullPath.Contains("international-flights"))
                {
                    flightType = "/international-flights";
                }
                redirectUrl = _helper.GetC2CAbsoluteUrl(route, flightType);
                if (!String.IsNullOrEmpty(redirectUrl))
                {
                    <p class="text-decoration-underline"><a href="@redirectUrl" class="gtmTopRoutesLinkClick" data-event="top_flight_route" data-subcategory="purchase" data-category="book_flight">@route.Fields["Title"] </a></p>
                }
                else
                {
                    <p class="text-decoration-underline"><a href="javascript:void(0)" class="gtmTopRoutesLinkClick" data-event="top_flight_route" data-subcategory="purchase" data-category="book_flight">@route.Fields["Title"] </a></p>
                }
            }
        }
        else
        {
            foreach (Sitecore.Data.Items.Item route in topDomesticRoutesField.GetItems())
            {
                Sitecore.Data.Fields.LinkField linkField = ((Sitecore.Data.Fields.LinkField)route.Fields["Link"]);
                redirectUrl = linkField.GetFriendlyUrl();
                if (!String.IsNullOrEmpty(linkField.Url))
                {
                    <p class="text-decoration-underline"><a href="@redirectUrl" class="gtmTopRoutesLinkClick" data-event="top_flight_route" data-subcategory="purchase" data-category="book_flight">@linkField.Text </a></p>
                }
                else
                {
                    <p class="text-decoration-underline"><a href="javascript:void(0)" class="gtmTopRoutesLinkClick" data-event="top_flight_route" data-subcategory="purchase" data-category="book_flight">@linkField.Text </a></p>
                }
            }
        }
    </div>
}
