@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="../../images/AdaniHousing/favicon.png" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <title>Adani Housing</title>

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <!--Animate CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.css'>

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">

    <header>
	<div class="fade-overlay"></div>
	<div class="header_topbar">
		<ul>
			<li><a href="#"><span class="fa fa-phone mr-2 fa-rotate-90"></span> Housing Finance</a></li>
		</ul>
		<ul class="ml-auto">
			<li><a href="tel:18005655656"><span class="fa fa-phone fa-rotate-90"></span> </a></li>
			<li><a href="#"><span class="fa fa-user"></span></a></li>
			<li><a href="#"><span class="fa fa-search"></span> </a></li>
			<li><a href="#"><span class="fa fa-bell"></span> </a></li>
		</ul>
	</div>
	<div class="navPanel">
	<div class="navtopbar">
		<div class="row">
			<div class="col-5 col-md-2 pr-lg-0">
				<a class="navbar-brand" href="index.html"><img src="/images/AdaniHousing/logo.png" alt="Adani Housing"></a>
			</div>
			<div class="col-7 col-md-10 pl-lg-0">
				<div class="row h-100">
					<div class="col-12">
						<div class="pl-4" id="topMenu">
							<div id="dismiss" class="d-block d-lg-none"><i class="far fa-times-circle"></i></div>
							<div class="clearfix"></div>
							<ul class="topMenu">
								<li class=""> <a href="#">About Us</a> </li>
								<li class=""> <a href="#">Investors</a> </li>
								<li class=""> <a href="#">Newsroom</a> </li>
								<li class=""> <a href="#">Careers</a> </li>
								<li class=""> <a href="#">Contact Us</a> </li>
								<li class=""> <a href="#">Download</a> </li>
								<li class=""> <a href="#">Become a Partner</a> </li>
							</ul>
							<ul class="ml-auto login_menu">
								<li><a href="#"><span class="fa fa-phone mr-2 fa-rotate-90"></span> 1800-565-5656</a></li>
								<li><a href="#"><span class="fa fa-user mr-2"></span> Login</a></li>
								<li><a href="#"><span class="fa fa-search"></span> </a></li>
								<li><a href="#"><span class="fa fa-bell mr-2"></span> </a></li>
							</ul>
						</div>
					</div>
					<div class="col-12">
						<nav class="navbar navbar-expand-lg">
							<button class="navbar-toggler ml-auto" id="nav-button" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
							<span class="fa fa-bars"></span>
						  </button>
						  <div class="collapse navbar-collapse" id="mainMenu">
						  <div class="collapse_toggle">
							<span></span>
							<span></span>
							</div>
							<ul class="navbar-nav primaryMenu pl-lg-4">
							 <li class="nav-item nav-item-dropdown">
								<a class="nav-link" href="">Hoam Loan</a>
								<div class="dropdown-menu megamenu fade-in">
									<h5><a href="">Explore Hoam Loan</a></h5>
									<hr>
									<div class="row">
										<div class="col-lg-6">
											<a class="dropdown-item" href=""></a>
										</div>
									</div>
								</div>
							  </li>
							  <li class="nav-item nav-item-dropdown">
								<a class="nav-link" href="">Mortgage Loan</a>
								<div class="dropdown-menu megamenu fade-in">
									<h5><a href="">Explore Mortgage Loan</a></h5>
									<hr>
									<div class="row">
										<div class="col-lg-6">
											<a class="dropdown-item" href=""></a>
										</div>
										<div class="col-lg-6">
											<a class="dropdown-item" href=""></a>
										</div>
									</div>
								</div>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="">PMAY Scheme</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="">Quick Pay</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="">Quick Eligibility Check</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="">Adani Capital</a>
							  </li>
							</ul>
							<ul class="navbar-nav primaryMenu d-lg-none d-block pt-0">
								<li class="nav-item"> <a href="#" class="nav-link">About Us</a> </li>
								<li class="nav-item"> <a href="#" class="nav-link">Investors</a> </li>
								<li class="nav-item"> <a href="#" class="nav-link">Newsroom</a> </li>
								<li class="nav-item"> <a href="#" class="nav-link">Careers</a> </li>
								<li class="nav-item"> <a href="#" class="nav-link">Contact Us</a> </li>
								<li class="nav-item"> <a href="#" class="nav-link">Download</a> </li>
								<li class="nav-item"> <a href="#" class="nav-link">Become a Partner</a> </li>
							</div>
						  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</header>
<main>
 @Html.Sitecore().Placeholder("page-layout")
</main>
<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>
<div class="sidebar_s-icons">
	<ul>
		<li><a href="#"><img src="/images/AdaniHousing/FB.jpg"></a></li>
		<li><a href="#"><img src="/images/AdaniHousing/in.jpg"></a></li>
		<li><a href="#"><img src="/images/AdaniHousing/Pinterest.jpg"></a></li>
		<li><a href="#"><img src="/images/AdaniHousing/Whatsapp.jpg"></a></li>
		<li><a href="#"><img src="/images/AdaniHousing/youtube.jpg"></a></li>
	</ul>
</div>
<footer>
<div class="container">
	<div class="row">
		<div class="col-lg-3 order-lg-4 order-1 my-4">
			<div class="ft-logo_container">
			<ul class="ft-social">
				<li><a href="" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fab fa-twitter"> </i></a></li>
				<li><a href="" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="linkedIn"><i class="fab fa-linkedin-in"> </i></a></li>
				<li><a href="" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fab fa-facebook-f"> </i></a></li>
				<li><a href="" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="YouTube"><i class="fab fa-youtube "> </i></a></li>
				<li><a href="" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Instagram"><i class="fab fa-instagram"> </i></a></li>
            </ul>
			<div class="text-center">
				<img src="/images/AdaniHousing/logo.png" class="img-fluid">
			</div>
			<p class="sitemap-link d-block d-lg-none p-2">Sitemap<i class="fa fa-angle-down"></i></p>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-6 sitemap_visible order-lg-1 order-3 my-4">
			<div>
				<div class="ft-submenu">
				<h5><a href="our-offerings.html">Products Offering</a></h5>
				<ul>
					<li><a href="#">Home Loan</a></li>
					<li><a href="#">Mortgauge Loan</a></li>
					<li><a href="#">Housing Builder Finance</a></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-6 sitemap_visible order-lg-2 order-4 my-4">
			<div>
				<h5><a href="">About Us</a></h5>
				<h5><a href="">Career</a></h5>
				<h5><a href="">Newsroom</a></h5>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 col-6 sitemap_visible order-lg-2 order-4 my-4">
			<div>
				<h5><a href="">Downloads</a></h5>
				<h5><a href="">Contact Us</a></h5>
				<h5><a href="">Investor</a></h5>
			</div>
		</div>
	</div>
</div>
<div class="bottom_copyright">
		<div class="container">
			<div class="row">
			<div class="col-md-3 my-md-2 my-2 order-2 order-md-1 text-md-left text-center">
				<p>© 2020 Adani Housing Finance</p>
			</div>
			<div class="col-md-9  my-md-2 my-2 text-md-right text-center order-1 order-md-2">
				<ul class="ft-policy-links">
					<li><a href="#">SiteMap</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Legal Disclaimer</a></li>
					<li><a href="#">Terms & Conditions</a></li>
			</ul>
			</div>
		</div>
	</div>
</div>
</footer>
 
    
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script src='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.js'></script>
</body>
</html>







