@model Sitecore.ElectricityNew.Website.Model.UserDetails

@*<div id="default_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">*@

<div class="modal-wrapper">
    <div id="@Model.TenderID" class="sidenav sidenav-right sidenav-mid-width">
        @using (Html.BeginForm("UserRegistration", "ElectricityNew", FormMethod.Post, new { id = "UseRegistrationForm" }))
        {

            <!-- Modal content modal-content modal-content sustain-modal-->
            <div class="modal-content-inner">
                <a class="modal-close sidenav-close"><i class="i-cross hide-notification" id="resetclick"></i></a>
                <div class="tender-register">
                    <header class="section-header">
                        <h2>Register</h2>
                        <p>Please fill in your contact information to obtain the bid documents.</p>
                    </header>

                    <div class="card-with-form">

                        @Html.HiddenFor(x => x.TenderID)

                        <div class="input-field custom">


                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required", id = "name", @maxlength = "50", @onkeypress = "return onlyAlphabets(event,this);" })
                            <label for="first_name2" class="active">Name<span style="color:red;">*</span> </label>
                            @*@Html.ValidationMessageFor(x => x.Name)*@
                            <span class="field-validation-error" id="nameerror" style="display:none;"></span>

                        </div>
                        <div class="input-field custom">


                            @Html.TextBoxFor(x => x.Company, new { @class = "form-control", required = "required", id = "company", @maxlength = "50" })
                            <label for="first_name2" class="active">Company<span style="color:red;">*</span> </label>
                            @*@Html.ValidationMessageFor(x => x.Company)*@
                            <span class="field-validation-error" id="companyerror" style="display:none;"></span>

                        </div>

                        <div class="input-field custom">


                            @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control", required = "required", id = "mobileNumber" })
                            <label for="first_name2" class="active">Mobile Number<span style="color:red;">*</span> </label>
                            @*@Html.ValidationMessageFor(x => x.MobileNo)*@
                            <span class="field-validation-error" id="mobileerror" style="display:none;"></span>

                        </div>
                        <div class="input-field custom">


                            @Html.TextBoxFor(x => x.FaxNo, new { @class = "form-control", id = "fax" })
                            <label for="first_name2" class="active">Fax Number</label>
                            @*@Html.ValidationMessageFor(x => x.FaxNo)*@
                            <span class="field-validation-error" id="faxerror" style="display:none;"></span>

                        </div>
                        <div class="input-field custom">


                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", id = "emailAddress" })
                            <label for="first_name2" class="active">Email<span style="color:red;">*</span> </label>
                            @*@Html.ValidationMessageFor(x => x.Email)*@
                            <span class="field-validation-error" id="emailerror" style="display:none;"></span>

                        </div>
                        <div class="btn-group section-wrapper">
                            @*<button type="reset" class="waves-effect waves-light btn-flat btn btn-secondary reset">Reset</button>
                                <button type="submit" id="UseRegistrationBtn" class="waves-effect waves-light btn modal-trigger btn-primary">Submit</button>*@
                            <button type="reset" class="waves-effect waves-light btn-flat reset">Reset</button>
                            <button type="submit" id="UseRegistrationBtn" class="waves-effect waves-light btn" data-target="registernew">Submit</button>


                        </div>
                        <div class="submit-meter-module">
                            <div class="message message-padd-bot warning warning-info">
                                <aside><i class="i-info"></i> </aside>
                                <label>
                                    <p>
                                        Please mention the correct email address and contact information as the RFP documents shall be sent to the mentioned email address and any future information shall be conveyed to the contact person at the provided contact information.
                                    </p>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script src="/scripts/electricitynew/TenderRevamp.js"></script>