@model Sitecore.ElectricityNew.Website.Model.SurveyResult
@{
    Layout = null;
}
<html>
<head>
    <link href="/styles/Electricity/adani-electricity.css" rel="stylesheet" />
</head>
<body style="font-family:Adani-Regular;font-size:16px;">
    <section style="margin:0px;">
        <div style="width:860px; margin:0px auto;">
            <h3 style="line-height: 60px;margin-bottom:10px;"><img src="/images/logo-adani-electricity.png" /></h3>
            <hr />
            <h2 style="background: #ff6633;line-height: 50px;padding-left: 10px;color: #fff;margin-bottom:10px;">Your Energy Improvement Plan</h2>
            <h3 style="font-size: 30px;">Customer Details</h3>
            <table style="width: 100%;">
                <tr>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">Name :</div>@Model.Name</td>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">CA No :</div>@Model.CANumber</td>
                </tr>
                <tr>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">Email ID :</div>@Model.Email</td>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">Mobile No: </div>@Model.MobileNo</td>
                </tr>
            </table>
            @foreach (var Appliancetype in Model.SubSurveyResult)
            {
                <h3 style="font-size: 30px;margin-top:10px;">@Appliancetype.Appliancetype</h3>
                foreach (var Appliance in Appliancetype.ApplianceList)
                {
                    <p style="color:#ff6633;margin-top:10px;margin-bottom:5px;margin-left:5px;">@Appliance.ApplianceName</p>
                    <ul style="list-style-type:disc;padding-left: 15px;margin-bottom:30px;margin-left:10px;">
                        @foreach (var item in Appliance.AnswerdQuestionResponse)
                        {
                            <li style="margin-bottom: 10px;list-style-type:circle">
                                @item.Response
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </section>
</body>
</html>
