@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc.Configuration
@using System.Web.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.ElectricityNew.Website.Model.TenderStatus
@using Sitecore.ElectricityNew.Website.Model;
@{
    var Id = new Guid();
    var currentDate = DateTime.Now;
}

@if (Model.OpenTender.Count > 0)
{
    <section class="corporate-main-banner section-container">
        <div class="inner">
            <figure>
                <picture>
                    <source media="(min-width:992px)" srcset="-/media/8693F40A7CC2485F82B83EC9C05E7C3D.ashx" alt="Power Purchase Tenders">
                    <img alt="Power Purchase Tenders" class="banner-image" src="-/media/20AC3F0692BF465DBE5679E054A99947.ashx" />
                </picture>
            </figure>
            <div class="content">
                <div class="container">
                    <div class="inner">
                        <h1>Power Purchase Tenders</h1>
                        <p>List of tenders pertaining to power purchase</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container section-container">
        <div class="row">
            <div class="col s12  tenders-detail">
                <div class="tender-header">
                    <div class="tender-main-header">
                        <h2>Power Purchase Tenders</h2>
                        <div class="header-links hide-on-small-only">
                            <a href="/tenderlogin">Login</a>
                        </div>
                    </div>
                </div>

                <div class="customer_detail_wrapper customer_detail_list hide-on-med-and-down">
                    <table class="customer_detail_list-details" id="TenderPowerPusListing">
                        <thead>
                            <tr>
                                <th width="25%">Business</th>
                                <th width="35%">Tender Description</th>
                                <th width="25%">Date of Advertisement</th>
                                <th width="25%">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var openTN in Model.OpenTender.Where(x => x.NITPRNo == "-").OrderByDescending(x => x.Adv_Date))
                            {
                                if (openTN.Location.ToLower().Contains("whatsnew"))
                                {
                                    openTN.Location = openTN.Location.Replace("whatsnew", "whats-new");
                                }
                                <tr>
                                    <td><div class="table-cell"><label>@openTN.Business</label></div></td>
                                    <td><div class="table-cell"><label>@openTN.Description</label></div></td>
                                    <td><div class="table-cell"><label>@openTN.Adv_Date.Value.ToString("dd/MM/yy", System.Globalization.CultureInfo.InvariantCulture)</label></div></td>
                                    <td>
                                        <div class="table-cell"><label>  <a href="@openTN.Location" target="_blank" title="Click here">@Html.Sitecore().Dictionary("Electricity/Tender/Tender Update Text", "Click Here")</a></label></div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="pagination hide-on-med-and-down" id="desktopPagination"></div>
        @{

            var count = 0;
            int paginationCount = 1;
        }

        <div class="mob-listing-cards hide-on-med-and-up section-wrapper " id="TenderListingPaginationDiv">
            <input type="hidden" id="paginationTableDiv" value="TenderListingPaginationDiv" />
            <input type="hidden" id="paginationDataSelector" value="#TenderListingDiv>div" />
            <input type="hidden" id="paginationNumberElementSelector" value="#tenderListingPaginationNumber" />
            <input type="hidden" id="paginationScrollToElementSelector" value="#TenderListingPaginationDiv" />
            <input type="hidden" id="paginationPageSize" value="10" />
            <div id="TenderListingDiv">

                @foreach (var openTN in Model.OpenTender.Where(x => x.NITPRNo == "-").OrderByDescending(x => x.Adv_Date))
                {
                    if (openTN.Location.ToLower().Contains("whatsnew"))
                    {
                        openTN.Location = openTN.Location.Replace("whatsnew", "whats-new");
                    }

                    string divstyle = "none";
                    if (paginationCount == 1)
                    {
                        divstyle = "block";
                    }
                    else
                    {
                        divstyle = "none";
                    }
                    <div class="mob-listing" data-id="@paginationCount" style="display:@divstyle">

                        <ul>

                            <li>

                                <label>Business</label>

                                <span>@openTN.Business</span>

                            </li>

                            <li>

                                <label>Tender Description</label>

                                <span>@openTN.Description</span>

                            </li>

                            <li>

                                <label>Date of Advertisement</label>

                                <span>@openTN.Adv_Date.Value.ToString("dd/MM/yy", System.Globalization.CultureInfo.InvariantCulture)</span>

                            </li>

                            <li>

                                <label>View</label>

                                <span><a href="@openTN.Location" target="_blank" title="Click here">@Html.Sitecore().Dictionary("Electricity/Tender/Tender Update Text", "Click Here")</a></span>

                            </li>


                        </ul>

                    </div>

                    count++;
                    if (count / (paginationCount * 10) == 1)
                    {
                        paginationCount = paginationCount + 1;
                    }
                }
            </div>
            <ul class="pagination hide-on-med-and-up" id="tenderListingPaginationNumber"></ul>
        </div>

    </div>



    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Accounts/ElectricityRevampCustomPagination.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TenderPowerPusListing').DataTable({
                lengthChange: false,
                pageLength: 10,
                searching: false,
                autoWidth: false,
                ordering: false,
                info: false,
                language: {
                    paginate: {
                        next: '<i class="i-arrow-r"></i>',
                        previous: '<i class="i-arrow-l"></i>'
                    }
                },
                bPaginate: true,
                "fnDrawCallback": function (oSettings) {
                    $(".corporate-main-banner")[0].scrollIntoView(true);
                }
            });

            $('#TenderPowerPusListing_paginate').appendTo('#desktopPagination');

            DrawPaginationNumber(1, '#TenderListingPaginationDiv');
        })
    </script>
}
