@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.FileUploadViewModel


<div class="file-upload-wrapper" data-text="@Html.DisplayTextFor(t => Model.Title)">
    <label for="@Html.IdFor(m => Model.Files)" class="@Model.LabelCssClassSettings.CssClass">@Html.DisplayTextFor(t => Model.Title)</label>
    <input id="@Html.IdFor(m => Model.Files)" name="@Html.NameFor(m => Model.Files)" class="@Model.CssClassSettings.CssClass" type="file" @(Model.IsMultiple ? "Multiple" : string.Empty) data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" data-sc-field-key="@Model.ConditionSettings.FieldKey" @Html.GenerateUnobtrusiveValidationAttributes(m => m.Files) />
</div>
<div class="uplod-icon uplod-icon-png">
    <div class="file-upload-image-icon">
        <img src="/-/media/Project/Adani-Welspun/Adani-Welspun/Images/upload-icon.png">
    </div>
</div>
@Html.ValidationMessageFor(m => Model.Files)