@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    @Html.Sitecore().VisitorIdentification()


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'  https://*.adanisportsline.com  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/  'nonce-9926c7f27c' 'nonce-9926c7f28c' ; style-src 'unsafe-inline' 'self' https://*.adanisportsline.com ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.adanisportsline.com https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'  https://*.adanisportsline.com data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.adanisportsline.com https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com          />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Tag Manager -->
    <script nonce="9926c7f28c">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K6WS2TM');</script>
    <!-- End Google Tag Manager -->

    @Html.Sitecore().Placeholder("head")
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=registerCallBack&render=explicit" async defer></script>
    <script src="https://platform.twitter.com/widgets.js" integrity="sha384-9rre4l5Btxy+zZcO1iGNps9C3UdepAPUm9e9T7YVxwEjd54aQ5XeS3rBseyUkM6d" crossorigin="anonymous"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
    <script type="text/javascript">
        var pathArray = window.location.pathname.split('/');
        var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
        getText = "SportsLine - " + getText + " by @@AdaniOnline";
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough: {
                twitter: {
                    text: getText
                }
            }
        }
    </script>

</head>
<body class="inactivemenu">
    <!-- Header -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6WS2TM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Sitecore().Placeholder("Header")


    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main">
        @Html.Sitecore().Placeholder("image-breadcrumb")
        @Html.Sitecore().Placeholder("media-breadcrumb")
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!-- Footer -->

    @Html.Sitecore().Placeholder("footer")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script nonce="9926c7f27c">
        AOS.init();
    </script>
</body>
</html>
