@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}

<section class="py-5 pt-2 position-relative">
    <div class="container">
        @if (element != null)
        {
        <h2 class="mb-3 border-l pl-4 mb-3">@Html.Sitecore().Field("Heading", element)</h2>
        <div class="owl-carousel owl-theme" id="other-ventures">
           
                @if (element.GetChildren() != null)
                {
                    foreach (Item item in element.GetChildren())
                    {
                        LinkField link = (LinkField)item.Fields["Link"];
                        <div class="item">
                            <a href="@link.GetFriendlyUrl()" target="_blank">@Html.Sitecore().ImageField("ActiveImage", item)</a>

                            <h5><a href="@link.GetFriendlyUrl()" target="_blank">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                        </div>
                    }
                }
            </div>
            }

        </div>
</section>
