@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkField = parent.Fields["Link"];
    var url = linkField.Url;

}



<section class="pt-5 pb-4 bg-services">
    <div class="container">
        <h2 class="border-l txt-black position-relative mb-4 txt-heading">@Html.Sitecore().Field("Title", parent)</h2>
        <div class="row">
            <div class="col-lg-8 py-4">
                @Html.Sitecore().Field("Body", parent)
                <p><a href="@url" class="btn-link"> @Html.Sitecore().Field("NavigationTitle", parent)</a></p>
              </div>
                    <div class="col-lg-4 py-4">
                        <div class="vendor-sidebar">
                            @Html.Sitecore().Field("Summary", parent)
                            <ul>
                                @foreach (var item in parent.GetChildren().ToList())
                                {
                                    Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                                    var urls = linkFields.Url;
                                    <li><a href="@urls" target="_blank">@Html.Sitecore().Field("NavigationTitle", item)</a></li>
                                   
                                }
                            </ul>
                        </div>
                    </div>
                
            </div>
        </div>
    
</section>