@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkField = parent.Fields["LinkUrl"];
    var url = linkField.Url;


        }

        <section class="py-5" id="first-section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 mb-3">
                        <h2 class="border-l txt-heading  mt-3"> @Html.Sitecore().Field("Title", parent)</h2>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <p> @Html.Sitecore().Field("Summary", parent)</p>
                        <p class="mt-2"><a href="@url" class="btn-flat">Read more</a></p>
                    </div>

                </div>
            </div>
        </section>

        <section class="mb-5">
            <div class="container">
                <div class="row">
                    @foreach (var item in parent.Children.ToList())
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="py-3 my-3 stats">
                                @Html.Sitecore().ImageField("MediaImage", item, 0, 0, "mb-2 img-fluid")
                                <p>@Html.Sitecore().Field("MediaTitle", item)</p>
                                <p><a href="@item.Url()">Read more</a></p>
                            </div>
                        </div>

                    }

                    </div>
            </div>
        </section>