@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
   
}

<section class="pt-5 bg-services">
    <div class="container">
        <h2 class="border-l txt-black position-relative mb-4 txt-heading">@Html.Sitecore().Field("Title", elements)</h2>
        <p>@Html.Sitecore().Field("Body", elements)</p>
        <div class="row">
            <div class="col-lg-5 my-3">
                @Html.Sitecore().Placeholder("Map-Section")
            </div>
            <div class="col-lg-7 my-3">
                <div class="ProjectAssetsData">
                    @foreach (var item in elements.GetChildren().ToList())
                    {
                        if (i == 1)
                        {
                            <div class="ProjectAssetsDataInner" id="DefaultData" style="">
                                <div class="contPd">
                                    @Html.Sitecore().Field("Body", item)

                                    <div class="bootleggers owl-carousel map-gallery">
                                        @foreach (var subchild in item.GetChildren().ToList())
                                        {

                                            Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)subchild.Fields["Image"]);
                                            string urls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                                            <div class="item">
                                                <a class="item popup" href="@urls"><img src="@urls" alt="Gallery"></a>
                                            </div>
                                        }



                                    </div>
                                </div>
                            </div>
                        }
                        else if (i == 2)
                        {
                            <div class="ProjectAssetsDataInner" id="trans17Tab" style="display: none;">
                                <div class="contPd">

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ProjectAssetsDataInner" id="content1Tab" style="display: none;">
                                <div class="contPd">

                                </div>
                            </div>
                        }
                        i++;
                   
                    }


                </div>
            </div>
        </div>
    </div>
</section>