@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);

    var i = 1;

        }

<section class="py-5" id="first-section">
    <div class="container">
        <h2 class="border-l txt-black position-relative mb-4 txt-heading">@Html.Sitecore().Field("Title", parent)</h2>
        <p>@Html.Sitecore().Field("Body", parent)</p>
    </div>
</section>

<section class="mb-5 business-section">
    <div class="container">
        @foreach (var item in parent.Children.ToList())
        {

            if (i == 1)
            {
                <div class="row">
                    <div class="col-lg-6 order-md-1 order-lg-1 business-section__thumb">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100 h-100")
                    </div>
                    <div class="col-lg-6 order-md-2 order-lg-2 business-section__content">
                        <h2>@Html.Sitecore().Field("Title", item)</h2>

                        @Html.Sitecore().Field("Summary", item)
                        <a href="@item.Url()">View Project</a>
                    </div>
                </div>
            }
            else if (i == 2)
            {
                <div class="row">
                    <div class="col-lg-6 order-md-2 order-lg-1 business-section__content">
                        <h2>@Html.Sitecore().Field("Title", item)</h2>
                        @Html.Sitecore().Field("Summary", item)
                        <a href="@item.Url()">View Project</a>
                    </div>
                    <div class="col-lg-6 order-md-1 order-lg-2 business-section__thumb">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100 h-100")
                    </div>
                </div>


            }
            else if (i == 3)
            {
                <div class="row">
                    <div class="col-lg-6 order-md-1 order-lg-1 business-section__thumb">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100 h-100")
                    </div>
                    <div class="col-lg-6 order-md-2 order-lg-2 business-section__content">
                        <h2>@Html.Sitecore().Field("Title", item)</h2>

                        @Html.Sitecore().Field("Summary", item)
                        <a href="@item.Url()">View Project</a>
                    </div>
                </div>
            }
            i++;
        }
    </div>
</section>