@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
    var j = 1;
    var k = 1;
}



    <section class="py-5 bg-services">
        <div class="bg-images">
            <img src="images/bg-services.png">
        </div>
        <div class="container">
            <div id="accordion">
                @foreach (var item in parent.GetChildren().ToList())
                {
                    if (k == 1)
                    {
                        <div class="card">
                            <div class="card-header bg-gradient">
                                <a class="card-link" data-toggle="collapse" href="#collapse-@i">
                                    @Html.Sitecore().Field("Title", item)
                                </a>
                            </div>
                            <div id="collapse-@i" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        @foreach (var items in item.GetChildren().ToList())
                                        {
                                            if (j == 1 || j == 3)
                                            {
                                                <div class="col-lg-7 my-4">
                                                    <h3 class="mb-3">@Html.Sitecore().Field("MediaTitle", items)</h3>
                                                    @Html.Sitecore().Field("MediaDescription", items)
                                                </div>
                                                <div class="col-lg-5 my-4 pl-5">
                                                    @Html.Sitecore().ImageField("MediaImage", items, 0, 0, "img-fluid w-100")

                                                </div>
                                            }
                                            else if (j == 2)
                                            {
                                                <div class="col-lg-5 my-4 pr-5">
                                                    @Html.Sitecore().ImageField("MediaImage", items, 0, 0, "img-fluid w-100")
                                                </div>
                                                <div class="col-lg-7 my-4">
                                                    <h3 class="mb-3">@Html.Sitecore().Field("MediaTitle", items)</h3>
                                                    @Html.Sitecore().Field("MediaDescription", items)
                                                </div>
                                            }
                                            j++;
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                       
                        <div class="card">
                            <div class="card-header bg-gradient">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse-@i">
                                    @Html.Sitecore().Field("Title", item)
                                </a>
                            </div>
                            <div id="collapse-@i" class="collapse" data-parent="#accordion">
                                <div class="card-body">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                </div>
                            </div>
                        </div>
                    }
                    i++;
                    k++;
                }

            </div>
        </div>
        </section>