@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Sitecore().Dictionary("/sitecore/content/Realty/Global/Dictionary/PageMetadata/Title", "Adani Realty - Luxury Residential, Commercial and Social Club Projects")</title>
    
 <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '150743952245994');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=150743952245994&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

	
	  <!-- Bootstrap core CSS -->
    <link href="~/styles/Realty/samsara-vilasa/bootstrap.min.css" rel="stylesheet">
	<link href="~/styles/Realty/samsara-vilasa/fontawesome-all.css" rel="stylesheet">
	<link href="~/styles/Realty/samsara-vilasa/animate.css" rel="stylesheet">
	<link href="~/styles/Realty/samsara-vilasa/aos.css" rel="stylesheet">
	
	<!-- Owl Carousel -->
	<link href="~/styles/Realty/samsara-vilasa/owl.carousel.css" rel="stylesheet">
	<link href="~/styles/Realty/samsara-vilasa/owl.theme.default.css" rel="stylesheet">
	
    <link href="~/styles/Realty/samsara-vilasa/magnific-popup.css" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="~/styles/Realty/samsara-vilasa/samsara.css" rel="stylesheet">
	<link href="~/styles/Realty/samsara-vilasa/samsara-responsive.css" rel="stylesheet">
	<!--Muli Google Font-->
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli:800" rel="stylesheet">
	
	
	
	
	
    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

  <!--  @RenderAssetsService.Current.RenderStyles()-->

    @Html.Sitecore().VisitorIdentification()
 
 <!-- Global site tag (gtag.js) - Google Ads: 753607989 -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753607989"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-753607989'); </script> 
 
 



</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <script type="text/javascript">
  window.ymConfig = {
    bot: 'x1568125917603'
  };
  (function() {
    var w = window,
      ic = w.YellowMessenger;
    if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);
    else {
      var d = document,
        i = function() {
          i.c(arguments)
        };

      function l() {
        var e = d.createElement("script");
        e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js";
        var t = d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
      }
      i.q = [], i.c = function(e) {
        i.q.push(e)
      }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
    }
  })();
</script>
    <!--  Main content Section-->
    <main role="main">
        <div class="contentSection homepage">
            @Html.Sitecore().Placeholder("page-layout")
        </div>
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

	<script src="~/scripts/Realty/samsara-vilasa/jquery.min.js"></script>
    <script src="~/scripts/Realty/samsara-vilasa/popper.min.js"></script>
    <script src="~/scripts/Realty/samsara-vilasa/bootstrap.min.js"></script>
		<!-- Owl Carousel -->
	<script src="~/scripts/Realty/samsara-vilasa/owl.carousel.min.js"></script>	
	<script src="~/scripts/Realty/samsara-vilasa/jquery.magnific-popup.js"></script>	
	<!-- animation -->
	<script src="~/scripts/Realty/samsara-vilasa/aos.js"></script>
	
	 <!-- Custom JavaScript for Adani Electricity
    ================================================== -->
	<script src="~/scripts/Realty/samsara-vilasa/samsara-custom.js"></script>
	<script src="~/scripts/Realty/samsara-vilasa/samsaravilasaForm.js"></script>
	<script src="~/scripts/Realty/samsara-vilasa/oystergrandeForm.js"></script>
	
	
   
    @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
        <script src="~/scripts/Realty/popper.min.js"></script>
        <script src="~/scripts/Realty/bootstrap.min.js"></script>
		

        <!--[if lte IE 8]>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
        <![endif]-->

        <!-- Owl Carousel -->
        <script src="~/scripts/Realty/owl.carousel.min.js"></script>

        <!-- Gallery carousel -->

        <script src="~/scripts/Realty/carousle-slider.js"></script>

        <!-- Custom JavaScript for Adani Electricity
        ================================================== -->
        <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
</body>
</html>
