@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Bootstrap core CSS -->
    @*<link href="https://www.adanirealty.com" rel="canonical">*@
    @*<link href="~/styles/Realty/bootstrap.min.css" rel="stylesheet">
        <link href="~/styles/Realty/fontawesome-all.css" rel="stylesheet">

        <!-- Owl Carousel -->
        <link href="~/styles/Realty/owl.carousel.css" rel="stylesheet">
        <link href="~/styles/Realty/owl.theme.default.css" rel="stylesheet">


        <!-- Custom styles for this template -->
        <link href="~/styles/Realty/adani-realty.css" rel="stylesheet">
        <link href="~/styles/Realty/adani-realty-responsive.css" rel="stylesheet">*@

    <script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="" defer=""></script>
    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '292960701327843');
        fbq('track', 'PageView');
    </script>

    <script>
        fbq('track', 'Lead');
    </script>

    <!-- Event snippet for Adani Pune - Remarketing conversion page -->
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-777639171/ug8ACOXzg5ABEIOq5_IC' });
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 753607989 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753607989"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-753607989');
    </script>


    <!-- Global site tag (gtag.js) - Google Ads: 777639171 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-777639171"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-777639171');
    </script>

    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=292960701327843&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49958942-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-49958942-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 850155491 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-850155491"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-850155491');
    </script>
    <script>
<!--    MediaQart Pixel-- >
            fbq('init', '465505633832979');
< !--End MediaQart Pixel)-->

    </script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview")) ">
    <script type="text/javascript">
        window.ymConfig = {
        bot: 'x1568125917603'
    };
    (function () {
        var w = window,
            ic = w.YellowMessenger;
        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);
        else {
            var d = document,
                i = function () {
                    i.c(arguments)
                };

            function l() {
                var e = d.createElement("script");
                e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js";
                var t = d.getElementsByTagName("script")[0];
                t.parentNode.insertBefore(e, t)
            }
            i.q = [], i.c = function (e) {
                i.q.push(e)
            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
        }
    })();
    </script>
    <!-- Header -->
    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="headerTopBar topNav">
            @Html.Sitecore().Placeholder("header-top")
        </div>
        @Html.Sitecore().Placeholder("navbar")
    </header>
    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main">
        <div class="contentSection homepage">
            @Html.Sitecore().Placeholder("page-layout")
        </div>
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <!-- To top -->
    <button onclick="topFunction()" id="scrolltop" title="Go to top"><i class="fa fa-arrow-up"></i></button>
    <!-- /To top -->
    <!-- Footer -->
    <footer class="footerSec">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- /Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
        <script src="~/scripts/Realty/popper.min.js"></script>
        <script src="~/scripts/Realty/bootstrap.min.js"></script>

        <!--[if lte IE 8]>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
        <![endif]-->

        <!-- Owl Carousel -->
        <script src="~/scripts/Realty/owl.carousel.min.js"></script>

        <!-- Gallery carousel -->

        <script src="~/scripts/Realty/carousle-slider.js"></script>

        <!-- Custom JavaScript for Adani Electricity
        ================================================== -->
        <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
    <script src="https://davidstutz.de/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <link href="https://davidstutz.de/bootstrap-multiselect/docs/css/bootstrap-3.3.2.min.css" rel="stylesheet" />
    <link href="https://davidstutz.de/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="https://davidstutz.de/bootstrap-multiselect/docs/js/bootstrap-3.3.2.min.js"></script>

</body>
</html>
