@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Samsara Vilasa | Independent 4 &amp; 3 BHK flats in Gurgaon, Delhi</title>
    <meta name="description" content="Samsara Vilasa is a private independent floor community spread across 16 acres offering 4 BHK and 3 BHK flats in Gurgaon with access to your own terrace, elevator &amp; basement.">
    <meta name="keywords" content="flats in gurgaon, 3 bhk flats in delhi, flats in gurugram, property in gurgaon, 3 bhk flats in gurugram, 4 bhk flats in gurgaon">
    <link rel="stylesheet" type="text/css" href="~/styles/Realty/samsara-vilasa-new/style.css">
    <link rel="stylesheet" type="text/css" href="~/styles/Realty/samsara-vilasa-new/colorbox.min.css">
    <!--     <link rel="stylesheet" type="text/css" href="css/fullpage.css" /> -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2PKPK6');</script>
    <!-- End Google Tag Manager -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-144240700-2', 'auto');
    ga('require', 'displayfeatures');
    ga('require', 'ecommerce', 'ecommerce.js');
    ga('send', 'pageview');
  </script>
	
	
	
	
    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

  <!--  @RenderAssetsService.Current.RenderStyles()-->

    @Html.Sitecore().VisitorIdentification()
 
 <!-- Global site tag (gtag.js) - Google Ads: 753607989 -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753607989"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-753607989'); </script> 
 
 



</head>
<body class="relative @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <script type="text/javascript">
  window.ymConfig = {
    bot: 'x1568125917603'
  };
  (function() {
    var w = window,
      ic = w.YellowMessenger;
    if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);
    else {
      var d = document,
        i = function() {
          i.c(arguments)
        };

      function l() {
        var e = d.createElement("script");
        e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js";
        var t = d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
      }
      i.q = [], i.c = function(e) {
        i.q.push(e)
      }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
    }
  })();
</script>
    <!--  Main content Section-->
   
            @Html.Sitecore().Placeholder("page-layout")
       <!-- /.container -->
    <!--  /Main content Section-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
   
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="https://s3-ap-southeast-1.amazonaws.com/assets.ngauge.co/javascripts/ecommerce.js"></script>
<script type="text/javascript" src="~/scripts/Realty/samsara-vilasa-new/app.js"></script>
<script type="text/javascript" src="~/scripts/Realty/samsara-vilasa-new/jquery.validate.js"></script>
<script type="text/javascript" src="~/scripts/Realty/samsara-vilasa-new/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="~/scripts/Realty/samsara-vilasa-new/customOnePageScroll.js"></script>
<script type="text/javascript" src="~/scripts/Realty/samsara-vilasa-new/samsaravilasaForm-new.js"></script>
<!-- <script type="text/javascript" src="js/fullpage.js"></script>
<script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
        sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
        anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
        menu: '#menu',
        lazyLoad: true
    });
</script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->


<script type="text/javascript">
$(document).ready(function(){

$("#enquireNowAction2").validate({
  submitHandler: function() {
    $('#enquireNowAction2').hide();
    $('.enquire-form-success2').show();
    trackecommerce("UA-144240700-2","", "Samsara Brahma", $("#enquireemail").val(), $("#enquiremobile").val());
    try{ 
        dataLayer.push({'event' : 'selldo_form_submitted'  });
    }catch(err){}
    $.ajax({
      type:"POST",
      dataType:"json",
      url:$("#enquireNowAction2").attr("action"),
      data:$("#enquireNowAction2").serialize(),
      success: function(resp, status, xhr){
        if(resp.status == "success"){
        }
        else{
        }
      },
      error: function(resp, status, xhr){
      }
    });
    }  
  });


})
</script>


<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '342452286683003');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=342452286683003&ev=PageView&noscript=1"/>
  </noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Ads: 716935330 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-716935330"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-716935330');
</script>


<!-- Event snippet for Samsara Vilasa Re-marketing remarketing page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-716935330/AjyKCOi946cBEKKh7tUC',
      'value': 1.0,
      'currency': 'INR',
      'aw_remarketing_only': true
  });
</script>


<!-- style -->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M32LFR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M32LFR');</script>
<!-- End Google Tag Manager -->
</body>
<script type="text/javascript"> _linkedin_partner_id = "712163"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=712163&fmt=gif" /> </noscript>
</html>
