@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XLV48H');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Sitecore().Dictionary("/sitecore/content/Realty/Global/Dictionary/PageMetadata/Title", "Adani Realty - Luxury Residential, Commercial and Social Club Projects")</title>
    <link href="~/styles/Realty/codegreens_style.css" rel="stylesheet">
    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
    @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49958942-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-49958942-1');
    </script>
    <!-- Event snippet for Adani Pune - Remarketing conversion page -->
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-777639171/ug8ACOXzg5ABEIOq5_IC' });
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 777639171 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-777639171"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-777639171');
    </script>

    <script>
        (function () {
            var colombiaPixelURL = 'https://ade.clmbtech.com/cde/eventTracking.htm?pixelId=4687&_w=1&rd=' + new Date().getTime(); (new Image()).src = colombiaPixelURL;
        })();</script>
    <noscript>
        <img height='1' width='1' style='display:none' src='https://ade.clmbtech.com/cde/eventTracking.htm?pixelId=4687&_w=1' />
    </noscript>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '292960701327843');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=292960701327843&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- <script> -->
    <!-- fbq('track', 'Lead'); -->
    <!-- </script> -->
    
    <script>
        gtag('event', 'conversion', {
            'allow_custom_scripts': true,
            'send_to': 'DC-9066419/invmedia/adani00+standard'
        });
    </script>
    <noscript>
        <img src="https://ad.doubleclick.net/ddm/activity/src=9066419;type=invmedia;cat=adani00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt="" />
    </noscript>
    <!-- End of event snippet: Please do not remove -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '292960701327843');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=292960701327843&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script>
        fbq('track', 'Lead');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 777639171 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-777639171"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-777639171');
    </script>


    <!-- Event snippet for Adani Pune - Remarketing conversion page -->
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-777639171/ug8ACOXzg5ABEIOq5_IC' });
    </script>

    <script type="text/javascript">
        var api_tab = "money.dailyhunt.in/tracker?orderId=1533&key=1533-751907d3da18b8f0a2f92e3265c822cc";
        (new Image()).src = (location.protocol == "https:" ? "https://" : "http://") + api_tab;
    </script>
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        googletag.cmd.push(function () {
            googletag.defineSlot('/115394472/TrackClicks_Iimpressions1x1', [1, 1], 'div-gpt-ad-1547811355083-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
    <!-- /115394472/TrackClicks_Iimpressions1x1 -->
    <div id='div-gpt-ad-1547811355083-0' style='height:1px; width:1px;'>
        <script>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-1547811355083-0'); });
        </script>
    </div>
</head>
<body class="@(Sitecore.Context.PageMode.IsNormal ? " " : (Sitecore.Context.PageMode.IsExperienceEditor ? " pagemode-edit" : "pagemode-preview" )) ">
 <script type="text/javascript">
  window.ymConfig = {
    bot: 'x1568125917603'
  };
  (function() {
    var w = window,
      ic = w.YellowMessenger;
    if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);
    else {
      var d = document,
        i = function() {
          i.c(arguments)
        };

      function l() {
        var e = d.createElement("script");
        e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js";
        var t = d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
      }
      i.q = [], i.c = function(e) {
        i.q.push(e)
      }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
    }
  })();
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XLV48H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- Header -->
    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="headerTopBar topNav">
            @Html.Sitecore().Placeholder("header-top")
        </div>
        @Html.Sitecore().Placeholder("navbar")
    </header>
    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main">
        <div class="contentSection homepage">
            @Html.Sitecore().Placeholder("page-layout")
        </div>
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <!-- To top -->
    <button onclick="topFunction()" id="scrolltop" title="Go to top"><i class="fa fa-arrow-up"></i></button>
    <!-- /To top -->
    <!-- Footer -->
    <footer class="footerSec">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- /Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @*
    <script src="~/scripts/Realty/jquery-slim.min.js"></script>
    <script src="~/scripts/Realty/popper.min.js"></script>
    <script src="~/scripts/Realty/bootstrap.min.js"></script>

    <!--[if lte IE 8]>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <![endif]-->
    <!-- Owl Carousel -->
    <script src="~/scripts/Realty/owl.carousel.min.js"></script>

    <!-- Gallery carousel -->

    <script src="~/scripts/Realty/carousle-slider.js"></script>

    <!-- Custom JavaScript for Adani Electricity
    ================================================== -->
    <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
</body>
</html>
