@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!-- Latest compiled and minified JavaScript -->
    <link href="styles/Realty/PlatinumRealty/bootstrap.min.css" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="styles/Realty/PlatinumRealty/owl.carousel.css" rel="stylesheet">
    <link href="styles/Realty/PlatinumRealty/owl.theme.default.css" rel="stylesheet">
    <link href="styles/Realty/PlatinumRealty/magnific-popup.min.css" rel="stylesheet">
    <link href="styles/Realty/PlatinumRealty/aos.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/Realty/PlatinumRealty/custom.css" rel="stylesheet">
    <link href="styles/Realty/PlatinumRealty/custom-responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    @Html.Sitecore().VisitorIdentification()
	
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KKPDXSK');</script>
<!-- End Google Tag Manager -->



</head>
<body class="overflow-hidden @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview")) ">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-KKPDXSK
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="nav_bar">
                <a href="/platinum-tower" class="logo"><img src="-/media/553AF0D1926F437E9B171F0DA54FF674.ashx" alt=""><img src="-/media/544F02FD92784C1E88549F79EE9D9E80.ashx" alt=""></a>
                <div class="navigation ml-auto" id="desktop-nav">
                    <nav>
                        <a href="#overview" class="anchor-link"><span>Overview</span></a>
                        <a href="#project" class="anchor-link"><span>PROJECT</span></a>
                        <a href="#amenities" class="anchor-link"><span>AMENITIES</span></a>
                        <a href="#gallery" class="anchor-link"><span>Gallery</span></a>
                        <a href="#location" class="anchor-link"><span>Location</span></a>
                        <a href="#contact" class="anchor-link"><span>Contact</span></a>
                    </nav>
                </div>
                <a href="#hamburger" class="hamburger_icon">
                    <span></span>
                </a>
            </div>
        </div>
    </header>
    <!-- /Header -->
    <!--  Main content Section-->
    @Html.Sitecore().Placeholder("page-layout")
    <!--  /Main content Section-->
    <!-- To top -->
    <!-- /To top -->
    <!-- Footer -->
    @* @Html.Sitecore().Placeholder("footer")*@
    <footer>
        <div class="container-fluid">
            <h3>Disclaimer</h3>
            <div class="text-center btn_down mb-3 d-lg-none d-block" id="btn_disclaimer"><span class="fa fa-angle-down"></span></div>
            <p class="disclaimer_text">The images, appearances, colours, etc. given herein are mere artistic impression for representation purposes only and do not constitute an offer, an invitation to offer and/or commitment of any nature between the promoter and the recipient. The data/information herein is intended to give a general understanding of the subject matter and is subject to change without any prior notice. Readers are therefore requested to verify all details, including area, amenities, services, terms of sale and payment schedule and other relevant terms independently with the promoter prior to arriving at any decision of buying any apartment in the said project. The binding offering shall be governed by the terms and conditions of the Agreement for Sale only. Our official website is www.adanirealty.com, email address is info@adanirealty.com and phone no is 18001080009 In no event will the Promoter be liable for any claim made by the reader including seeking any cancellation and or/withdrawal for any of the inaccuracies in the information provided in the advertisement, though all the efforts have been made to ensure accuracy. We also do not hold any responsibility for any information provided by any broker/channel partner/property dealer or made available on any website/email communication other than official website/email/correspondence. [1 sq.mt. = 10.764 sq. ft, 1 sq. mt. = 1.196 sq. yd]. The Promoter is offering sale of vacant apartments only.</p>
            <ul class="ft-social pl-0 d-lg-block d-none">
                <li><a href="https://www.facebook.com/adanirealty/" target="_blank"><span class="fab fa-facebook-f"> </span></a></li>
                        <li><a href="https://www.instagram.com/adanirealty/" target="_blank"><span class="fab fa-instagram"> </span></a></li>
                        <li><a href="https://www.linkedin.com/authwall?trk=ripf&trkInfo=AQESoJjlnyd6OQAAAWcS9g-YbA3ZQpYmCt7ReFSOtOr-EdaUuhLE9Zl_mhcQe_n1DQebUWv6WMkN1FR-1XGcSIB7zt2nYKe7ui3YpDLR-DzKC4q_TgOnXW3P41u0FqKkHQZG87U=&originalReferer=http://advstagingweb.cloudapp.net/advaiya-realty-adani/media.html&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fadani-realty%2F%3Ftrk%3Dcompany_logo" target="_blank"><span class="fab fa-linkedin-in"> </span></a></li>
                        <li><a href="https://twitter.com/adanirealty" target="_blank"><span class="fab fa-twitter"> </span></a></li>
            </ul>
            <div class=""></div>
        </div>
        <div class="copyright_block">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-2">
                    <p class="text-left">www.adanirealty.com | <a href="mailTo:info@adanirealty.com">info@adanirealty.com</a></p>
                </div>
                <div class="col-lg-3 order-lg-3 order-3 mb-lg-0 mb-3">
                    <div class="text-lg-right text-center">
                        <img src="/images/Realty/PlatinumRealty/footer_logo.svg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-5 order-lg-3 order-1">
                    <p class="text-right">HARERA No 37/2017, 170/2017 & 171/2017 also available on www.haryanarera.gov.in</p>
                </div>
                <div class="col-lg-12 d-lg-none d-block order-lg-3 order-4">
                    <ul class="ft-social pl-0 d-lg-none d-block">
                        <li><a href="https://www.facebook.com/adanirealty/" target="_blank"><span class="fab fa-facebook-f"> </span></a></li>
                        <li><a href="https://www.instagram.com/adanirealty/" target="_blank"><span class="fab fa-instagram"> </span></a></li>
                        <li><a href="https://www.linkedin.com/authwall?trk=ripf&trkInfo=AQESoJjlnyd6OQAAAWcS9g-YbA3ZQpYmCt7ReFSOtOr-EdaUuhLE9Zl_mhcQe_n1DQebUWv6WMkN1FR-1XGcSIB7zt2nYKe7ui3YpDLR-DzKC4q_TgOnXW3P41u0FqKkHQZG87U=&originalReferer=http://advstagingweb.cloudapp.net/advaiya-realty-adani/media.html&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fadani-realty%2F%3Ftrk%3Dcompany_logo" target="_blank"><span class="fab fa-linkedin-in"> </span></a></li>
                        <li><a href="https://twitter.com/adanirealty" target="_blank"><span class="fab fa-twitter"> </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Enquire Now -->
    <!-- Modal -->
    <div class="modal fade modal-enquire" id="Enquire-now" tabindex="-1" role="dialog" aria-labelledby="Enquire-now" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="didot_regular">Enquire Now</h5>
                    <h6>“We’ll get back to you at the earliest”</h6>
                    <form id="eq_form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="full_name_eq" name="full_name_eq" placeholder="Full Name*">
                            <small></small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email_eq" name="email_eq" placeholder="Email*">
                            <small></small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone_number_eq" data-id="eq_form" data-click="0" maxlength="10" name="phone_number_eq" onkeyup="ShowOtpMobile(event,this);" placeholder="Phone Number*">
                            <small>Please enter your mobile number to get OTP</small>
                            <small style="display:none;" class="send-otp"><a href="javascript:void();" data-id="eq_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Send OTP</a></small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="otp_eq" name="otp_eq" placeholder="Enter OTP*">
                            <small id="timer"></small>
                            <small style="display:none;" id="otp-button"><a href="javascript:void();" data-id="eq_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Resend OTP</a></small>
                        </div>
                        <button type="button" id="form_eq" class="btn btn-primary">Submit</button>
                        <small></small>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-enquire" id="Download-brochure" tabindex="-1" role="dialog" aria-labelledby="Download-brochure" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="didot_regular">Download Brochure</h5>
                    <h6>“We’ll get back to you at the earliest”</h6>
                    <form id="bro_form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="full_name_db" name="full_name_db" placeholder="Full Name*">
                            <small></small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email_db" name="email_db" placeholder="Email*">
                            <small></small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone_number_db" data-id="bro_form" data-click="0" maxlength="10" name="phone_number_db" onkeyup="ShowOtpMobile(event,this);" placeholder="Phone Number*">
                            <small>Please enter your mobile number to get OTP</small>
                            <small style="display:none;" class="send-otp"><a href="javascript:void();" data-id="bro_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Send OTP</a></small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="otp_db" name="otp_db" placeholder="Enter OTP*">
                            <small id="timer"></small>
                            <small style="display:none;" id="otp-button"><a href="javascript:void();" data-id="bro_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Resend OTP</a></small>
                        </div>
                        <button type="button" id="form_db" class="btn btn-primary">Submit</button>
                        <small></small>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-enquire" id="success" tabindex="-1" role="dialog" aria-labelledby="success" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="didot_regular success_msg">Thank You!</h5>
                    <h6>“We’ll get back to you at the earliest”</h6>

                </div>
            </div>
        </div>
    </div>

    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"> <span class="fa fa-angle-up"></span> </a>
    <input type="button" id="download-file"  style="display:none;" value="Download PDF File" onclick="DownloadFile('brochure.pdf')" />
    <!-- Enquire now -->
    <section class="section_enquire" id="">
        <div class="container-fluid">
            <h3><span class="didot_regular mr-lg-3">Enquire Now</span>“We’ll get back to you at the earliest”</h3>
            <form id="footer_form">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="full_name_fot" name="full_name_fot" aria-describedby="" placeholder="Full Name *">
                            <small></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email_fot" name="email_fot" aria-describedby="" placeholder="Email *">
                            <small></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" data-id="footer_form" maxlength="10" data-click="0" id="phone_number_fot" name="phone_number_fot" onkeyup="ShowOtpMobile(event,this);" aria-describedby="" placeholder="Phone Number *">
                            <small class="mt-2 d-block">Please enter your mobile number to get OTP</small>
                            <small style="display:none;" class="send-otp"><a href="javascript:void();" data-id="footer_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Send OTP</a></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="otp_fot" name="otp_fot" aria-describedby="" placeholder="Enter OTP *">
                            <small id="timer"></small>
                            <small style="display:none;" id="otp-button"><a href="javascript:void();" data-id="footer_form" onclick="SendOtpMobile(event,this);" data-value="" data-click="0" class="resend-btn">Resend OTP</a></small>
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" id="form_fot" class="btn">Submit</button>
                        <small></small>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- /Enquire now -->
    <!-- /Enquire Now -->
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <script src="scripts/Realty/PlatinumRealty/jquery.min.js"></script>
    <script src="scripts/Realty/PlatinumRealty/bootstrap.min.js"></script>

    <!-- Owl Carousel -->
    <script src="scripts/Realty/PlatinumRealty/owl.carousel.min.js"></script>
    <script src="scripts/Realty/PlatinumRealty/jquery.magnific-popup.min.js"></script>

    <!-- Custom JavaScript
    ================================================== -->
    <script src="scripts/Realty/PlatinumRealty/custom.js"></script>
    <script src="scripts/Realty/PlatinumRealty/aos.js"></script>
    

</body>
</html>
