@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    string ph = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Placeholder;
    var contextPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Foundation/", "");
    var path = contextPath.Replace("/Foundation/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}
<section class="breadcrumb">
    <div class="bg-images">
        @*@Html.Sitecore().ImageField("MediaImage", models,0,0,"img-fluid")*@
        <img src="https://via.placeholder.com/350x150">
    </div>
    <div class="container">
        <ul class="ul-breadcrumb">
            @for (int i = 0; i <= pathArr.Count() - 2; i++)
            {
                navPath = navPath + pathArr[i];
                if (i == 0)
                {
                    <li><a href="@navPath.Replace("Home","")">@pathArr[i]</a></li>
                }
                else
                {
                    <li><a href="@navPath.Replace(" ","-").Replace("/Home","")">@pathArr[i]</a></li>
                }

                navPath = navPath + "/";
            }
        </ul>
        <h1>@Html.Sitecore().Field("MediaTitle", models)</h1>
        <p>@Html.Sitecore().Field("SubTitle", models)</p>
    </div>
</section>