@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    string ph = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Placeholder;
    var contextPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Foundation/", "");
    var path = contextPath.Replace("/Foundation/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}
<section class="breadcrumb-sub-layout bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="breadcrumb-sublayout-ul">
                    @for (int i = 0; i <= pathArr.Count() - 2; i++)
                    {
                        navPath = navPath + pathArr[i];

                        if (i == 0)
                        {
                            <li><a href="@navPath.Replace("Home","")">@pathArr[i]</a></li>
                        }
                        else
                        {
                            <li><a href="@navPath.Replace(" ","-").Replace("/Home","")">@pathArr[i]</a></li>
                        }
                        navPath = navPath + "/";
                    }
                </ul>
                @if ( Sitecore.Context.Item.ParentID.ToString() != "{3E8240DC-0CCC-4FF1-A030-D88C18AE9A81}")
                {
                    <h1>@Html.Sitecore().Field("Title",Sitecore.Context.Item)</h1>
                }
            </div>
        </div>
    </div>
</section>
