@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    Item rootItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.RootPath);
}
<footer class="pt-5 position-relative d-block">
    <div class="bg-images">@Html.Sitecore().ImageField("FooterBackground", rootItem)@*<img src="/images/Foundation/footer-sidebar.png">*@</div>
    <div class="container">
        <div class="row footerPanel2">
            <div class="col-lg-5 ft-submenu d-md-block d-none">
                <div class="row">
                    @Html.Sitecore().Rendering("{393E04A8-00B0-4C48-8F83-343E8A14CC0D}", new { DataSource = "/sitecore/content/Foundation/Global/Link/Footer Links/Footer Menu List1" })
                    @Html.Sitecore().Rendering("{393E04A8-00B0-4C48-8F83-343E8A14CC0D}", new { DataSource = "/sitecore/content/Foundation/Global/Link/Footer Links/Footer Menu List2" })
                </div>

            </div>


            <!--Footer Main Menu-->
            @Html.Sitecore().Rendering("{AAE95FCB-1845-40C2-9DED-D6FA0B5A2AAD}")
            <!--/Footer Main Menu-->


            <div class="col-lg-4">
                <div class="row ft-logo">

                    <!--Footer Lower Links-->
                    @Html.Sitecore().Rendering("{863E11DD-0F79-4294-A847-7840288A1A98}")
                    <!--/Footer Lower Links -->
                    
                    <div class="col-sm-12 pb-4">
                        @if (rootItem != null)
                        {
                            @Html.Sitecore().ImageField("FooterLogoImage", rootItem, 0, 0, "img-fluid")
                        }
                        @*<img src="/images/Foundation/logo.png" class="img-fluid">*@
                    </div>

                    <!--Footer Social Menu-->
                    @Html.Sitecore().Rendering("{1E5BBA9D-FE92-49A5-90AD-6B2C3A60AA35}")
                    <!--/Footer Social Menu-->
                    <!--Footer Mobile Menu-->
                    @Html.Sitecore().Rendering("{8738DF92-AA60-413D-903B-AD017B7B0EF8}")
                    <!--/Footer Mobile Menu-->

                </div>
            </div>
        </div>
    </div>
    <div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
        <div class="container">
            <div class="row row-grid align-items-end ftrBtmInner ">
                <div class="col-12 col-md-auto text-center text-md-left">
                    <div class="d-none d-md-block">@Html.Sitecore().Field("Copyright", rootItem)</div>
                </div>

                <!--Footer Mobile Lower Links-->
                @Html.Sitecore().Rendering("{12A666E5-E250-4BE6-8292-F059AF87CC22}")
                <!--/Footer Mobile Lower Links-->

            </div>
        </div>
    </div>
</footer>
