@using Sitecore.Foundation.SitecoreExtensions.Extensions;
@using Sitecore.Data.Fields;
@using Sitecore.Data.Items;
@{
    var contextItem = Sitecore.Context.Item;
    MultilistField element = contextItem.Fields["OurFootprints"];
}

<section class="py-5 project-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="txt-md mb-4">@contextItem.Fields["OurFootprintsTitle"]</h2>
                <div class="row">
                    @if (element != null)
                     {
                            Item[] listItem = element.GetItems();
                            foreach (Item item in listItem)
                            {
                                var link = Sitecore.Links.LinkManager.GetItemUrl(item).ToLower();
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="@link">
                                    <div class="home-projects-box" data-aos="fade-up" data-aos-duration="200">
                                        @Html.Sitecore().ImageField("HomeThumbnail",item,0,0,"img-fluid")
                                        @*<img src="https://via.placeholder.com/100x100" class="img-fluid">*@
                                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                                        @if (!String.IsNullOrEmpty(Html.Sitecore().Field("HomeThumbnailText", item).ToString()))
                                        {
                                            <p>@Html.Sitecore().Field("HomeThumbnailText", item)</p>
                                        }
                                    </div>
                                </a>
                            </div>
                            }
                    }
                </div>
            </div>
            @Html.Sitecore().Placeholder("sidebar")
        </div>
    </div>
</section>
