@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<!--Map Section-->
@if (!string.IsNullOrEmpty(datasource))
{
    if (element != null)
    {
        var imgurl = Helper.ImageUrl("Thumbnail", element);
        <section class="map-section py-5 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="vertical-middle">
                            <h2 class="section-heading txt-green">Our Reach</h2>
                            <p class="mb-4">@Html.Sitecore().Field("ShortDescription", element)</p>
                            @if (element.GetChildren() != null)
                            {
                                <select name="" id="our-reach" class="custom-select">
									<option id='all-initiatives' selected value="/our-work">All Initiatives</option>
                                    @foreach (Item childItem in element.GetChildren())
                                    {
										var link = Sitecore.Links.LinkManager.GetItemUrl(childItem).ToLower();
                                        if (childItem == element.GetChildren()[0])
                                        {
                                            <option id='@childItem.Fields["Title"].Value.Replace(" ","-")' value="@link">@Html.Sitecore().Field("Title", childItem)</option>
                                        }
                                        else
                                        {
                                            <option id='@childItem.Fields["Title"].Value.Replace(" ","-")' value="@link">@Html.Sitecore().Field("Title", childItem)</option>
                                        }
                                    }
                                </select>
                            }
                            <p class="mt-4"><a href="" id="home-learnmore" class="btn btn-primary">Learn more</a></p>
                        </div>
                    </div>
                    <div class="col-lg-5 ml-auto">
                        <div class="map">
                            <div>
                                <div class="map-parent">
								<div class="all-initiatives map-dots" id="">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="@imgurl" class="img-fluid">
                            </div>
                            <div class="Education map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/9F49B2DB5BD54C20B1ED2CF01C7201FC.ashx" class="img-fluid">
                            </div>
                            <div class="Health map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/6B0AED144A4D4829A03FC14ADD4C3AF4.ashx" class="img-fluid">
                            </div>
                            <div class="Community-Infrastructure map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/344816C3357D4F0C9BE153031AC77357.ashx" class="img-fluid">
                            </div>
                            <div class="Sustainable-Livelihood map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/16AD5ECB9D5A41ECB040FA697F0A3233.ashx" class="img-fluid">
                            </div>
                            <div class="Saksham map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/DD272ED5A5574A0FB6A683FF20733406.ashx" class="img-fluid">
                            </div>
                            <div class="Swachhagraha map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/1D9359FF7F3C4A22A1DE5F36DDF240A6.ashx" class="img-fluid">
                            </div>
                            <div class="Udaan map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/CE969B6D5F034CD8B4583A9B8C131CC1.ashx" class="img-fluid">
                            </div>
                            <div class="SuPoshan map-dots" id="" style="display:none;">
                                <!-- <img src="@imgurl" class="img-fluid"> -->
                                <img src="-/media/6C8D9EA895FA4F428082CD9B1297FC72.ashx" class="img-fluid">
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}

<!--/Map Section-->
