@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@Html.Sitecore().Placeholder("banner")

<section class="py-4 chairperson-section">
    @if (!String.IsNullOrEmpty(Html.Sitecore().ImageField("BackgroundImage", element).ToString()))
    {
        <div class="bg-images">
            @Html.Sitecore().ImageField("BackgroundImage", element)
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-4">
                <div class="chairperson-thumb" data-aos="fade-right" data-aos-duration="3000">@Html.Sitecore().ImageField("Thumbnail", element, 0, 0, "img-fluid")</div>
            </div>
            <div class="col-lg-8 my-4 ml-auto">
                <div class="chairperson-msg" data-aos="fade-left" data-aos-duration="3000">
                    <i><img src="/images/Foundation/quotes.svg"></i>
                    <h3>@Html.Sitecore().Field("Title", element)</h3>
                    <p>@Html.Sitecore().Field("ShortMessage", element)</p>
                    <p class="mt-4"><span>@Html.Sitecore().Field("Heading", element), @Html.Sitecore().Field("Designation", element)</span></p>
                </div>
            </div>
        </div>
    </div>
</section>


