@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Collections
@{

    var contextItem = Sitecore.Context.Item;
    ImageField imageLink = contextItem.Fields["MainImage"];
    var imageLinkUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageLink.MediaItem);
}

<section class="py-5 bg-gray">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#block-1">@Html.Sitecore().Field("Heading", contextItem)</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content bg-white p-3 ">
            <div class="tab-pane container active show" id="block-1">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="mb-3">@Html.Sitecore().Field("Summary", contextItem)</h4>
                        @Html.Sitecore().Field("Description", contextItem)
                    </div>
                    <div class="col-md-4">
                        <a href="@imageLinkUrl" download="@imageLinkUrl" title="Adani Foundation Logo" target="_blank">
                        </a>
                        <div class="img-thumb" style="background: #fff;">
                            <a href="@imageLinkUrl" download="@imageLinkUrl" title="Adani Foundation Logo" target="_blank">
                                @Html.Sitecore().ImageField("MainImage", contextItem, 0, 0, "img-fluid")
                                <p><em>Download</em></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
