@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Mvc.Presentation
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    string param = RenderingContext.Current.Rendering.Parameters["Variant"];
    string var = "";
    if (!string.IsNullOrEmpty(param))
    {
        Item variantItem = Sitecore.Context.Database.GetItem(param);
        if (variantItem != null)
        {
            var = variantItem.Fields["Value"].ToString();
        }
    }
}

@if (var.ToLower() == "" || var.ToLower() == "img-left")
{
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    @if (!String.IsNullOrEmpty(Html.Sitecore().Field("Title", element).ToString()))
                    {
                        <h2 class="heading">@Html.Sitecore().Field("Title", element)</h2>
                    }
                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100")
                    @*<img src="https://via.placeholder.com/350x150" class="img-fluid w-100">*@
                </div>
                <div class="col-lg-6">
                    <p class="mb-3">@Html.Sitecore().Field("Summary", element)</p>
                </div>
            </div>
            @Html.Sitecore().Field("Body", element)
        </div>
    </section>
}
else if (var.ToLower() == "img-right")
{
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @if (!String.IsNullOrEmpty(Html.Sitecore().Field("Title", element).ToString()))
                    {
                        <h2 class="heading">@Html.Sitecore().Field("Title", element)</h2>
                    }
                    <p class="mb-3">@Html.Sitecore().Field("Summary", element)</p>
                </div>
                <div class="col-lg-6 mb-3">
                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100")
                    @*<img src="https://via.placeholder.com/350x150" class="img-fluid w-100">*@
                </div>
            </div>
            @Html.Sitecore().Field("Body", element)
        </div>
    </section>
}
else
{
    <section class="py-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-6 mb-3">
                    @if (!String.IsNullOrEmpty(Html.Sitecore().Field("Title", element).ToString()))
                    {
                        <h2 class="heading">@Html.Sitecore().Field("Title", element)</h2>
                    }
                    @*@Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100")*@
                    <img src="https://via.placeholder.com/350x150" class="img-fluid w-100">
                </div>
                <div class="col-lg-6 py-4">
                    <p class="mb-3">@Html.Sitecore().Field("Summary", element)</p>
                </div>
            </div>
            @Html.Sitecore().Field("Body", element)
        </div>
    </section>
}
