@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.afterSalesServices
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()


    <div class="panel">
        <div class="row">
            <form>
                <div class="col-lg-6 col-md-6">
                    <label>Request for After Sales services<span class="txt-red">*</span></label>
                    <div class="form-group">


                        @Html.DropDownListFor(m => m.selectedAfterSalesServiceRequest, new SelectList(Model.afterSalesServicesList, "Value", "Text"))
                        @Html.ValidationMessageFor(m => m.selectedAfterSalesServiceRequest)

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Quantity<span class="txt-red">*</span></label>
                        <div class="form-group">
                            @Html.EditorFor(m => m.Quantity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Quantity)
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Amount to be Paid<span class="txt-red">*</span></label>
                        <div class="form-group">
                            @Html.EditorFor(m => m.TotalCost, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TotalCost)
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Additional Comment<span class="txt-red">*</span></label>
                        @Html.TextAreaFor(m => m.Comment, new { @class = "w-100 p-2", placeholder = "Comment" })

                        @Html.ValidationMessageFor(x => x.Comment)


                    </div>
                </div>
                <div class="col-lg-12 payment-radio-grp">
                    <div class="form-check">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.BillDesk, new { required = "required", @checked = "checked" })
                            <img src="/-/media/Project/Electricity/Payment Gateway Image/billdesk">
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.Paytm, new { required = "required"})
                            <img src="/-/media/Project/Electricity/Payment Gateway Image/paytm" />
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.PayUMoney, new { required = "required"})

                            <img src="/-/media/Project/Electricity/Payment Gateway Image/payumoney" />
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered bg-white">
                        <tbody>
                            <tr>
                                <td colspan="2">Net Banking</td>
                                <td>Nil</td>
                            </tr>
                            <tr>
                                <td>Credit Card/Debit Card</td>
                                <td>Visa/Master/Amex/Diners</td>
                                <td>Nil</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">
                    <div class="btn-group" role="group" aria-label="Basic example">

                        <input type="submit" name="Submit" class="btn btn-primary mr-2" value="@Html.Sitecore().Dictionary("/Accounts/afersalesservice", "Submit")" />
                        <input type="submit" name="Cancel" class="btn btn-secondary" value="@Html.Sitecore().Dictionary("/Accounts/afersalesservice", "Cancel")" />

                    </div>
                </div>
            </form>
        </div>
    </div>
}