@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model SapPiService.Domain.BillingDetailsList


<div class="panel">
    <h3 class="mb-3">Billing Information</h3>
    <table class="table table-striped border text-center bg-white">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Invoice No.</th>
                <th>Bill Date</th>
                <th>Bill Amount</th>
                <th>Due Date</th>
                <th>Print Bill</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
                foreach (var ph in Model.BillingDetails)
                {
                    DateTime billDate = DateTime.Parse(ph.InvoiceDate);
                    var billDate1 = billDate.ToString("dd.MM.yyyy");
                    DateTime dueDate = DateTime.Parse(ph.DueDate);
                    var dueDate1 = dueDate.ToString("dd.MM.yyyy");
                    <tr>
                        <td>@count</td>
                        <td>@ph.InvoiceID</td>
                        <td>@billDate1</td>
                        <td>@ph.AmountDue</td>
                        <td>@dueDate1</td>
                        <td><a href=""><i class="fa fa-print"></i></a></td>
                    </tr>
                    count++;
                }

            }
        </tbody>
    </table>
</div>
