@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ComplaintStatus


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <p>Please enter your Complaint Number or Account Number to know the status of the complaint</p>
        <div class="py-3"></div>

        <form class="pt-3">
            <div class="form-group row">
                <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Complaint Number", "Complaint Number")<span class="required">*</span></label>
                <div class="col-sm-8 col-lg-6">
                    @Html.TextBoxFor(x => x.ComplaintNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><h5 class="txt-orange">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/OR", "OR")</h5></div>
            </div>
            <div class="py-3"></div>
            <div class="form-group row">
                <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Account Number", "Account Number")<span class="required">*</span></label>
                <div class="col-sm-8 col-lg-6">
                    @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row py-2">
                <div class="col-sm-12">
                    <input type="submit" id="save" value="@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Submit", "Submit")" class="btn btn-primary" />
                </div>
            </div>


            <div class="form-group row py-2">
                <div class="col-sm-12">
                    @if (Model.ComplainCode != null)
                    {
                        if (!string.IsNullOrWhiteSpace(Model.ComplainCode))
                        {
                            var code = "ComplaintStatus/" + Model.ComplainCode;
                            <label class="control-label">@Html.Sitecore().DictionaryField(@code, "")</label>
                            <br /><br />
                            <p>For further assistance, you can call our 24-hr toll free no. 19122 or write to our helpdesk</p>
                            <p>helpdesk.mumbaielectricity@adani.com</p>
                        }
                        else
                        {
                            <p>No information available.</p>
                            <br /><br />
                            <p>For further assistance, you can call our 24-hr toll free no. 19122 or write to our helpdesk</p>
                            <p>helpdesk.mumbaielectricity@adani.com</p>
                        }
                    }
                </div>
            </div>


        </form>
    </div>
}