@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model SapPiService.Domain.NoSupplyComplaintStatus

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <p>Please enter your Complaint Number or Account Number to know the status of the complaint</p>
        <div class="py-3"></div>

        <form class="pt-3">
            <div class="form-group row">
                <label for="" class="col-sm-4 col-md-3 col-form-label">Complaint Number<span class="required">*</span></label>
                <div class="col-sm-8 col-lg-6">
                    @Html.TextBoxFor(x => x.ComplaintNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><h5 class="txt-orange">OR</h5></div>
            </div>
            <div class="py-3"></div>
            <div class="form-group row">
                <label for="" class="col-sm-4 col-md-3 col-form-label">Account Number<span class="required">*</span></label>
                <div class="col-sm-8 col-lg-6">
                    @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row py-2">
                <div class="col-sm-12">
                    <input type="submit" id="save" value="@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Submit", "Submit")" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        {
            <div class="panel">
                <p>
                    <b>
                        Complaint Status
                    </b>
                </p>
                <div class="py-3"></div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">CA Number:</label>
                    <div class="col-sm-8 col-lg-6">
                        <label class="control-label">@Model.AccountNumber</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">Complaint No:</label>
                    <div class="col-sm-8 col-lg-6">
                        <label class="control-label">@Model.ComplaintNumber</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">Status Message:</label>
                    <div class="col-sm-8 col-lg-6">
                        <label class="control-label">@Model.Message</label>
                    </div>
                </div>
                <div class="py-3"></div>
                <div class="form-group row">
                    <p>For further assistance you can call our 24-hr toll free no. 19122 or write to our helpdesk helpdesk.mumbaielectricity@adani.com</p>
                    <p>helpdesk.mumbaielectricity@adani.com</p>
                </div>

            </div>
        }
    }
}