@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ComplaintQueyResponseModel

<div class="panel">
    <h3 class="mb-3">Last 5 Complaints</h3>
    <table class="table table-striped border text-center bg-white">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Complaint No.</th>
                <th>Date</th>
                <th>Category</th>
                <th>Dscription</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
                if (Model.d.results != null && Model.d.results.Any())
                {
                    foreach (var data in Model.d.results.Where(w => w.Category.Equals("C")).Take(5))
                    {
                        DateTime DT = DateTime.ParseExact(data.Comp_Date.ToString(), "yyyyMMdd", new System.Globalization.CultureInfo("en-US"));
                        <tr>
                            <td>@count</td>
                            <td>@data.CQR_No</td>
                            <td>@DT.ToString("dd.MM.yyyy")</td>
                            <td>@data.Description</td>
                            <td>@data.Text_Area</td>
                            <td>@data.Status</td>
                        </tr>
                        count++;
                    }
                }

            }
        </tbody>
    </table>
</div>

<div class="panel">
    <h3 class="mb-3">Last 5 Queries</h3>
    <table class="table table-striped border text-center bg-white">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Complaint No.</th>
                <th>Date</th>
                <th>Category</th>
                <th>Dscription</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                var countquery = 1;
                if (Model.d.results != null && Model.d.results.Any())
                {
                    foreach (var data in Model.d.results.Where(w => w.Category.Equals("Q")).Take(5))
                    {
                        DateTime DT = DateTime.ParseExact(data.Comp_Date.ToString(), "yyyyMMdd", new System.Globalization.CultureInfo("en-US"));
                        <tr>
                            <td>@countquery</td>
                            <td>@data.CQR_No</td>
                            <td>@DT.ToString("dd.MM.yyyy")</td>
                            <td>@data.Description</td>
                            <td>@data.Text_Area</td>
                            <td>@data.Status</td>
                        </tr>
                        countquery++;
                    }
                }

            }
        </tbody>
    </table>
</div>


