@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.DisplayEmail



<div class="panel" id="displayemail">
    <div class="form-group row">
        <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Mailbox/To Address", "To")</label>
        <div class="col-sm-8 col-lg-6">
            @Html.Raw(Html.Sitecore().Dictionary("/Accounts/Mailbox/To Email Address", "helpdesk.mumbaielectricity@adani.com"))
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Subject", "Subject")&nbsp;&nbsp;<span class="required">*</span></label>
        <div class="col-sm-8 col-lg-6">
            @Html.Raw(Model.Subject)
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Attachment", "Attachment")</label>
        <div class="col-sm-8 col-lg-6">
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.AttachmentLink))
                {
                    <a target="_blank" href="@Model.AttachmentLink">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Attachment Display Text", "Attachment")</a>
                }
                else
                {
                    <a>No Attachment</a>
                }
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Message", "Message")&nbsp;&nbsp;<span class="required">*</span></label>
        <div class="col-sm-8 col-lg-6">
            @Html.Raw(Model.BodyMessage)

        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Email Date", "Email Date")&nbsp;&nbsp;<span class="required">*</span></label>
        <div class="col-sm-8 col-lg-6">
            @Html.Raw(Model.EmailDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-8 col-lg-6">
            <a class="btn btn-secondary" href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/Redirect URL/Communicate With Us/Mail Box","/My-Account/Communicate-With-Us/MailBox")">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Back To Mailbox", "Back")</a>
        </div>
    </div>
</div>

@*<script type="text/javascript">
        $('#iframe1').contents().find('html').html((@Model.BodyMessage);
    </script>

    <style>
        #iframe1 {
            border: solid 1px;
            border-radius: 8px;
            width: 80%;
            min-height: 80%;
            max-height: 80%;
            color: red;
            padding-top: 1em;
            margin: 0 auto;
        }
    </style>*@