@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.EditProfile


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <p>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/P_Desc", "Find below the information we have about you. Incase there is change in any of your profile details, just retype and click on save.")</p>
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmRegister", @class = "form-signin" }))
        {
            <div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Account Number", "Account Number")
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        <strong>
                            @Html.DisplayTextFor(x => x.AccountNumber)
                            @Html.HiddenFor(x => x.AccountNumber)
                        </strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Login Name", "Login Name")
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.DisplayTextFor(x => x.LoginName)
                        @Html.HiddenFor(x => x.LoginName)
                    </div>
                </div>
                <div class="form-group row @Html.ValidationErrorFor(x => x.Email, "has-error")">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Email", "E-mail")
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "Email", required = "required" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="form-group row @Html.ValidationErrorFor(x => x.MobileNumber, "has-error")">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Mobile No", "Mobile No.")
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", id = "MobileNumber", required = "required" })
                        @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Landline No", "Landline No.")
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.LandlineNumber, new { @class = "form-control", id = "LandlineNumber" })
                        @Html.ValidationMessageFor(x => x.LandlineNumber, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Date of Birth", "Date of Birth")
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.DateofBirth, new { @class = "form-control", id = "DateofBirth" })
                        @Html.ValidationMessageFor(x => x.DateofBirth, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-sm-12">
                        <div class="form-check">
                            @Html.CheckBoxFor(x => x.EBill, new { @class = "form-check-input", id = "EBill" })
                            <label class="form-check-label" for="gridCheck1">
                                @Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/EBill", "E-Bill (I want to received my electricity bill by email on above mentioned email id.)")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            if (!Model.isOTPSent)
            {
                <div class="form-group row py-2">
                    <div class="col-sm-12">
                        <input type="submit" name="submit" id="save" value="@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Button/Submit", "Submit")" class="btn btn-primary" />
                        <input type="button" id="cancel" value="@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Button/Reset", "Reset")" class="btn btn-secondary" onclick="ResetPage()" />
                    </div>
                </div>
            }
            else
            {
                <div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-md-3 col-form-label">
                            @Html.Sitecore().Dictionary("/Common/MeterNumber", "Enter OTP")
                        </label>
                        <div class="col-sm-8 col-lg-6">
                            <strong>
                                @Html.TextBoxFor(x => x.OTPNumber, new { @class = "form-control reset-control", id = "OTPNumber" })
                                @Html.ValidationMessageFor(x => x.OTPNumber, "", new { @class = "help-block" }, "p")
                            </strong>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <div class="col-sm-12">
                            <input type="submit" name="ValidateOTP" id="save" value="@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Button/Validate OTP", "Validate OTP")" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        }
    </div>

}