@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.EditProfile


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <p>In order to receive various e-mail based alerts, please <span><a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/Redirect URL/Registration URL", "/registration")" class="txt-orange">register here</a></span>. Click below to enjoy this convenience.</p>
        <form class="pt-3">
            @Html.HiddenFor(x => x.AccountNumber)
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.MobileNumber)
            <div class="form-group row py-2">
                <div class="col-sm-12">
                    <div class="form-check">
                        @Html.CheckBoxFor(x => x.EBill, new { @class = "form-check-input", id = "EBill" })
                        <label class="form-check-label" for="gridCheck1">
                            @Html.Sitecore().Dictionary("/Accounts/Edit Profile/Email Alerts", "i want to receive e-bill.")
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row py-2">
                <div class="col-sm-12">
                    <input type="submit" id="save" value="@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Submit", "Submit")" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
}