@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.ENachRegistrationModel

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin", id = "frmeNachRegistration" }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="pageContent">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        @{
                            var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
                            if (info != null)
                            {
                                Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
                            }
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-lg-right text-left mt-3 mt-lg-0 d-none">
                    <button type="button" class="btn btn-primary txt-sm" data-toggle="modal" data-target="#eNachGuidelines">e-NACH Guidelines</button>
                    <a href="#eNachGuidelines" class="btn btn-primary d-none" target="_blank" style="color: #fff;" data-toggle="modal" data-target="#eNachGuidelines"><b>e-NACH Guidelines</b></a>
                </div>

                <div class="row">

                    <div class="col-lg-7 ml-auto">
                        <div class="modal-popup__content">
                            <p class="txt-orange mb-3 txt-md">e-Nach Guidelines</p><p class="mb-2"><b>Pre-requisites</b>:</p>
                            <ul class="txt-sm ul-bullets pl-4" style="">
                                <li class="mb-3" style="
    list-style-type: disc;
">There should be NO outstanding amount payable against the account no. being registered for the NACH mode of payment.</li>
                                <li class="mb-3" style="list-style-type: disc;">
                                    As per the NPCI directions, applications for e-NACH can only be taken for mandate amounts of Rs. 1 lac or less. In case, you wish to apply for an application with a mandate greater than Rs. 1 lac, please submit a physical NACH mandate at the nearest <a target="_blank" ref="https://www.adanielectricity.com/contact-us/our-centers">Customer Care Center</a>.
                                    <br>
                                    Download NACH mandate form <a target="_blank" href="https://www.adanielectricity.com/-/media/Project/Electricity/FormsYouNeed/AEML_NACH_form_IDFC_bank.pdf">here</a>.
                                </li>
                            </ul>

                            <p class="mb-2"><b>How to opt for the service?</b></p>
                            <ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">Enter the 9-digit Adani Electricity account no in the field above.</li>
                                <li style="
   list-style-type: disc;
">Validate the entered account number &amp; verify the name being displayed</li>
                                <li style="
    list-style-type: disc;
">If you wish earn an incentive, by paying the bill within 7-days of bill generation, opt for the “Prompt payment incentive” option being displayed.</li>
                            </ul>
                            <p class="mb-2"><b>What details are required while applying for this payment mode?</b></p><ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">
                                    Bank Details:
                                    <ul class="txt-sm ul-bullets pl-4 mb-3">
                                        <li style="
    list-style-type: circle;
">Account No.</li>
                                        <li style="
    list-style-type: circle;
">Account Type</li>
                                        <li style="
    list-style-type: circle;
">IFSC Code,</li>
                                        <li style="
    list-style-type: circle;
">MICR code</li>
                                    </ul>
                                </li>
                                <li style="
    list-style-type: disc;
">Select a “Mandate” amount in line with your average billing. A mandate amount is the maximum amount for which the auto-debit will be permitted.</li>
                                <li style="
    list-style-type: disc;
">Fill all required information and authorize through Net Banking or Debit Card</li>
                                <li style="
    list-style-type: disc;
">Validate information through Net Banking or by OTP in case of validation through Debit card</li>
                            </ul>



                            <p class="mb-3"><b>How E- NACH process works?<b></b></b></p>
                            <ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">Once the NACH payment mode is active, the amount will be auto debited from your bank account.</li>
                                <li style="
    list-style-type: disc;
">In case the bill amount is higher than the “mandate” amount, you need to pay the bill separately via alternative modes of payment. This will be explicitly mentioned under the “Important Messages” section of the bill.</li>
                            </ul>
                            <p class="mb-3"><b>Benefits:</b></p>
                            <ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">No need to visit the Customer Care Centre to register for the service.</li>
                                <li style="
    list-style-type: disc;
">No need to monitor monthly payments</li>
                                <li style="
    list-style-type: disc;
">Savings in time and monthly effort required for payments</li>
                                <li style="
    list-style-type: disc;
">Earn a Digital Payment Discount of 0.25% * (conditions apply)</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-5 ml-auto">
                        <div class="form_namechange mb-0" style="background: #f5f5f5;border: 1px solid #eaeaea;">
                            <div class="px-4">
                                <h3 class="pl-0 pt-0 mb-3" style="min-height: auto;">Register now for e-Nach</h3>
                                @if (!Model.IsvalidatAccount)
                                {
                                    <div class="input-group mb-3">
                                        <label for="AccountNo" class="w-100">@Html.Sitecore().Dictionary("/ENACH/Register/AccountNo", "Enter 9 digit Consumer Account Number")</label>
                                        @Html.TextBoxFor(x => x.AccountNo, new { @class = "form-control reset-control", id = "AccountNo", required = "required" })
										 
                                        <div class="input-group-append">
                                            <input type="submit"  class="btn btn-secondary" name="ValidateAccount" value="@Html.Sitecore().Dictionary("/ENACH/Register/Validate Account Button text", "Validate")" />
                                        </div>
                                    </div>
                                    <div>
                                        @Html.ValidationMessageFor(x => x.AccountNo, "", new { @class = "help-block" }, "p")
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group mb-3">
                                        <label for="" class="w-100">@Html.Sitecore().Dictionary("/ENACH/Register/AccountNo", "Enter 9 digit Consumer Account Number")</label>
                                        @Html.TextBoxFor(x => x.AccountNo, new { @class = "form-control reset-control", id = "AccountNo", @readonly = "readonly" })
                                    </div>
                                }

                                @if (Model.IsvalidatAccount)
                                {
                                    <div class="form-group">
                                        <label for="">@Html.Sitecore().Dictionary("/ENACH/Register/Registered Customer Name", "Registered Customer Name")</label>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control reset-control", id = "CustomerName", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "help-block" }, "p")
                                    </div>
                                    <div class="form-group text-left mb-0">
                                        @Html.CheckBoxFor(x => x.isPPISet, new { @class = "form-check-input ml-0" })
                                        <label class="form-check-label ml-4 mb-3" for="gridCheck2">
                                            @Html.Sitecore().Dictionary("/ENachRegistration/PPIFlagMessage", "Do you wish to avail Prompt Payment Incentive (PPI)?")
                                        </label>
                                    </div>
                                    <div class="form-group text-right mb-0">
                                        <input type="submit" class="btn btn-primary" name="Submit" value="@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")" />
                                        <input type="submit" class="btn btn-secondary" name="Reset" value="@Html.Sitecore().Dictionary("/Accounts/Register/Button/Reset", "Reset")" style="font-size: 1.2rem;" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade modal-popup" id="eNachGuidelines" tabindex="-1" role="dialog" aria-labelledby="eNachGuidelines" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5>e-NACH Guidelines</h5>

                </div>

            </div>
        </div>
    </div>

}
