@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.EditProfile


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
    <nav id="sideNav">

        <div id="dismiss" class="d-block d-md-none"><i class="fas fa-arrow-left"></i></div>
        <div class="clearfix"></div>
        <!-- Side Navigation -->
        <ul class="list-unstyled parentMenu" id="accordion">
            @if (Model.UserType.ToLower() == Sitecore.Feature.Accounts.Models.UserTypes.Premium.ToLower())
            {
                <li>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/Redirect URL/PVCHome","/My-Account/PVCHome")">
                        @Html.Sitecore().Dictionary("/Accounts/Edit Profile/Left Panel/PVCHome", "Home")
                    </a>
                </li>
            }
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Profile", "Profile")
                </a>
                <ul class="collapse list-unstyled submenu" id="homeSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Update Profile","/My-Account/EditProfile")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Update Profile", "Update Profile")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Change Password","/My-Account/ChangePassword")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Change Password", "Change Password")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#billingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Bill Payments", "Bill and Payments")
                </a>
                <ul class="collapse list-unstyled submenu" id="billingSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/View and Pay Bill","/My-Account/ViewPayBill")">
                            @if (UserSession.UserSessionContext != null && UserSession.UserSessionContext.userType.ToLower() != Sitecore.Feature.Accounts.Models.UserTypes.Premium.ToLower())
                            {
                                @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/View and Pay Bill", "View and Pay Bill")
                            }
                            else
                            {
                                @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/View Bill", "View Bill")
                            }
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Pay Secure Deposit","/My-Account/PaySecurityDeposit")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Pay Secure Deposit", "Pay Security Deposit")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Pay VDS Amount","/My-Account/PayVDSAmount")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Pay VDS Amount", "Pay VDS Amount")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Download and Print Bill","/My-Account/DownloadPayBill")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Download and Print Bill", "Download/Print Bill")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Payment History","/My-Account/PaymentHistory")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Payment History", "Payment History")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Consumption History","/My-Account/ConsumptionHistory")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Consumption History", "Consumption History")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#accoutsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Multiple Accounts", "Multiple Accounts")
                </a>
                <ul class="collapse list-unstyled submenu" id="accoutsSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/RegisteredAccount","/My-Account/RegisteredAccount")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Registered Account", "Registered Account")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/SwitchAccount","/My-Account/SwitchAccount")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Switch Account", "Switch Account")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/NonRegisteredAccount","/My-Account/NonRegisteredAccount")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Non Registered Account", "Non Registered Account")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/DeRegisterAccount","/My-Account/DeRegisterAccount")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/De Registered Account", "De-Registered Account")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#servicesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/More Services For You", "More Services For You")
                </a>
                <ul class="collapse list-unstyled submenu" id="servicesSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/OutageInformation","/My-Account/OutageInformation")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Outage Information", "Outage Information")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/SelfMeterReading","/My-Account/SelfMeterReading")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Outage Information", "Self Meter Reading")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Meter Reading Date","/My-Account/MeterReadingDate")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Meter Reading Date", "Meter Reading Date")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/ChangeBillLanguage","/My-Account/ChangeBillLanguage")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Change Bill Language", "Change Bill Language")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/DownloadForm","/My-Account/DownloadForm")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Download Form", "Download Form")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/CheckComplaintStatus","/My-Account/CheckComplaintStatus")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Check Complaint Status", "Check Complaint Status")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/CheckNoSupplyComplaintStatus","/My-Account/CheckNoSupplyComplaintStatus")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Check Supply Complaint Status", "Check No - Supply Complaint Status")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/EmailAlerts","/My-Account/EmailAlerts")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Email Alert", "Email Alert")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/SMSAlerts","/My-Account/SMSAlerts")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/SMS Alert", "SMS Alert")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/EnergyCalculator","/My-Account/EnergyCalculator")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Energy Calculator", "Energy Calculator")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#communicateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Communicate With Us", "Communicate With Us")
                </a>
                <ul class="collapse list-unstyled submenu" id="communicateSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/MailBox","/My-Account/Communicate-With-Us/MailBox")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/MailBox", "MailBox")
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Ask Questions", "Ask Questions")
                        </a>
                    </li>*@
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/Redirect URL/Communicate With Us/Ask Questions","/My-Account/Communicate-With-Us/AskQuestion")">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Left Panel/Ask Questions", "Ask Questions")</a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/Feedback","/My-Account/Feedback")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Feedback", "Feedback")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/PaperlessBilling","/My-Account/PaperlessBilling")">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Paperless Billing", "Paperless Billing")
                </a>
            </li>
            @*<li>
                <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/ComplaintEscalationMatrix","/My-Account/ComplaintEscalationMatrix")">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Complaint Escalation Matrix", "Complaint Escalation Matrix")
                </a>
            </li>*@
           <li>
                <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/My Account/Left Panel/Redirect URL/RegisteraComplaint","/complaint-registration")">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Register a Complaint", "Register a Complaint")
                </a>
            </li>
        </ul>
        <!-- /Side Navigation -->
    </nav>

}
