@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts.Models
@model Sitecore.Feature.Accounts.Models.EditProfile


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
<nav id="sideNav">
    <div id="dismiss" class="d-block d-md-none"><i class="fas fa-arrow-left"></i></div>
    <div class="clearfix"></div>
    
    @if (Model.UserType == AdaniGasUserTypes.PNG)
    {
        <!-- Side Navigation -->
        <ul class="list-unstyled parentMenu" id="accordion">
            <li>
                <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/Home","/commercial-png/commercial-dashboard")" data-toggle="" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Home", "Home")
                </a>
            </li>
            <li>
                <a href="#billingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/commercial/Bill Payments", "Bill & Payments")
                </a>
                <ul class="collapse list-unstyled submenu" id="billingSubmenu" data-parent="#accordion">                 
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/Pay Online","/commercial-png/billing-and-payment/pay-online")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Pay Online", "Pay Online")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/Advance Payment","/commercial-png/billing-and-payment/advance-payment")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Advance Payment", "Advance Payment")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/Register for E-invoice","/commercial-png/billing-and-payment/register-for-e-invoice")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for E-invoice", "Register for E-invoice")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URLcommercial//Understand Your bill","/commercial-png/billing-and-payment/understand-your-bill")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Understand Your bill", "Understand Your bill")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#accoutsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Account Services", "Account Services")
                </a>
                <ul class="collapse list-unstyled submenu" id="accoutsSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/Manage Email ID","/commercial-png/account-services/manage-emails")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Email ID", "Manage Email ID")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/SwitchAccount","/commercial-png/account-services/manage-mobile-numbers")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Mobile Number", "Manage Mobile Number")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/NonRegisteredAccount","/commercial-png/account-services/name-transfer")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Name Transfer", "Name Transfer")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/DeRegisterAccount","/commercial-png/account-services/change-password")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Change Password", "Change Password")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/DeRegisterAccount","/commercial-png/account-services/register-for-sms-alerts")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for SMS Alerts", "Register for SMS Alerts")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/DeRegisterAccount","/commercial-png/account-services/complaints-queries")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Complaints Queries", "Complaints/Queries")
                        </a>
                    </li>
                    @*<li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/commercial/DeRegisterAccount","/commercial-png/account-services/after-sales-services")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/After Sales Services", "After Sales Services")
                        </a>
                    </li>*@
                </ul>
            </li>
        </ul>
        <!-- /Side Navigation -->
    }
    else if (Model.UserType == AdaniGasUserTypes.PNG)
    {
        <!-- Side Navigation -->
        <ul class="list-unstyled parentMenu" id="accordion">
            <li>
                <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/Home", "/industrial/industrial-dashboard")" data-toggle="" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Home", "Home")
                </a>
            </li>
            <li>
                <a href="#billingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/industrial/Bill Payments", "Bill & Payments")
                </a>
                <ul class="collapse list-unstyled submenu" id="billingSubmenu" data-parent="#accordion">                    
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/Pay Online", "/industrial/billing-and-payment/pay-online")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Pay Online", "Pay Online")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/Advance Payment", "/industrial/billing-and-payment/advance-payment")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Advance Payment", "Advance Payment")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/Register for E-invoice", "/industrial/billing-and-payment/register-for-e-invoice")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for E-invoice", "Register for E-invoice")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/Understand Your bill", "/industrial/billing-and-payment/understand-your-bill")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Understand Your bill", "Understand Your bill")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#accoutsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Account Services", "Account Services")
                </a>
                <ul class="collapse list-unstyled submenu" id="accoutsSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/Manage Email ID", "/industrial/account-services/manage-emails")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Email ID", "Manage Email ID")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/SwitchAccount", "/industrial/account-services/manage-mobile-numbers")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Mobile Number", "Manage Mobile Number")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/NonRegisteredAccount", "/industrial/account-services/name-transfer")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Name Transfer", "Name Transfer")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/DeRegisterAccount", "/industrial/account-services/change-password")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Change Password", "Change Password")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/DeRegisterAccount", "/industrial/account-services/register-for-sms-alerts")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for SMS Alerts", "Register for SMS Alerts")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/DeRegisterAccount", "/industrial/account-services/complaints-queries")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Complaints Queries", "Complaints/Queries")
                        </a>
                    </li>
                    @*<li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/industrial/DeRegisterAccount", "/industrial/account-services/after-sales-services")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/After Sales Services", "After Sales Services")
                        </a>
                    </li>*@
                </ul>
            </li>
        </ul>
        <!-- /Side Navigation -->
    }
    else
    {
        <!-- Side Navigation -->
        <ul class="list-unstyled parentMenu" id="accordion">
            <li>
                <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/Home","/domestics/domestics-dashboard")" data-toggle="" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Home", "Home")
                </a>
            </li>
            <li>
                <a href="#billingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/domestic/Bill Payments", "Bill & Payments")
                </a>
                <ul class="collapse list-unstyled submenu" id="billingSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/View and Pay Bill","/domestics/billing-and-payment/submit-meter-reading")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Submit Meter Reading", "Submit Meter Reading")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/Pay Online","/domestics/billing-and-payment/pay-online")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Pay Online", "Pay Online")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/Advance Payment","/domestics/billing-and-payment/advance-payment")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Advance Payment", "Advance Payment")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/Register for E-invoice","/domestics/billing-and-payment/register-for-e-invoice")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for E-invoice", "Register for E-invoice")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/Understand Your bill","/domestics/billing-and-payment/understand-your-bill")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Understand Your bill", "Understand Your bill")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#accoutsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Account Services", "Account Services")
                </a>
                <ul class="collapse list-unstyled submenu" id="accoutsSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/Manage Email ID","/domestics/account-services/manage-emails")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Email ID", "Manage Email ID")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/SwitchAccount","/domestics/account-services/manage-mobile-numbers")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Mobile Number", "Manage Mobile Number")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/NonRegisteredAccount","/domestics/account-services/name-transfer")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Name Transfer", "Name Transfer")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/DeRegisterAccount","/domestics/account-services/change-password")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Change Password", "Change Password")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/DeRegisterAccount","/domestics/account-services/register-for-sms-alerts")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for SMS Alerts", "Register for SMS Alerts")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/DeRegisterAccount","/domestics/account-services/complaints-queries")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Complaints Queries", "Complaints/Queries")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/DeRegisterAccount","/domestics/account-services/after-sales-services")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/After Sales Services", "After Sales Services")
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /Side Navigation -->
    }
</nav>

}
