@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.LoginInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
{
    @*@Html.Hidden("ReturnUrl", Model.ReturnUrl)*@
    @Html.AddUniqueFormId()
    @Html.ValidationSummary(true)

    <div class="bg-gray-dark loginBox">
        <div class="row align-items-center">
            <div class="col-12 col-lg-auto">
                <div class="col-form-label d-none d-lg-block">&nbsp;</div>
                <h5 class="txt-orange">Login</h5>
            </div>
            <div class="d-block d-lg-none w-100">&nbsp;</div>
            <div class="col-12 col-md-auto pr-lg-0 @Html.ValidationErrorFor(x => x.LoginName, "has-error")">
                <div class="col-form-label">Username</div>
                <div>
                    @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control",@autocomplete = "off", id = "LoginName" })
                    @Html.ValidationMessageFor(x => x.LoginName, "", new { @class = "help-block" }, "p")
                </div>
            </div>
            <div class="d-block d-md-none">&nbsp;</div>
            <div class="col-12 col-md-auto pr-lg-0">
                <div class="col-form-label">
                    Password <a href="/Forgot Password" title="Forgot Password" class="forgotPassLink">
                        @Html.Sitecore().Dictionary("/Accounts/Login/Forgot Password", "Forgot Password?")
                    </a>
                </div>
                <div>
                    @Html.PasswordFor(x => x.Password, new
               {
                   @class = "form-control",
                   id = "registerPassword",
                    @autocomplete = "off"
               })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                </div>
            </div>
            <div class="col-auto col-sm-6 col-md-2">
                <div class="col-form-label">&nbsp;</div>
                <button type="submit" class="btn btn-primary w-100">@Html.Sitecore().Dictionary("/Accounts/Login/Sign in", "Sign in")</button>

            </div>
            <div class="col-auto ml-lg-auto">
                <div class="col-form-label">&nbsp;</div>
                <div>
                    New User?
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/Redirect URL/Registration URL", "/registration")" class="registerLink">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>

    </div>

}

