@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!--Page Content-->
<div class="panel">
    <div class="my-lg-3 py-lg-3">
        <ul class="nav nav-tabs" id="paymentSteps" role="tablist">
            <li class="nav-item" id="li_inbox">
                <a class="nav-link active" data-toggle="tab" href="#inbox">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Inbox Tab Text", "Inbox")</a>
            </li>
            <li class="nav-item" id="li_outbox">
                <a class="nav-link" data-toggle="tab" href="#outbox">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Outbox Tab Text", "Outbox")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#compose">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Compose Tab Text", "Compose")</a>
            </li>
            <li class="nav-item" id="li_trash">
                <a class="nav-link" data-toggle="tab" href="#trash">@Html.Sitecore().Dictionary("/Accounts/Mailbox/Trash Tab Text", "Trash")</a>
            </li>
        </ul>
        <div class="tab-content bg-white" id="mailbox">
            <div class="tab-pane fade show active txt-center" id="inbox" role="tabpanel">
                @Html.Sitecore().Placeholder("mail-inbox")
            </div>
            <div class="tab-pane fade" id="outbox" role="tabpanel">
                @Html.Sitecore().Placeholder("mail-outbox")
            </div>
            <div class="tab-pane fade" id="compose" role="tabpanel">
                @Html.Sitecore().Placeholder("mail-compose")
            </div>
            <div class="tab-pane fade" id="trash" role="tabpanel">
                @Html.Sitecore().Placeholder("mail-trash")
            </div>
        </div>
    </div>

</div>

