@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.MeterReadingDateinfo



@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmMeterReadingDate" }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <p>Choose the month for which you want to check you meter reading date</p>
        <div class="py-3"></div>

        <form class="pt-3">
            <div class="form-group row @Html.ValidationErrorFor(x => x.Monthval, "has-error")">
                <label for="" class="col-sm-4 col-md-3 col-form-label">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Meter Reading/Choose Month", "Choose month")
                    <span class="required">*</span>
                </label>

                <div class="col-sm-8 col-lg-6">
                    @Html.DropDownListFor(m => m.Monthval, Model.MonthList, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(x => x.Monthval, "", new { @class = "help-block" }, "p")
                </div>
            </div>

            <div class="form-group row py-2">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">View</button>
                </div>
            </div>
            <div id="dvInfo" class="form-group row">
                <label for="" class="col-sm-6 col-md-6 col-form-label">
                    <strong>@Html.Sitecore().Dictionary("/Accounts/My Account/Meter Reading/Reading Date", "Scheduled Reading Date")</strong>
                </label>
                <div class="col-sm-8 col-lg-6">
                    <strong>@Html.DisplayTextFor(m => m.ScheduleMeterReadingdate)</strong>
                </div>
            </div>
        </form>
    </div>

}

