@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model SapPiService.Domain.PaymentHistory


<div class="panel">
        <h3 class="mb-3">Payment Information</h3>
        <table class="table table-striped border text-center bg-white">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Payment Date</th>
                    <th>Amount Paid</th>
                    <th>Payment Mode</th>
                    <th>Cheque No</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 1;
                    foreach (var ph in Model.PaymentHistoryList)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@ph.PaymentDate</td>
                            <td>@ph.Amount</td>
                            <td>@ph.PaymentMode</td>
                            <td>@ph.ChequeNo</td>
                        </tr>
                        count++;
                    }

                }
            </tbody>
        </table>
</div>