@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts

@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model SapPiService.Domain.PvcDetail

<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!-- Update Profile Page Content-->
<div class="panel ">
    <form class="pt-3">
        <div class="form-group row">
            <label for="" class="col-sm-5 col-md-5 col-form-label"> @Html.Sitecore().Dictionary("/Accounts/Edit Profile/Account Number", "Account Number")</label>
            <div class="col-sm-8 col-lg-6">
                @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control-plaintext txt-underline txt-orange", id = "AccountNumber", @readonly = "" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-5 col-md-5 col-form-label">@Html.Sitecore().Dictionary("/Accounts/View Pay Bill/Billing Amount For This Month", "Billing Amount For This Month")</label>
            <div class="col-sm-8 col-lg-6">
                @Html.TextBoxFor(x => x.CurrentBillAmount, new { @class = "form-control-plaintext txt-underline txt-orange", id = "CurrentBillAmount", @readonly = "" })
            </div>
        </div>
    </form>
</div>
<div class="panel bill-panel">
    <h5 class="txt-orange">@Html.Sitecore().Dictionary("/Accounts/View Pay Bill/Here is your bill", "Here is your bill")</h5>
    <p class="py-3">@Html.Sitecore().Dictionary("/Accounts/View Pay Bill/Bill Message", "Have more than one registered account with us, just tell us. This will allow you to enjoy the convenience of maintaining all your accounts with a single login name and a password.")</p>
    <p class="py-2"></p>
    <h5 class="txt-orange">Bill details</h5>
    <p class="py-2"></p>
    <table class="table">
        <tr>
            <td>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-md-5 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/View Pay Bill/Total bill amount", "Total bill amount payable (Rs.)")
                        
                    </label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.AmountPayable, new { @class = "form-control-plaintext txt-underline txt-orange", id = "amountPayable", @readonly = "" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-md-5 col-form-label"> @Html.Sitecore().Dictionary("/Accounts/View Pay Bill/Current Bill Amount", "Current Bill Amount (Rs.)")</label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.CurrentBillAmount, new { @class = "form-control-plaintext txt-underline txt-orange", id = "CurrentBillAmount2", @readonly = "" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-md-5 col-form-label"> @Html.Sitecore().Dictionary("/Accounts/View Pay Bill/Due Date", "Due Date")</label>
                    <div class="col-sm-8 col-lg-6">
                        @Html.TextBoxFor(x => x.BillDateDue, new { @class = "form-control-plaintext txt-underline txt-orange", id = "BillDateDue", @readonly = "" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-md-5 col-form-label">DPC Applicable After Due Date (Rs.) :</label>
                    <div class="col-sm-8 col-lg-6">
                        @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                        @Html.TextBoxFor(x => x.DpcApplicableAfterDueDate, new { @class = "form-control-plaintext txt-underline txt-orange", id = "DpcApplicableAfterDueDate", @readonly = "" })
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col-sm-6">
            <h5 class="txt-orange">Incentive your earned</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">PF Incentive (Rs.)</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                    @Html.TextBoxFor(x => x.PfIncentive, new { @class = "form-control-plaintext txt-underline txt-orange", id = "PfIncentive", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">Load factor Incentive (Rs)</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="Na">*@
                                    @Html.TextBoxFor(x => x.LoadFactorIncentive, new { @class = "form-control-plaintext txt-underline txt-orange", id = "LoadFactorIncentive", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">Incentive on Payment Mode (RS)</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                    @Html.TextBoxFor(x => x.PaymentModeIncentive, new { @class = "form-control-plaintext txt-underline txt-orange", id = "PaymentModeIncentive", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">Total Incentive</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                    @Html.TextBoxFor(x => x.TotalIncentive, new { @class = "form-control-plaintext txt-underline txt-orange", id = "TotalIncentive", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>





        </div>
        <div class="col-sm-6">
            <h5 class="txt-orange">Penalties</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">Penalty for Exceeding CD (Rs.)</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                    @Html.TextBoxFor(x => x.ExceedingCdPenalty, new { @class = "form-control-plaintext txt-underline txt-orange", id = "ExceedingCdPenalty", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">PF Penalty (Rs)</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="Na">*@
                                    @Html.TextBoxFor(x => x.PfPenalty, new { @class = "form-control-plaintext txt-underline txt-orange", id = "PfPenalty", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">DPC Levied on previous bill (Rs)</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                    @Html.TextBoxFor(x => x.DpcOnPreviousBill, new { @class = "form-control-plaintext txt-underline txt-orange", id = "DpcOnPreviousBill", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <label for="" class="col-sm-5 col-md-7 col-form-label">Total Penalty</label>
                                <div class="col-sm-8 col-lg-5">
                                    @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                    @Html.TextBoxFor(x => x.TotalPenalty, new { @class = "form-control-plaintext txt-underline txt-orange", id = "TotalPenalty", @readonly = "" })
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>




        </div>
    </div>
    <div class="">
        <h5 class="txt-orange">More about your bill</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Power Factor</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.PowerFactor, new { @class = "form-control-plaintext txt-underline txt-orange", id = "PowerFactor", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Load Factor</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="Na">*@
                                @Html.TextBoxFor(x => x.LoadFactor, new { @class = "form-control-plaintext txt-underline txt-orange", id = "LoadFactor", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Units consumed (KWH)</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.UnitsConsumed, new { @class = "form-control-plaintext txt-underline txt-orange", id = "UnitsConsumed", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="">
        <h5 class="txt-orange">Services you use</h5>
        <table class="table">
            <tr>
                <td>
                    <div class="form-group row">
                        <label for="" class="col-sm-5 col-md-5 col-form-label">ECS</label>
                        <div class="col-sm-8 col-lg-6">
                            @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                            @Html.TextBoxFor(x => x.Ecs, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Ecs", @readonly = "" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group row">
                        <label for="" class="col-sm-5 col-md-5 col-form-label">ESC Manadate amount	</label>
                        <div class="col-sm-8 col-lg-6">
                            @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                            @Html.TextBoxFor(x => x.EcsMandateAmount, new { @class = "form-control-plaintext txt-underline txt-orange", id = "EcsMandateAmount", @readonly = "" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <div class="">
        <h5 class="txt-orange">Demand (KVA)</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Contract Demand</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.ContractDemand, new { @class = "form-control-plaintext txt-underline txt-orange", id = "ContractDemand", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Maximum Demand(00 Hrs: 24 Hrs)</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.MaximumDemand, new { @class = "form-control-plaintext txt-underline txt-orange", id = "MaximumDemand", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Maximum Demand Exceeding CD</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.MaximumDemandExceedingCd, new { @class = "form-control-plaintext txt-underline txt-orange", id = "MaximumDemandExceedingCd", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="">
        <h5 class="txt-orange">Time of day Units %(of total units)</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Contract Demand</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.ContractDemand, new { @class = "form-control-plaintext txt-underline txt-orange", id = "ContractDemand", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Maximum Demand(00 Hrs: 24 Hrs)</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.MaximumDemand, new { @class = "form-control-plaintext txt-underline txt-orange", id = "MaximumDemand", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Maximum Demand Exceeding CD</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.MaximumDemandExceedingCd, new { @class = "form-control-plaintext txt-underline txt-orange", id = "MaximumDemandExceedingCd", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="">
        <div class="tablexoverflow table-myaccount">
            <table class="table table-white table-hover table-fw mail-outbox" >
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>units (kwh)</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00-12:00</td>
                        <td> @Html.TextBoxFor(x => x.Units09To12, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Units09To12", @readonly = "" })</td>
                        <td> @Html.TextBoxFor(x => x.Amount09To12, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Amount09To12", @readonly = "" })</td>
                    </tr>
                    <tr>
                        <td>18:00-22:00</td>
                        <td> @Html.TextBoxFor(x => x.Units18To22, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Units18To22", @readonly = "" })</td>
                        <td> @Html.TextBoxFor(x => x.Amount18To22, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Amount18To22", @readonly = "" })</td>
                    </tr>
                    <tr>
                        <td>22:00-06:00</td>
                        <td> @Html.TextBoxFor(x => x.Units22To06, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Units22To06", @readonly = "" })</td>
                        <td> @Html.TextBoxFor(x => x.Amount22To06, new { @class = "form-control-plaintext txt-underline txt-orange", id = "Amount22To06", @readonly = "" })</td>
                    </tr>
                    <tr>
                        <td>Total Units</td>
                        <td></td>
                        <td>@Html.TextBoxFor(x => x.TotalUnits, new { @class = "form-control-plaintext txt-underline txt-orange", id = "TotalUnits", @readonly = "" })</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="">
        <h5 class="txt-orange">Discount</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Current Prompt Payment Discount (Rs)</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.CurrentPromptPaymentDiscount, new { @class = "form-control-plaintext txt-underline txt-orange", id = "CurrentPromptPaymentDiscount", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Last Date of avil PPD</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @Html.TextBoxFor(x => x.LastDateOfPpd, new { @class = "form-control-plaintext txt-underline txt-orange", id = "LastDateOfPpd", @readonly = "" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label for="" class="col-sm-5 col-md-5 col-form-label">Last month availed (Rs)</label>
                            <div class="col-sm-8 col-lg-6">
                                @*<input type="text" readonly="" class="form-control-plaintext txt-underline txt-orange" id="" value="">*@
                                @if (Model.LastMonthAvailed < 0)
                                {
                                    @Html.TextBoxFor(x => x.LastMonthAvailed, new { @class = "form-control-plaintext txt-underline txt-green", id = "LastMonthAvailedIncentives", @readonly = "" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.LastMonthAvailed, new { @class = "form-control-plaintext txt-underline  txt-orange", id = "LastMonthAvailedPenalties", @readonly = "" })
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>



        <p><span class="txt-green">=> Green indicates Incentives</span><span class="txt-red"> =>Red indicates Penalties</span></p>
    </div>
</div>
