@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.RegisterForEBillAlert


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{
@Html.AddUniqueFormId()
    @Html.ValidationSummary(true)
<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!-- Update Profile Page Content-->
<div class="panel">
    <p class="mb-3">@Html.Sitecore().Dictionary("/Accounts/Register for e bills/Top Message", "Reduce clutter and add convenience when you turn off paper bills.")</p>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>@Html.Sitecore().Dictionary("/Accounts/Edit Profile/CustomerID", "Customer ID")<span class="txt-red">*</span></label>
                @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>@Html.Sitecore().Dictionary("/Accounts/Edit Profile/CustomerID", "Customer ID")<span class="txt-red">*</span></label>
                @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-lg-12 mb-3">
            <div class="form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(x => x.RegisterForSoftCopy, new { @class = "form-check-input" })
                    <label class="form-check-label">
                        @Html.Sitecore().Dictionary("/Accounts/Register for e bills/Register for Soft Copy", "Register for Soft Copy")
                    </label>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(x => x.RegisterForSoftAndHardCopy, new { @class = "form-check-input" })
                    <label class="form-check-label">
                        @Html.Sitecore().Dictionary("/Accounts/Register for e bills/Register for Soft and Hard Copy", "Register for Soft and Hard Copy")
                    </label>
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary mr-2">@Html.Sitecore().Dictionary("/Accounts/Register for e bills/Button Submit", "Register for e bills")</button>
            </div>
        </div>
    </div>
    <p class="note mt-3">@Html.Sitecore().Dictionary("/Accounts/Register for e bills/Submit Message", "Your ebill will be sent to you on your email id, each month as it is generated. Thank you for saving paper!")</p>
</div>
}