@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.RegistrationInfoAdaniGas


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmRegister", @class = "form-signin" }))
{
    @Html.AddUniqueFormId()
    <div class="pageContent">
        <div class="container">
            <div class="panel">
                <p class="pb-md-3 float-sm-right">fields marked <span class="required">*</span> are mandatory</p>
                <div class="clearfix"></div>
                <!-- Sign up Form -->
                <form class="pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.CustomerID, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/CustomerID", "Customer ID")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control reset-control", id = "CustomerID", required = "required" })
                                    @Html.ValidationMessageFor(x => x.CustomerID, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.OrganizationName, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/OrganizationName", "Organization Name")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.TextBoxFor(x => x.OrganizationName, new { @class = "form-control reset-control", id = "OrganizationName", required = "required" })
                                    @Html.ValidationMessageFor(x => x.OrganizationName, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.Email, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/Email", "E-mail id")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control reset-control", id = "Email", required = "required" })
                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.MobileNumber, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/MobileNumber", "Mobile No.")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control reset-control", id = "MobileNumber", required = "required" })
                                    @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.Password, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Common/Password", "Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.PasswordFor(x => x.Password, new
                               {
                                   @class = "form-control reset-control",
                                   id = "registerPassword",
                                   @autocomplete = "off",
                                   required = "required"
                               })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.ConfirmPassword, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/Confirm Password", "Re-type Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new
                               {
                                   @class = "form-control reset-control",
                                   id = "registerConfirmPassword",
                                   @autocomplete = "off",
                                   required = "required"
                               })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row pt-md-3 mb-0">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")</button>
                            <button type="button" class="btn btn-secondary" id="btnReset" onclick="ResetElement('frmRegister')">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Reset", "Reset")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /Page Content -->
    </div>
}
