@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.ResetPasswordInfo

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin", id = "frmResetPassword" }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <div class="pageContent">
        <div class="container">
            <div class="panel">
                <div class="row">
                    <div class="col-12">
                        @{
                            var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
                            if (info != null)
                            {
                                Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
                            }
                        }
                    </div>
                </div>
                @*@if (Model!=null &&  Model.IsValidRequest != false)
                    {*@
                <div class="clearfix"></div>
                <form class="pt-3">
                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.Token)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2 @Html.ValidationErrorFor(x => x.Password, "has-error")">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Reset Password/NewPassword", "New Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.PasswordFor(x => x.Password, new
                               {
                                   @class = "form-control",
                                   @autocomplete = "off",
                                   required = "required"
                               })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Reset Password/ConfirmPassword", "Confirm Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new
                               {
                                   @class = "form-control",
                                   @autocomplete = "off",
                                   required = "required"
                               })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">@Html.Sitecore().Dictionary("/Common/Captcha", "Captcha")<span class="required">*</span></label>
                                @*<div class="col-sm-7 col-md-7">
                                    @
                                    @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                </div>*@
                                <div class="col-sm-7 col-md-7">
                                    <div class="g-recaptcha" data-sitekey="@Html.Sitecore().Dictionary("/Common/CaptchaKey", "6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf")"></div>
                                    @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row pt-md-3 mb-0">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Reset Password/Button/Submit", "Submit")</button>
                        </div>
                    </div>
                </form>
                @*}*@
            </div>
        </div>
    </div>

}

<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>

