@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.SwitchAccount



@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmSwitchAccount" }))
{
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <p>
            @Html.Sitecore().Dictionary("/Accounts/My Account/Multiple Accounts/Switch Account/P_Desc", "Click to choose the account for which you seek the information.")
        </p>
        <form class="pt-3">
            <div class="form-group row">
                <label for="" class="col-sm-4 col-md-3 col-form-label">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Multiple Accounts/Switch Account/Master Account Number", "Master Account Number")
                </label>
                <div class="col-sm-8 col-lg-6">
                    <strong>
                        @Html.DisplayTextFor(x => x.MasterAccountNumber)
                    </strong>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-8 col-md-8 col-form-label">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Multiple Accounts/Switch Account/Secondary Account Number", "Secondary Account Number")
                </label>
                <div class="col-sm-8 col-lg-6">
                    @if (Model.AccountList.Any())
                    {
                        foreach (var item in Model.AccountList)
                        {
                            if (!string.IsNullOrEmpty(item.Value))
                            {
                                @Html.ActionLink(item.Value, "SwitchAccountInternally", "Accounts", new { ItemId = item.Key }, new { onclick = "return confirm('Are you sure you wish to switch this Account Number?')", @class = "form-control-plaintext txt-underline txt-orange" })
                            }
                        }
                    }
                </div>
            </div>
        </form>
    </div>

}

