@{
    Layout = null;
}

@using Adani.BAU.Transmission.Feature.Navigation.Platform.Models
@model Adani.BAU.Transmission.Feature.Navigation.Platform.Models.CollapsableExpandale

@{
    if (Model == null && Model.NavigationLevel1 == null)
    {
        return;
    }
}

<ul class="collapsible expandable hamburger_section single-item business-list">
    <li>
        <div class="accordion accordion-flush businesses-tab"
             id="hamburgerAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="hamburger-headingFive">
                    <button class="accordion-button businesses-tab collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#adani-businesses"
                            aria-expanded="false"
                            aria-controls="adani-businesses">
                        <i class="@Model.LeftIcon"></i> @Model.Title
                    </button>
                </h2>
                <div id="adani-businesses"
                     class="accordion-collapse collapse"
                     aria-labelledby="hamburger-headingFive"
                     data-bs-parent="#hamburgerAccordion">
                    <div class="accordion-body">
                        @if (Model.NavigationLevel1 != null && Model.NavigationLevel1.Count() > 0)
                        {
                            <ul class="submenu">
                                @foreach (var itms in Model.NavigationLevel1)
                                {
                                    <li>
                                        <a href="@itms.Link">
                                            <i class="@itms.LeftIcon"></i>
                                            <label>@itms.Title</label>
                                        </a>
                                    </li>
                                }

                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>


