@{
    Layout = null;
}
<header class="main-header">
    <div class="container">
        <div class="top_nav">
            <!-- <a href="#" class="icon-button flat">
                Back to Adani Home
            </a> -->
            @Html.Sitecore().Placeholder("TopNavigation")
        </div>

        <nav class="navbar navbar-light main-nav">
            <div class="brand">
                <!-- hamburger start -->
                <a data-bs-toggle="offcanvas"
                   href="#offcanvasHamburger"
                   role="button"
                   aria-controls="offcanvasHamburger"
                   class="icon-button menu d-none d-md-block">
                    <i class="i-hamburger"></i>
                </a>
                @*<div class="menuOffcanvas offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                         aria-labelledby="offcanvasExampleLabel">
                        @Html.Sitecore().Placeholder("HamburgerMenu")
                    </div>*@
                <div class="logo">
                    @Html.Sitecore().Placeholder("HeaderAirportDropDown")
                </div>
            </div>

            <div class="header-nav">


                @Html.Sitecore().Placeholder("HeaderPrimaryMenu")

            </div>

        </nav>

        <div class="offcanvas offcanvas-start hamburger"
             tabindex="-1"
             id="offcanvasHamburger"
             aria-labelledby="offcanvasHamburgerLabel">
            <div id="slide-out" class="sidenav">
                @Html.Sitecore().Placeholder("HamburgerMenu")
            </div>
        </div>
    </div>
</header>

