@using Sitecore.Data
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<!-- Businesses -->
<section class="section business-section position-relative d-block bg-white">
    <div class="bg-images">@Html.Sitecore().ImageField(Templates.Businesses.Fields.BackgroundImage, models)</div>
    <div class="container position-relative">
        <h3 class="section-heading">@Html.Sitecore().ImageField(Templates.Businesses.Fields.Heading, models)</h3>
        <p class="txt-center mt-3">@Html.Sitecore().ImageField(Templates.Businesses.Fields.Text, models)</p>
        <div class="row mt-5 business">
            @foreach (var child in models.Children.ToList())
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="business-box">
                        <div>
                            <div class="txt-center">
                                @Html.Sitecore().ImageField(Templates.Businesses.Fields.Icon, child)
                            </div>
                            <div class="business-content">
                                <span class="txt-center">@Html.Sitecore().Field(Templates.Businesses.Fields.Title, child)</span>
                                <p>@Html.Sitecore().Field(Templates.Businesses.Fields.Summary, child)</p>
                                <p class="p-0 m-0">
                                    <a href="@child.Url()">Know more<i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <p>
            @*<a href="javascript:void(0)" class="btn btn-blue mt-5" id="loadMore">*@
                @Html.Sitecore().ImageField(Templates.Businesses.Fields.ExploreMore, models)
            @*</a>*@
        </p>
    </div>
</section><!-- /Businesses -->