@using Sitecore
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Adani.Website
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);

}
<section class="section-aboutInfo7 bg-white">
    <div class="container">
        <div class="">
            <h3 class="pull-left sectionHeading leftAlign mt-0 margL0">Our Values</h3>
        </div>
        @foreach (var child in models.Children.ToList())
        {
            <div class="row marg0">
                <div class="item py-2 @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS,child)">
                    <h5 class="pull-left leftAlign mt-0 margL0">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, child)</h5>
                    <div class="content">
                        <p>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.TagLine, child).</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Section7 Mobile -->
<section class="section-aboutInfo7Mobile bg-white">
    <div class="container">
        <div class="">
            <h3 class="sectionHeading mt-0 margL0">Our Values</h3>
        </div>
        <div class="owl-carousel owl-theme" id="ourCulture">
            @foreach (var child in models.Children.ToList())
            {
                <div class="item py-2 @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS,child)">
                    <h5 class="pull-left leftAlign mt-0 margL0">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Title, child)</h5>
                    <div class="content">
                        <p>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.TagLine, child)</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Section7 Mobile -->
