@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration;

@model Sitecore.AGELPortal.Website.Models.PortalAddUserModel
@{
    Layout = null;
    var site = Model.user?.site;   
   
    
}

<div class="container">
    <div class="section-header">
        <h3>Edit User</h3>
    </div>
    <div class="breadcrumbs">
        <a href="/AGELPortal/Home/Dashboard/user_managment" class="breadcrumb">User Management</a>
        <a href="javascript:void(0)" class="breadcrumb">Edit User</a>
    </div>
    @Html.Sitecore().Placeholder("breadcrumbs")
    <div class="new-connection-form">
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "edit_user_form", name = "edit_user_form", @class = "edit_user_form", autocomplete = "off" }))
        {
            if (Model != null)
            {
                <div class="step-1-form">
                    <div class="card brand-gradient outlined card-with-form three-col-form">
                        <div class="card-body">
                            <div class="form-field">
                                <div class="row">
                                    <div class="input-field custom col s12 m4">

                                        <input value="@Model.name" id="name" name="name" required type="text" class="validate" title="Numeric and symbols inputs are not allowed" pattern="^[a-zA-Z ]+$">
                                        <label>Name</label>
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "help-block text-danger" }, "p")
                                    </div>
                                    <div class="col s12 m4">
                                        <div class="form-field">
                                            <h6>User Type</h6>
                                            <div class="field-group">
                                                <div class="radio-field">
                                                    <label>
                                                        <input class="with-gap" value="1" name="user_type" required type="radio"
                                                               @(Model.user_type == "adani" ? "checked" : "") />
                                                        <span>Adani</span>
                                                    </label>
                                                </div>
                                                <div class="radio-field">
                                                    <label>
                                                        <input class="with-gap" value="2" name="user_type" required
                                                               type="radio" @(Model.user_type == "vendor" ? "checked" : "") />
                                                        <span>Vendor</span>
                                                    </label>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.user_type, "", new { @class = "help-block text-danger" }, "p")
                                        </div>
                                    </div>
                                    <div class="input-field custom col s12 m4" id="vendorName">
                                        <input value="@Model.vendor" id="vendor" name="vendor" type="text" class="validate" title="Numeric and symbols inputs are not allowed" pattern="^[a-zA-Z ]+$" required>
                                        <label class="active" for="vendor">Vendor Name</label>
                                        @Html.ValidationMessageFor(model => model.vendor, "", new { @class = "help-block text-danger" }, "p")
                                    </div>
                                    <div class="input-field custom col s12 m4">
                                        @Html.DropDownListFor(m => m.site
                                           , new SelectList(Model.sites, "Value", "Text", site)
                                           , new { required = "required", id = "site", name = "site" })
                                        <label>Site</label>
                                        @Html.ValidationMessageFor(model => model.site, "", new { @class = "help-block text-danger" }, "p")
                                    </div>
                                    <div class="input-field custom col s12 m4">
                                        <input value="@Model.mobile" id="mobile" name="mobile" required type="text" class="validate" pattern="\d*" minlength="10" maxlength="10" title="Only numeric value are allowed 0-9">
                                        <label class="active" for="name">Mobile Number</label>
                                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "help-block text-danger" }, "p")
                                    </div>
                                    <div class="input-field custom col s12 m4">
                                        <input value="@Model.email" id="email" name="email" type="email" class="validate" title="Please enter a valid email address" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
                                        <label class="active" for="first_name2">Email ID</label>
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "help-block text-danger" }, "p")
                                    </div>
                                </div>
                            </div>

                            <div class="h-right btn-group">
                                <input type="hidden" value="@Model.Id" name="Id" />
                                <a href="/AGELPortal/Home/Dashboard/user_managment" style="color:white" class="btn">Cancel</a>
                                <button class="waves-effect waves-light btn">Submit</button>

                            </div>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

