@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalLessonlerneningVideo

@{
     var lesson_learningVideo = Model.lesson_learningVideo;
}
@if (Model != null && lesson_learningVideo.Count != 0)
{
    <header class="section-header justify-item">
        <h2>Resume Learning</h2>
        <aside>
            <aside></aside>
        </aside>
    </header>
    <div class="section-container carousel_wrapper ">
        <div class="carousel-nav side-srrow hide-on-small-only"></div>
        <div class="owl-carousel standard-card removeSliderMob spl-slider"
             data-items-desktop="4"
             data-items-mobile="1.1">

            @foreach (var item in lesson_learningVideo)
            {
                if (item.content_type == "video")
                {
                    <div class="card">
                        <div class="card-image">
                           
                           @*<div class="video-icon">*@
                                <a href="/AGELPortal/Home/Video-Detail?videourlId=@item.video_id"> <img src="\images\AGELPortal\upload_images\@item.category_name" /></a>
                          @*</div>*@
<div class="vid-icon-show video-icon"> <a href="/AGELPortal/Home/Video-Detail?videourlId=@item.video_id"> <img src="/images/AGELPortal/video-icon.svg"></a></div>
                            <video id="vid1" class="azuremediaplayer amp-default-skin" controls width="308" height="308" poster="@item.video_url" data-setup='{"techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS","silverlightSS", "html5"], "nativeControlsForTouch": false}'>
                                <source src="@item.video_url" type="application/vnd.ms-sstr+xml" />
                                @*<p class="amp-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
            </p>*@
                            </video>
                        </div>
                        
                        <div class="card-content">
                            @*<a href="/agelportal/home/Video-Detail?videourlId=@item.video_id">*@
                                <h4>@item.video_name</h4>
                                @*<p>
                                    @item.docvideocnt
                                </p>*@
                         
                            @*<div class="progress-load">
                                <div class="progress-load-time">
                                </div>
                            </div>*@
                        </div>
                    </div>
                }


                else if (item.content_type == "document")
                {
                    <div class="card">
                        @*<a href="/agelportal/home/DocumentDetail?documenturl=@item.video_id" class="card-link"> </a>*@
                        <div class="card-image">
                            
                                <a href="/AGELPortal/Home/DocumentDetail?documenturl=@item.video_id" class="card-link">  <img src="\images\AGELPortal\upload_images\@item.category_name" /></a>
                            
                            @*<img src="~\images\AGELPortal\upload_images\@item.category_name">*@
                            <iframe sandbox="allow-same-origin" class="doc-thumb" src="\images\AGELPortal\upload_images\@item.category_name" frameborder="0" style="overflow: hidden;"
                                    scrolling="no" marginheight="0" marginwidth="0" role="document" aria-label="@item.category_name" title="@item.video_name" height="298px" width="100%"></iframe>
                        </div>
                        <div class="card-content">
                            <h4>@item.video_name</h4>
                            @*<p>
                                @item.docvideocnt
                            </p>*@
                            @*<div class="progress-load">
                                <div class="progress-load-time">
                                </div>
                            </div>*@
                        </div>

                    </div>
                }
            }

        </div>

    </div>
}

