@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalRegistrationModel

@{
    Layout = null;
    var name = Model?.name;
    var email = Model?.email;
    var mobile = Model?.mobile;
}

<div class="container">
    <div class="card outlined mid-form section-container border-none-mobile">
        <header class="section-header">
            <img src="/images/AGELPortal/logo.svg" alt="form-logo">
            <h1>Register Account</h1>
        </header>
        <div class="card-with-form login-wrap">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registration_form", name = "registration_form", @class = "registration_form", autocomplete="off" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-field custom">
                    <input value="@name" id="name" name="name" type="text" class="validate">
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "help-block text-danger" }, "p")
                    <label class="active" for="first_name2">Enter Name</label>
                </div>
                <div class="input-field custom">
                    <input value="@mobile" id="mobile" name="mobile" type="text" class="validate">
                    @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "help-block text-danger" }, "p")
                    <label class="active" for="mobile">Enter Mobile Number</label>
                </div>
                <div class="input-field custom">
                    <input type="hidden" name="OTP" value="123"/>
                    <input value="@email" id="email" name="email" type="email"  class="validate">
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "help-block text-danger" }, "p")
                    <p class="emailerror"></p>
                    <label class="active" for="email">Enter Email ID</label>
                </div>
                
                <div class="h-right btn-group2">
                    <!--<a class="full-btn" href="/htmls/login_register/create_password.html">

                    </a>-->
                    @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                    <button type="submit" id="portal-register" class="waves-effect btn full-btn">Validate Account</button>

                </div>
            }
        </div>
        <div class="bordered-items">
            <ul>
                <li>Already have an Account? <a href="/AGELPortal/Home/login" class="bold">Login Now</a></li>
                <li>Need some help? Call <span class="ff-rb">19122</span></li>
            </ul>
        </div>
    </div>
</div>
