@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalLoginModel
@{
    Layout = null;
}
@{
    Layout = null;
}
@*@if (!Request.IsAuthenticated)
{*@
<div class="container">
    @if (ViewBag.successmessage != null)
    {
        <div id="toast-success" class="modal modal-alert modal-toast custom-toast-success" style="display:block;">
            <header class="modal-header">
                <h4>
                    <a class="toast-close">
                        <i class="i-tick"></i>
                    </a>
                    @ViewBag.successmessage
                </h4>
                <a class="modal-close">
                    <i class="i-cross"> </i>
                </a>
            </header>
        </div>
    }
    <div class="card outlined mid-form border-none-mobile">
        <header class="section-header header-login">
            <img src="~/images/AGELPortal/logo.svg" alt="form-logo">
            <h1 class="header-login-h1">Login</h1>
        </header>
        <div class="card-with-form login-wrap">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registration_form", name = "registration_form", @class = "registration_form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-field custom">
                    <input value="" id="email" type="email" name="email" class="validate" required onkeyup="isEmptyy()">
                    <label class="active" for="first_name2">Enter Email</label>
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "help-block text-danger" }, "p")
                </div>
                <div class="input-field custom">
                    <input value="" id="password" name="password" type="password" class="validate" required onkeyup="isEmptyy()">
                    <label class="active" for="first_name2">Enter Password</label>
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "help-block text-danger" }, "p")
                </div>
                <a class="forgot-pass" style="width:fit-content;" href="/AGELPortal/Home/Forgot Password">Forgot password?</a>


                <div class="btn-group2">
                    @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                    @*@Html.Sitecore().Dictionary("/sitecore/content/GreenEnergy/AGELPortal/Global/Dictionary/Form/InvalidUser", "Invalid User OR Inactive User")*@

                    <button id="btn" type="submit" disabled class="waves-effect waves-light btn btn-continue full-btn">

                        Login
                    </button>
                </div>
                <br />


                if (ViewBag.message != null)
                {
                    @ViewBag.message
                }
            }
            <div class="btn-group2">
                <button type="button" class="waves-effect waves-light btn btn-continue full-btn" onclick="location.href='@Url.Action("SignIn", "AGELPortal")'">
                    Login with SSO
                </button>
            </div>
        </div>


        <div class="bordered-items login-bordered-items">
            <ul>
                <li>Not yet signed up? <a href="/AGELPortal/Home/Registration" class="bold">Register Now</a></li>
                <li>Need some help? Call <span class="ff-rb">19122</span></li>
            </ul>
        </div>
    </div>
</div>
@*}*@
@*@if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
{
    <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
}*@



    <script>
        function isEmptyy() {

            let email = document.getElementById("email").Value;

            let password= document.getElementById("password").Value;

            //let email = document.getElementById("email").Value;
            if (email != "" && password != "" ) {

                document.getElementById("btn").removeAttribute("disabled");
            }
        }
        //window.onload = function () {
        //    $("#category_id").val("");
        //};
    </script>