@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    /**/

    Layout = null;
    var vidCount = 0;
    var docCount = 0;
    var Total_video = 0;
    var Total_doc = 0;
}
@model Sitecore.AGELPortal.Website.Models.PortalLessonlerneningVideo
@if (Model != null)
{
    foreach (var i in Model.videos)
    {
        if (i.Content_Type == "video")
        {
            Total_video++;
        }
        if (i.Content_Type == "document")
        {
            Total_doc++;
        }
    }
    <div class="modal-content">
        <a class="modal-close"><img src="~/images/AGELPortal/cross-icon.svg" /></a>
        <h4>Content Viewed</h4>
        <ul class="tabs">
            <li class="tab">
                <a href="#one" class="active"><h4>@Total_video Video Seen</h4></a>
            </li>
            <li class="tab" style="text-align:end">
                <a href="#two" style="padding: 0px 10px; "><h4>@Total_doc Document Read</h4></a>
            </li>
        </ul>


        <div id="one">
            @foreach (var data in Model.videos)
            {
                if (data.Content_Type == "video")
                {
                    <div class="content-items">
                        <div class="inner-items" style="max-width:250px;">
                            @if (data.DocVideoImage_Name == null)
                            {
                                <img src="~/images/AGELPortal/play.svg" alt="work-safety-img">
                            }
                            else
                            {<img src="~/images/AGELPortal/upload_images/@data.DocVideoImage_Name" />}
                            <label>@data.video_name</label>
                        </div>
                        @if (!String.IsNullOrEmpty(data.created_date))
                        {
                            <p>@data.created_date</p>
                        }
                    </div>
                    vidCount++;
                }
            }
        </div>
        <div id="two" style="display:none">
            @foreach (var data in Model.videos)
            {
                if (data.Content_Type == "document")
                {<div class="content-items">
                        <div class="inner-items">
                            @if (data.DocVideoImage_Name == null)
                            {
                                <i class="vi-total-document"></i>@*<img src="~/images/AGELPortal/video-icon.svg" alt="work-safety-img">*@
                            }
                            else
                            {<img src="~/images/AGELPortal/upload_images/@data.DocVideoImage_Name" />}

                            @*<iframe class="doc-thumb" src="\images\AGELPortal\upload_images\@data.DocVideoImage_Name" frameborder="0" style="overflow: hidden;"
                                scrolling="no" marginheight="0" marginwidth="0" role="document" aria-label="@data.DocVideoImage_Name" title="@data.video_name" height="137px" width="15%"></iframe>*@
                            <label>@data.video_name</label>
                        </div>
                        @if (!String.IsNullOrEmpty(data.created_date))
                        {
                            <p>@data.created_date</p>
                        }
                    </div>
                    docCount++;
                }
            }
        </div>
    </div>
}
<script>
    M.Tabs.init(document.querySelectorAll(".tabs"));
    $('.tabs .tab a[href="#one"]')[0].click();
    $('.modal-close,custom-modal-overlay').click(
        function (e) {
            $('#content-viewed').hide();
            $('body').removeClass('blur');

        });
</script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('.modal-close').click(
            function (e) {
                $('#content-viewed').hide();
                $('body').removeClass('blur');

            });
        $('#tab2').click(
            function (e) {
                debugger;
                $(this).addClass('active');
                $('#tab1').removeClass('active');
                $('#two').show();
                $('#one').hide();

            });

        $('#tab1').click(
                function (e) {
                    debugger;
                    $(this).addClass('active');
                    $('#tab2').removeClass('active');
                    $('#one').show();
                    $("#two").hide();
                });
    </script>*@

@*<style>
        .blur .icon-bar-wrapper, .blur .header-wrapper, .blur .container {
            filter: blur(5px);
            user-select: none;
            overflow: hidden;
        }
    </style>*@






