@using Sitecore.Mvc.Configuration;
    @model Sitecore.AGELPortal.Website.Models.PortalRegistrationModel
    @{

        Layout = null;
        var password = Model?.password;
        var confirmPassword = Model?.confirm_password;
        var newPassword = Model?.new_password;
        var usertype = Session["AGELPortalUserType"]?.ToString();
        var usermode = Session["AGELPortalUserViewMode"]?.ToString();
    }

    <div class="container">
        <div class="breadcrumbs">
            @if (usertype == "superadmin" && usermode == "admin")
            {
                <a href="/AGELPortal/Home/dashboard" class="breadcrumb">Home</a>
            }
            else
            {
                <a href="/AGELPortal/Home" class="breadcrumb">Home</a>
            }
            <a href="#" class="breadcrumb">Change Password</a>
        </div>
        <div class="row">
            <div class="col s12 l3">
                <div class="side-nav hide-on-med-and-down">
                    <ul class="collapsible expandable z-depth-0">
                        <li class="active">
                            <!-- <div class="collapsible-header brand-gradient-left brand-gradient-thin outlined"> -->
                                <!-- <a href="#"><i class="i-cross-c"></i>Category</a> -->
                            <!-- </div> -->
                            <div class="collapsible-body">
                                <div class="submenu">
                                    <a href="/AGELPortal/Home/My_Profile">My Profile</a>
                                    <!-- <a href="/AGELPortal/Home/change_mobile">Change Mobile</a> -->
                                    <a href="/AGELPortal/Home/My_Profile_Change_Password" class="active brand-gradient-parent brand-gradient-left brand-gradient-thin outlined">Change Password</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
           
                
                        <!-- <div class="col s12 l3"> -->
                            <!-- <include component="Nav" class="hide-on-med-and-down"></include> -->
                        <!-- </div> -->
                        <div class="col s12 l8 offset-l1">
						 @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post))
            {
                            <section class="section-wrapper">
                                <header class="section-header">
                                    <h1>Change Password</h1>
                                    @if (Session["ChangepassWordSuccess"] != null)
                                    {
                                        <div id="toast-success" class="modal modal-alert modal-toast custom-toast-success" style="display: block;">
                                            <header class="modal-header">
                                                <h4>
                                                    <a class="toast-close">
                                                        <i class="i-tick"></i>
                                                    </a>
                                                    @Session["ChangepassWordSuccess"]
                                                </h4>
                                                <a class="modal-close">
                                                    <i class="i-cross"> </i>
                                                </a>
                                            </header>
                                        </div>
                                        Session["ChangepassWordSuccess"] = null;
                                    }
                                    <p>
                                        Find below the information we have about you. In case there is change in any of your profile
                                        details, just retype and click on save.
                                    </p>
                                </header>
                                <div class="card brand-gradient section-inner-wrapper outlined card-with-form login-wrap section-container">
                                    <div class="input-field custom input-has-icon">
                                        <input value="@password" name="password" id="password" type="password" class="validate" required>
                                        <label class="active" for="first_name2">Old Password</label>
                                    </div>
                                    <div class="input-field custom input-has-icon">
                                        <input value="@newPassword" name="new_password" id="new_password" type="password" class="validate passcode" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />

                                        <label class="active" for="first_name2">New Password</label>
                                        <!-- @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p") -->

                                    </div>
                                    <div class="input-field custom input-has-icon">
                                        <input value="@confirmPassword" name="confirm_password" id="confirm_password" type="password" class="validate confirmPasscode">

                                        <label class="active" for="first_name2">Re-type Password</label>
                                        @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                                    </div>
                                    <div class="h-right btn-group">
                                        <!-- @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p") -->
                                        <button type="submit" class="waves-effect waves-light btn" id="ResetPassword">Submit</button>
                                    </div>
                                    <div class="reset-password" id="message">
                                        <h6 style="margin-bottom:10px;">Password must contain the following:</h6>
                                        <div class="card">

                                            <ul>
                                                <li id="letter" class="invalid">
                                                    <i>

                                                        <img id="letter-image" src="~/images/AGELPortal/cross.png" alt="check-mark">
                                                    </i>
                                                    Atleast 8  characters
                                                </li>
                                                <li id="capital" class="invalid">
                                                    <i>

                                                        <img id="capital-image" src="~/images/AGELPortal/cross.png" alt="check-mark">
                                                    </i>
                                                    Upper & lower Letters
                                                </li>
                                                <li id="number" class="invalid">
                                                    <i>

                                                        <img id="number-image" src="~/images/AGELPortal/cross.png" alt="check-mark">
                                                    </i>
                                                    Atleast 1 number one special character
                                                </li>
                                                <li id="length" class="invalid"></li>
                                                <li id="special" class="invalid"></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </section>
							 }
                        </div>
                   


                @*<div class="col s12 l8 offset-l1">
                            <section class="section-wrapper">
                                <header class="section-header">
                                    <h1>Change Password</h1>


                                    <p>
                                        Find below the information we have about you. Incase there is change in any of your profile
                                        details, just retype and click on save.
                                    </p>
                                </header>
                                <div class="card outlined mid-form section-container border-none-mobile">
                                    <div class="section-header">
                                        <img src="/images/AGELPortal/logo.svg" alt="form-logo">

                                        <h1>Change Password</h1>
                                        @if (Session["ChangepassWordSuccess"] != null)
                                        {
                                            <div id="toast-success" class="modal modal-alert modal-toast custom-toast-success" style="display: block;">
                                                <header class="modal-header">
                                                    <h4>
                                                        <a class="toast-close">
                                                            <i class="i-tick"></i>
                                                        </a>
                                                        @Session["ChangepassWordSuccess"]
                                                    </h4>
                                                    <a class="modal-close">
                                                        <i class="i-cross"> </i>
                                                    </a>
                                                </header>
                                            </div>
                                            Session["ChangepassWordSuccess"] = null;
                                        }
                                        <p>
                                            Find below the information we have about you. Incase there is change in any of your profile
                                            details, just retype and click on save.
                                        </p>
                                    </div>

                                    <div class="card-with-form login-wrap">

                            <div class="input-field custom">
                                <input value="@password" name="password" id="password" type="password" class="validate">
                                <label class="active" for="first_name2">Old Password</label>
                            </div>
                            <div class="input-field custom">

                                <input value="@newPassword" name="new_password" id="new_password" type="password" class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />

                                <label class="active" for="first_name2">New Password</label>
                                @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")

                            </div>
                            <div class="input-field custom">
                                <input value="@confirmPassword" name="confirm_password" id="confirm_password" type="password" class="validate">

                                <label class="active" for="first_name2">Re-type Password</label>
                                @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")

                            </div>
                            <div class="h-right btn-group">
                                @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                                <button type="submit" class="waves-effect waves-light btn" id="ResetPassword">Submit</button>
                            </div>




                        </div>
                    </div>

            </section>
            </div>*@
           
        </div>
    </div>

    <script>
        var myInput = document.getElementById("password");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");


        // When the user clicks on the password field, show the message box
        //myInput.onfocus = function () {
        //    document.getElementById("message").style.display = "block";
        //}

        // When the user clicks outside of the password field, hide the message box
        //myInput.onblur = function () {
        //    document.getElementById("message").style.display = "none";
        //}

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $("#ResetPassword").click(function () {
                var password = $("#new_password").val();
                var confirmPassword = $("#confirm_password").val();
                if (password != confirmPassword) {
                    alert("Passwords do not match.");
                    return false;
                }
                return true;
            });
        });
    </script>

