@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalAddContentModel

@{
    var test = Model.videos;
}
@if (Model != null && test.Count != 0)
{
    <include component="Header"></include> 
    	<!-- <include component="Hero"></include> -->
        <div class="container">
          <include component="Breadcrumbs"></include>
            <div class="container">  
                <div class="notification-wrapper">
                <div class="notification-list notification-border">
                    <ul>
                        @foreach (var item in test)
                        {

                            <li class="">
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/play.svg" /></div>
                                <div class="notification-title">
                                    <h5> @item.title </h5>
                                    <label>@item.contetn_type</label>
                                </div>
                                <div class="date-time">
                                    <h5>@item.created_date</h5>
                                   
                                </div>
                            </li>
                            <li class="">
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/group.svg" /></div>
                                <div class="notification-title">
                                    <h5> @item.title </h5>
                                    <label>@item.contetn_type</label>
                                </div>
                                <div class="date-time">
                                    <h5>@item.created_date</h5>

                                </div>
                            </li>
                            <li>
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/play.svg" /></div>
                                <div class="notification-title">
                                    <h5>Internal safety at work</h5>
                                    <label>1 Day Ago</label>
                                </div>
                                <div class="date-time">
                                    <h5>17 Nov 2021</h5>
                                    <label> 10:24 AM  </label>
                                </div>
                            </li>
                            <li>
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/play.svg" /></div>
                                <div class="notification-title">
                                    <h5>How AI can enhance our memory </h5>
                                    <label>Safety SOP</label>
                                </div>
                                <div class="date-time">
                                    <h5>17 Nov 2021</h5>
                                    <label> 10:24 AM  </label>
                                </div>
                            </li>
                            <li class="">
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/play.svg" /></div>
                                <div class="notification-title">
                                    <h5> Employee Safety Policy  </h5>
                                    <label>Policies</label>
                                </div>
                                <div class="date-time">
                                    <h5>17 Nov 2021</h5>
                                    <label> 10:24 AM  </label>
                                </div>
                            </li>
                            <li>
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/group.svg" /></div>
                                <div class="notification-title">
                                    <h5>Internal safety at work</h5>
                                    <label>1 Day Ago</label>
                                </div>
                                <div class="date-time">
                                    <h5>17 Nov 2021</h5>
                                    <label> 10:24 AM  </label>
                                </div>
                            </li>
                            <li>
                                <div class="circle-icon gradiant-border-medium"><img src="../../assets/images/group.svg" /></div>
                                <div class="notification-title">
                                    <h5>How AI can enhance our memory </h5>
                                    <label>Safety SOP</label>
                                </div>
                                <div class="date-time">
                                    <h5>17 Nov 2021</h5>
                                    <label> 10:24 AM  </label>
                                </div>
                            </li>
                        }

                        </ul>
              </div>
              </div>
                        

            </div>
          </div>
   
}