@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{
   var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	
	var MediaUrl=""; 
     var MediaAlt="";
	Sitecore.Data.Fields.ImageField MediaImage = ((Sitecore.Data.Fields.ImageField)model.Fields["ImageSource"]);
    if (MediaImage != null && MediaImage.MediaItem != null)
    {
        MediaUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MediaImage.MediaItem);
        MediaAlt = MediaImage.Alt;
    }
}

	 <section class="AboutUsPage">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 about-us-img">
                    <img class="second-image" src="@MediaUrl" alt="@MediaAlt">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 about-us-header">
                    <h2 class="about-us">@Html.Sitecore().Field("Heading",model)</h2>
                    <h4 class="about-us-detail">@Html.Sitecore().Field("Description",model)</h4>
                    <a class="btn btn-primary know-btn" href="#" role="button">@Html.Sitecore().Field("LinkText",model)</a>
                </div>
            </div>
        </div>
    </section>