@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();

    if (currentItem != null)
    {
        <div class="sectionWrapper scrollableOffset" id="@currentItem.Fields["Id"].Value">
            <div class="mainsection">
                <h3 class="sr-heading">@currentItem.Fields["Title"].Value</h3>
                <p>
                    @currentItem.Fields["Description"].Value
                </p>
                <div class="sub-service">
                    @if (currentItem.GetChildren() != null && currentItem.Children.Count > 0)
                    {
                        foreach (Item item in currentItem.GetChildren())
                        {
                            <div class="card">
                                <a href="@_helper.GetLinkURL(item, "Link1")" class="zoomEffect">
                                    <figure> <img src="@_helper.GetImageURL(item.Fields["Image1"])" class="card-img-top" alt="..." loading="lazy"></figure>
                                    <div class="card-body">
                                        <h3 class="heading">@item.Fields["Title"]</h3>
                                        <span class="black_link">@item.Fields["Description"]</span>
                                    </div>
                                </a>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    }

}