@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    List<Item> childItems = null;
    if(currentItem.GetChildren() != null && currentItem.Children.Count > 0)
    {
        childItems = currentItem.GetChildren().ToList();
    }
    Helper _helper = new Helper();

<div class="sectionWrapper">
    @foreach (Item item in childItems)
    {
        <div class="intrnal-slide mainsection scrollableOffset" id="@item.Fields["Id"].Value">
            <h2 class="sr-heading d-md-none">@item.Fields["Title"].Value</h2>
            <div class="img-wrap">
                <img class="round-img" src="@_helper.GetImageURL(item.Fields["Image2"])" loading="lazy">
                <div class="sm-img">
                    <img src="@_helper.GetImageURL(item.Fields["Image1"])" loading="lazy">
                </div>
            </div>
            <div class="right-content">
                <h2 class="sr-heading d-none d-md-block">@item.Fields["Title"].Value</h2>
                <p>
                    @item.Fields["Description"].Value
                </p>
                <div class="btn-wrap">
                    <a href="@_helper.LinkUrl(item.Fields["Link1"])" class="black_link">@_helper.LinkUrlText(item.Fields["Link1"])</a>
                    <a href="@_helper.LinkUrl(item.Fields["Link2"])" class="black_link">@_helper.LinkUrlText(item.Fields["Link2"])</a>
                </div>
            </div>
        </div>
    }
</div>
}