@using Sitecore.Feature.News
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>
@{
    var Items = Model.OrderByDescending(x => x.Statistics.Created);
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
}
<div class="itemsListHeader">
    <h4 class="txt-purple listHeading">@Html.Sitecore().Field(Templates.NavigationTitle.Title)</h4>
    <span class="listIcon">
        @Html.Sitecore().ImageField(Templates._PageContent.Image)
    </span>
    <div class="clearfix"></div>
</div>
<ul class="itemsList">
    @foreach (var item in Items)
    {

        //Sitecore.Data.Fields.LinkField linkField = item.Fields[Templates.NewsArticle.Fields.viewDownloadLink];
        //var url = linkField.GetFriendlyUrl();

        var currentItemURL = Sitecore.Links.LinkManager.GetItemUrl(item);
        //var title = @Html.Sitecore().Field("Title", item).ToString();
        <li class="listItem">
            @*@Html.Sitecore().Field(Templates.NewsArticle.Fields.viewDownloadLink, item)*@
            <a href="@currentItemURL" target="_blank">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)</a>
        </li>
    }
</ul>
<a href="@Html.Sitecore().CurrentRendering.Item.Url()" class="txt-purple viewAllLink">+ View All</a>

@*<li class="media">
        <div class="media-left">
            <a href="@item.Url()">
                @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image, item, mw: 150)
            </a>
        </div>

        <div class="media-body">
            <div class="label label-info">
                @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), item, new
                                                                                           {
                                                                                             format = "MMMM dd, yyyy"
                                                                                           })
            </div>
            <h3 class="media-title">
                <a href="@item.Url()">
                    @Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, item)
                </a>
            </h3>
            <p>
                @Html.Sitecore().Field(Templates.NewsArticle.Fields.Summary, item)
            </p>
        </div>
    </li>*@