@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Australia.Website
@model Sitecore.Australia.Website.Models.OurTeamList
@{
    if (Model?.ListOurTeam == null)
    {
        return;
    }

    @*var datasource = Sitecore.Mvc.Presentation.PageContext.Current.Item.ID;
        var models = Sitecore.Context.Database.GetItem(datasource);
    *@
}

@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
@{int i = 0; }

<section class="section teamSection" id="our-teams">

    <div class="container mobile-none" id="team">
        <h3 class="sectionHeading text-center">@Html.Sitecore().Field(Templates.OurTeam.Fields.Name, models)</h3>
        <p class="py-3 mb-2 text-center">@Html.Sitecore().Field(Templates.OurTeam.Fields.Description, models) </p>
        <div class="row team">
            @for (int x = 0; x < Model.ListOurTeam.Count; x++)
            {
                if (x % 3 != 0)
                {
                    <div class="col-sm-6 col-md-4 col-6 px-5">
                        <a href="javascript:void(0)" class="card member" id="member_@x">
                            <div class="memberPic"><img class="card-img-top" src="@Model.ListOurTeam[x].Image" alt=" @Model.ListOurTeam[x].Name"></div>
                            <div class="card-body memberDetails">
                                <p class="card-text memberName"> @Model.ListOurTeam[x].Name</p>
                                <p class="memberPost">@Model.ListOurTeam[x].Designation</p>
                            </div>
                        </a>
                    </div>
                    if (Model.ListOurTeam.Count == x + 1)
                    {
                        for (int y = i; y <= x; y++)
                        {
                            <div class="leadershipBio d-none d-md-block">
                                <div class="teamModal" id='@string.Concat("member_", y.ToString(), "_block")'>
                                    <button type="button" class="close">
                                        <span aria-hidden="true">X Close</span>
                                    </button>
                                    <div>
                                        <div class="mPic">
                                            <img src="@Model.ListOurTeam[y].Image" alt="@Model.ListOurTeam[y].Name" class="img-fluid">
                                        </div>
                                        <div class="mDetails">
                                            <div class="mName">@Model.ListOurTeam[y].Name</div>
                                            <div class="mPost">@Model.ListOurTeam[y].Designation</div>
                                            <div class="mAboutTxt">
                                                <p>@Model.ListOurTeam[y].Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        i = x;
                    }
                }
                else
                {
                    for (int y = i; y < x; y++)
                    {
                        <div class="leadershipBio d-none d-md-block">
                            <div class="teamModal" id='@string.Concat("member_", y.ToString(), "_block")'>
                                <button type="button" class="close">
                                    <span aria-hidden="true">X Close</span>
                                </button>
                                <div>
                                    <div class="mPic">
                                        <img src="@Model.ListOurTeam[y].Image" alt="@Model.ListOurTeam[y].Name" class="img-fluid">
                                    </div>
                                    <div class="mDetails">
                                        <div class="mName">@Model.ListOurTeam[y].Name</div>
                                        <div class="mPost">@Model.ListOurTeam[y].Designation</div>
                                        <div class="mAboutTxt">
                                            <p>@Model.ListOurTeam[y].Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    i = x;
                    <div class="col-sm-6 col-md-4 col-6 px-5">
                        <a href="javascript:void(0)" class="card member" id="member_@x">
                            <div class="memberPic"><img class="card-img-top" src="@Model.ListOurTeam[x].Image" alt=" @Model.ListOurTeam[x].Name"></div>
                            <div class="card-body memberDetails">
                                <p class="card-text memberName"> @Model.ListOurTeam[x].Name</p>
                                <p class="memberPost">@Model.ListOurTeam[x].Designation</p>
                            </div>
                        </a>
                    </div>

                }
            }
        </div>
    </div>



    <div class="container desktop-none" id="team">
        <h3 class="sectionHeading text-center">@Html.Sitecore().Field(Templates.OurTeam.Fields.Name, models)</h3>
        <p class="py-3 mb-2 text-center">@Html.Sitecore().Field(Templates.OurTeam.Fields.Description, models) </p>
        <div class="row team">
            @for (int x = 0; x < Model.ListOurTeam.Count; x++)
            {
                if (x % 2 != 0)
                {
                    <div class="col-sm-6 col-md-4 col-6 px-3">
                        <a href="javascript:void(0)" class="card member" id="member_@x">
                            <div class="memberPic"><img class="card-img-top" src="@Model.ListOurTeam[x].Image" alt=" @Model.ListOurTeam[x].Name"></div>
                            <div class="card-body memberDetails">
                                <p class="card-text memberName"> @Model.ListOurTeam[x].Name</p>
                                <p class="memberPost">@Model.ListOurTeam[x].Designation</p>
                            </div>
                        </a>
                    </div>
                    if (Model.ListOurTeam.Count == x + 1)
                    {
                        for (int y = i; y <= x; y++)
                        {
                            <div class="leadershipBio d-block d-md-none">
                                <div class="teamModal" id='@string.Concat("member_", y.ToString(), "_block")'>
                                    <button type="button" class="close">
                                        <span aria-hidden="true">X Close</span>
                                    </button>
                                    <div>
                                        <div class="mPic">
                                            <img src="@Model.ListOurTeam[y].Image" alt="@Model.ListOurTeam[y].Name" class="img-fluid">
                                        </div>
                                        <div class="mDetails">
                                            <div class="mName">@Model.ListOurTeam[y].Name</div>
                                            <div class="mPost">@Model.ListOurTeam[y].Designation</div>
                                            <div class="mAboutTxt">
                                                <p>@Model.ListOurTeam[y].Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        i = x;
                    }
                }
                else
                {
                    for (int y = i; y < x; y++)
                    {
                        <div class="leadershipBio d-block d-md-none">
                            <div class="teamModal" id='@string.Concat("member_", y.ToString(), "_block")'>
                                <button type="button" class="close">
                                    <span aria-hidden="true">X Close</span>
                                </button>
                                <div>
                                    <div class="mPic">
                                        <img src="@Model.ListOurTeam[y].Image" alt="@Model.ListOurTeam[y].Name" class="img-fluid">
                                    </div>
                                    <div class="mDetails">
                                        <div class="mName">@Model.ListOurTeam[y].Name</div>
                                        <div class="mPost">@Model.ListOurTeam[y].Designation</div>
                                        <div class="mAboutTxt">
                                            <p>@Model.ListOurTeam[y].Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    i = x;
                    <div class="col-sm-6 col-md-4 col-6 px-3">
                        <a href="javascript:void(0)" class="card member" id="member_@x">
                            <div class="memberPic"><img class="card-img-top" src="@Model.ListOurTeam[x].Image" alt=" @Model.ListOurTeam[x].Name"></div>
                            <div class="card-body memberDetails">
                                <p class="card-text memberName"> @Model.ListOurTeam[x].Name</p>
                                <p class="memberPost">@Model.ListOurTeam[x].Designation</p>
                            </div>
                        </a>
                    </div>

                }
            }
        </div>
    </div>

</section>