@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts;
@model Sitecore.Feature.Accounts.Models.ByCustomerId
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "name-transfer-step1", @class = "name-transfer-step1", enctype = "multipart/form-data" }))
{

    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m=>m.id)
    <div class="row">
        <div class="panel">
            <h3>Name Transfer</h3>
            <h6 class="text-alert">
                <span class="fas fa-exclamation-circle mr-2"></span>This name transfer is
                for domestic segment only
            </h6>
            <h2><b>Request is submitted successfully with request number @Model.id</b></h2>
            <div class="mt-3">
                <div class="">
                    <div class="">
                        <b>@Html.Sitecore().Dictionary("/Accounts/Self Billing/CustomerID", "Customer ID"):</b>
                        @Model.CustomerID.TrimStart(new Char[] { '0' })
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <b>@Html.Sitecore().Dictionary("/Accounts/Self Billing/Registered Customer Name", "Customer Name"):</b>
                        @Model.CustomerName
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <b>@Html.Sitecore().Dictionary("/Accounts/Self Billing/New Customer Name", "New Customer Name"):</b>
                        @Model.FirstName @Model.MiddleName @Model.LastName
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <b>@Html.Sitecore().Dictionary("/Accounts/Self Billing/Mobile", "Mobile Number"):</b>
                        @Model.MobileNumber
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <b>@Html.Sitecore().Dictionary("/Accounts/Self Billing/Address", "Address"):</b>
                        @Model.Address
                    </div>
                </div>

        </div>
    </div>
}