@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Feature.Accounts.SessionHelper
@inherits WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />

    @Html.Sitecore().Placeholder("head")

    <!-- Compiled and minified CSS -->
    <link href="/electricity_assets/css/materialize.css" rel="stylesheet" />
    <link href="/styles/ElectricityNew/aeml-revamp-owl-carousel.css" rel="stylesheet" />
    <link href="/electricity_assets/styles/main.css" rel="stylesheet" />
    <script src="/scripts/ElectricityNew/CommanSitecoreSettings.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/scripts/ElectricityNew/jquery-aeml-revamp.js"></script>
    <script src="/scripts/ElectricityNew/materialize-aeml-revamp.js"></script>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("gtm-body")
    <div class="custom-loader loader-wrap page-loader" style="display:none;">
        <div class="custom-loader-box-wrapper">
            <span class="custom-loader-dots-box">
                <span class="custom-loader-dot custom-loader-dot-1"></span>
                <span class="custom-loader-dot custom-loader-dot-2"></span>
                <span class="custom-loader-dot custom-loader-dot-3"></span>
            </span>
            <span class="custom-loader-text">Give us a moment. We're almost there.</span>
        </div>
    </div>

    @Html.Sitecore().Placeholder("header-top-Msg")

    <header class="main-header header-corporate not-floating" id="main">
        <ul class="flx-list-wrapper top-bar hide-on-med-and-down">
            @Html.Sitecore().Placeholder("header-top-bar")
        </ul>
        <ul class="header-nav flx-list-wrapper">
            @Html.Sitecore().Placeholder("header-primary-menus")
        </ul>
    </header>

    <div id="slide-out" class="sidenav hamburger flex-column">
        <div class="menu-inn">
            @Html.Sitecore().Placeholder("hamburger-navigation-menu")
            <ul class="collapsible expandable hamburger_section hamburger-header single-item">
                <li class="user-section">
                    @Html.Sitecore().Placeholder("hamburger-top-menu")
                </li>
            </ul>
            @Html.Sitecore().Placeholder("hamburger-navigation-submenu")
        </div>
    </div>

    @Html.Raw(Sitecore.Context.Item.Fields["Body"].Value)
    @Html.Sitecore().Placeholder("CorporateInner-Layout")

    <div class="container">
        @Html.Sitecore().Placeholder("GoGreenLatestInitiative")
        @Html.Sitecore().Placeholder("Page-Layout")
        @Html.Sitecore().Placeholder("GoGreen")
        @Html.Sitecore().Placeholder("GoGreenFeatureMedia")
        @Html.Sitecore().Placeholder("CorporateFaq")
    </div>


    @Html.Sitecore().Placeholder("InvestorRelations")

    @Html.Sitecore().Placeholder("JoinUs")

    @Html.Sitecore().Placeholder("ElectricityNewFooter")

    @Html.Raw(Sitecore.Context.Item.Fields["Warning"].Value)

    <button id="back-to-top">
        <img src="/electricity_assets/images/back-to-top_00.svg" alt="Back To Top" />
    </button>
    <script src="/scripts/ElectricityNew/aeml-main.js"></script>
    <script src="/scripts/ElectricityNew/owl-carousel-aeml-revamp.js"></script>
    @*<script type="module" src="/electricity_assets/js/main.js"></script>*@
    <script src="/scripts/ElectricityNew/electricityrevampcustom.js"></script>
    <script src="~/Scripts/ElectricityNew/datatable-min-aeml-revamp.js"></script>

    


    @if (Sitecore.Context.Item.ID.ToString() == "{A2FCDC11-BE31-430F-8AB8-99699556B9D4}")
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('body').attr("data-page", "home");

                $('header.header-corporate').removeClass('not-floating').addClass('floating');
            });
        </script>
    }
    <script type="text/javascript">
        $('a').click(function () {
            if ($(this).attr('data-gaevent') != undefined) {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text()
                });
            }
        })
        $('button').click(function () {
            if ($(this).attr('data-gaevent') != undefined) {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text()
                });
            }
        })
    </script>
</body>
</html>
