@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Feature.Accounts.SessionHelper
@inherits WebViewPage
@{
    Layout = null;
}

@{
    Sitecore.Data.Items.Item myCurrentBillItem = Sitecore.Context.Database.GetItem("{32F3D1BD-0069-4BA3-9BBC-4D0CFB2B4842}");
    var myCurrentBillUrl = myCurrentBillItem != null ? Sitecore.Links.LinkManager.GetItemUrl(myCurrentBillItem) : "#";

    Sitecore.Data.Items.Item myQuickBillPaymentItem = Sitecore.Context.Database.GetItem("{9DECDD43-F5E5-4DDE-9765-6A9796E430AF}");
    var myQuickBillPaymentUrl = myQuickBillPaymentItem != null ? Sitecore.Links.LinkManager.GetItemUrl(myQuickBillPaymentItem) : "#";

}

<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />

    @Html.Sitecore().Placeholder("head")

    <!-- Compiled and minified CSS -->
    <link href="/electricity_assets/css/materialize.css" rel="stylesheet" />
    <link href="/styles/ElectricityNew/aeml-revamp-owl-carousel.css" rel="stylesheet" />
    <link href="/electricity_assets/styles/main.css" rel="stylesheet" />
    <script src="/scripts/ElectricityNew/CommanSitecoreSettings.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/scripts/ElectricityNew/materialize-aeml-revamp.js"></script>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("gtm-body")

    <div class="custom-loader loader-wrap page-loader" style="display:none;">
        <div class="custom-loader-box-wrapper">
            <span class="custom-loader-dots-box">
                <span class="custom-loader-dot custom-loader-dot-1"></span>
                <span class="custom-loader-dot custom-loader-dot-2"></span>
                <span class="custom-loader-dot custom-loader-dot-3"></span>
            </span>
            <span class="custom-loader-text">Give us a moment. We're almost there.</span>
        </div>
    </div>



    <input type="hidden" value="@myCurrentBillUrl" id="myCurrentBillUrl" />
    <input type="hidden" value="@myQuickBillPaymentUrl" id="myQuickBillPaymentUrl" />
    @Html.Sitecore().Placeholder("header-top-Msg")
    <header class="main-header hide floating" id="main">
        @*<div class="header-wrapper ">*@
        <ul class="flx-list-wrapper top-bar hide-on-med-and-down">
            @Html.Sitecore().Placeholder("header-top-bar")
        </ul>
        <ul class="header-nav flx-list-wrapper">
            @Html.Sitecore().Placeholder("header-primary-menus")
        </ul>
        @*</div>*@

    </header>
    <div class="main-header header-shimmer">
        <ul class="header-nav">
            <div class="flx-list-wrapper hide-on-med-and-down">

                <div class="flx-list">

                    <div class="nav_item animate logo" style="margin-bottom: 8px;height: 32px;margin-left: 0;opacity: 0;"></div>

                </div>

                <div class="flx-list">

                    <div class="nav_item animate visible-on-md"></div>

                    <div class="nav_item animate visible-on-md"></div>

                    <div class="icon animate visible-on-sm"></div>

                </div>

            </div>
            <div class="flx-list-wrapper">
                <div class="flx-list">
                    <div class="icon animate"></div>
                    <div class="nav_item animate logo"></div>
                </div>
                <div class="flx-list">
                    <div class="nav_item animate visible-on-md"></div>
                    <div class="nav_item animate visible-on-md"></div>
                    <div class="nav_item animate visible-on-md"></div>
                    <div class="nav_item animate visible-on-md"></div>

                    <div class="icon animate visible-on-sm"></div>
                </div>
            </div>
        </ul>
    </div>
    <div id="slide-out" class="sidenav hamburger">
        <ul class="collapsible expandable hamburger_section hamburger-header single-item">
            <li class="user-section">
                @Html.Sitecore().Placeholder("hamburger-top-menu")
            </li>
        </ul>

        @Html.Sitecore().Placeholder("hamburger-navigation-menu")
        @Html.Sitecore().Placeholder("hamburger-navigation-submenu")
    </div>

    <div class="hero-wrap section-container hide">
        <div class="carousel-box">
            <!-- <div class="carousel-nav"></div> -->
            <div class="carousel_wrapper">
                <div class="carousel-nav side-arrows"></div>
                @Html.Sitecore().Placeholder("page-Carousel")
            </div>
        </div>
        @Html.Sitecore().Placeholder("HomePageQuickBillPayment")
    </div>

    <div class="hero-wrap section-container hero-shimmer">

        <div class="visible-on-md">
            <div class="wrapper">
                <div class="hero-form form-shimmer animate"></div>
                <div class="carousel-shimmer">
                    <div class="shim-titles">
                        <div class="shim-title animate"></div>
                        <div class="shim-sub-title animate"></div>
                        <div class="buttons animate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="sampleBillModal" class="modal">
        <div class="modal-content">
            <div class="details-col">
                <header>
                    <i class="i-cross i-24 hide-sample-bill"></i>
                    <h2>Sample Bill </h2>

                </header>
                <div class="bill-details text-center">
                    <img src="/electricity_assets/assets/images/sample-bill.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @Html.Sitecore().Placeholder("page-layout")
    </div>

    @Html.Sitecore().Placeholder("GoGreen")

    @Html.Sitecore().Placeholder("ElectricityNewFooter")

    <button id="back-to-top">
        <img src="/electricity_assets/images/back-to-top_00.svg" alt="Back To Top" />
    </button>
    <!-- Compiled and minified JavaScript -->
    <script src="/scripts/ElectricityNew/jquery-aeml-revamp.js"></script>
    <script src="/scripts/ElectricityNew/aeml-main.js"></script>
    <script src="/scripts/ElectricityNew/owl-carousel-aeml-revamp.js"></script>
    @*<script type="module" src="/electricity_assets/js/main.js"></script>*@
    <script src="/scripts/ElectricityNew/aes.js"></script>

    <script src="/scripts/ElectricityNew/HomePageQucikBill.js"></script>
    <script src="/scripts/ElectricityNew/electricityrevampcustom.js"></script>

    <script type="text/javascript">

        $('a').click(function () {
            if ($(this).attr('data-gaevent') != undefined) {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text(),
                    'amount': $(this).attr('data-gaeventamount'),
                    'due_date': $(this).attr('data-gaeventduedate')
                });
            }
        })
        $('button').click(function () {
            if ($(this).attr('data-gaevent') != undefined) {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text(),
                    'amount': $(this).attr('data-gaeventamount'),
                    'due_date': $(this).attr('data-gaeventduedate')
                });
            }
        })

        function OpenElektra() {
            //$('#ymDivCircle').click();
            HaptikSDK.show()
        }
    </script>
    @if (Sitecore.Context.Item.ID.ToString() == "{1E9F3E3D-D6B0-4AE1-A7E6-D1BB2C619E71}")
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('body').attr("data-page", "home");
            });
        </script>

        <script type="text/javascript">
            $('.faqli').click(function () {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text()
                })
            });
        </script>
    }
</body>
</html>