@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />

    @Html.Sitecore().Placeholder("head")

    <!-- Compiled and minified CSS -->
    <link href="/electricity_assets/css/materialize.css" rel="stylesheet" />
    
    <link href="/electricity_assets/styles/main.css" rel="stylesheet" />
    <script src="/scripts/ElectricityNew/CommanSitecoreSettings.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/scripts/ElectricityNew/jquery-aeml-revamp.js"></script>
    <script src="/scripts/ElectricityNew/materialize-aeml-revamp.js"></script>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("gtm-body")

    @*<header class="main-header hide header-ev">
        <ul class="header-nav flx-list-wrapper">
            <li class="flx-list brand-logo">
                <a href="/" class="hide-on-med-and-down logo-white"><img src="https://www.adanielectricity.com/-/media/Feature/ElectricityNew/logo/Adani-Electricity-Copy.svg" alt="logo-white"></a>
                <a href="/" class="hide-on-med-and-up logo"><img src="https://www.adanielectricity.com/-/media/Feature/ElectricityNew/logo/Adani-Electricity.svg" alt="logo"></a>
            </li>
            <li class="flx-list">
                <ul class="flx-list header-social-ev">
                    <li>
                        <a href="https://www.facebook.com/AdaniElectricityMumbai/" target="_blank" class="waves-effect icon-holder medium-size" data-gaevent="social_media_follow" data-gaeventcategory="Social Media" data-gaeventaction="Social Media Follow" data-gaeventlabel="_blank">
                            <i class="i-facebook i-22"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Adani_Elec_Mum" target="_blank" class="waves-effect icon-holder medium-size" data-gaevent="social_media_follow" data-gaeventcategory="Social Media" data-gaeventaction="Social Media Follow" data-gaeventlabel="_blank">
                            <i class="i-twitter i-22"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/adanielectricitymumbai" target="_blank" class="waves-effect icon-holder medium-size" data-gaevent="social_media_follow" data-gaeventcategory="Social Media" data-gaeventaction="Social Media Follow" data-gaeventlabel="_blank">
                            <i class="i-instagram i-22"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>*@

    @*@Html.Sitecore().Placeholder("banner-layout")*@

    <div class="container">
        @Html.Sitecore().Placeholder("page-layout")
    </div>
    <button id="back-to-top">
        <img src="/electricity_assets/images/back-to-top_00.svg" alt="Back To Top" />
    </button>

    @*@Html.Sitecore().Placeholder("ElectricityNewFooter")*@



    <!-- Compiled and minified JavaScript -->

    <script type="module" src="/electricity_assets/js/main.js"></script>
    <script src="/scripts/ElectricityNew/electricityrevampcustom.js"></script>

    <script type="text/javascript">
        window.ymConfig = { bot: 'x1565100503080', trigger: 'x1565100503080', persistentNotification: false }; (function () {
            var w = window, ic = w.YellowMessenger;
            if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig); else {
                var d = document, i = function () { i.c(arguments) };
                function l() { var e = d.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js"; var t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t) }
                i.q = [], i.c = function (e) { i.q.push(e) }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
            }
        })();
    </script>
    <script type="text/javascript">
        $('.evconnectionform').click(function () {
            $("#EVFORM")[0].scrollIntoView(true);
        });
        function OpenElektra() {
            $('#ymDivCircle').click();
        }
    </script>
</body>
</html>
