@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/PageMetadata/Title", "India's Largest Private Power Company | Energy Security for the Nation - Adani Power")</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
    <!-- Google Tag Manager -->
    <style>

        .bg-cream {
            background: #fff5eb;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #fff;
            border-color: #e4e5e7;
            padding: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .panel-default > .panel-heading a {
                display: block;
                padding: 10px 15px;
            }

                .panel-default > .panel-heading a:after {
                    content: "";
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    float: right;
                    transition: transform .25s linear;
                    -webkit-transition: -webkit-transform .25s linear;
                    color: #fff;
                }

                .panel-default > .panel-heading a[aria-expanded="true"] {
                    background-color: #eee;
                }

                    .panel-default > .panel-heading a[aria-expanded="true"]:after {
                        content: "\2212";
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                .panel-default > .panel-heading a[aria-expanded="false"]:after {
                    content: "\002b";
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }

        .complaint-panel .panel.panel-default {
            border: 0px;
            border-bottom: 1px solid #fff5eb;
        }

        .complaint-panel .panel-heading {
        }

        .complaint-panel .panel-title a {
            font-weight: bolder;
            background: #fff !important;
        }

        .complaint-panel label {
            font-size: 14px;
            font-weight: 600;
        }

        .border-radius-0 {
            border-radius: 0px;
            background: transparent;
            box-shadow: 0px 0px 0px #000;
            border: 0px;
        }

        .panel-default > .panel-heading a {
            background: #5a5a5a !important;
            border: 0px;
            color: #fff;
            padding: 15px 15px;
        }

        .search_sidebar .user_logout a {
            color: #fff;
        }

            .search_sidebar .user_logout a:hover {
                color: #fff;
                opacity: 0.7;
            }

        .details_accordion {
        }

            .details_accordion .bg-white {
            }

                .details_accordion .bg-white > label {
                    color: #dc5133;
                    font-size: 18px;
                    margin-bottom: 0.8rem;
                }

                .details_accordion .bg-white label {
                    margin-bottom: 0.5rem;
                }
    </style>
    
    <!-- End Google Tag Manager -->
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))" onunload="bodyUnload();" Onclick="clicked=true;">
    <!-- Google Tag Manager (noscript) -->
  
    <!-- End Google Tag Manager (noscript) -->

    <header class="headerSec">
        <div class="navPanel">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand " href="/">
                        <img src="/-/media/Project/Electricity/Icons/logo-adani-electricity.png?la=en&amp;hash=391A93116B114EEA6B47794EFB738A20" alt="" disablewebedit="False">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav ml-auto primaryMenu">
                            <li class="nav-item">
                                <a href="#greenpledgediv" class="nav-link dropdown-toggle">
                                    Green Pledge
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#EVBenefitsdiv" class="nav-link dropdown-toggle">
                                    EV Benefits
                                </a>
                            </li>
                            <li class="nav-item d-none">
                                <a href="#faqdiv" class="nav-link dropdown-toggle">
                                    FAQ's
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#pledgeforevdiv" class="nav-link dropdown-toggle headerbtn">
                                    <span>Pledge for EV</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </header>
    <main role="main" class="switchgreen-main">
        @Html.Sitecore().Placeholder("page-layout")
    </main>

    <footer class="footerSec">
        @Html.Sitecore().Placeholder("footer")
    </footer>

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
</body>
</html>