@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/PageMetadata/Title", "India's Largest Private Power Company | Energy Security for the Nation - Adani Power")</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    <link href="/styles/Electricity/bootstrap.min.css" rel="stylesheet" />

    <link href="/styles/Electricity/fontawesome-all.css" rel="stylesheet" />
    <link href="/styles/Electricity/owl.carousel.css" rel="stylesheet" />

    <link href="/styles/Electricity/adani-electricitynewcon.css" rel="stylesheet" />
    <link href="/styles/Electricity/adani-electricity-responsive.css" rel="stylesheet" />
    <link href="/styles/AdaniGas/select2.min.css" rel="stylesheet" />

    @Html.Sitecore().VisitorIdentification()

    <style>

        .bg-cream {
            background: #fff5eb;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #fff;
            border-color: #e4e5e7;
            padding: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .panel-default > .panel-heading a {
                display: block;
                padding: 10px 15px;
            }

                .panel-default > .panel-heading a:after {
                    content: "";
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    float: right;
                    transition: transform .25s linear;
                    -webkit-transition: -webkit-transform .25s linear;
                    color: #fff;
                }

                .panel-default > .panel-heading a[aria-expanded="true"] {
                    background-color: #eee;
                }

                    .panel-default > .panel-heading a[aria-expanded="true"]:after {
                        content: "\2212";
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                .panel-default > .panel-heading a[aria-expanded="false"]:after {
                    content: "\002b";
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }

        .complaint-panel .panel.panel-default {
            border: 0px;
            border-bottom: 1px solid #fff5eb;
        }

        .complaint-panel .panel-heading {
        }

        .complaint-panel .panel-title a {
            font-weight: bolder;
            background: #fff !important;
        }

        .complaint-panel label {
            font-size: 14px;
            font-weight: 600;
        }

        .border-radius-0 {
            border-radius: 0px;
            background: transparent;
            box-shadow: 0px 0px 0px #000;
            border: 0px;
        }

        .panel-default > .panel-heading a {
            background: #5a5a5a !important;
            border: 0px;
            color: #fff;
            padding: 15px 15px;
        }

        .search_sidebar .user_logout a {
            color: #fff;
        }

            .search_sidebar .user_logout a:hover {
                color: #fff;
                opacity: 0.7;
            }

        .details_accordion {
        }

            .details_accordion .bg-white {
            }

                .details_accordion .bg-white > label {
                    color: #dc5133;
                    font-size: 18px;
                    margin-bottom: 0.8rem;
                }

                .details_accordion .bg-white label {
                    margin-bottom: 0.5rem;
                }
    </style>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))" onunload="bodyUnload();" Onclick="clicked=true;">
    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->

    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="headerTopBar topNav">
            <div class="container">
                <!-- Toggle button to show/hide side top menu -->
                <div class="d-block d-lg-none topNavBtn">
                    <button type="button" id="topNavCollapse" class="btn btn-menu">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
                <!-- /Toggle button to show/hide top menu -->

                <div class="row justify-content-center">
                    <div class="col-auto col-lg-6 mr-lg-auto topLeft">
                        <div class="" id="topMenu">
                            <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
                            <div class="clearfix"></div>
                            <ul class="topMenu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Investors</a></li>
                                <li><a href="#">Media</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Regulatory</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="topSearchMenu"><a href="#"><span class="searchIcon"><i class="fas fa-search"></i></span><span class="searchTxt">&nbsp;&nbsp;Search</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto ml-auto col-lg-6 topRight">
                        <ul class="download-links float-right">
                            <li><a target="_blank" href="#"><img src="/images/app_store.png"></a></li>
                            <li><a target="_blank" href="#"><img src="/images/google_play.png"></a></li>
                        </ul>
                        <ul class="social-links float-right">
                            <li><a href="#" title="Facebook"><span class="sprite facebook"></span></a></li>
                            <li><a href="#" title="Twitter"><span class="sprite twitter"></span></a></li>
                            <li><a href="#" title="YouTube"><span class="sprite youTube"></span></a></li>
                        </ul>
                        <ul class="quick-links float-right">
                            <li class="topSearch"><a href="#"><span class="searchIcon"><i class="fas fa-search"></i></span><span class="searchTxt">&nbsp;&nbsp;Search</span></a></li>
                            <li><a href="#"><span class="userIcon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;Sign In</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="navPanel">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="default.html"><img src="/images/logo-adani-electricity.png" alt="Adani Electricity"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav ml-auto primaryMenu">


                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="index.html" id="dropdown01">Existing User</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="my-account.html">My Account</a>
                                    <a class="dropdown-item" href="payment.html">Payments</a>
                                    <a class="dropdown-item" href="billing.html">Billing</a>
                                    <a class="dropdown-item" href="rooftop-solar.html">Rooftop Solar</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="new-user.html">New User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#communitiesSec">Communities</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main role="main">
        @Html.Sitecore().Placeholder("breadcrumb")
        @Html.Sitecore().Placeholder("page-layout")
    </main>

    <footer class="footerSec">
        <div class="helpPanel">
            <div class="container">
                <h4 class="txt-orange text-center mb-3">Help at hand</h4>
                <div class="pt-3 helpLinksWrapper">
                    <div class="row row-grid">
                        <div class="col-md-4">
                            <a href="#" class="helpLinks">
                                <span class="linkTxt">Check Usage</span>
                                <span class="linkIcon">
                                    <span class="sprite usageIcon align-middle"></span>
                                </span>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="helpLinks tariffPlan">
                                <span class="linkTxt">Tariff Plans</span>
                                <span class="linkIcon">
                                    <span class="sprite tariffPlanIcon align-middle"></span>
                                </span>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="helpLinks">
                                <span class="linkTxt">Bill over SMS</span>
                                <span class="linkIcon">
                                    <span class="sprite smsBillIcon align-middle"></span>
                                </span>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBtmPanel py-3">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">
                        <a href="#" class="adaniLogoFooter"><img src="/images/logo-adani-white.png" alt="Adani Group"></a>
                        <div class="copyrightTxt d-none d-md-block">&copy; 2018 Adani Group</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu">
                            <ul>
                                <li><a href="#">Tender</a></li>
                                <li><a href="#">What's New</a></li>
                                <li><a href="#">Money Saver</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                        <div class="footerMenu menuSecondary">
                            <ul class="text-md-right">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Legal Disclaimer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center text-md-left copyrightTxt d-block d-md-none">&copy; 2018 Adani Group</div>
                </div>
            </div>
        </div>

    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>



    <script src="/scripts/Electricity/popper.min.js"></script>
    <script src="/scripts/Electricity/bootstrap.min.js"></script>
    <script src="/scripts/Electricity/owl.carousel.min.js"></script>
    <script src="/scripts/Electricity/adani-ele-custom.js"></script>
    <script src="/scripts/Accounts/select2.min.js"></script>
    <script src="/scripts/Accounts/NewConnectionAEML.js"></script>


    <script>
        var max = 5, // Set max value
            initvalue = 5, // Set the initial value
            icon = "fa-fire", // Set the icon (https://fontawesome.com/icons)
            target = document.querySelectorAll('[data-value]'),
            listIcon = document.getElementById("labels-list");

        // Function to update du value

        function updateValue(target, value) {
            target.forEach(function (currentIndex) {
                currentIndex.dataset.value = value;
            });
        }

        // Init the number of item with the initial value settings

        for (i = 0; i < max; i++) {
            var picto = "<i class='fas " + icon + "'></i>";
            $(".labels").append(picto);
        }

        updateValue(target, initvalue);

        // Update the slider on click

        $('.fas').on("click", function () {
            var index = $(this).index() + 1;
            $("#range-slider").slider("value", index);
            updateValue(target, index);
        });


        // Init the slider

        $("#range-slider").slider({
            range: "min",
            value: initvalue,
            min: 1,
            max: max,

            slide: function (event, ui) {
                updateValue(target, ui.value);
            }
        });
    </script>


</body>
</html>