@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />

    @Html.Sitecore().Placeholder("head")

    <!-- Compiled and minified CSS -->
    <link href="/electricity_assets/css/materialize.css" rel="stylesheet" />
    <link href="/styles/ElectricityNew/aeml-revamp-owl-carousel.css" rel="stylesheet" />
    <link href="/electricity_assets/styles/main.css" rel="stylesheet" />
    <script src="/scripts/ElectricityNew/CommanSitecoreSettings.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/scripts/ElectricityNew/jquery-aeml-revamp.js"></script>
    <script src="/scripts/ElectricityNew/materialize-aeml-revamp.js"></script>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("gtm-body")
    <div class="custom-loader loader-wrap page-loader" style="display:none;">
        <div class="custom-loader-box-wrapper">
            <span class="custom-loader-dots-box">
                <span class="custom-loader-dot custom-loader-dot-1"></span>
                <span class="custom-loader-dot custom-loader-dot-2"></span>
                <span class="custom-loader-dot custom-loader-dot-3"></span>
            </span>
            <span class="custom-loader-text">Give us a moment. We're almost there.</span>
        </div>
    </div>
    <header class="main-header hide not-floating" id="main">
        <ul class="flx-list-wrapper top-bar hide-on-med-and-down">
            @Html.Sitecore().Placeholder("header-top-bar")
        </ul>
        <ul class="header-nav flx-list-wrapper">
            @Html.Sitecore().Placeholder("header-primary-menus")
        </ul>
    </header>

    <div class="main-header header-shimmer">
        <ul class="header-nav">
            <div class="flx-list-wrapper hide-on-med-and-down">

                <div class="flx-list">

                    <div class="nav_item animate logo" style="margin-bottom: 8px;height: 32px;margin-left: 0;opacity: 0;"></div>

                </div>

                <div class="flx-list">

                    <div class="nav_item animate visible-on-md"></div>

                    <div class="nav_item animate visible-on-md"></div>

                    <div class="icon animate visible-on-sm"></div>

                </div>

            </div>
            <div class="flx-list-wrapper">
                <div class="flx-list">
                    <div class="icon animate"></div>
                    <div class="nav_item animate logo"></div>
                </div>
                <div class="flx-list">
                    <div class="nav_item animate visible-on-md"></div>
                    <div class="nav_item animate visible-on-md"></div>
                    <div class="nav_item animate visible-on-md"></div>
                    <div class="nav_item animate visible-on-md"></div>

                    <div class="icon animate visible-on-sm"></div>
                </div>
            </div>
        </ul>
    </div>

    <div id="slide-out" class="sidenav hamburger">
        <ul class="collapsible expandable hamburger_section hamburger-header single-item">
            <li>
                @Html.Sitecore().Placeholder("hamburger-top-menu")
            </li>
        </ul>
        @Html.Sitecore().Placeholder("hamburger-navigation-menu")
        @Html.Sitecore().Placeholder("hamburger-navigation-submenu")
    </div>
    @Html.Sitecore().Placeholder("page-layout-LECuser")
    <div class="container">
        @Html.Sitecore().Placeholder("page-layout")
    </div>
    <button id="back-to-top">
        <img src="/electricity_assets/images/back-to-top_00.svg" alt="Back To Top" />
    </button>

    @Html.Sitecore().Placeholder("ElectricityNewFooter")

    <!-- Alert Popup -->
    <div id="dvAlert" style="display: none">
        <div id="modalAlert" class="modal modal-alert">
            <header class="modal-header">
                <h4>
                    <i id="alertIcon"></i>
                    <span id="alertHeader"></span>
                </h4>
                <a id="closeAnchor" href="javascript:void(0)" class="modal-close">
                    <img src="/electricity_assets/icons/close-icon.svg" alt="" />
                </a>
            </header>
            <div class="modal-content">
                <p id="alertMessage"></p>
            </div>
        </div>
    </div>
    <script src="/scripts/ElectricityNew/aeml-main.js"></script>
    <script src="/scripts/ElectricityNew/datatable-min-aeml-revamp.js"></script>
    <script src="/scripts/ElectricityNew/owl-carousel-aeml-revamp.js"></script>
    @*<script type="module" src="/electricity_assets/js/main.js"></script>*@
    <script src="/scripts/ElectricityNew/aes.js"></script>
    <script src="/scripts/ElectricityNew/electricityrevampcustom.js"></script>

    <script type="text/javascript">
        function OpenElektra() {
            //$('#ymDivCircle').click();
            HaptikSDK.show()
        }

        function ShowAlert(isSuccess, header, message) {
            if (isSuccess) {
                $("#alertIcon").removeClass("i-cross");
                $("#alertIcon").removeClass("i-24");
                $("#alertIcon").addClass("i-tick");
                $("#modalAlert").parent().removeClass("modal-wrapper-alert");
                $("#closeAnchor").attr("href", "javascript:void(0)");
            } else {
                $("#alertIcon").removeClass("i-tick");
                $("#alertIcon").addClass("i-cross");
                $("#alertIcon").addClass("i-24");
                $("#modalAlert").parent().addClass("modal-wrapper-alert");
                $("#closeAnchor").attr("href", "javascript:location.reload();$('.loader-wrap').show();");
            }
            $("#alertHeader").text(header);
            $("#alertMessage").text(message);

            $('#dvAlert').css('display', 'block');
            viewAlertModalMessage();
        }

        function viewAlertModalMessage() {
            window.setTimeout(function () {
                var elem = document.getElementById('modalAlert');
                var instance = M.Modal.init(elem, { dismissible: false });
                instance.open();
            }, 1500);

        }

    </script>
    <script type="text/javascript">
        $('a').click(function () {
            if ($(this).attr('data-gaevent') != undefined) {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text()
                });
            }
        })
        $('button').click(function () {
            if ($(this).attr('data-gaevent') != undefined) {
                dataLayer.push({
                    'event': $(this).attr('data-gaevent'),
                    'eventCategory': $(this).attr('data-gaeventCategory'),
                    'eventAction': $(this).attr('data-gaeventAction'),
                    'eventLabel': $(this).attr('data-gaeventLabel'),
                    'business_user_id': $('#BusinessUserId').val(),
                    'login_status': $('#login_status').val(),
                    'ca_number': $('#GACANumber').val(),
                    'page_type': $('head title').text()
                });
            }
        })
    </script>
</body>
</html>
