@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using System.Text.RegularExpressions
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields


@{
    
  var Title1 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title1").FirstOrDefault().Value;
  var Title2 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title2").FirstOrDefault().Value;
  var datasource1 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Datasource1").FirstOrDefault().Value;
  var datasource2 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Datasource2").FirstOrDefault().Value;
  var IconClasses = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "IconClasses").FirstOrDefault().Value;
//var IconClasses=Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["IconClasses"]




    // var datasource1 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements1 = Sitecore.Context.Database.GetItem(datasource1);
 var docsColl1 = elements1.GetChildren().OrderByDescending(x => x[Sitecore.FieldIDs.Updated]).ToList();;
    var docsColl1count = elements1.GetChildren().Count;
  
   // var datasource2 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements2 = Sitecore.Context.Database.GetItem(datasource2);
 var docsColl2 = elements2.GetChildren().OrderByDescending(x => x[Sitecore.FieldIDs.Updated]).ToList();;
    var docsColl2count = elements2.GetChildren().Count;
  
   var i=1;
   var j=1;
   var counti =1;
   var countj =1;
}


<section class="py-5  position-relative d-block">
<div class="container">
<div class="row">
<div class="col-lg-6">
<h2 class="heading pl-4 mb-4">@Title1</h2>
<div class="p-4 bg-white h-100">
<div class="owl-carousel owl-theme single-carousel">


@foreach (var child in docsColl1.ToList())
{
	var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(child);
	var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);
	if (i == 1)
	 {
@:<div class="item">
@:<div class="row">
}

	if(@Html.Sitecore().Field("Title", child).ToString() == "FY20") 
	 { 
	
                             <!--  <div class="col-md-6 mb-3"> 
                                   <ul class="ul-reports"> 
                                         <li><i class="far fa-newspaper mr-2"></i>FY20 <a href="#">View</a>&nbsp;&nbsp;&nbsp;<a href="#">Download</a></li> 
                                     </ul> 
                                 </div> -->
								 
															 
								 
								  <div class="col-md-6 mb-3">
								 <ul class="ul-reports">
                                         <li><em class="far fa-newspaper mr-2"></em>@Html.Sitecore().Field("Title", child)
    <div class="float-right"><a target="_blank" href="https://reports.adani.com/adaniports/annual_reports_20/22/index.html" class="txt-blue" style=" font-size: 14px;">View</a>&nbsp;&nbsp;&nbsp;<a target="_blank" href="@url" class="txt-blue" style="font-size: 14px;">Download</a></div>
</li>
                                     </ul> </div>
   
	 } 
	 else if(@Html.Sitecore().Field("Title", child).ToString() == "FY21") 
	 { 
	
                             <!--  <div class="col-md-6 mb-3"> 
                                   <ul class="ul-reports"> 
                                         <li><i class="far fa-newspaper mr-2"></i>FY20 <a href="#">View</a>&nbsp;&nbsp;&nbsp;<a href="#">Download</a></li> 
                                     </ul> 
                                 </div> -->
								 
															 
								 
								  <div class="col-md-6 mb-3">
								 <ul class="ul-reports">
                                         <li><em class="far fa-newspaper mr-2"></em>@Html.Sitecore().Field("Title", child)
    <div class="float-right"><a target="_blank" href="https://reports.adani.com/Adani-Ports-SEZ-Annual-Report-FY21/index.html" class="txt-blue" style=" font-size: 14px;">View</a>&nbsp;&nbsp;&nbsp;<a target="_blank" href="@url" class="txt-blue" style="font-size: 14px;">Download</a></div>
</li>
                                     </ul> </div>
   
	 } 
	else
	{

<div class="col-md-6 mb-3 @i">
<ul class="ul-reports">
    <li><em class="@IconClasses"></em><a href="@url" target="_blank">@Html.Sitecore().Field("Title", child)</a></li>
</ul>
</div>
}
 if (i== 10 || counti == docsColl1count)
	 {
	 @:</div>
@:</div>
i = 0;
}
i = i+1;
counti = counti + 1;
}

</div>
</div>
</div>
<div class="col-lg-6">
<h2 class="heading pl-4 mb-4">@Title2</h2>
<div class="p-4 bg-white h-100">
<div class="owl-carousel owl-theme single-carousel">
@foreach (var child in docsColl2.ToList())
{
	var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(child);
	var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);
	if (j == 1)
	 {
@:<div class="item">
@:<div class="row">
}


<div class="col-md-6 mb-3">
<ul class="ul-reports">
     <li><em class="@IconClasses"></em><a href="@url">@Html.Sitecore().Field("Title", child)</a></li>
</ul>
</div>

if (j== 10 || countj == docsColl2count)
	 {
	 @:</div>
@:</div>
j = 0;
}
j = j+1;
countj = countj + 1;
}
</div>
</div>
</div>
</div>
</div>
</section>