@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkvalues = elements.Fields["MediaVideoLink"];
    var linkUrls = linkvalues.GetFriendlyUrl();
    Sitecore.Data.Fields.LinkField linkField = elements.Fields["MediaLink"];
    var url = linkField.Url;
	Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)elements.Fields["MediaThumbnail"]);

            string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);

}





<section class="py-5 position-relative section__covid-donation bg-white" id="covid19">

    <div class="container">
        <div class="row">
            <div class="col-lg-7 pr-lg-5 mb-lg-0 mb-4">
                <h2 class="text-left sectionHeading sectionHeading-left mb-4">@Html.Sitecore().Field("MediaTitle", elements)</h2>



                <div class="item">

                    <p>@Html.Sitecore().Field("MediaDescription", elements)</p>
                    <div class="mt-5 mb-lg-0 mb-4">
                        <a href="@linkUrls" target="_blank" class="txt-sm">Read more</a>
                    </div>
                </div>

            </div>
        <div class="col-lg-5">
            <div class="video-section ytpop2" data-toggle="modal" data-value="@url" data-target="#video-2">
                   <img src="@imgurl" class="image-fluid" loading=lazy>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="modal video" id="video-2" data-keyboard="false" data-backdrop="static" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" onclick="CloseModal2('video-2')" data-dismiss="modal">x</button>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="embed-container">
                    <iframe id="v-2" src="" data-src="@url" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--/Video Modal-->
</div>