@using Sitecore.Mvc.Configuration
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Ports
@using System.Web
@model Sitecore.Ports.Website.Models.PaymentAdviseForm
@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "PaymentAdviseform", name = "PaymentAdviseform", @class = "account-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*<input type="hidden" id="cFormType" value="port-AccountRegistration" name="FormType">
        <input type="hidden" id="PageInfo" value="/portAccountRegistration" name="PageInfo">
        <input type="hidden" id="NameofCompany" name="NameofCompany" value="">
        <input type="hidden" id="utm_source" value="">
        <input type="hidden" id="CompanyRegistrationDate" name="CompanyRegistrationDate" value="01/01/2000">
        <input type="hidden" id="SubmitOnDate" name="SubmitOnDate" value="01/01/2000">*@
    <section class="py-5 bg-white1">
        <div class="container">
		
		
		
		<h2 class="mt-4">Bank Details</h2>
            <div class="row">
                <div class="col-lg-6 mb-2 ">
                    <div class="form-group">
                        <label>Company Name and code to which payment is being made*</label>

                        <select class="form-control" id="CompanyCode" name="CompanyCode">

                            <option value="2040-ADANI INT CONTAINER TERM">2040-ADANI INT CONTAINER TERM</option>
                            <option value="2300-ADANI KANDLA BULK TERMINAL PVT. LTD.">2300-ADANI KANDLA BULK TERMINAL PVT. LTD.</option>
                            <option value="2350-THE DHAMRA PORT CO LTD">2350-THE DHAMRA PORT CO LTD</option>
                            <option value="2500-ADANI PETRONET (DAHEJ)">2500-ADANI PETRONET (DAHEJ)</option>
                            <option value="2700-ADANI LOGISTICS LTD.">2700-ADANI LOGISTICS LTD.</option>
                            <option value="2930-ADANI ENR CNT TRMNL P LTD">2930-ADANI ENR CNT TRMNL P LTD</option>
                            <option value="2980-ADANI KATTUPALI PORT LTD">2980-ADANI KATTUPALI PORT LTD</option>
							<option value="2400-ADANI HAZIRA PORT LTD">2400-ADANI HAZIRA PORT LTD</option>
                            <option value="2570-MARINE INFRASTRUCTURE DEVELOPER PRIVATE LIMITED">2570-MARINE INFRASTRUCTURE DEVELOPER PRIVATE LIMITED</option>
                            <option value="2000-ADANI PORTS AND SEZ LTD">2000-ADANI PORTS AND SEZ LTD</option>
                            <option value="2360-THE ADANI HARBOUR SERV PL">2360-THE ADANI HARBOUR SERV PL</option>
							<option value="2650-Adani CMA Mundra Terminal Private Limited">2650-Adani CMA Mundra Terminal Private Limited (ACMTPL)</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label>Select the bank details*</label>
                        <select class="form-control" id="BankDetail" name="BankDetail">
                            <option value="Axis Bank 460010200003193">Axis Bank 460010200003193</option>
                            <option value="HDFC Bank 05770310000028">HDFC Bank 05770310000028</option>
                        </select>
                    </div>
                </div>
            </div>
		
		
		
		
            <h2 class="mt-4">Company Details</h2>

            <div class="row">
                <div class="col-lg-6 mb-2">
                    <div class="form-group search_block">
                        <label>Customer code as mentioned in the SOA*</label>
						<div>
                        @Html.TextBoxFor(model => model.CustomerCode, new { @class = "form-control",id="CustomerCode",required="required",
                        placeholder = "Customer Code" ,style="background-color: #f5ffb7;"
                    })<button><span class="fa fa-search"></span></button>
                        @*@Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "help-block" }, "p")*@
</div>
                    </div>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="form-group">
                        <label>Customer Name*</label>
                        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", required="required",
                       placeholder = "Customer Name"
                   })
                        @*@Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>
                <div class="col-lg-6 mb-2 ">
					<p class="small">Customer Codes are linked to our Payment system hence it is a mandatory requirement while updating payment details Customer Codes for APSEZ/AICTPL/ACMTPL are common for all the 3 terminals. PIDC/Hazira /Kattupali and Ennore have a different customer code</p>
				</div>
				<div class="col-lg-6 mb-2 customers-option Shipping-Line NVOCC Vessel-Agent">
                    <div class="form-group">
                        <label>GSTIN Number*</label>
                        @Html.TextBoxFor(model => model.GSTIN, new { @class = "form-control", required="required",
                       placeholder = "GSTIN Number" , type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.GSTINNumber, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>
            </div>

            


            <h2 class="mt-4">Payment Details</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="form-group">
                        <label>UTR/Cheque No*</label>
                        @Html.TextBoxFor(model => model.UTR, new { @class = "form-control",required="required", type="text",
                       placeholder = "UTR No"
                   })
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="form-group">
                        <label>Remittance Date*</label>

                        <input class="form-control" id="ContentPlaceHolder1_date" name="RemittanceDate" placeholder="DD/MM/YYYY" type="date">
                        @Html.ValidationMessageFor(model => model.RemittanceDate, "", new { @class = "help-block" }, "p")

                    </div>
                </div>
				<div class="col-lg-4 col-md-6 mb-2">
					<div class="form-group">
						<label>Net Amount Paid*</label>
						 @Html.TextBoxFor(model => model.NetAmountPaid, new { @class = "form-control",
                       required = "required",
                       id = "NetAmountPaid",
                       placeholder = "Net Amount Paid"  , type="text"
                   })
					</div>
				</div>


                <div class="col-12"><hr class="w-100"></div>
                <div class="col-12"><h2 class="mt-4">Upload Payment against Invoice document</h2></div>
				<div class="col-lg-6">
					<label>Payment against Invoice document</label>
					<div class="custom-file mb-3">
					  <input type="file" class="custom-file-input" id="customFile" name="customFile">
					  <label class="custom-file-label" for="customFile">Choose file</label>
					</div>
				</div>
				<div class="col-lg-12">
					<label class="w-100 d-lg-block d-none">&nbsp;</label>
					<a href="https://stage.adaniports.com/-/media/787264D2E6AD4F14B32F4095B7393D71.ashx" download="" class="btn btn-secondary mt-1 d-md-inline-block d-none"><span class="far fa-file-alt mr-2"></span>Download Payment against Invoice Format</a>
					<a href="https://stage.adaniports.com/-/media/787264D2E6AD4F14B32F4095B7393D71.ashx" download="" class="btn btn-secondary mt-1 d-md-inline-block d-none"><span class="far fa-file-alt mr-2"></span>Download Payment against Invoice Format</a>
					<a href="https://stage.adaniports.com/-%2Fmedia%2FB612785FFDA04D23929260B92FAE5D49.ashx" download="" class="btn btn-secondary mt-1 d-md-none d-inline-block text-left"><span class="far fa-file-alt mr-2"></span>Download Format</a>
				</div>
				<div class="col-12"><hr class="w-100"></div>
                <div class="col-12"><h2 class="mt-4">Enter Invoice Details Manually</h2></div>

                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label>Invoice Number</label>
                        @Html.TextBoxFor(model => model.InvoiceNumber1, new { @class = "form-control",
                      
                       placeholder = "Invoice Number"  , type="text"
                   })

                        @*@Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label>Invoice Date</label>

                        <input class="form-control" id="ContentPlaceHolder1_date" name="InvoiceDate1" placeholder="DD/MM/YYYY" type="date">
                       
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label>Invoice Amount</label>
                        @Html.TextBoxFor(model => model.InvoiceAmount1, new { @class = "form-control Cal",
                      
                       placeholder = "Invoice Amount",
                       id = "InvoiceAmount1",  type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.InvoiceAmount, "", new { @class = "help-block" }, "p")*@
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label>TDS Amount</label>
                        @Html.TextBoxFor(model => model.TDSAmount1, new { @class = "form-control Cal",
                       
                       placeholder = "TDS Amount",
                       id = "TDSAmount1", type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.TDSAmount, "", new { @class = "help-block" }, "p")*@
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label>Net Payment</label>
                        @Html.TextBoxFor(model => model.NetPayment1, new { @class = "form-control",
                      
                       disabled = "True",
                       id = "NetPayment1",
                       placeholder = "Net Amount"  , type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.TDSAmount, "", new { @class = "help-block" }, "p")*@
                    </div>
                </div>


                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label>Remarks</label>
                        @Html.TextBoxFor(model => model.Remarks1, new { @class = "form-control",
                      
                       placeholder = "Remarks"
                   })
                        @*@Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "help-block" }, "p")*@
                    </div>
                </div>











                <div class="col-12"><hr class="w-100"></div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="d-none">Invoice Number</label>
                        @Html.TextBoxFor(model => model.InvoiceNumber2, new { @class = "form-control",
                       placeholder = "Invoice Number" , type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="d-none">Invoice Date</label>

                        <input class="form-control" id="ContentPlaceHolder2_date" name="InvoiceDate2" placeholder="DD/MM/YYYY" type="date">
                        <!-- @Html.ValidationMessageFor(model => model.InvoiceDate2, "", new { @class = "help-block" }, "p") -->

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="d-none">Invoice Amount</label>
                        @Html.TextBoxFor(model => model.InvoiceAmount2, new { @class = "form-control Net",
                       id = "InvoiceAmount",
                       placeholder = "Invoice Amount" , type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.InvoiceAmount, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="d-none">TDS Amount</label>
                        @Html.TextBoxFor(model => model.TDSAmount2, new { @class = "form-control Net",
                       id ="TDSAmount",
                       placeholder = "TDS Amount" , type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.TDSAmount, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="d-none">Net Payment</label>
                        @Html.TextBoxFor(model => model.NetPayment2, new { @class = "form-control",
                       disabled = "True",id="NetPayment",
                       placeholder = "Net Payment"  , type="text"
                   })
                        @*@Html.ValidationMessageFor(model => model.TDSAmount, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>


                <div class="col-lg-2 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="d-none">Remarks</label>
                        @Html.TextBoxFor(model => model.Remarks2, new { @class = "form-control",
                       placeholder = "Remarks"
                   })

                        @*@Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "help-block" }, "p")*@

                    </div>
                </div>


                <div class="col-12 DynamicFields">
                    <div class="col-lg-12">
                        <div class="form-group">
                        </div>
                    </div>
                </div>

                <div class="Invoice_field mt-2">
                    <div class="col-lg-12 mb-3 removeinvoice">
                        <div class="form-group">
                            <button type="button" class="Add_More_Invoice_Fields btn btn-secondary">+ Add More Invoice</button>
                        </div>
                    </div>
                </div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-6">
							<p class="small">Please note that reasonable efforts have been made to ensure that the content is accurate and up-to-date, however all information is given without any guarantee or representation as to its accuracy and under no circumstances whatsoever shall Adani  be liable for any direct, incidental, consequential, indirect, special or other damages, costs, losses or liabilities arising from reliance on any of the information or materials contained.</p>
						</div>
						<div class="col-lg-3 col-md-6 text-lg-right captcha-container py-3">
							<div id="recaptcha1"></div>
							@Html.HiddenFor(model => model.reResponse, new { id = "reResponse" })
							@Html.ValidationMessageFor(model => model.reResponse, "", new { @class = "help-block" }, "p")
						</div>
						<div class="col-lg-3 col-md-6 text-md-right">
							<button type="submit" name="SubmitApplications" value="submit" class="btn btn-gradient mt-4" id="btnsubmit">Submit</button>
						 <button type="reset" name="reset" value="reset" class="btn btn-gradient mt-4" id="btnreset">Reset</button>
						</div>
					</div>
				</div>


                <div class="form-group ml-4">
                    <p class="txt-orange" id="docErrorMessage">@ViewBag.Message</p>
                </div>
                <div class="row mt-3 d-none">
                    <div class="col-lg-12 text-center">
                        <div id="recaptcha1"></div>
                        @Html.HiddenFor(model => model.reResponse, new { id = "reResponse" })
                        @Html.ValidationMessageFor(model => model.reResponse, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class=" d-none">
                    <div class="col-lg-12 text-center mt-3">

                        <button type="submit" name="SubmitApplications" value="submit" class="btn btn-gradient mt-4" id="btnsubmit">Submit</button>
						 <button type="reset" name="reset" value="reset" class="btn btn-gradient mt-4" id="btnreset">Reset</button>

                    </div>
                </div>
				<div class="col-lg-12">
					<!-- <p class="enq_mail"><span class="fa fa-envelope mr-3"></span>Incase of queries, <a href="mailto:Paul.almeida@adani.com">Email Us</a></p> -->
					<p>For queries related to container payments please drop an email  <a href="mailto:Paul.almeida@adani.com">paul.almeida@adani.com</a>.</p>
				</div>

            </div>
            </div>
    </section>
}


