@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.Ports.Website
@model Sitecore.Ports.Website.Models.PortsIncomeTaxReturnModal

<section class="bg-gray section_padding pb-5">
    <div class="container">
        <h4 class="heading pl-4 mb-4">Declaration on PAN-Aadhar Linkage and filing of Income Tax Return for previous two years</h4>
        <div class="contact-form p-4">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "submission_form", name = "submission_form", @class = "submission_form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.FormType, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })

                <div class="row">
                    <div class="col-md-6 mb-4 col-lg-6 pb-2">
                        <div class="form-group mx-95">
                            <label>Enter Vendor Number</label>
                            @Html.TextBoxFor(model => model.VendorNumber, new { @class = "form-control", required = "required", placeholder = "Vendor Number", id = "cname" })
                            @Html.ValidationMessageFor(model => model.VendorNumber, "", new { @class = "help-block" }, "p")

                        </div>
                    </div>
                    <div class="col-md-4 mb-4 col-lg-6 pb-2">
                        <div class="form-group mx-95 ml-auto">
                            <label>Enter Vendor Name</label>
                            @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control", required = "required", placeholder = "Vendor Name", id = "VendorName" })
                            @Html.ValidationMessageFor(model => model.VendorName, "", new { @class = "help-block" }, "p")
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 col-lg-6 pb-2">
                        <div class="form-group mx-95">
                            <label>Enter Aadhar Card Number</label>
                            @Html.TextBoxFor(model => model.AadharCardNumber, new { @class = "form-control", required = "required", placeholder = "AadharCardNumber", id = "AadharCardNumber" })
                            @Html.ValidationMessageFor(model => model.AadharCardNumber, "", new { @class = "help-block" }, "p")
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 col-lg-6 pb-2">
                        <div class="form-group mx-95 ml-auto">
                            <label>Enter PAN Number</label>
                            @Html.TextBoxFor(model => model.PanNo, new { @class = "form-control", required = "required", placeholder = "PanNo", id = "PanNo" })
                            @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "help-block" }, "p")

                        </div>
                    </div>
                    <div class="mb-lg-3 col-lg-6">
                        <div class="mx-95">
                            <div>
                                <label class="mb-2">Have you linked above PAN number with Aadhar Number?<i>*</i></label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                @Html.RadioButtonFor(model => model.IsPanLinkedWithAadhar, "Yes", new { id = "yes", @class = "form-check-input msmeother", @checked = "checked" })
                                <label class="form-check-label" for="Yes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                @Html.RadioButtonFor(model => model.IsPanLinkedWithAadhar, "No", new { id = "No", @class = "form-check-input msmeother" })
                                <label class="form-check-label" for="NO">No</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                @Html.RadioButtonFor(model => model.IsPanLinkedWithAadhar, "NA", new { id = "NA", @class = "form-check-input msmeother" })
                                <label class="form-check-label" for="NA">NA</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-lg-3 col-lg-6 mt-lg-0 mt-4">
                        <div class="mx-95 ml-auto">
                            <div>
                                <label class="mb-2">Have you filled your IT return for immediately preceding 2 financial years?<i>*</i></label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                @Html.RadioButtonFor(model => model.IsFilledItReturnFilling, "Yes", new { id = "yes", @class = "form-check-input msmeother", @checked = "checked" })
                                <label class="form-check-label" for="Yes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                @Html.RadioButtonFor(model => model.IsFilledItReturnFilling, "No", new { id = "No", @class = "form-check-input msmeother" })
                                <label class="form-check-label" for="NO">No</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                @Html.RadioButtonFor(model => model.IsFilledItReturnFilling, "NA", new { id = "NA", @class = "form-check-input msmeother" })
                                <label class="form-check-label" for="NA">NA</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3 mb-lg-4 pb-lg-3">
                        <div class="mx-95">
                            <label class="mb-2">Attachment proof for PAN-Aadhar Linkage<span class="required">*</span></label>
                            <div class="custom-file">
                                @Html.TextBoxFor(model => model.PanWithAadharAttachment, new { type = "file", id = "PanWithAadharAttachment", @class = "custom-file-input",
                         accept=".jpg,.jpeg,.png",
                          required = "required"
                      })
                                @Html.ValidationMessageFor(model => model.PanWithAadharAttachment, "", new { @class = "required help-block" }, "p")

                                <label class="custom-file-label" for="">Choose file...</label>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 mb-3 mb-lg-4 pb-lg-3">
                        <div class="mx-95 ml-auto">
                            <label class="mb-2">Attachment proof for IT return filling<span class="required">*</span></label>
                            <div class="custom-file">
                                @Html.TextBoxFor(model => model.ITReturnFillingAttachment, new { type = "file", id = "ITReturnFillingAttachment", @class = "custom-file-input",
                          accept = "application/pdf,.doc,.docx",
                          required = "required"
                      })
                                @Html.ValidationMessageFor(model => model.ITReturnFillingAttachment, "", new { @class = "required help-block" }, "p")

                                <label class="custom-file-label" for="">Choose file...</label>

                            </div>
                        </div>

                    </div>


                    <div class="form-group ml-4">
                        <p class="txt-orange" id="docErrorMessage">@ViewBag.Message</p>
                    </div>
                    <div class="col-md-4 ml-auto">

                        <div id="recaptcha1">

                        </div>

                    </div>

                    <div class="col-md-12 mb-3 text-right">
                        <p><button type="submit" id="btnsubmit" name="SubmitApplication" value="submit" class="btn btn-primary">Submit</button></p>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
