@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

    var BGImg = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["BGImg"];
}
<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                @Html.Sitecore().Placeholder("first-container")
            </div>
            <div class="col-lg-6 mb-5">
                @Html.Sitecore().Placeholder("second-container")
            </div>
        </div>
    </div>
</section>
<section class="py-5 black-bg position-relative d-block">
    <div class="container">
        <div class="bg-images"><img src="@BGImg"></div>
        <div class="row">
            <div class="col-lg-6">
                @Html.Sitecore().Placeholder("third-container")
            </div>
            <div class="col-lg-6">
                @Html.Sitecore().Placeholder("fourth-container")
            </div>
        </div>
    </div>
</section>
<section class="bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @Html.Sitecore().Placeholder("fifth-container")                
            </div>
            <div class="col-lg-6">
                @Html.Sitecore().Placeholder("sixth-container")
            </div>
        </div>
    </div>
</section>