@using Sitecore
@using Sitecore.Mvc
<section class="py-5 text-center bg-gray">
    <div class="container">
        <h1 class="txt-md font-weight-500">Mundar Port : Vessel Schedule</h1>
    </div>
</section>
<section class="bg-gray pb-5">
    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels at Berth</h2>
        <div class="row">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column" id="v-berth" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="v-berth-tab-1" data-toggle="tab" href="#v-berth-1" role="tab" aria-controls="home" aria-selected="true">Ships at MPT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-berth-tab-2" data-toggle="tab" href="#v-berth-2" role="tab" aria-controls="profile" aria-selected="false">Ships at West Basin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-berth-tab-3" data-toggle="tab" href="#v-berth-3" role="tab" aria-controls="contact" aria-selected="false">Ships at AMCTT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-berth-tab-4" data-toggle="tab" href="#v-berth-4" role="tab" aria-controls="contact" aria-selected="false">Ships at MICT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-berth-tab-5" data-toggle="tab" href="#v-berth-5" role="tab" aria-controls="contact" aria-selected="false">Ships at SPMSTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-berth-tab-6" data-toggle="tab" href="#v-berth-6" role="tab" aria-controls="contact" aria-selected="false">Ships at AICTPL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-berth-tab-7" data-toggle="tab" href="#v-berth-7" role="tab" aria-controls="contact" aria-selected="false">Ships at ACMTPL</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="V-Tab">
                    <div class="tab-pane fade show active" id="v-berth-1" role="tabpanel" aria-labelledby="v-berth-tab-1">
                        @Html.Sitecore().Placeholder("Berth-ShipAtMPT")
                    </div>
                    <div class="tab-pane fade" id="v-berth-2" role="tabpanel" aria-labelledby="v-berth-tab-2">
                        @Html.Sitecore().Placeholder("Berth-ShipAtWestBasin")
                    </div>
                    <div class="tab-pane fade" id="v-berth-3" role="tabpanel" aria-labelledby="v-berth-tab-3">
                        @Html.Sitecore().Placeholder("Berth-ShipAtAMCTT")
                    </div>
                    <div class="tab-pane fade" id="v-berth-4" role="tabpanel" aria-labelledby="v-berth-tab-4">
                        @Html.Sitecore().Placeholder("Berth-ShipAtMICT")
                    </div>
                    <div class="tab-pane fade" id="v-berth-5" role="tabpanel" aria-labelledby="v-berth-tab-5">
                        @Html.Sitecore().Placeholder("Berth-ShipAtSPMSTS")
                    </div>
                    <div class="tab-pane fade" id="v-berth-6" role="tabpanel" aria-labelledby="v-berth-tab-6">
                        @Html.Sitecore().Placeholder("Berth-ShipAtAICTPL")
                    </div>
                    <div class="tab-pane fade" id="v-berth-7" role="tabpanel" aria-labelledby="v-berth-tab-7">
                        @Html.Sitecore().Placeholder("Berth-ShipAtACMTPL")
                    </div>
                </div>

            </div>
        </div>
    </div><!--/1st Section-->

    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels at Anchorage</h2>
        <div class="row">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column" id="va-berth" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="va-berth-tab-1" data-toggle="tab" href="#va-berth-1" role="tab" aria-controls="home" aria-selected="true">Liquid Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-2" data-toggle="tab" href="#va-berth-2" role="tab" aria-controls="profile" aria-selected="false">Bunker Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-3" data-toggle="tab" href="#va-berth-3" role="tab" aria-controls="profile" aria-selected="false">IOCL Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-4" data-toggle="tab" href="#va-berth-4" role="tab" aria-controls="contact" aria-selected="false">HMEL Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-5" data-toggle="tab" href="#va-berth-5" role="tab" aria-controls="contact" aria-selected="false">STS Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-6" data-toggle="tab" href="#va-berth-6" role="tab" aria-controls="contact" aria-selected="false">Break Bulk Vessel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-7" data-toggle="tab" href="#va-berth-7" role="tab" aria-controls="contact" aria-selected="false">West Basin Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-8" data-toggle="tab" href="#va-berth-8" role="tab" aria-controls="contact" aria-selected="false">AMCT Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-9" data-toggle="tab" href="#va-berth-9" role="tab" aria-controls="contact" aria-selected="false">MICT Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-10" data-toggle="tab" href="#va-berth-10" role="tab" aria-controls="contact" aria-selected="false">OTHER Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-11" data-toggle="tab" href="#va-berth-11" role="tab" aria-controls="contact" aria-selected="false">Bulk Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-12" data-toggle="tab" href="#va-berth-12" role="tab" aria-controls="contact" aria-selected="false">AICTPL Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="va-berth-tab-13" data-toggle="tab" href="#va-berth-13" role="tab" aria-controls="contact" aria-selected="false">ACMTPL Vessels</a>
                    </li>

                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="va-Tab">
                    <div class="tab-pane fade show active" id="va-berth-1" role="tabpanel" aria-labelledby="va-berth-tab-1">
                        @Html.Sitecore().Placeholder("Anchorage-Liquid")
                    </div>
                    <div class="tab-pane fade" id="va-berth-2" role="tabpanel" aria-labelledby="va-berth-tab-2">
                        @Html.Sitecore().Placeholder("Anchorage-Bunker")
                    </div>
                    <div class="tab-pane fade" id="va-berth-3" role="tabpanel" aria-labelledby="va-berth-tab-3">
                        @Html.Sitecore().Placeholder("Anchorage-IOCL")
                    </div>
                    <div class="tab-pane fade" id="va-berth-4" role="tabpanel" aria-labelledby="va-berth-tab-4">
                        @Html.Sitecore().Placeholder("Anchorage-HMEL")
                    </div>
                    <div class="tab-pane fade" id="va-berth-5" role="tabpanel" aria-labelledby="va-berth-tab-5">
                        @Html.Sitecore().Placeholder("Anchorage-STS")
                    </div>
                    <div class="tab-pane fade" id="va-berth-6" role="tabpanel" aria-labelledby="va-berth-tab-6">
                        @Html.Sitecore().Placeholder("Anchorage-BreakBulk")
                    </div>
                    <div class="tab-pane fade" id="va-berth-7" role="tabpanel" aria-labelledby="va-berth-tab-7">
                        @Html.Sitecore().Placeholder("Anchorage-WestBasin")
                    </div>
                    <div class="tab-pane fade" id="va-berth-8" role="tabpanel" aria-labelledby="va-berth-tab-8">
                        @Html.Sitecore().Placeholder("Anchorage-AMCT")
                    </div>
                    <div class="tab-pane fade" id="va-berth-9" role="tabpanel" aria-labelledby="va-berth-tab-9">
                        @Html.Sitecore().Placeholder("Anchorage-MICT")
                    </div>
                    <div class="tab-pane fade" id="va-berth-10" role="tabpanel" aria-labelledby="va-berth-tab-10">
                        @Html.Sitecore().Placeholder("Anchorage-OTHER")
                    </div>
                    <div class="tab-pane fade" id="va-berth-11" role="tabpanel" aria-labelledby="va-berth-tab-11">
                        @Html.Sitecore().Placeholder("Anchorage-BULK")
                    </div>
                    <div class="tab-pane fade" id="va-berth-12" role="tabpanel" aria-labelledby="va-berth-tab-12">
                        @Html.Sitecore().Placeholder("Anchorage-AICTPL")
                    </div>
                    <div class="tab-pane fade" id="va-berth-13" role="tabpanel" aria-labelledby="va-berth-tab-13">
                        @Html.Sitecore().Placeholder("Anchorage-ACMTPL")
                    </div>
                </div>

            </div>
        </div>
    </div><!--/2nd Section-->

    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels Expected</h2>
        <div class="row">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column" id="ve-berth" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="ve-berth-tab-1" data-toggle="tab" href="#ve-berth-1" role="tab" aria-controls="home" aria-selected="true">Bulk Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-2" data-toggle="tab" href="#ve-berth-2" role="tab" aria-controls="profile" aria-selected="false">Break Bulk Vessel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-3" data-toggle="tab" href="#ve-berth-3" role="tab" aria-controls="contact" aria-selected="false">West Basin Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-4" data-toggle="tab" href="#ve-berth-4" role="tab" aria-controls="contact" aria-selected="false">Liquid Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-5" data-toggle="tab" href="#ve-berth-5" role="tab" aria-controls="contact" aria-selected="false">Bunker Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-6" data-toggle="tab" href="#ve-berth-6" role="tab" aria-controls="contact" aria-selected="false">IOCL [SPM] Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-7" data-toggle="tab" href="#ve-berth-7" role="tab" aria-controls="contact" aria-selected="false">HMEL [SPM] Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-8" data-toggle="tab" href="#ve-berth-8" role="tab" aria-controls="contact" aria-selected="false">STS Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-9" data-toggle="tab" href="#ve-berth-9" role="tab" aria-controls="contact" aria-selected="false">AMCT Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-10" data-toggle="tab" href="#ve-berth-10" role="tab" aria-controls="contact" aria-selected="false">AICTPL Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-11" data-toggle="tab" href="#ve-berth-11" role="tab" aria-controls="contact" aria-selected="false">MICT Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ve-berth-tab-12" data-toggle="tab" href="#ve-berth-12" role="tab" aria-controls="contact" aria-selected="false">ACMTPL Vessels</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="Ve-Tab">
                    <div class="tab-pane fade show active" id="ve-berth-1" role="tabpanel" aria-labelledby="ve-berth-tab-1">
@Html.Sitecore().Placeholder("Expected-Bulk")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-2" role="tabpanel" aria-labelledby="ve-berth-tab-2">
                        @Html.Sitecore().Placeholder("Expected-BreakBulk")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-3" role="tabpanel" aria-labelledby="ve-berth-tab-3">
                        @Html.Sitecore().Placeholder("Expected-WestBasin")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-4" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-Liquid")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-5" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-Bunker")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-6" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-IOCL")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-7" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-HMEL")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-8" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-STS")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-9" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-AMCT")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-10" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-AICTPL")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-11" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-MICT")
                    </div>
                    <div class="tab-pane fade" id="ve-berth-12" role="tabpanel" aria-labelledby="ve-berth-tab-4">
                        @Html.Sitecore().Placeholder("Expected-ACMTPL")
                    </div>
                </div>

            </div>
        </div>
    </div><!--/3nd Section-->

    <div class="container mb-5">
        <h2 class="heading pl-4 mb-4">Vessels sailed in last 48 hours</h2>
        <div class="row">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column" id="vs-berth" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="vs-berth-tab-1" data-toggle="tab" href="#vs-berth-1" role="tab" aria-controls="home" aria-selected="true">Bulk Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-2" data-toggle="tab" href="#vs-berth-2" role="tab" aria-controls="profile" aria-selected="false">Break Bulk Vessel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-3" data-toggle="tab" href="#vs-berth-3" role="tab" aria-controls="contact" aria-selected="false">West Basin Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-4" data-toggle="tab" href="#vs-berth-4" role="tab" aria-controls="contact" aria-selected="false">Liquid Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-5" data-toggle="tab" href="#vs-berth-5" role="tab" aria-controls="contact" aria-selected="false">Bunker Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-6" data-toggle="tab" href="#vs-berth-6" role="tab" aria-controls="contact" aria-selected="false">IOCL [SPM] Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-7" data-toggle="tab" href="#vs-berth-7" role="tab" aria-controls="contact" aria-selected="false">HMEL [SPM] Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-8" data-toggle="tab" href="#vs-berth-8" role="tab" aria-controls="contact" aria-selected="false">STS Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-9" data-toggle="tab" href="#vs-berth-9" role="tab" aria-controls="contact" aria-selected="false">AMCT Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-10" data-toggle="tab" href="#vs-berth-10" role="tab" aria-controls="contact" aria-selected="false">MICT Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-11" data-toggle="tab" href="#vs-berth-11" role="tab" aria-controls="contact" aria-selected="false">AICTPL Vessels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vs-berth-tab-12" data-toggle="tab" href="#vs-berth-12" role="tab" aria-controls="contact" aria-selected="false">ACMTPL Vessels</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="vs-Tab">
                    <div class="tab-pane fade show active" id="vs-berth-1" role="tabpanel" aria-labelledby="vs-berth-tab-1">
                   @Html.Sitecore().Placeholder("Sailed-Bulk")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-2" role="tabpanel" aria-labelledby="vs-berth-tab-2">
                        @Html.Sitecore().Placeholder("Sailed-BreakBulk")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-3" role="tabpanel" aria-labelledby="vs-berth-tab-3">
                        @Html.Sitecore().Placeholder("Sailed-WestBasin")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-4" role="tabpanel" aria-labelledby="vs-berth-tab-4">
                        @Html.Sitecore().Placeholder("Sailed-Liquid")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-5" role="tabpanel" aria-labelledby="vs-berth-tab-5">
                        @Html.Sitecore().Placeholder("Sailed-Bunker")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-6" role="tabpanel" aria-labelledby="vs-berth-tab-6">
                        @Html.Sitecore().Placeholder("Sailed-IOCL")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-7" role="tabpanel" aria-labelledby="vs-berth-tab-7">
                        @Html.Sitecore().Placeholder("Sailed-HMEL")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-8" role="tabpanel" aria-labelledby="vs-berth-tab-8">
                        @Html.Sitecore().Placeholder("Sailed-STS")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-9" role="tabpanel" aria-labelledby="vs-berth-tab-9">
                        @Html.Sitecore().Placeholder("Sailed-AMCT")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-10" role="tabpanel" aria-labelledby="vs-berth-tab-10">
                        @Html.Sitecore().Placeholder("Sailed-MICT")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-11" role="tabpanel" aria-labelledby="vs-berth-tab-11">
                        @Html.Sitecore().Placeholder("Sailed-AICTPL")
                    </div>
                    <div class="tab-pane fade" id="vs-berth-12" role="tabpanel" aria-labelledby="vs-berth-tab-12">
                        @Html.Sitecore().Placeholder("Sailed-ACMTPL")
                    </div>
                </div>

            </div>
        </div>
    </div><!--/4th Section-->
    </div>
    <!-- /.container -->
</section>