@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var containerId = Regex.Replace(@Html.Sitecore().Field("Heading").ToString().ToString(), "[^a-zA-Z0-9_]+", "").ToLower();
    var energycalculator = DictionaryPhraseRepository.Current.Get("/More Services For You/Energy Calculator/Energy Calculator", "Energy Calculator");
    var PageTitle = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["PageTitle"];
	var i=1;
	
	var Logistics_Brochure = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Logistics_Brochure"];
	 var brochure = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["brochure"];
	
	var DredgingBrochure = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["DredgingBrochure"];
	 var Duescalculator = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Duescalculator"];
	 var SustainabilityReportdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SustainabilityReport1"];
    var SustainabilityReport = Sitecore.Context.Database.GetItem(SustainabilityReportdatasource);
	 
	  var BioMedicaldatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["BioMedical"];
	 var BioMedical= Sitecore.Context.Database.GetItem(BioMedicaldatasource);
	
	 var mundradatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["mundra"];
    var mundra = Sitecore.Context.Database.GetItem(mundradatasource);
	
	
	
	 var tunadatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["tuna"];
    var tuna = Sitecore.Context.Database.GetItem(tunadatasource);
	
	 var dahejdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["dahej"];
    var dahej = Sitecore.Context.Database.GetItem(dahejdatasource);
	
	 var haziradatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["hazira"];
    var hazira = Sitecore.Context.Database.GetItem(haziradatasource);
	
	 var murmugaodatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["murmugao"];
    var murmugao = Sitecore.Context.Database.GetItem(murmugaodatasource);
	
	 var vizhinjamdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["vizhinjam"];
    var vizhinjam = Sitecore.Context.Database.GetItem(vizhinjamdatasource);
	
	
	 var kattupallidatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["kattupalli"];
    var kattupalli = Sitecore.Context.Database.GetItem(kattupallidatasource);
	
	 var gangavaramdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["gangavarams"];
    var gangavaramlist = Sitecore.Context.Database.GetItem(gangavaramdatasource);
	
	 var dighidatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["dighis"];
    var dighilist = Sitecore.Context.Database.GetItem(dighidatasource);
	
	 var ennoredatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ennore"];
    var ennore = Sitecore.Context.Database.GetItem(ennoredatasource);

	
	 var dhamradatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["dhamra"];
    var dhamra = Sitecore.Context.Database.GetItem(dhamradatasource);
	
	
	 var logisticsdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["logistics"];
    var logistics = Sitecore.Context.Database.GetItem(logisticsdatasource);
	var KrishnapatnamPortdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Krishnapatnam"];
    var Krishnapatnam = Sitecore.Context.Database.GetItem(KrishnapatnamPortdatasource);
	
	var industriallanddatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["industrialland"];
    var industrialland = Sitecore.Context.Database.GetItem(industriallanddatasource);

	var karaikallanddatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["karaikal"];
    var karaikal = Sitecore.Context.Database.GetItem(karaikallanddatasource);
	
}


<section class="pb-5 bg-gray">
<div class="container">
<div class="row bg-white p-3 border-bottom mb-2">
<div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Adani Ports and SEZ Brochure</a></div>
<div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@brochure" target="_blank" class="btn btn-gradient">View</a></div>
</div>
</div>
</section>


<section class="pb-5 bg-gray">
<div class="container">
<div class="row bg-white p-3 border-bottom mb-2">
<div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Adani Logistics Brochure</a></div>
<div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@Logistics_Brochure" target="_blank" class="btn btn-gradient">View</a></div>
</div>
</div>
</section>




<section class="pb-5 bg-gray">
<div class="container">
<div class="row bg-white p-3 border-bottom mb-2 mt-3">
<div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Adani Ports and Special Economic Zone Ltd &ndash; Dredging and Reclamation Brochure</a></div>
<div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@DredgingBrochure" target="_blank" class="btn btn-gradient">View</a></div>
</div>
</div>
</section>

<section class="pb-5 bg-gray">
<div class="container">
<div class="row bg-white p-3 border-bottom mb-2 mt-3">
<div class="col-md-9 text-md-left text-center txt-md pt-1"><a>Marine Dues calculator</a></div>
<div class="col-md-3 text-md-right text-center"><a rel="noopener noreferrer" href="@Duescalculator" target="_blank" class="btn btn-gradient">View</a></div>
</div>
</div>
</section>


<section class="py-5 bg-gray">
	<div class="container">
		<div id="accordion" class="accordion investor-faq">
			<div class="card mb-0">
			<div class="card-header collapsed" data-toggle="collapse" href="#Sustainability">
					<a class="card-title">
					   Sustainability Report  
					</a>
				</div>
				<div id="Sustainability" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in SustainabilityReport.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
				<div class="bg-gray py-1"></div>
				<div class="bg-gray py-1"></div>
				
				
				<!--bio medical-->
				@*
			<div class="card-header collapsed" data-toggle="collapse" href="#bio-medical-waste">
					<a class="card-title">
					   Bio Medical Waste Data
					</a>
				</div>
				
				<div id="bio-medical-waste" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in BioMedical.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
*@
				<!--end-->
				
					<div class="bg-gray py-1"></div>
				<div class="bg-gray py-1"></div>
				
				<div class="bg-gray py-1"></div>
				<div class="bg-gray py-1"></div>
				<div class="card-header collapsed" data-toggle="collapse" href="#mundra">
					<a class="card-title">
					   Mundra Port 
					</a>
				</div>
				<div id="mundra" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in mundra.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
				<div class="bg-gray py-1"></div>
				<div class="card-header collapsed" data-toggle="collapse" href="#tuna">
					<a class="card-title">
					   Tuna Terminal
					</a>
				</div>
				<div id="tuna" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in tuna.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#dahej">
					<a class="card-title">
					   Dahej Port
					</a>
				</div>
				<div id="dahej" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in dahej.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#hazira">
					<a class="card-title">
					   Hazira Port
					</a>
				</div>
				<div id="hazira" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in hazira.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#murmugao">
					<a class="card-title">
					   Murmugao Terminal
					</a>
				</div>
				<div id="murmugao" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in murmugao.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#vizhinjam">
					<a class="card-title">
					   Vizhinjam Port
					</a>
				</div>
				<div id="vizhinjam" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in vizhinjam.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#dhamra">
					<a class="card-title">
					   Dhamra Port
					</a>
				</div>
				<div id="dhamra" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in dhamra.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				
				
				
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#kattupalli">
					<a class="card-title">
					   Kattupalli  Port
					</a>
				</div>
				<div id="kattupalli" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in kattupalli.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#ennore">
					<a class="card-title">
					   Ennore  Terminal
					</a>
				</div>
				<div id="ennore" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in ennore.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				
				
				
				
				
				
				<div class="bg-gray py-1"></div>
				<div class="card-header collapsed" data-toggle="collapse" href="#Krishnapatnam">
					<a class="card-title">
					   Krishnapatnam Port
					</a>
				</div>
				<div id="Krishnapatnam" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in Krishnapatnam.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
				
				
				
				<div class="bg-gray py-1"></div>
				<div class="card-header collapsed" data-toggle="collapse" href="#gangavaram">
					<a class="card-title">
					   Gangavaram Port
					</a>
				</div>
				<div id="gangavaram" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in gangavaramlist.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
				
				
				
				
				<div class="bg-gray py-1"></div>
				<div class="card-header collapsed" data-toggle="collapse" href="#dighi">
					<a class="card-title">
					   Dighi Port
					</a>
				</div>
				<div id="dighi" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in dighilist.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
				
				<div class="bg-gray py-1"></div>
				<div class="card-header collapsed" data-toggle="collapse" href="#karaikal">
					<a class="card-title">
					   Karaikal Port
					</a>
				</div>
				<div id="karaikal" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in karaikal.Children.ToList())
					{
						LinkField URL = child.Fields["Link"];
						if (URL.TargetItem != null)
						{
							var item = URL.TargetItem;

							<div class="container mt-4">
								<h2 class="heading pl-4 mb-4">@child.Name</h2>
								<div class="row">
									@foreach (var docs in item.Children.ToList())
									{
										var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
										var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

										<div class="col-md-4 mb-4">
											<a href="@url"><div class="tariff-block bg-white border p-3">
												<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
												<p>@docs.Name</p>
											</div></a>
										</div>
									}

								</div>
							</div>
						}
					}
					</div>
				</div>
				
				
				<div class="bg-gray py-1"></div>
				
				<div class="card-header collapsed" data-toggle="collapse" href="#logistics">
					<a class="card-title">
					   Logistics 
					</a>
				</div>
				<div id="logistics" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in logistics.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
				
				
				<div class="card-header collapsed" data-toggle="collapse" href="#industrialland">
					<a class="card-title">
					  Industrial Land
					</a>
				</div>
				<div id="industrialland" class="card-body collapse" data-parent="#accordion">
				   <div class="p-4">
					@foreach (var child in industrialland.Children.ToList())
						{
							LinkField URL = child.Fields["Link"];
							if (URL.TargetItem != null)
							{
								var item = URL.TargetItem;

								<div class="container mt-4">
									<h2 class="heading pl-4 mb-4">@child.Name</h2>
									<div class="row">
										@foreach (var docs in item.Children.ToList())
										{
											var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
											var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

											<div class="col-md-4 mb-4">
												<a href="@url">
												<div class="tariff-block bg-white border p-3">
													<!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
													<p>@docs.Name</p>
												</div>
												</a>
											</div>
										}

									</div>
								</div>
							}
						}

				</div>
				</div>
				<div class="bg-gray py-1"></div>
			</div>
		</div>
	</div>
</section>

