@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'  https://*.adaniports.com  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-1126c7f27c' ; style-src 'self' https://*.adaniports.com ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.adaniports.com https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'  https://*.adaniports.com data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.adaniports.com https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com   />
    <meta name="robots" content="index, follow">
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49958942-1"></script>
    <script nonce="1126c7f27c">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-49958942-1');
    </script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->


    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="navPanel fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-8 border-right py-2 text-center">

                        <a class="navbar-brand" href="/"><img src="-/media/E22DAD7A3F5B4EF484A6D41626D9BEB4.ashx" alt="Adani Ports" class="img-fluid"></a>
                    </div>
                    <div class="col-sm-9 col-4">
                        <div class="row">
                            <div class="col-lg-9 col-0">
                                @Html.Sitecore().Placeholder("header-top")
                            </div>
                            <div class="col-md-3 col-sm-4 col-10 ml-auto">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <div class="row">
                                            <div class="col-sm-6 col-6">
                                                <p class="searchIcon d-none"><a href="#"><span><i class="fas fa-search"></i></span></a></p>
                                            </div>
                                            <div class="col-sm-6 col-6">
                                                <!-- Toggle button to show/hide side top menu -->
                                                <div class="d-block d-lg-none topNavBtn">

                                                    <button type="button" id="topNavCollapse" class="btn btn-menu">
                                                        <!--<i class="fas fa-align-justify"></i>-->
                                                        <i class="fas fa-bars"></i>
                                                    </button>
                                                </div>
                                                <!-- /Toggle button to show/hide top menu -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row nav-bg-blue">
                            <div class="col-sm-8 col-md-9">
                                @Html.Sitecore().Placeholder("navbar")
                            </div>
                            <div class="col-sm-4 col-md-3 mobile-none">

                                <p><a href="#cTrackingModal" data-toggle="modal" data-target="#cTrackingModal" class="btn-tracking">Container Tracking</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="desktop-none bg-gray">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                                <!--<span class="navbar-toggler-icon"></span>-->
                                <span class="far fa-circle"></span>
                                <span class="far fa-circle"></span>
                                <span class="far fa-circle"></span>
                            </button>
                        </div>
                        <div class="col-6 text-right">
                            <p><a href="#cTrackingModal" data-toggle="modal" data-target="#cTrackingModal" class="btn-tracking">Container Tracking</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>


    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main" class="main">
        <div class="contentSection homepage">
            @Html.Sitecore().Placeholder("page-layout")
        </div>
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <!-- Footer -->
    <footer class="pt-5 bg-white position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- The Modal -->
    <div class="modal video" id="cTrackingModal">
        <div class="modal-dialog modal-dialog-centered modal-xs">
            <div class="modal-content modal-lg">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <!-- Modal body -->

            </div>
        </div>
    </div>
    <!-- /Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lfwlk8mAAAAADm4UhICQR0KxNZKWC_3TwNpDlEm"></script>
    <!--<script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>-->
    @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
        <script src="~/scripts/Realty/popper.min.js"></script>
        <script src="~/scripts/Realty/bootstrap.min.js"></script>

        <!--[if lte IE 8]>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
        <![endif]-->

        <!-- Owl Carousel -->
        <script src="~/scripts/Realty/owl.carousel.min.js"></script>

        <!-- Gallery carousel -->

        <script src="~/scripts/Realty/carousle-slider.js"></script>

        <!-- Custom JavaScript for Adani Electricity
        ================================================== -->
        <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
    <!-- <script src="~/scripts/Ports/AccountRegistrationForm.js"></script> -->
</body>
</html>
