
@using Adani.BAU.Adv.Project.Helper;
@using Sitecore.Mvc;
@using Adani.BAU.Adv.Project;

<div class="header">
    @Html.Raw(@ContentHelper.Navigation(Constant.strHeader))

</div>
<div>
    @Html.Raw(@Html.Sitecore().Field("Text"))
</div>
<div class="footer">
    @Html.Raw(@ContentHelper.Navigation(Constant.strFooter))


</div>
