@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-frame-options" content="allow">
    @*<meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=registerCallBack&render=explicit" async defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
    <script type="text/javascript">
        var pathArray = window.location.pathname.split('/');
        var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
        getText = "Adani Defence - " + getText + " by @@AdaniOnline";
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough: {
                twitter: {
                    text: getText
                }
            }
        }
    </script>
    <script>
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
</head>
<body>
    <header class="main_header headerSec">

        </div>
        <div class="overlay-top"></div>
        <div class="menu-overlay d-none"></div>

        @Html.Sitecore().Placeholder("header")
    </header>
    @Html.Sitecore().Placeholder("page-layout")

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @if (Sitecore.Context.Item.Fields["JavascriptLink"] != null)
    {
        var script = Sitecore.Context.Item.Fields["JavascriptLink"].Value.Split('|');
        foreach (var item in script)
        {
            <script src="@item"></script>
        }
    }




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    @*<script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js" type="text/javascript"></script>


    <script src="https://intl-tel-input.com/node_modules/intl-tel-input/build/js/intlTelInput.js?1549804213570"></script>
    <link href="https://intl-tel-input.com/node_modules/intl-tel-input/build/css/intlTelInput.css?1549804213570"
          rel="stylesheet">

    <script>
        $('.banner-slider').slick({
            dots: true,
            infinite: true,
            loop: true,
            autoplay: false,
            arrows: false,
            autoplaySpeed: 1000,
            fade: true,
            speed: 500,
            cssEase: 'ease-in-out',
            touchThreshold: 100,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        autoplay: false,
                        speed: 300
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>

    <script>
        $('.slider-capability').slick({
            dots: false,
            infinite: true,
            loop: true,
            autoplay: false,
            arrows: true,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: '<div class="slider-arrow slider-prev fa fa-angle-left"></div>',
            nextArrow: '<div class="slider-arrow slider-next fa fa-angle-right"></div>',
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        autoplay: false,
                        speed: 300
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>

    <script>
        $('.slider-partner').slick({
            dots: true,
            infinite: true,
            loop: true,
            autoplay: false,
            arrows: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        autoplay: false,
                        speed: 300
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>

    <script>
        $('.csr-slider').slick({
            dots: true,
            infinite: true,
            loop: true,
            autoplay: false,
            arrows: false,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        autoplay: false,
                        speed: 300
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <script>
        $(function () {
            $('.ArrowScrollDown').on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: $($(this).toggleClass('.ArrowScrollDown')).offset().top }, 600, 'linear');
            });
        });
    </script>


    <script>

        $('.scroll_down a').on('click', function (e) {
            var href = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(href).offset().top - 70
            }, '600');
            e.preventDefault();
        });

        // Hide Header on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 0;
        var navbarHeight = 0;

        $(window).scroll(function (event) {
            didScroll = true;
        });

        setInterval(function () {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);
        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            $('#back-to-top').fadeIn();
            $('header.main_header').addClass('fixed-header');
            $('header.inner_header').addClass('box-shadow');
            $('header.main_header').removeClass('headerSec');
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                //$('.btm-floating').addClass('active');

            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {

                }
            }
            if (st < 150) {

                $('#back-to-top').hide();
                $('header.main_header').removeClass('fixed-header');
                $('header.main_header').addClass('headerSec');
                $('header.inner_header').removeClass('box-shadow');
                //$('.btm-floating').removeClass('active');
            }
            lastScrollTop = st;
        }

    </script>

    <script>

        let mybutton = document.getElementById("btn-back-to-top");

        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 100 ||
                document.documentElement.scrollTop > 1000
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>

    <script>
        $("a.explore--open").click(function () {
            if ($(".news-box").hasClass("show-more-height")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box").toggleClass("show-more-height");
        });
    </script>

    <script>
        $("a.explore--open-1").click(function () {
            if ($(".news-box-1").hasClass("show-more-height-1")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-1").toggleClass("show-more-height-1");
        });
    </script>

    <script>
        $("a.explore--open-2").click(function () {
            if ($(".news-box-2").hasClass("show-more-height-2")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-2").toggleClass("show-more-height-2");
        });
    </script>

    <script>
        $("a:not([href]).explore--open-3").click(function () {
            if ($(".news-box-3").hasClass("show-more-height-3")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-3").toggleClass("show-more-height-3");
        });
    </script>

    <script>
        $("a:not([href]).explore--open-4").click(function () {
            if ($(".news-box-4").hasClass("show-more-height-4")) {
                $(this).text("Explore Less");
            } else {
                $(this).text("Explore More");
            }

            $(".news-box-4").toggleClass("show-more-height-4");
        });
    </script>

    <script>


        var countryData = window.intlTelInputGlobals.getCountryData(),
            input = document.querySelector("#fxb_3d39bc0e-acd7-4914-a076-05e30425192e_Fields_9e2d6f45-40ef-459f-8590-18b13e76ee6c__Value"),
            addressDropdown = document.querySelector("#address-country");

        // init plugin
        var iti = window.intlTelInput(input, {
            hiddenInput: "full_phone",
            preferredCountries: ["in"],
            utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
        });

        // populate the country dropdown
        for (var i = 0; i < countryData.length; i++) {
            var country = countryData[i];
            var optionNode = document.createElement("option");
            optionNode.value = country.iso2;
            var textNode = document.createTextNode(country.name);
            optionNode.appendChild(textNode);
            addressDropdown.appendChild(optionNode);
        }
        // set it's initial value
        addressDropdown.value = iti.getSelectedCountryData().iso2;

        // listen to the telephone input for changes
        input.addEventListener('countrychange', function (e) {
            addressDropdown.value = iti.getSelectedCountryData().iso2;
        });

        // listen to the address dropdown for changes
        addressDropdown.addEventListener('change', function () {
            iti.setCountry(this.value);
        });
    </script>

    <script>
        function ourLocations(location) {

            var element = document.getElementsByClassName("popuptext");
            for (i = 0; i < element.length; i++) {
                element[i].classList.remove("show");
            }
            var popup = document.getElementById(location);
            popup.classList.toggle("show");
        }

    </script>
    <script>
        // International telephone format
        // $("#phone").intlTelInput();
        // get the country data from the plugin
        var countryData = window.intlTelInputGlobals.getCountryData(),
            input = document.querySelector("#fxb_66fc9d44-d01a-46a5-bfb2-f7351df8a293_Fields_57f8e6ee-83a8-4635-914a-5199576ebc2a__Value"),
            addressDropdown = document.querySelector("#address-country");

        // init plugin
        var iti = window.intlTelInput(input, {
            hiddenInput: "full_phone",
            preferredCountries: ["in"],
            utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
        });

        // populate the country dropdown
        for (var i = 0; i < countryData.length; i++) {
            var country = countryData[i];
            var optionNode = document.createElement("option");
            optionNode.value = country.iso2;
            var textNode = document.createTextNode(country.name);
            optionNode.appendChild(textNode);
            addressDropdown.appendChild(optionNode);
        }
        // set it's initial value
        addressDropdown.value = iti.getSelectedCountryData().iso2;

    </script>
    <script>
        // International telephone format
        // $("#phone").intlTelInput();
        // get the country data from the plugin
        var countryData = window.intlTelInputGlobals.getCountryData(),
            input = document.querySelector("#fxb_423d21e4-b504-4d68-8fb0-c273564222ff_Fields_57f8e6ee-83a8-4635-914a-5199576ebc2a__Value"),
            addressDropdown = document.querySelector("#address-country");

        // init plugin
        var iti = window.intlTelInput(input, {
            hiddenInput: "full_phone",
            preferredCountries: ["in"],
            utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
        });

        // populate the country dropdown
        for (var i = 0; i < countryData.length; i++) {
            var country = countryData[i];
            var optionNode = document.createElement("option");
            optionNode.value = country.iso2;
            var textNode = document.createTextNode(country.name);
            optionNode.appendChild(textNode);
            addressDropdown.appendChild(optionNode);
        }
        // set it's initial value
        addressDropdown.value = iti.getSelectedCountryData().iso2;

    </script>
    <script>

        // International telephone format
        // $("#phone").intlTelInput();
        // get the country data from the plugin
        var countryData = window.intlTelInputGlobals.getCountryData(),
            input = document.querySelector("#fxb_b0659d58-4886-4d15-9fdf-a17a14b71504_Fields_353bc8cc-3b9a-48aa-a8c4-dcf544221a04__Value"),
            addressDropdown = document.querySelector("#address-country");

        // init plugin
        var iti = window.intlTelInput(input, {
            hiddenInput: "full_phone",
            preferredCountries: ["in"],
            utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
        });

        // populate the country dropdown
        for (var i = 0; i < countryData.length; i++) {
            var country = countryData[i];
            var optionNode = document.createElement("option");
            optionNode.value = country.iso2;
            var textNode = document.createTextNode(country.name);
            optionNode.appendChild(textNode);
            addressDropdown.appendChild(optionNode);
        }
        // set it's initial value
        addressDropdown.value = iti.getSelectedCountryData().iso2;

    </script>
    <script>

        // International telephone format
        // $("#phone").intlTelInput();
        // get the country data from the plugin
        var countryData = window.intlTelInputGlobals.getCountryData(),
            input = document.querySelector("#fxb_7f2ea195-df4f-4a29-a265-204b676cbd8f_Fields_57f8e6ee-83a8-4635-914a-5199576ebc2a__Value"),
            addressDropdown = document.querySelector("#address-country");

        // init plugin
        var iti = window.intlTelInput(input, {
            hiddenInput: "full_phone",
            preferredCountries: ["in"],
            utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
        });

        // populate the country dropdown
        for (var i = 0; i < countryData.length; i++) {
            var country = countryData[i];
            var optionNode = document.createElement("option");
            optionNode.value = country.iso2;
            var textNode = document.createTextNode(country.name);
            optionNode.appendChild(textNode);
            addressDropdown.appendChild(optionNode);
        }
        // set it's initial value
        addressDropdown.value = iti.getSelectedCountryData().iso2;

    </script>

    <script>


        var countryData = window.intlTelInputGlobals.getCountryData(),
            input = document.querySelector(".drp"),
            addressDropdown = document.querySelector("#address-country");

        // init plugin
        var iti = window.intlTelInput(input, {
            hiddenInput: "full_phone",
            preferredCountries: ["in"],
            utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
        });

        // populate the country dropdown
        for (var i = 0; i < countryData.length; i++) {
            var country = countryData[i];
            var optionNode = document.createElement("option");
            optionNode.value = country.iso2;
            var textNode = document.createTextNode(country.name);
            optionNode.appendChild(textNode);
            addressDropdown.appendChild(optionNode);
        }
        // set it's initial value
        addressDropdown.value = iti.getSelectedCountryData().iso2;

        // listen to the telephone input for changes
        input.addEventListener('countrychange', function (e) {
            addressDropdown.value = iti.getSelectedCountryData().iso2;
        });

        // listen to the address dropdown for changes
        addressDropdown.addEventListener('change', function () {
            iti.setCountry(this.value);
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".sub-menu-btn").click(function () {
                $(this).next(".collapse").slideToggle(250);
                $(this).toggleClass('active');
                setTimeout(function () {
                    document.querySelector(".sidebar-navigation .hamburger_section.single_item")?.scrollIntoView();
                }, 300);
            });
        });
    </script>




    <script>
        let sliderContainer = document.querySelector(".slider-container");
        let innerSlider = document.querySelector(".inner-slider");

        let pressed = false;
        let startX;
        let x;
        sliderContainer.addEventListener("mousedown", (e) => {
            pressed = true;
            startX = e.offsetX - innerSlider.offsetLeft;
            sliderContainer.style.cursor = "grabbing";
        });
        sliderContainer.addEventListener("mouseenter", () => {
            sliderContainer.style.cursor = "grab";
        });
        sliderContainer.addEventListener("mouseup", () => {
            sliderContainer.style.cursor = "grab";
            pressed = false;
        });
        sliderContainer.addEventListener("mousemove", (e) => {
            if (!pressed) return;
            e.preventDefault();

            x = e.offsetX;

            innerSlider.style.left = `${x - startX}px`;
        });

    </script>

    <!-- search -->
    <script>
        $("#searchright").change(function (e) {
            //Serialize the form datas.
            var searchstring = $("#searchright").val();
            if (searchstring != "" && searchstring.length > 2) {
                window.location.href = "/DefenceSearch?s=" + searchstring;

                //$.ajax({
                //    url: "/api/Defence/DefenceSearch",
                //    type: "POST",
                //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                //    data: { "s": searchstring },
                //    success: function (response) {
                //    }
                //})

            }
            else {
                alert("Please enter more than 3 characters");
            }



        });
    </script>

    <script>
        $("#searchright1").click(function (e) {
            //Serialize the form datas.
            var searchstring = $("#searchbox").val();
            if (searchstring != "" && searchstring.length > 2) {
                window.location.href = "/DefenceSearch?s=" + searchstring;

                //$.ajax({
                //    url: "/api/Defence/DefenceSearch",
                //    type: "POST",
                //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                //    data: { "s": searchstring },
                //    success: function (response) {
                //    }
                //})

            }
            else {
                alert("Please enter more than 3 characters");
            }



        });
        $("#SearchLoad").click(function () {
            var lastIndex = parseInt($("#hidden").val());
            if (parseInt(localStorage.getItem('clickCount')) > 0) {
                $("#hidden").val(parseInt(lastIndex + 5));
            }
            LoadmoreInsights(0);
        });



        function LoadmoreInsights(hasCount) {
            var lastIndex = parseInt($("#hidden").val());
            $.ajax({
                type: "GET",
                url: "/api/sitecore/Defence/DefenceSearchLoadMore",
                contentType: "application/html; charset=utf-8",
                data: { s: location.search.split("=")[1], lastIndex: lastIndex },
                dataType: "html",
                success: function (result) {
                    $('#2023').append(result);
                    if (hasCount <= 0) {
                        if (parseInt(localStorage.getItem('clickCount')) >= 1) {
                            localStorage.setItem('clickCount', parseInt(localStorage.getItem('clickCount')) + 1);
                        }
                        else {
                            localStorage.setItem('clickCount', 1);
                        }
                    }
                    /*if (hasCount > 0) {
                        $("#hidden").val(parseInt(lastIndex + (parseInt(localStorage.getItem('clickCount')) * 5) - 8));
                    }*/
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }



    </script>
    @*<script>
            $('#searchright').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    window.open('/DefenceSearch')
                }
            });
        </script>*@
    <!-- search -->
</html>


