@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var element = Sitecore.Context.Item;
}
@if (element != null)
{
    <section class="bg-white chairman-blocks">
        <div class="container">
            <div class="row">
                @if (element.HasChildren)
                {
                    foreach (Item item in element.GetChildren())
                    {
                        if (item.DisplayName == "CEO Message")
                        {
                            var Itemurl = Sitecore.Links.LinkManager.GetItemUrl(element).ToLower();
                            <div class="col-lg-6 my-lg-5 my-3 pr-lg-4">
                                <a class="bg-blue d-block h-100 chairman-box boxzoom" href="https://stage.adanihousing.in/About-Us/CEO-message">
                                    <div class="p-4 row h-100">
                                        <div class="col-md-8 mb-3">
                                            <h3 class="mb-3">@Html.Sitecore().Field("Title", item)</h3>
                                            <h4 class="txt-sm mb-4">
                                                @Html.Sitecore().Field("ShortDescription", item)
                                            </h4>
                                            <p class="signature">@Html.Sitecore().Field("Heading", item)<span>@Html.Sitecore().Field("Designation", item)</span></p>

                                        </div>
                                        <div class="col-md-4">@Html.Sitecore().ImageFieldWithoutSize(Sitecore.Data.ID.Parse("{F9B99863-924B-4B88-AEE3-EB6B84727140}"), item, 0, 0, "img-fluid")</div>
                                    </div>
                                </a>
                            </div>
                        }
                        if (item.DisplayName == "Chairman Message")
                        {
                            var Itemurl = Sitecore.Links.LinkManager.GetItemUrl(element).ToLower();
                            <div class="col-lg-6 my-lg-5 my-3 pr-lg-4">
                                <a class="bg-green boxzoom chairman-box d-block h-100" href="https://stage.adanihousing.in/About-Us/Chairman-message">
                                    <div class="p-4 row h-100">
                                        <div class="col-md-8 mb-3">
                                            <h3 class="mb-3">@Html.Sitecore().Field("Title", item)</h3>
                                            <h4 class="txt-sm mb-4">@Html.Sitecore().Field("ShortDescription", item)</h4>
                                            <p class="signature">@Html.Sitecore().Field("Heading", item)<span>@Html.Sitecore().Field("Designation", item)</span></p>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Sitecore().ImageFieldWithoutSize(Sitecore.Data.ID.Parse("{F9B99863-924B-4B88-AEE3-EB6B84727140}"), item, 0, 0, "img-fluid")
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                }



            </div>
        </div>
    </section>
}
<!--/section-->
