@model Sitecore.AdaniHousing.Website.Models.AdaniHousingBranchListModel
@{
    var contextItem = Sitecore.Context.Item;
}
@if (Model != null)
{
    if (contextItem.ID == new Sitecore.Data.ID("{B69E295E-4573-41E1-B5BF-5F6E4B513B46}")) //after login branch locator ID
    {
        <div class="wrapper-body">
            <div class="user_profile apply_loan">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>Branch Locator</h3>
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="branch-tab" data-toggle="tab" href="#branch" role="tab" aria-controls="branch" aria-selected="true">Branch Locator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ccentre-tab" data-toggle="tab" href="#ccentre" role="tab" aria-controls="ccentre" aria-selected="false">Collection Centre Locator</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="branch" role="tabpanel" aria-labelledby="branch-tab">
                                <div class="branch_locator">
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.State, "State")
                                                @Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Value", "Text"), "Select State", htmlAttributes: new { @class = "form-control", id = "Locator-State" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select id="Locator-City" class="form-control">
                                                    <option value="" selected />Select City
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="bg-gray p-4 address_parent">
                                                <h4 class="mb-4">Branch Information</h4>
                                                <div id="branch-info">
                                                    <div>
                                                        @Html.Sitecore().Field("Description", contextItem)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ccentre" role="tabpanel" aria-labelledby="ccentre-tab">
                                @Html.Sitecore().Placeholder("centre-locator")
                            </div>
                        </div>
                        
                    </div>
					<div class="col-lg-5">
                            <div class="side_thumb">
                                <img src="-/media/99D4CD39E9A648D196FD7BB6B6AB733F.ashx">
                            </div>
                        </div>
                </div>                
            </div>
        </div><!--/section-->
    }
    else
    {
        <section class="section_padding bg-white text_container">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="branch-tab" data-toggle="tab" href="#branch" role="tab" aria-controls="branch" aria-selected="true">Branch Locator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ccentre-tab" data-toggle="tab" href="#ccentre" role="tab" aria-controls="ccentre" aria-selected="false">Collection Centre Locator</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="branch" role="tabpanel" aria-labelledby="branch-tab">
                        <div class="row">
                            <div class="col-lg-9 pr-lg-5">
                                <div class="branch_locator">
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.State, "State")
                                                @Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Value", "Text"), "Select State", htmlAttributes: new { @class = "form-control", id = "Locator-State" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select id="Locator-City" class="form-control">
                                                    <option value="" selected />Select City
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="bg-gray p-4 address_parent">
                                                <h3 class="mb-4">Branch Information</h3>
                                                <div id="branch-info">
                                                    <div>
                                                        @Html.Sitecore().Field("Description", contextItem)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 pl-lg-4">
                                <div class="text-center py-5 d-lg-block d-none">
                                    <img alt="" src="-/media/5888D6B7125B414F8A637A9C6E442F0F.ashx" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ccentre" role="tabpanel" aria-labelledby="ccentre-tab">
                        @Html.Sitecore().Placeholder("centre-locator")
                    </div>
                </div>

            </div>
        </section><!--/section-->
    }
}

