@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    /**/

    var contextItem = Sitecore.Context.Item;
    var BGImage = Helper.ImageTagUrl("BGImage", contextItem);
    var Image1 = Helper.ImageTagUrl("Image1", contextItem);
    var Image2 = Helper.ImageTagUrl("Image2", contextItem);
}
    <section class="section_padding adani-life">
        <div class="bg-images">@Html.Raw(BGImage)</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h3 class="border-left section-heading">@Html.Sitecore().Field("LADSectionHeading", contextItem)</h3>
                    @Html.Sitecore().Field("LADSectionContent", contextItem)
                </div>
                <div class="col-lg-5">
                    <div class="owl-carousel career_carousel">
                        <div class="item">
                            @Html.Raw(Image1)
                        </div>
                        <div class="item">
                            @Html.Raw(Image2)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/section-->
