@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Resources.Media
@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var contextItem = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<div class="hero-banner-wrapper">
<div class="container">
<div class="header-content">
        <h1>Welcome to Adani Housing Finance</h1>
        <p>We at Adani Housing Finance aim at making every Indian’s dream home a reality through customized financing solutions in the affordable housing segment</p>
      </div>
        <ul class="banner-cards">
          <li>
            <a href="#default_modal" data-toggle="modal" data-target="#default_modal">
              <figure>
                <img src="-/media/443F0691C708431A8904A75179DC3939.ashx" />
              </figure>
              <footer>
                  <h3>Apply for Loan <img src="-/media/CEC7E6DB1ADA43DA802BCF281319B920.ashx" class="arrow" /></h3>
                  <label>Get quick loans or check eligibility here</label>
              </footer>
            </a>
          </li>
          <li>
            <a href="/login">
            <figure>
              <img src="-/media/877A51C0F6534C0ABC1C8B07459836B2.ashx" />
            </figure>
            <footer>
                <h3>Account Login <img src="-/media/CEC7E6DB1ADA43DA802BCF281319B920.ashx" class="arrow" /></h3>
                <label>Existing housing finance customers</label>
            </footer>
            </a>
          </li>
          <li>
            <a href="/Become-a-Partner">
            <figure>
              <img src="-/media/B5E3F856E7AD4E54BE2E673392D2FF91.ashx" />
            </figure>
            <footer>
                <h3>Refer & Earn <img src="-/media/CEC7E6DB1ADA43DA802BCF281319B920.ashx" class="arrow" /></h3>
                <label>Partner with us at Adani Housing Finance & earn</label>
            </footer>
            </a>
          </li>
        </ul>
		</div>
    </div>
<section class="hero_banner_container">
    <div class="owl-carousel hero-banner">
        @if (element != null)
        {
            if (element.GetChildren() != null)
            {
                foreach (Item item in element.GetChildren())
                {
                    var DesktopBannerImage = Helper.ImageUrl("DesktopBannerImage", item);
                    var MobileBannerImage = Helper.ImageUrl("MobileBannerImage", item);
                    var BannerImageTag = Helper.ImageTagUrl("MobileBannerImage", item);
                    <div class="item">
                        <picture>
                            <source srcset="@DesktopBannerImage" media="(min-width:540px)">
                            <source srcset="@MobileBannerImage" media="(min-width:0)">
                            @Html.Raw(BannerImageTag)
                        </picture>
                        <div class="banner-content">
                            <div class="container">
                                <div>
                                    @if (!String.IsNullOrWhiteSpace(Html.Sitecore().Field("MediaTitle", item).ToString()))
                                    {
                                        <h1>@Html.Sitecore().Field("MediaTitle", item)</h1>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Html.Sitecore().Field("SubTitle", item).ToString()))
                                    {
                                        <h2>@Html.Sitecore().Field("SubTitle", item)</h2>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Html.Sitecore().Field("Summary", item).ToString()))
                                    {
                                        <p>@Html.Sitecore().Field("Summary", item)</p>
                                    }
                                    @Html.Sitecore().Field("MediaDescription", item)
                                    @if (!String.IsNullOrWhiteSpace(item.Fields["MediaLink"].Value))
                                    {
                                        var url = Helper.LinkUrl(item.Fields["MediaLink"]);
                                        <a href="@url">Know more <span class="fa fa-angle-right"></span></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section><!--/section-->
<div class="marquee_section">
<div class="container">
    <div class="info-txt">
       <svg width="17" height="17" viewBox="0 0 16 16"><path fill="var(--teflon)" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0-1A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm0-8a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 1a.75.75 0 0 1 .75.75v3.5a.75.75 0 1 1-1.5 0v-3.5A.75.75 0 0 1 8 7z"></path></svg><strong>INFORMATION:</strong>
    </div>
    <marquee class="li pinter-n" direction="”right”" onmouseover="stop()" onmouseout="start()">
        @Html.Sitecore().Field("MorqueText", contextItem)
    </marquee>
</div>
</div>