@model Sitecore.AdaniHousing.Website.Models.AdaniHousingCollectionCentreListModel
@{
    var contextItem = Sitecore.Context.Item;
}
@if (Model != null)
{
    if (contextItem.ID == new Sitecore.Data.ID("{B69E295E-4573-41E1-B5BF-5F6E4B513B46}")) //after login branch locator ID
    {
        <div class="branch_locator">
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.State, "State")
                        @Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Value", "Text"), "Select State", htmlAttributes: new { @class = "form-control", id = "centre-State" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City</label>
                        <select id="centre-City" class="form-control">
                            <option value="" selected />Select City
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="bg-gray p-4 address_parent">
                        <h3 class="mb-4">Center Information</h3>
                        <div id="centre-info">
                            <div>
                                @Html.Sitecore().Field("Description", contextItem)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-9 pr-lg-5">
                <div class="branch_locator">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.State, "State")
                                @Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Value", "Text"), "Select State", htmlAttributes: new { @class = "form-control", id = "centre-State" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <select id="centre-City" class="form-control">
                                    <option value="" selected />Select City
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="bg-gray p-4 address_parent">
                                <h3 class="mb-4">Center Information</h3>
                                <div id="centre-info">
                                    <div>
                                        @Html.Sitecore().Field("Description", contextItem)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pl-lg-4">
                <div class="text-center py-5 d-lg-block d-none">
                    <img alt="" src="-/media/204ECF4D843449049A1A36A025B20621.ashx" class="img-fluid" />
                </div>
            </div>
        </div>
    }
}

