@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
<div class="text-center">
    @if (element.HasChildren)
    {
        foreach (Item item in element.GetChildren())
        {
            LinkField lf = item.Fields["LinkUrl"];
            var IconImage = Helper.ImageUrl("LinkImage", item);
            if (lf.LinkType == "external")
            {
                <a href="@Helper.LinkUrl(item.Fields["LinkUrl"])" class="mr-2" target="_blank"><img src="@IconImage" alt="@Html.Sitecore().Field("Title",item)" style="max-width:80px;"></a>
            }
            else
            {
                <a href="@Helper.LinkUrl(item.Fields["LinkUrl"])" class="mr-2"><img src="@IconImage" alt="@Html.Sitecore().Field("Title",item)" style="max-width:80px;"></a>
            }
        }
    }

</div>
}

