@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if(element!= null)
{
<ul class="ft-social">
    @if (element.HasChildren)
    {
        foreach (Item item in element.GetChildren())
        {
            LinkField lf = item.Fields["LinkUrl"];
            if (lf.LinkType == "external")
            {
                <li><a href="@Helper.LinkUrl(item.Fields["LinkUrl"])" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.Sitecore().Field("Title",item)"><i class="@Html.Sitecore().Field("Text",item)"> </i></a></li>
            }
            else
            {
                <li><a href="@Helper.LinkUrl(item.Fields["LinkUrl"])" title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.Sitecore().Field("Title",item)"><i class="@Html.Sitecore().Field("Text",item)"> </i></a></li>
            }
        }
    }
</ul>
}
