@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
    <div class="col-lg-8">
        <div class="row h-100 no-gutters">
            <div class="col-md-6 order-md-1 order-2">
                <div class="mgmgt-msg">
                    <h3 class="section-heading text-white">@Html.Sitecore().Field("Title", element)</h3>
                    <p class="mb-4">@Html.Sitecore().Field("ShortDescription", element)</p>
                    <p class="ceo">@Html.Sitecore().Field("Heading", element)<span>@Html.Sitecore().Field("Designation", element)</span></p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <div class="mgmgt-thumb">
                    @Html.Sitecore().ImageFieldWithoutSize(Sitecore.Data.ID.Parse("{F9B99863-924B-4B88-AEE3-EB6B84727140}"), element, 0, 0, "")
                </div>
            </div>
        </div>
    </div>
}

