@using Sitecore.AdaniHousing.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
    <div class="col-lg-8">
        <div class="row h-100 no-gutters">
            <div class="col-md-6 order-md-1 order-2">
                <div class="mgmgt-msg">
                    <h3 class="section-heading text-white">@Html.Sitecore().Field("Title", element)</h3>
                    <p class="mb-4">@Html.Sitecore().Field("ShortDescription", element)</p>
                    <p class="ceo">@Html.Sitecore().Field("Heading", element)<span>@Html.Sitecore().Field("Designation", element)</span></p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <div class="mgmgt-thumb">
                    @Html.Sitecore().ImageFieldWithoutSize(Sitecore.Data.ID.Parse("{F9B99863-924B-4B88-AEE3-EB6B84727140}"), element, 0, 0, "")
                </div>
            </div>
        </div>
    </div>
}

<section class="section_cust-stories section_padding">
    <div class="container">
        <h2>@Html.Sitecore().Field("Text", element)</h2>
        <div class="owl-carousel carousel_cust--stories">
            @if (element.HasChildren)
            {
                foreach (Item story in element.GetChildren())
                {
                    <div class="item">
                        <div class="cust--stories_main">
                            <div class="cust--stories_main-content">
                                <p>
                                    The EMI calculator was very helpful. Before applying for a home loan, I got to check the EMIs I have to pay every month for a selected tenure. It was an easy going process overall
                                </p>
                            </div>
                            <div class="cust--stories_main-thumb">
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="/Images/AdaniCapital/testimonial_01.png">
                                    </div>
                                    <div class="col-auto">
                                        <div>
                                            <h3>Abdul Khan</h3>
                                            <p>Farmer</p>
                                        </div>
                                        <div class="star-rating d-none">
                                            <span class="fas fa-star" data-rating="1"></span>
                                            <span class="fas fa-star" data-rating="2"></span>
                                            <span class="fas fa-star" data-rating="3"></span>
                                            <span class="fas fa-star" data-rating="4"></span>
                                            <span class="fas fa-star" data-rating="5"></span>
                                            <input type="hidden" name="rating1" class="rating-value" value="4.5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>
                            The EMI calculator was very helpful. Before applying for a home loan, I got to check the EMIs I have to pay every month for a selected tenure. It was an easy going process overall
                        </p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/Images/AdaniCapital/testimonial_01.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>Abdul Khan</h3>
                                    <p>Farmer</p>
                                </div>
                                <div class="star-rating">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="4.5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>
                            The EMI calculator was very helpful. Before applying for a home loan, I got to check the EMIs I have to pay every month for a selected tenure. It was an easy going process overall
                        </p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/Images/AdaniCapital/testimonial_01.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>Karan Saxena</h3>
                                    <p>Businessman</p>
                                </div>
                                <div class="star-rating">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="4.5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>The EMI calculator was very helpful. Before applying for a home loan, I got to check the EMIs I have to pay every month for a selected tenure. It was an easy going process overall</p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/Images/AdaniCapital/testimonial_02.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>Rakesh Garg</h3>
                                    <p>Shopkeeper</p>
                                </div>
                                <div class="star-rating">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="cust--stories_main">
                    <div class="cust--stories_main-content">
                        <p>The EMI calculator was very helpful. Before applying for a home loan, I got to check the EMIs I have to pay every month for a selected tenure. It was an easy going process overall</p>
                    </div>
                    <div class="cust--stories_main-thumb">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/Images/AdaniCapital/testimonial_01.png">
                            </div>
                            <div class="col-auto">
                                <div>
                                    <h3>H. Rackham</h3>
                                    <p>Businessman</p>
                                </div>
                                <div class="star-rating">
                                    <span class="fas fa-star" data-rating="1"></span>
                                    <span class="fas fa-star" data-rating="2"></span>
                                    <span class="fas fa-star" data-rating="3"></span>
                                    <span class="fas fa-star" data-rating="4"></span>
                                    <span class="fas fa-star" data-rating="5"></span>
                                    <input type="hidden" name="rating1" class="rating-value" value="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4 d-none"><a href="#" class="btn btn-primary">Read all</a></p>
    </div>
</section><!--/section-->
