@using Sitecore.AdaniHousing.Website.Helper
@{
    var contextItem = Sitecore.Context.Item;
    var BGImage = Helper.ImageTagUrl("BackgroundImage", contextItem);
}
<section class="section_padding bg-white text_container">
    <div class="container">
        @*<h2>@Html.Sitecore().Field("Heading", contextItem)</h2>*@
        <div class="position-relative section-features p-4 mb-3">
            <div class="bg-images">@Html.Raw(BGImage)</div>
            <h2>@Html.Sitecore().Field("Section1Title", contextItem)</h2>
            <div class="row">
                @Html.Sitecore().Field("Section1Content", contextItem)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 my-3">
                <div class="border gray p-4 bg-blue h-100 text-white">
                    <p class="text-white text-md mb-3"><b>@Html.Sitecore().Field("Section2Title", contextItem)</b></p>
                    @Html.Sitecore().Field("Section2Content", contextItem)
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="border gray p-4 bg-green h-100 text-white">
                    <p class="text-white text-md mb-3"><b>@Html.Sitecore().Field("Section3Title", contextItem)</b></p>
                    @Html.Sitecore().Field("Section3Content", contextItem)
                </div>
            </div>
        </div>
        @*@Html.Sitecore().Field("Description", contextItem)*@
    </div>
</section><!--/section-->
