@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}
 <section class="bg-gray py-5">
    <div class="container">
        <h2 class="mb-3 border-l pl-3 txt-lg mb-3">@Html.Sitecore().Field("title",model)</h2>
        <div class="owl-carousel owl-theme three-item">
            @foreach (var items in model.GetChildren().ToList())
            {
            <div class="item p-2">
                @{



                    Sitecore.Data.Fields.LinkField linkField = items.Fields[Templates.HasMedia.Fields.Link];
                    var NavigateUrl = linkField.GetFriendlyUrl();


                }


                <a href="@NavigateUrl" class="business-tile">
                    <div class="business-thumb">@Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, items)</div>
                    <div class="business-title">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title,items)</div>
                    <div class="business-desc">@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, items)</div>
                </a>
            </div>
            }
        </div>
    </div>
</section>
