@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
   
}



    <div class="p-4 bg-white w-100 h-100 overflow-hidden chairman-box bg-gradient">
        <div class="bg-image">
            @Html.Sitecore().ImageField("BackgroundImage", element,0,0, "opacity")
         

        </div>
        <div class="row">
            <div class="col-md-4 text-right order-md-1">
                @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
             
            </div>
            <div class="col-md-8">
                <h3 class="section-heading">@Html.Sitecore().Field("Title",element)</h3>
                <p class="mb-3 txt-xs">@Html.Sitecore().Field("Summary", element)</p>
                <!-- <p class="mb-3 txt-xs">@Html.Sitecore().Field("Description", element)</p> -->
                <p>@Html.Sitecore().Field("Name", element)</p>
                <p class="clearfix"><span class="float-left">@Html.Sitecore().Field("Designation", element)</span><span class="float-right"><a href="/newsroom/Chairman-Corner">Read More</a></span></p>
            </div>
        </div>
    </div>