@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "cssclass").FirstOrDefault().Value;
    // var csselement = Sitecore.Context.Database.GetItem(paramid["cssclass"]);
var i=1;
}




<section class="@paramid py-5">
    <div class="container BOD">
        <h2 class="heading pl-4 mb-4"> @Html.Sitecore().Field("Title", element)</h2>
     @Html.Sitecore().Field("Summary", element)
        <div class="row">
            @foreach (var item in element.Children.ToList())
            {
                string linkUr = Sitecore.Links.LinkManager.GetItemUrl(item);
                <div class="col-lg-3 col-md-6 zoomin my-3 directors-tile">
                <a href="@linkUr">
                    <div class="card">
                        <div class="b-o-director">@Html.Sitecore().ImageField("Image", item, 0, 0, "card-img-top img-fluid")</div>

                        <div class="card-body">
                            <h4 class="card-title">@Html.Sitecore().Field("Title", item)</h4>
                            <p class="card-text">@Html.Sitecore().Field("Summary", item)</p>
                        </div>

                    </div>
                </a>
            </div>
if(i==4)
{
break;
}i++;
            }
        </div>
        <p class="text-center mt-3">
        @{ 

            string linkUrl = Sitecore.Links.LinkManager.GetItemUrl(element);
        }
        <a href="@linkUrl" class="btn btn-gradient">View All</a></p>
    </div>
</section>