@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var NavigateUrl = "";
}

<!-- Banner -->
<div class="mainBanner" >
    <div class="owl-carousel owl-theme homeslider" data-click-state="0">
        @foreach (var item in elements.Children.ToList())
        {
            Sitecore.Data.Fields.LinkField linkField = item.Fields[Templates.HasMediaVideo.Fields.VideoLink];
            NavigateUrl = linkField.Url;
            <div class="item @NavigateUrl" data-videosrc="@NavigateUrl">
                @Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail, item, 0, 0, "image-fluid")
                
                <div class="bannercontent">
				<div class="container">
                    <h1 class="mb-3">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</h1>
                    <h1 class="mb-3"> @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)</h1>
				</div>
			   </div>

            </div>

        }
    </div>
    @*<div class="container position-relative">
            <div class="scroll-down">
                <a href="#footprint"><span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span></a>
            </div>
        </div>*@


    


</div>



