@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
   
}

<section class="pb-5 bg-gray loadmore-content">
<div class="container">
<h2 class="heading pl-4 mb-4">Profile</h2>
<div class="row">
<div class="col-md-3 text-center text-md-right order-md-1">
@Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
<!-- <p class="mt-3"><strong class="txt-md">Gautam Adani</strong><span class="d-block">Chairman, Adani Group</span></p> -->
</div>
 <div class="col-md-9">
@Html.Sitecore().Field("Description", element)

</div>
</div>
</div>
</section>

    <!-- <div class="p-4 bg-white w-100 h-100 overflow-hidden chairman-box bg-gradient"> -->
        <!-- <!-- <div class="bg-image"> -->
            <!-- <!-- @Html.Sitecore().ImageField("BackgroundImage", element,0,0, "opacity") --> 
         

        <!-- <!-- </div> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-md-4 text-right order-md-1"> -->
             
             
            <!-- </div> -->
           
             
              <!-- <div class="col-md-9"> -->


               <!-- <p class="mb-2">@Html.Sitecore().Field("Description", element)</p> -->
                <!-- <!-- <p>@Html.Sitecore().Field("Name", element)</p> -->
                <!-- <!-- <p class="clearfix"><span class="float-left">@Html.Sitecore().Field("Designation", element)</span><span class="float-right"><a href="/About-us/Chairman Corner">Read More</a></span></p> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->