@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var carouselId = "carousel" + Guid.NewGuid().ToString("N");
    var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();
    var i = 0;


}


@*<section>
    <div>
        <div class="outer">
            <div id="big" class="owl-carousel owl-theme">

                @foreach (var img in elements.ToList())
                {
                    var field = img.Item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                    var style = img.Item.ImageUrl(field, new MediaUrlOptions()).ToCssUrlValue();

                    <div class="slideItem">
                        <img src="@style">
                    </div>

                }



            </div>
            <div class="owlthumb">
                <h3>Bird's Eye View</h3>
                <div id="thumbs" class="owl-carousel owl-theme">

                    @foreach (var img in elements.ToList())
                    {
                        var field = img.Item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                        var style = img.Item.ImageUrl(field, new MediaUrlOptions()).ToCssUrlValue();
                        <div class="slideItem">
                            <img src="@style">
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</section>*@











<section>
    <div>
        <div class="outer">
            <div id="big" class="owl-carousel owl-theme">
                @foreach (var img in elements.ToList())
                {
                    var field = img.Item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                    var style = img.Item.ImageUrl(field, new MediaUrlOptions()).ToCssUrlValue();

                <div class="slideItem gallery-main-img">
                    <img src="@style">
                </div>
                }
                </div>




            <div class="owlthumb">
                <div id="thumbs" class="owl-carousel owl-theme py-3 px-1 web-center">

                    @foreach (var img in elements.ToList())
                    {
                        var field = img.Item.IsDerived(Templates.HasMediaImage.Fields.Image) ? Templates.HasMedia.Fields.Thumbnail : Templates.HasMediaImage.Fields.Image;
                        var style = img.Item.ImageUrl(field, new MediaUrlOptions()).ToCssUrlValue();
                    <div class="slideItem gallery-item">
                        <img src="@style">
                        <div class="overlay">
                            <div class="text">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, img.Item)</div>
                        </div>
                    </div>

                    }



                    </div>
            </div>
        </div>
    </div>
</section>