@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Templates.HasMediaSelector.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HasMediaSelector.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

@{
    var carouselId = "carousel" + Guid.NewGuid().ToString("N");
    var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();
    int? carouselHeight = null;

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource).FieldHasValue(Templates.HasMediaSelector.Fields.IsBanner);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var imgbg = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}


<!-- Section -->
<section class="py-5 bg-white">
    <div class="container teams-tiles txt-center">
        <div id="thumbs" class="owl-carousel owl-theme affiliation-slide-thumb">

            @foreach (var element in elements)
            {
                <div class="slideItem txt-center">
                    <h4>
                        <div class="thumb-icn mb-3">
                            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, element.Item, new { @class = "img-fluid w-auto d-inline-block" })
                            @*<img src="images/Sports.png" class="img-fluid w-auto d-inline-block">*@
                        </div>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, element.Item)
                    </h4>
                </div>
            }
            </div>
    </div>
</section><!-- End Slider Icons -->


<section class="py-5 d-block position-relative">
    <div class="bg-images">    @Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image, imgbg)</div>
    <div class="container">
        <div class="owl-carousel owl-theme pr-2" id="big">

            @foreach (var element in elements)
            {
                <div class="slideItem px-3">
                    <div class="row pt-5">
                        <div class="col-md-6">
                            <h2 class="sectionheading font-weight-bold txt-d-blue">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, element.Item)</h2>
                            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, element.Item)
                          
                        </div>
                        <div class="col-md-6 txt-right">  @Html.Sitecore().Field(Templates.HasMedia.Fields.Thumbnail, element.Item, new { @class = "img-fluid" })</div>
                    </div>
                </div>

            }



            </div>
    </div>
</section>






























<section class="section bg-teams pb-5">
    @if (img != null)
    {
        <div class="bg-images">@Html.Sitecore().ImageField(Templates.HasBannerSelector.Fields.Image, img)</div>
    }
    <div class="container">
        <div class="row">
            @foreach (var child in models.Children.ToList())
            {

                <div class="col-lg-6 teams txt-center pt-5 pb-5 col-md-6" id="@child.DisplayName.Replace(" ", "").ToLower()">
                    <div class="bg-images">@Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, child)</div>
                    @Html.Sitecore().ImageField(Templates.HasMedia.Fields.Thumbnail, child, 0, 0, "imgt")
                    <h3 class="pb-4 pt-2">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, child)</h3>
                </div>
            }
        </div>
    </div>
</section>

@Html.Sitecore().Placeholder("accolades")
<section class="section bg-white" id="team-tile" style="display:none;">
    <div class="container teams-tiles txt-center">
        <div id="thumbs" class="owl-carousel owl-theme">
            @foreach (var child in teamcount.Children.ToList())
            {

                <div class=" item">
                    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, child, 0, 0, "img-fluid")  @*img-fluid")*@
                    <h3>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, child)</h3>
                    <h4>@Html.Sitecore().Field(SubTitleTemp, child)</h4>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div id="big" class="owl-carousel owl-theme">
            @{ i = 0;}
            @foreach (var child in teamcount.Children.ToList())
            {
                <div class="row item t-tiles">
                    <div class="col-lg-3 txt-center">
                        @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, child, 0, 0, "img-fluid")
                        <h3>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, child)</h3>
                        <h4>@Html.Sitecore().Field(SubTitleTemp, child)</h4>
                    </div>
                    <div class="col-lg-9 pt-5 pb-5 px-5 mt-5">
                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, child)
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- /teams tiles -->
