

@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var imgbg = Sitecore.Context.Database.GetItem(paramid["background-image"]);
    var url = "";
}



<!-- / Section -->


<section class="section-container section" data-hash="f">
    <div class="bg-images bg-blue-opacity">
        @Html.Sitecore().ImageField(Templates.HasBannerSelectorclubahmd.Fields.Image, imgbg,0,0,"opacity-015")
       
    </div>
    <div class="container aos-item__inner aos-item">
        <h2 class="d-block position-relative txt-white txt-center txt-lg mb-5 font-weight-bold">Events</h2>
        <div class="owl-carousel owl-theme" id="events">
            @foreach (var child in parent.Children.ToList())
            {

                 url = "Events#" + child.DisplayName.Replace(" ", "");
                <div class="item" data-aos="fade-left" data-aos-duration="1000">
                    <div class="events-item">
                        <div class="events-thumb">
                            <a href="@url">
                                @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid mb-3")

                            </a>
                        </div>
                        <div class="events-desc">
                            <div>

                                <h3 class="txt-white"><a href="@url" class="txt-white">@Html.Sitecore().Field("Title", child)</a></h3>
                                <p class="txt-white">@Html.Sitecore().Field("Date", child, new { format = "MMM dd, yyyy" })</p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="txt-center"><div class="btn-eff mx-auto mt-5"><div class="eff-4"></div><a href="Events">Know more</a></div></div>
    </div>
</section>