@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var elements = MediaSelectorElementsRepository.Get(Model.Item).ToArray();

}
<!-- <div class="sparkles"> -->
    <!-- <img alt="" height="526" width="262" src="-/media/BF9487A49ADD4CEDBD35EBFFE8C08FD9.ashx" /> -->
<!-- </div> -->
<section class="home-banner ">
    <div class="home-page-banner owl-theme owl-carousel bannerDesktop">

        @foreach (var element in elements)
        {
          Sitecore.Data.Fields.LinkField linkfield = element.Item.Fields[Templates.HasMedia.Fields.Link];
				var url = linkfield.GetFriendlyUrl();
                <div class="item">
                   @if (url != "")
						{
						  if(linkfield.LinkType == "external")
							{
							 <a href="@url" target="_blank">
								@Html.Sitecore().Field("MediaImage", element);
							</a>
							}
							
							else{
							<a href="@url">
								@Html.Sitecore().Field("MediaImage", element);
							</a>
							}
							
						}
					else{
							@Html.Sitecore().Field("MediaImage", element);
						}
					<div class="banner-desc">
						@Html.Sitecore().Field(Templates.HasMedia.Fields.Description,element);
						
					</div>
                </div>
           
        }
    </div>

    <div class="home-page-banner owl-theme owl-carousel bannerMobile">

        @foreach (var element in elements)
        {
		
		Sitecore.Data.Fields.LinkField linkfield = element.Item.Fields[Templates.HasMedia.Fields.Link];
				var url = linkfield.GetFriendlyUrl();
          
                <div class="item">
                  @if (url != "")
						{
						 if(linkfield.LinkType == "external")
							{
							 <a href="@url" target="_blank">
								@Html.Sitecore().Field("MediaThumbnail", element);
							</a>
							}
							else{
							<a href="@url">
								@Html.Sitecore().Field("MediaThumbnail", element);
							</a>
							}
							
						}
					else{
							@Html.Sitecore().Field("MediaThumbnail", element);
						}
					<div class="banner-desc">
						@Html.Sitecore().Field(Templates.HasMedia.Fields.Description,element);
					</div>
                </div>
           
        }
    </div>

</section>
<div class="banner-race-info">
</div>
