
@using Sitecore.Feature.Media
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;

}

<section class="news-gallery-section">
    <div class="container">
        <div class="news-gallery flex flex-wrap row">
            @foreach (var item in model.GetChildren().ToList())
            {

                <div class="col-sm-7">



                    <div class="photo-gallery">
                        @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, item, new { @class = "img-responsive" })
                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#gallery-@i"></a>
                        



                        <div id="gallery-@i" class="modal fade" role="dialog">

                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <img src="-/media/4B1B6ED64902406980977AB15F7443D6.ashx">
                                        </button>
                                        <div class="zoom">
                                            <img src="-/media/15924E65126A42E3A89F4191518C4F52.ashx">
                                        </div>
                                        <h5 class="modal-title"> @Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</h5>
                                    </div>
                                    <div id="gallery-@i-lighbox" class="carousel slide" data-ride="carousel">
                                        <div class="back">

                                        </div>


                                        <div class="carousel-inner" role="listbox">

                                            @foreach (var subitem in item.GetChildren().ToList())
                                            {
                                                if (i == 1)
                                                {


                                                    <div class="item active">
                                                        @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, item, new { @class = "img-responsive" })
                                                    </div>

                                                }
                                                else
                                                {

                                                    <div class="item">
                                                        @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, subitem, new { @class = "img-responsive" })
                                                    </div>
                                                }

                                                i++;



                                            }
                                        </div>


                                        <a class="left carousel-control" href="#gallery-@i-lighbox" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#gallery-@i-lighbox" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }

        </div>
    </div>
</section>
