@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}



<div class="p-4 bg-white w-100 h-100 exe-speech">
    <h3 class="section-heading">@Html.Sitecore().Field("Title", element)</h3>
    <p class="txt-md mb-1">@Html.Sitecore().Field("Summary", element)</p>
    <p class="txt-sm txt-l-gray  mb-4">@Html.Sitecore().Field("Description", element)</p>
    <p class="designation">@Html.Sitecore().Field("Name", element)<span>@Html.Sitecore().Field("Designation", element)</span></p>
    <p class="watch-video"><a href=""><i class="fa fa-play-circle mr-2"></i>Watch the Video</a></p>
    @Html.Sitecore().ImageField("BackgroundImage", element, 0, 0, "img-fluid")
  
</div>