@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Media
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);

    var i = 1;
    var j = 1;
    var vid = 1;


    var sortedItem = models.Children.Where(x => x.Fields["IsVisible"].Value == "1").OrderByDescending(x => x.Fields["Date"].Value);
    string linkUrl = "#";
}

<section class="bg-gray view-all">
    <div class="container">


        @foreach (var child in sortedItem)
        {

            if (i == 1)
            {
                linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                <div class="row no-gutters pb-3">
                    <div class="col-lg-8 col-md-6">
                        <div class="exe-speech-container h-100">
                            <a href="@linkUrl"> <i><img src="-/media/EC7FCFF34C9C4F82948E839F14B6A305.ashx" data-toggle="modal" data-target="#video-@vid"></i></a>
                            @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid w-100 h-100")

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="exec-sp-desc p-4 bg-white h-100">
                            <h2>@Html.Sitecore().Field("Title", child)</h2>
                            @Html.Sitecore().Field("Summary", child)
                        </div>
                    </div>
                </div>

            }
            vid++;
            break;
        }
        <div class="row">
            @foreach (var child in sortedItem)
            {

                if (i == 1)
                {
                    i++;
                    continue;
                }
                else if (i == 2)
                {
                    linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                    <div class="col-lg-4">
                        <div class="row mb-3">
                            <div class="col-sm-12 h-50">
                                <div class="exe-speech-container exe-sp-square-block h-100">
                                    <a href="@linkUrl">
                                        <i><img src="-/media/EC7FCFF34C9C4F82948E839F14B6A305.ashx" data-toggle="modal" data-target="#video-@vid"></i></a>
                                        @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid w-100 h-100")

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="exec-sp-desc exec-sp-sidebar p-4 bg-white h-100">
                                    <h2>@Html.Sitecore().Field("Title", child)</h2>
                                    @Html.Sitecore().Field("Summary", child)
                                </div>
                            </div>
                        </div>
                    </div>
                    i = 1;
                    vid++;
                    break;
                }

            }

            <div class="col-lg-8">
                @foreach (var child in sortedItem)
                {
                    linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                    if (i == 1 || i == 2)
                    {
                        i++;
                        continue;
                    }
                    else if (i == 3)
                    {
                        linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                        <div class="row no-gutters mb-3">
                            <div class="col-lg-6 col-md-6">
                                <div class="exec-sp-desc exec-sp-d-left p-4 bg-white h-100">
                                    <h2>@Html.Sitecore().Field("Title", child)</h2>
                                    @Html.Sitecore().Field("Summary", child)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="exe-speech-container h-100">
                                    <a href="@linkUrl">
                                        <i><img src="-/media/EC7FCFF34C9C4F82948E839F14B6A305.ashx" data-toggle="modal" data-target="#video-@vid"></i></a>
                                        @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid w-100 h-100")

                                </div>
                            </div>
                        </div>
                    }
                    else if (i == 4)
                    {
                        linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                        <div class="row no-gutters mb-3">
                            <div class="col-md-6">
                                <div class="exe-speech-container h-100">
                                    <a href="@linkUrl">
                                        <i><img src="-/media/EC7FCFF34C9C4F82948E839F14B6A305.ashx" data-toggle="modal" data-target="#video-@vid"></i></a>
                                        @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="exec-sp-desc p-4 bg-white h-100">
                                    <h2>@Html.Sitecore().Field("Title", child)</h2>
                                    @Html.Sitecore().Field("Summary", child)
                                </div>
                            </div>
                        </div>
                        vid++;
                        i = 1;
                        break;
                    }
                    vid++;
                    i++;
                }


            </div>
        </div>
        <div class="row">
            @foreach (var child in sortedItem)
            {
                if (i <= 4)
                {
                    i++;
                    continue;
                }
                else if (i <= 7)
                {
                    linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                    <div class="col-lg-4">
                        <div class="row mb-3">
                            <div class="col-sm-12 h-50">
                                <div class="exe-speech-container exe-sp-square-block h-100">
                                    <a href="@linkUrl">
                                        <i><img src="-/media/EC7FCFF34C9C4F82948E839F14B6A305.ashx" data-toggle="modal" data-target="#video-@vid"></i></a>
                                        @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="exec-sp-desc exec-sp-sidebar p-4 bg-white h-100">
                                    <h2>@Html.Sitecore().Field("Title", child)</h2>
                                    @Html.Sitecore().Field("Summary", child)
                                </div>
                            </div>
                        </div>
                    </div>
                    if (i == 7 ||i==models.Children.Count)
                    {
                        i = 1;
                        break;
                    }
                }
                else
                {
                    i = 1;
                    break;
                }
                i++;
                vid++;
            }
        </div>
        <div class="row" style="display:none">
            @foreach (var child in sortedItem)
            {
                if (i <= 7)
                {
                    i++;
                    continue;
                }
                else
                {
                    linkUrl = Sitecore.Links.LinkManager.GetItemUrl(child);
                    <div class="col-lg-4">
                        <div class="row mb-3">
                            <div class="col-sm-12 h-50">
                                <div class="exe-speech-container exe-sp-square-block h-100">
                                    <a href="@linkUrl">
                                        <i><img src="-/media/EC7FCFF34C9C4F82948E839F14B6A305.ashx" data-toggle="modal" data-target="#video-@vid"></i></a>
                                        @Html.Sitecore().ImageField("Image", child, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="exec-sp-desc exec-sp-sidebar p-4 bg-white h-100">
                                    <h2>@Html.Sitecore().Field("Title", child)</h2>
                                    @Html.Sitecore().Field("Summary", child)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                vid++;
                i++;
            }


        </div>
        <p class="text-center arrow loadMore w-100 py-4">Explore more<i class="fa fa-chevron-down ml-2"></i></p>
    </div>
    <!-- Video Model -->
    @*@foreach (var child in models.Children.ToList())
    {
        <div class="modal video" id="video-@j" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <button type="button" class="close" onclick="CloseModal(@j)" data-dismiss="modal">×</button>
                    @{
                        Sitecore.Data.Fields.LinkField linkField = child.Fields[Templates.HasMediaVideo.Fields.VideoLink];
                        var NavigateUrl = linkField.Url;
                    }
                    <!-- Modal body -->
                    <div class="modal-body">
                        <iframe width="100%" height="350" src="@NavigateUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        j++;
    }*@
    <!-- /Video Model -->
</section>