@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelepr = new Helper();
}

@if (currentItem != null)
{
    <section class="airport_experience transport-info pt-wrap">
        <div class="container">
            <h3>Airport Experiences</h3>
            <div class="airportExperiences">
                @foreach (Item covidInfo in currentItem.Children)
                {
                    <div class="col">
                        @Html.Sitecore().BeginField("Link", covidInfo, new { @haschildren = true })
                        <div class="zoomEffect">
                            <div class="card">
                                <figure>
                                    @Html.Sitecore().Field("Image", covidInfo, new { @class = "card-img-top", @alt = "Arrival" })
                                </figure>
                                <div class="card-body">
                                    <h5 class="card-title">@Html.Sitecore().Field("Title", covidInfo)</h5>
                                    <p class="card-text">
                                        @Html.Sitecore().Field("Description", covidInfo)
                                    </p>
                                        <span class="black_link">@linkHelepr.GetLinkText(covidInfo, "Link")</span>
                                </div>
                            </div>
                        </div>
                        @Html.Sitecore().EndField()
                    </div>
                }
            </div>
        </div>
    </section>
}
