@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.BelvedereClubAhmedabad.Website
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var img = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}

<section class="section-container section" data-hash="g">
    <div class="bg-images">
        @Html.Sitecore().ImageField(Templates.HasBannerSelectorclubahmd.Fields.Image, img)
    </div>
    <div class="container aos-item__inner aos-item" data-aos-duration="1000">
        <h2 class="d-block position-relative txt-purple font-weight-bold txt-center txt-lg mb-5 font-weight-bold">From our guests</h2>
        <div class="owl-carousel owl-theme" id="testimonials">

            @foreach (var child in models.Children.ToList())
            {
                @*<div class="item bg-white py-4 pl-4 pr-4" data-aos="fade-right">
                <p class="txt-sm mb-3">@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)</p>
                <div class="row">
                    <div class="col-12 pt-3">
                        <p class="txt-blue"><b>@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Name, child)</b></p>
                        <p>@Html.Sitecore().Field(Templates.HappyCustomer.Fields.Resident, child)</p>
                    </div>
                </div>
            </div>*@

                @Html.Sitecore().Field(Templates.HappyCustomer.Fields.Description, child)

            }

            @*<div class="items img-testimonial" data-aos="fade-left">
            <a href="testimonial-video-01" data-toggle="modal" data-target="#testimonial-video-01"><img src="-/media/7F566F924F0E4D6BBBC752615B08ADD1.ashx" class="testimonial-thumb img-fluid"></a>
        </div>*@

        </div>
    </div>
</section>


@*<div class="modal video" id="testimonial-video-01" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- Modal body -->
            <div class="modal-body">
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/cVYpVjsNuPE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>*@



