@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var x = 0;
    var i = 1;
    var j = 1;
    var z = 1;
}

<section class="py-5 d-block position-relative">
    <div class="bg-images"><img alt="" src="-/media/8F5557CEAF934D049BDA115DC1BE8B59.ashx" /></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12">
                <ul class="nav nav-tabs tabpanel mb-3" role="tablist">
                    @foreach (var child in parent.Children.ToList())
                    {
                        if (x == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" href="#@child.Name" role="tab" data-toggle="tab">@child.Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#@child.Name" role="tab" data-toggle="tab">@child.Name</a>
                            </li>
                        }
                        x++;
                    }
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">

                            @foreach (var child in parent.Children.ToList())
                            {
                                var ddlSource = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(child.ID));

                                if (z == 1)
                                {
                                    <div role="tabpanel" class="tab-pane fade in active show" id="@child.Name">
                                        <div class="row">


                                            <div class="col-sm-6">
                                                <div class="scroll-section pr-2 mb-3">
                                                    @foreach (var subChild in ddlSource.Children.ToList())
                                                    {
                                                        var subChildSource = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(subChild.ID));
                                                        if (i == 1)
                                                        {
                                                            <div class="bg-white p-3 mb-2 affliates-btn active" id="@i">
                                                                @Html.Sitecore().Field("Summary", subChildSource)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="bg-white p-3 mb-2 affliates-btn" id="@i">
                                                                @Html.Sitecore().Field("Summary", subChildSource)
                                                            </div>
                                                        }
                                                        i++;
                                                    }
                                                </div>
                                            </div>

                                            <div class="col-md-6" id="parent">

                                                @foreach (var subChild in ddlSource.Children.ToList())
                                                {
                                                    var subChildSource = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(subChild.ID));
                                                    if (j == 1)
                                                    {
                                                        <div class="bg-white @j">
                                                            @Html.Sitecore().Field("Body", subChildSource)
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="bg-white @j" style="display:none;">
                                                            @Html.Sitecore().Field("Body", subChildSource)
                                                        </div>
                                                    }
                                                    j++;
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    i = 1;
                                    j = 1;
                                }
                                else
                                {
                                    <div role="tabpanel" class="tab-pane fade" id="@child.Name">
                                        <div class="row">


                                            <div class="col-sm-6">
                                                <div class="scroll-section pr-2">
                                                    @foreach (var subChild in ddlSource.Children.ToList())
                                                    {
                                                        var subChildSource = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(subChild.ID));
                                                        if (i == 1)
                                                        {
                                                            <div class="bg-white p-3 mb-2 affliates-btn active" id="@i">
                                                                @Html.Sitecore().Field("Summary", subChildSource)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="bg-white p-3 mb-2 affliates-btn" id="@i">
                                                                @Html.Sitecore().Field("Summary", subChildSource)
                                                            </div>
                                                        }
                                                        i++;
                                                    }
                                                </div>
                                            </div>

                                            <div class="col-md-6" id="parent">

                                                @foreach (var subChild in ddlSource.Children.ToList())
                                                {
                                                    var subChildSource = Sitecore.Context.Database.GetItem(Sitecore.Data.ID.Parse(subChild.ID));
                                                    if (j == 1)
                                                    {
                                                        <div class="bg-white @j">
                                                            @Html.Sitecore().Field("Body", subChildSource)
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="bg-white @j" style="display:none;">
                                                            @Html.Sitecore().Field("Body", subChildSource)
                                                        </div>
                                                    }
                                                    j++;
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    i = 1;
                                    j = 1;
                                }
                                z++;

                            }

                            @*<div role="tabpanel" class="tab-pane fade" id="International">
            <div class="row">
                <div class="col-sm-6">
                    <div class="scroll-section pr-2">
                        <div class="bg-white p-3 mb-2 affliates-btn active" id="1">
                            <h3>Mombasa Sports Club</h3>
                            <p>PO Box 90241-80100, Mombasa, Kenya</p>
                        </div>
                        <div class="bg-white p-3 mb-2 affliates-btn" id="2">
                            <h3>Terminal City Club, Vancouver</h3>
                            <p>837 West Hastings Street, Vancouver, BC V6C 1B6</p>
                        </div>
                        <div class="bg-white p-3 mb-2 affliates-btn" id="3">
                            <h3>The Boulevard Club</h3>
                            <p>1491 Lake Shore Blvd. W. Toronto, Ontario M6K 3C2</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6" id="inter-affiliation">
                    <div class="bg-white 1">
                        <div class="affiliates-thumb"><img src="images/Amanora-Club-thumb.jpg" class="img-fluid"></div>
                        <div class="affiliates-desc p-3 mr-2">
                            <h4>Letter of Introduction Required</h4>
                            <p>Yes</p>
                            <h4>Closed</h4>
                            <p>N/A</p>
                            <h4>Accomodation</h4>
                            <p>Yes</p>
                            <h4>Member Guest Allowed</h4>
                            <p>No</p>
                            <h4>Golf Course</h4>
                            <p>No</p>
                        </div>
                    </div><!-- First block -->
                    <div class="bg-white 2">
                        <div class="affiliates-thumb"><img src="images/Amanora-Club-thumb.jpg" class="img-fluid"></div>
                        <div class="affiliates-desc p-3 mr-2">
                            <h4>Letter of Introduction Required</h4>
                            <p>Yes</p>
                            <h4>Closed</h4>
                            <p>N/A</p>
                            <h4>Accomodation</h4>
                            <p>No</p>
                            <h4>Member Guest Allowed</h4>
                            <p>Yes, prior permission required</p>
                            <h4>Golf Course</h4>
                            <p>No</p>
                        </div>
                    </div><!-- Second block -->
                    <div class="bg-white 3">
                        <div class="affiliates-thumb"><img src="images/Amanora-Club-thumb.jpg" class="img-fluid"></div>
                        <div class="affiliates-desc p-3 mr-2">
                            <h4>Letter of Introduction Required</h4>
                            <p>Yes, valid for 30 days only</p>
                            <h4>Closed</h4>
                            <p>N/A</p>
                            <h4>Accomodation</h4>
                            <p>No</p>
                            <h4>Member Guest Allowed</h4>
                            <p>Yes</p>
                            <h4>Golf Course</h4>
                            <p>No</p>
                        </div>
                    </div><!-- Third block -->
                </div>
            </div>
        </div>*@
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
            </div>
        </div>
    </div>
</section>
