@using Sitecore.Mvc
@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@using Sitecore.Resources.Media
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.StaticPages.Platform
@{

    Item ContactUsPage = Sitecore.Context.Item;
    IHelper _helper = new Helper();

    ImageField FAQImgField = ((ImageField)ContactUsPage.Fields["FAQImage"]);
    string FAQImageUrl = FAQImgField != null && FAQImgField.MediaItem != null ? _helper.GetImageURL(ContactUsPage, "FAQImage") : "";

    ImageField customImgField = ((ImageField)ContactUsPage.Fields["CustomImage"]);
    string customImageUrl = customImgField != null && customImgField.MediaItem != null ? _helper.GetImageURL(ContactUsPage, "CustomImage") : "";

    ImageField bannerImgField = ((ImageField)ContactUsPage.Fields["BannerImage"]);
   string bannerImageUrl = bannerImgField != null && bannerImgField.MediaItem != null ? _helper.GetImageURL(ContactUsPage, "BannerImage") : "";

}
<div class="contactMainawrap widthControl">
    <section class="bannerWrap pTop">
        <div class="container">
            <h3 class="section-title">@ContactUsPage["BannerTitle"]</h3>
            <img class="img-fluid"
                 src="@bannerImageUrl"
                  loading="lazy"/>
        </div>
    </section>

    <section class="AdressWrap">
        <div class="container">


            <div class="formWrap">
                <div class="row">
                    <div class="col-md-7 pTop">

                        <div class="formBox">
                            @Html.Sitecore().Placeholder("feedbackform")
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="contactDetls">

                            <h4>@ContactUsPage["AddressLabel"]</h4>
                            <p>
                                @Html.Raw(@ContactUsPage["Address"])
                            </p>
                            <div class="contactIcon">
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <div class="clIcon d-flex align-items-center justify-content-center">
                                            <i class="i-call-light"></i>
                                        </div>
                                        <p class="pt-0"><span>@ContactUsPage["CallUsLabel"]</span>@ContactUsPage["CallNumber"]</p>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <div class="clIcon d-flex align-items-center justify-content-center">
                                            <i class="i-light-mail"></i>
                                        </div>
                                        <p class="pt-0"><span>@ContactUsPage["EmailUsLabel"]</span>@ContactUsPage["EmailText"]</p>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="officeCenterWrap">
        <div class="container">

            @Html.Raw(@ContactUsPage["OfficeCenter"])
        </div>
    </section>
    <section class="terminalWrapper">
        <div class="container">
            <!-- <img class="img-fluid"
                 src="@customImageUrl" /> -->
            @Html.Raw(@ContactUsPage["Terminal"])
        </div>
    </section>
    <div class="internal-service pt-wrap">
        <div class="container">
            <div class="wrapper-box">
                <div class="img-wrap">
                    <img src="@FAQImageUrl"
                         class="img-fluid"
                         alt="..." 
                          loading="lazy"/>
                </div>
                <div class="content-Box">
                    <div class="card-body">
                        @Html.Raw(@ContactUsPage["InternalService"])
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
