@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="../../images/BKRPL/favicon.png" />
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'   https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com       />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <title>Badakumari - Karki Road Project Limited</title>

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" rel="stylesheet">

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!--  Main content Section-->
    <main role="main" class="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <footer class="py-3 py-lg-4">
        <div class="container">
            <p>Copyright © 2020</p>
        </div>
    </footer>
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()

</body>
</html>







