@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var banner = elements.Children;
}

<div class="mainSlider">

    @*
        @if(Request.Browser.IsMobileDevice)
            {
                        if(Request.Browser.ScreenPixelsWidth < 768)
                        {
                            @Html.Sitecore().Placeholder("mobile-video-banner")
                        }

            }
            else
            {
                <div class="owl-carousel owl-theme homeslider d-md-block d-none">
                @foreach (var item in banner.ToList())
                {
                    Sitecore.Data.Fields.LinkField linkField = item.Fields["MediaVideoLink"];
                    var url = linkField.Url;

                <div class="item" data-videosrc="@url">
                    @Html.Sitecore().ImageField("MediaThumbnail", item, 0, 0, "image-fluid")
                    <div class="banner-content">
                        @Html.Sitecore().Field("MediaDescription", item)
                    </div>
                </div>
                }
                </div>
            }
    *@

    <div class="owl-carousel owl-theme" id="about-banner">
        @foreach (var item in banner.ToList())
        {

            <div class="item">
                <div class="slider-content">
                    @Html.Sitecore().ImageField("MediaThumbnail", item, 0, 0, "img -fluid")
                    <div>
                        <div class="container">
                            <p>@Html.Sitecore().Field("MediaTitle", item)</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    @Html.Sitecore().Placeholder("mobile-video-banner")

    <div class="container position-relative">
        <div class="scroll-down">
            <a href="#firstsection">
                <span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span>
            </a>
        </div>
    </div>
</div>
