@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel

@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var MonthlySolarResourceBhadlaSolarPark = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["MonthlySolarResourceBhadlaSolarParks"];
    var MonthlySolarResourcesBhadlaSolarPark = Sitecore.Context.Database.GetItem(MonthlySolarResourceBhadlaSolarPark);

    var MonthlySolarResourceFatehgarhSolarPark = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["MonthlySolarResourceFatehgarhsSolarPark"];
    var MonthlySolarResourceFatehgarhSolarParks = Sitecore.Context.Database.GetItem(MonthlySolarResourceFatehgarhSolarPark);


}



    <section class="bg-gray">
        <div class="container" id="accordion-parents">
            <div id="accordion9" class="accordion investor-faq">
                <div class="card mb-0" id="MonthlySolarResourcesBhadlaSolarPark">

                    <div class="card-header collapsed" data-toggle="collapse" href="#News">
                        <a class="card-title">
                            Monthly Average Solar Resource at Bhadla Solar Park
                        </a>
                    </div>
                    <div id="News" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none"> @Html.Sitecore().Field("Title", MonthlySolarResourcesBhadlaSolarPark)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", MonthlySolarResourcesBhadlaSolarPark)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
            <div id="accordion8" class="accordion investor-faq">
                <div class="card mb-0" id="MonthlySolarResourcesFatehgarhSolarPark">

                    <div class="card-header collapsed" data-toggle="collapse" href="#Comparison">
                        <a class="card-title">
                            Monthly Average Solar Resource at Fatehgarh Solar Park
                        </a>
                    </div>
                    <div id="Comparison" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none"> @Html.Sitecore().Field("Title", MonthlySolarResourceFatehgarhSolarParks)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", MonthlySolarResourceFatehgarhSolarParks)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
            @Html.Sitecore().Field("Body", elements)
        </div>
</section>