@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    var ProjectAtglance = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ProjectsAtGlance"];
    var ProjectsAtGlances = Sitecore.Context.Database.GetItem(ProjectAtglance);

    var ComparisonofAREPRL = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ComparisonsofAREPRL"];
    var ComparisonssofAREPRL = Sitecore.Context.Database.GetItem(ComparisonofAREPRL);

    var PowerEvacuationTransmission = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["PowerEvacuationTransmissions"];
    var PowerEvacuationsTransmission = Sitecore.Context.Database.GetItem(PowerEvacuationTransmission);

    var PowerEvacuationTransmissionFatehgarh = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["PowerEvacuationTransmissionsFatehgarh"];
    var PowerEvacuationTransmissionsFatehgarh = Sitecore.Context.Database.GetItem(PowerEvacuationTransmissionFatehgarh);

    var DetailsofProjectsintheVicinity = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["DetailsofProjectsintheVicinitys"];
    var DetailofProjectsintheVicinity = Sitecore.Context.Database.GetItem(DetailsofProjectsintheVicinity);
}



    <section class="bg-gray">
        <div class="container" id="accordion-parent">
            <div id="accordion1" class="accordion investor-faq">
                <div class="card mb-0">

                    <div class="card-header collapsed" data-toggle="collapse" href="#News">
                        <a class="card-title">
                            Projects at a Glance
                        </a>
                    </div>
                    <div id="News" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none"> @Html.Sitecore().Field("Title", ProjectsAtGlances)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", ProjectsAtGlances)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
            <div id="accordion2" class="accordion investor-faq">
                <div class="card mb-0">

                    <div class="card-header collapsed" data-toggle="collapse" href="#Comparison">
                        <a class="card-title">
                            Comparison of AREPRL with others
                        </a>
                    </div>
                    <div id="Comparison" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none"> @Html.Sitecore().Field("Title", ComparisonssofAREPRL)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", ComparisonssofAREPRL)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
            <div id="accordion3" class="accordion investor-faq">
                <div class="card mb-0">

                    <div class="card-header collapsed" data-toggle="collapse" href="#PowerEvacuationTransmission">
                        <a class="card-title">
                            Power Evacuation & Transmission at Bhadla Solar Park
                        </a>
                    </div>
                    <div id="PowerEvacuationTransmission" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none">@Html.Sitecore().Field("Title", PowerEvacuationsTransmission)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", PowerEvacuationsTransmission)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
            <div id="accordion4" class="accordion investor-faq">
                <div class="card mb-0" id="PowerEvacuationTransmissionFatehgarhs">

                    <div class="card-header collapsed" data-toggle="collapse" href="#PowerEvacuationTransmissionFatehgarh">
                        <a class="card-title">
                            Power Evacuation & Transmission at Fatehgarh Solar Park
                        </a>
                    </div>
                    <div id="PowerEvacuationTransmissionFatehgarh" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none">@Html.Sitecore().Field("Title", PowerEvacuationTransmissionsFatehgarh)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", PowerEvacuationTransmissionsFatehgarh)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
            <div id="accordion" class="accordion investor-faq">
                <div class="card mb-0" id="DetailsofProjectsintheVicinitys">

                    <div class="card-header collapsed" data-toggle="collapse" href="#DetailsofProjectsintheVicinity">
                        <a class="card-title">
                            Details of Projects in the Vicinity
                        </a>
                    </div>
                    <div id="DetailsofProjectsintheVicinity" class="card-body collapse" data-parent="#accordion">
                        <div class="p-4">
                            <div class="container mt-4">
                                <h2 class="heading pl-4 mb-4 d-none">@Html.Sitecore().Field("Title", DetailofProjectsintheVicinity)</h2>
                                <div class="row">

                                    <div class="col-md-12 mb-4">

                                        @Html.Sitecore().Field("Body", DetailofProjectsintheVicinity)
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray py-1"></div>
                    <div class="bg-gray py-1"></div>
                </div>
            </div>
        </div>
</section>