@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;


}




<section class=" bg-white contact-main">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4">
			<h2 class="heading">All Openings</h2>
		</div>
		<div class="col-lg-8">
			<ul class="news-filter">
				<li>
					<select class="form-control select-category" id="categoryddl">
						  <option value="All">Select Category</option>
						  <option value="Category1">category1</option>
						  <option value="Category2">category2</option>
						  <option value="Category3">category3</option>
					</select>
				</li>
				<li>
					<button class="btn btn-secondary btn-blue" onclick="submitcategory()" id="submitcategory">Submit</button>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="openings_parent bg-white">
	  @foreach (Item item in element.GetChildren())
            {
			 Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
			var cssclass = @Html.Sitecore().Field("Summary", item);
		<div class="row mb-0 @cssclass">
			<div class="col-lg-6">
				<div class="openings_description">
				<h3>@Html.Sitecore().Field("Title", item)</h3>
				<p>@Html.Sitecore().Field("ShortDescription", item)</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="openings_cta">
					<a href="@link" class="btn btn-secondary btn-blue">Apply Now</a>
				</div>
			</div>
		</div>
		}
	</div>
	
	
</div>
</section>


