@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)element.Fields["Thumbnail"]);

    string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
    var i = 1;
    var j = 2;
}

<section class="section_padding bg-white d-lg-none d-block">
    <div class="container-fluid">
        <div class="programmes_main">
            <div class="programmes_main--thumb">
                <img src="@imgurl">
            </div>
            <div class="programmes_main--desc">
                <h4 class="sub-heading">@Html.Sitecore().Field("Title", element)</h4>
                <h2 class="heading">
                    @Html.Sitecore().Field("Heading", element)</h2>
                            <p class="sub_text">@Html.Sitecore().Field("ShortDescription", element)</p>
                            @foreach (Item items in element.GetChildren())
                            {
                                if (i == 1)
                                {
                                    <div>
                                        <a href="#" class="">View All<span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                }
                                else if (i == 2 || i == 3)
                                {
                                    <div>
                                        <a href="#" class="">@Html.Sitecore().Field("Title", items)<span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                }
                                i++;
                            }
</div>
        </div>
    </div>
</section>
<section class="section_padding bg-white d-lg-block d-none">
    <div class="container-fluid">
        <h4 class="sub-heading">@Html.Sitecore().Field("Title", element)</h4>
        <h2 class="heading">
            @Html.Sitecore().Field("Heading", element)</h2>
            <p class="sub_text">@Html.Sitecore().Field("ShortDescription", element)</p>
            <div class="row">
                @foreach (Item items in element.GetChildren())
                {
                    Sitecore.Data.Fields.ImageField imgFields = ((Sitecore.Data.Fields.ImageField)items.Fields["Thumbnail"]);

                    string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFields.MediaItem);
                    if (j % 2 == 0)
                    {
                        <div class="col-lg-6">
                            <div class="programmes_main">
                                <div class="programmes_main--thumb">
                                    <img src="@imgurls">
                                </div>
                                <div class="programmes_main--desc">
                                    <h3>@Html.Sitecore().Field("Title", items)</h3>
                                    <p>@Html.Sitecore().Field("ShortDescription", items)</p>
                                    <div>
                                        <a href="#" class="">View <span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    else
                    {
                        <div class="col-lg-6">
                            <div class="programmes_main ml-lg-auto">
                                <div class="programmes_main--thumb">
                                    <img src="@imgurls">
                                </div>
                                <div class="programmes_main--desc">
                                    <h3>@Html.Sitecore().Field("Title", items)</h3>
                                    <p>@Html.Sitecore().Field("ShortDescription", items)</p>
                                    <div>
                                        <a href="#" class="">View <span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    j++;
                }



            </div>
            <p><a href="#" class="btn btn-secondary btn-blue">View all <span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a></p>
</div>
</section>