@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);




}

<section class="hero_banner_container">
    <div class="owl-carousel hero-banner">
        <div class="item">

            @foreach (Item item in element.GetChildren())
            {
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);

                string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                Sitecore.Data.Fields.ImageField imgFields = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaThumbnail"]);

                string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFields.MediaItem);

                <picture>
                    <source srcset="@imgurl" media="(min-width:540px)"></source>
                    <source srcset="@imgurls" media="(min-width:0)"></source>
                    <img src="@imgurl" alt="Adani Institute" />
                </picture>
                <div class="banner-content">
                    <div class="container-fluid">
                        <h2>@Html.Sitecore().Field("MediaTitle", item)</h2>
                        <div>
                            @Html.Sitecore().Field("MediaDescription", item)
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
            
            <div class="scroll_down">
                <p><a href="#section_quotes"><span class="fa fa-arrow-down"></span></a></p>
            </div>
    </section>
    <!--/section-->
    <section class="apply_cta d-md-none d-block">
        <div class="container-fluid">
            <ul>
                <li><a href="#">Apply Online</a></li>
            </ul>
        </div>
    </section>