@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)element.Fields["Thumbnail"]);

    string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
    var i = 1;
    var j = 2;
}

<section class="section_padding bg-white d-lg-none d-block">
    <div class="container-fluid">
        <div class="programmes_main">
            <div class="programmes_main--thumb">
                <img src="@imgurl">
            </div>
            <div class="programmes_main--desc">
                <h4 class="sub-heading">@Html.Sitecore().Field("Title", element)</h4>
                <h2 class="heading">
                    @Html.Sitecore().Field("Heading", element)</h2>
                            <p class="sub_text">@Html.Sitecore().Field("ShortDescription", element)</p>
                            @foreach (Item items in element.GetChildren())
                            {
                                if (i == 1)
                                {
                                    <div>
                                        <a href="#" class="">View All<span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                }
                                else if (i == 2 || i == 3)
                                {
                                    <div>
                                        <a href="#" class="">@Html.Sitecore().Field("Title", items)<span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                }
                                i++;
                            }
</div>
        </div>
    </div>
</section>
<section class="section_padding bg-white d-lg-block d-none">
    <div class="container-fluid">
        <h4 class="sub-heading">@Html.Sitecore().Field("Title", element)</h4>
        <h2 class="heading">
            @Html.Sitecore().Field("Heading", element)</h2>
            <p class="sub_text">@Html.Sitecore().Field("ShortDescription", element)</p>
            <div class="row">
                @foreach (Item items in element.GetChildren())
                {
                    Sitecore.Data.Fields.ImageField imgFields = ((Sitecore.Data.Fields.ImageField)items.Fields["Thumbnail"]);
Sitecore.Data.Fields.LinkField linkFields = items.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
                    string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFields.MediaItem);
                    if (j % 2 == 0)
                    {
                        <div class="col-lg-6">
                            <div class="programmes_main">
                                <div class="programmes_main--thumb">
                                    <img src="@imgurls">
                                </div>
                                <div class="programmes_main--desc">
                                    <h3>@Html.Sitecore().Field("Title", items)</h3>
                                    <p>@Html.Sitecore().Field("ShortDescription", items)</p>
                                    <div>
                                        <a href="@link" class="">View <span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    else
                    {
                        <div class="col-lg-6">
                            <div class="programmes_main ml-lg-auto">
                                <div class="programmes_main--thumb">
                                    <img src="@imgurls">
                                </div>
                                <div class="programmes_main--desc">
                                    <h3>@Html.Sitecore().Field("Title", items)</h3>
                                    <p>@Html.Sitecore().Field("ShortDescription", items)</p>
                                    <div>
                                        <a href="@link" class="">View <span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    j++;
                }



            </div>
            <p><a href="https://stage.aidtm.ac.in/Programmes" class="btn btn-secondary btn-blue">View all <span class="ml-2"><img src="-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx"></span></a></p>
</div>
</section>



<script type="application/ld+json">
   {
     "@@context": "https://schema.org",
     "@@type": "LocalBusiness",
     "name": "Adani Institute of Digital Technology Management",
     "image": "https://www.aidtm.ac.in/-/media/FCE3CD07D6A54F108DC3202199BE2387.ashx",
     "@@id": "",
     "url": "https://www.aidtm.ac.in/",
     "telephone": "+91 90999 81586",
     "priceRange": "$$$",
     "address": {
    "@@type": "PostalAddress",
    "streetAddress": "Plot No. 225, Opp. Maharaj Hotel Lane, Sarkhej - Gandhinagar Highway,",
    "addressLocality": "PO: Jamiyatpura,Gandhinagar",
    "addressRegion": "GJ",
    "postalCode": "382423",
    "addressCountry": "IN"
     },
   "review": {
           "@@type": "Review",
           "reviewRating": {
             "@@type": "Rating",
             "ratingValue": "4.6",
             "bestRating": "5"
           },
           "author": {
             "@@type": "Person",
             "name": "Neha Soni"
           }
         },
   
     "geo": {
    "@@type": "GeoCoordinates",
    "latitude": 23.1746335,
    "longitude": 72.5648076
     },
     "openingHoursSpecification": {
       "@@type": "OpeningHoursSpecification",
      "dayOfWeek": [
         "Monday",
         "Tuesday",
         "Wednesday",
         "Thursday",
         "Friday",
         "Saturday"
       ],
       "opens": "09:00",
       "closes": "18:00"
     },
     "sameAs": [
       "https://www.facebook.com/aidtmofficial",
       "https://www.linkedin.com/company/aidtmofficial/",
       "https://www.youtube.com/channel/UCNsDejr_E2lHCaaqtrw_qEQ",
       "https://www.instagram.com/aidtmofficial/"
     ]
   },
</script>



<script type="application/ld+json">
   {
     "@@context": "https://schema.org",
     "@@type": "WebSite",
     "url": "https://www.aidtm.ac.in/",
     "potentialAction": {
       "@@type": "SearchAction",
       "target": "https://www.aidtm.ac.in/search?q={search_term_string}",
       "query-input": "required name=search_term_string"
     }
   },
</script>


<script type="application/ld+json">
   {
     "@@context": "https://schema.org",
     "@@type": "Organization",
     "name": "Adani Institute of Digital Technology Management",
     "url": "https://www.aidtm.ac.in/",
     "logo": "https://www.aidtm.ac.in/-/media/FCE3CD07D6A54F108DC3202199BE2387.ashx",
     "contactPoint": [{
       "@@type": "ContactPoint",
       "telephone": "+91 90999 81586",
       "contactType": "Administrator",
       "areaServed": ["IN"],
       "availableLanguage": "en"
     },{
       "@@type": "ContactPoint",
       "telephone": "",
       "contactType": ""
     }],
     "sameAs": [
    "https://www.facebook.com/aidtmofficial",
       "https://www.linkedin.com/company/aidtmofficial/",
       "https://www.youtube.com/channel/UCNsDejr_E2lHCaaqtrw_qEQ",
       "https://www.instagram.com/aidtmofficial/"
     ]
   },
</script>

