@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AdaniInstitute.Website.Models.BreadcrumbModel

@if (Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull.Rendering.Placeholder == "breadcrumb")
{
    <section class="breadcrumb_section py-3 border-bottom">
        <div class="container-fluid">
            <ul>
                @foreach (var item in Model.Breadcrumbs)
                {
                    if (@item.IsActive)
                    {
                        <li>@item.Title</li>
                    }
                    else
                    {
                        <li><a href="@item.Url">@item.Title</a></li>
                    }
                }
            </ul>
        </div>
    </section>
}
else if (Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull.Rendering.Placeholder == "faculty-breadcrumb")
{
<section class="breadcrumb_section">
    <div class="container-fluid">
        <ul>
            @foreach (var item in Model.Breadcrumbs)
            {
                if (@item.IsActive)
                {
                    <li>@item.Title</li>
                }
                else
                {
                    <li><a href="@item.Url">@item.Title</a></li>
                }
            }
        </ul>
    </div>
</section>
}

