@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);

 var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;

   var BigData = Sitecore.Context.Database.GetItem(paramid["BigData"]);

   var Technology = Sitecore.Context.Database.GetItem(paramid["Technology"]);
   
   var PGProgram = Sitecore.Context.Database.GetItem(paramid["PGProgram"]);
   var EPBA = Sitecore.Context.Database.GetItem(paramid["EPBA"]);
   
   var Certification = Sitecore.Context.Database.GetItem(paramid["Certification"]);
   var Arrow = "-/media/D840D563EDAA464A81D3B33A9FB473BE.ashx";
   Sitecore.Data.Fields.LinkField linkFields = BigData.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
							Sitecore.Data.Fields.LinkField linkFields1 = Technology.Fields["Link"];
                            var link1 = linkFields1.GetFriendlyUrl();

   }







<section class="bg-white section_padding content-section">
<div class="container-fluid">
<h1 class="heading">@Html.Sitecore().Field("Title", model)</h1>
<div class="row mb-80">
	<div class="col-lg-6">
		<div class="pr-lg-5 h-100">@Html.Sitecore().ImageField("Thumbnail", BigData, 0, 0, "img-fluid w-100 h-100")</div>
	</div>
	<div class="col-lg-6 py-4">
		<h2>@Html.Sitecore().Field("Title", BigData)</h2>	
                  
		<p class="txt-md mb-60">@Html.Sitecore().Field("ShortDescription", BigData)</p>
		<div><a href="@link" class="btn btn-secondary btn-blue">Know all <span class="ml-2"><img src="@Arrow" class="mb-0"></span></a></div>
	</div>
</div>
<div class="row mb-80">
	<div class="col-lg-6 py-4 order-lg-1 order-2">
		<h2>@Html.Sitecore().Field("Title", Technology)</h2>
		<p class="txt-md mb-60">@Html.Sitecore().Field("ShortDescription", Technology)</p>
		<div><a href="@link1" class="btn btn-secondary btn-blue">Know all <span class="ml-2"><img src="@Arrow" class="mb-0"></span></a></div>
	</div>
	<div class="col-lg-6 order-lg-2 order-1">
		<div class="pr-lg-5 h-100">@Html.Sitecore().ImageField("Thumbnail", Technology, 0, 0, "img-fluid w-100 h-100")</div>
	</div>
</div>   





<div class="row mb-80">
	<div class="col-lg-6">
		<div class="pr-lg-5 h-100">@Html.Sitecore().ImageField("Thumbnail", EPBA, 0, 0, "img-fluid w-100 h-100")</div>
	</div>
	<div class="col-lg-6 py-4">
		<h2>@Html.Sitecore().Field("Title", EPBA)</h2>
		<p class="txt-md mb-60">@Html.Sitecore().Field("ShortDescription", EPBA)</p>
		<div><a href="https://stage.aidtm.ac.in/Programmes/EPBA" class="btn btn-secondary btn-blue">Know all <span class="ml-2"><img src="@Arrow" class="mb-0"></span></a></div>
	</div>
</div>
<div class="row d-none">
	<div class="col-lg-6 py-4 order-lg-1 order-2">
		<h3>@Html.Sitecore().Field("Title", Certification)</h3>
		<p class="txt-md mb-60">@Html.Sitecore().Field("ShortDescription", Certification)</p>
		<div><a href="#" class="btn btn-secondary btn-blue">Know all <span class="ml-2"><img src="@Arrow" class="mb-0"></span></a></div>
	</div>
	<div class="col-lg-6 order-lg-2 order-1">
		<div class="pr-lg-5 h-100">@Html.Sitecore().ImageField("Thumbnail", Certification, 0, 0, "img-fluid w-100 h-100")</div>
	</div>
</div>
</div>
</section>