@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);




}




<section class="section_padding bg-white faculty_profile">
    <div class="container-fluid">
        <h2 class="heading">@Html.Sitecore().Field("Heading", element)</h2>
        <div class="row">
            @foreach (Item item in element.GetChildren())
            {
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["FacultyImage"]);

                string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                Sitecore.Data.Fields.ImageField imgFields = ((Sitecore.Data.Fields.ImageField)item.Fields["BackgroundImage"]);

                string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFields.MediaItem);
                <div class="col-lg-4 mb-lg-5 mb-4">
                    <div class="faculty_main">
                        <div class="faculty_main--thumb">
                            <img src="@imgurl">
                        </div>
                        <div class="faculty_main--desc">
                            <h3>@Html.Sitecore().Field("Title", item)</h3>
                            @Html.Sitecore().Field("ShortDescription", item)
                            <a href="#" class="">Learn More <span class="ml-2"><img src="@imgurls"></span></a>
                        </div>
                    </div>
                </div>
            }


            </div>
    </div>
</section>