@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;


}




<section class="contact-main bg-white">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="heading">@Html.Sitecore().Field("Title", element)</h2>
		</div>
	</div>
	<div class="other-news_parent">
	<div class="row">
            @foreach (Item item in element.GetChildren())
            {
			 Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
							  Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["Thumbnail"]);

                string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                <div class="col-lg-4 mb-60">
			<div class="other_news">
				<div class="other_news--thumb">
                           	<img src="@imgurl">
                        </div>
                        <div class="other_news--desc">
						<p>@Html.Sitecore().Field("Date", item, new { format = "MMM dd, yyyy" })</p>
                            <h3>@Html.Sitecore().Field("Title", item)</h3>
					<p>@Html.Sitecore().Field("ShortDescription", item)</p>
                            <a href="@link" class="">Learn More <span class="ml-2"><img src="-/media/DB5DDF8F7E994F22819696D272AC55E9.ashx"></span></a>
                        </div>
                    </div>
                </div>
            }


   </div>
	</div>
</div>
</section>
