@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
 var TopHeader = Sitecore.Context.Database.Items.GetItem("{60568D97-52ED-4A2D-B4E0-261F27ADCDE9}");



}

<header class="fixed-header inner_header position-relative">
<div class="fade-overlay"></div>
 <div class="overlay-top"></div>
 <div class="top_bar">
    <div class="container-fluid">
        <div class="row">
<div class="col-lg-4 col-md-5 text-md-left text-left">
                <p><a href="tel:6358975111"><span><i class="fa fa-phone fa-rotate-90"></i></span><span>&nbsp;&nbsp;63589 75111</span></a>
				<a href="mailto:admissions@aidtm.ac.in"><span><i class="fa fa-envelope"></i></span><span>&nbsp;&nbsp;admissions@aidtm.ac.in</span></a>
				</p>
            </div>
			 <div class="col-lg-8 col-md-7 d-md-block d-none">
                <ul>
				<li><button type="button" class="npfWidgetButton npfWidget-81bfbc5a86cba02697d97b2558e693d4">Enquire Now!</button></li>
                    @foreach (Item item in TopHeader.GetChildren())
                    {
					Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                            var link = linkFields.GetFriendlyUrl();
                        <li class="nav-item">
                            <a class="nav-link" href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a>
                        </li>
                    }
                </ul>
            </div>
			 </div>
			  </div>
			  </div>
	<!-- <div class="top_bar"> -->
    <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-4 col-md-5 text-md-left text-left"> -->
                <!-- <p><a href=""><span class="fa fa-exclamation-triangle mr-2"></span> Covid-19 Alert <span class="ml-3"><img src="/images/AdaniInstitute/arrow_white.svg"></span></a></p> -->
            <!-- </div> -->
            <!-- <div class="col-lg-8 col-md-7 d-md-block d-none"> -->
                <!-- <ul> -->
                        <!-- <li class="nav-item"> -->
                            <!-- <a class="nav-link" href="https://stageadaniinstitute.advaiya.co/newsroom">Newsroom</a> -->
                        <!-- </li> -->
                        <!-- <li class="nav-item"> -->
                            <!-- <a class="nav-link" href="https://stageadaniinstitute.advaiya.co/faq">FAQs</a> -->
                        <!-- </li> -->
                        <!-- <!-- <li class="nav-item"> --> 
                            <!-- <!-- <a class="nav-link" href="">Apply Online</a> --> 
                        <!-- <!-- </li> --> 
                <!-- </ul> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
	<div class="navPanel">
	<div class="container-fluid navtopbar">
	 
	 <nav class="navbar navbar-expand-lg navbar-light">
	 <!-- logo Garvhai -->
      <a class="navbar-brand" href="/"><img src="-/media/FCE3CD07D6A54F108DC3202199BE2387.ashx" alt="Adani Institute"></a>
	  <!-- /logo Garvhai -->
	  <div class="menu-overlay d-none"></div>
      <div class="collapse navbar-collapse" id="mainMenu">
		<div class="collapse_toggle">
		<span></span>
		<span></span>
		</div>
       <ul class="navbar-nav ml-auto primaryMenu">
					@foreach (Item parent in element.GetChildren())
						{
							Sitecore.Data.Fields.LinkField linkURL = parent.Fields["Link"];
							var URL = linkURL.GetFriendlyUrl();
							if (parent.HasChildren)
							{
								<li class="nav-item dropdown">
							<a class="nav-link" href="@URL">@Html.Sitecore().Field("NavigationTitle", parent)</a>
							<div class="dropdown-menu megamenu">
								<ul>
								@foreach (Item child in parent.GetChildren())
								{
									Sitecore.Data.Fields.LinkField linkFieldsURL = child.Fields["Link"];
									var priURL = linkFieldsURL.GetFriendlyUrl();
									<li class="dropdown-item"><a href="@priURL">@Html.Sitecore().Field("NavigationTitle", child)</a></li>
									
								}
								</ul>
							</div>
							</li> 
							}
							else
							{
								<li class="nav-item">
							
								<a class="nav-link" href="@URL">@Html.Sitecore().Field("NavigationTitle", parent)</a>
								</li>
							}
							
						}
			</ul>
      </div>
	  <div class="search_container ">
	  <ul class="toggle_search d-none">
			<li>
				<a href="#">
				   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg> 
				</a>
				<div class="search-dropdown">
							<div class="container-fluid">
							<div><input type="text" class="form-control" id="SearchBox" placeholder="search"><button type="submit" onclick="Search()" id="SearchBtn"><span class="fa fa-search"></span></button></div>
							<div class="popular_search">
								<p>Popular Search</p>
								<ul>
									<li><a href="https://stageadaniinstitute.advaiya.co/blogs">Blog</a></li>
									<li><a href="https://stageadaniinstitute.advaiya.co/newsroom">Newsroom</a></li>
									<li><a href="https://stageadaniinstitute.advaiya.co/Programmes">Programmes</a></li>
								</ul>
							</div>
							</div>
							
						</div>
			</li>
		</ul>
	  <button class="navbar-toggler" id="nav-button" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="fa fa-bars"></span>
      </button>
	  </div>
    </nav>
	</div>
	</div>
</header>