@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    var i = 1;
}


<section class="section_programmes">
    <div>
        <h4>@Html.Sitecore().Field("Title", elements)</h4>
        <h2>@Html.Sitecore().Field("Heading", elements)</h2>
        <p class="sub_text">@Html.Sitecore().Field("ShortDescription", elements)</p>
        @foreach (var items in elements.GetChildren().ToList())
        {

            var c = items.Fields["Title"];
            if (i == 1)
            {
                <div><a href="" class="">@Html.Sitecore().Field("Heading", items)<span><amp-img alt="view-all" width="16" height="8" src="-/media/8BBAB65253624203A581D5586C6F1E44.ashx"></span></a></div>
            }
            else
            {
                <div><a href="" class="">@Html.Sitecore().Field("Title", items)<span><amp-img alt="@c" width="16" height="8" src="-/media/8BBAB65253624203A581D5586C6F1E44.ashx"></span></a></div>
            }
            i++;
        }
    </div>
</section>