@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var imgurls = Helper.ImageUrl("LinkImage", element);

    var element1 = Sitecore.Context.Database.GetItem("{1FA3BB31-ED58-49D3-87D2-08EC3280AA62}");
    var imgurl = Helper.ImageUrl("LinkImage", element1);
}
@if (element != null)
{
    
        <a href="#" class="hamburger_icon"><img src="-/media/3D3F3F0499C1428A974561BAFB5D8225.ashx" alt="Hamburger" /></a>
        <a href="#" class="logo"><img src="@imgurl" alt="@Html.Sitecore().Field("Title", element1)"></a>

        <div class="navigation">
            <nav>
                @if (element.HasChildren)
                {
                    foreach (Item item in element.GetChildren())
                    {
                        var url = Helper.LinkUrl(item.Fields["LinkUrl"]);
                        <a href="@url">@Html.Sitecore().Field("Title", item)</a>
                    }
                }
            </nav>
            <a href="#"><img src="@imgurls" alt="User" /></a>
        </div>
       
    
}

