@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.ForgotPasswordInfo

@if (Session["ForgotPasswordRevamp"] != null && Session["ForgotPasswordRevamp"].ToString() == "2")
{

    Session["ForgotPasswordRevamp"] = null;
<script type="text/javascript">
        $(document).ready(function () {
            //debugger;
            dataLayer.push({
                 'event': "aeml_password_reset_failure",
                'eventCategory': "User Login",
                'eventAction': "AEML Password Reset Failure",
                'eventLabel': "@Html.Sitecore().Dictionary("/Accounts/Controller Messages/Email Account Mismatch", "Email Address and Account number not matched. Please enter associated account number with email address.")",
                'business_user_id': $('#BusinessUserId').val(),
                'login_status': $('#login_status').val(),
                'ca_number': $('#GACANumber').val(),
                'page_type': $('head title').text()
            });
        });
</script>

}

@if (Session["ResetPasswordSuccessLink"] != null && Session["ResetPasswordSuccessLink"].ToString() == "2")
{
    Session["ResetPasswordSuccessLink"] = null;
<script type="text/javascript">
        $(document).ready(function () {
            //debugger;
            dataLayer.push({
                 'event': "aeml_password_reset_link_sent",
                'eventCategory': "User Login",
                'eventAction': "AEML Password Reset Link Sent",
                'eventLabel': "NA",
                'business_user_id': $('#BusinessUserId').val(),
                'login_status': $('#login_status').val(),
                'ca_number': $('#GACANumber').val(),
                'page_type': $('head title').text()
            });
        });
</script>

}

@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}

@if (contextItem != null)
{
    <div class="col l6 s12 offset-l3">
        <div>
            <h1>@Html.Raw(contextItem["Title"])</h1>
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin", id = "frmForgotPassword" }))
            {
                @Html.AddUniqueFormId()
                @Html.AntiForgeryToken()
                <div class="card-with-form login-wrap section-container" id="ForgotFormField">
                    <div class="input-field custom">
                        @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control reset-control", id = "ForgotUserName" })
                        <label class="active" for="ForgotUserName"> @Html.Sitecore().Dictionary("/Accounts/Forgot Password/Enter User Name Email", "Enter User Name / Email")</label>
                        @Html.ValidationMessageFor(x => x.LoginName, "", new { @class = "help-block" }, "p")
                    </div>
                    <div class="input-field custom">
                        @Html.TextBoxFor(x => x.AccountNo, new { @class = "form-control reset-control", id = "CaNumber", @maxlength = "9", @type = "number", @oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                        <label class="active" for="CaNumber">@Html.Sitecore().Dictionary("/Accounts/Forgot Password/Enter CA Number", "Enter CA Number")</label>
                        @Html.ValidationMessageFor(x => x.AccountNo, "", new { @class = "help-block" }, "p")
                    </div>
                    <div class="input-field custom">
                        <div class="captcha_box">
                            <div class="form-group pt-md-2 @Html.ValidationErrorFor(x => x.Captcha, "has-error")">
                                <label for="" class="">@Html.Sitecore().Dictionary("/Common/Captcha", "Captcha") <span class="required">*</span></label>
                                <div class="row captcha_box" style="padding-left:10px;">
                                    <div class="col-lg-12">
                                        <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="@Html.Sitecore().Dictionary("/Common/CaptchaKey", "6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf")"></div>
                                        @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="h-right btn-group">
                        @*<button type="button" onclick="history.go(-1);" class="btn-flat waves-effect bold">@Html.Sitecore().Dictionary("/Accounts/Forgot Password/Button/Back", "Back")</button>*@
                        <button type="button" id="btnReset" data-gaevent="aeml_reset_password_account_verification"
                                data-gaeventCategory="User Login"
                                data-gaeventAction="AEML Reset Password Account Verification"
                                data-gaeventLabel="Reset"
                                onclick="ResetElement('frmForgotPassword')" class="waves-effect btn-flat login-btn">
                            @Html.Sitecore().Dictionary("/Accounts/Forgot Password/Button/Cancel", "Reset")
                        </button>
                        <button type="submit" class="waves-effect btn btn-continue login-btn"
                                data-gaevent="aeml_reset_password_account_verification"
                                data-gaeventCategory="User Login"
                                data-gaeventAction="AEML Reset Password Account Verification"
                                data-gaeventLabel="Submit" id="ForgotButtonSubmit">
                            @Html.Sitecore().Dictionary("/Accounts/Forgot Password/Button/Submit", "Submit")
                        </button>
                    </div>
                </div>
            }
            <div class="bordered-items section-container">
                <ul>
                    <li>
                        @Html.Sitecore().Dictionary("/Common/Need some help", "Need some help?")
                        <a href="javascript:void(0)"
                           data-gaevent="chat_now_cta_click"
                           data-gaeventCategory="CTA Click"
                           data-gaeventAction="Chat Now CTA Click"
                           data-gaeventLabel="NA"
                           onclick="OpenElektra();" class="bold">@Html.Sitecore().Dictionary("/Common/Chat Now", "Chat Now")</a> @Html.Sitecore().Dictionary("/Common/or call", "or call")
                        <span class="ff-rb">@Html.Sitecore().Dictionary("/Common/PhoneNo", "19122")</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>
    <script type="text/javascript">
        function ResetElement(formId) {
            var FormIdWithPrefix = jQuery("#" + formId);
            var resetInputField = FormIdWithPrefix.find(".reset-control");
            resetInputField.val("");

            window.location.href = window.location.href
        }

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $('#ForgotButtonSubmit').click();
            }
        });
    </script>
}