@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}

@if (contextItem != null)
{
    <div class="col s12 m8 offset-m1">
        <section class="section-wrapper">
            <div class="ownership-transfer">
                <header class="section-header">
                    <h1>@Html.Raw(contextItem["Title"])</h1>
                    <p>@Html.Raw(contextItem["Body"])</p>
                </header>
                <div class="section-wrapper custom_accrdion rounded">
                    <div class="accordion">
                        <ul class="collapsible collapsible-accordion">
                            <li class="active">
                                <div class="collapsible-header hide center">
                                    <a href="javascript:void(0)">@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Update Profile", "Update Profile")</a>
                                </div>
                                <div class="collapsible-body">
                                    <h2>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Update Profile", "Update Profile")</h2>
                                    @Html.Sitecore().Placeholder("EditMainContentForm")
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header center">
                                    <a href="javascript:void(0)">@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Change Password", "Change Password")</a>
                                </div>
                                <div class="collapsible-body">
                                    <h2>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Edit Profile/Change Password", "Change Password")</h2>
                                    @Html.Sitecore().Placeholder("ChangePasswordForm")
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                @*<div class="full-width-cta-wrp" style="padding-top: 60px;">
                        <a class="waves-effect waves-light btn btn-000 outlined full">Update Profile</a>
                    </div>*@
            </div>
        </section>
    </div>

    <script type="text/javascript">
        function ResetPage() {
            window.location = window.location.href;
        }
        $(document).ready(function () {
            $("input[name=EBill]:nth-child(2)").appendTo("#chkBoxField");

            $('.submit-new-request .input-field').each(function () {
                if ($(this).hasClass("has-error")) {
                    var closestLi = $(this).closest('li');
                    $(closestLi).addClass('active');
                    $(closestLi).find('.collapsible-header').addClass('hide');
                    $(closestLi).find('.collapsible-body').show();
                    var siblingLi = $(closestLi).siblings();
                    $(siblingLi).removeClass('active');
                    $(siblingLi).find('.collapsible-header').removeClass('hide');
                    $(siblingLi).find('.collapsible-body').hide();
                }
            })
        });
    </script>

}
