@using Sitecore.Foundation.Dictionary.Extensions

@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;

    Sitecore.Data.Items.Item paymentTypeItem = Sitecore.Context.Database.GetItem("{2BEDA216-7AD7-4FDB-B2AD-AE5D3931C55D}");

}

@if (contextItem != null)
{
    <div class="col s12 m8 offset-m1">
        <header class="section-header">
            <h1>@Html.Raw(contextItem["Title"])</h1>
            <p>@Html.Raw(contextItem["Body"])</p>
        </header>
        <input type="hidden" value="@Html.Sitecore().Dictionary("/BillingAndPayment/DownloadBills/Download", "Download")" id="hdnDictDownload" />
        <input type="hidden" value="@Html.Sitecore().Dictionary("/BillingAndPayment/PaymentHistory/Receipt No", "Receipt No")" id="hdnDictReceiptNo" />
        <div class="section-inner-wrapper section-container card brand-gradient remove-gradient outlined border-none-mobile">
            @Html.Sitecore().Placeholder("switch-account-content")

            @Html.Raw(contextItem["Warning"])
            <div class="section-header justify-item">
                <header>
                    <h5 class="custom-table-heading">@Html.Sitecore().Dictionary("/BillingAndPayment/PaymentHistory/TotalPayments", "Total Payments"): <span id="paymentHistoryCount"></span></h5>
                </header>
                @*<div class="hide-on-med-and-down">
                        <aside>
                            <div class="dropdown_wrapper">
                                <a href="#" class="datepicker select_button" data-target="#menu1">
                                    @Html.Sitecore().Dictionary("/BillingAndPayment/PaymentHistory/SelectDate", "Select Date")
                                    <span data-target="#menu1"><i class="i-arrow-d"></i></span>
                                </a>
                            </div>
                        </aside>
                    </div>*@
            </div>

            <div class="customer_detail_wrapper customer_detail_list">
                <table class="customer_detail_list-details" id="tblPaymentHistoryRevamp" tabindex='1'>
                    <thead>
                        <tr>
                            <th>@Html.Sitecore().Dictionary("/BillingAndPayment/PaymentHistory/Detail", "Detail")</th>
                            <th>@Html.Sitecore().Dictionary("/BillingAndPayment/PaymentHistory/PaymentDate", "Payment Date")</th>
                            <th>@Html.Sitecore().Dictionary("/BillingAndPayment/PaymentHistory/Amount", "Amount")</th>
                        </tr>
                    </thead>
                    <tbody id="tblPaymentHistoryBody">
                    </tbody>
                </table>
            </div>
            <div class="pagination"></div>
        </div>
    </div>
}
<script src="/Scripts/Accounts/PaymentHistoryRevamp.js"></script>
