@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ElectricityRevamp.ReportElectricityTheftRevamp

@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    Sitecore.Data.Items.Item areaItem = Sitecore.Context.Database.GetItem("{64D26EEA-35FB-4F89-95B8-69643F927232}");
    var ToastModal = Session.GetAndRemove("ReportElectricityTheftFormRevampMessage") as Sitecore.Foundation.Alerts.Models.InfoMessageRevamp;
    if (ToastModal != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageViewRevamp, ToastModal);
    }
}

<div class="col s12 m8 offset-m1">
    <section class="section-wrapper">
        <div class="ownership-transfer">
            <header class="section-header">
                <h1>@Html.Raw(contextItem["Title"])</h1>
                <p>@Html.Raw(contextItem["Body"])</p>
            </header>
            <div class="section-wrapper custom_accrdion rounded">
                <div class="card brand-gradient section-inner-wrapper outlined card-with-form">
                    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmReportElectricityTheft" }))
                    {
                        @Html.AddUniqueFormId()
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <input type="hidden" id="EmptyEmail" value="@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/Email", "Email is required")" />
                        <input type="hidden" id="InValidEmail" value="@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/InValidEmail", "Please enter valid Email")" />
                        <input type="hidden" id="EmptyMobileNumber" value="@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/MobileNumber", "Mobile Number is required")" />
                        <input type="hidden" id="InValidMobileNumber" value="@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/InValidMobileNumber", "Please enter valid Mobile Number")" />

                        <div class="submit-new-request">
                            <div class="input-field custom">
                                <select id="Area" name="Area">
                                    @if (areaItem != null)
                                    {
                                        foreach (Sitecore.Data.Items.Item item in areaItem.GetChildren().Where(p => !string.IsNullOrEmpty(p["Value"])))
                                        {
                                            <option value="@item["Value"]">@item["Text"]</option>
                                        }
                                    }
                                </select>
                                <label for="Area">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Area", "Area")</label>
                                <p class="field-validation-error" style="display:none">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/Area", "Please Select Area")</p>
                            </div>
                            <div class="input-field custom">
                                @Html.TextBoxFor(x => x.Name, new { id = "Name" })
                                <label for="Name">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Name", "Name")</label>
                                <p class="field-validation-error" style="display:none">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/Name", "Name is required")</p>
                            </div>
                            <div class="input-field custom">
                                @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", id = "MobileNumber", maxlength = "10" })
                                <label for="MobileNumber">@Html.Sitecore().Dictionary("/ReportElectricityTheft/MobileNumber", "MobileNumber")</label>
                                <p class="field-validation-error" style="display:none">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/MobileNumber", "Mobile Number is required")</p>
                                @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "help-block" }, "p")
                            </div>
                            <div class="input-field custom">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "Email" })
                                <label for="Email">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Email", "Email")</label>
                                <p class="field-validation-error" style="display:none">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/Email", "Email is required")</p>
                                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" }, "p")
                            </div>
                            <div class="input-field custom">
                                <textarea class="form-control" cols="20" id="ReportTheft" maxlength="120" name="ReportTheft" rows="2"></textarea>
                                <label for="ReportTheft">@Html.Sitecore().Dictionary("/ReportElectricityTheft/ReportTheft", "Report Theft")</label>
                                <p class="field-validation-error" style="display:none">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/ReportTheft", "ReportTheft is required")</p>
                            </div>
                            <div class="input-field custom" id="captchadiv">
                                <div class="captcha_box" style="padding-left:5px;">
                                    <label for="" class="">@Html.Sitecore().Dictionary("/Common/Captcha", "Captcha") <span class="required">*</span></label>
                                    <div class="row captcha_box" style="padding-left:10px;">
                                        <div class="col-lg-12">
                                            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf"></div>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                <p class="field-validation-error" style="display:none">@Html.Sitecore().Dictionary("/ReportElectricityTheft/Validation/Captcha", "Please confirm you are not a robot.")</p>
                            </div>
                            <div class="h-right btn-group">
                                <button type="button" id="btnResetElectricityTheft" value="@Html.Sitecore().Dictionary("/ReportElectricityTheft/Button/Reset", "Reset")" class="waves-effect waves-light btn-flat">
                                    @Html.Sitecore().Dictionary("/ReportElectricityTheft/Button/Reset", "Reset")
                                </button>
                                <button type="submit" name="submit" id="save" value="@Html.Sitecore().Dictionary("/ReportElectricityTheft/Button/Submit", "Submit")" class="waves-effect waves-light btn .TheftButton">
                                    @Html.Sitecore().Dictionary("/ReportElectricityTheft/Button/Submit", "Submit")
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>
<script type="text/javascript">
    $("#frmReportElectricityTheft").submit(function (event) {
        var isvalid = true;
        var EmptyMobileNumber = $('#EmptyMobileNumber').val();
        var InValidMobileNumber = $('#InValidMobileNumber').val();
        var EmptyEmail = $('#EmptyEmail').val();
        var InValidEmail = $('#InValidEmail').val();

        if ($('select#Area option:selected').val().toLowerCase() == 'select') {
            $('#Area').closest('.input-field').find('p.field-validation-error').show();
            isvalid = false;
        } else {
            $('#Area').closest('.input-field').find('p.field-validation-error').hide();
        }
        if ($('#Name').val() == '' || $('#Name').val().trim() == '') {
            $('#Name').closest('.input-field').find('p.field-validation-error').show();
            isvalid = false;
        } else {
            $('#Name').closest('.input-field').find('p.field-validation-error').hide();
        }
        if ($('#MobileNumber').val() == '' || $('#MobileNumber').val().trim() == '') {
            $('#MobileNumber').closest('.input-field').find('p.field-validation-error').html(EmptyMobileNumber).show();
            isvalid = false;
        } else {
            var regrex = /^[6789]\d{9}$/;
            if (!regrex.test($('#MobileNumber').val())) {
                $('#MobileNumber').closest('.input-field').find('p.field-validation-error').html(InValidMobileNumber).show();
                isvalid = false;
            } else {
                $('#MobileNumber').closest('.input-field').find('p.field-validation-error').hide();
            }
        }

        if ($('#Email').val() == '') {
            $('#Email').closest('.input-field').find('p.field-validation-error').html(EmptyEmail).show();
            isvalid = false;
        } else {
            var regrex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!regrex.test($('#Email').val())) {
                $('#Email').closest('.input-field').find('p.field-validation-error').html(InValidEmail).show();
                isvalid = false;
            } else {
                $('#Email').closest('.input-field').find('p.field-validation-error').hide();
            }
        }
        if ($('#ReportTheft').val() == '' || $('#ReportTheft').val().trim() == '') {
            $('#ReportTheft').closest('.input-field').find('p.field-validation-error').show();
            isvalid = false;
        } else {
            $('#ReportTheft').closest('.input-field').find('p.field-validation-error').hide();
        }
        if (!(grecaptcha && grecaptcha.getResponse().length !== 0)) {
            $('#captchadiv').find('p.field-validation-error').show();
            isvalid = false;
        } else {
            $('#captchadiv').find('p.field-validation-error').hide();
        }

        if (isvalid) {
            $('.loader-wrap').show();
            dataLayer.push({
                'event': "electricity_theft_form_submit",
                'eventCategory': "Help & Support",
                'eventAction': "Electricity Theft Form Submit",
                'eventLabel': "Success",
                'business_user_id': $('#BusinessUserId').val(),
                'login_status': $('#login_status').val(),
                'ca_number': $('#GACANumber').val(),
                'page_type': $('head title').text()
            });
        }
        else {
            dataLayer.push({
                'event': "electricity_theft_form_error",
                'eventCategory': "Help & Support",
                'eventAction': "Electricity Theft Form Error",
                'eventLabel': "error message",
                'business_user_id': $('#BusinessUserId').val(),
                'login_status': $('#login_status').val(),
                'ca_number': $('#GACANumber').val(),
                'page_type': $('head title').text()
            });
        }

        return isvalid;
    });

    $('#btnResetElectricityTheft').click(function () {
        $('.loader-wrap').show();
        $('#frmReportElectricityTheft input').val('');
        $('#frmReportElectricityTheft textarea').val('');
        window.location.href = window.location.href;
    })

    $('.custom').click(function () {
        dataLayer.push({
            'event': 'electricity_theft_form_interaction',
            'eventCategory': 'Help & Support',
            'eventAction': 'Electricity Theft Form Interaction',
            'eventLabel': 'Submit',
            'business_user_id': $('#BusinessUserId').val(),
            'login_status': $('#login_status').val(),
            'ca_number': $('#GACANumber').val(),
            'page_type': $('head title').text()
        });

    })
</script>