@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.SessionHelper
@model Sitecore.Feature.Accounts.Models.SubmitMeterReading
@{
    var index = 0;
    var index2 = 0;
    var index3 = 0;
    var attachIndex = 0;
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
}

<div class="col s12 l8 offset-l1">

    <header class="section-header">
        <h1>@Html.Raw(contextItem["Title"])</h1>
        <p>@Html.Raw(contextItem["Body"])</p>
    </header>


    @*<h2>Previous Readings</h2>*@
<div class="card brand-gradient section-inner-wrapper outlined card-with-form remove-gradient border-none-mobile section-wrapper">
    @if (UserSession.UserSessionContext != null)
    {
        @Html.Sitecore().Placeholder("switch-account-content")
    }
    @if (Model.Result != null)
    {

        <div class="message-footer">
            <div class="message warning warning-info">
                <i class="i-info"></i>
                <label>
                    Meter Reading Noted!
                    @if (ViewBag.Result != null)
                    {
                    <p>@ViewBag.Result</p>
                    }
                    else { 
                <p>The meter reading for your account has already been noted. Next meter reading is scheduled on @Html.DisplayTextFor(x => x.Result).</p>
                    }

                </label>
            </div>
            <p>For any further queries please write to us at <a href="javascript:void(0)">helpdesk.mumbaielectricity@adani.com</a></p>
        </div>
    }
    @*<div class="section-header justify-item">

            <h4>Total Readings 45</h4>

        </div>
        <div class="customer_detail_wrapper customer_detail_list">
            <table class="customer_detail_list-details">
                <thead>
                    <tr>
                        <th>Detail</th>
                        <th>READING</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>12512 kWh</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="orange">In Process</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="green">
                                    Approved
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="green">
                                    Approved
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="green">
                                    Approved
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="green">
                                    Approved
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="green">
                                    Approved
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="green">
                                    Approved
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-cell border-right">
                                <label>Jun 2021</label>
                                <div class="status">Submitted: 30 Jun 2021</div>
                                <div class="status">Attachment: Image.jpg</div>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label>₹2040.00</label>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <label class="red">Rejected</label>
                                <div class="status">Comment: Meter reading is not clearly visible in image.</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

            <div class="pagination">
                <a href="#!"><i class="i-arrow-l"></i></a>
                <a href="#!" class="current">1</a>
                <a class="wave-effect" href="#!">2</a>
                <a class="wave-effect" href="#!">3</a>
                <a class="wave-effect" ref="#!">4</a>
                <a class="wave-effect" href="#!">5</a>
                <a href="#!"><i class="i-arrow-r"></i></a>
            </div>*@

</div>
    <div class="section-wrapper custom_accrdion single-item">
        <div class="accordion">
            <ul class="collapsible collapsible-accordion">
                <li class="active">
                    <div class="collapsible-header" tabindex="0">
                        How to submit meter reading?

                    </div>
                    <div class="collapsible-body" style="">
                        <div class="steps-content">
                            <div class="card outlined">
                                <ul>
                                    <li>
                                        <h6>Step 1</h6>
                                        <h5>Enter Account Number</h5>
                                        <p>Your 9-digit account no. can be found at the left side of the first page of your bill.</p>
                                    </li>
                                    <li>
                                        <h6>Step 2</h6>
                                        <h5>Enter Meter Number</h5>
                                        <p>Your 7-digit meter no. can be found at the centre of the first page of your bill.</p>
                                    </li>
                                    <li>
                                        <h6>Step 3</h6>
                                        <h5>Enter Meter Reading</h5>
                                        <p>Enter the reading (kWh) in the space provided.</p>
                                    </li>
                                    <li>
                                        <h6>Step 4</h6>
                                        <h5>Upload Meter Image</h5>
                                        
                                        <ul>
                                            <li>Please ensure that meter reading is clearly visible.</li>
                                            <li>Place your phone vertically in front of the meter approximately 1 foot away.</li>
                                            <li>Click a photo where you can see the reading in 'kWh'.</li>
                                            <li>Upload photo in JPEG or PDF format only.</li>
                                            <li>Please ensure that meter reading is clearly visible in the uploaded image.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    @if (Model.Result == null)
    {
        <div class="full-width-cta-wrp">
            <a class="waves-effect waves-light btn btn-000 outlined full submitButtonMeterReading">Submit New Reading </a>
        </div>
    }
    
    else
    {

        if (Model.MeterList != null && Model.MeterList.Count>0)
        {
            <form action="/submit-meter-reading" class="form-signin" id="frmMeterSubmit" method="post">
                <div class="submitMeterReadingForm" style="display:none">
                    <h2>Submit New Reading</h2>
                    <div class="card brand-gradient outlined section-inner-wrapper card-with-form border-none-mobile">

                        <div class="message-footer">
                            <div class="ownership-transfer">
                                <div class="input-field custom">
                                    <div class="select-wrapper">
                                        <p>Mobile Number* :</p>
                                        @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control reset-control", @type = "number", id = "MobileNumber", maxlength = 10, @autocomplete = "off", required = "required" })
                                        @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="input-field custom">
                                    <p class="mb-3">Meter Number :<b> @Html.DisplayTextFor(x => x.MeterList[index].MeterNumber)</b></p>
                                    <input id="MeterList_0__MeterNumber" name="MeterList[0].MeterNumber" type="hidden" value="7947291">

                                </div>
                                <div class="input-field custom">
                                    <p class="d-block">Meter Reading* :</p>
                                    @Html.TextBoxFor(x => x.MeterList[index].MeterReading, new { @class = "form-control reset-control", @type = "number", id = "MeterReading", @autocomplete = "off", required = "required" })

                                </div>

                                <p>Meter Reading Date* :</p>
                                <div class="position-relative calendarInput">
                                    @Html.TextBoxFor(x => x.MeterList[index].MeterReadingDate, new { @class = "form-control reset-control datepicker docs-date dateCal", id = "MeterReadingDate", required = "required" })

                                    @Html.ValidationMessageFor(x => x.MeterList[index].MeterReadingDate, "", new { @class = "error" })
                                </div>
                                <br />

                                <div class="form-field">
                                    <p class="d-block">Attach Meter Photo* :</p>
                                    <br />
                                    @Html.TextBoxFor(x => x.MeterList[index].File, "", new { @type = "file", @multiple = "multiple", @onchange = "Validate(this);", @accept = ".jpg,.jpeg,.png", required = "required" })


                                    @Html.HiddenFor(x => x.MeterList[index].SMRD)
                                    @*<label class="file-label" for="empList">
                                            <i class="i-attach i-20 with-label">Upload / Drag &amp; Drop</i>
                                        </label>
                                        <input class="input-file" type="file" name="empList" id="empList">*@

                                </div>


                                @if (HttpContext.Current.Session["MeterReadingObj"] != null)
                                {
                                    if (Model.MeterAttachments[attachIndex].FileCT != null)
                                    {
                                        <label class="mb-3">
                                            uploaded Photo :<b>
                                                @Html.ActionLink("Click Here", "DownloadFile", new { id = Model.MeterAttachments[attachIndex].Id }, new { @class = "txt-orange" })
                                            </b>
                                        </label>
                                        attachIndex = attachIndex + 1;
                                    }
                                }
                                @*<div class="section-wrapper">
                                        <div class="payment-confirm-msg">
                                            <i class="i-info"></i>
                                            <label>
                                                The meter reading for your account has already been noted. Next meter reading is scheduled on 17/11/2021.
                                            </label>
                                        </div>
                                    </div>*@
                                @*<div class="h-right btn-group">
                                        <button class="btn btn-flat waves-effect waves-light">Cancel</button>
                                        <button class="waves-effect waves-light btn">Submit</button>
                                    </div>*@
                                @if (Model.CANumber != null && Model.MeterList != null)
                                {
                                    <div class="h-right btn-group">
                                        <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")</button>

                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    }

</div>

<script type="text/javascript">

    $(".submitButtonMeterReading").click(function () {

        $(".submitMeterReadingForm").show();
        @*$.ajax({
            url: "/api/sitecore/AccountsRevamp/SubmitMeterReadingRevamp",
            type: 'GET',
            data: { AccountNumber: @Model.CANumber, source:"4"},
            success: function (data) {

                console.log(data.MeterList[index].MeterNumber);
            }
        });*@

    });
</script>