@using Sitecore.Foundation.Dictionary.Extensions

@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Sitecore.Data.Items.Item datasourceItem = Sitecore.Context.Database.GetItem(datasource);
}

@if (contextItem != null && datasourceItem != null)
{
    <div class="col s12 m8 offset-m1">
        <header class="section-header">
            <h1>@Html.Raw(contextItem["Title"])</h1>
            <p>@Html.Raw(contextItem["Body"])</p>
        </header>
        @*<div class="section-container">
            <div class="section-inner-wrapper card brand-gradient remove-gradient outlined border-none-mobile">
                <div class="content-area mb0">

                    @Html.Sitecore().Placeholder("switch-account-content")

                    @if (!string.IsNullOrEmpty(contextItem["Warning"]))
                    {
                        <div class="message warning warning-info">
                            <aside><i class="i-info"></i> </aside>
                            <div>
                                @Html.Raw(contextItem["Warning"])
                            </div>
                        </div>
                    }

                    @Html.Raw(datasourceItem["Body"])
                </div>

            </div>
        </div>*@


        @Html.Sitecore().Placeholder("other-info-section")
    </div>
}
