@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ChangeBillLanguage

@{
    Sitecore.Data.Items.Item contextItem = Sitecore.Context.Item;
    Sitecore.Data.Items.Item settingsPageItem = Sitecore.Context.Database.GetItem("{0A2789D6-F1AD-493E-B05A-F5DCCBB3E8A3}");
}
@if (ViewBag.Paperless_Billing != null)
{
    string noSettingdivdisplaySetting = "none";
    string SettingdivdisplaySetting = "block";

    if ((bool)ViewBag.Paperless_Billing && (bool)ViewBag.EmailAlert && (bool)ViewBag.SMSAlert)
    {
        noSettingdivdisplaySetting = "block";
        SettingdivdisplaySetting = "none";
    }
    <div class="col l4 s12" id="UDsettingsDiv">
        <div class="dashboard-card">
            <h2>@Html.Sitecore().Dictionary("/UserDashboard/UserDashboardSetting/Settings", "Settings")</h2>
            <aside>
            </aside>
            <div class="card">
                <div class="no-notification-box" id="UDNoSettingEl" style="display:@noSettingdivdisplaySetting">
                    <div class="no-notification-content">
                        <figure>
                            <img src="/electricity_assets/icons/no-notification.png" alt="">
                        </figure>
                        <h3>If you want to opt out for the Paperless billing, Email and SMS Alerts, Please go to the <a class="link-btn" href="@Sitecore.Links.LinkManager.GetItemUrl(settingsPageItem)">Settings</a> Page</h3>
                    </div>
                </div>
                <div class="notification-data" id="UDsettingDivEl" style="display:@SettingdivdisplaySetting">
                    <ul>
                        @if (!(bool)ViewBag.Paperless_Billing)
                        {
                            <li>
                                <figure>
                                    <img src="/electricity_assets/icons/paperless-bill.png" class="paper-less" alt="">
                                </figure>
                                <div class="list-content">
                                    <div class="list-content-left">
                                        <h3>@Html.Sitecore().Dictionary("/UserDashboard/UserDashboardSetting/Paperless Billing", "Paperless Billing")</h3>
                                        <h4>
                                            @Html.Raw(Html.Sitecore().Dictionary("/UserDashboard/UserDashboardSetting/Get OFF", "<strong>Get ₹10 OFF</strong>  on your electricity bill every month - Enable online bills discontinue physical bills."))
                                        </h4>
                                    </div>

                                    <div class="list-content-right">
                                        <div class="switch">
                                            <label>

                                                <input type="checkbox" id="chkPaperlessBilling" @if ((bool)ViewBag.Paperless_Billing) { <text> checked</text>} onclick="checkPaperlessBillingStatus(this)" />
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (!(bool)ViewBag.EmailAlert)
                        {
                            <li>
                                <figure>
                                    <img src="/electricity_assets/icons/email-alert.png" alt="">
                                </figure>
                                <div class="list-content">
                                    <div class="list-content-left">
                                        <h3>@Html.Sitecore().Dictionary("/UserDashboard/UserDashboardSetting/Email Alerts", "Email Alerts")</h3>
                                        <h4>
                                            @Html.Sitecore().Dictionary("/UserDashboard/UserDashboardSetting/Alerts on Mail", "Enable to get alerts related to your electricity account on your registered Email ID.")
                                        </h4>
                                    </div>

                                    <div class="list-content-right">
                                        <div class="switch">
                                            <label>

                                                <input type="checkbox" id="chkEmailAlert" @if ((bool)ViewBag.EmailAlert) { <text> checked</text>} onclick="checkEmailAlert(this)" />
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (!(bool)ViewBag.SMSAlert)
                        {
                            <li>
                                <figure>
                                    <img src="/electricity_assets/icons/sms-alert.png" alt="">
                                </figure>
                                <div class="list-content">
                                    <div class="list-content-left">
                                        <h3>SMS Alert</h3>
                                        <h4>
                                            @Html.Sitecore().Dictionary("/UserDashboard/UserDashboardSetting/Alerts on registered mobile", "Enable to get alerts related to your electricity account on your registered Mobile Number.")
                                        </h4>
                                    </div>

                                    <div class="list-content-right">
                                        <div class="switch">
                                            <label>

                                                <input type="checkbox" id="chkSMSAlert" @if ((bool)ViewBag.SMSAlert) { <text> checked</text>} onclick="checkSMSAlert(this)" />
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}