@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@model RenderingModel
@{
    Layout = null;
}

<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    @Html.Sitecore().VisitorIdentification()
    <meta charset="utf-8">
    <meta name="theme-color" content="#383838" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="/Images/MundraHospital/png" href="/Images/MundraHospital/favicon.png" />

    <title>Adani Group | Leading Indian Multinational Conglomerate</title>
    <META NAME="KEYWORDS" CONTENT="adani india, adani infrastructure, adani industries, adani pvt ltd, adani group, adani projects">

    <META NAME="TITLE" CONTENT="Adani Group | Leading Indian Multinational Conglomerate">

    <META NAME="DESCRIPTION" CONTENT="Founded in 1988, Adani has grown to become a global integrated infrastructure player with businesses in key industry verticals - resources, logistics, energy and agri. Adani’s growth and vision has always been in sync with the idea of Nation Building">

    @*@RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

        @RenderAssetsService.Current.RenderStyles()*@
    <!-- Bootstrap core CSS -->
    <link href="/Styles/MundraHospital/bootstrap.min.css" rel="stylesheet">
    <link href="/Styles/MundraHospital/fontawesome-all.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <!-- <link href="/Styles/MundraHospital/owl.carousel.css" rel="stylesheet">
    <link href="/Styles/MundraHospital/owl.theme.default.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="/Styles/MundraHospital/style.css" rel="stylesheet">
    <link href="/Styles/MundraHospital/responsive.css" rel="stylesheet">
    <link href="/Styles/MundraHospital/slick.css" rel="stylesheet">
    <link href="/Styles/MundraHospital/slick-theme.css" rel="stylesheet">
    <link href="/Styles/MundraHospital/animate.min.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


</head>

<body>




    <header class="fixed-top">
        @Html.Sitecore().Placeholder("header")
    </header>

    @Html.Sitecore().Placeholder("main")


    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script src="/Scripts/MundraHospital/jquery.min.js"></script>
    <script src="/Scripts/MundraHospital/popper.min.js"></script>
    <script src="/Scripts/MundraHospital/bootstrap.min.js"></script>
    <script src="/Scripts/MundraHospital/slick.min.js"></script>
    <script src="/Scripts/MundraHospital/wow.js"></script>
    <script src="/Scripts/MundraHospital/MundraHContactUsForm.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <script type="text/javascript">
        $('.banner-slider').slick({
            infinite: true,
            slidesToShow: 1,
            dots: true,
            arrows: false,
        });

        if ($(window).width() <= 767) {
            $('.image-grid-slider').slick({
                infinite: true,
                slidesToShow: 1,
                dots: true,
                arrows: false,
            });
        }

        $('.team-slider').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            dots: false,
            arrows: true,
            speed: 300,
            responsive: [
                {
                    breakpoint: 991,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '30px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '30px',
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 500,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '30px',
                        slidesToShow: 1
                    }
                }
            ]
        });

        $(window).scroll(function () {
            if ($(document).scrollTop() > 150) {
                $('header').addClass('sticky-header');
            } else {
                $('header').removeClass('sticky-header');
            }
        });

        $(document).ready(function () {
            if ($(window).width() <= 767) {
                $(".sitemap-link").click(function () {
                    $(this).toggleClass('menu_open').siblings().removeClass('menu_open');
                    $(".footer-mobile-menu").slideToggle("fast");
                });
            }
        });

    </script>
</body>
</html>
