@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@model RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
    var j = 1;
}

<div class="">
    <div class="container">


        <ul class="customtabs flex">


            @foreach (var item in model.GetChildren().ToList())
            {

                var titles = item.Fields["Title"].ToString();
                if (i == 1)
                {
                    <li class="active media-tab"><a id="nav-tab-@i" href="#tab-@i">@titles</a></li>

                }
                else
                {
                    <li  class="media-tab"><a id="nav-tab-@i" href="#tab-@i">@titles</a></li>
                }
                i++;


            }


        </ul>
    </div>
</div>


<section class="marathon-winners-section">
    <div class="container">
        <div class="tabcontainerwinner">
            @foreach (var parent in model.GetChildren().ToList())
            {
                if (j == 1)
                {
                    <div class="row active nav-tab-@j">

                        <section class="marathon-winners-section">
                            <div class="container">
                                @foreach (var children in parent.GetChildren().ToList())
                                {

                                    var title = children.Fields["Title"].ToString();
                                    <div class="marathon-winner-category">
                                        <h2>@title</h2>


                                        @foreach (var subchildren in children.GetChildren().ToList())
                                        {
                                            if (subchildren.HasChildren)
                                            {

                                                var subtitle = subchildren.Fields["Title"].ToString();
                                                <h4 style="text-align:center;padding:20px 0 ">@subtitle</h4>


                                                <div class="tab-title hidden-sm hidden-xs">
                                                    <ul>

                                                        @foreach (var subsubchildren in subchildren.GetChildren().ToList())
                                                        {
                                                            if (subsubchildren.HasChildren)
                                                            {
                                                                var subsubtitle = subsubchildren.Fields["Title"].ToString();

                                                                <li><span>@subsubtitle</span></li>
                                                            }
                                                        }

                                                    </ul>
                                                </div>


                                                <div class="tab-wrapper hidden-sm hidden-xs">
                                                    @foreach (var subsubchildren in subchildren.GetChildren().ToList())
                                                    {

                                                        <div class="tab-content row flex">

                                                            @foreach (var subsubsubchildren in subsubchildren.GetChildren().ToList())
                                                            {
                                                                <div class="col-sm-4">
                                                                    <div class="marathon-winner-card">
                                                                        <div class="mthon-win-img">
                                                                            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, subsubsubchildren, new{@class="img-responsive"})
                                                                        </div>
                                                                        <div class="winner-bio">
                                                                            <!-- <span class="candidate-code text-center">F 1137</span> -->
                                                                            <p class="candidate-detail"><span>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, subsubsubchildren)</span></p>									
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }










                                                </div>

                                                foreach (var subsubchildren in subchildren.GetChildren().ToList())
                                                {

                                                    <div class="full-marathon-winner-crousel winner-crousel owl-theme owl-carousel visible-sm visible-xs">
                                                        @foreach (var subsubsubchildren in subsubchildren.GetChildren().ToList())
                                                        {
                                                            <div class="marathon-winner-card">


                                                                @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, subsubsubchildren , new{@class="img-responsive"})
                                                                <div class="winner-bio">
                                                                    <!-- <span class="candidate-code text-center">F 1137</span> -->

                                                                    <p class="candidate-detail"><span>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, subsubsubchildren)</span> </p>													<!--<p class="candidate-detail"><span>BIB :</span> 49012</p>-->
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                }





                            </div>
                        </section>
                        @Html.Sitecore().Field("Summary")
                    </div>
                }
                else
                { <div class="row nav-tab-@j" style="display:none;">

    <section class="marathon-winners-section">
        <div class="container">
            @foreach (var children in parent.GetChildren().ToList())
            {

                var title = children.Fields["Title"].ToString();
                <div class="marathon-winner-category">
                    <h2>@title</h2>


                    @foreach (var subchildren in children.GetChildren().ToList())
                    {
                        if (subchildren.HasChildren)
                        {

                            var subtitle = subchildren.Fields["Title"].ToString();
                            <h4 style="text-align:center;padding:20px 0 ">@subtitle</h4>


                            <div class="tab-title hidden-sm hidden-xs">
                                <ul>

                                    @foreach (var subsubchildren in subchildren.GetChildren().ToList())
                                    {
                                        if (subsubchildren.HasChildren)
                                        {
                                            var subsubtitle = subsubchildren.Fields["Title"].ToString();

                                            <li><span>@subsubtitle</span></li>
                                        }
                                    }

                                </ul>
                            </div>


                            <div class="tab-wrapper hidden-sm hidden-xs">
                                @foreach (var subsubchildren in subchildren.GetChildren().ToList())
                                {

                                    <div class="tab-content row flex">

                                        @foreach (var subsubsubchildren in subsubchildren.GetChildren().ToList())
                                        {
                                            <div class="col-sm-4">
                                                <div class="marathon-winner-card">
                                                    <div class="mthon-win-img">
                                                        @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, subsubsubchildren, new{@class="img-responsive"})
                                                    </div>
                                                    <div class="winner-bio">
                                                        <!-- <span class="candidate-code text-center">F 1137</span> -->
                                                        <p class="candidate-detail"><span>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, subsubsubchildren)</span></p>									<!--<p class="candidate-detail"><span>BIB :</span> 49012</p>-->
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }










                            </div>

                            foreach (var subsubchildren in subchildren.GetChildren().ToList())
                            {

                                <div class="full-marathon-winner-crousel winner-crousel owl-theme owl-carousel visible-sm visible-xs">
                                    @foreach (var subsubsubchildren in subsubchildren.GetChildren().ToList())
                                    {
                                        <div class="marathon-winner-card">


                                            @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, subsubsubchildren , new{@class="img-responsive"})
                                            <div class="winner-bio">
                                                <!-- <span class="candidate-code text-center">F 1137</span> -->

                                                <p class="candidate-detail"><span>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, subsubsubchildren)</span> </p>													<!--<p class="candidate-detail"><span>BIB :</span> 49012</p>-->
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            }





        </div>
    </section>
    @Html.Sitecore().Field("Summary")
</div>
                }
               
                j++;
            }
        </div>
    </div>
</section>

