
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var i = 1; var j = 1;
	 var k = 1; var l = 1;
var HighlightsBannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Sitemap-image"];

}

<section class="inner-banner" style="background-image: url(@HighlightsBannerImage)">
    @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image)
</section>
<div class="pageheading">
    <div class="container flex">
        <h1>Hotel Tie-ups</h1>
    </div>
</div>
<section class="initiatives-section">
    <div class="container full-length">
	<p>We have reached out to a few prominent hotels in the city and they have shared some special offers for all the outstation athletes. To avail these exciting offers, browse through the below sections:</p>
	<p>Disclaimer: Adani Ahmedabad Marathon does not guarantee any of the 3rd party deliverables. </p>
     <div class="initiatives-column" role="tablist" style=" padding-bottom: 5rem; ">
            <ul class="initiatives-tab-title hotel-booking flex flex-wrap">
                @foreach (var item in model.GetChildren().ToList())
                {
				if(i<4)
				{
					
                    var subtitle = item.Fields["SubTitle"].ToString();
                    <li class="initiatives-title-list">
                        <a id="nav-tab-@i" data-toggle="tab" href="#tab-@i" role="tab">
                            <div class="initiatives-thumbnail">
                                @{
                                    Sitecore.Data.Fields.LinkField linkField = @item.Fields[Templates.HasMedia.Fields.Link];
                                    var NavigateUrl = linkField.Url;
                                }


                                <div class="th_img">
                                    @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, item)
                                </div>
                                <h5>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</h5>
                                <h6>@subtitle</h6>
                            </div>
                        </a>
                    </li>
					}
                    i++;
                }
				
            </ul>
            <div id="nav-parent">
                @foreach (var items in model.GetChildren().ToList())
                {
			
					if(j<4)
				{
					
                    var subtitles = items.Fields["SubTitle"].ToString();

                    <div class="initiatives-tab-content initiatives-detail nav-tab-@j" role="tabpanel">
                       
						<div class="initiatives-thumbnail" style=" padding-bottom: 10px; "> <h5 style=" font-size: 2.5rem; margin-bottom: 1rem; ">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, items)</h5> </div>
                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, items)
                    </div>
                  }
				  j++;

                }
				
            </div>




        </div>
         <div class="initiatives-column" role="tablist">
            <ul class="initiatives-tab-title hotel-booking flex flex-wrap">
                @foreach (var item in model.GetChildren().ToList())
                {
				if(k>3)
				{
					
                    var subtitle = item.Fields["SubTitle"].ToString();
                    <li class="initiatives-title-list">
                        <a id="nav-tab-@k" data-toggle="tab" href="#tab-@k" role="tab">
                            <div class="initiatives-thumbnail">
                                @{
                                    Sitecore.Data.Fields.LinkField linkField = @item.Fields[Templates.HasMedia.Fields.Link];
                                    var NavigateUrl = linkField.Url;
                                }


                                <div class="th_img">
                                    @Html.Sitecore().Field(Templates.HasMediaImage.Fields.Image, item)
                                </div>
                                <h5>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</h5>
                                <h6>@subtitle</h6>
                            </div>
                        </a>
                    </li>
					}
                    k++;
                }
            </ul>
            <div id="nav-parent">
                @foreach (var items in model.GetChildren().ToList())
                {
			
					if(l>3)
				{
					
                    var subtitles = items.Fields["SubTitle"].ToString();

                    <div class="initiatives-tab-content initiatives-detail nav-tab-@l" role="tabpanel">
                       
						<div class="initiatives-thumbnail" style=" padding-bottom: 10px; "> <h5 style=" font-size: 2.5rem; margin-bottom: 1rem; ">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, items)</h5> </div>
                        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, items)
                    </div>
                  }
				  l++;

                }
            </div>




        </div>
        </div>
</section>