@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Mvc.Presentation
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	var WebBannerImgUrl="";
	var WebBannerImgAlt="";
	
	var MobileBannerImgUrl="";
	var MobileBannerImgAlt="";
	
	Sitecore.Data.Fields.ImageField WebBannerImg = ((Sitecore.Data.Fields.ImageField)model.Fields["MediaImage"]);
	if (WebBannerImg != null && WebBannerImg.MediaItem != null)
    {
        WebBannerImgUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(WebBannerImg.MediaItem);
        WebBannerImgAlt = WebBannerImg.Alt;
    }
	Sitecore.Data.Fields.ImageField MobileBannerImg = ((Sitecore.Data.Fields.ImageField)model.Fields["MediaThumbnail"]);
	if (MobileBannerImg != null && MobileBannerImg.MediaItem != null)
    {
        MobileBannerImgUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MobileBannerImg.MediaItem);
        MobileBannerImgAlt = MobileBannerImg.Alt;
    }
}
<section class="inner-banner test">
<img src = "@WebBannerImgUrl" alt ="@WebBannerImgAlt" class="img-fluid img-web-banner img-responsive w-100" >
<img src = "@MobileBannerImgUrl" alt ="@MobileBannerImgAlt" class="img-fluid img-mobile-banner img-responsive w-100">

<!-- @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image,0,0,"img-responsive w-100") -->
</section>
<div class="pageheading">
    <div class="container flex">
        <h1>
			@Html.Sitecore().Field(Templates.HasMedia.Fields.Title)
        </h1>
    </div>
</div>
<section class="adani-realty whitebg">
    <div class="container">
		
        @Html.Sitecore().Field(Templates.HasMedia.Fields.Description)
		
    </div>
</section>
<section class="sponsership-btn-section">
@Html.Sitecore().Placeholder("charity-champion")
</section>
<section class="fifth-section">
	@Html.Sitecore().Placeholder("support-cause")
</section>
