@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@{
    var BannerImage = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Banner-Image"];
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
    var j = 1;

}

<section class="inner-banner" style="background-image: url(@BannerImage)"></section>
<div class="pageheading">
    <div class="container flex">
        <h1>@Html.Sitecore().Field("Title")</h1>
        <ul class="piechart beforescew">
            @foreach (var item in model.GetChildren().ToList())
            {
                if (i == 1)
                {
                    <li class="active media-tab">
                        <a id="nav-tab-@i" href="#tab-@i">
                            <span class="chart" data-percent="100">
                            </span>@Html.Sitecore().Field("Title", item)
                        </a>

                    </li>
                }
                else
                {
                    <li class="media-tab">
                        <a id="nav-tab-@i" href="#tab-@i">
                            <span class="chart" data-percent="100">
                            </span>@Html.Sitecore().Field("Title", item)
                        </a>

                    </li>

                }
                i++;
            }
        </ul>
    </div>
</div>

<section class="section-orange">
    <div class="container">
        <div class="tabcontainer">
         
            @foreach (var parent in model.GetChildren().ToList())
            {
                if (j == 1)
                {
                    <div class="row active nav-tab-@j">
                        <div class="tab-title col-sm-4 col-xs-12">
                            <ul>
                                @foreach (var children in parent.GetChildren().ToList())
                                {
                                <li>
                                    
                                    @children.DisplayName.ToString()

                                </li>

                                }
                            </ul>

                        </div>


                        <div class="tab-wrapper col-sm-8 col-xs-12">
                            @foreach (var subchildren in parent.GetChildren().ToList())
                            {


                                <div class="acc-title">
                                    <span>@subchildren.DisplayName.ToString()</span>
                                </div>
                                <div class="tab-content">
                                    <h3>@Html.Sitecore().Field("Title", subchildren)</h3>
                                    @Html.Sitecore().Field("Body", subchildren)
                                </div>
                            }





                            <a href="/Register/" class="btn btn-reg d-none">Register Now</a>
                        </div>

                    </div>
                }

                else if (j == 2 || j==3 || j==4)
                {
                    <div class="row nav-tab-@j" style="display:none;">
                        <div class="tab-title col-sm-4 col-xs-12">
                            <ul>
                                @foreach (var children in parent.GetChildren().ToList())
                                {
                                <li>
                                  
                                    @children.DisplayName.ToString()

                                </li>
                                }
                            </ul>
                        </div>


                        <div class="tab-wrapper col-sm-8 col-xs-12">
                            @foreach (var subchildren in parent.GetChildren().ToList())
                            {


                                <div class="acc-title">
                                    <span>@subchildren.DisplayName.ToString()</span>
                                </div>
                                <div class="tab-content">
                                    <h3>@Html.Sitecore().Field("Title", subchildren)</h3>
                                    @Html.Sitecore().Field("Body", subchildren)
                                </div>
                            }





                            <a href="/Home/Register/" class="btn btn-reg d-none">Register Now</a>
                        </div>

                    </div>
                }
                j++;
            }
        </div>
    </div>
    </section>	
