@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Project.Marathon
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var count = 0;
	var count1 = 0;
	
	var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var RemoteRun = paramid["RemoteRun"] != null ? Sitecore.Context.Database.GetItem(paramid["RemoteRun"]) : null;
	  var count2 = 0;
	var count3 = 0;
	
}

<section class="second-section home_race-section" id="RaceKmInfo">
<div class="container">
	<div class="parent_run">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  
		</ul>
		<div class="tab-content d-block" id="myTabContent-2">
		  <div class="tab-pane fade " id="Physical" role="tabpanel" aria-labelledby="Physical-tab">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			@foreach (var parent in model.GetChildren().ToList())
                    {
                        count = count +1;
                  if(count == 1)
				  {
                          <li class="nav-item active" role="presentation">
							<a class="nav-link" id="physical-tab-1" data-toggle="tab" href="#p-tab-@count" role="tab" aria-controls="p-tab-@count" aria-selected="true"> @Html.Sitecore().Field("Title", parent)</a>
						  </li>
                      
                        }
						else
						{
						  <li class="nav-item" role="presentation">
							<a class="nav-link" id="physical-tab-1" data-toggle="tab" href="#p-tab-@count" role="tab" aria-controls="p-tab-@count" aria-selected="true"> @Html.Sitecore().Field("Title", parent)</a>
						  </li>
                      
						}
                        }
			
					</ul>
			<div class="tab-content d-block" id="myTabContent-3">
			 @foreach (var parent in model.GetChildren().ToList())
                {
				count1 = count1 +1;
				 if(count1 == 1)
				  {
				  <div class="tab-pane fade active in" id="p-tab-@count1" role="tabpanel" aria-labelledby="p-tab-@count1">
				  @Html.Sitecore().Field("Body", parent)
				  </div>
				  }
				  else{
				    <div class="tab-pane fade" id="p-tab-@count1" role="tabpanel" aria-labelledby="p-tab-@count1">
				  @Html.Sitecore().Field("Body", parent)
				  </div>
				  }
				  }
			</div>
		</div>
		  <div class="tab-pane fade show active" id="Remote" role="tabpanel" aria-labelledby="Remote-tab">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
					@foreach (var parent in RemoteRun.GetChildren().ToList())
                    {
                        count2 = count2 +1;
                  if(count2 == 1)
				  {
                          <li class="nav-item active test1" role="presentation">
							<a class="nav-link" id="Remote-tab-1" data-toggle="tab" href="#r-tab-@count2" role="tab" aria-controls="r-tab-@count2" aria-selected="true"> @Html.Sitecore().Field("Title", parent)</a>
						  </li>
                      
                        }
						else
						{
						  <li class="nav-item" role="presentation">
							<a class="nav-link" id="Remote-tab-1" data-toggle="tab" href="#r-tab-@count2" role="tab" aria-controls="r-tab-@count2" aria-selected="true"> @Html.Sitecore().Field("Title", parent)</a>
						  </li>
                      
						}
                        }			
			</ul>
			<div class="tab-content d-block" id="myTabContent-4">
			@foreach (var parent in RemoteRun.GetChildren().ToList())
                {
				count3 = count3 +1;
				 if(count3 == 1)
				  {
				  <div class="tab-pane fade active in test" id="r-tab-@count3" role="tabpanel" aria-labelledby="r-tab-@count3">
				  @Html.Sitecore().Field("Body", parent)
				  </div>
				  }
				  else{
				    <div class="tab-pane fade" id="r-tab-@count3" role="tabpanel" aria-labelledby="r-tab-@count3">
				  @Html.Sitecore().Field("Body", parent)
				  </div>
				  }
				  }
			</div>
		</div>
		</div>
	</div>
</div>
</section>
<section class="second-section" id="RaceKmInfo" style="display:none">
    <div class="container">
        <div class="row hidden-xs1" >
            <div class="tab-title col-sm-4">
                <ul class="perc-circle">
                    @foreach (var parent in model.GetChildren().ToList())
                    {
                        
                    <li>
                        <span class="chart" data-percent="100"></span>
                        @Html.Sitecore().Field("Title", parent)
                        @Html.Sitecore().Field("Image", parent)
                    </li>
                        
                      
                        
                        }
                        
                    
                </ul>
            </div>
            <div class="tab-wrapper col-sm-8">
                @foreach (var parent in model.GetChildren().ToList())
                {
                   
                    
                        <div class="tab-content row">
                            @Html.Sitecore().Field("Body", parent)
                        </div>
                    
                 
                    
                    }
                    
                
            </div>
        </div>
    </div>
</section>
