@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Search.Models.SearchResultsHeader


@{
    var totalResults = Model.Results.TotalResults;
    if (totalResults == 0)
    {
        <h5 class="text-center">
            @string.Format(Html.Sitecore().Dictionary("/Search/Header/Title Without Results", "Your search for '{0}' yielded no results, please rephrase:"), Model.Context.Query, totalResults)
        </h5>
    }
}


<form action="@Model.Context.SearchResultsUrl" method="GET" class="input-group mb-3">
    <input type="text" name="query" placeholder="@Model.Context.SearchBoxTitle" value="@Model.Context.Query" class="form-control" autocomplete="off" />
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i> @Html.Sitecore().DictionaryField("/Search/Header/Search Again", "Search again")
        </button>
    </div>
</form>

