@model Sitecore.Foundation.Indexing.Models.ISearchResults
<ul class="searchList">
    @foreach (var result in Model.Results)
    {

        <li class="searchItemAustralia">
            @if (result.ViewName != null)
            {
                @Html.Partial(result.ViewName, result);
            }
            else
            {
                <h5>
                    <a href="@result.Url"><span class="txt-blue-dark">&nbsp;>&nbsp;</span>@Html.Raw(result.Title)</a>
                </h5>
                <p>
                    <span class="label label-info">@result.ContentType</span>
                </p>


                if (!string.IsNullOrWhiteSpace(result.Description))
                {
                    @Html.Raw(result.Description)
                }
            }
        </li>
    }
</ul>

