@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Adani.BAU.AdaniUpdates.Project.Helper

@{
    var pageName = Sitecore.Context.Item.Name;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->

    @Html.Raw(Utils.GetSettings("GtmScript"))
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/png" href="assets/images/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="/-/media/Project/Adani-Updates/css/style.css" rel="stylesheet">
    @Html.Partial("/views/AdaniUpdates/SubLayouts/_seoDetailsPartial.cshtml")
</head>

<body>
    <!-- Google Tag Manager (GtmNoScript) -->
    @Html.Raw(Utils.GetSettings("GtmNoScript"))
    <!-- End Google Tag Manager (noscript) -->
    @*Header*@
    @Html.Sitecore().Placeholder("header")
    @*Page Content*@
    <main>
        @if (pageName != "Home")
        {
            <div class="container">
                @Html.Sitecore().Placeholder("main")
            </div>
        }

        else
        {
            @Html.Sitecore().Placeholder("main")
        }
    </main>
    @*Footer*@
    @Html.Sitecore().Placeholder("footer")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="/assets/js/main.js?v1"></script>
</body>

</html>
