@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelepr = new Helper();
}
@if (currentItem != null)
{
    <div class="air-guidlines-section pt-wrap">
        <div class="container">
            <div class="wrap">
                <div class="scrollbar-x ">
                    @foreach (Item guideline in currentItem.Children)
                    {
                        <div class="covidInfoWrap">
                            @Html.Sitecore().BeginField("Link", guideline, new { haschildren = true, @auto_id = @Html.Sitecore().Field("AutoId", guideline) })
                            <figure>
                                @Html.Sitecore().Field("Image", guideline, new { @alt = @Html.Sitecore().Field("Title", guideline) })
                            </figure>
                            <aside>
                                <h3>@Html.Sitecore().Field("Title", guideline) <i class="i-arrow-r"></i></h3>
                                <p>@Html.Sitecore().Field("Description", guideline)</p>
                                <span class="know-btn">@linkHelepr.GetLinkText(guideline, "Link")</span>
                            </aside>
                            @Html.Sitecore().EndField()
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}
