@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="container">
    <div class="row footerPanel2">
        @Html.Sitecore().Placeholder("footer-link")

        @Html.Sitecore().Placeholder("footer-body")

        <div class="col-md-3">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                        <h5><a href="">Reach us</a></h5>
                        <div class="form-group">
                            <select class="form-control" id="">
                                <option>..Regarding..</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="containerid" placeholder="Your Name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="containerid" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" id="" rows="2" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-blue">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
<div class="footerBtmPanel py-2">
    <div class="container">
        @Html.Sitecore().Placeholder("footer-bottom")
    </div>
</div>


@*@Html.Sitecore().Placeholder("footer-logo-vertical")
    @Html.Sitecore().Placeholder("footer-logo")
    @Html.Sitecore().Placeholder("footer-body")*@