@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);


    var i = 1;
    var sortedItem = elements.GetChildren().OrderByDescending(x => x.Fields["Blog Date"].Value);
    string linkUrl = "https://careers.adani.com/Blogs";
}

<section class="pt-3 bg-gray pb-3">
    <div class="container">
        <h3 class="heading pl-4 mb-1 mb-3">Our #HeroesAtWork</h3>




        <!-- Start Blog -->



        <div class="row">
            @foreach (var item in sortedItem)
            {
                var linkUrlss = Sitecore.Links.LinkManager.GetItemUrl(item);
                string[] QueryArray = linkUrlss.Split('/');
                var linkUrls = linkUrl + "/" + QueryArray[6];
                if (i == 1)
                {
                  <div class="col-lg-12 no-gutters careers_blog blog_full mb-4">
                        <a href="@linkUrls" class="d-block position-relative">
					
 <div class="row no-gutters bg-white">

                                <div class="col-lg-6 h-100">
                                    <div class="careers_blog-thumb">
                          
                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                                  
                               </div></div>
<div class="col-lg-6 h-100">

<div class="h-100 position-relative b-block p-lg-5 p-3 blog-cont bg-white">
                                 <div class="blog_title">
                                    <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
									</div>
                                     <p style=" margin-top: 2rem;color: #000;">@Html.Sitecore().Field("Blog Summary", item)</p>
                                </div>

</div>

                            </div>
                        </a>
                    </div>
                }
                else if (i == 2)
                {
                 <div class="col-lg-6 no-gutters mb-4 careers_blog half_blog">
                       
                            <a href="@linkUrls"  <a class="d-block position-relative">
                                <div class="row no-gutters bg-white">

                                <div class="col-lg-12 h-100">

                                    <div class="careers_blog-thumb">
                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
 </div>
                                </div>
                                   <div class="col-lg-12 h-100">

<div class="h-100 position-relative b-block p-lg-5 p-3 blog-cont bg-white">

                                    <div class="blog_title">

                                    <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
									</div>
                                     <p style=" margin-top: 2rem;color: #000;">@Html.Sitecore().Field("Blog Summary", item)</p>
                                </div>

</div>

                            </div>

                        </a>

                    </div>

                }
                else if (i == 3)
                {
                   <div class="col-lg-6 no-gutters mb-4 careers_blog half_blog">
                        <a class="d-block position-relative" href="@linkUrls">
                           <div class="row no-gutters bg-white">

                                <div class="col-lg-12 h-100">

                                    <div class="careers_blog-thumb">

                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                                </div>
								 </div>
                                <div class="col-lg-12 h-100">

<div class="h-100 position-relative b-block p-lg-5 p-3 blog-cont bg-white">

                                    <div class="blog_title">

                                    <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
									</div>
                                      <p style=" margin-top: 2rem;color: #000;">@Html.Sitecore().Field("Blog Summary", item)</p>
                                    </div>

</div>

                            </div>

                        </a>

                    </div>
                }
                else if (i == 4)
                {
                 <div class="col-lg-6 no-gutters mb-4 careers_blog half_blog">
                        <a class="d-block position-relative" href="@linkUrls">
  <div class="row no-gutters bg-white">

                                <div class="col-lg-12 h-100">

                                    <div class="careers_blog-thumb">
                                @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                            </div>
							     </div>
                              <div class="col-lg-12 h-100">

<div class="h-100 position-relative b-block p-lg-5 p-3 blog-cont bg-white">

                                    <div class="blog_title">
                                <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
								 </div>
                               <p style=" margin-top: 2rem;color: #000;">@Html.Sitecore().Field("Blog Summary", item)</p>
                             </div>

</div>

                            </div>

                        </a>

                    </div>
                }
                else if (i == 5)
                {
                   <div class="col-lg-6 no-gutters mb-4 careers_blog half_blog">
                        <a class="d-block position-relative" href="@linkUrls">
                            <div class="row no-gutters bg-white">

                                <div class="col-lg-12 h-100">

                                    <div class="careers_blog-thumb">
                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                               </div></div>
   <div class="col-lg-12 h-100">

<div class="h-100 position-relative b-block p-lg-5 p-3 blog-cont bg-white">

                                    <div class="blog_title">
                                    <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
									</div>
                                     <p style=" margin-top: 2rem;color: #000;">@Html.Sitecore().Field("Blog Summary", item)</p>
                                    </div>

</div>

                            </div>

                        </a>

                    </div>

 
                }
                else
                {
                     <div class="col-lg-6 no-gutters mb-4 careers_blog half_blog">
                        <a href="@linkUrls" class="d-block position-relative">
                            <div class="row no-gutters bg-white">

                                <div class="col-lg-12 h-100">

                                    <div class="careers_blog-thumb">
                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                                </div>
								  </div>
                                 <div class="col-lg-12 h-100">

<div class="h-100 position-relative b-block p-lg-5 p-3 blog-cont bg-white">

                                    <div class="blog_title">

                                    <h3>@Html.Sitecore().Field("Blog Title", item)</h3>
									</div>
                                    <p>@Html.Sitecore().Field("Blog Summary", item)</p>
                                <p style=" margin-top: 2rem;color: #000;">@Html.Sitecore().Field("Blog Summary", item)</p>
                                    </div>

</div>

                            </div>

                        </a>

                    </div>
                }
                if (i == 5)
                {
                    break;
                }




                i++;
            }
        </div><!-- 1st Row-->



        <p class="text-center"><a href="https://careers.adani.com/Blogs" class="btn btn-gradient mb-4 mt-3">Read more </a></p>
        <!-- 4th Row-->
    </div>
</section>