@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var i = 0;
}


<section class="section">
    <div class="container">
        <div class="row">
            @foreach (var item in parent.Children.ToList())
            {
                var z = item.Children.Count();
                <div class="col-lg-6 mb-5">
                    <h2 class="heading pl-4 mb-4">@Html.Sitecore().Field("Title", item)</h2>
                    <div class="p-4 bg-white">
                        <div class="owl-carousel owl-theme single-carousel invester-tiles">
                            @if (z <= 3)
                            {
                            <div class="item">
                                <div class="row">
                                    @foreach (var items in item.Children.ToList())
                                    {
                                        Sitecore.Data.Fields.LinkField linkvalue = items.Fields["Link"];
                                        var linkUrl = linkvalue.GetFriendlyUrl();
                                        <div class="col-md-6 mb-3">
                                            <ul class="ul-reports">
                                                <li>
                                                    <em class="far fa-file mr-2"></em>
                                                    <a rel="noopener noreferrer" <a href="@linkUrl" target="_blank">@Html.Sitecore().Field("Title", items)</a>
                                                </li>
                                            </ul>
                                        </div>



                                    }
                                </div>
                            </div>
                            }
                            else if (z >= 3)
                            {
                            <div class="item">
                                <div class="row">
                                    @foreach (var itemss in item.Children.ToList())
                                    {
                                        Sitecore.Data.Fields.LinkField linkvalue = itemss.Fields["Link"];
                                        var linkUrls = linkvalue.GetFriendlyUrl();
                                        <div class="col-md-6 mb-3">
                                            <ul class="ul-reports">
                                                <li>
                                                    <em class="far fa-file mr-2"></em>
                                                    <a rel="noopener noreferrer" <a href="@linkUrls" target="_blank">@Html.Sitecore().Field("Title", itemss)</a>
                                                </li>
                                            </ul>
                                        </div>


                                    }
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                i++;
            }





        </div>
    </div>
</section>




