@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
                var elements = Sitecore.Context.Database.GetItem(datasource);
				var i=1;
	   
}



<section class="section_growthatmundra section_padding-top">
	<div class="container-fluid" data-aos="fade-up" data-aos-duration="2000">
		
        
		<div class="owl-carousel carousel_growthatmundra">
		 @foreach (var items in elements.Children.ToList())
                {
				Sitecore.Data.Fields.ImageField imgFields = ((Sitecore.Data.Fields.ImageField)items.Fields["MediaThumbnail"]);
                string urls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFields.MediaItem);
				if(i==1)
				{
			<div class="item">
				<div class="item_video-thumb" data-toggle="modal" data-target="#video-@i">
				<h2 class="d-lg-block d-none"><span>#InclusiveGrowth</span> @Html.Sitecore().Field("SubTitle", items)</h2>
<h2 class="d-lg-none d-block">@Html.Sitecore().Field("MediaTitle", items)</h2>
				
					<img src="@urls" alt="" loading=lazy>
					<div>
					
					
						@Html.Sitecore().Field("MediaDescription", items)
					</div>
				</div>
			</div>
			}
			else
			{
			<div class="item">
				<div class="item_video-thumb">
				<h2 class="d-lg-block d-none"><span>#InclusiveGrowth</span> @Html.Sitecore().Field("SubTitle", items)</h2>
<h2 class="d-lg-none d-block">@Html.Sitecore().Field("MediaTitle", items)</h2>
					<img src="@urls" alt="" loading=lazy>
					<div>
					
						@Html.Sitecore().Field("MediaDescription", items)
					</div>
				</div>
			</div>
			}
			i++;
			}
			

		</div>
	</div>
</section>
<div class="modal fade video" id="video-1" tabindex="-1" role="dialog" aria-labelledby="video-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background: #494a4e;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
		<video class="w-100" controls="" poster="">
		  <source src="" type="video/mp4" id="v-1">
		</video>
      </div>
    </div>
  </div>
</div>