@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    string pagename = Path.GetFileName(Request.Url.AbsolutePath);
}
<section class="bg-gray py-5">
    <div class="container">
        <h2 class="mb-3 border-l pl-3 txt-lg mb-3">@Html.Sitecore().Field("title", model)</h2>
        <div class="owl-carousel vision-c">
            @foreach (var items in model.GetChildren().ToList())
            {
                if (!items.DisplayName.Contains(pagename))
                {
                    <div class="item p-2">
                        @{



                             string parentUrl = Sitecore.Links.LinkManager.GetItemUrl(items);


                        }
                        <div class="directors-tile">
                            <a href="@parentUrl">
                                <div class="card">
                                    <div class="b-o-director">@Html.Sitecore().ImageField("Image", items, 0, 0, "img-fluid")</div>


                                    <div class="card-body">
                                        <h4 class="card-title">@Html.Sitecore().Field("Title", items)</h4>
                                        <p class="card-text">@Html.Sitecore().Field("Summary", items)</p>
                                    </div>


                                </div>
                            </a>
                        </div>


                        
                        
                    </div>
                                }
                            }
                            </div>
                </div>
        </section>
