@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);


    var i = 0;
    var sortedItem = elements.Children.Where(x => x.Fields["IsVisible"].Value == "1").OrderByDescending(x => x.Fields["Date"].Value);

}
<div class="col-lg-4 newsupdate mb-3">
    <div class="bg-white box-shadow p-4 h-100" data-aos="fade-right"  >
        <h3 class="section-heading">News and Updates</h3>
        <ul class="ul-news-section">
            @foreach (var item in sortedItem)
            {
                string linkUrl = Sitecore.Links.LinkManager.GetItemUrl(item);
			  Sitecore.Data.Fields.LinkField imageLink = item.Fields["LinkUrl"];
            var imageLinkUrl = imageLink.GetFriendlyUrl();
			
            if (string.IsNullOrEmpty(imageLinkUrl))
            {
                <li>
				
                    <p><a href="@linkUrl" >@Html.Sitecore().Field("Title", item)</a><span>@Html.Sitecore().Field("Date", item, new { format = "MMM dd, yyyy" })  @Html.Sitecore().Field("Author", item)</span></p>
					
                </li>
            }
            else
            {
                <li>
				
                    <p><a href="@imageLinkUrl" target="_blank">@Html.Sitecore().Field("Title", item)</a><span>@Html.Sitecore().Field("Date", item, new { format = "MMM dd, yyyy" })  @Html.Sitecore().Field("Author", item)</span></p>
					
                </li>
            }
            if (i == 3)
            {
                break;
            }
            i++;
            }
        </ul>
        @{

            string parentUrl = Sitecore.Links.LinkManager.GetItemUrl(elements);
        }
        <p class="text-left mt-4"><a href="@parentUrl" class="btn btn-gradient">View more</a></p>
    </div>
</div>
