@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);


    var i = 1;
    var sortedItem = elements.GetChildren().OrderByDescending(x => x.Fields["Blog Date"].Value);
  
}

<section class="pt-3 bg-gray pb-3">
    <div class="container">
       <h4 class="heading pl-4 mb-3">Read our latest blogs</h4>




        <!-- Start Blog -->



        <div class="row">
            @foreach (var item in sortedItem)
            {
            var linkUrls = Sitecore.Links.LinkManager.GetItemUrl(item);
                if (i == 1)
                {
                    <div class="col-lg-6 mb-3 blog-tile padd-box">
                        <a href="@linkUrls">
                           
                                <div class="bg-images">
                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                                    
                                </div>
                                <div class="blog-div p-5">
                                    <h2>@Html.Sitecore().Field("Blog Title", item)</h2>
                                    <p>@Html.Sitecore().Field("Blog Summary", item)</p>
                                </div>
                          
                        </a>
                    </div>
                }
           
           
          
          
            else
            {
          <div class="col-lg-6 mb-3 blog-tile padd-box">
                        <a href="@linkUrls">
                           
                                <div class="bg-images">
                                    @Html.Sitecore().ImageField("Blog Image", item, 0, 0, "img-fluid")
                                    
                                </div>
                                <div class="blog-div p-5">
                                    <h2>@Html.Sitecore().Field("Blog Title", item)</h2>
                                    <p>@Html.Sitecore().Field("Blog Summary", item)</p>
                                </div>
                          
                        </a>
                    </div>
            }
            if (i == 2)
            {
            break;
            }




            i++;
            }
        </div><!-- 1st Row-->



     
        <!-- 4th Row-->
    </div>
</section>