@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;
@model RenderingModel
@using Sitecore.AdaniCapital.Website.Helper

@{



    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    var i = 1;
    
}
<style>
    @@media screen and (max-width: 767px) {
      .celebration .airport-section__carousel .item img {
        max-height: 363px;
      }
      .airport-section__carousel .item a, .airport-section__carousel-2 .item a, .airport-section__carousel-1 .item a {
        height: 363px;
      }
      .celebration .airport-section__carousel .item a div, .celebration .airport-section__carousel-1 .item a div, .celebration .airport-section__carousel-2 .item a div {
        top: 114% !important;
        min-height: 260px;
      }
    }
  </style>
<section class=".airo py-5 section-services bg-white celebration">
      <div class="container">
         <h2 class="mb-3 border-l pl-3 txt-lg mb-3">@Html.Sitecore().Field("Title", elements)</h2>
         <div class="d-lg-block d-none">
            <div class="owl-carousel airport-section__carousel ">
			@foreach (var item in elements.Children.ToList())
            {
			Sitecore.Data.Fields.ImageField imgFieldss = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
			string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFieldss.MediaItem);
			var url = Helper.LinkUrl(item.Fields["LinkUrl"]);
                var href = "javascript:void(0)";
                if (url != "")
                {
                    href = url;
                }
               <div class="item" style="border: 0.5px solid #ebebeb;">
                  <a href="@href">
                     <img src="@imgurls" class="img-fluid w-100" alt="">
                     <div class="text-center">
                        <p>@Html.Sitecore().Field("Title", item)</p>
                        <span>@Html.Sitecore().Field("Summary", item)</span>
                     </div>
                  </a>
               </div>
			   }
               </div>
               </div>
			   <div class="d-lg-none d-block">
            <div class="owl-carousel airport-section__carousel ">
			@foreach (var item in elements.Children.ToList())
            {
			Sitecore.Data.Fields.ImageField imgFieldss = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
			string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFieldss.MediaItem);
			var url = Helper.LinkUrl(item.Fields["LinkUrl"]);
                var href = "javascript:void(0)";
                if (url != "")
                {
                    href = url;
                }
               <div class="item" style="border: 0.5px solid #ebebeb;">
                  <a href="@href">
                     <img src="@imgurls" class="img-fluid w-100" alt="">
                     <div class="text-center">
                        <p>@Html.Sitecore().Field("Title", item)</p>
                        <span>@Html.Sitecore().Field("Summary", item)</span>
                     </div>
                  </a>
               </div>
			   }
			   </div>
         </div>
      </div>
   </section>