
<section class="py-5 bg-gray position-relative d-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-3">
                @Html.Sitecore().Placeholder("case-study")
            </div>
            <div class="col-lg-7 mb-3">
                @Html.Sitecore().Placeholder("Managements-Corner")
            </div>
        </div>
    </div>
</section>
<section class="h-blocks-parent py-5 sustainabilityHomeTile">
    <div class="bg-images"><img src="-/media/DFC11D8F99FA4F7F86D6C01D41136C75.ashx"></div>
    <div class="container">        
        @Html.Sitecore().Placeholder("Sustainability")
    </div>
</section>
<section class="py-5 position-relative d-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-margin">
                @Html.Sitecore().Placeholder("Investor-Community")
            </div>
            <div class="col-lg-5">
                @Html.Sitecore().Placeholder("Heros-Work")
           </div>
        </div>

    </div>
</section>
