@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model Sitecore.Transmission.Website.Models.TransmissionsCostCalculator

<section class="section-login">
    <div class="bg-images"><img src="https://www.adaniports.com/-/media/Project/Ports/PortsAndTerminals/PortImage/Mundra-Port/MundraBanner03/Integrated-Transformation-APSEZ-Mundra-1.jpeg?h=657&la=en&w=1280&hash=22F5BBC1443E7B5B1B4FAABDA2231EA9"></div>
    <div class="container">

        <div class="form_panel">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin", id = "PortsGmsLoginForm" }))
            {
                <!--<form action="" id="PortsGmsLoginForm" method="post">-->
                @Html.AntiForgeryToken()
                @Html.AddUniqueFormId()
                @Html.ValidationSummary(true)
                <div class="">
                    <div class="box-login">
                        @if (Session["SuccessMsg"] != null)
                        {
                            <div class="alert-success mb-4 p-2">@Session["SuccessMsg"]</div>
                            Session["SuccessMsg"] = null;
                        }
                        @if (Session["ErrorMsg"] != null)
                        {
                            <div class="alert-danger mb-4 p-2">@Session["ErrorMsg"]</div>
                            Session["ErrorMsg"] = null;
                        }
                        <h1>Login</h1>
                        <h2>Please Login to Continue</h2>

                        <div class="form-group">
                            <input type="text" class="form-control" name="Email" id="Email" aria-describedby="User ID/Mobile Number" onfocusout="SendLoginOtpEmail(event,this);" placeholder="Enter Email">
                            <small id="mail-login-msg" class="form-text text-muted"></small>

                        </div>
                        <p class="seperater">OR</p>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Mobile" id="mobile-login" aria-describedby="User ID/Mobile Number" placeholder="Enter Mobile No.">
                            <small id="mo-login-msg" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <input type="text" name="OTP" class="form-control" id="OTP" placeholder="Enter OTP">
                            <input type="hidden" name="InCompleteGrievance" value="@Session["InCompleteGrievance"]" />
                        </div>
                        
                        <div class="text-right"><button type="submit" id="PortsGmsLoginButton" class="btn btn-gradient">Login</button></div>

                    </div>
                </div>
            }
        </div>
    </div>


</section>