@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions


@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var techInn = elements.Children;
    var itemURL = "#";
    var i = 1;
	
	var url3 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "url3").FirstOrDefault().Value;
	var Image3 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Image3").FirstOrDefault().Value;
	var Title3 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title3").FirstOrDefault().Value;
	var Summary3 = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Summary3").FirstOrDefault().Value;
}


<div class="row">
    @foreach (var item in techInn.ToList())
    {
        if (i < 3)
        {
            itemURL = Sitecore.Links.LinkManager.GetItemUrl(item);
        <div class="col-lg-4">
            <a href="@itemURL">
                <div class="h-blocks p-4">
                    <div class="bg-images">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                    </div>
                    <div class="h-blocks-inner">
                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                        <p>@Html.Sitecore().Field("Summary", item)</p>
                        <p class="h-blocks-btn">Read more</p>
                    </div>
                </div>
            </a>
        </div>

        }
        i++;
    }
	 <div class="col-lg-4">
            <a href="@url3">
                <div class="h-blocks p-4">
                    <div class="bg-images">
                      <img src="@Image3" class="img-fluid">
                    </div>
                    <div class="h-blocks-inner">
                        <h3>@Title3</h3>
                        <p>@Summary3</p>
                        <p class="h-blocks-btn">Read more</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
