@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var SocialMenu = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Social-Menu"];
    var SocialMenuitem = Sitecore.Context.Database.GetItem(SocialMenu);
    var SocialMenudata = SocialMenuitem.Children;



    var footerMobilelink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["FooterMenuMobile"];
    var footerMobileMenuitem = Sitecore.Context.Database.GetItem(footerMobilelink);
    var footerMobileMenudata = footerMobileMenuitem.Children;




    var footerlinklink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["FooterMenu"];
    var footerlinklinkitem = Sitecore.Context.Database.GetItem(footerlinklink);
    var footerlinklinkdata = footerlinklinkitem.Children;

    var footerlogo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["FooterLogo"];
    

    var i = 1;
    var j = 1;
}

<div class="container">
    <div class="row footerPanel2">
        @foreach (var item in footerlinklinkdata.ToList())
        {
            if (i == 1)
            {
                <div class="col-lg-3 ft-submenu col-6 d-lg-block d-none">
                    <h5>@Html.Sitecore().Field("NavigationTitle", item)</h5>

                    @if (item.HasChildren)
                    {
                        <ul class="ft-business">
                            @foreach (var items in item.GetChildren().ToList())
                            {
                                Sitecore.Data.Fields.LinkField linkvalue = items.Fields["Link"];
                                var link = linkvalue.GetFriendlyUrl();


                                <li><a href="@link">@Html.Sitecore().Field("NavigationTitle", items)</a></li>


                            }
							<li>
                                           		<a href="/system-availability">System Availability</a>

                                        </li>
                        </ul>

                    }

                </div>
                }
                else if (i == 2)
                {
                <div class="col-lg-3 col-6 d-lg-block d-none">
                    <h5>@Html.Sitecore().Field("NavigationTitle", item)</h5>

                    @if (item.HasChildren)
                    {
                        <ul class="ft-business">
                            @foreach (var items in item.GetChildren().ToList())
                            {
                                Sitecore.Data.Fields.LinkField linkvalue = items.Fields["Link"];
                                var link = linkvalue.GetFriendlyUrl();


                                <li><a href="@link">@Html.Sitecore().Field("NavigationTitle", items)</a></li>


                            }
                        </ul>

                    }

                </div>
            }
            i++;
        }
        <div class="col-lg-2 col-6 d-lg-block d-none">
            <div>
                @foreach (var item in footerlinklinkdata.ToList())
                {
				  Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                                var link = linkvalue.GetFriendlyUrl();
                    if (j > 2)
                    {
                        <h5><a href="@link">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                    }
                    j++;
                }
            </div>
        </div>


        <div class="col-lg-4">
            <div class="row border-left ft-logo">
                <div class="col-sm-12 mb-3 text-center">
                    <ul class="ft-social">
                        @foreach (var item in SocialMenudata.ToList())
                        {
                            Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                            var linkUrl = linkvalue.GetFriendlyUrl();
                            <li><a href="@linkUrl" title="@Html.Sitecore().Field("NavigationTitle",item)" data-toggle="tooltip" data-placement="top"><i class="@Html.Sitecore().Field("Icon",item)"> </i></a></li>

                        }
                    </ul>
                </div>
                <div class="col-sm-12 text-center">
                    <ul class="terms-link d-lg-none">
                        <li class="d-inline-block"><a href="/privacy-policy" class="txt-blue">Privacy Policy</a></li>
                        <li class="d-inline-block"><a href="/disclaimer" class="txt-blue">Legal Disclaimer</a></li>
                        <li class="d-inline-block"><a href="/terms-of-use" class="txt-blue">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 text-center py-4">
                    <a href="https://www.adani.com/" target="_blank"><img src="@footerlogo" class="img-fluid"></a>
                </div>
                <div class="col-sm-12 d-lg-none mb-3">
                    <p class="sitemap-link bg-gradient d-block p-2">Sitemap<i class="fa fa-angle-down"></i></p>
                </div>

                <div class="col-sm-12 d-none ft-mobilemenu">
                    <div class="row">
                        @foreach (var item in footerMobileMenudata.ToList())
                        {
                            Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                            var linkUrl = linkvalue.GetFriendlyUrl();

                            <div class="col-sm-6">
                                <h5 class="text-center"><a href="@linkUrl">@Html.Sitecore().Field("NavigationTitle", item)</a></h5>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
	<div class="row footerPanel2">
                <div class="col-lg-3 ft-submenu col-6 d-lg-block d-none">
                    <h5><a href="/regulatory">Regulatory</a></h5>
				</div>
				<div class="col-lg-3 col-6 d-lg-block d-none">
                    <h5><a href="/commercials">Commercials</a></h5>
				</div>
				 </div>
</div>




