@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions


@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var techInn = elements.Children;
    var i = 1;
    var itemURL = "#";
}


<section class="py-5">
    <div class="container">
        <h2 class="mb-3 border-l pl-3">Towards Sustainable Development</h2>
        <div class="row">
            @foreach (var item in techInn.ToList())
            {
                itemURL = Sitecore.Links.LinkManager.GetItemUrl(item);
                if (i == 1)
                {
                    <div class="col-lg-8 mb-4">
                        <a href="@itemURL">
                            <div class="blog-8 bg-black sus-main">
                                <div class="bg-images">
                                    @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                                </div>
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                            </div>
                        </a>
                    </div>
                }
                else if (i == 2)
                {
                    <div class="col-lg-4 mb-4">
                        <a href="@itemURL">
                            <div class="blog-4 bg-black sus-main">
                                <div class="bg-images">
                                    @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                                </div>
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                            </div>
                        </a>
                    </div>
                }
                else if (i == 3)
                {
                    <div class="col-lg-4 mb-4">
                        <a href="@itemURL">
                            <div class="blog-4 bg-black sus-main">
                                <div class="bg-images">
                                    @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                                </div>
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                            </div>
                        </a>
                    </div>
                }
                else if (i == 4)
                {
                    <div class="col-lg-8 mb-4">
                        <div class="row h-100 no-gutters row-animate">
                            <div class="col-lg-6 h-100">
                                <a href="@itemURL">
                                    <div class="tooltip-blog-img h-100">
                                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid h-100 w-100")
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 h-100">
                                <a href="@itemURL">
                                    <div class="tooltip-blog-desc bg-white h-100 p-4">
                                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                i++;
            }
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-center arrow mt-4">View all<i class="fa fa-chevron-down ml-2"></i></p>
            </div>
        </div>
    </div>
</section>

