@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media;
@using Sitecore.Data.Items;
@using Sitecore
@using Sitecore.Data.Fields

@model RenderingModel
@{




    var ApplicableRegulationsdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ApplicableRegulations"];
    var ApplicableRegulations = Sitecore.Context.Database.GetItem(ApplicableRegulationsdatasource);


    var LicenseeOrdersdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["LicenseeOrders"];
    var LicenseeOrders = Sitecore.Context.Database.GetItem(LicenseeOrdersdatasource);

    var AdoptionofTariffOrdersdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["AdoptionofTariffOrders"];
    var AdoptionofTariffOrders = Sitecore.Context.Database.GetItem(AdoptionofTariffOrdersdatasource);

    var AENMDLPDistributiondatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["AENMDLPDistributions"];
    var AENMDLPDistributions = Sitecore.Context.Database.GetItem(AENMDLPDistributiondatasource);

    var ATILdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ATIL"];
    var ATIL = Sitecore.Context.Database.GetItem(ATILdatasource);

    var MEGPTCLdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["MEGPTCL"];
    var MEGPTCL = Sitecore.Context.Database.GetItem(MEGPTCLdatasource);

    var MPSEZUtilitiesLimiteddatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["MPSEZUtilitiesLimited"];
    var MPSEZUtilitiesLimited = Sitecore.Context.Database.GetItem(MPSEZUtilitiesLimiteddatasource);

    var WRSRdatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["WRSR_Power_Transmission_Limited"];
    var WRSR = Sitecore.Context.Database.GetItem(WRSRdatasource);

    var KhargharVikhroliTransmissionPvtLimiteddatasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["Kharghar_Vikhroli_Transmission_Pvt_Limited"];
    var KhargharVikhroliTransmissionPvtLimited = Sitecore.Context.Database.GetItem(KhargharVikhroliTransmissionPvtLimiteddatasource);


}







<section class="py-5 bg-gray">
    <div class="container">
        <div id="accordion" class="accordion investor-faq">
            <div class="card mb-0">


                <div class="card-header collapsed" data-toggle="collapse" href="#ApplicableRegulations">
                    <a class="card-title">
                        Applicable Regulations
                    </a>
                </div>
                <div id="ApplicableRegulations" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in ApplicableRegulations.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#LicenseeOrders">
                    <a class="card-title">
                        License Orders
                    </a>
                </div>
                <div id="LicenseeOrders" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in LicenseeOrders.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#AdoptionofTariffOrders">
                    <a class="card-title">
                        Tariff Orders
                    </a>
                </div>
                <div id="AdoptionofTariffOrders" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in AdoptionofTariffOrders.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#AENMDLPDistributions">
                    <a class="card-title">Adani Electricity Navi Mumbai Distribution License Petition</a>
                </div>
                <div id="AENMDLPDistributions" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in AENMDLPDistributions.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>

                <div class="card-header collapsed" data-toggle="collapse" href="#ATIL">
                    <a class="card-title">ATIL -Petition </a>
                </div>
                <div id="ATIL" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in ATIL.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#MEGPTCL ">
                    <a class="card-title">Maharashtra Eastern Grid Power Transmission Company Limited</a>
                </div>
                <div id="MEGPTCL " class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in MEGPTCL.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#MPSEZUtilitiesLimited ">
                    <a class="card-title">MPSEZ Utilities Limited</a>
                </div>
                <div id="MPSEZUtilitiesLimited " class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in MPSEZUtilitiesLimited.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>


                <div class="card-header collapsed" data-toggle="collapse" href="#WRSR ">
                    <a class="card-title">WRSR Power Transmission Limited</a>
                </div>
                <div id="WRSR " class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in WRSR.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        <!-- <img src="/images/Ports/pdf-icon.svg" class="img-fluid"> -->
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>



                <div class="card-header collapsed" data-toggle="collapse" href="#KhargharVikhroliTransmissionPvtLimited">
                    <a class="card-title">Kharghar Vikhroli Transmission Pvt Limited</a>
                </div>
                <div id="KhargharVikhroliTransmissionPvtLimited" class="card-body collapse" data-parent="#accordion">
                    <div class="p-4">
                        @foreach (var child in KhargharVikhroliTransmissionPvtLimited.Children.ToList())
                        {
                            LinkField URL = child.Fields["Link"];
                            if (URL.TargetItem != null)
                            {
                                var item = URL.TargetItem;

                                <div class="container mt-4">
                                    <h2 class="heading pl-4 mb-4">@child.Name</h2>
                                    <div class="row">
                                        @foreach (var docs in item.Children.ToList())
                                        {
                                            var theURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(docs);
                                            var url = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(theURL);

                                            <div class="col-md-4 mb-4">
                                                <a href="@url" target="_blank">
                                                    <div class="tariff-block bg-white border p-3">
                                                        
                                                        <p>@docs.Name</p>
                                                    </div>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="bg-gray py-1"></div>



            </div>
        </div>
    </div>
</section>

