@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var count = model.Children.Count();
    var itemcount = 1;
    var itemclass = "";
    var itemclass2 = "";
    var cnt = 1;

}
  <section class="mission d-md-block position-relative">
        <div class="container">
            <div class="section-title">
                <h1>@Html.Sitecore().Field("Title",model)</h1>
                <p class="py-5">

                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 py-4">
                    <div class="vision-card pb-5 mb-5">
						@foreach(var child in model.GetChildren().ToList())
						{
						    Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)child.Fields["ImageTitle"]);


							if(itemcount==1)
							{
								<div class="row">
									<div class="col-lg-2">
										<div class="vision-thumb">											
											@if (ImageField.MediaItem != null && ImageField.MediaItem.ToString() != "")
											{
												var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
												<img src="@imgurl" alt="mission" class="img-fluid" width="200">
											}
										</div>
									</div>
									<div class="col-lg-10">
										<div class="vision-description border-bottom pb-5 mb-5">
											@Html.Sitecore().Field("Description", child)
										</div>
									</div>
								</div>
                        
							}
							else
							{
							    <div class="vision-card">
									<div class="row">
										<div class="col-lg-2">
											<div class="vision-thumb">
											@if (ImageField.MediaItem != null && ImageField.MediaItem.ToString() != "")
											{
												var imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
												<img src="@imgurl" alt="mission" class="img-fluid" width="200">
											}
											</div>
										</div>
										<div class="vision-description"></div>
										@Html.Sitecore().Field("Description", child)

									</div>
								</div>
							}
							itemcount++;
						}

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
