@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@{
    var social = Sitecore.Context.Database.GetItem("{56E697EB-C3A6-4578-B781-84A738C157F1}");
    var policys = Sitecore.Context.Database.GetItem("{FA7D8D92-ED22-4E29-BC14-363D3375048A}");
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var menu = Sitecore.Context.Database.GetItem("{FA991E90-F6E1-4738-BE7D-8BA57C90242D}");
}
<div class="container">
    <div class="row">
        @foreach (var element in menu.GetChildren().ToList())
        {
            var childCount = element.GetChildren().Count();
            if (childCount != 0)
            {
                <div class="col-lg-3">
                    <div class="footer footer-1">
                        <ul class="footer-ul pl-0">
                            <li class="footer-li">@Html.Sitecore().Field("NavigationTitle", element)</li>

                            @foreach (var child in element.GetChildren().ToList())
                            {
                                <li>
                                    @Html.Sitecore().BeginField("Link", child, new { haschildren = true })
                                    @Html.Sitecore().Field("NavigationTitle", child)
                                    @Html.Sitecore().EndField()
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        } 
        <div class="col-lg-3">
            <div class="footer footer-4">
                @Html.Sitecore().Field("BackgroundImage", menu)
            </div>
        </div>
    </div>

    <div class="social-link">
        <h3> @Html.Sitecore().Field("Heading", social)</h3>
        <ul class="stay-ul">
            
            @foreach (var element in social.GetChildren().ToList())
            {
                <li>
                    @Html.Sitecore().BeginField("Link", element, new { haschildren = true })
                    @Html.Sitecore().Field("Image", element)
                    @Html.Sitecore().EndField()
                </li>
            }
            </ul>
    </div>

    <div class="copyright">
        
			<div class="navbar">

			  <div class="navbar-container">

				<div class="navbar-content">

				  <div class="navbar-brand"><p>@Html.Sitecore().Field("Heading", policys) &nbsp;</p></div>

				  <div class="navbar-menu">

					<ul class="navbar-links">
						@foreach (var element in policys.GetChildren().ToList())
						{
							
							<li>
							@Html.Sitecore().BeginField("Link", element, new { haschildren = true })
							@Html.Sitecore().Field("NavigationTitle", element)
							@Html.Sitecore().EndField()
							</li>
							
							
							
						}
					  

					</ul>

				  </div>

				</div>

			  </div>

			</div>
    </div>
</div>

<button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
    <i class="fa fa-chevron-up"></i>
</button>