@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);


    var k = 1;
    var j = 1;
    var z = 1;
    var x = 1;

}
<section class="bg-gray pt-5 pb-4">
    <div class="container">
        <h2 class="heading pl-4 mb-4">@elements.DisplayName</h2>
        <div class="row">
            <div class="col-lg-5 p-3 mb-4">
                <h4>@Html.Sitecore().Field("Title", elements)</h4>
                @Html.Sitecore().Field("Body", elements)
                <!-- Nav tabs -->
                <ul class="nav nav-tabs services-tab">
                    @foreach (var itemss in elements.Children.ToList())
                    {
                        if (k == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#service-@j">
                                    @Html.Sitecore().ImageField("Image", itemss, 0, 0, "img-fluid")<span class="d-block">@Html.Sitecore().Field("Title", itemss)</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#service-@j">
                                    @Html.Sitecore().ImageField("Image", itemss, 0, 0, "img-fluid")<span class="d-block">@Html.Sitecore().Field("Title", itemss)</span>
                                </a>
                            </li>
                        }
                        k++;
                        j++;
                    }
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    @foreach (var item in elements.Children.ToList())
                    {
                        if (z == 1)
                        {
                            <div class="tab-pane container active pt-3" id="service-@x">
                                @Html.Sitecore().Field("Body", item)
                            </div>
                        }
                        else
                        {
                            <div class="tab-pane container fade pt-3" id="service-@x">
                                @Html.Sitecore().Field("Body", item)
                            </div>
                        }
                        z++;
                        x++;
                    }

                </div>
            </div>
            <div class="col-lg-7 mb-4">
                @Html.Sitecore().Field("Summary", elements)
            </div>
        </div>
    </div>
</section>