@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);


}

<section class="bg-gray businesses-block">
    <div class="container">
        <h2 class="heading pl-4 mb-4">@Html.Sitecore().Field("Title", models)</h2>
        @Html.Sitecore().Field("Summary", models)

        <div class="row" id="business-parent">
            @foreach (var item in models.Children.ToList())
            {


                <div class="col-sm-6 col-lg-4 my-3">
                    @{

                        Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                        var linkUrl = linkvalue.GetFriendlyUrl();

                    }
                    <a href="@linkUrl" class='business-tile'>
                        <div class="business-thumb">@Html.Sitecore().ImageField("Image", item, 0, 0)</div>
                        <div class="business-title">@Html.Sitecore().Field("Title", item)</div>

                        <div class="business-desc">@Html.Sitecore().Field("Summary", item)</div>
                    </a>
                </div>


            }

        </div>
    </div>
</section>



