@using Sitecore.Mvc

@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    /**/

    //var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var elements = Sitecore.Context.Database.GetItem(datasource);
    //var Children =  elements.Children;
    //var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Ports/", "");
    //var path = ContentPath.Replace("/Ports/", "");
    //string[] pathArr = path.Split('/');
    //var navPath = "/";
    //var pageName = "";

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    var i = 1;

}

<section class="py-4">
    <div class="container">
        @foreach (var item in elements.Children.ToList())
        {

            if (i == 1)
            {

                <div class="row" id="AdaniAerospacepark">
                    <div class="col-lg-6 my-4">
                        <h2 class="heading pl-4 mb-4">@Html.Sitecore().Field("Title", item)</h2>
                        @Html.Sitecore().Field("Body", item)
                        <div class="owl-carousel three-slides">
                            @foreach (var items in item.Children.ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("MediaImage", items, 0, 0, "mb-3")
                                    @Html.Sitecore().Field("MediaDescription", items)
                                </div>
                            }
                        </div>
                    </div>
					
                    <div class="col-lg-6 my-4">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100")
                    </div>
				
                </div>
<br/>
<br/>
            }
            else if (i == 2)
            {
                <div class="row" id="UnmannedAerialVehicleComplex">
                    <div class="col-lg-6 my-4">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100")
                    </div>
                    @foreach (var itemsss in item.Children.ToList())
                    {
                        <div class="col-lg-6 my-4">
                            <div class="vertical-middle">
                                <h2 class="heading pl-4 mb-4">@Html.Sitecore().Field("MediaTitle", itemsss)</h2>
                                @Html.Sitecore().Field("MediaDescription", itemsss)
                            </div>
                        </div>
                    }
                </div>
<br/>
<br/>

            }
            else if (i == 3)
            {
                <div class="row" id="AircraftManufacturingComplex">
                    @foreach (var itemssss in item.Children.ToList())
                    {
                        <div class="col-lg-6 my-4">
                            <div class="vertical-middle">
                                <h2 class="heading pl-4 mb-4">@Html.Sitecore().Field("MediaTitle", itemssss)</h2>
                                @Html.Sitecore().Field("MediaDescription", itemssss)
                            </div>
                        </div>
                    }
                    <div class="col-lg-6 my-4">
                        @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid w-100")
                    </div>
                </div>
				<br/>
				<br/>

            }
            else if (i == 4)
            {
                <div class="row mb-4">
                    <h4 class="txt-md my-4">
                        @Html.Sitecore().Field("Title", item)
                    </h4>
                    <div class="col-lg-8 mx-auto">
                        <div class="owl-carousel three-slides">
                            @foreach (var itemss in item.Children.ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("MediaImage", itemss, 0, 0, "mb-3")
                                    @Html.Sitecore().Field("MediaDescription", itemss)
                                </div>
                            }




                        </div>
                    </div>
                </div>
				<br/>
				<br/>
            }
            i++;
        }

    </div>

</section>