@using Sitecore.Data.Fields
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    string imgurl = string.Empty;
	string Mobimgurl = string.Empty;
    Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["Image"]);
    
	Sitecore.Data.Fields.ImageField MobileImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["MobileViewImage"]);
	
    Sitecore.Data.Fields.ImageField thumbnail = ((Sitecore.Data.Fields.ImageField)element.Fields["__Thumbnail"]);
    var thumbimg = Sitecore.Resources.Media.MediaManager.GetMediaUrl(thumbnail.MediaItem);

    var homeurl = "";
    var secondurl = "";
    var innerlink = "";

    Sitecore.Data.Fields.LinkField field = ((Sitecore.Data.Fields.LinkField)element.Fields["HomeLink"]);

    if (field != null)
    {
        homeurl = field.GetFriendlyUrl();
    }

    Sitecore.Data.Fields.LinkField field2 = ((Sitecore.Data.Fields.LinkField)element.Fields["SecondLink"]);

    if (field2 != null)
    {
        secondurl = field2.GetFriendlyUrl();
    }

    Sitecore.Data.Fields.LinkField field3 = ((Sitecore.Data.Fields.LinkField)element.Fields["InnerLink"]);

    if (field3 != null)
    {
        innerlink = field3.GetFriendlyUrl();
    }
}
<section class="hero_banner_container d-md-block position-relative">
    <div class="main-banner position-relative">
        @if (ImageField.MediaItem != null && ImageField.MediaItem.ToString() != "" && MobileImageField.MediaItem != null && MobileImageField.MediaItem.ToString() != "")
        {
            imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem);
			Mobimgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(MobileImageField.MediaItem);
            <img src=@imgurl class="img-fluid img-web-banner">
			<img src=@Mobimgurl class="img-fluid img-mobile-banner caps">
        }
        else
        {
            <img src="@thumbimg" class="img-fluid">
        }
        <div class="container">
            <p><a href=@homeurl>@field.Text</a> / <a href=@secondurl>@field2.Text </a> <a href=@innerlink>@field3.Text </a></p>
            <h1>@Html.Sitecore().Field("Title", element)</h1>
            <h5 class="main-para">
                @Html.Sitecore().Field("Description", element)
            </h5>
            <div class="ArrowScrollDown">
                <svg viewBox="0 0 32 32">
                    <path d="M25.59,12.83l-9.12,7.5c-0.14,0.11-0.31,0.17-0.48,0.17s-0.34-0.06-0.48-0.17l-9.12-7.5 c-0.32-0.26-0.37-0.74-0.1-1.06s0.74-0.37,1.06-0.1L16,18.78l8.64-7.11c0.32-0.26,0.79-0.22,1.06,0.1S25.91,12.57,25.59,12.83z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
</section>


