@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Aimsl/", "");
    var path = ContentPath.Replace("/Aimsl/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}


<section class="breadcrumb-2nslevel py-5">
    <div class="bg-image">@Html.Sitecore().ImageField("MediaImage", models)</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    @for (int i = 0; i < pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];


                        <li><a href="@navPath">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
                <h1>@Html.Sitecore().Field("MediaTitle", models)</h1>
                <p>@Html.Sitecore().Field("MediaDescription", models)</p>
            </div>
        </div>
    </div>
</section><!--/breadcrumb-->
