
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;


}

<section class="bg-grey py-5 position-relative loadmore-content" id="firstsection">
    <div class="container position-relative">
        <h2 class="heading pl-4 mb-4" data-aos="fade-up">@Html.Sitecore().Field("Title", parent)</h2>
        <p class="mb-4" data-aos="fade-up">@Html.Sitecore().Field("Body", parent)</p>
        @foreach (var item in parent.Children.ToList())
        {
            if (i == 1)
            {
                <h3 class="txt-md mb-3"  data-aos="fade-up"><b>@Html.Sitecore().Field("Title", item)</b></h3>
                <div class="row">

                    @foreach (var items in item.Children.ToList())
                    {
                        <div class="col-lg-3 col-md-6 mb-3 text-center">
                            <div class="card homestats h-100" data-aos="fade-up">

                                <div class="card-body h-100">
                                    <div class="card-thumb">@Html.Sitecore().ImageField("Image", items, 0, 0, "img -fluid")</div>
                                    <h3 class="card-title">@Html.Sitecore().Field("Title", items)</h3>
                                    <h4>@Html.Sitecore().Field("Body", items)</h4>
                                </div>
                            </div>
                        </div>
                    }

                </div>


            }
            else
            {

                <h3 class="txt-md mb-3" data-aos="fade-up"><b>@Html.Sitecore().Field("Title", item)</b></h3>
                <div class="row">

                    @foreach (var items in item.Children.ToList())
                    {
                        <div class="col-lg-3 col-md-6 mb-3 text-center">
                            <div class="card homestats h-100" data-aos="fade-up">

                                <div class="card-body h-100">
                                    <div class="card-thumb">@Html.Sitecore().ImageField("Image", items, 0, 0, "img -fluid")</div>
                                    <h3 class="card-title">@Html.Sitecore().Field("Title", items)</h3>
                                    <h4>@Html.Sitecore().Field("Body", items)</h4>
                                </div>
                            </div>
                        </div>
                    }

                </div>



            }
            i++;

        }
  <p class="text-center"  data-aos="zoom-in">@Html.Sitecore().ImageField("Image", parent, 0, 0, "img-fluid")</p>
    </div>
    </section>