@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);


}
<section class="bg-grey py-4">
    <div class="container">
        <div class="mb-3 mt-3">
            @Html.Sitecore().Field("Summary", element)
        </div>
        <div class="row">
            @foreach (var item in element.Children.ToList())
            {
                <div class="col-lg-4 my-3">
                    <a href="@item.Url()">
                        <div class="h-blocks-1 p-4 major-projects">
                            <div class="bg-images">
                                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                            </div>
                            <div class="h-blocks-inner-1">
                                <h3>  @Html.Sitecore().Field("Title", item)</h3>
                                @Html.Sitecore().Field("Summary", item)

                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>
</section>