@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
    var j = 1;
}
 @Html.Sitecore().Field("Body", elements)
<section class="bg-gray py-4">
    <div class="container">
        <ul class="nav nav-tabs nav-border-bottom" role="tablist">
            @foreach (var item in elements.Children.ToList())
            {
                if (i == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-@i" data-toggle="tab" href="#cont-tab-@i" role="tab" aria-controls="tab1" aria-selected="true">@Html.Sitecore().Field("Title", item)</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" id="tab-@i" data-toggle="tab" href="#cont-tab-@i" role="tab" aria-controls="tab2" aria-selected="false">@Html.Sitecore().Field("Title", item)</a>
                    </li>
                }
                i++;
            }
                </ul>
    </div>
</section>

<section class="bg-gray py-4">
    <div class="container">
        <div class="tab-content">
            @foreach (var item in elements.Children.ToList())
            {
                if (j == 1)
                {
                    <div class="tab-pane fade show active" id="cont-tab-@j" role="tabpanel" aria-labelledby="tab-@j">
                        <div class="row">
                            @foreach (var items in item.Children.ToList())
                            {
                                <div class="col-lg-6 my-3">
                                    <div class="card h-100 comp-advantages">
                                        <div class="card-body">
                                          <div class="card-thumb">
                                                @Html.Sitecore().ImageField("Image", items, 0, 0, "img-fluid")
                                            </div>
                                            <div class="card-title">
                                                <h3>@Html.Sitecore().Field("Title", items)</h3>
                                                @Html.Sitecore().Field("Body", items)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                               
                            </div>
                    </div>
                }
                else
                {


                    <div class="tab-pane fade" id="cont-tab-@j" role="tabpanel" aria-labelledby="tab-@j">
                 <div class="row">
                            @foreach (var items in item.Children.ToList())
                            {
                                <div class="col-lg-6 my-3">
                                    <div class="card h-100 comp-advantages">
                                        <div class="card-body">
                                           <div class="card-thumb">
                                                @Html.Sitecore().ImageField("Image", items, 0, 0, "img-fluid")
                                            </div>
                                            <div class="card-title">
                                                <h3>@Html.Sitecore().Field("Title", items)</h3>
                                                @Html.Sitecore().Field("Body", items)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                               
                            </div>
                    </div>
                }
                j++;
            }
                </div>
            </div>
        </section>