
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkvalue = parent.Fields["LinkUrl"];
    var linkUrl = linkvalue.GetFriendlyUrl();

}

<section class="bg-white py-4">
    <div class="container">
     <div class="row" data-aos="fade-down">
                <div class="col-lg-7 my-3">
                   
                    @Html.Sitecore().Field("Body", parent)
                </div>
                <div class="col-lg-5 my-3">
                    @Html.Sitecore().ImageField("Image", parent, 0, 0, "img-fluid")
                </div>
            </div>
            <div class="row mt-3">
                @foreach (var items in parent.Children.ToList())
                {
                    Sitecore.Data.Fields.LinkField linkvalues = parent.Fields["LinkUrl"];
                    var linkUrls = linkvalues.GetFriendlyUrl();
                    <div class="col-lg-3">
                        <div class="card card-services">
                            <a href="@linkUrls">
                                <div class="card-thumb">
                                    @Html.Sitecore().ImageField("Image", items, 0, 0, "img-fluid")
                                </div>
                                <div class="card-title">
                                    <h3>@Html.Sitecore().Field("Title", items)</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
       <p class="text-center mt-3"><a class="btn btnBordered" href="@linkUrl">Explore more</a></p>
        

    </div>
    </section>





   