@using Adani.BAU.Transmission.Feature.Media.Platform.Models;
@using Sitecore.Globalization;
@if (Model != null)
{
    <div class="section-contact">
        <div class="container">
            <div class="ad-media-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="">@Sitecore.Globalization.Translate.Text("contact_us")</h3>
                    </div>
                </div>
            </div>
            <div class="contact-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-select">
                            <h4 class="margintop-0">@Sitecore.Globalization.Translate.Text("Office")</h4>
                            <div class="form-group margin-0">
                                <select class="form-control" id="selectOffice" attr-data="">
                                    @if (Model.cityList != null)
                                    {
                                        foreach (var city in Model.cityList)
                                        {
                                            <option value="@city.value" selected>@Html.Raw(city.name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="contact-select contact-address">
                            @Model.RichText
                        </div>
                        <a class=" btn-block ad-btn-secondary" href="@Model.FileURL" target="_blank" rel="noopener noreferrer">@Sitecore.Globalization.Translate.Text("contact_us")</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-center hiddendiv divImg" id="id0" style="display:block;"> <img src="@Model.ImageSrc" alt="@Model.ImageAlt" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
