@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Sitecore.Globalization
@using System
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Layout = null;
    Helper linkHelepr = new Helper();
}

@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Collections.ChildList childList = currentItem.Children;
    var i = 0;
    var j = 0;
    var linkTitle = "";
    var image = "";
    var mobileAdaniLogo = "";
}
<div class="offcanvas airportListOffcanvas offcanvas-bottom" tabindex="-1" id="airportListOffcanvas" aria-labelledby="airportListOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title h5">Select Airport</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offcanvasNoSpace" id="airportListBody">

    </div>
</div>
<footer class="footer_wrapper">
    <section class="quickLinks">
        <div class="container">
            <div class="row">
                @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
                {
                    foreach (Item quicklinks in childList["QuickLinks"].Children)
                    {
                        <div class="col-sm-12 col-lg-3">
                            @Html.Sitecore().BeginField("LinkUrl", quicklinks, new
                            {
                                haschildren = true,
                                @class = "quickLinksCol lightRipple gtmFooterBottomTileClick",
                                @auto_id = @Html.Sitecore().Field("AutoId", quicklinks),
                           @data_event = "view_bottom_tiles",
                                @data_label = @Html.Sitecore().Field("LinkTitle", quicklinks)
                            })
                            @Html.Sitecore().Field("RichText", quicklinks)
                            <h4>@Html.Sitecore().Field("LinkTitle", quicklinks)</h4>
                            <p>@Html.Sitecore().Field("RightIconClass", quicklinks)</p>
                            @Html.Sitecore().EndField()
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    <div class="container">
        @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
        {
            if (linkHelepr.GetCheckboxOption(childList["Seo Contents"].Fields["IsActive"]) == true)
            {

                foreach (Item parent in childList["Seo Contents"].Children)
                {
                    if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true)
                    {
                        if (parent != null && parent.Children != null && parent.Children.Count > 0)
                        {
                            <div class="seoContent">

                                @if (parent.DisplayName != null)
                                {
                                    <h5>@parent.DisplayName.ToString()</h5>
                                }
                                else
                                {
                                    <h5>@parent.Name.ToString()</h5>

                                }

                                <nav>
                                    @foreach (Item children in parent.Children)
                                    {
                                        if (linkHelepr.GetCheckboxOption(children.Fields["IsActive"]) == true)
                                        {
                                            @Html.Sitecore().Field("LinkUrl", children)
                                        }
                                    }
                                </nav>
                            </div>
                        }
                    }
                }
            }
        }

        @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
        {
            if (linkHelepr.GetCheckboxOption(childList["Main Navigations"].Fields["IsActive"]) == true)
            {

                foreach (Item parent in childList["Main Navigations"].Children)
                {
                    if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true && parent.Name == "QR Scan")
                    {
                        foreach (Item children in parent.Children)
                        {

                            linkTitle = Html.Sitecore().Field("LinkTitle", children).ToString();
                            image = linkHelepr.GetImageURL(children, "Image");
                        }

                    }

                }
            }
        }


        <ul class="footer_nav">
            <!--Popular Routes-->
            @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
            {
                //try
                //{
                bool IsRoutesEnable = false; ;
                string pagename = HttpContext.Current.Request.RawUrl;
                string[] strPageList = childList["Routes"]==null ? null: childList["Routes"].Fields["Title"].ToString().ToLower().Split(',');
                if (strPageList != null && strPageList.Length > 0)
                {
                    foreach (var strval in strPageList)

                    {
                        if (!string.IsNullOrEmpty(strval) && pagename.Contains(strval))
                        {
                            IsRoutesEnable = true;
                            break;
                        }
                    }
                }

                if (IsRoutesEnable)
                {
                    if (linkHelepr.GetCheckboxOption(childList["Routes"].Fields["IsActive"]) == true)
                    {


                        foreach (Item parent in childList["Routes"].Children)
                        {
                            if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true)
                            {

                                if (parent != null && parent.Children != null && parent.Children.Count > 0)
                                {
                            <li class="footer_nav_grid popularRoutes">
                                @if (parent.DisplayName != null)
                                {

                                    <h5 class="footer_link_heading" onclick="footerToggle(this);" auto_id=@Html.Sitecore().Field("AutoId", parent)>
                                        @parent.DisplayName.ToString()
                                        <i class="i-arrow-d"></i>
                                    </h5>
                                }
                                else
                                {
                                    <h5 class="footer_link_heading" onclick="footerToggle(this);" auto_id=@Html.Sitecore().Field("AutoId", parent)>
                                        @parent.Name.ToString()
                                        <i class="i-arrow-d"></i>
                                    </h5>
                                }
                                <ul class= "footer_link_list" >
                                    @foreach (Item children in parent.Children)
                                    {
                                        if (linkHelepr.GetCheckboxOption(children.Fields["IsActive"]) == true)
                                        {


                                                <li class= "footer_link" > @Html.Sitecore().Field("LinkUrl", children, new { @class="gtmPopularRoutesLinkClick", @data_event="flight_popular_routes", @data_subcategory="purchase", @data_category="book_flight" }) </li>


                                        }

                                    }
                                </ul>
                            </li>
                                    }
                                }
                                j++;
                            }
                        }
                    }
                    //}
                    //catch (Exception ex)
                    //{

                    //}
                }
            <!--Main Navigation-->
            @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
{
                if (linkHelepr.GetCheckboxOption(childList["Main Navigations"].Fields["IsActive"]) == true)
                {

                    foreach (Item parent in childList["Main Navigations"].Children)
                    {
                        if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true && parent.Name != "QR Scan")
                        {

                            if (parent != null && parent.Children != null && parent.Children.Count > 0)
                            {
                                <li class="footer_nav_grid">
                                    @if (parent.DisplayName != null)
                                    {

                                        <h5 class="footer_link_heading" onclick="footerToggle(this);" auto_id=@Html.Sitecore().Field("AutoId", parent)>
                                            @parent.DisplayName.ToString()
                                            <i class="i-arrow-d"></i>
                                        </h5>
                                    }
                                    else
            {
                                        <h5 class="footer_link_heading" onclick="footerToggle(this);" auto_id=@Html.Sitecore().Field("AutoId", parent)>
                                            @parent.Name.ToString()
                                            <i class="i-arrow-d"></i>
                                        </h5>
                                    }
                                    <ul class="footer_link_list">
                                        @foreach (Item children in parent.Children)
                                        {
                if (linkHelepr.GetCheckboxOption(children.Fields["IsActive"]) == true)
                {
                    if (string.IsNullOrEmpty(children.Fields["Image"].Value))
                    {
                                                    <li class="footer_link">@Html.Sitecore().Field("LinkUrl", children, new { @class = "gtmFooterLinkClick", @data_event = "select_footer_link", @data_subcategory = "footer_link", @data_type = @parent.Name.ToString() })</li>
                                                }
                                                else
            {
                mobileAdaniLogo = linkHelepr.GetImageURL(children, "Image");
                                                    <li class="footer_link QRcode">
                                                        <div>
                                                            <h5 class="footer_link_heading">
                                                                @linkTitle
                                                            </h5>

                                                            <img src=@image loading="lazy">
                                                        </div>
                                                    </li>
                                                    <li class="footer_link d-none d-lg-block">
                                                        @Html.Sitecore().Field("Image", children, new { @class = "adaniOneFooter" })
                                                    </li>
                                                }
                                            }

                                        }
                                    </ul>
                                </li>
                            }
                        }
                        j++;
                    }
                }
}
        </ul>
        <div class="d-lg-none adaniOneFooterMweb">
            <img src=@mobileAdaniLogo class="adaniOneFooter" alt="AdaniOne" loading="lazy" />
        </div>

        @*<div class="payment">
                <ul>
                    @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
                    {
                        if (linkHelepr.GetCheckboxOption(childList["Payments"].Fields["IsActive"]) == true)
                        {
                            foreach (Item parent in childList["Payments"].Children)
                            {
                                if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true)
                                {

                                    <li>
                                        <a href="@LinkResolver.LinkUrl(parent.Fields["Link"])">
                                            @Html.Sitecore().Field("Image", parent)
                                        </a>
                                    </li>
                                }

                            }
                        }
                    }

                </ul>
            </div>*@

        <div class="social_link_wrapper flx-list-wrapper">

            <ul class="social_link_list flx-list">
                @foreach (Item footersocilalink in childList["Footer Social Links"].Children)
{
                    if (linkHelepr.GetCheckboxOption(footersocilalink.Fields["IsActive"]) == true)
                    {
                        <li>
                            <a href="@linkHelepr.LinkUrl(footersocilalink.Fields["LinkUrl"])" class="gtmSocialLinkClick" data-event="select_footer_link" data-subcategory="footer_link" data-type="Social Media" data-label="@Html.Sitecore().Field("LinkTitle", footersocilalink)">
                                <i class="@Html.Sitecore().Field("LeftIconClass", footersocilalink)"></i>
                            </a>
                        </li>
                    }
}

            </ul>
            <ul class="app-download-links">
                @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
{
                    if (linkHelepr.GetCheckboxOption(childList["Download"].Fields["IsActive"]) == true)
                    {
                        foreach (Item parent in childList["Download"].Children)
                        {
                            if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true)
                            {

                                <li>
                                    <a href="@linkHelepr.LinkUrl(parent.Fields["Link"])" class="gtmSocialLinkClick @parent.Fields["LogoClass"]" data-event="select_footer_link" data-subcategory="footer_link" data-type="Download APP" data-label="@linkHelepr.LinkUrlText(parent.Fields["Link"])">
                                        @Html.Sitecore().Field("Image", parent)
                                    </a>


                                </li>

                            }

                        }
                    }

}

            </ul>
        </div>

        <div class="footer_copyright">
            <ul class="copyright_links_list">
                <li>@Translate.Text("copy_right")</li>
                @if (childList != null && childList.InnerChildren != null && childList.InnerChildren.Count > 0)
{
                    if (linkHelepr.GetCheckboxOption(childList["Footer copyright"].Fields["IsActive"]) == true)
                    {
                        foreach (Item parent in childList["Footer copyright"].Children)
                        {
                            if (linkHelepr.GetCheckboxOption(parent.Fields["IsActive"]) == true)
                            {

                                <li> @Html.Sitecore().Field("LinkUrl", parent, new { @class = "gtmFooterLinkClick", @data_event = "select_footer_link", @data_subcategory = "footer_link", @data_type = "Copyright" })</li>
                            }
                        }
                    }

}

            </ul>
        </div>
        <div class="backToTop" onclick="scrollToTop()" style="display: none;">

            <div class="inner">

                <i class="i-arrow-u"></i>

                <span>@Html.Sitecore().Field("__Short description", childList["BottomNav"])</span>

            </div>

        </div>
    </div>
</footer>
@*<div class="bottomNav_fixed d-flex d-md-none">
        @foreach (Item bottomNav in childList["BottomNav"].Children)
        {
            if (linkHelepr.GetCheckboxOption(bottomNav.Fields["IsActive"]) == true)
            {
                if (i == 4)
                {
                    @Html.Sitecore().BeginField("LinkUrl", bottomNav, new { haschildren = true, @onclick = "selectFooterMenu(this,event);" })
                    <i class="i-more"></i>
                    <label>@Html.Sitecore().Field("LinkTitle", bottomNav)</label>
                    @Html.Sitecore().EndField()
                }
                else
                {
                    @Html.Sitecore().BeginField("LinkUrl", bottomNav, new { haschildren = true, @onclick = "selectFooterMenu(this,event);" })
                    <i class="inactive @Html.Sitecore().Field("LeftIconClass", bottomNav)"></i>
                    <i class="active @Html.Sitecore().Field("RightIconClass", bottomNav)"></i>
                    <label>@Html.Sitecore().Field("LinkTitle", bottomNav)</label>
                    @Html.Sitecore().EndField()
                }

                i++;
            }

        }
    </div>*@
<div class="bottomNav bottomNavWrapper">
    <div class="bottomNav_child">
        @{string absoluteurl = string.Empty;
absoluteurl = System.Web.HttpContext.Current.Request.Url.AbsoluteUri;

if (absoluteurl.ToLower().Contains("services"))
{
                absoluteurl = "Services";
}
else if (absoluteurl.ToLower().Contains("orders"))
{
                absoluteurl = "Orders";
}
else if (absoluteurl.ToLower().Contains("checkout"))
{
                absoluteurl = "Cart";
}
else if (absoluteurl.ToLower().Contains("profile"))
{
                absoluteurl = "More";
}
else if (linkHelepr.GetLinkURL(currentItem.Children["BottomNav"].Children["Home"], "Link").ToLower().Contains(absoluteurl.Split('/')[absoluteurl.Split('/').Length - 1].ToLower()))
{
                absoluteurl = "Home";
}
        }
        @foreach (Item bottomNav in childList["BottomNav"].Children)
{
            if (linkHelepr.GetCheckboxOption(bottomNav.Fields["IsActive"]) == true)
            {
                @Html.Sitecore().BeginField("Link", bottomNav, new { haschildren = true, @class = (absoluteurl.ToLower().Contains(@Html.Sitecore().Field("Title", bottomNav).ToString().ToLower()) ? "active" : "") })

                <label>
                    @if (Html.Sitecore().Field("Title", bottomNav).ToString() == "Cart")
                    {
                        <span class="badge rounded-pill bg-danger"></span>
                    }
                    @Html.Sitecore().Field("ActiveImage", bottomNav, new { @class = "active", @alt = "" })
                    <svg class="inactive" viewBox="0 0 20 20">
                        <path d="@Html.Sitecore().Field("ImagePath", bottomNav)"></path>
                    </svg>
                </label>
                <p>@Html.Sitecore().Field("Title", bottomNav)</p>
                @Html.Sitecore().EndField()
            }
}
    </div>
</div>

<style>
    .QRcode {
        display: none;
    }

    @@media (min-width: 992px) {
        .QRcode {
            display: inherit;
            padding-bottom: 2rem;
            padding-top: 2.4rem;
        }

            .QRcode img {
                height: 140px;
                width: 140px;
            }
    }
</style>


