@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
<div class="top_bar_nav">
			  <a href="#">
				<img src="-/media/5510B65DAA9448768262B45CDC2C3733.ashx" alt="Business" /> Businesses
			  </a>
			  <div class="business_dropdown">
		@foreach (var item in element.GetChildren().ToList())
		{
		var itemurls = Helper.LinkUrl(item.Fields["LinkUrl"]);
		Sitecore.Data.Fields.ImageField BannerImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["LinkImage"]);
        string imagelink = Sitecore.Resources.Media.MediaManager.GetMediaUrl(BannerImageField.MediaItem);
        <a href="@itemurls">
			<i><img src="@imagelink" alt="@Html.Sitecore().Field("Title", item)"> </i>
			<label>@Html.Sitecore().Field("Title", item)</label>
		  </a>
		}
			</div>
		
}
		@Html.Sitecore().Placeholder("Adani-Businesses-Menu")