@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.AdaniCapital.Website.Helper
@model Sitecore.AdaniCapital.Website.Models.BreadcrumbItemList
@if (Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull.Rendering.Placeholder == "image-breadcrumb")
{
    var imgurl = Helper.ImageUrl("BannerImage", Sitecore.Context.Item);
    <section class="breadcrumb-2nslevel py-5">
        <div class="bg-image"><img src="@imgurl" disablewebedit="False"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        @foreach (var item in Model.Breadcrumbs)
                        {
                            if (!@item.IsActive)
                            {
                                <li><a href="@item.Url">@item.Title</a></li>
                            }
                        }
                    </ul>
                    @if (!string.IsNullOrWhiteSpace(Sitecore.Context.Item.Fields["MediaTitle"].Value))
                    {
                        <h1>@Html.Sitecore().Field("MediaTitle", Sitecore.Context.Item)</h1>
                    }
                    else
                    {
                        <h1>@Html.Sitecore().Field("Title", Sitecore.Context.Item)</h1>
                    }
                    @Html.Sitecore().Field("MediaDescription", Sitecore.Context.Item)
                </div>
            </div>
        </div>
    </section>
}
else if (Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull.Rendering.Placeholder == "career-breadcrumb")
{
    <section class="pb-2 bg-gray">
        <div class="breadcrumb-sl-inner bg-white">
            <div class="container">
                <ul>
                    @foreach (var item in Model.Breadcrumbs)
                    {
                        if (@item.IsActive)
                        {
                            <li>@item.Title</li>
                        }
                        else
                        {
                            <li><a href="@item.Url">@item.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </section><!--/section-->
}


else
{
    <section class="box-shadow pb-2 bg-white">
        <div class="breadcrumb-sl-inner bg-white">
            <div class="container">
                <ul>
                    @foreach (var item in Model.Breadcrumbs)
                    {
                        if (@item.IsActive)
                        {
                            <li>@item.Title</li>
                        }
                        else
                        {
                            <li><a href="@item.Url">@item.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </section><!--/section-->
}
