@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.AdaniCapital.Website
@model Sitecore.AdaniCapital.Website.Models.AdaniCapitalCareerFormModel
@{
    string keyValues = Session["Key"] != null ? "on" : "off";
    Session["Key"] = null;
}
<div class="col-lg-6">
    <div class="career_applynow bg-white">
        <h3>Apply Now</h3>
        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registration_form", name = "registration_form", @class = "registration_form", enctype = "multipart/form-data", autocomplete = keyValues }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
            @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })
            @Html.HiddenFor(m => m.UploadedResumeLink, new { @Value = HttpContext.Current.Request.Url.PathAndQuery })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">First name<span class="required">*</span></label>

                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required", placeholder = "", id = "cname" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Last name<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required", placeholder = " ", id = "clastname" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Email<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", type = "email", required = "required", placeholder = "", id = "cmailid" })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">City<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", required = "required", placeholder = "", id = "cCity" })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Position<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.Position, new { @class = "form-control", required = "required", placeholder = "", id = "cPosition" })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Upload Resume<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.ResumeAttachment, new { type = "file", id = "Resume_upload", @class = "form-control-file",
                   accept = "application/pdf,.doc,.docx",
                   required = "required"
               })
                    @Html.ValidationMessageFor(model => model.ResumeAttachment, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Expected Salary<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.ExpectedSalary, new { @class = "form-control", required = "required", placeholder = "", id = "cExpectedSalary" })
                    @Html.ValidationMessageFor(model => model.ExpectedSalary, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Expected Joining Date<span class="required">*</span></label>
                    <div class="joining-date">
                        <input class="form-control" id="ContentPlaceHolder1_date" name="ExpectedJoiningDate" placeholder="DD/MM/YYYY" type="date">
                        @Html.ValidationMessageFor(model => model.ExpectedJoiningDate, "", new { @class = "required help-block" }, "p")


                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Experience<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.Experience, new { @class = "form-control", placeholder = "", required = "required", id = "cExperience" })
                    @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Linkedin Profile(If any)</label>
                    @Html.TextBoxFor(model => model.LinkedinProfile, new { @class = "form-control", placeholder = "", id = "cLinkedinProfile" })
                    @Html.ValidationMessageFor(model => model.LinkedinProfile, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Mobile<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", id = "ccontactno", required = "required", type = "number", placeholder = "", maxlength = 10, oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })

                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "required help-block" }, "p")
                </div>
            </div>
            <div class="col-md-6">
                <div id="recaptcha1"></div>
                @Html.HiddenFor(model => model.reResponse, new { id = "Career-reResponse" })
                @Html.ValidationMessageFor(model => model.reResponse, "", new { @class = "help-block" }, "p")
            </div>
            <div class="form-group ml-4">
                <p class="required txt-orange" id="docErrorMessage">@ViewBag.Message</p>
            </div>
            <div class="col-lg-12 text-right">
                <button type="submit" id="Carrerbtnsubmits" name="SubmitApplication" value="submit" class="btn btn-info">Send Application</button>

            </div>
        </div>

        }
    </div>

</div>