@using Sitecore.Data.Items;
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<section class="bg-gray pb-4">
    <div class="container">
        <div class="row">
            @if (models != null)
            {
                foreach (Item item in models.GetChildren() )
                {
                    <div class="col-lg-6 pb-3">
                        <div class="bg-gradient p-5 h-100 boxzoom">
                            <h3 class="section-heading">@item.Fields["OfficeTitle"]</h3>
                            <p class="mb-3">@item.Fields["OfficeName"]</p>
                            <p class="mb-3">@item.Fields["Address"]</p>
                            <div class="row">
                                <div class="col-md-6">@item.Fields["Telephone"]</div>
                                <div class="col-md-6">@item.Fields["Fax"]</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>