@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <link rel="icon" type="image/png" href="/Images/AdaniCapital/favicon.png" />

    <title>Adani Capital</title>

    <!-- Bootstrap core CSS -->
    <link href="/styles/AdaniCapital/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/AdaniCapital/fontawesome-all.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="/styles/AdaniCapital/owl.carousel.css" rel="stylesheet">
    <link href="/styles/AdaniCapital/owl.theme.default.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/styles/AdaniCapital/adani-custom.css" rel="stylesheet">
    <link href="/styles/AdaniCapital/adani-custom-responsive.css" rel="stylesheet">

    <!--Animate CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.css'>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    @*@RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()*@
    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
</head>
<body>    
    @Html.Sitecore().Placeholder("main")

        

    
    <!-- Bootstrap core JavaScript
       ================================================== -->
    <script src="/scripts/AdaniCapital/jquery.min.js"></script>
    <script src="/scripts/AdaniCapital/popper.min.js"></script>
    <script src="/scripts/AdaniCapital/bootstrap.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.js'></script>

    <!--[if lte IE 8]>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <![endif]-->
    <!-- Owl Carousel -->
    <script src="/scripts/AdaniCapital/owl.carousel.min.js"></script>

    <!-- Custom JavaScript
    ================================================== -->
    <script src="/scripts/AdaniCapital/adani-custom.js"></script>
    <script type="text/javascript">

        window.ymConfig = { bot: 'x1606128248415' }; (function () {
            var w = window, ic = w.YellowMessenger;
            if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig); else {
                var d = document, i = function () { i.c(arguments) }; function l() {
                    var e = d.createElement("script"); e.type = "text/javascript", e.async = !0,
                        e.src = "https://app.yellowmessenger.com/widget/main.js"; var t = d.getElementsByTagName("script")[0];
                    t.parentNode.insertBefore(e, t)
                } i.q = [], i.c = function (e) { i.q.push(e) }, w.YellowMessenger = i,
                    w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
            }
        })();

    </script>
</body>
</html>
