@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-4 order-1 mb-lg-4 mt-lg-0 my-4">
                <div class="ft-logo_container">
                    <div class="text-center mb-4">
                        <img src="-/media/D677AFCFF5E1467B89A0C7857F3AB338.ashx" class="img-fluid">
                    </div>
                    <ul class="ft-social">
                        <li><a href="https://in.linkedin.com/company/adani-capital" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="linkedIn"><i class="fab fa-linkedin-in"> </i></a></li>
                        <li><a href="https://www.facebook.com/adanicapital/" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fab fa-facebook-f"> </i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCQjar4Db7zvEyHLcXfp7_gQ" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="YouTube"><i class="fab fa-youtube "> </i></a></li>
			<li><a href="http://wa.me/917208976801/?text=hi" target="_blank" title="" data-toggle="tooltip" data-placement="top" data-original-title="Whtasapp"><i class="fab fa-whatsapp "> </i></a></li>
                    </ul>
                    <div class="text-center"><a href="https://play.google.com/store/apps/details?id=com.adanicapital.consumer&hl=en_IN&gl=US" class="mr-2"><img src="-/media/6C3F77E49D254170A68E35B71FB168DC.ashx" style="max-width:80px;"></a><a href="https://apps.apple.com/in/app/adani-capital/id1437360964" class="mr-2"><img src="-/media/6F334CF59E8244E1B5FCAF8A1D6F9A8C.ashx" style="max-width:80px;"></a></div>
                    <p class="sitemap-link d-block d-lg-none p-2">Sitemap<i class="fa fa-angle-down"></i></p>
                </div>
            </div>
            <div class="col-lg-9 order-2">
                @if (element != null)
                {
                    <div class="row">
                        @if (element.HasChildren)
                        {
                            foreach (Item item in element.GetChildren())
                            {
                                LinkField lf = item.Fields["LinkUrl"];
                                <div class="col-lg-4 col-sm-6 col-6 sitemap_visible order-lg-1 order-3 my-2">
                                    @if (item.HasChildren)
                                    {
                                        if (lf.LinkType == "external")
                                        {
                                            <div>
                                                <div class="ft-submenu">
                                                    <h5><a target="_blank" href="@Helper.LinkUrl(item.Fields["LinkUrl"])">@item.Fields["Title"]</a></h5>
                                                    <ul>
                                                        @foreach (Item subItem in item.GetChildren())
                                                        {
                                                            LinkField sublf = subItem.Fields["LinkUrl"];
                                                            if (sublf.LinkType == "external")
                                                            {
                                                                <li><a target="_blank" href="@Helper.LinkUrl(subItem.Fields["LinkUrl"])">@subItem.Fields["Title"]</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="@Helper.LinkUrl(subItem.Fields["LinkUrl"])">@subItem.Fields["Title"]</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <div class="ft-submenu">
                                                    <h5><a href="@Helper.LinkUrl(item.Fields["LinkUrl"])">@item.Fields["Title"]</a></h5>
                                                    <ul>
                                                        @foreach (Item subItem in item.GetChildren())
                                                        {
                                                            LinkField sublf = subItem.Fields["LinkUrl"];
                                                            if (sublf.LinkType == "external")
                                                            {
                                                                <li><a target="_blank" href="@Helper.LinkUrl(subItem.Fields["LinkUrl"])">@subItem.Fields["Title"]</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="@Helper.LinkUrl(subItem.Fields["LinkUrl"])">@subItem.Fields["Title"]</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (lf.LinkType == "external")
                                        {
                                            <div class="ft-submenu">
                                                <h5><a target="_blank" href="@Helper.LinkUrl(item.Fields["LinkUrl"])">@item.Fields["Title"]</a></h5>                                                
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="ft-submenu">
                                                <h5><a href="@Helper.LinkUrl(item.Fields["LinkUrl"])">@item.Fields["Title"]</a></h5>                                                
                                            </div>
                                        }
                                    }

                                </div>

                            }
                        }
                    </div>
                }

            </div>

        </div>
    </div>
    <div class="bottom_copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 my-md-2 my-2 order-2 order-md-1 text-lg-left text-center">
                    <p>© 2020 Adani Capital</p>
                </div>
                <div class="col-lg-9  my-md-2 my-2 text-lg-right text-center order-1 order-md-2">
                    <ul class="ft-policy-links">
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/legal-disclaimer">Legal Disclaimer</a></li>
                        <li><a href="/Terms-and-Conditions">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
