@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.AdaniCapital.Website.Helper
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);    
}
@if (element != null)
{
    var BGImage = Helper.ImageTagUrl("Image", element);    
    <section class="section_padding position-relative whyadani-capital">
        <div class="bg-images">@Html.Raw(BGImage)</div>
        <div class="container position-relative">
            <h2>@Html.Sitecore().Field("Text", element)</h2>
            <div class="row">
                @if (element.HasChildren)
                {
                    foreach (Item stat in element.GetChildren())
                    {
                        var statIcon = Helper.ImageTagUrl("Image", stat);
                        <div class="col-lg-3 col-md-6">
                            <div class="stats_section">
                                <div class="stats_section--thumb">
                                    @Html.Raw(statIcon)
                                </div>
                                <div class="stats_section--description">
                                    @Html.Sitecore().Field("StatValue", stat)
                                    <p>@Html.Sitecore().Field("StatName", stat)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section><!--/section-->
}

