@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.AdaniCapital.Website.Helper
@{
    var contextItem = Sitecore.Context.Item;
    var BGImage = Helper.ImageTagUrl("BackgroundImage", contextItem);
}
<section class="finance-offerings section_padding">
    <div class="bg-images">@Html.Raw(BGImage)</div>
    <div class="container">
        <h2 class="text-center"> @Html.Sitecore().Field("Heading", contextItem)</h2>
        <div class="row">
            @if (contextItem.HasChildren)
            {
                foreach (Item loans in contextItem.GetChildren())
                {
                    var link = Sitecore.Links.LinkManager.GetItemUrl(loans).ToLower();
                    var ThumbImage = Helper.ImageTagUrl("Thumbnail", loans);
                    <div class="col-lg-4 mb-lg-0 mb-3">
                        <div class="finance_main finance_main-green">
                            <a href="@link">
                                <div class="finance_main--thumb">
                                    @Html.Raw(ThumbImage)
                                </div>
                                <div class="finance_main--desc">
                                    <h3>@Html.Sitecore().Field("Title", loans)</h3>
                                    <p>@Html.Sitecore().Field("ShortDescription", loans)</p>
                                    <div>Read More</div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section><!--/section-->