@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
<div class="header--top_bar">
        <div class="contact_info">
          <img src="-/media/27B38E2BA7AF4454A805DFE3165655A2.ashx" alt="Call" /> 
		  @foreach (var item in element.GetChildren().ToList())
		{
		  @Html.Sitecore().Field("Title", item) <a href="@Html.Sitecore().Field("LinkUrl", item)">@Html.Sitecore().Field("Text", item)</a> &nbsp;|&nbsp; @Html.Sitecore().Field("Title", item) <a href="@Html.Sitecore().Field("LinkUrl", item)">@Html.Sitecore().Field("Text", item)</a>
        }
		</div>
		<div class="top_bar_nav">
		<a href="#">
				<img src="-/media/5510B65DAA9448768262B45CDC2C3733.ashx" alt="Business" /> Businesses
			  </a>
		@Html.Sitecore().Placeholder("Adani-Businesses-Menu")
		</div>
		}
		
      </div>
	  @Html.Sitecore().Placeholder("Header-Top-Bar")
	
	