@model Sitecore.Electricity.Website.Model.UserDetails

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div id="default_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">
        @using (Html.BeginForm("UserRegistration", "Electricity", FormMethod.Post, new { id = "UseRegistrationForm" }))
        {

            <!-- Modal content-->   
            <div class="modal-content">
                <div class="modal-header">
                    <p>Please fill in your contact information to obtain the bid documents.</p>
                    <button type="button" class="close reset" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <p class="required">All * Fields are Mandatory.</p>
                    @Html.HiddenFor(x => x.TenderID)
                    <form class="pt-3">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Name<span class="required">*</span></label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required", id="name",@maxlength = "50", @onkeypress="return onlyAlphabets(event,this);" })
                                @Html.ValidationMessageFor(x => x.Name)
								<span class="field-validation-error" id="nameerror"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Company<span class="required">*</span></label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.Company, new { @class = "form-control", required = "required", id="company",@maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.Company)
								<span class="field-validation-error" id="companyerror"></span>
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label for="" class="col-sm-4 col-md-4 col-form-label">Phone Number</label>
                                <div class="col-sm-8 col-lg-6">
                                    @Html.TextBoxFor(x => x.PhoneNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PhoneNo)
									
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Mobile Number<span class="required">*</span></label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control", required = "required", id="mobileNumber", @onfocusout="validateMobile(event,this);" })
                                @Html.ValidationMessageFor(x => x.MobileNo)
								<span class="field-validation-error" id="mobileerror"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Fax Number</label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.FaxNo, new { @class = "form-control", id = "fax", @onfocusout = "onchangeValidateFax(event,this);" })
                                @Html.ValidationMessageFor(x => x.FaxNo)
                                <span class="field-validation-error" id="faxerror"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-md-4 col-form-label">Email<span class="required">*</span></label>
                            <div class="col-sm-8 col-lg-6">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", id="emailAddress" , @onfocusout="validateEmailId(event,this);" })
                                @Html.ValidationMessageFor(x => x.Email)
								<span class="field-validation-error" id="emailerror"></span>
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            <div class="col-sm-12">
                                <button type="submit" id="UseRegistrationBtn" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary reset">Reset</button>
                            </div>
                        </div>
                    </form>
                    <p class="FT_10">Please mention the correct email address and contact information as the RFP documents shall be sent to the mentioned email address and any future information shall be conveyed to the contact person at the provided contact information.</p>
                </div>
            </div>
        }
    </div>
</div>
