@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Electricity.Website.Model;
@model Sitecore.Electricity.Website.Model.TenderCreateModel
@{
    var item = Sitecore.Context.Database.GetItem(Templates.Tender.AdminTenderListing);
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="pageContent">
    <div class="container">
        @using (Html.BeginForm("Logout", "Electricity", FormMethod.Post))
        {
            <div class="col-12 p-0 pb-3">
                <div class="float-right"><button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("Electricity/Tender/Logout", "Logout")</button></div>
                <div class="clearfix"></div>
            </div>
        }
        <!-- Section -->
        <div class="pb-3">
            <div>
                <div class="mr-auto ml-auto">
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">@Html.Sitecore().Dictionary("Electricity/Tender/Create Tender Label", "Create Tender")</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmCreateTender", @class = "form-signin", @enctype = "multipart/form-data" }))
                            {
                                @Html.AddUniqueFormId()

                                <div class="form-horizontal">

                                    @if (ViewBag.SuccessMsg != null)
                                    {
                                        <div class="alert-success">@ViewBag.SuccessMsg</div>
                                    }
                                    @if (ViewBag.ErrorMsg != null)
                                    {
                                        <div class="alert-danger">@ViewBag.ErrorMsg</div>
                                    }

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.NITNo, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.NITNo, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.NITNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.Business, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.Business, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Business, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @*@Html.LabelFor(model => model.Estimated_Cost, htmlAttributes: new { @class = "control-label" })*@
                                                        <label class="control-label" for="Estimated Cost">Estimated Cost*</label>
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.Estimated_Cost, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Estimated_Cost, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @*@Html.LabelFor(model => model.Cost_of_EMD, htmlAttributes: new { @class = "control-label" })*@
                                                        <label class="control-label" for="Cost_of_EMD">Cost of EMD*</label>
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.Cost_of_EMD, new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Cost_of_EMD, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.Label("Advertise Date", htmlAttributes: new { @class = "control-label" })*
                                                        @Html.Label("(dd-MM-yyyy HH:mm:ss)", htmlAttributes: new { @class = "font-12" })
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(x => x.Adv_Date, "{0:dd-MM-yyyy hh:mm:ss}", new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessage("Adv_Date", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.Label("Close Date", htmlAttributes: new { @class = "control-label" })*
                                                        @Html.Label("(dd-MM-yyyy HH:mm:ss)", htmlAttributes: new { @class = "font-12" })
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(x => x.Closing_Date, "{0:dd-MM-yyyy hh:mm:ss}", new { @class = "form-control", required = "required" })
                                                        @Html.ValidationMessage("Closing_Date", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.BuyerName, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.BuyerName, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.BuyerName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.BuyerEmailId, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.BuyerEmailId, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.BuyerEmailId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.LeadBuyerName, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.LeadBuyerName, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.LeadBuyerName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.LeadBuyerEmailId, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.LeadBuyerEmailId, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.LeadBuyerEmailId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.UserEmailId, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.UserEmailId, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.UserEmailId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row form-group pt-md-2">
                                                    <label class="col-sm-5 col-md-5 col-form-label">
                                                        @Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label" })*
                                                    </label>
                                                    <div class="col-sm-7 col-md-7">
                                                        @Html.TextBoxFor(model => model.Files, "", new { @type = "file", @multiple = "multiple", @onchange = "Validate(this);", @accept = ".jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx" })
                                                        @Html.ValidationMessageFor(model => model.Files, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <a href="@item.Url()" class="btn btn-primary">@Html.Sitecore().Dictionary("Electricity/Tender/Back To List Text", "Back To Tender List")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

