@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc.Configuration
@using System.Web.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Electricity.Website.Model.TenderStatus
@using Sitecore.Electricity.Website.Model;
@{
    var Id = new Guid();
    var currentDate = DateTime.Now;

    var CorrigendumTender = Sitecore.Context.Database.GetItem(Templates.Tender.TenderCorrigendum);
}

@if (Model.OpenTender.Count > 0)
{
    if (TempData["Success"] != null)
    {
        <p class="alert alert-success container" id="successMessage">@TempData["Success"]</p>
    }
    if (TempData["Error"] != null)
    {
        <p class="alert alert-success container" id="successMessage">@TempData["Error"]</p>
    }
    <div class="pageContent">
        <div class="container">
            <!-- Tenders -->
            <div class="my-lg-3 py-lg-3">
                <ul class="nav nav-tabs" id="tendersList" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#openTenders">Open Tenders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#corrigendum">Corrigendum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#closedTenders">Closed Tenders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#PowerPurchaseTenders">Power Purchase Tenders</a>
                    </li>
                </ul>
                <div class="tab-content bg-gray-light px-0 py-0" id="tendersListContent">
                    <div class="tab-pane fade show active " id="openTenders" role="tabpanel">
                        <div class="table-responsive tableOuter">
                            <table class="table mb-0 bg-white txt-xs">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="20%" scope="col">NIT No./PR No.</th>
                                        <th width="12%" scope="col">Business</th>
                                        <th width="30%" scope="col">Tender Description</th>
                                        <th width="8%" scope="col">Estimated Cost (Rs. Lakhs)</th>
                                        <th width="8%" scope="col">Cost of EMD (Rs. Lakhs)</th>
                                        <th width="8%" scope="col">Date of Advertisement</th>
                                        <th width="8%" scope="col">Bid Submision Closing Date</th>
                                        <th width="8%" scope="col">Register</th>
                                        <th width="8%" scope="col">Corrigendum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var openTN in Model.OpenTender.Where(x => x.Status.ToLower() == "open" && x.NITPRNo != "-").OrderByDescending(x => x.Adv_Date))
                                    {
                                        <tr>
                                            <td>@openTN.NITPRNo</td>
                                            <td>@openTN.Business</td>
                                            <td>@openTN.Description</td>
                                            <td>@openTN.Estimated_Cost</td>
                                            <td>@openTN.Cost_of_EMD</td>
                                            <td>@openTN.Adv_Date.Value.ToString("dd/MM/yy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                            @if (openTN.NITPRNo == "-")
                                            {
                                                <td>
                                                    -
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @openTN.ClosingDate.Value.ToString("dd/MM/yy  h:mm tt", System.Globalization.CultureInfo.InvariantCulture)
                                                    @if (openTN.OnHold)
                                                    {
                                                        <b class="txt-orange">ON HOLD</b>
                                                    }
                                                </td>
                                            }
                                            @{
                                                var tempDate = openTN.ClosingDate.Value;
                                            }
                                            @if (openTN.NITPRNo == "-")
                                            {
                                                <td><a href="@openTN.Location" target="_blank" title="Click here">@Html.Sitecore().Dictionary("Electricity/Tender/Tender Update Text", "Click Here")</a></td>
                                            }
                                            else if (currentDate <= tempDate && !openTN.OnHold)
                                            {
                                                <td><a href="#" data-toggle="modal" data-id="@openTN.Id" data-target="#default_modal" class="txt-orange" title="Download"><em class="fas fa-download"></em></a></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                @if (openTN.isCorrigendumPresent)
                                                {
                                                    <a href="@CorrigendumTender.Url()?id=@openTN.Id" target="_blank" title="Click here">@Html.Sitecore().Dictionary("Electricity/Tender/Tender Update Text", "Click Here")</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="corrigendum" role="tabpanel">
                        <div class="table-responsive tableOuter">
                            <table class="table mb-0 bg-white txt-xs">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="20%" scope="col">Corrigendum Date</th>
                                        <th width="40%" scope="col">Corrigendum Title</th>
                                        <th width="30%" scope="col">NIT No./PR No.</th>
                                        <th width="10%" scope="col">Documents</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CorrigendumTender.OrderByDescending(x => x.Date))
                                    {
                                        <tr>

                                            <td>
                                                @item.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @foreach (var nitNo in item.NITPRNo)
                                                {
                                                    @nitNo.NITPRNo <br />
                                                }
                                            </td>
                                            <td>
                                                @foreach (var docItem in item.TenderDocument)
                                                {
                                                    <a href="@docItem.DocumentPath" target="_blank">Click Here</a>
                                                    <br />
                                                }

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="closedTenders" role="tabpanel">
                        <div class="table-responsive tableOuter">
                            <table class="table mb-0 bg-white txt-xs">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="20%" scope="col">NIT No./PR No.</th>
                                        <th width="20%" scope="col">Business</th>
                                        <th width="40%" scope="col">Tender Description</th>
                                        <th width="20%" scope="col">Tender Closing Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var openTN in Model.OpenTender.Where(x => x.Status.ToLower() == "close" && x.NITPRNo != "-").OrderByDescending(x => x.ClosingDate))
                                    {
                                        <tr>
                                            <td>@openTN.NITPRNo</td>
                                            <td>@openTN.Business</td>
                                            <td>@openTN.Description</td>
                                            <td>@openTN.ClosingDate.Value.ToString("dd/MM/yy  h:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                            @*<td><a href="#" data-toggle="modal" data-id="@openTN.Id" data-target="#default_modal" class="txt-orange" title="Download"><i class="fas fa-download"></i></a></td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="PowerPurchaseTenders" role="tabpanel">
                        <div class="table-responsive tableOuter">
                            <table class="table mb-0 bg-white txt-xs">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="20%" scope="col">Business</th>
                                        <th width="60%" scope="col">Tender Description</th>
                                        <th width="10%" scope="col">Date of Advertisement</th>
                                        <th width="10%" scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var openTN in Model.OpenTender.Where(x => x.NITPRNo == "-").OrderByDescending(x => x.Adv_Date))
                                    {
                                        <tr>
                                            <td>@openTN.Business</td>
                                            <td>@openTN.Description</td>
                                            <td>@openTN.Adv_Date.Value.ToString("dd/MM/yy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                            <td>
                                                <a href="@openTN.Location" target="_blank" title="Click here">@Html.Sitecore().Dictionary("Electricity/Tender/Tender Update Text", "Click Here")</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Tenders -->
        </div>
        @Html.Partial("~/Views/Electricity/_UserRegistration.cshtml", new UserDetails() { TenderID = Id })
        <div id="downloadModal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
        </div>
    </div>
    <script>
    </script>
}
