@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Media
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var items = Sitecore.Context.Database.GetItem(datasource);

    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/AdaniGas/", "");
    var path = ContentPath.Replace("/AdaniGas/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
}

<section class="breadcrumb-sublayout py-5 bs-3">
    <div class="bg-image">
        @Html.Sitecore().ImageFieldWithoutSize(Templates.HasMediaImage.Fields.Image, items, 0, 0)
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    @*<li><a href="index.html">Home</a></li>*@
                    @for (int i = 0; i < pathArr.Count() - 1; i++)
                    {
                        navPath = navPath + pathArr[i];
                         <li><a href="@navPath" style="text-transform:capitalize;">@pathArr[i]</a></li>
                        navPath = navPath + "/";
                    }
                </ul>
                <h1>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, items)</h1>
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, items)
            </div>
        </div>
    </div>
</section>