@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "cssclass").FirstOrDefault().Value;
    // var csselement = Sitecore.Context.Database.GetItem(paramid["cssclass"]);
    if (string.IsNullOrEmpty(paramid))
    {
        paramid = "py-5 bg-white";
    }
}




<section class="@paramid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
                
            </div>
            <div class="col-md-9">
                <div class="border-left pl-3 mb-3">
                    <h1> @Html.Sitecore().Field("Title", element)</h1>
                    <p>  @Html.Sitecore().Field("Summary", element)</p>
                </div>
                @Html.Sitecore().Field("Body", element)
            </div>
        </div>
    </div>
</section>