@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Media
@{
    var models = Sitecore.Context.Item;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var items = Sitecore.Context.Database.GetItem(datasource);
}
<section class="py-3 position-relative d-block introSec pngPage">
    <div class="bg-overlay d-block d-md-none"></div>
    <div class="container">
        <ul class="breadcrumb">
            <li>
                @Html.Sitecore().BeginField("Link")
                @Html.Sitecore().Field(Templates.Navigable.Fields.Link, models)
                @Html.Sitecore().EndField()
            </li>
        </ul>
        <h2 class="my-2 my-lg-3">@Html.Sitecore().Field(Templates.HasPageContent.Fields.Title, models)</h2>
        <div class="row">
            <div class="col-lg-5">
                <div class="mb-3 para-text">

                    @Html.Sitecore().Field(Templates.HasPageContent.Fields.Body, models)
                    <br>
                    <ul class="my-3 py-lg-3">
                        @foreach (var _item in items.Children.ToList())
                        {
                            <li class="mb-3 py-lg-1">
                                <span class="bulletIcon">
                                    @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, _item, 0, 0)
                                    &nbsp;
                                </span> @Html.Sitecore().Field(Templates.HasMedia.Fields.Title, _item)
                            </li>
                        }

                        @*<li class="mb-3 py-lg-1"><span class="bulletIcon"><img src="images/icon2.png">&nbsp;</span>Consistent, convenient and Green Solution</li>
                            <li class="mb-3 py-lg-1"><span class="bulletIcon"><img src="images/icon3.png">&nbsp;</span>Today's choice for a cleaner tomorrw</li>*@
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-4 ml-auto d-none d-md-block">
                @Html.Sitecore().Placeholder("login-Control")
            </div>

        </div>
    </div>
</section>