@model IEnumerable<Adani.BAU.Transmission.Feature.Media.Platform.Models.InvestorMeetingModel>
@{
    Layout = null;
}
<div class="media-center">
    @if (Model.Count() > 0)
    {
        <div class="container">
            <h3>@Sitecore.Context.Item.Fields["Title"]</h3>
            @foreach (var item in Model)
            {

                <div class="row">
                    <div class="col-md-12">

                        <div class="greyBox investor-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>@item.HeaderTitle</h3>
                                    <hr>
                                    <div class="">
                                        <div class="dist">
                                            <div class="row">
                                                @foreach (var subitem in item.InvestorList)
                                                {

                                                    <div class="col-sm-3 space">
                                                        <div class="darkBox match_height" style="height: 118px;">
                                                            <a href="@subitem.filePath" target="_blank" download="" rel="noopener noreferrer">@subitem.Description  @subitem.Date </a>
                                                        </div>
                                                        @*<a href="@subitem.filePath" target="_blank" download="">            </a>*@
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }
        </div>
    }

</div>