@model Sitecore.AdaniCapital.Website.Models.LoginInfoModel
@{
    ViewBag.TextMeassage = Session["EnquiryMessage"];
}
<div class="wrapper-body">
    <div class="row">        
        @foreach (var loans in Model.getLoansList)
        {
            var lan = loans.loanDetailsList.Select(x => x.loanAccountNumber).FirstOrDefault();
            <div class="col-lg-8 mb-4 ">
                <div class="box_currentloan box_shadow">
                    <h3>Current Loan<span class="float-right"><span class="text-green">@loans.loanDetailsList.Select(x => x.productTypeDescription).FirstOrDefault()</span><span class="mx-3">|</span><span>Account: @lan</span></span></h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <p>Loan Amount(₹)<span class="d-block INR">@loans.loanDetailsList.Select(x => x.disbursedAmount).FirstOrDefault()</span></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p>Loan End Date<span class="d-block">@loans.loanDetailsList.Select(x => x.maturityDate).FirstOrDefault()</span></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p>Tenure(Months)<span class="d-block">@loans.loanDetailsList.Select(x => x.balanceTenure).FirstOrDefault()/@loans.loanDetailsList.Select(x => x.tenure).FirstOrDefault()</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <p>Current Balance<span class="d-block INR">@loans.loanDetailsList.Select(x => x.principalOutstanding).FirstOrDefault()</span></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p>Next EMI(₹)<span class="d-block INR">@loans.loanDetailsList.Select(x => x.nextDueInstallmentAmount).FirstOrDefault()</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <p>Interest Rate<span class="d-block">@loans.loanDetailsList.Select(x => x.effectiveRateOfInterest).FirstOrDefault()%</span></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p>Next EMI Date<span class="d-block">@loans.loanDetailsList.Select(x => x.nextDueDate).FirstOrDefault()</span></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p class="pt-4"><a href="#" class="btn-link">View all</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 ">
                <div class="box_quicklinks box_shadow">
                    <h3>Downloads</h3>
                    <ul>
                        <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="" data-document="@lan" class="GetWelcome">Welcome Letter</a></li>
                        <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="/login/ticket-history">SOA Report</a></li>
                        <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="" data-document="@lan" class="GetIntCertificate">Interest Certificate</a></li>
                        <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="" data-document="@lan" class="GetBalConfLetter">Balance Confirmation Letter</a></li>
                        <li><span><img src="/-/media/C9B08D1B64634AA1BAB92BDC00B2BC4D.ashx"></span><a href="" data-document="@lan" class="GetRepaySchedule">Repayment Schedule</a></li>
                    </ul>
                </div>
            </div>
        }               
    </div>
</div>
