@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@*@inherits WebViewPage
@{
    Layout = null;
}*@
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Sitecore().Dictionary("/PageMetadata/Title", "Ahmedabad Airport")</title>
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

    @Html.Sitecore().VisitorIdentification()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!--header-->
    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="header-topbar"></div>
        <div class="navPanel">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-5">
                        <a class="navbar-brand" href="/"><img src="-/media/0CFA6457E9574BAA81CB5F69E9B783A0.ashx" alt="Adani Airport" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-6 col-5 text-lg-right text-left">
                        <a class="navbar-brand mr-lg-0" href="/"><img src="-/media/42B57991BEC74FD4976DA5FC330941EC.ashx" alt="Adani Airport" class="img-fluid"></a>
                    </div>
                    <div class="col-2 d-block d-lg-none">
                        <div class="topNavBtn">
                            <button type="button" id="topNavCollapse" class="btn btn-menu">
                                <!--<i class="fas fa-align-justify"></i>-->
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container">
                    <nav class="navbar navbar-expand-lg ml-5 my-3">
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav mx-auto">

                                <li class="nav-item dropdown-toggle">
                                    <a class="nav-link" href="" id="navbarDropdown">
                                        Commercials & Tenders
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                        <ul>
                                            <li class="">
                                                <a class="dropdown-item" href="/">E-Tendering</a>

                                            </li>
                                            
                                            <li class="">
                                                <a class="dropdown-item" href="https://stageahmedabadphase1.adaniairports.com/">Download Form</a>

                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="http://careers.adani.com/" id="navbarDropdown">
                                        Careers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://stageahmedabadphase1.adaniairports.com/#contact" id="navbarDropdown">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="ml-5" id="topMenu">
                        <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-times-circle"></i></div>
                        <div class="clearfix"></div>
                        <!-- link menu code-->
                        <ul class="topMenu d-lg-none d-block">
                            <li class="dropdown">
                                <a href="">Commercials & Tenders</a>
                                <div class="dropdown-menu megamenu">
                                    <ul>
                                        <li class="">
                                            <a class="dropdown-item" href="/">E-Tendering</a>
                                        </li>
                                        <li class="">
                                            <a class="dropdown-item" href="https://stageahmedabadphase1.adaniairports.com/">Download Form</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="http://careers.adani.com/">Careers</a>
                            </li>
                            <li>
                                <a href="https://stageahmedabadphase1.adaniairports.com/#contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--/header-->
    @Html.Sitecore().Placeholder("page-layout")
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
	   @Html.Sitecore().Placeholder("footer12")
    <!--footer-->
    <footer class="pt-5 bg-grey position-relative d-none">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- /Footer -->
    <div class="sidebar_cta d-none">
        <ul>
            <li>
                <span><a href="#">Book Premium Service</a></span>
                <div><img src="-/media/8B59DA59D56548449C12C2255324C94B.ashx"></div>
            </li>
            <li>
                <span><a href="#">Feedback Form</a></span>
                <div><img src="-/media/B7A9AA5F9E1B49B8A2BD28EFF332CC7A.ashx"></div>
            </li>
            <li>
                <span><a href="">Book Services</a></span>
                <div><img src="-/media/C88C33B36D8B48248D0FE1CEC39C9103.ashx"></div>
            </li>
        </ul>
    </div>
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
</body>

</html>
