@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!-- Favicons -->
    <link href="assets/NMIA/img/favicon.png" rel="icon">
    <link href="assets/NMIA/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
	@RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()
  <!-- <link href="assets/NMIA/vendor/animate.css/animate.min.css" rel="stylesheet"> -->
  <!-- <link href="assets/NMIA/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="assets/NMIA/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <!-- <link href="assets/NMIA/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> -->
  <!-- <link href="assets/NMIA/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->
  <!-- <link href="assets/NMIA/vendor/remixicon/remixicon.css" rel="stylesheet"> -->
  <!-- <link href="assets/NMIA/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

   <!-- Template Main CSS File --> 
  <!-- <link href="assets/NMIA/css/style.css" rel="stylesheet"> -->
    
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        @Html.Sitecore().Placeholder("header")
    </header><!-- End Header -->
    <main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">
			@Html.Sitecore().Placeholder("breadcrumb")
			</div>
		</section>
        
		<!-- End Breadcrumbs -->
        <!-- ======= About Section ======= -->

        <section id="about" class="about">
            <div class="container">

                @Html.Sitecore().Placeholder("Etender-Cards")

            </div>
        </section>
        <!-- End About Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        @Html.Sitecore().Placeholder("footer")


    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
	 @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    <!-- <script src="assets/NMIA/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="assets/NMIA/vendor/glightbox/js/glightbox.min.js"></script> -->
    <!-- <script src="assets/NMIA/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
    <!-- <script src="assets/NMIA/vendor/php-email-form/validate.js"></script> -->
    <!-- <script src="assets/NMIA/vendor/swiper/swiper-bundle.min.js"></script> -->
    <!-- <script src="assets/NMIA/vendor/waypoints/noframework.waypoints.js"></script> -->
    <!-- <script src="assets/NMIA/js/jquery.min.js"></script> -->
     <!-- Template Main JS File --> 
    <!-- <script src="assets/NMIA/js/main.js"></script> -->
    <!-- <script src="assets/NMIA/js/headermain.js"></script> -->
</body>

</html>