@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'  upgrade-insecure-requests; block-all-mixed-content;"> -->
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <title>::NMIA::</title>
    <meta content="Official Website of Navi Mumbai International Airport Limited" name="description">
    <meta content="nmia" name="keywords">

    <!-- Favicons -->
    <link href="assets/NMIA/img/favicon.png" rel="icon">
    <link href="assets/NMIA/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!-- Vendor CSS Files -->
  @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        @Html.Sitecore().Placeholder("header")
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        @Html.Sitecore().Placeholder("home-banner")

    </section><!-- End Hero -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        @Html.Sitecore().Placeholder("footer")

    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
	 @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    

</body>

</html>