@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

<div id="ageContainer" class="d-none">
    <div class="ageContainer">
        <div class="ageContainerHeader">
            <div class="icon">
                <svg width="42px" height="45px" viewBox="0 0 42 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Age</title>
                    <g id="Duty-Free" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="0---Duty-Free---Age---Desktop" transform="translate(-619.000000, -213.000000)" fill="#000000" fill-rule="nonzero">
                            <g id="Group" transform="translate(420.000000, 110.000000)">
                                <g id="Group-2-Copy-2" transform="translate(175.000000, 80.000000)">
                                    <path d="M54.4577995,45.155883 C57.3374437,45.155883 60.0992482,46.3092395 62.1357691,48.3622095 C64.1717487,50.4152593 65.3154969,53.1993593 65.3154969,56.1021231 C65.3154969,59.0049038 64.1717369,61.7889989 62.1356833,63.8421232 C60.0992364,65.8950186 57.337427,67.0483632 54.4577995,67.0483632 C51.5781553,67.0483632 48.8163508,65.8950067 46.7798299,63.8420367 C44.7438503,61.788987 43.600102,59.004887 43.600102,56.1021231 C43.600102,53.1993424 44.7438621,50.4152474 46.7799157,48.362123 C48.8163626,46.3092276 51.578172,45.155883 54.4577995,45.155883 Z M54.4577995,46.8379779 C52.0211659,46.8379779 49.684376,47.813885 47.9614093,49.5511211 C46.2381961,51.2886057 45.270098,53.6450184 45.270098,56.1021231 C45.270098,58.5593765 46.2382194,60.9158405 47.9614307,62.6531467 C49.6845744,64.3903847 52.0213134,65.3662683 54.4577995,65.3662683 C56.894433,65.3662683 59.2312229,64.3903612 60.9541897,62.6531251 C62.6774029,60.9156405 63.645501,58.5592278 63.645501,56.1021231 C63.645501,53.6448697 62.6773796,51.2884057 60.9541683,49.5510995 C59.2310246,47.8138615 56.8942856,46.8379779 54.4577995,46.8379779 Z M48.6803921,23 C50.7199952,23 52.3888604,24.6340332 52.4911727,26.6848395 L52.4961434,26.8845648 L52.4961434,41.3658811 C52.4961434,41.8185913 52.1334061,42.1896736 51.6904923,42.1896736 C51.2815813,42.1896736 50.9408554,41.8734232 50.8908557,41.4687577 L50.8845413,41.3658811 L50.8845413,26.8845648 C50.8845413,25.7046521 49.9807448,24.7350661 48.8377502,24.6529848 L48.680467,24.6473565 L27.8158262,24.6473565 C26.6531696,24.6473565 25.6978692,25.5649751 25.6169975,26.7249479 L25.6114522,26.8845648 L25.6114522,56.1623785 C25.6114522,57.3422176 26.5154553,58.3118708 27.6585326,58.3939582 L27.8158262,58.3995868 L40.33264,58.3995868 C40.7226245,58.3995868 41.0550601,58.668545 41.1411255,59.0403889 L41.1583476,59.144227 L41.162542,59.2353378 C41.1622023,59.6463108 40.8436699,59.99011 40.4361628,60.0405703 L40.3325651,60.0469433 L27.8157513,60.0469433 C25.7761482,60.0469433 24.1072829,58.4129101 24.0049707,56.3621038 L24,56.1623785 L24,26.8845648 C24,24.8081031 25.6050893,23.1092129 27.6195642,23.0050601 L27.8157513,23 L48.6803921,23 Z M58.8480357,52.3735677 L58.976989,52.3986775 L59.0834448,52.4355158 L59.1634618,52.4739866 C59.3586992,52.582446 59.506228,52.7727974 59.5655017,52.9959049 C59.6221796,53.2090976 59.5935603,53.4341916 59.4863985,53.6281022 L59.4263037,53.7222595 L59.3479563,53.8138385 L53.6153811,59.5931842 L53.5213839,59.6733112 L53.4407367,59.7256523 C53.3182778,59.7941268 53.1741036,59.8312567 53.0305804,59.8304593 C52.8847294,59.8312405 52.7443947,59.7961484 52.617071,59.7262649 L52.524135,59.6673462 L52.4286738,59.5856104 L49.5625973,56.6955756 L49.480641,56.5989311 L49.4265554,56.5154084 C49.3217203,56.32754 49.293112,56.0975309 49.3500828,55.8832189 C49.4277909,55.5907339 49.6541345,55.3625006 49.9445433,55.2840715 C50.1565537,55.2267762 50.3804074,55.2557089 50.5731426,55.3639628 L50.6667181,55.424668 L50.757833,55.5039462 L53.025,57.807 L58.1588612,52.6148739 L58.2597605,52.5283272 L58.3425656,52.4738656 C58.4609902,52.4067563 58.597157,52.3703028 58.7359087,52.3678437 L58.8480357,52.3735677 Z M39.8722025,53.3962709 L39.9958191,53.404576 L40.0783554,53.420312 C40.4295668,53.5094405 40.6935448,53.8512149 40.6935448,54.2280586 C40.6935448,54.6044336 40.448806,54.9306789 40.106625,55.0298504 L40.0011947,55.0526126 L39.9011405,55.059562 L30.234193,55.0593467 L30.126489,55.0515411 L30.0439527,55.0358051 C29.6927413,54.9466766 29.4287633,54.6049022 29.4287633,54.2280586 C29.4287633,53.8561959 29.6833139,53.5269638 30.0317267,53.426667 L30.1389057,53.4036323 L30.2407472,53.3965551 L39.8722025,53.3962709 Z M41.3487376,47.6396652 L41.4594514,47.6476569 L41.5419877,47.6633929 C41.8931991,47.7525214 42.1571771,48.0942957 42.1571771,48.4711394 C42.1571771,48.8430021 41.9026265,49.1722341 41.5542137,49.272531 L41.4470347,49.2955657 L41.3451883,49.3026428 L30.2344672,49.3024452 L30.1251091,49.2948784 L30.0415813,49.2795374 C29.6860447,49.192442 29.4287633,48.8572134 29.4287633,48.4711394 C29.4287633,48.0992767 29.6833139,47.7700447 30.0317267,47.6697478 L30.1389057,47.6467131 L30.2407504,47.639636 L41.3487376,47.6396652 Z M40.3200099,36.5927737 L40.5022061,36.5958206 C43.4402246,36.693343 45.7760056,39.1139068 45.7760056,42.0753376 C45.7760056,42.537369 45.4005034,42.9210128 44.9464393,42.9210128 C44.4923751,42.9210128 44.1168729,42.537369 44.1168729,42.0753376 C44.1168729,40.1228412 42.6343328,38.5023874 40.7252588,38.3045071 L40.5262901,38.289156 L40.3290661,38.284124 L36.3993753,38.2841032 L36.2416805,38.2873 C34.2227222,38.3698252 32.6095285,40.047008 32.6095285,42.0753376 C32.6095285,42.537369 32.2340263,42.9210128 31.7799621,42.9210128 C31.3235157,42.9210128 30.9396826,42.5349708 30.9396826,42.0753376 C30.9396826,39.2127326 33.137385,36.8410137 35.9419186,36.6109764 L36.1645609,36.5972951 L36.3866221,36.5927737 L40.3200099,36.5927737 Z M38.5318338,27.9642236 L38.6829642,27.9681895 C40.1429683,28.0437076 41.3249147,29.1888646 41.4920566,30.6541829 L41.5071955,30.8315099 L41.5121668,31.0080465 L41.5121668,32.4212721 L41.5082837,32.5756934 C41.4342752,34.0674966 40.310717,35.2810962 38.875733,35.452881 L38.7020873,35.4684456 L38.5292547,35.473557 L38.4302391,35.473557 L38.2797059,35.4695784 C36.8243258,35.3937941 35.637978,34.2448304 35.4701274,32.7828062 L35.4549221,32.6059093 L35.4499241,32.4297341 L35.4499241,31.0055727 L35.4538012,30.8513724 C35.5276767,29.3622483 36.6492301,28.1555239 38.0859422,27.9847706 L38.2598135,27.9693011 L38.4328362,27.9642236 L38.5318338,27.9642236 Z M38.5292547,29.6555738 L38.436773,29.6554963 L38.3293221,29.6596514 C37.7334496,29.70679 37.2460874,30.1592333 37.1338255,30.744381 L37.1156079,30.8717017 L37.1090569,31.0080465 L37.1089853,32.4259516 L37.113069,32.5357469 C37.1593839,33.1451426 37.6028429,33.6425527 38.1749425,33.7569695 L38.2994064,33.7755265 L38.4328362,33.7822067 L38.5253179,33.7822842 L38.6327689,33.7781291 C39.2286414,33.7309905 39.7160036,33.2785472 39.8282655,32.6933995 L39.8464831,32.5660788 L39.8530341,32.4297341 L39.8531056,31.011829 L39.849022,30.9020336 C39.7957414,30.2009864 39.2199746,29.6555738 38.5292547,29.6555738 Z" id="Age"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h5>@Html.Sitecore().Field("Title", currentItem)</h5>
        </div>
        <div class="ageContainerBody">
            <ul>
                <li>@Html.Sitecore().Field("Point1 Text", currentItem)</li>
                <li>@Html.Sitecore().Field("Point2 Text", currentItem)</li>
            </ul>
        </div>
        <div class="ageContainerFooter">
            <p>@Html.Sitecore().Field("Warning Message", currentItem)</p>@*<span><a href="#">Read T&amp;C</a></span>*@
            <div class="ageButtonGroup">
                <button type="button" class="ageModalButton btn btn-outline-secondary" onclick="confirmAge(false);">@Html.Sitecore().Field("Button1 Text", currentItem)</button>
                <button type="button" class="ageModalButton btn btn-primary" onclick="confirmAge(true);">@Html.Sitecore().Field("Button2 Text", currentItem)</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal ageModal fade" id="ageModal" tabindex="-1" aria-labelledby="ageModal" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ageModalBody">
            </div>
        </div>
    </div>
</div>

<div class="offcanvas ageOffcanvas offcanvas-bottom" tabindex="-1" id="ageOffcanvas" aria-labelledby="ageOffcanvas">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="ageCanvasBody">

    </div>
</div>
