@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none'; script-src 'self'  https://*.adanipower.com  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/  'nonce-9926c7f24c' 'nonce-9926c7f23c' 'nonce-9926c7f22c' 'nonce-9926c7f21c' ; style-src 'unsafe-inline' 'self' https://*.adanipower.com ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.adanipower.com https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'  https://*.adanipower.com data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.adanipower.com https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com   />
    <meta name="google-site-verification" content="lCT5iMLOsMWF4IiMdKRL2x6UdZE1Lw9JDheJ1dIOKDs" />

    @Html.Sitecore().Placeholder("head")



    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
    <script type="text/javascript">
        var pathArray = window.location.pathname.split('/');
        var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
        getText = "Adani Power - " + getText + " by @@AdaniOnline";
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough: {
                twitter: {
                    text: getText
                }
            }
        }
    </script>
    <!-- Google Tag Manager -->
    <script nonce="9926c7f24c">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5CM8WTB');</script>
    <!-- End Google Tag Manager -->

    <script src="~/scripts/Realty/jquery.min.js"></script>
    <script nonce="9926c7f23c">


        function setCookie(cname, cvalue) {

            document.cookie = cname + "=" + cvalue + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }


        var w = $(window).width();
        setCookie("browserWidth", w);
    </script>
    <script nonce="9926c7f22c">
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CM8WTB"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header -->

    <header class="headerSec">
        @Html.Sitecore().Placeholder("Header")
    </header>

    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main" class="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <div class="modal video" id="system-availability">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        @Html.Sitecore().Placeholder("system-availability")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="pt-5 bg-white position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
        <div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">
                        <div class="d-none d-md-block">© 2019 Adani Group</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu">
                            <ul class="ft-policy-links">
                                <li>
                                    <a href="/sitemap">
                                        SiteMap
                                    </a>
                                </li>
                                <li>
                                    <a href="/privacy-policy">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="/disclaimer">
                                        Legal Disclaimer
                                    </a>
                                </li>
                                <li>
                                    <a href="/terms-and-conditions">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- To top -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!-- /To top -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()

    <script nonce="9926c7f21c">

        AOS.init({
            easing: 'ease-in-out-sine'
        });


    </script>

</body>
</html>
