@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://adanidotcom.azureedge.net 'unsafe-eval' 'unsafe-inline'; object-src 'none'; script-src 'self';">
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @Html.Sitecore().Field("Css assets", Sitecore.Context.Item)
    @RenderAssetsService.Current.RenderStyles()
    <link rel="icon" sizes="32x32" href="/-/media/87BFAF75B2654DEFA79D453920075541">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/AirportCorporate/favicon-16x16.png" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
</head>
<body class="home-page">
    @Html.Sitecore().Placeholder("header")
    @Html.Sitecore().Placeholder("page-layout")
    @Html.Sitecore().Placeholder("footer")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @Html.Sitecore().Field("JavaScript assets", Sitecore.Context.Item)
</body>
</html>