@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.StaticPages.Platform
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    IHelper _helper = new Helper();    
}

@if (currentItem != null)
{    
    <div class="terminal-wrapper">
        <div class="container">
            @foreach (Item item in currentItem.Children)
            {
                string imageAltText = string.Empty;
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
                string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(item, Constant.Image) : "";
                if (imgField != null && imgField.MediaItem != null)
                {
                    Sitecore.Data.Items.MediaItem image = new Sitecore.Data.Items.MediaItem(imgField.MediaItem);
                    imageAltText = image != null && image.Alt != null ? image.Alt : "";
                }
                <div class="terminal-item section-wrap">
                    <h3>@Html.Sitecore().Field("Title", item)</h3>
                    <div class="map-area f-panzoom" id="@item.DisplayName">
                        <img class="map-img f-panzoom__content" src="@imageUrl" alt="@imageAltText" loading="lazy"/>
                        @Html.Sitecore().Field("Description", item)
                    </div>
                </div>
            }
            </div>
    </div>
}

