@model Sitecore.JaipurAirport.Website.Model.SurveyResult
@{
    Layout = null;
}
<html>
<head>
    <script src="~/scripts/JaipurAirport/jspdf.debug.js"></script>
    <script src="~/scripts/JaipurAirport/jquery-3.3.1.min.js"></script>
</head>
<body style="margin:0px;">
    <section style="margin:0px;">
        <button id="gpdf">Click To Generate PDF</button>
        <div style="width:860px; margin:0px auto;" id="PDF">
            <h3 style="border-bottom: 1px solid #000;line-height: 60px;"><img src="/images/logo-adani-JaipurAirport.png" /></h3>
            <h2 style="background: #ff6633;line-height: 50px;padding-left: 10px;color: #fff;">Your Energy Improvement Plan</h2>
            <h3 style="font-size: 30px;">Customer Details</h3>
            <table style="width: 100%;">
                <tr>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">Name :</div>@Model.Name</td>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">CA No :</div>@Model.CANumber</td>
                </tr>
                <tr>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">Email ID :</div>@Model.Email</td>
                    <td><div style="width: 120px;font-style: normal;display: inline-flex;">Mobile No: </div>@Model.MobileNo</td>
                </tr>
            </table>
            @foreach (var Appliancetype in Model.SubSurveyResult)
            {

                <h3 style="font-size: 30px;">@Appliancetype.Appliancetype</h3>
                foreach (var Appliance in Appliancetype.ApplianceList)
                {
                    <p style="color:#ff6633">@Appliance.ApplianceName</p>
                    <ul style="list-style-type:none;padding-left: 15px;margin-bottom:30px">
                        @foreach (var item in Appliance.AnswerdQuestionResponse)
                        {
                            <li style="margin-bottom: 20px;">
                                @item.Response
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </section>

    <script>
        $(document).ready(function () {
            var doc = new jsPDF();
            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };
            $('#gpdf').click(function () {
                doc.fromHTML($('#PDF').html(), 30, 30, {
                    //'width': 170,
                    'elementHandlers': specialElementHandlers
                });
                doc.save('surveyPdf.pdf');
            });
        });
    </script>
</body>
</html>

