@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.ImageField bannerImage= currentItem.Fields["Image"];
    string queryString = !string.IsNullOrEmpty(Sitecore.Context.Request.QueryString["isapp"]) ? Sitecore.Context.Request.QueryString["isapp"].ToLower() : "";
}

@if (RenderingContext.Current.Rendering.Item != null)
{
    <section>
        <h1 class="pageTitle">
            @if (queryString != "true")
            {
                <span class="d-none d-md-block">
                    @Html.Sitecore().Field("Title", currentItem)
                </span>
                <span class="d-flex d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottomTest"
                      aria-controls="offcanvasBottomTest">
                    @Html.Sitecore().Field("Title", currentItem)

                    <span class="i-arrow-d"></span>


                </span>
            }
            else
            {
                <span>
                    @Html.Sitecore().Field("Title", currentItem)
                </span>
            }
        </h1>

        <div class="flexBanner d-none d-md-block"
             style="background-image:url('@bannerImage.Value');">
            <!-- <img src="../../assets/images/services/medical-banner.png" /> -->
        </div>
        <div class="cate-banner d-block d-md-none">
            @Html.Sitecore().Field("Image", currentItem, new { @class = "img-fluid" })
        </div>
    </section>
}
