@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;

    string divClass = RenderingContext.Current.Rendering.Parameters["classname"];
    string divId = RenderingContext.Current.Rendering.Parameters["id"];
    string imgWrapClass = RenderingContext.Current.Rendering.Parameters["imgWrap"];
}
<section>
    <div class="section-wrap @divClass" id="@divId">
        <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
        <div class="@imgWrapClass">
            @{
                Sitecore.Data.Fields.ImageField slideImg = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Image"]);
                string imageUrl = slideImg != null && slideImg.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(slideImg.MediaItem) : "";
            }
            <img class="img-fluid" src="@imageUrl" alt="graph" width="100%" loading="lazy" />
        </div>
        @Html.Sitecore().Field("RichText", currentItem, new { @class = "" })
    </div>
</section>
