@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.LinkField linkField = ((Sitecore.Data.Fields.LinkField)currentItem.Fields["Link"]);
    string divClass = RenderingContext.Current.Rendering.Parameters["classname"];
    string divId = RenderingContext.Current.Rendering.Parameters["id"];
}
<section>
    <div class="section-wrap @divClass pt-wrap" id="@divId" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
        <h3 class="page-title">@currentItem["Title"]</h3>
        @Html.Raw(@currentItem["RichText"])
        @if (linkField != null)
        {
            <a class="" href="@linkField.Url">
                @linkField.Text
            </a>
        }
    </div>
</section>
