@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
}
@if (elements != null)
{
    var rooftopprop = elements.Axes.GetDescendants();

    <section class="position-relative py-5 why-solar" data-aos="fade-up">
        <div class="bg-images">
            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, elements)
        </div>
        <div class="container position-relative">
            <h2 class="text-center sectionHeading mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="ul-whysolar">

                        @foreach (var item in rooftopprop)
                        {
                            if (item != null && item.FieldHasValue(Templates.HasMedia.Fields.Title) && item.FieldHasValue(Templates.HasMedia.Fields.Thumbnail))
                            {
                                <li class="mb-4">
                                    <span>
                                        @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMedia.Fields.Thumbnail, item)
                                    </span>
                                    <p><b>@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, item)</b></p>
                                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, item)
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel single-item">
                        @foreach (var imageItem in rooftopprop)
                        {
                            if (imageItem != null && imageItem.FieldHasValue(Templates.HasMediaImage.Fields.Image))
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, imageItem, cssClass: "img-fluid")
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}