@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var dataItem = "{2C5263DE-8C73-417F-BD2C-B0C17CAB4DE4}";
    var ddrItem = Sitecore.Context.Data.Database.GetItem(dataItem);
    var groupWebsite = "{625CF88E-D302-4575-B8A5-CE1C86C0B9F1}";
    var groupWebsiteItem = Sitecore.Context.Data.Database.GetItem(groupWebsite);
    var ProjectListItemId = "{F570A58B-AB0F-4638-8270-F780FDCEF9C0}";
    var ProjectListItem = Sitecore.Context.Data.Database.GetItem(ProjectListItemId);

    //var contrycodeId = "{D82BFF95-088F-49E3-8871-5B3957AB4522}";
    //var contrycodeItem = Sitecore.Context.Data.Database.GetItem(contrycodeId);
}
@if (elements != null)
{
    var elementList = ddrItem.Axes.GetDescendants();
    //var countryItemList = contrycodeItem.Axes.GetDescendants();
    // var countryItemList = contrycodeItem.Axes.GetDescendants();
    var groupWebsiteList = groupWebsiteItem.Children;
    var ProjectNameList = ProjectListItem.GetChildren();
    List<SelectListItem> CategoryList = new List<SelectListItem>();
    List<SelectListItem> CountryList = new List<SelectListItem>();
    List<SelectListItem> ProjectList = new List<SelectListItem>();
    if (elementList != null)
    {
        foreach (var item in elementList)
        {
            CategoryList.Add(new SelectListItem { Text = item.Fields["Text"].ToString(), Value = item.Fields["Value"].ToString() });
        }
        foreach (Item item in ProjectNameList)
        {
            ProjectList.Add(new SelectListItem { Text = item.Fields["Text"].ToString(), Value = item.Fields["Value"].ToString() });
        }
    }

    <section class="py-5 position-relative z-index" data-aos="fade-up">
        <div class="bg-images">
            @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, elements)
        </div>
        <div class="container position-relative">
            <h2 class="text-center sectionHeading-w text-white mb-5">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>
            @if (elements.FieldHasValue(Templates.HasMedia.Fields.Description))
            {
                <h2 class="text-center txt-md text-white mb-3">
                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
                </h2>
            }
            <form class="CTA-form">
                <input type="hidden" id="cFormType" value="AskOurExpert">
                <input type="hidden" id="PageInfo" value="/Home">
                <input type="hidden" id="utm_source" value="">
                <input type="hidden" id="emailMessage" value="{E3BA89A1-47F3-4859-BF98-36F5E1E62723}">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" id="cname" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label></label>
                            <input type="email" class="form-control" id="cmailid" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label></label>
                            <input type="text" class="form-control" id="ccontactno" placeholder="Contact Number" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for=""></label>

                            @Html.DropDownList("typeofmessage", CategoryList, htmlAttributes: new { @class = "form-control", id = "CategoryAskExpert" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label>&nbsp;</label>
                        <div class="form-group">
                            <select name="Select Region" class="form-control" id="region">
                                @foreach (var item in groupWebsiteList.ToList())
                                {
                                    if (item.HasChildren)
                                    {
                                        <optgroup label="@item.Fields["Text"].ToString()">
                                            @foreach (var inner in item.Children.InnerChildren.ToList())
                                            {
                                                <option value="@inner.Fields["Value"].ToString()">@inner.Fields["Text"].ToString()</option>
                                            }
                                        </optgroup>
                                    }
                                    else
                                    {
                                        <option value="@item.Fields["Value"].ToString()">@item.Fields["Text"].ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label>&nbsp;</label>
                        <div class="form-group">
                            <select name="State" class="form-control" id="State">
                                <option value="Default">Select State</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label>&nbsp;</label>
                        <div class="form-group">
                            @Html.DropDownList("typeofproject", ProjectList, htmlAttributes: new { @class = "form-control", id = "cprojectType" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>&nbsp;</label>
<textarea class="form-control" rows="1" id="cmessage" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center mt-3">
                        <div id="recaptcha2"></div>
                    </div>
                    <div class="col-sm-12 text-center mt-3">
                        <p>
                            <button type="submit" id="btnAskOurExpert" class="btn btn-bordered mb-2">Confirm identity</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </section>
}