@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var contextItem = Sitecore.Context.Item;
    int i = 1;
    int j = 1;
}
@if (elements != null)
{

    var Typelist = contextItem.Axes.GetDescendants().Where(x => x.TemplateID == Templates.ProductType.ID);

    <section class="py-5 bg-gray solutions-tab">
        <div class="container" data-aos="fade-up">
            <h2 class="text-center sectionHeading">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, elements)</h2>

            @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)

            @*<p class="text-center mb-5">
                    @Html.Sitecore().Field(Templates.HasMedia.Fields.Description, elements)
                </p>*@
            @*<ul class="nav nav-tabs mb-4" id="solution" role="tablist">

                    @if (Typelist != null)
                    {
                        foreach (var productItem in Typelist)
                        {
                            var actv = string.Empty;
                            var selected = string.Empty;
                            if (i == 1)
                            {
                                actv = "active";
                                selected = "true";
                            }
                            else
                            {
                                actv = "";
                                selected = "false";
                            }
                            <li class="nav-item">
                                <a class="nav-link @actv" id="tabs-@i" data-toggle="tab" href="#tab-s-@i" role="tab"
                                   aria-controls="tab-s-@i" aria-selected="@selected">
                                    <p>@Html.Sitecore().Field(Templates.HasPageContent.Fields.Title, productItem)</p>
                                </a>
                            </li>

                            i++;
                        }
                    }
                </ul>
                <div class="tab-content" id="solutionstab">
                    @if (Typelist != null)
                    {
                        foreach (var item in Typelist)
                        {
                            var actv = string.Empty;
                            var childItems = item.Axes.GetDescendants();
                            if (j == 1)
                            {
                                actv = "show active";
                            }
                            else
                            {
                                actv = "";
                            }
                            <div class="tab-pane fade @actv" id="tab-s-@j" role="tabpanel" aria-labelledby="tabs-@j">
                                <div class="row">
                                    <div class="col-lg-7 col-md-6 py-5">
                                        @foreach (var cellItem in childItems)
                                        {
                                            <div class="row mb-3">
                                                <div class="col-md-2">
                                                    @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasMediaImage.Fields.Image, cellItem, cssClass: "img-fluid")
                                                </div>
                                                <div class="col-md-10">
                                                    <h3 class="txt-md mb-2">@Html.Sitecore().Field(Templates.HasMedia.Fields.Title, cellItem)</h3>
                                                    <p>@Html.Sitecore().Field(Templates.HasMedia.Fields.Description, cellItem)</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-lg-4 col-md-6 text-lg-right text-center ml-auto">
                                        @Html.Sitecore().ImageFieldWithoutSize2(Templates.HasPageContent.Fields.Image, item, cssClass: "img-fluid floating-element")
                                    </div>
                                </div>
                            </div>

                            j++;
                        }
                    }
                </div>*@
        </div>
    </section>

}