@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

}
@if (elements != null)
{
    var itemList = elements.Axes.GetDescendants().Where(x => x.TemplateID == Templates.ProductPage.ID);
    <section class="mb-5 more-products">
        <div class="container" data-aos="fade-up">
            <h3 class="heading pl-4 mb-5">More Products</h3>
            <div class="row">
                @foreach (var item in itemList)
                {
                    if (item.ID != Sitecore.Context.Item.ID)
                    {
                        <div class="col-lg-4 col-md-6 ml-auto mb-3">
                            <a href="@item.Url()">
                                <div class="more-products boxzoom">
                                    <div class="more-products-img">
                                        @Html.Sitecore().ImageFieldWithoutSize2(new Sitecore.Data.ID("{FFEDE306-1E57-442B-BC3A-01A1A52A832F}"), item, cssClass: "img-fluid")
                                    </div>
                                    @{
                                        var name = Html.Sitecore().Field(Templates.HasPageContent.Fields.Title, item).ToString();
                                        var sp = name.Split('-');
                                    }
                                    @if (sp.Count() > 2)
                                    {
                                        <div class="more-products-cont">@sp[0]  <br /> @sp[1]-@sp[2]</div>
                                    }
                                    else
                                    {
                                        <div class="more-products-cont">@sp[0]  <br /> @sp[1]</div>
                                    }

                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
}