@using Sitecore
@using Sitecore.Mvc
@using System.Data
@model DataSet

@if (Model.Tables[0].Rows.Count == 0)
{
<div class="bg-white p-4"><h3>No information found currently</h3> </div>
}
else
{
    <div class="bg-white p-4">
        @*<div class="row">
                <div class="col-lg-6 mb-3"><p>As On 5 Apr 2019 12:31:3</p></div>
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 ml-auto">
                            <p class="txt-xs">Showing</p>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <select class="form-control p-0 select-option" id="">
                                    <option class="txt-xs">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-7">
                            <p class="txt-xs">per page</p>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="table-responsive">
            <table class="table bg-gray" id="TrackingDataTableAnchorageMICT">
                <thead>
                    <tr>
                        <th>Vessels Name</th>
                        <th>VCN No.</th>
                        <th>Cargo Type</th>
                        <th>Cargo</th>
                        <th>Import Export</th>
                        <th>Vessel Agent</th>
                        <th>QTY MT</th>
                        <th>PCS Anchored</th>
                        <th>Anch</th>
                        <th>Pilot Request Time</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow row in Model.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["VESSEL_NAME"]</td>
                            <td>@row["VCN"]</td>
                            <td>@row["CARGO_TYPE"]</td>
                            <td>@row["CARGO"]</td>
                            <td>@row["IMPORT_EXPORT"]</td>
                            <td>@row["VESSEL_AGENT"]</td>
                            <td>@row["QTY_MT"]</td>
                            <td>@row["ANCHORED"]</td>
                            <td>@row["ANCH"]</td>
                            <td>@row["PILOT_REQUEST_TIME"]</td>
                            <td>@row["ANCH_REASON"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            @*<div class="col-sm-12">
                    <nav aria-label="Page navigation ml-auto">
                        <ul class="pagination justify-content-end float-right">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
}