@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Ports.Website.Models.PortsGmsLevel3Dashbord
@using Sitecore.Ports.Website.Models
@{

    // var currentDate = DateTime.Now;
    // var AddGrievance = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceBookingOnBehalf);

    var Team = Sitecore.Context.Database.GetItem("{48992B38-A3CE-4DEB-9131-35EEB86ED1FC}");

    var item = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceLevel3Dashbord);
    var link = item.Url();
}

<section class="breadcrumb-sub-layout bg-white  pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    <li><a href="@link">Home</a></li>
                    <li>Level-1 Reply</li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <p class="user_logout"><a href="/Grievance/Logout"><span class="fa fa-sign-out mr-2"></span>Logout</a></p>
            </div>
        </div>
    </div>
</section>
<section class="pb-5 bg-white">
    <div class="container">

        <div class="form_panel bg-l-gray p-4 box-shadow">
            <h3 class="heading mb-4 pl-3">Stakeholder Details</h3>
            <form action="" enctype="multipart/form-data" id="PortsGMSLevel3Reply" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" class="form-control" value="@Model.Address" name="Address" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none">
                        <div class="form-group">
                            <label for="">DOB</label>
                            <input type="text" class="form-control" name="DOB" value="@Model.DOB" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Gender</label>
                            <input type="text" class="form-control" name="Gender" value="@Model.Gender" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" name="Email" value="@Model.Email" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Mobile</label>
                            <input type="text" class="form-control" name="Mobile" value="@Model.Mobile" placeholder="" readonly>
                        </div>
                    </div>

                </div>
                <hr>
                <h3 class="heading mb-4 pl-3">Grievance Details</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="">Grievance ID</label>
                        <div class="form-group">
                            <input style="text-transform:uppercase;" type="text" class="form-control" name="Id" id="Id" value="@Model.Id" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="">Location</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Location" value="@Model.Location" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-none">
                        <label for="">Location Department</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Department" value="@Model.Department" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <label for="">Subject</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Subject" minl value="@Model.Subject" minlength="10" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-none">
                        <label for="">WhoImpacted</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="WhoImpacted" value="@Model.WhoImpacted" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <label for="">Grievance Brief</label>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="Brief" id="Brief" value="@Model.Brief" placeholder="" readonly>*@
                            <textarea class="" name="Brief" rows="3" cols="115" minlength="50" readonly style="background-color: #deeaf5;">@Model.Brief</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="">Business Group</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.BusinessGroup" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <label for="">Level-0 Comment(@Model.Level0UserName)</label>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="" value="@Model.Level0Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="75" readonly style="background-color: #deeaf5;">@Model.Level0Comment</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label for="">Site Head</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.SiteHead" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="">Type of Stakeholder</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.HO" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Level-1 Comment(@Model.Level1UserName)</label>
                            @*<input type="text" class="form-control" name="" value="@Model.Level1Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="55" readonly style="background-color: #deeaf5;">@Model.Level1Comment</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="">Point Man</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="PointMan" value="@Model.PointMan" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="">Level-2 Comment(@Model.Level2UserName)</label>
                            @*<input type="text" class="form-control" name="Level1Comment" value="@Model.Level2Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="75" readonly style="background-color: #deeaf5;">@Model.Level2Comment</textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Level-3 Reply(@Model.Level3UserName)</label>
                            <textarea class="" name="Comment" minlength="50" id="Comment" rows="3" cols="115"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-3 text-right">
                    <button type="submit" class="btn btn-gradient">Assign to Level 0</button>
                    @*<button type="submit" class="btn btn-dark">Close</button>*@
                    <a href="@link" class="btn btn-dark">Close</a>
                </div>
                <div class="row"></div>
                <h3 class="heading mb-4 pl-3" @(ViewBag.AssignedLevel == "Re-assigned 3" ? "style=display:none" : string.Empty)>Reassignment Section</h3>
                <div class="row" id="reassign" @(ViewBag.AssignedLevel == "Re-assigned 3" ? "style=display:none" : string.Empty)>
                    <div class="col-lg-6">
                        <label for="">Comments</label>
                        <div class="form-group">
                            <textarea class="" name="Comments" minlength="50" id="Comments" rows="3" cols="55"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Point Man</label>
                            <select name="AssignPointMan" class="form-control point" id="AssignPointMan">
                                @foreach (var element in Team.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)
                                    {
                                        <option></option>
                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Value", element)">@Html.Sitecore().Field("Value", element)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3" style=" margin-top: 25px;">
                        <input id="reaasignPointMan" class="btn btn-gradient" type="button" value="Reassign" />
                    </div>
                </div>



            </form>
        </div>
    </div>
</section>
