@using Sitecore.Mvc
@model Sitecore.Ports.Website.Models.PortsGMSGrievanceBookingModel

@{
    /**/


    var WhoImpacted = Sitecore.Context.Database.GetItem("{AB8F2314-5D70-40B4-9E5C-6C1062F6BCFC}");
    var Nature = Sitecore.Context.Database.GetItem("{39DA8970-3944-4F15-9A7D-7E9157ACB4F2}");
    var Location = Sitecore.Context.Database.GetItem("{0BE032CE-0BC0-49B9-8182-5DBCFA1349BE}");
    var Company = Sitecore.Context.Database.GetItem("{1B5C8C51-E533-449F-A06B-F96F58011CE7}");

}
<section class="breadcrumb-sub-layout bg-white  pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    <li><a href="/Home">Home</a></li>
                    <li>Grievance Booking</li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <p class="user_logout"><a href="/Grievance/Logout"><span class="fa fa-sign-out mr-2"></span>Logout</a></p>
            </div>
        </div>
    </div>
</section>

<section class="pb-5 bg-white">
    <div class="container">
        @if (Session["SuccessMsg"] != null)
        {
            <div class="alert-success mb-4 p-2">@Session["SuccessMsg"]</div>
            Session["SuccessMsg"] = null;
        }
        @if (Session["ErrorMsg"] != null)
        {
            <div class="alert-danger mb-4 p-2">@Session["ErrorMsg"]</div>
            Session["ErrorMsg"] = null;
        }
        <div class="form_panel bg-l-gray p-4 box-shadow">
            <h3 class="heading mb-4 pl-3">Stakeholder Details</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder=""   autocomplete="off" readonly>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="form-group">
                        <label for="">Address</label>
                        <textarea class="form-control" name="Address" rows="3" readonly>@Model.Address</textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-none">
                    <div class="form-group">
                        <label for="">DOB</label>
                        <input type="text" class="form-control" name="DOB" value="@Model.DOB" placeholder=""  autocomplete="off"  readonly>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <input type="text" class="form-control" name="Gender" value="@Model.Gender"   autocomplete="off" placeholder="" readonly>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="Email" value="@Model.Email"   autocomplete="off" placeholder="" readonly>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="">Mobile</label>
                        <input type="text" class="form-control" name="Mobile" value="@Model.Mobile"  autocomplete="off"  placeholder="" readonly>
                    </div>
                </div>

            </div>
            <hr>

            <h3 class="heading mb-4 pl-3">Grievance Booking</h3>
            <form action="" enctype="multipart/form-data" id="PortsGmsGrievanceBookingForm" method="post">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label>Company<span class="required">*</span></label>
                            <select class="form-control" name="Company" required id="Company">
                                <option>Select..</option>
                                @foreach (var element in Company.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)
                                    {

                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Title", element)" @{ var selc = (element.Fields["Title"].Value == Model.Company ? "selected" : "");} @selc>@Html.Sitecore().Field("Title", element)</option>

                                    }

                                }
                            </select>
                            @Html.ValidationMessageFor(x => x.Company, "", new { @class = "required" }, "p")
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label>Location<span class="required">*</span></label>
                            <select class="form-control" name="Location" required id="Location">
                                <option>Select..</option>
                                @foreach (var element in Location.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)
                                    {

                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Title", element)" @{ var selloc = (element.Fields["Title"].Value == Model.Location ? "selected" : "");} @selloc>@Html.Sitecore().Field("Title", element)</option>

                                    }

                                }
                            </select>
                            @Html.ValidationMessageFor(x => x.Location, "", new { @class = "required" }, "p")
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label>Grievance Nature<span class="required">*</span></label>
                            <select class="form-control" name="Nature" required id="Nature">
                                <option>Select..</option>
                                @foreach (var element in Nature.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)

                                    {


                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Key", element)" @{ var selloc = (element.Fields["Key"].Value == Model.Nature ? "selected" : "");} @selloc>@Html.Sitecore().Field("Key", element)</option>


                                    }

                                }
                            </select>
                            @Html.ValidationMessageFor(x => x.Nature, "", new { @class = "required" }, "p")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-6">
                        <div class="form-group">
                            <label>Subject<span class="required">*</span></label>
                            <input type="text" class="form-control" name="Subject" value="@Model.Subject" required maxlength="255" minlength="100" id="Subject"  autocomplete="off"  placeholder="">
                            @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "required" }, "p")
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>Who Impacted<span class="required">*</span></label>
                            <select class="form-control" name="WhoImpacted" required id="WhoImpacted">
                                <option>Select..</option>
                                @foreach (var element in WhoImpacted.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)
                                    {

                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Title", element)" @{ var selwho = (element.Fields["Title"].Value == Model.WhoImpacted ? "selected" : "");} @selwho>@Html.Sitecore().Field("Title", element)</option>

                                    }

                                }
                            </select>
                            @Html.ValidationMessageFor(x => x.WhoImpacted, "", new { @class = "required" }, "p")
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label for="">Attachment</label>
                            <input type="file" class="form-control-file p-1" name="File" id="Attachment">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="">Grievance in brief</label>
                            <textarea class="form-control" name="Brief" required minlength="100" id="Brief" rows="10">@Model.Brief</textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-3 text-right">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="Icd" value="@Session["IncompleteGrievanceIcd"]" />
                        <button type="submit" class="btn btn-gradient">Save</button>
                        @*<button type="submit" value="1" name="SaveAsDraft" class="btn btn-dark">Save As Draft</button>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>