@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Ports.Website.Models.PortsGmsLevel2Dashbord
@using Sitecore.Ports.Website.Models
@{

    // var currentDate = DateTime.Now;
    // var AddGrievance = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceBookingOnBehalf);
    var Department = Sitecore.Context.Database.GetItem("{39DA8970-3944-4F15-9A7D-7E9157ACB4F2}");
    var Role = Sitecore.Context.Database.GetItem("{1B5C8C51-E533-449F-A06B-F96F58011CE7}");
    var Title = Sitecore.Context.Database.GetItem("{76273070-C57B-4589-9C56-E8941677865A}");
    var Company = Sitecore.Context.Database.GetItem("{1B5C8C51-E533-449F-A06B-F96F58011CE7}");

    var BusinessGroup = Sitecore.Context.Database.GetItem("{7F330547-8B54-4343-93C0-D06F25394B81}");
    var SiteHead = Sitecore.Context.Database.GetItem("{3C86DA42-7730-4AE8-9A9E-C72734D1990E}");
    var HO = Sitecore.Context.Database.GetItem("{FCB0B564-E638-473D-9086-2514778FE099}");
    var Team = Sitecore.Context.Database.GetItem("{48992B38-A3CE-4DEB-9131-35EEB86ED1FC}");

    var item = Sitecore.Context.Database.GetItem(PortsGMSTemplates.Grievance.GrievanceLevel2Dashbord);
    var link = item.Url();
}

<section class="breadcrumb-sub-layout bg-white  pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="breadcrumb-sublayout-ul">
                    <li><a href="@link">Home</a></li>
                    <li>Level-2 Reply</li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <p class="user_logout"><a href="/Grievance/Logout"><span class="fa fa-sign-out mr-2"></span>Logout</a></p>
            </div>
        </div>
    </div>
</section>
<section class="pb-5 bg-white">
    <div class="container">

        <div class="form_panel bg-l-gray p-4 box-shadow">
            <h3 class="heading mb-4 pl-3">Stakeholder Details</h3>
            <form action="" enctype="multipart/form-data" id="PortsGMSLevel2Reply" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" class="form-control" value="@Model.Address" name="Address" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none">
                        <div class="form-group">
                            <label for="">DOB</label>
                            <input type="text" class="form-control" name="DOB" value="@Model.DOB" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Gender</label>
                            <input type="text" class="form-control" name="Gender" value="@Model.Gender" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" name="Email" value="@Model.Email" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Mobile</label>
                            <input type="text" class="form-control" name="Mobile" value="@Model.Mobile" placeholder="" readonly>
                        </div>
                    </div>

                </div>
                <hr>
                <h3 class="heading mb-4 pl-3">Grievance Details</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="">Grievance ID</label>
                        <div class="form-group">
                            <input style="text-transform:uppercase;" type="text" class="form-control" name="Id" id="Id" value="@Model.Id" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="">Location</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Location" value="@Model.Location" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-none">
                        <label for="">Location Department</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Department" value="@Model.Department" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <label for="">Subject</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Subject" minl value="@Model.Subject" minlength="10" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-none">
                        <label for="">WhoImpacted</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="WhoImpacted" value="@Model.WhoImpacted" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <label for="">Grievance Brief</label>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="Brief" id="Brief" value="@Model.Brief" placeholder="" readonly>*@
                            <textarea class="" name="Brief" rows="3" cols="115" minlength="50" readonly style="background-color: #deeaf5;">@Model.Brief</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="">Business Group</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.BusinessGroup" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <label for="">Level-0 Comment(@Model.Level0UserName)</label>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="" value="@Model.Level0Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="75" readonly style="background-color: #deeaf5;">@Model.Level0Comment</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label for="">Site Head</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.SiteHead" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="">Type of Stakeholder</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="@Model.HO" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Level-1 Comment(@Model.Level1UserName)</label>
                            @*<input type="text" class="form-control" name="" value="@Model.Level1Comment" placeholder="" readonly>*@
                            <textarea class="" name="" rows="3" cols="55" readonly style="background-color: #deeaf5;">@Model.Level1Comment</textarea>
                        </div>
                    </div>
                </div>
                @*@if (Model.Assigned)
        {*@
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>Point Man<span class="required">*</span></label>
                            <select name="PointMan" required class="form-control" id="PointMan">
                                @foreach (var element in Team.GetChildren().ToList())
                                {
                                    var childCount = element.GetChildren().Count();
                                    if (childCount != 0)
                                    {
                                        <option></option>
                                    }
                                    else
                                    {
                                        <option value="@Html.Sitecore().Field("Value", element)">@Html.Sitecore().Field("Value", element)</option>

                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label for="">Level-2 Reply(@Model.Level2UserName)</label>
                            <textarea class="" name="Comment" required minlength="50" id="Comment" rows="3" cols="85"></textarea>
                        </div>
                    </div>
                </div>

                @*}*@

                <div class="col-lg-12 mt-3 text-right">
                    <button type="submit" class="btn btn-gradient">Assign to Level 3</button>
                    <a href="@link" class="btn btn-dark">Close</a>
                </div>

            </form>
        </div>
    </div>
</section>
