@model List<Sitecore.Ports.Website.Models.VesselModel>
@{
    ViewBag.Title = "VesselTunaSailed";
    Layout = null;
}


<div class="bg-white p-4">
    @*<div class="row">
            <div class="col-lg-6 mb-3"><p>As On 5 Apr 2019 12:31:3</p></div>
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-lg-2 col-md-2 ml-auto">
                        <p class="txt-xs">Showing</p>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="form-group">
                            <select class="form-control p-0 select-option" id="">
                                <option class="txt-xs">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <p class="txt-xs">per page</p>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="table-responsive">
        <table class="table bg-gray" id="TrackingDataTableTunaSailed">
            <thead>
                <tr>
                    <th>SBU Name</th>
                    <th>Vessels Name</th>
                    <th>Pilot on Board (POB)</th>
                    <th>Pilot Disembark (PD)</th>
                    <th>Actual Time of Unberthing (ATUB)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.sbuName</td>
                        <td>@item.vslNm</td>
                        <td>@item.allocPobDttm</td>
                        <td>@item.disembarkDttm</td>
                        <td>@item.lastLineInDttm</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">

        <div class="clearfix"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

