@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model Sitecore.Transmission.Website.Models.CarbonCalculatorRegistrationModel
@using Sitecore.Transmission.Website.Models
@{

    var Company = Sitecore.Context.Database.GetItem("{0F0864E7-D76D-4644-BDE6-766E835DFB64}");

}
@*<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .g-recaptcha {
            display: flex;
            justify-content: center;
        }

        .help-block {
            color: red;
        }
    </style>*@

<section class="section_register">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-xl-4 col-lg-5 order-lg-1 order-2">
                <div class="position-relative h-100">



                    <div class="login-sidebar--form--v-middle">
                        <h2><a href="#">Login <span class="fa fa-angle-right"></span></a></h2>
                        <h3>Register now</h3>

                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin", id = "TransmissionCarbonCalculatorRegistrationForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AddUniqueFormId()
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <form>
                                <div class="form-group">
                                    <input type="text" name="FullName" class="form-control" required id="FullName" placeholder="Full Name *" />
                                    <small class="error-msg"></small>
                                    @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "required" }, "p")
                                </div>

                                <div class="form-group input-group mb-3">
                                    <input type="text" name="EmailId" class="form-control" required id="EmailId" placeholder="Email ID *">
                                    <small class="error-msg"></small>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="emailOtpbtn">Send OTP</button>
                                        @Html.ValidationMessageFor(x => x.EmailId, "", new { @class = "required" }, "p")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="EmailOTP" class="form-control" required id="registration-otpEmail" placeholder="Email OTP *" maxlength="5" />

                                </div>

                                <div class="form-group input-group mb-3">
                                    <input type="text" name="MobileNumber" class="form-control" required id="MobileNumber" placeholder="Mobile Number *" maxlength="10">
                                    <small class="error-msg"></small>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="mobileOtpbtn">Send OTP</button>
                                        @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "required" }, "p")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="OTP" class="form-control" required id="registration-otpMobile" placeholder="Mobile OTP *" maxlength="5" />

                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="Company" name="Company">
                                        <option>Select your Company</option>
                                        <option value="Adani Transmission Limited">Adani Transmission Limited</option>
                                        <option value="Adani Power Limited">Adani Power Limited</option>
                                        <option value="Adani Electricity Mumbai Limited">Adani Electricity Mumbai Limited</option>
                                        <option value="Others">Others</option>

                                    </select>
                                    @Html.ValidationMessageFor(x => x.Company, "", new { @class = "required" }, "p")
                                </div>
                                @*<div class="captcha_box">
                                        <div class="form-group pt-md-2 @Html.ValidationErrorFor(x => x.Captcha, "has-error")">
                                            <div class="g-recaptcha" data-sitekey="6Le-UnMmAAAAAF9CcEO8zMLr9suKwej0wMiW-eL2"></div>
                                            @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block", }, "p")
                                        </div>
                                    </div>*@
                                <div class="text-left">
                                    <input type="hidden" name="InCompleteCarbonCalculator" value="@Session["InCompleteCarbonCalculator"]" />
                                    <button type="submit" name="PortsGmsRegistrationBtn" id="PortsGmsRegistrationBtn" class="btn btn-primary">Sign up</button>
                                    <button type="submit" class="btn btn-secondary" onclick="location.href='/Carbon-Footprint-Calculator/User-Login'">Back to Login</button>
                                </div>
                            </form>
                        }

                    </div>
                    @if (Session["SuccessMsg"] != null)
                    {
                        <div class="alert-success mb-4 p-2">@Session["SuccessMsg"]</div>
                        Session["SuccessMsg"] = null;
                    }
                    @if (Session["ErrorMsg"] != null)
                    {
                        <div class="alert-danger mb-4 p-2">@Session["ErrorMsg"]</div>
                        Session["ErrorMsg"] = null;
                    }
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 order-lg-2 order-1">
                <div class="sidebar_thumb">
                    <img alt="" src="-/media/F84D0F87DA31484FB886FBEBD6386B57" />
                </div>
            </div>
        </div>
    </div>
</section>