@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model List<Sitecore.Transmission.Website.TransmissionInsertCostCalculator>
@{

}
   @if (Model.Count > 1)
   {
       using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmNewConnectionApplicationList", @class = "form-signin", enctype = ifultipart / form - data" }))
    {
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!-- Page Content -->
    <section class="section_feedback--form pb-5 section_ICRS-form">
        <div class="container">

            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
            </ul>
            <h2 class="txt-orange">
                History List
            </h2>
        </div>
        <!-- /Welcome Message -->
        <div class="py-2"></div>
        <!-- Section -->
        <!-- Main Content Panel -->

        <div class="" id="mainContent">
            <div class="container">
                <div class="complaint-panel p-4">
                    <div class="row mb-3">
                        <div class="col-lg-9">
                            <div class="">
                                <p class="text-note mb-2">List of Calculations</p>
                            </div>
                        </div>

                    </div>

                    <div class="table-responsive mb-4" style="max-height:400px;">
                        <table id="pendingaprroval_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>

                                    <th>Total Domestic Uses</th>
                                    <th>Total Transportation Uses</th>

                                    <th>Average Annual Carbon Footprint per person in India</th>
                                    <th> Your Annual Carbon Footprint</th>
                                    <th>Average Emission per Month per person</th>
                                    <th>No.of Trees needed to remove Your Carbon Footprint</th>
                                    <th>Number of Trips</th>
                                    <th>Land Needed (Hectares) to plant trees for removing your carbon footprint</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = 1;
                                    foreach (var app in Model)
                                    {

                                        <tr>
                                            <td>@count</td>

                                            <td>@app.BusUse</td>
                                            <td>
                                                @app.LPGUsed
                                            </td>
                                            <td>
                                                1.94
                                            </td>
                                            <td>
                                                @app.CNGAutoRickshaw
                                            </td>
                                            <td>
                                                @app.CNGUsed
                                            </td>
                                            
                                        </tr>
                                        if(count==3)
                                        {
                                            count++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <p>
                        <a href="/Carbon-Footprint-Calculator">Calculate Now</a>
                    </p>


                </div>
            </div>

        </div>
    </section>

                                            }
                                        }
                                    }
