@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using System.Globalization;

@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model Sitecore.Transmission.Website.Models.ViewCarbonCalculator
@*@using Sitecore.Transmission.Website.Models*@
@{

    IFormatProvider provider = CultureInfo.CreateSpecificCulture("en-US");
    double s = double.Parse(Model.TotalDomesticUses, provider);
    string TotalDomesticUses = s.ToString("0.00");
    double x = double.Parse(Model.TotalTransportationUses, provider);
    string TotalTransportationUses = x.ToString("0.00");
    double y = double.Parse(Model.TotalTrips, provider);
    string TotalTrips = y.ToString("0.00");
    double z = double.Parse(Model.TotalCarbonEmission, provider);
    string TotalCarbonEmission = z.ToString("0.00");
    double a = double.Parse(Model.EmployeeTotalemissionsperMonths, provider);
    string EmployeeTotalemissionsperMonths = a.ToString("0.00");
}
<style>

    html, body {
        background: #fff;
    }

    .vendor-form {
        padding: 1rem;
    }

        .vendor-form hr {
            border-color: #e2e2e2;
            margin-top: 0px;
            margin-bottom: 1.5rem;
        }

        .vendor-form h1 {
            color: #1378be;
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }

        .vendor-form h3 {
            font-size: 1.15rem;
            margin-bottom: 0.5rem;
        }

            .vendor-form h3 span {
                font-weight: 600;
            }

        .vendor-form .col-md-6 {
            margin-bottom: 1.5rem;
        }

            .vendor-form .col-md-6 .form-group {
                margin-bottom: 0rem;
            }

        .vendor-form select:focus, .vendor-form select:active, .vendor-form select:hover {
            outline: 0;
        }

    form textarea.form-control {
        min-height: auto;
    }
</style>
<body>
    <section class="vendor-form">
        <div class="container" id="printableArea">
            <div class="col-md-12 head11">
                <h1 class="heading pl-4 mb-5">
                    <strong style="
    background: transparent;
    color: #104a89;
    font-size: 2.35rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    border-radius: 0px;
">
                        Carbon Footprint Calculator
                    </strong>
                </h1>

            </div>
            <div class="panel">

                <form id="userdetails" runat="server">
                    <div class="row fix">
                        <h1>User Details</h1>
                        <hr>
                    </div>
                    <div class="row fix1">
                        <div class="col-md-6">
                            <h3>
                                Registration No -
                                @Model.RegistrationNumber
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Registration Date -
                                @Model.RegistrationDate
                            </h3>
                        </div>

                        <div class="col-md-6">
                            <h3>
                                Name -
                                @Model.FullName
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Company Name -
                                @Model.CompanyName
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Email -
                                @Model.EmailID
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Contact No -
                                @Model.Login
                            </h3>
                        </div>



                        <div id="footprintDetail" runat="server" class="col-md-12 row">
                            <div class="col-md-12">
                                <h1>Carbon Footprint Details</h1> <hr>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Submitted On -
                                    @Model.FormSubmitOn
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Month -
                                    @Model.MonthNames
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Year -
                                    @Model.Years
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Total Family Member -
                                    @Model.TotalFamilyMembers
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Electricity Consumed at Residence -
                                    @Model.ElectricityConsumedatResidences
                                </h3>
                            </div>

                            <div class="col-md-6">
                                <h3>
                                    CNG Used
                                    @Model.CNGUseds
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    LPG Used -
                                    @Model.LPGCylinders
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Diesel Consumption -
                                    @Model.DieselConsumptions
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Petrol Consumption -
                                    @Model.PetrolConsumptions
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    CNG Auto-Rikshaw -
                                    @Model.AutoRikshaws
                                </h3>
                            </div>


                            <div class="col-md-6">
                                <h3>
                                    Bus Use -
                                    @Model.Buses
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Train Use -
                                    @Model.Trains
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Emission from Domestic Use -
                                    @(TotalDomesticUses + " Tonnes")
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Total Carbon Emission -
                                    @(TotalCarbonEmission + " Tonnes")

                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Emission from Transportation -
                                    @*@{
                                            var x= (Model.TotalTransportationUses);
                                            var y = string.Format("{0:n2}", x);
                                        }*@
                                    @(TotalTransportationUses + " Tonnes")

                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Average Emission per Month Per Person-
                                    @(EmployeeTotalemissionsperMonths + " Tonnes")
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Emission from Air Trips -
                                    @(TotalTrips + " Tonnes")

                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Your Annual Carbon Footprint -
                                    @Model.AnnualCarbonFootprints
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Land Needed to Plant Trees -
                                    @Model.LandNeeded
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Number of Trees Needed -
                                    @Model.NumberOfTreesNeeded
                                </h3>
                            </div>
                            @*<div class="col-md-6">
                                    <h3>
                                        Average Annual Carbon Footprint -
                                        @Model.AverageAnnualCarbonFootprints
                                    </h3>
                                </div>*@

                        </div>

                        <div id="OffsetfootprintDetail" runat="server" class="col-md-12 row doll1">
                            <div class="col-md-12 doll">
                                <h1>Offset Carbon Footprint Details</h1> <hr>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Personal Transport -
                                    @Model.PersonalTransport
                                </h3>
                            </div>

                            <div class="col-md-6">
                                <h3>
                                    Public Transport -
                                    @Model.PublicTransport
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Online Meeting instead of Air Trips -
                                    @Model.OnlineMeeting
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Instead of 1 star Opt for 5 star Appliances -
                                    @Model.FiveStarAppliances
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    I will plant no.of trees -
                                    @Model.OffsetNumberofTreesNeeded
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    I will fund to tree plantation(INR) -
                                    @Model.FundNeededtoPlantTrees
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Offset Emission from Domestic Use -
                                    @Model.OffsetEmissionfromDomesticUse
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Offset Emission from Transportation -
                                    @Model.OffsetEmissionfromTransportation
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Offset Emission from Air Trips -
                                    @Model.OffsetEmissionfromAirTrips
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Total Offset Carbon Emission -
                                    @Model.TotalOffsetCarbonEmission
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Average Carbon Offset Emission per Month per person -
                                    @Model.AverageOffsetEmissionperMonth
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Annual Carbon Offset Footprint -
                                    @Model.OffsetAnnualCarbonFootprint
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Offset Emission from Planting Trees -
                                    @Model.EmissionOffsetForTreePlantation
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Offset Emission from funding Tree Plantation -
                                    @Model.OffsetEmissionforFundingTrees
                                </h3>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 text-left my-3 f">
                @*<button onclick="printPageArea('printableArea')" class="btn btn-primary">Download</button>*@
                <button onclick="window.print()" class="btn btn-primary">Download</button>
            </div>
        </div>
    </section>
</body>
<script language="javascript" type="text/javascript">
    function printPageArea(areaID) {
        var printContent = document.getElementById(areaID).innerHTML;
        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;
        window.print();
        document.body.innerHTML = originalContent;
    }
</script>
