@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
<!DOCTYPE HTML>
<html lang="en">
   <head>
      @if(HttpContext.Current.Request.Url.Host.ToLower() == "www.adaniconnex.com")
      {
      <meta name="robots" content="index, follow">
      }
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
      <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height, user-scalable=0 ,shrink-to-fit=no" />
      
      @if (!Sitecore.Context.PageMode.IsExperienceEditor)
      {
		   @Html.Sitecore().Placeholder("head")
      }
       <!-- Latest compiled and minified JavaScript -->
      @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)   


      <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script> -->
      @Html.Sitecore().Field("CssCode", Sitecore.Context.Item)

      @* styles *@
<style>
    .hero-section .hero-content{
      top: 55%;
    }
    .text_gradient{
      font-size: 32px;
      background: rgb(255,224,181); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(255,224,181,1) 0%, rgba(255,239,217,1) 55%, rgba(218,170,119,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,224,181,1) 0%,rgba(255,239,217,1) 55%,rgba(218,170,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,224,181,1) 0%,rgba(255,239,217,1) 55%,rgba(218,170,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0b5', endColorstr='#daaa77',GradientType=1 ); /* IE6-9 */
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      padding-bottom: 15px;
      font-family: "roboto-bold";
    }
    .dr_btn_group{
      display: flex;
      display: -webkit-flex;
    }
    .dr_btn_group .dr_transparent_btn{
      color: #ffffff !important;
      border: 2px solid #ffffff;
      background: transparent !important;
      margin-right: 20px;
  }
    .dr_btn_group .dr_inverse_btn{
        color: #2e93ff !important;
        border: 2px solid #2e93ff;
        background: #ffffff !important;
    }
    .dr_btn_group .dr_inverse_btn:hover{
        color: #ffffff !important;
        background: #2e93ff !important;
    }
    .fsl_banner .dr_btn_group .dr_inverse_btn{
        border: 2px solid #ffffff;
    }
        
    .fsl_banner .dr_btn_group .dr_inverse_btn:hover{
        border: 2px solid #2e93ff;
    }
    .dr_btn_group a:not(:last-child){
        margin-right: 18px;
    }
    .voice_of_trust .h1{
      padding-bottom: 15px;
    }
    .voice_of_trust .h3{
      padding-bottom: 20px;
    }


.rectangle-copy-2 {
  background-image:url('/-/media/Project/AdaniConneX/Awards/New finalised image fs/video-section-background');
  background-size:cover;
  background-repeat:no-repeat;
}

.rectangle-copy-2 h2, .rectangle-copy-2 p{color:white;}
.sustainability-content .custom-col.left-col{width:calc(39% - 0px);}
.sustainability-content .custom-col.right-col{width:calc(64% - 30px);margin-left:-1%;}
.voice_of_trust .sustainability-content .custom-col.left-col{width:calc(40% - 0px);}
.voice_of_trust .sustainability-content .custom-col.right-col{width:calc(60% - 125px);}
.dr_our_locations{padding:40px 0;padding-bottom:0;}
.dr_our_locations .dr_locations_image p.h3{font-size:15px;font-weight:normal;font-family:'Roboto-Regular';line-height:25px; cursor:pointer;}
.dr_our_locations .dr_locations_image p.full{font-size:13px;margin:0;}
.dr_our_locations .desc{margin:10px 0 30px}
/*#user_quote_slider .slick-list{height:380px !important;}*/

#user_quote_slider .dr_locations_image {
  border-radius: 8px 0 0 8px;
  padding:10px;
}
#user_quote_slider .dr_locations_image.active{
  background-color:rgb(91,132,179);
}

.sustainability-content.user_quote_slider_con{justify-content:center;align-items:start;}
.dr_locations_image img{width:100%;border-radius:8px;}

#user_quote_slider .slick-slide .dr_locations_image {margin-bottom:7px;width:100% !important;padding:5px 10px;padding-right:30px;}
#getInTouchSection{text-align:center;padding:80px 0 80px 0;}
.user_quote_slider_con{padding-top:40px;padding-bottom:50px;} /* 40px */
.dr_our_locations .slider_heading{font-family:'Roboto-Regular';font-size:1.125rem;}
.sustainability-content .movie-holder figure{height:auto;}
.user_details_section{
    display: flex;
    align-items: center;
}
.user_details_section_inner{margin-right: 15px;}
.user_img_circle{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.user_img_circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.user_details_section_inner h5{font-size:16px;margin-bottom:5px;font-family:"roboto-bold";}
.user_details_section_inner p{font-size:13px;color:#666666;}

.voice_of_trust .voice_of_trust_paragraph{margin:15px 0 15px;}
.dr-only-mobile{display:none;}
.dr_our_locations .acc-title, .dr_our_locations .acc-title.active{color:#fff;}
.dr_our_locations .acc-title:after{border-bottom:2px solid #fff;;border-right:2px solid #fff;border-top:none;
    border-left:none;}
.dr_our_locations .acc-title.active:after{border-top: 2px solid #fff;
    border-left: 2px solid #fff;border-bottom:none;border-right:none;}
.dr_our_locations .dr-only-mobile{
    margin-top: 30px;
    padding-bottom: 30px;
}
.mobile_slider_heading{
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'roboto-regular';
    padding-top: 10px;
  }

/*.mobile_slider_para{
  padding-bottom:45px;
}*/

.mobile_tabs_slider img{width:100%;margin-bottom:22px;border-radius:15px;}
.awards-list .card-desc {
    display: block !important;
}

.popup-box .popup-content .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup-box .popup-content .close-modal i {
    color: #000000;
    font-size: 24px;
}
.locations_dec{background:transparent;}

/* OWL SLIDER*/
.owl_location_slider .data-center-list{width:100% !important;}
.owl_location_slider .custom-module-headng{margin-bottom:0;}
.double_codes{
    color: #45a8ff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    line-height: 0;
    font-weight: 700;
    padding-top: 15px;
}
.view_more_btn{
    display: none;
}
.view_more_btn a{
    background-color: #5094A7;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 2px 6px #00000029;
    position: relative;
    /* transition: all 0.5s;
    -webkit-transition: all 0.5s; */
}
.view_more_btn a:after{
    font-size: 0;
    content: '';
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    /* display: block; */
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.view_more_btn.next a{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.view_more_mobile {
    display: none;
    text-align: center;
    color:white;
    text-decoration: underline;
    padding-right: 7px;
    cursor: pointer;
}
.fsl_banner{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b60ae+0,166ba6+50,008691+100 */
    background: rgb(43,96,174); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(43,96,174,1) 0%, rgba(22,107,166,1) 50%, rgba(0,134,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(43,96,174,1) 0%,rgba(22,107,166,1) 50%,rgba(0,134,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(43,96,174,1) 0%,rgba(22,107,166,1) 50%,rgba(0,134,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b60ae', endColorstr='#008691',GradientType=0 ); /* IE6-9 */

    
}
/* .fsl_banner figure{    
    background-image: url(dr_globe_assets/img/fsl-banner-background.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.fsl_banner .golden-img{
    width: 60%;
    height: auto;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.view_extra_btn,.extra_slide{display:none;}
/*.extra_slide_desktop{display:none !important}*/

.dr_down_arrow{
    position: relative;
    width: 14px;
    height: 14px;
    display: none;
}
.dr_down_arrow:after {
    font-size: 0;
    content: '';
    content: "";
    width: 9px;
    height: 9px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.dr_down_arrow.dr_up_arrow{
    transform: rotate(180deg);
}
.dr_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding-top: 20px;
}


@@media(max-width:1440px){
    
}

@@media(max-width:1340px){
	.dr_our_locations .dr_locations_image p.h3 {
	    font-size: 15px;
	    line-height: 24px;
	}
    .dr_our_locations .dr_locations_image p.full {
        font-size: 13px;
        margin: 0;
    }
}


@@media(max-width:1300px){
	.dr_our_locations .dr_locations_image p.h3 {
	    font-size: 15px;
	    line-height: 20px;
	}
    .dr_our_locations .dr_locations_image p.full {
        font-size: 13px;
        margin: 0;
    }
}


@@media(max-width:1200px){
    .user_quote_slider_con{padding-bottom:40px;}
  
    .fsl_banner .golden-img {width: 55%;right: 2%;}

 	.dr_our_locations .dr_locations_image p.h3 {
	    font-size: 13px;
	    line-height: 16px;
	}
    .dr_our_locations .dr_locations_image p.full {
        font-size: 12px;
        margin: 0;
    }

    .locations_dec{max-height:560px;}

}


@@media(max-width:1100px){
    .user_quote_slider_con {
      display: none !important;
    }

    .dr-only-mobile {
        display: block !important;
    }
    .dr_our_locations .dr-only-mobile{
        padding-bottom: 0px;
    }


	.mobile_tabs_slider .hidden-desktop {
	     display: block !important;
	}
	/*.mobile_tabs_slider .tab-acc-content{border-bottom:solid 1px #aeafbc;}*/
	.rectangle-copy-2 {
	  background-image:url('/-/media/Project/AdaniConneX/Awards/New finalised image fs/video-mob'), url('/-/media/Project/AdaniConneX/Awards/New finalised image fs/video mob bg');
	  background-position:left top, center;
	  background-size:130%, cover;
	  background-repeat: no-repeat, no-repeat;
	}
    .dr_our_locations{
        padding-bottom: 30px;
    }
    .acc-wrp {
        border-bottom: solid 1px #aeafbc;
    }
    .dr_our_locations .dr-only-mobile{
        border-top: 1px solid #ffffff;
    }
    .acc-title{
        padding-right: 30px;
    }    
    .data-center-list li .card-desc {
        min-height: 135px;
    }
    .fsl_banner.hero-section .hero-content{
        width: 50%;
    }
    

}

@@media(max-width:1024px){
  .voice_of_trust .sustainability-content {
      padding:0px;
      justify-content: space-between;
  }
  .voice_of_trust .sustainability-content .custom-col.right-col {
      width: calc(60% - 50px);
  }

    .dr_our_locations .desc {
        margin: 0px 0 10px;
    }
    .fsl_banner.hero-section > figure + .hero-content-wrapper .hero-content {
        top: 20%;
        bottom: auto;
    }

}

@@media (max-width: 1000px){
    .voice_of_trust .sustainability-content .custom-col.left-col, .voice_of_trust .sustainability-content .custom-col.right-col{
        width: 100%;
    }
    .voice_of_trust .hero-section figure img.mobile-img {
        display: block;
        /* width:75%; */
    }
    .voice_of_trust .hero-section figure img.desktop-img{
        display: none;
    }
    .fsl_banner .golden-img {
        width: 58%;
        right: -2%;
    }
    .dr_our_locations{
        padding-bottom: 50px;
    }
    .data-center-list li .card-desc {
        min-height: 93px;
    }


}

@@media (max-width: 850px){
    .voice_of_trust .hero-section figure img.mobile-img {
        width:100%;
    }
    .fsl_banner.hero-section .hero-content {
        width: 60%;
    }
    .hero-section .hero-heading {
        font-size: 1.9rem;
        line-height: 1.5;
    }
    .text_gradient {
        font-size: 24px;
    }

}


@@media(max-width:767px){
    .voice_of_trust .sustainability-content .custom-col.left-col,.voice_of_trust .sustainability-content .custom-col.right-col {
      width:100%;
      margin:0 auto;
    }
    .sustainability-content .movie-holder figure{
        margin: 0 auto;
        height:400px;
    }

    .sustainability-content .movie-holder figure img{object-fit:contain;}

    .sustainability-content .custom-col.right-col{margin-bottom:16px;}
    .text_gradient{
      font-size: 20px;
      padding-bottom: 15px;
    }
    .fsl_banner.hero-section .hero-heading {
        font-size: 1.7rem;
        line-height: 1.3;
        font-weight: 500;
        font-family: "roboto-regular";
        color: #ffffff;
        padding: 0 10px;
    }
    .fsl_banner.hero-section .hero-heading br{
        display: none;
    }
    .voice_of_trust .dr_btn_group {
        display: block;
        text-align: center;
    }
    .voice_of_trust .dr_btn_group a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .voice_of_trust .dr_btn_group a{
        width: 100%;
        text-align: center;
        display:block;
        /* margin-left: auto;
        margin-right: auto!important; */
    }
    .dr_our_locations {
        padding: 30px 0px;
    }
    #getInTouchSection {
        padding: 50px 0 50px 0;
    }
    .fsl_banner .hero-content{
        text-align: center;
    }
    .fsl_banner .dr_btn_group {
        justify-content: center;
    }
    .mobile_tabs_slider .hidden-desktop {
        display: block !important;
        font-size: 0.95rem;
        padding-bottom: 0;
    }
    .dr_our_locations .desc{
        font-size: 0.8rem;
    }
    .fsl_banner.hero-section .hero-content-wrapper .breadcrumb {
        top: 20px;
    }
    .fsl_banner.hero-section > figure + .hero-content-wrapper .hero-content {
        top: inherit;
        bottom: 6%;
    }
    .acc-wrp.active{
        border-bottom: solid 1px #aeafbc;
    }
    .fsl_banner.hero-section > figure + .hero-content-wrapper .hero-content {
        width: 100%;
        max-width: 365px;
        margin: auto;
        right: 0;
    }
    .fsl_banner.hero-section > figure {
        height: 680px;
        width: 100%;
    }
    .fsl_banner.hero-section .hero-desc{
        padding: 0 15px;
        font-size: 16px;
    }
    .fsl_banner{
        padding: 60px 15px 30px;
    }
    .fsl_banner .golden-img {
        max-width: 568px;
        width: 100%;
        right: 0;
        left: 0;
        margin: auto;
        top: 26%;
    }
    .fsl_banner {
        padding: 0;
    }
    .fsl_banner.hero-section .hero-content{
        left: 0;
        padding: 0 15px;
    }
    .fsl_banner.hero-section figure img.mobile-img {
        display: block;
    }
    .fsl_banner.hero-section figure img.desktop-img {
        display: none;
    }


}

@@media (max-width: 663px){

}

@@media(max-width:576px){
    .voice_of_trust .sustainability-content{padding:0px;}
    .mobile_slider_heading {
        font-size: 1rem;
        font-weight: normal;
        font-family: 'roboto-regular';
        line-height: 25px;
    }
    .fsl_banner.hero-section > figure {
        height: 650px;
    }

}
@@media(max-width:480px){
.sustainability-content .movie-holder figure{
  width:100%;height:auto;
}
/*.tab-acc-content .sustainability-wrapper{height:320px;}*/
.mobile_slider_para{padding-bottom:0;}
.popup-content{overflow-y:scroll;}

#ContactUsrecaptcha{
  transform: scale(0.9) !important;
  transform-origin: left;
}


    .tab-acc-content .sustainability-wrapper{min-height:auto;}
    .data-center-list li .card-desc {
        min-height: 145px;
    }    
    .fsl_banner.hero-section > figure {
        height: 600px;
    }
    .fsl_banner .golden-img{
        top: 26%;
    }


}


@@media(max-width:374px){
    .hero-section .hero-desc {
        font-size: 0.9rem;
        line-height: 22px;
    }

    .data-center-list li .card-desc {
        min-height: 171px;
    }
    .fsl_banner.hero-section > figure {
        height: 570px;
    }


    

}
  </style>
      @* styles end *@
		
     @Html.Sitecore().Field("HeadGTMTag", Sitecore.Context.Item)

   </head>

   <body data-page="home">
      
      @Html.Sitecore().Field("BodyGTMTag", Sitecore.Context.Item)

      <div class="full careers_page">
         

         @Html.Partial("/Views/AdaniConneX/Sublayouts/AdaniConnexContactStickyTab.cshtml")
       
         @Html.Sitecore().Placeholder("header")
         
         @Html.Sitecore().Placeholder("page-layout")

         @Html.Sitecore().Placeholder("footer")

         <button type="button" class="btn-scroll-top">
            <span></span>
         </button>

       </div>

   
      
        @Html.Sitecore().Field("PageScripts", Sitecore.Context.Item)

   </body>
</html>