@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
<!DOCTYPE HTML>
<html lang="en">
   <head>
      @if(HttpContext.Current.Request.Url.Host.ToLower() == "www.adaniconnex.com")
      {
      <meta name="robots" content="index, follow">
      }
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
      <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height, user-scalable=0 ,shrink-to-fit=no" />
      
      @if (!Sitecore.Context.PageMode.IsExperienceEditor)
      {
		   @Html.Sitecore().Placeholder("head")
      }
       <!-- Latest compiled and minified JavaScript -->
      @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)    
      <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
      @Html.Sitecore().Field("CssCode", Sitecore.Context.Item)

		
     @Html.Sitecore().Field("HeadGTMTag", Sitecore.Context.Item)

   </head>

   <body data-page="home">
      
      @Html.Sitecore().Field("BodyGTMTag", Sitecore.Context.Item)

      <div class="full careers_page">
         

         @Html.Partial("/Views/AdaniConneX/Sublayouts/AdaniConnexContactStickyTab.cshtml")
       
         @Html.Sitecore().Placeholder("header")
         
         @Html.Sitecore().Placeholder("page-layout")

         @Html.Sitecore().Placeholder("footer")

         <button type="button" class="btn-scroll-top">
            <span></span>
         </button>

       </div>

   
      
        @Html.Sitecore().Field("PageScripts", Sitecore.Context.Item)

   </body>
</html>