@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel

<!DOCTYPE HTML>
<html lang="en">
<head>
    @if (HttpContext.Current.Request.Url.Host.ToLower() == "www.adaniconnex.com")
    {
        <meta name="robots" content="index, follow">
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height, user-scalable=0 ,shrink-to-fit=no" />

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    @* <link href="/styles/AdaniConneX/style.css" rel="stylesheet" /> *@
    <link href="/styles/AdaniConneX/master.css" rel="stylesheet" />
    <link href="/styles/AdaniConneX/home.css" rel="stylesheet" />
    <link href="/styles/AdaniConneX/slick.css" rel="stylesheet" type="text/css" />
    <link href="/styles/AdaniConneX/slick-theme.css" rel="stylesheet" type="text/css" />
    <link href="/styles/AdaniConneX/growth-stories.css" rel="stylesheet" type="text/css" />

    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T98BGFV');</script>
    <!-- End Google Tag Manager -->


</head>
<body data-page="home">
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-T98BGFV height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <div class="full growth_stories_page">
@Html.Partial("/Views/AdaniConneX/Sublayouts/AdaniConnexContactStickyTab.cshtml")

        @Html.Sitecore().Placeholder("header")

        @Html.Sitecore().Placeholder("page-layout")

        @Html.Sitecore().Placeholder("footer")

        <button type="button" class="btn-scroll-top">
            <span></span>
        </button>

    </div>

    <script src="/scripts/AdaniConneX/Careers/index.min.js" async=""></script>
    <script src="/scripts/AdaniConneX/jquery.min.js"></script>
    <script src="/scripts/AdaniConneX/owl.carousel.min.js"></script>
    <script src="/scripts/AdaniConneX/master.js"></script>
    <script src="/scripts/AdaniConneX/contactForm.js"></script>
    <script src="/scripts/AdaniConneX/three.min.js"></script>
    <script src="/scripts/AdaniConneX/plugins/locations.js"></script>
    <script src="/scripts/AdaniConneX/bundle/pages/sustainability.js"></script>

    <script type="text/javascript" src="/scripts/AdaniConneX/slick.min.js"></script>


    <script>

        $(document).ready(function () {
            $(".uploadCvPopupAction").on('click', function () {
                $('#uploadCvPopup').toggleClass('show');
            });

            $("#cvfileInput").on('click', function () {
                $("#cvfile").trigger("click");
            });

            $("#cvfile").on("change", function () {
                $(".uploadCvFileSize").css("color", "rgba(0,0,0,.5)");
                if ($(this).val()) {
                    if (this.files[0].size < 5000000) {
                        $("#cvfileInput").addClass("filled")
                        $("#cvfileInput").val($(this).val().replace(/.*(\/|\\)/, ''));
                        $(".removeCvFile").attr("src", "dr_globe_assets/img/remove_cv.png");
                    }
                    else {
                        $(".uploadCvFileSize").css("color", "red");
                    }
                }
            });

            $("#uploadcvform").click(function (e) {
                alert("Upload CV Logic");
            });


            $(".removeCvFile").on("click", function () {
                $("#cvfileInput").removeClass("filled")
                $("#cvfileInput").val("");
                $(".removeCvFile").attr("src", "dr_globe_assets/img/upload.png");
            });

            $('#dr_esg_slider').owlCarousel({
                items: 1,
                nav: false,
                dots: true,
                // mouseDrag: true,
                loop: true,
                autoplay: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    767: {
                        items: 1,
                    }
                }
            });

            $('#dr_life_slider').slick({
                dots: true,
                infinite: true,
                speed: 300,
                arrows: false,
                slidesToShow: 2,
                autoplay: true,
                loop: true,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });

            $('#dr_career_slider').slick({
                slidesToShow: 1,
                autoplay: true,
                slidesToScroll: 1,
                arrows: true,
                fade: false,
                asNavFor: '#dr_career_text'
            });
            $('#dr_career_text').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                asNavFor: '#dr_career_slider',
                dots: false,
                arrows: false,
                fade: true,
            });
            $('#dr_values_slider').owlCarousel({
                items: 3,
                nav: false,
                dots: true,
                // mouseDrag: true,
                loop: true,
                autoplay: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1.15,
                    },
                    767: {
                        items: 1.6,
                    },
                    992: {
                        items: 3,
                    }
                }
            });

            $('#dr_unique_slider').owlCarousel({
                items: 3,
                nav: false,
                dots: true,
                // mouseDrag: true,
                loop: true,
                autoplay: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1.15,
                    },
                    767: {
                        items: 1.6,
                        dots: true,
                    },
                    992: {
                        items: 3,
                    }
                }
            });

            $('.dr_hide_div .close-modal').on('click', function () {
                $('.dr_hide_div').removeClass('dr_open');
            });

            $('.dr_btn_click').on('click', function () {
                $(this).parents().find('.dr_hide_div').addClass('dr_open');
                $(this).parents().siblings('.owl-item').find('.dr_hide_div').removeClass('dr_open');
            });

            $(".dr_locations_icon li").on('click', function () {
                $(".dr_locations_image, .dr_locations_icon li").removeClass("active");
                $(this).addClass("active");
                $(".dr_our_locations .full ." + $(this).attr('data-href')).addClass("active");
            });


        });
    </script>
</body>
</html>