@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel



<!DOCTYPE HTML>
<html lang="en">
<head>
    @*<title>Welcome to AdaniConneX</title>*@
    @if (HttpContext.Current.Request.Url.Host.ToLower() == "www.adaniconnex.com")
    {
        <meta name="robots" content="index, follow">
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height, user-scalable=0 ,shrink-to-fit=no" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles()

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P4B934N');</script>
    <!-- End Google Tag Manager -->
</head>
<body data-page="home">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-P4B934N
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>



    <div class="full">
        @*Contact us*@
        @Html.Partial("/Views/AdaniConneX/Sublayouts/AdaniConnexContactStickyTab.cshtml")
        @*Notification*@
        @Html.Sitecore().Placeholder("header-notification")
        @*Header*@
        @Html.Sitecore().Placeholder("header")

        @*Banner Carousel Section*@
        @Html.Sitecore().Placeholder("page-layout")
        @*About Adani Connex*@
        @*Adani Connex Home Page Tabs*@
        @*Our Partners*@
        @*Sustainability*@
        @*News & awards*@
        @*Blogs*@
        @*Footer*@
        @Html.Sitecore().Placeholder("footer")

        <button type="button" class="btn-scroll-top">

            <span></span>

        </button>
    </div>



    @Html.Sitecore().Placeholder("page-sidebar")

    <script src="https://unpkg.com/&#64;googlemaps/markerclusterer/dist/index.min.js" async></script>
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
    @Html.Sitecore().Field("PageScripts", Sitecore.Context.Item)
    <script src="/scripts/AdaniConneX/google-maps-loc.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsR-EYCAtVMZPjRP4hecr4plzhaSLkKQc&callback=initMap&libraries=&v=weekly" async></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxT_uGO3frdXIOjSRotDWzUzCMitoBs80&callback=initMap&libraries=&v=weekly" async></script> -->
    @*<script src="/assets/connex/colocation.js"></script>*@


</body>
</html>
