@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.BAU.Transmission.Foundation.SitecoreHelper.Platform.Helper
@using Adani.BAU.Transmission.Feature.Media.Platform
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelepr = new Helper();
}
@if (currentItem != null)
{
    <div class="internal-service pt-wrap baggageCard">
        <div class="container">
            @foreach (Item LeftImage in currentItem.Children)
            {
                //string autoId = string.Empty;
                //autoId = @Html.Sitecore().Field("AutoId", LeftImage).ToString();
                @Html.Sitecore().BeginField("Link", LeftImage, new { haschildren = true, @class = "wrapper-box align-items-center zoomEffect", @auto_id = @Html.Sitecore().Field("AutoId", LeftImage) })
                <div class="img-wrap">
                    <figure>
                        @Html.Sitecore().Field("Image", LeftImage, new { @alt = "Anniversary", @class = "img-fluid" })
                    </figure>
                </div>
                <div class="content-Box">
                    <div class="card-body">
                        <h3 class="card-title">
                            @Html.Sitecore().Field("Title", LeftImage) @if (@Html.Sitecore().Field("Title", LeftImage).ToString() == "Get Rewarded every time")
                            {
                                <span class="tag-coming-soon ms-2">COMING SOON</span>
                            }
                        </h3>
                        <p class="card-text vertical_ellipsis">
                            @Html.Sitecore().Field("Description", LeftImage)
                        </p>
                        <span class="black_link">
                            @linkHelepr.GetLinkText(LeftImage, "Link")
                        </span>
                    </div>
                </div>
                @Html.Sitecore().EndField()
            }
        </div>
    </div>
}
