@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string containerClass = !string.IsNullOrEmpty(RenderingContext.Current.Rendering.Parameters["containerclass"]) ? RenderingContext.Current.Rendering.Parameters["containerclass"] : string.Empty;
}

<section class="@containerClass mapAndDirection pt-wrap">
    <div class="container">
        <h3>@Html.Sitecore().Field("__Short description", currentItem)</h3>
    </div>
    <div class="imgWrap">
        @Html.Sitecore().Field("Image", currentItem)
        <div class="container">
            <div class="mapContaint">
                <h4>@Html.Sitecore().Field("Title", currentItem)</h4>
                <p>
                    @Html.Sitecore().Field("RichText", currentItem)
                </p>
                @Html.Sitecore().Field("Link", currentItem)
            </div>
        </div>
    </div>
</section>