@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <div class="internal-service adani-rewards pt-wrap">
        <div class="container">
            <div class="rewardEntryBanner">
                <video class="rewarBannerDesktop" loop muted controls="false" autoPlay>
                    <source src="../../assets/airport/images/mumbai-airport/rewardsBanner.mp4" type="video/mp4" />
                </video>
                <video class="rewardBannerMobile" loop muted controls="false" autoPlay>
                    <source src="../../assets/airport/images/mumbai-airport/rewardsBannerMobile.mp4" type="video/mp4" />
                </video>
                <div class="rewardBannerText">
                    <div class="rewardLogoBanner">
                        @Html.Sitecore().Field("Image", new { @alt = "" })
                        <p>@Html.Sitecore().Field("Description", currentItem)</p>
                        <ul class="rewardsPoints">
                            <li>@Html.Sitecore().Field("Title", currentItem)</li>
                            <li>@Html.Sitecore().Field("textColor", currentItem)</li>
                        </ul>
                        @Html.Sitecore().Field("Link", currentItem,new { @class= "ExploreBtn", @auto_id = @Html.Sitecore().Field("AutoId", currentItem) })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
