@model Project.Mining.Website.Models.DiscoverMiningBrochureModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
}
@if (Model != null)
{
    <section class="our-projects position-relative section-padding main-skeleton skeleton">
        <div class="container">
            <div class="project-scroll">
                <div class="item">
                    <div class="section-flex">
                        <h3 class="show-mob mt-4">
                            <span class="mob-span hide-text">@Model.Heading</span>
                        </h3>
                        <div class="accreditation-img prj-img m-40 discover">
                            @if (Model.Image != null)
                            {
                                <img src="@Model.Image.Src" class="bor-radius" alt="@Model.Image.Alt">
                            }
                        </div>
                        <div class="accreditation-info">
                            <div class="section-info mt-3 mt-md-0">
                                <h3 class="show-large"><span class="hide-text">@Model.Heading</span></h3>
                                <p class="para-margin show-large hide-text">@Html.Raw(Model.Description)</p>
                                <p class="show-mob para-margin mob-para-6 hide-text">@Html.Raw(Model.Description)</p>
								<a class="read-link show-mob read-more-6 hide-text">@Model.CTAText</a>
                                @if (Model.CTALink != null)
                                {
                                    if (string.IsNullOrEmpty(Model.CTALink.Url))
                                    {
                                        _linkurl = "javascript:void(0)";
                                    }
                                    else
                                    {
                                        _linkurl = Model.CTALink.Url;
                                    }
                                    _linktarget = Model.CTALink.Target;
                                    _linktext = Model.CTALink.Text;
                                }
                                else
                                {
                                    _linkurl = "javascript:void(0)";
                                    _linktarget = string.Empty;
                                    _linktext = string.Empty;
                                }
                                <!-- <a class="read-link show-mob read-more-6">@Model.CTAText</a> -->
                                @if (Model.CTALink != null && Model.CtaImage != null)
                                {                                   
                                    <a href="javascript:void(0)" Target="@_linktarget" class="section-btn-exp-prj m-40 download-m-web analytics-tags hide-text" id="discover-download-btn" type="button" onclick="openNav('brochureFormModal')">
                                    <img src="@Model.CtaImage.Src" alt="download-pdf" class="download-pdf">@_linktext
                                    <meta name="Event" content="Discover More">
                                    <meta name="Banner_Category" content="">
                                    <meta name="Category" content="mining">
                                    <meta name="Sub_category" content="our_mining_services_brochure">
                                    <meta name="Label" content="Download Brochure">
                                    <meta name="Index" content="">
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}