@model Project.Mining.Website.Models.Common.FooterServiceModel
@{
    var SocialList = Model.MainNavigations.LastOrDefault();
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
}

@if (Model != null)
{
    <footer class="main-skeleton skeleton">
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    @if (Model.Image != null)
                    {
                        <img src="@Model.Image.Src" alt="@Model.Image.Alt" />
                    }
                </div>
                <div class="footer-nav-wrap">
                    <div class="row">
                        <div class="col-md-9 f-nav">
                            <ul>
                                @if (Model.MainNavigations != null)
                                {

                                    foreach (var parent in Model.MainNavigations.ToList().GetRange(0, Model.MainNavigations.ToList().Count - 1))
                                    {
                                        <li class="f-nav-column">
                                            @if (parent.Items != null)
                                            {
                                                <a class="hide-text">@parent.Heading</a>
                                                <ul>
                                                    @foreach (var child in parent.Items)
                                                    {
                                                        if (child.Link != null)
                                                        {
                                                            if (string.IsNullOrEmpty(child.Link.Url))
                                                            {
                                                                _linkurl = "javascript:void(0)";
                                                            }
                                                            else
                                                            {
                                                                _linkurl = child.Link.Url;
                                                            }
                                                            _linktarget = child.Link.Target;
                                                            _linktext = child.Link.Text;
                                                        }
                                                        else
                                                        {
                                                            _linkurl = "javascript:void(0)";
                                                            _linktarget = string.Empty;
                                                            _linktext = string.Empty;
                                                        }
                                                        <li>
                                                            <a href="@_linkurl" class="analytics-tags hide-text" target="@_linktarget">
                                                                @_linktext

                                                                <meta name="Event" content="@child.Event">
                                                                <meta name="Category" content="@child.Category">
                                                                <meta name="Event" content="@child.Event">
                                                                <meta name="Category" content="@child.Category">
                                                                <meta name="Banner_Category" content="@child.Banner_Category">
                                                                <meta name="Sub_category" content="@child.Sub_category">
                                                                <meta name="Label" content="@child.Label">
                                                                <meta name="Index" content="@child.Index">
                                                            </a>
                                                        </li>

                                                    }

                                                </ul>

                                            }

                                        </li>



                                    }

                                }
                            </ul>
                        </div>
                        @if (SocialList != null)
                        {
                            <div class="col-md-3 f-social">
                                <h3 class="show-on-large mt-3 mt-lg-0 hide-text">@SocialList.Heading</h3>
                                <ul>
                                    @if (SocialList.Items != null)
                                    {
                                        foreach (var child in SocialList.Items)
                                        {
                                            if (child.Link != null)
                                            {
                                                if (string.IsNullOrEmpty(child.Link.Url))
                                                {
                                                    _linkurl = "javascript:void(0)";
                                                }
                                                else
                                                {
                                                    _linkurl = child.Link.Url;
                                                }
                                                _linktarget = child.Link.Target;
                                                _linktext = child.Link.Text;
                                            }
                                            else
                                            {
                                                _linkurl = "javascript:void(0)";
                                                _linktarget = string.Empty;
                                                _linktext = string.Empty;
                                            }
                                            <li class="logo-analytics-tags f-social-li">
                                                <a href="@_linkurl" target="@_linktarget" rel="noopener noreferrer">
                                                    @if (child.Image != null)
                                                    {
                                                        <img src="@child.Image.Src" alt="@child.Image.Alt">
                                                    }
                                                </a>
                                                <meta name="Event" content="@child.Event">
                                                <meta name="Category" content="@child.Category">
                                                <meta name="Event" content="@child.Event">
                                                <meta name="Category" content="@child.Category">
                                                <meta name="Banner_Category" content="@child.Banner_Category">
                                                <meta name="Sub_category" content="@child.Sub_category">
                                                <meta name="Label" content="@child.Label">
                                                <meta name="Index" content="@child.Index">
                                            </li>


                                        }
                                    }
                                </ul>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p class="hide-text">@Model.Copyright</p>
                </div>
            </div>
        </div>

    </footer>
}