@model  Project.Mining.Website.Models.Common.HeaderModelNew



@{
    var topbarlist = Model.TopbarList.ToList();
    int parentcount = 1;
    string parentClass = "hamburger-ul";
    string Headingclass = "headline";
	int count = 0;
}



@if (Model != null)
{
    <div class="header-wrapper">
        <div class="top-header show-large main-skeleton skeleton">
            <div class="container-1">
                @if (topbarlist != null)
                {
                    <a href="javascript:void(0)" class="show-large analytics-tags top-header-icon" type="button" id="dwnldbrochurebtn" onclick="openNav('brochureFormModal')">
                        <img src="/-/media/Project/Mining/Desktop/Homepage/Icons/download.svg" alt="download-icon" class="download-icon">
                        <span class="hide-text"> Download Brochure</span>
						<meta name="Event" content="brochure_download">
                        <meta name="Banner_Category" content="">
                        <meta name="Category" content="mining">
                        <meta name="Sub_category" content="our_mining_services_brochure">
                        <meta name="Label" content="download_brochure">
                        <meta name="Index" content="">
                    </a>
                    foreach (var child in topbarlist)
                    {
                        <a href="@child.Link.Url" target="@child.Link.Target" class="analytics-tags top-header-icon">
                            <img src="@child.LinkIcon" alt="phone-icon" class="phone-icon">
                            <span class="hide-text">@child.Link.Text</span>
                        
						<meta name="Event" content="@child.Event">
						<meta name="Category" content="@child.Category">
						<meta name="Banner_Category" content="@child.Banner_Category">
						<meta name="Sub_category" content="@child.Sub_category">
						<meta name="Label" content="@child.Label">
						<meta name="Index" content="@child.Index">
                        </a>

                    }



                }
            </div>
        </div>
        <header class="header transparent main-skeleton skeleton">
            <div class="container-1">



                <div class="row">
                    <div class="col-md-3 logo-section">
                        <div class="mobile-trigger analytics-tags hide-text">
							<meta name="Event" content="hamburger_click">
                            <meta name="Category" content="mining">
                            <meta name="Banner_Category" content="banner_category">
                            <meta name="Sub_category" content="navigation_interaction">                       
                            <meta name="Label" content="hamburger_logo_click">
                            <meta name="Index" content="">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="logo-area">
                             <a href="@Model.BuLink.Url" class="logo-analytics-tags">
                                <meta name="Event" content="@Model.Event">
                                <meta name="Banner_Category" content="@Model.Banner_Category">
                                <meta name="Category" content="@Model.Category">
                                <meta name="Sub_category" content="@Model.Sub_category">
                                <meta name="Label" content="@Model.Label">
                                <meta name="Index" content="@Model.Index">
                                <img src="@Model.Logo.Src" alt="@Model.BuLogoAltText" class="logo green-logo" />

                            </a>
                        </div>
                         <a href="javascript:void(0)" class="mob-cta hide-text" type="button" id="mobnav-last-btn" onclick="openNav('enquiryFormModal')">Enquiry</a> 
                    </div>
                    <div class="col-md-9 header-nav">
                        <div class="menu-section">
                            <ul>
                                @if (Model.NavData != null)
                                {
                                    foreach (var nav in Model.NavData)
                                    {
                                       <li class="@nav.Class analytics-tags">
                                            <a href="@nav.Link.Url" Class="hide-text">
                                                @nav.LinkText
                                                <meta name="Event" content="@nav.Event">
                                                <meta name="Category" content="@nav.Category">
                                                <meta name="Banner_Category" content="@nav.Banner_Category">
                                                <meta name="Sub_category" content="@nav.Sub_category">            
                                                <meta name="Label" content="@nav.Label">
                                                <meta name="Index" content="@nav.Index">
                                            </a>
                                        </li>
                                    }
                                    <li class="menu-last-link hide-text">
                                        <a href="javascript:void(0)" class="analytics-tags" type="button" id="nav-last-btn" onclick="openNav('enquiryFormModal')">Enquiry
										<meta name="Event" content="enquiry_click">
										<meta name="Category" content="mining">
										<meta name="Banner_Category" content="">
										<meta name="Sub_category" content="navigation_interaction">	
										<meta name="Label" content="Enquire now">
										<meta name="Index" content="top_navigation">
										</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-navigation">



                <div class="offcanvas-body offcanvas-menu-toggle">
                    <div class="hamburger_section">
                        @if (Model.HamburgerList != null)
                        {
                            foreach (var item in Model.HamburgerList)
                            {



                                if (item.HamburgerMainNavigation != null)
                                {
                                    if (parentcount > 1)
                                    {
                                        Headingclass = Headingclass + "-next";
                                        parentClass = parentClass + "-next";
                                    }
                                    <h5 class="@Headingclass">@item.Heading</h5>
                                    <ul class="@parentClass">
                                        @foreach (var parent in item.HamburgerMainNavigation)
                                        {
                                            parentcount++;
                                            if (parent != null)
                                            {
                                                var subMenu = parent.HamburgerSubNavigation.ToList();



                                                if (subMenu.Count == 0)
                                                {
                                                    <li class="itemList">
                                                        <a href="@parent.Link.Url" class="menu_item ripple analytics-tags">
                                                            <span class="icon_box"><i class="font-icons @parent.CtaClass"></i></span>
                                                            <label itemprop="name">@parent.Heading</label>
															<meta name="Event" content="@parent.Event">
                                                            <meta name="Category" content="@parent.Category">
                                                            <meta name="Banner_Category" content="@parent.Banner_Category">
                                                            <meta name="Sub_category" content="@parent.Sub_category">
                                                            <meta name="Label" content="@parent.Label">
                                                            <meta name="Index" content="@parent.Index">
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {													
                                                    <li class="hamb-slide url">
                                                        <a href="@parent.Link.Url" class="menu_item analytics-tags ripple">
                                                            <span class="icon_box"><i class="font-icons @parent.CtaClass"></i></span>
                                                            <label itemprop="name">@parent.Heading</label>
                                                            <i class="font-icons icon-arrow-down icon"></i>
															<meta name="Event" content="@parent.Event">
                                                            <meta name="Category" content="@parent.Category">
                                                            <meta name="Banner_Category" content="@parent.Banner_Category">
                                                            <meta name="Sub_category" content="@parent.Sub_category">
                                                            <meta name="Label" content="@parent.Label">
                                                            <meta name="Index" content="@parent.Index">
                                                        </a>
                                                        <ul class="hide-service submenu submenu-last">
                                                            @foreach (var child in parent.HamburgerSubNavigation.Take(4))
                                                            {
																var dataTargetWeb = "offcanvasServiceRight" + count;
																var dataTargetMob = "offcanvasServiceBottom" + count;
                                                                <li>
                                                                    <a href="@child.Link.Url" class="menu_item @child.CtaClass ripple">
                                                                        @child.Heading
                                                                    </a>
                                                                </li>
                                                            }
                                                            @if (subMenu.Count > 4)
                                                            {
                                                                <li><a href="@parent.Link.Url" class="menu_item ripple">View All</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                }
                            }
                        }
                    </div>
                    <ul class="hamburger-logo-inside">
                        <li class="itemList last-item-logo">
                            <a href="@Model.BuLink.Url" class="menu_item">
                                <img src="@Model.Logo.Src" alt="@Model.BuLogoAltText" class="logo">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="overLay"></div>

             <div id="enquiryFormModal" class="sidenav">
				<div class="overlay" id="overlay"></div>
				<div class="content">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)">&times;</a>
					 <div class="off-title">
                        <h2 class="analytic-title">Enquiry</h2>
                    </div>
                    <div class="off-info">
                        <p class="mb-3">
                            If you have any query, feedback, or complaint, fill in the form below.
                        </p>
                    </div>
					<div  class="enquiry-form order-lg-2 order-1">
					@Html.Sitecore().Placeholder("enquiryform")
					</div>
				</div>
			</div>
            
			 <div id="brochureFormModal" class="sidenav">
				<div class="overlay" id="overlay"></div>
				<div class="content">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)">&times;</a>
					 <div class="off-title">
                        <h2 class="analytic-title">Download Brochure</h2>
                    </div>
                    <div class="off-info">
                        <p class="mb-3">
                           Fill in your details to view the brochure.
                        </p>
                    </div>
					<div  class="enquiry-form order-lg-2 order-1">
					@Html.Sitecore().Placeholder("downloadform")
					</div>
					
				</div>

			</div>

        </header>
    </div>
}