@model Project.Mining.Website.Models.BannerModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
}
@if (Model != null)
{

    if (Model.MainBannerData != null)
    {
       
        <div class="cm-home main-skeleton skeleton">
            <div class="carousel">
                @foreach (var child in Model.MainBannerData)
                {
                  
                    <div class="slide-container">
                        @if (child.Image != null)
                        {
                            <img src="@child.Image.Src" alt="@child.Image.Alt" class="desk-img">
                        }
                        @if (child.MobileImage != null)
                        {
                            <img src="@child.MobileImage.Src" alt="@child.MobileImage.Alt" class="mob-img">
                        }
                        @if (child.TabletImage != null)
                        {
                            <img src="@child.TabletImage.Src" alt="@child.TabletImage.Alt" class="tab-img">
                        }

                    <div class="slider-content">
                        <h4 class="hide-text">@child.Heading </h4>
                        <h3>
                            <span class="hide-text">@child.SubHeading</span>
                        </h3>
                        @Html.Raw(child.Description)
                        @if (child.CTALink != null)
                        {
                            if (string.IsNullOrEmpty(child.CTALink.Url))
                            {
                                _linkurl = "javascript:void(0)";
                            }
                            else
                            {
                                _linkurl = child.CTALink.Url;
                            }
                            _linktarget = child.CTALink.Target;
                            _linktext = child.CTALink.Text;
                        }
                        else
                        {
                            _linkurl = "javascript:void(0)";
                            _linktarget = string.Empty;
                            _linktext = string.Empty;
                        }
                        @if (child.CTALink != null)
                        {
                            <a href="@_linkurl" target="@_linktarget" class="carousel-btn analytics-tags hide-text">
                                @_linktext

                                <meta name="Event" content="@child.Event">
                                <meta name="Category" content="@child.Category">
                                <meta name="Banner_Category" content="@child.Banner_Category">
                                <meta name="Sub_category" content="@child.Sub_category">
                                <meta name="Page_type" content="@child.Page_type">
                                <meta name="Label" content="@child.Label">
                                <meta name="Index" content="@child.Index">


                            </a>
                        }
                    </div>
                    </div>
                }
            </div>
        </div>
    }
}