@model Project.Mining.Website.Models.OurAccreditationModel
@{
    int Count = 1;
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var _class = string.Empty;
    if (Model.CTALink != null)
    {
        if (string.IsNullOrEmpty(Model.CTALink.Url))
        {
            _linkurl = "javascript:void(0)";
        }
        else
        {
            _linkurl = Model.CTALink.Url;
        }
        _linktarget = Model.CTALink.Target;
        _linktext = Model.CTALink.Text;
        _class = Model.Class;
    }
    else
    {
        _linkurl = "javascript:void(0)";
        _linktarget = string.Empty;
        _linktext = string.Empty;
        _class = string.Empty;
    }
}

@if (Model != null)
{
    <div class="@Model.Class main-skeleton skeleton">
        <div class="container">
            <div class="section-flex">
                <div class="accreditation-info">
                    <div class="section-info">
                        <h4 class="show-large hide-text">@Model.Heading</h4>
                        <h3 class="show-large">
                            <span Class="hide-text">@Model.SubHeading</span>
                        </h3>
                        <h4 class="show-mob hide-text">@Model.Heading </h4>
                        <h3 class="show-mob">
                            <span class="hide-text">@Model.SubHeading</span>
                        </h3>
                        <p class="para-margin show-mob mob-para-1 hide-text"> @Html.Raw(Model.Description)</p>
                        <a class="read-link show-mob read-more-1 hide-text">@Model.CTALink.Text</a>
                        @if (Model.CTALink != null)
                        {
                            foreach (var child in Model.LogoImages)
                            {

                                if (child.CTALink != null)
                                {
                                    <a href="@child.CTALink.Url" Target="_blank" class="acc-download show-mob" type="button">
                                        <span Class="hide-text">@child.CTALink.Text</span>
                                    </a>
                                }

                                else
                                {
                                    break;
                                }

                            }
                        }
                        <div class="d-flex-web">
                            @if (Model.LogoImages != null)
                            {
                                foreach (var child in Model.LogoImages)
                                {
                                    if (Count < 3)
                                    {
                                        if (child.Image != null)
                                        {
                                            <img src="@child.Image.Src" alt="@child.Image.Alt" class="show-mob acc-img ">
                                        }
                                    }
                                    else
                                    {
                                        break;
                                    }

                                }
                            }
                        </div>

                        <p class="para-margin show-large hide-text">@Html.Raw(Model.Description)</p>
                        @if (Model.CTALink != null)
                        {
                            foreach (var child in Model.LogoImages)
                            {

                                if (child.CTALink != null)
                                {
                                    <a href="@child.CTALink.Url" Target="_blank" class="acc-download show-large download-submit-btn" type="button">
                                        <span class="hide-text">@child.CTALink.Text</span>
                                    </a>
                                }

                                else
                                {
                                    break;
                                }

                            }
                        }
                    </div>

                </div>
                <div class="accreditation-img">
                    <div class="acc-img-flex">
                        @if (Model.LogoImages != null)
                        {
                            foreach (var child in Model.LogoImages)
                            {
                                if (Count < 3)
                                {
                                    if (child.Image != null)
                                    {
                                        <img src="@child.Image.Src" alt="@child.Image.Alt" class="show-large">
                                    }
                                }
                                else
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}