@model Project.Mining.Website.Models.BreadcrumbModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
}
@if (Model.breadcrumbData != null)
{
    <div class="page privacy-brd">
        <div class="web-bredcrumb w-100 d-none d-md-block container main-skeleton skeleton">
            <ul class="breadcrumb privacy-policy">
                @foreach (var child in Model.breadcrumbData)
                {
                     if (child.CTALink != null)
                {
                    if (string.IsNullOrEmpty(child.CTALink.Url))
                    {
                        _linkurl = "javascript:void(0)";
                        _linktarget = child.CTALink.Target;
                        _linktext = child.CTALink.Text;
                        <li class="@child.Class hide-text">@_linktext</li>
                    }
                    else
                    {
                        _linkurl = child.CTALink.Url;
                        _linktarget = child.CTALink.Target;
                        _linktext = child.CTALink.Text;
                        <li class="@child.Class hide-text"><a href="@_linkurl" target="@_linktarget">@_linktext</a></li>
                    }                   
                    
                }   
                }
            </ul>
        </div>
    </div>
}