@model Project.Mining.Website.Models.Common.SEO
@{
    var _logourl = "";
    var _pageurl = "";
    var _linkurl = "javascript:void(0)";
    
    string schemaContext = "@context";
    string schemaType = "@type";
    if(Model.LogoURL != null)
    {
        _logourl =  Model.LogoURL.Url;
    }
    if(Model.PageURL != null)
    {
        _pageurl = Model.PageURL.Url;
    }
}
@if (Model != null)
{
    <title>@Model.Title</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta name="robots" content="@Model.Robots" />
    if (Model.CanonicalURL != null)
    {
        <link rel="canonical" href="@Model.CanonicalURL.Url" />
    }
    <meta property="og:title" content="@Model.Ogtitle" />
    <meta property="og:description" content="@Model.Ogdescription" />
    if (Model.Ogimage != null)
    {
        <meta property="og:image" content="@Model.Ogimage.Src" />
    }
    <meta property="og:keyword" content="@Model.Ogkeywords" />

    <script type="application/ld+json">
    {
        "@schemaContext" :"@Model.Context",
        "@schemaType" : "@Model.Type",
        "name" : "@Model.Name",
        "logo" : "@_logourl",
        "url" :"@_pageurl"
    }
    </script>

}