@model Project.Mining.Website.Models.OurServicesModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var OurServicesdata = Model.OurServicesdata.ToList();
}
@if (Model != null)
{
    <section class="our-service position-relative">
        <div class="container">
            <div class="section-info section-align ">
                <h4>@Model.SubHeading</h4>
                <h3><span>@Model.Heading</span></h3>
                <p class="mob-para-5">@Html.Raw(Model.Description)</p>
            </div>
            <a class="read-link show-mob read-more-5">@Model.Link.Text</a>
            <div class="btm scrollable oriented-our-services">
                @if (Model.OurServicesdata != null)
                {
                    foreach (var child in Model.OurServicesdata)
                    {
                        <div class="item">
                            @if (child.Link != null)
                            {
                                _linkurl = child.Link.Url;
                                _linktarget = child.Link.Target;
                            }
                            else
                            {
                                _linkurl = "javascript:void(0)";
                                _linktarget = string.Empty;
                            }
                            <a href="@_linkurl" target="@_linktarget">
                                <div class="inner">
                                    <div class="img">
                                        @if (child.Image != null)
                                        {
                                            <img src="@child.Image.Src" alt="@child.Image.Alt" />
                                        }
                                    </div>
                                    <div class="desc homestats">

                                        <div class="wrap">
                                            <div class="desc-left">
                                                @Html.Raw(child.Description)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            @if(OurServicesdata.Count > 4)
            {            
                <div class="arrows">
                    <div class="arr-left">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg>
                    </div>
                    <div class="arr-right">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg>
                    </div>
                </div>
            }
        </div>
    </section>
}