@model Project.Mining.Website.Models.Services.ServiceOurProjectsModel
@{
    var _linkurl = "#";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
    var OurProjectsList = Model.OurProjectsList.ToList();
    int count = 0;
}
@if (Model != null)
{
    <section class="service-mining-plan position-relative section-padding main-skeleton skeleton">
        <div class="container">
            <div class="section-info section-align">
                <h4 class="hide-text">@Model.SubHeading</h4>
                <h1>
                    <span class="hide-text">@Model.Heading</span>
                </h1>
               
                @Html.Raw(Model.Description)

            </div>

            <div class="service-card position-relative">
                @if (OurProjectsList != null && OurProjectsList.Count > 0)
                {
                    foreach (var item in OurProjectsList)
                    {
                        var dataTargetWeb = "offcanvasServiceRight" + count;
                        var dataTargetMob = "offcanvasServiceBottom" + count;
                        <a href="javascript:void(0)" class="show-large card-box d-none" type="button" onclick="openNav(@dataTargetWeb)">
                            <div class="s-card">
                                <div class="s-card-img">
                                    @if (item.Image != null)
                                    {
                                        <img src="@item.Image.Src" alt="@item.Image.Alt">
                                    }
                                </div>
                                <div class="s-card-info">
                                    <h2 class="hide-text">@item.Heading</h2>
                                    <p class="hide-text">@item.SubHeading</p>
                                    <small class="hide-text">@item.Link.Text</small>
                                </div>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="show-mob card-box d-none" type="button" onclick="openNav(@dataTargetMob)">
                            <div class="s-card">
                                <div class="s-card-img">
                                    @if (item.Image != null)
                                    {
                                        <img src="@item.Image.Src" alt="@item.Image.Alt">
                                    }
                                </div>
                                <div class="s-card-info">
                                    <h2 class="hide-text">@item.Heading</h2>
                                    <p class="hide-text">@item.SubHeading</p>
                                    <small class="hide-text">@item.Link.Text</small>
                                </div>
                            </div>
                        </a>
                        count++;
                    }
                }


            </div>
            @if (Model.Link != null && OurProjectsList.Count > 6)
            {

                <a class="section-btn-exp explore--open-2 desk-btn hide-text" id="ViewMoreBtn">@Model.Link.Text</a>
                <a class="section-btn-exp explore--open-2 mob-btn hide-text" id="MobViewMoreBtn">@Model.Link.Text</a>

            }


            @if (OurProjectsList != null && OurProjectsList.Count > 0)
            {
                count = 0;
                foreach (var item in OurProjectsList)
                {
                    var dataTargetWeb = "offcanvasServiceRight" + count;
                    var dataTargetMob = "offcanvasServiceBottom" + count;
                    


                    <div  class="sidenav show-large" id="@dataTargetWeb">
                            <div class="overlay" id="overlay"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)"></a>
                               <div class="service-body">
                                    <div class="off-title">
                                        <h2>@item.Heading</h2>
                                    </div>
                                    <div class="off-info">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                            </div>
                    </div>
					
                    <div  class="sidenav show-mob" id="@dataTargetMob">
                            <div class="overlay" id="overlay"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)"></a>
                               <div class="service-body">
                                    <div class="off-title">
                                        <h2>@item.Heading</h2>
                                    </div>
                                    <div class="off-info">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                            </div>
                    </div>
                    count++;
                }
            }
        </div>
    </section>
}
