@using Sitecore.Mvc
@model Project.Mining.Website.Models.Home.SubscribeUsModel

@if (Model != null)
{
    <section class="subscribe position-relative section-padding">
        <div class="container-2">
            <div class="subscribe-box py-4 bor-radius">
                <div class="section-flex message-box">
                    <div class="subscribe-img">
                        @if (Model.Image != null)
                        {
                            <img src="@Model.Image.Src" class="bor-radius" alt="@Model.Image.Alt">
                        }
                    </div>
                    <div class="subscribe-info">
                        <div class="section-info mt-3 mt-md-0">
                            <h3 class="content-center mb-2">
                                <span>@Model.Heading</span>
                            </h3>
                            @Html.Raw(Model.Description)
                        </div>
                        @Html.Sitecore().Placeholder("subscribeform")
                    </div>
                </div>
            </div>
        </div>
    </section>
}