@model  Project.Mining.Website.Models.ThankYouPopUp
@{
    
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    if (Model.CTALink != null)
    {
        if (string.IsNullOrEmpty(Model.CTALink.Url))
        {
            _linkurl = "javascript:void(0)";
        }
        else
        {
            _linkurl = Model.CTALink.Url;
        }
        _linktarget = Model.CTALink.Target;
        _linktext = Model.CTALink.Text;
    }
    else
    {
        _linkurl = "javascript:void(0)";
        _linktarget = string.Empty;
        _linktext = string.Empty;
    }
}
@if (Model != null)
{
    <div class="modal fade contact-us show-large" id="@Model.PopUpId" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
		 <div class="overlay thankyouoverlay" id="overlay"></div>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="right-icon">
                        @if (Model.Image != null)
                        {
                        <img src="@Model.Image.Src" alt="@Model.Image.Alt">
                        }
                    </div>
                    <h3>@Model.Heading</h3>
                    <p>@Model.Description</p>
                </div>
                <div class="modal-footer">
                    @if (Model.CTALink != null)
                    {
                        <a href="@_linkurl" class="contact-back-btn analytics-tags">@_linktext
								<meta name="Event" content="@Model.Event">
                                <meta name="Category" content="@Model.Category">
                                 <meta name="Banner_category" content="@Model.Banner_Category">
                                <meta name="Sub_category" content="@Model.Sub_category">
                                 <meta name="Page_type" content="@Model.Page_type">
                                 <meta name="Label" content="@Model.Label">
                                 <meta name="Index" content="@Model.Index">
						</a>
                    }
                </div>
            </div>
        </div>
    </div>
}