@using Sitecore.Mvc
@model Project.Mining.Website.Models.ContactUsPage.ContactUsBanner



@Html.Sitecore().Placeholder("breadcrumb")
<section class="contact-page position-relative main-skeleton skeleton">
    <div class="container">
        <div class="section-info">
            <h1><span class="hide-text">@Model.Heading</span></h1>
        </div>

        <div class="contact-img">
            @if (Model.Image != null)
            {
                <img src="@Model.Image.Src" class="bor-radius" alt="@Model.Image.Alt">
            }

        </div>
        @Html.Sitecore().Placeholder("contactdetail")

    </div>
    @Html.Sitecore().Placeholder("thankyoumodal")
</section>