@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@*<div class="section bg-pattern-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 msgTileOuter">
                    <div class="bg-white msgTile">
                        <h4 class="txt-orange pb-3">Chairman's Message</h4>
                        <div class="msgCnt">
                            <h5>“Our Business model is aligned with the national interest.”</h5>
                            <br>
                            <p class="lead">Mr. Gautam Adani</p>
                            <p class="">Chairman Adani Group</p>
                            <br>
                            <a href="chairman-message.html" class="btn btn-primary">Read the Chairman's Message ></a>
                        </div>
                        <div class="float-right usrPic">
                            <img src="images/about/gautam-adani.png" alt="Gautam Adani" class="img-fluid">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-6 msgTileOuter">
                    <div class="bg-white msgTile">
                        <h4 class="txt-orange pb-3">CEO's Message</h4>
                        <div class="msgCnt">
                            <h5>“its way to experience a never seen-before momentum”</h5>
                            <br>
                            <p class="lead">Anil Sardana</p>
                            <p class="">CEO Adani Electricity</p>
                            <br>
                            <a href="ceo-message.html" class="btn btn-primary">Read the CEO's Message ></a>
                        </div>
                        <div class="float-right usrPic">
                            <img src="images/about/anil-sardana.png" alt="Gautam Adani" class="img-fluid">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- /Section 4 messages -->
<!-- Section 5 One vision-->
@*<div class="section bg-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <h2 class="txt-violet">One Vision One Brand</h2>
                    <br>
                    <p>To be the globally admired leader in integrated infrastructure business with a deep commitment to nation building, we shall be known for the scale of our ambition, speed of execution and quality of operation.</p>
                    <br>
                    <a href="one-vision-one-brand.html" class="btn btn-violet">Read more ></a>
                </div>
                <div class="col-md-4 ml-auto text-center">
                    <div class="my-3"><img src="images/logo-adani.png" class="img-fluid" alt="Adani"></div>
                </div>
            </div>
        </div>
    </div>*@


<div class="section bg-pattern-light">
    <div class="container">
        <div class="row">

            @foreach (var child in Model.NavItems)
            {
                //var isMessage = @child.IsMessage;
                if (@child.IsMessage == "1")
                {
                    <div class="col-lg-6 msgTileOuter">
                        @(new HtmlString(@child.Summary))

                    </div>
                }

            }

        </div>
    </div>
</div>
@Html.Sitecore().Field("Summary")
<div class="section bg-white">
    <div class="container">

        @foreach (var visionChild in Model.NavItems)
        {
            // var isVision = @visionChild.IsMessage;

            if (@visionChild.IsMessage != "1")
            {
                <div class="row align-items-center">
                    @(new HtmlString(@visionChild.Summary))
                </div>
            }

        }



    </div>
</div>



<!-- /Section 5 One vision-->
