@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}

<section class="section bg-white">
    <div class="container">
        <h3 class="pb-3">@Html.Sitecore().Dictionary("/AdaniGas/PNG/Quick Links", "Quick Links")</h3>
        <div class="row">
            <div class="col-lg-8">
                <div class="quickLinksSec tilesNoBg" id="quickLinksPng">
                    <div class="row">
                        @foreach (var item in Model.NavItems)
                        {
                            <div class="col-md-6">
                                <a href="@item.Url" class="serviceTile">
                                    <div class="serviceIcon">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 75, 92)</div>
                                    <div class="serviceDetails">
                                        <h4 class="serviceName">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</h4>
                                        <div class="serviceBrief">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @Html.Sitecore().Placeholder("GasPrice-Control")
            </div>
        </div>
    </div>
</section>