@*
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

<div class="ml-5" id="topMenu">
    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
    <div class="clearfix"></div>
    <ul class="topMenu">
        @if (Model?.NavItems != null)
        {
            foreach (var item in Model.NavItems)
            {
                var hasChildren = item.Children != null && item.Children.NavItems.Any() && item.ShowChildren;
                var cssClass = "";
                if (hasChildren)
                {
                    cssClass += " dropdown";
                }

                <li class="@cssClass">

                    @if (hasChildren)
                    {

                        <a href="@item.Url" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var subitem in item.Children.NavItems)
                            {
                                <li class="@(subitem.IsActive ? "active" : "")">
                                    <a href="@subitem.Url" target="@subitem.Target">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, subitem.Item)</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        if (!item.IsExternalLink)
                        {
                            if (!item.IsNewTab)
                            {
                                <a href="@item.Url" target="@item.Target">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                            else
                            {
                                <a href="@item.Url" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                        }
                        else
                        {
                            if (!item.IsNewTab)
                            {
                                <a href="@item.Link" target="@item.Target">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                            else
                            {
                                <a href="@item.Link" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                        }
                    }
                </li>
            }
        }
    </ul>
</div>
*@







<div class="ml-5" id="topMenu">
      <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
    <div class="clearfix"></div>
 <ul class="topMenu d-lg-flex d-none">
        <li class="dropdown">

            <a href="/About-us">
                About Us
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/About-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/About-us/One-Vision-One-team">One Vision One Team</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/About-us/Chairman-Message">Chairman's Message</a>

                        </div>

                    </div>
                </div>
            </div>


        </li>
      

        <li class="dropdown">

            <a href="/Investors">
                Investors
            </a>
			 <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/Investors">Explore Investors</a></h5>
                    <hr />
                    <div class="row">

                        <div class="col-md-6">
                            <a class="dropdown-item" id="investorDownloadsMenu" href="/investors/investor-downloads">Investor Downloads </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanienterprisesMenu" href="/Investors/#Investors">Adani Enterprises Ltd </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adaniportMenu" href="/Investors/#Investors">Adani Ports and SEZ Ltd </a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanigasMenu" href="/Investors/#Investors">Adani Total Gas Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanigreenMenu" href="/Investors/#Investors">Adani Green Energy Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanitransmissionMenu" href="/Investors/#Investors">Adani Transmission Ltd</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" id="adanipowerMenu" href="/Investors/#Investors">Adani Power Ltd</a>

                        </div>


                    </div>
                </div>
            </div>
        
        </li>
        
		<li class="dropdown">

            <a href="/Newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/Newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Release">Media Release</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/media-coverage">Media Coverage</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Chairman-Corner">Chairman's Corner</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/media-library">Media Library</a>

                        </div>
                        <div class="col-md-6 d-none">
                            <a class="dropdown-item" href="/Newsroom/Leaders-Speak">Leaders Speak</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/social-media">Social Media</a>

                        </div>
						        <div class="col-md-6">
                            <a class="dropdown-item" href="/latest-updates"> Latest Updates</a>
                        </div>
						<div class="col-md-6">
                            <a class="dropdown-item" href="/latest-news">Latest News</a>
                        </div>
                       
						
						
                    </div>
                </div>
            </div>
        </li>
       

	   <li class="dropdown"><a href="https://careers.adani.com/" target="_blank">Careers</a>
	    <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                <div class="container-fluid">
                    <h5><a href="https://careers.adani.com/" target="_blank">Explore Careers</a></h5>
                    <hr />
                    <div class="row">
					 <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#LnD">L&D</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>

                        </div>
						
                      
						
                       
						
						
                    </div>
                </div>
            </div>
	   
	   
	   </li>
      








	  <li><a href="/contact-us">Contact Us</a></li>

    </ul>
 
 <ul class="topMenu d-lg-none d-block">
   <li class="dropdown">
      <a href="/About-us">About Us</a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
         <div class="container-fluid">
            <h5><a href="/About-us">Explore About Us</a></h5>
            <hr>
            <div class="row">
               <div class="col-md-6">
                  <a class="dropdown-item" href="/About-us/One-Vision-One-team">One Vision One Team</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/About-us/Chairman-Message">Chairman's Message</a>
               </div>
            </div>
         </div>
      </div>
   </li>
   <li class="dropdown">
      <a href="/businesses">Businesses</a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
         <div class="container-fluid">
            <h5><a href="/businesses">Explore Businesses</a></h5>
            <hr>
            <div class="row">
               <div class="col-lg-6 mb-lg-0 mb-3">
<h6 class="mb-2 pl-3 pl-lg-0"><strong>Sectors</strong></h6>
<a class="dropdown-item" href="https://www.adani.com/businesses#EnergyUtilities">Energy and Utilities</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#TransportationLogistics">Transportation and Logistics</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#Incubation">Incubation</a>
<a class="dropdown-item" href="https://www.adani.com/businesses/airports">Airports</a>
<a class="dropdown-item" href="https://www.adani.com/businesses/materials">Materials</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#Others">Others</a>
</div>

<div class="col-lg-6">
<h6 class="mb-2 pl-3 pl-lg-0"><strong>Companies</strong></h6>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniEnterprises">Adani Enterprises Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniPorts">Adani Ports and SEZ Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniGreen">Adani Green Energy Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniGas">Adani Total Gas Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#AdaniTransmission">Adani Transmission Ltd</a>
<a class="dropdown-item" href="https://www.adani.com/businesses#Adanipower">Adani Power Ltd</a>
</div>
            </div>
         </div>
      </div>
   </li>
   <li class="dropdown">
      <a href="/Sustainability">Sustainability</a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
         <div class="container-fluid">
            <h5><a href="/Sustainability">Explore Sustainability</a></h5>
            <hr>
            <div class="row">
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sustainability/Environment">Environment</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sustainability/Communities">Communities</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sustainability/water">Water</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sustainability/Safety">Safety First</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sustainability/Waste-Management">Waste Management</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sustainability/Operational-Efficiency">Operational Efficiency</a>
               </div>
            </div>
         </div>
      </div>
   </li>
   <li class="dropdown">
      <a href="/Sports">Sports</a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
         <div class="container-fluid">
            <h5><a href="/Sports">Explore Sports</a></h5>
            <hr>
            <div class="row">
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sports#Garvhai">#Garvhai</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sports#Marathon">Ahmedabad Marathon</a>
               </div>
               <div class="col-lg-6">
                  <a class="dropdown-item" href="/Sports#ProKabaddi">Fortune Pro-Kabaddi </a>
               </div>
            </div>
         </div>
      </div>
   </li>
   <li class="dropdown">
      <a href="/Investors">Investors</a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
         <div class="container-fluid">
            <h5><a href="/Investors">Explore Investors</a></h5>
            <hr>
            <div class="row">
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Investors/#Investors">Adani Enterprises Ltd </a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Investors/#Investors">Adani Portsand SEZ Ltd </a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Investors/#Investors">Adani Total Gas Ltd</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Investors/#Investors">Adani Green Energy Ltd</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Investors/#Investors">Adani Transmission Ltd</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Investors/#Investors">Adani Power Ltd</a>
               </div>
            </div>
         </div>
      </div>
   </li>
   <li class="dropdown">
      <a href="/Newsroom">
      Newsroom
      </a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
         <div class="container-fluid">
            <h5><a href="/Newsroom">Explore Newsroom</a></h5>
            <hr>
            <div class="row">
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Newsroom/Media-Release">Media Release</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Newsroom/media-coverage">Media Coverage</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Newsroom/Chairman-Corner">Chairman's Corner</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Newsroom/media-library">Media Library</a>
               </div>
               <div class="col-md-6 d-none">
                  <a class="dropdown-item" href="/Newsroom/Leaders-Speak">Leaders Speak</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" href="/Newsroom/social-media">Social Media</a>
               </div>
            </div>
         </div>
      </div>
   </li>
   <li class="dropdown">
      <a href="https://careers.adani.com/" target="_blank">Careers</a>
      <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
         <div class="container-fluid">
            <h5><a href="https://careers.adani.com/" target="_blank">Explore Careers</a></h5>
            <hr>
            <div class="row">
               <div class="col-md-6">
                  <a class="dropdown-item" target="_blank" href="https://adani.taleo.net/careersection/ex/jobsearch.ftl">Job Openings</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#LnD">L&amp;D</a>
               </div>
               <div class="col-md-6">
                  <a class="dropdown-item" target="_blank" href="https://careers.adani.com/#HeroesAtWork">Our #HeroesAtWork </a>
               </div>
            </div>
         </div>
      </div>
   </li>
   <li><a href="/Blogs">Blogs</a></li>
   <li><a href="/contact-us">Contact Us</a></li>
</ul>
   
</div>




