@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
                /**/

                if (Model?.NavItems == null)
                {
                    return;
                }

}

@if (Model?.NavItems != null)
{
    var currentURl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
<ul class="navbar-nav ml-auto primaryMenu">
    @foreach (var item in Model.NavItems)
    {
        if (item.Url == currentURl)
        {
            <li class="nav-item active">
                <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
            </li>
        }
        else
        {
            if (item.IsNewTab)
            {
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
                </li>
            }
        }
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-phone rotate90"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p class="dropdown-hd">Contact us</p>
            <div class="dropdown-divider"></div>
            <p class="dropdown-txt clearfix">Write to us : <span><a href="">info@adanirealty.com</a><br><a href="">info@adanirealty.com</a></span></p>
            <div class="dropdown-divider"></div>
            <p class="dropdown-txt clearfix">Call Us(Toll Free) : <span><a href="">1800-000-000</a><br><a href="">1800-000-000</a></span></p>
            <div class="dropdown-divider"></div>
            <p class="mb-3 dropdown-txt">Request a call back</p>

            @Html.Sitecore().Placeholder("header-contact-Form")

        </div>
    </li>
</ul>
}
