@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    var i = 0;
}




@Html.Sitecore().Placeholder("footer-logo")
<div class="col-md-9">
    <div class="row">





        <div class="col-md-4">
            <div class="row">
                @foreach (var items in Model.NavItems.ToList())
                {

                    if (items.Item.DisplayName.ToLower() == "our projects" || items.Item.DisplayName.ToLower() == "gallery")

                    {

                        <div class="col-md-12 col-6">
                            <h5>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</h5>
                            @if (items.Children != null)
                            {
                                <ul class="mobile-none">
                                    @foreach (var child in items.Children.NavItems)
                                    {
                                        if (child.IsNewTab)
                                        {
                                            <li><a href="@child.Url" target="_blank">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a></li>
                                        }
                                    }
                                </ul>
                            }
                        </div>

                    }

                }
            </div>
            </div>


                    <div class="col-md-4">
                        <div class="row">
                            @foreach (var items in Model.NavItems.ToList())
                            {
                                if (items.Children == null && items.Item.DisplayName != "Lets Connect")
                                {
                                    <div class="col-md-12 col-6">
                                        <h5><a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a></h5>
                                    </div>
                                }
                            }
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            @foreach (var items in Model.NavItems.ToList())
                            {
                                if (items.Item.DisplayName == "Lets Connect")
                                {

                                    <div class="col-sm-12">
                                        <h5>Lets Connect</h5>
                                        @Html.Sitecore().Placeholder("socialmenu-footer")
                                    </div>
                                }
                                else if (items.Children != null && (items.Item.DisplayName.ToLower() != "our projects" && items.Item.DisplayName.ToLower() != "gallery"))
                                {

                                    <div class="col-sm-12">
                                        <h5>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</h5>
                                        <ul class="mobile-none">
                                            @foreach (var child in items.Children.NavItems)
                                            {
                                                if (child.IsNewTab)
                                                {
                                                    <li><a href="@child.Url" target="_blank">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
        </div>