@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}
<section class="position-relative d-block">
    <div class="breadcrumbBg">
        @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image)
    </div>
    <div class="breadcrumb-b-inner">
        <div class="container">
            <ul>
                @for (int i = 0; i < Model.NavItems.Count() - 1; i++)
                {
                    <li>
                        <a href="@Model.NavItems[i].Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                    </li>
                }
            </ul>
            <h4>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[Model.NavItems.Count() - 1].Item)</h4>
        </div>
    </div>
    @Html.Sitecore().Placeholder("Video-Banner")
</section>