@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

<section class="breadcrumb-slider">
    <div class="breadcrumb-sl-inner">
        <div class="container">
            <ul>
                @for (int i = 0; i < Model.NavItems.Count() - 1; i++)
                {
                    <li>
                        @if (Model.NavItems[i].Item.ID == Templates.BillingAndPaymentAdaniGas.ID)
                        {
                            <a class="txt-orange" href="@Model.NavItems[i].Link">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                        }
                        else
                        {
                            <a class="txt-orange" href="@Model.NavItems[i].Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                        }
                    </li>
                }
            </ul>
            <h2 class="py-2">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[Model.NavItems.Count() - 1].Item)</h2>
        </div>
    </div>

    <div class="owl-carousel owl-theme" id="homeslider">
        <div class="item">
            <div class="slider-content">
                @Html.Sitecore().ImageField(Templates.HasPageContent.Fields.Image, Model.NavItems[Model.NavItems.Count() - 1].Item, 0, 0, "")
            </div>
        </div>

    </div>
</section>