@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Feature.Navigation
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
}

<div class="breadcrumb">
    <div class="container">
        @*<ul>
            @for (int i = 0; i < Model.NavItems.Count() - 1; i++)
            {
                <li class="@(Model.NavItems[i].IsActive ? "active" : string.Empty)">
                    @if (Model.NavItems[i].Item.ID == Templates.MyAccount.ID)
                    {
                        <a href="@Model.NavItems[i].Item.Url()"><h3>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</h3></a>
                    }
                    else
                    {
                        <a href="@Model.NavItems[i].Item.Url()"> @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item) </a>
                    }
                </li>
            }
        </ul>*@
        @*<h3 class="pageTitle title-gallery">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[Model.NavItems.Count() - 1].Item)</h3>*@
    </div>
</div>
<div class="mainBanner residential">
    <div class="bannerImg">
        <div class="large-12 columns">
            <div class="owl-carousel" id="carousel">
                @foreach (var element in models.Children.ToList())
                {
                    <div class="item">
                        @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, element)
                    </div>
                }
            </div>
        </div>
    </div>
</div>