@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@*<div class="container">
      <ol class="breadcrumb">
        @foreach (var item in Model.NavItems)
        {
          <li class="@(item.IsActive ? "active" : string.Empty)">
            <a href="@item.Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
          </li>
        }
      </ol>
    </div>*@

<div class="contentSection aboutPage">
    <!-- Page Title -->
    <div class="pageTitleBar">
        <div class="container">
            <ul class="breadcrumb">

                @for (int i = 0; i < Model.NavItems.Count() - 1; i++)
                {
                    <li class="@(Model.NavItems[i].IsActive ? "active" : string.Empty)">
                        @if (Model.NavItems[i].Item.ID == Templates.MyAccount.ID)
                        {
                            <a href="@Model.NavItems[i].Link">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                        }
                        else if (Model.NavItems[i].Item.ID == Templates.AdminTender.ID)
                        {
                            <a href="@Model.NavItems[i].Link">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                        }
                        else
                        {
                            <a href="@Model.NavItems[i].Item.Url()">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[i].Item)</a>
                        }
                    </li>
                }
            </ul>
            <h2 class="pageTitle">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, Model.NavItems[Model.NavItems.Count() - 1].Item)</h2>
        </div>
    </div>
</div>