@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<ul class="social-ul">
    @foreach (var item in Model.NavItems)
    {
        if (item.IsNewTab)
        {

            <li class="mr-2">
                <a href="@item.Url" target="@item.Target"><i class="@item.Item[Templates.LinkMenuItem.Fields.Icon]"></i></a>
            </li>


        }
        else
        {
            <li class="mr-2">
                <a href="@item.Url" target="@item.Target"><i class="@item.Item[Templates.LinkMenuItem.Fields.Icon]"></i></a>
            </li>
        }
    }
</ul>
