
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

}

<ul class="navbar-nav primaryMenu sprite-menu">
    @{var link = (Request.RawUrl); }
    @foreach (var item in Model.NavItems)
    {
        var cssclass = (Convert.ToString(@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item))).ToLower();

       
    <li class="nav-item">
        <div class="@cssclass">
            @if (item.Item[Templates.LinkMenuItem.Fields.Image] != null)
            {

                if (item.Url == link)
                {
                    @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 0, 0, "active")
                }
                else
                {
                    @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item)
                }
            }
        </div>
        @if (item.Url == link)
        {
            <a class="nav-link active" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
        }
        else
        {
            <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>
        }
    </li>
        
    }
</ul>