
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var currentURl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
}



<ul class="navbar-nav primaryMenu">
    @foreach (var item in Model.NavItems)
    {

    <li class="nav-item">

        @if (item.Url.IndexOf(currentURl) > -1)
        {
            <div class="@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS, item.Item)">
                <img src="-/media/F4A347A29ECD46AAA38E3EC86D7E11F5.ashx" alt="" class="mr-2 active" />
            </div>

            if (item.Item.Name != "Imperial")
            {
                <a class="nav-link active" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>

            }
            else
            {
                <a class="nav-link theimperial" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>

            }
        }
        else
        {

            <div class="@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS, item.Item)">
                <img src="-/media/F4A347A29ECD46AAA38E3EC86D7E11F5.ashx" alt="" class="mr-2" />
            </div>


            if (item.Item.Name == "Imperial")
            {
                <a class="nav-link theimperial" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>

            }
            else
            {
                <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>

            }
        }
    </li>

    }
</ul>


