@using Sitecore.Feature.Navigation
@using Sitecore.Data.Fields
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var currentPage = Sitecore.Context.Item;


    var dataSourceId = RenderingContext.Current.Rendering.DataSource;

    var dataSource = Sitecore.Context.Database.GetItem(dataSourceId);

    Sitecore.Data.Items.Item myItem = (Sitecore.Data.Items.Item)currentPage;
    Sitecore.Data.Fields.MultilistField multiselectColumn1 = dataSource.Fields[Templates.FooterNavListing.Fields.ColumnList1];
    Sitecore.Data.Items.Item[] itemsColumn1 = multiselectColumn1.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectColumn2 = dataSource.Fields[Templates.FooterNavListing.Fields.ColumnList2];
    Sitecore.Data.Items.Item[] itemsColumn2 = multiselectColumn2.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectColumn3 = dataSource.Fields[Templates.FooterNavListing.Fields.ColumnList3];
    Sitecore.Data.Items.Item[] itemsColumn3 = multiselectColumn3.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectColumn4 = dataSource.Fields[Templates.FooterNavListing.Fields.ColumnList4];
    Sitecore.Data.Items.Item[] itemsColumn4 = multiselectColumn4.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectCopyright = dataSource.Fields[Templates.FooterCopyright.Fields.CopyRightList];
    Sitecore.Data.Items.Item[] itemsCopyright = multiselectCopyright.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectSocialLink = dataSource.Fields[Templates.SocialLink.Fields.SocailLinksList];
    Sitecore.Data.Items.Item[] itemsSocialLink = multiselectSocialLink.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectSocialStore = dataSource.Fields[Templates.SocialLink.Fields.SocailStoreList];
    Sitecore.Data.Items.Item[] itemsSocialStore = multiselectSocialStore.GetItems();
}

@if (dataSource != null)
{
    <div class="check-details-wrapper">
        <div class="container">
            <div class="check-details">
                <ul>
                    <li>
                        <a href="/my-account/check-usage-history"
                          data-gaevent="know_more_click"
                           data-gaeventCategory="User Interaction"
                           data-gaeventAction="Know More Click"
                           data-gaeventLabel="Check Usage">
                            <i class="vi-check-usage"></i>
                            <aside>
                                <h5>Check Usage</h5>
                                <p>View your electricity consumption</p>
                                <span class="link-btn">Know More </span>
                            </aside>
                        </a>
                    </li>
                    <li>
                        <a href="/tariff"
                           data-gaevent="know_more_click"
                           data-gaeventCategory="User Interaction"
                           data-gaeventAction="Know More Click"
                           data-gaeventLabel="Tariff Details">
                            <i class="vi-service-request"></i>
                            <aside>
                                <h5>Tariff Details</h5>
                                <p>Know more about electricity tariffs</p>
                                <span class="link-btn">Know More </span>
                            </aside>
                        </a>
                    </li>
                    <li>
                        <a href="/my-account/settings"
                           data-gaevent="know_more_click"
                           data-gaeventCategory="User Interaction"
                           data-gaeventAction="Know More Click"
                           data-gaeventLabel="Bill Over SMS">
                            <i class="vi-bill-over-sms"></i>
                            <aside>
                                <h5>Bill Over SMS</h5>
                                <p>Get your bills over SMS</p>
                                <span class="link-btn">Know More </span>
                            </aside>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer_wrapper">
        <div class="container">
            <ul class="footer_nav">
                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">
                            @Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName1)
                        </li>
                        @foreach (var item in itemsColumn1)
                        {
                            var navName = item.Fields["Name"].Value;
                            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                            var urlTarget = linkfld != null ? linkfld.Target : "";

                            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                            {
                                <li class="footer_link waves-effect">
                                    <a href="@url" target="@urlTarget"
                                       data-gaevent="bottom_navigation_menu"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Bottom Navigation Menu"
                                       data-gaeventLabel="@navName">@navName</a>
                                </li>
                            }
                        }


                    </ul>
                </li>
                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">

                            @Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName2)
                        </li>
                        @foreach (var item in itemsColumn2)
                        {
                            var navName = item.Fields["Name"].Value;
                            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                            var urlTarget = linkfld != null ? linkfld.Target : "";

                            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                            {
                                <li class="footer_link waves-effect">
                                    <a href="@url" target="@urlTarget"
                                       data-gaevent="bottom_navigation_menu"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Bottom Navigation Menu"
                                       data-gaeventLabel="@Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName2)">@navName</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">

                            @Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName3)
                        </li>
                        @foreach (var item in itemsColumn3)
                        {
                            var navName = item.Fields["Name"].Value;
                            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                            var urlTarget = linkfld != null ? linkfld.Target : "";
                            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                            {
                                <li class="footer_link waves-effect">
                                    <a href="@url" target="@urlTarget"
                                       data-gaevent="bottom_navigation_menu"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Bottom Navigation Menu"
                                       data-gaeventLabel="@Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName3)">@navName</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
                <li class="footer_nav_grid">
                    <ul class="footer_link_list">
                        <li class="footer_link_heading">

                            @Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName4)
                        </li>
                        @foreach (var item in itemsColumn4)
                        {
                            var navName = item.Fields["Name"].Value;
                            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                            var urlTarget = linkfld != null ? linkfld.Target : "";
                            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                            {
                                <li class="footer_link waves-effect">
                                    <a href="@url" target="@urlTarget"
                                       data-gaevent="bottom_navigation_menu"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Bottom Navigation Menu"
                                       data-gaeventLabel="@Html.Sitecore().Field(Templates.FooterNavListing.Fields.ColumnName4)">@navName</a>
                                </li>
                            }
                        }
                        <li class="footer_link waves-effect">
                            <a href="tel:19122">

                                Toll-Free: 19122 (24x7)
                            </a>
                        </li>
                        <li class="footer_link_heading footer_barcode_heading">Scan the QR Code</li>
                        <li class="footer_barcode">
                            <a class="barcode-ios">
                                <img src="/electricity_assets/images/iOS-AppStore.jpg" alt="IOS">
                                <span>IOS</span>
                            </a>
                            <a class="barcode-android">
                                <img src="/electricity_assets/images/Android-PlayStore.jpg" alt="Android">
                                <span>Android</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
            <div class="social_link_wrapper flx-list-wrapper">
                <ul class="social_link_list flx-list">
                    @foreach (var item in itemsSocialLink)
                    {
                        var socailName = item.Fields["Name"].Value;
                        Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];

                        var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                        var urlTarget = linkfld != null ? linkfld.Target : "";

                        if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(socailName)))
                        {
                            <li>
                                <a href="@url" target="@urlTarget" class="waves-effect icon-holder medium-size"
                                   data-gaevent="social_media_follow"
                                   data-gaeventCategory="Social Media"
                                   data-gaeventAction="Social Media Follow"
                                   data-gaeventLabel="@urlTarget">
                                    <i class="@socailName"></i>
                                </a>
                            </li>
                        }
                    }



                </ul>
                <ul class="app-download-links flx-list">
                    @foreach (var item in itemsSocialStore)
                    {

                        Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                        var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                        var urlTarget = linkfld != null ? linkfld.Target : "";
                        Sitecore.Data.Fields.ImageField ImageField = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
                        string ImageUrl = ImageField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(ImageField.MediaItem) : string.Empty;

                        if (!string.IsNullOrEmpty(url))
                        {
                            <li>
                                <a href="@url" target="@urlTarget"
                                   data-gaevent="app_download"
                                   data-gaeventCategory="User Interaction"
                                   data-gaeventAction="App Download"
                                   data-gaeventLabel="@url">

                                    <img src="@ImageUrl" alt="app store" />
                                </a>
                            </li>

                        }
                    }
                </ul>
            </div>
            <div class="footer_copyright">

                <ul class="copyright_links_list">
                    <li> @Html.Sitecore().Field(Templates.FooterCopyright.Fields.Title)</li>


                    @foreach (var item in itemsCopyright)
                    {
                        var linkName = item.Fields["Name"].Value;
                        Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];

                        if (!string.IsNullOrEmpty(linkfld.ToString()))
                        {

                            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                            var urlTarget = linkfld != null ? linkfld.Target : "";



                            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(linkName)))
                            {

                                <li>
                                    <a class="waves-effect" href="@url" target="@urlTarget"
                                       data-gaevent="bottom_navigation_menu"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Bottom Navigation Menu"
                                       data-gaeventLabel="@linkName">@linkName</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </footer>
}
