@using Sitecore.Mvc.Presentation
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    Sitecore.Data.Fields.LinkField linkfield = model.Fields[Templates.Navigable.Fields.Link];
}

<div class="contactPanel">
    <div class="contactBanner">
        @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, model)
    </div>
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-7 text-md-left">
                <h4>
                    @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, model)
                </h4>
            </div>
            <div class="col-md-4 ml-md-auto">
                @*<a href="@linkfield.GetFriendlyUrl()" class="btnBordered whiteBtn btnLg">
                        @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, model)
                    </a>*@
                @Html.Sitecore().BeginField("Link", new { haschildren = true, @class = "btnBordered whiteBtn btnLg" })
                @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, model)
                @Html.Sitecore().EndField()
            </div>
        </div>
    </div>
</div>