@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var count = 2;
    var clmClass = "";
}

<div class="section bg-white">
    <div class="container">
        <h3 class="text-center sectionHeading">@Html.Sitecore().Dictionary("/Home/Community/Title", "Our Projects & Businesses")</h3>
        <div class="row justify-content-center my-3">
            <div class="col-md-10">
                <p class="lead text-center pt-lg-3">@Html.Sitecore().Dictionary("/Home/Community/Title", "Adani Australia is a multi-dimensional resources and infrastructure company, dedicated to delivering energy solutions for an advancing world.")</p>
            </div>
        </div>
        <!-- Project Tiles -->
        <div class="row">
            @foreach (var item in Model.NavItems)
            {
			 
			<div class="col-sm-6 col-lg-3">
                    @if (item.IsNewTab)
                    {
                        <a target="_blank" href="@item.Url" class="prjtTile">
                            <div class="prjtImg">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)</div>
                            <div class="prjtName">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)</div>
                            <div class="prjtBrief">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item)</div>
                        </a>

                    }
					else if(item.IsExternalLink)
					{ 
					<div class="prjtTile">
					<div class="prjtImg">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)</div>
                            <div class="prjtName">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)</div>
							
					                        <ul class="list-group list-group-flush projectsList">
                            @foreach (var childitem in item.Children.NavItems)
                            {
                                if (childitem.IsNewTab)
                                {
                                    <li class="list-group-item"><a target="_blank" href="@childitem.Url">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.ShortDesc, childitem.Item)</a></li>
                                }
                                else
                                {
                                    <li class="list-group-item"><a href="@childitem.Url">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.ShortDesc, childitem.Item)</a></li>
                                }
                            }
                        </ul> 
						</div>
					}
			
                    else
                    {
                        <a href="@item.Url" class="prjtTile">
                            <div class="prjtImg">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)</div>
                            <div class="prjtName">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)</div>
                            <div class="prjtBrief">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item)</div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
