@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
	if (Model?.NavItems == null)
	{
		return;
	}
	var count = 0;
	var className = "";
}


<div class="helpPanel">
	<div class="container">
		<h4 class="txt-orange text-center mb-3">@Html.Sitecore().DictionaryField("/Footer/Help Hand/Title", "Help at hand")</h4>
		<div class="pt-3 helpLinksWrapper">
			<div class="row row-grid">

				@foreach (var item in Model.NavItems)
                {
                    className = "";
                    if (count == 1)
                    {
                        className = "tariffPlan";
                    }
                    var target = item.IsNewTab ? "_blank" : "";
					<div class="col-md-4">
						<a href="@item.Url" target="@target" class="helpLinks @className">
							<span class="linkTxt">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</span>
							<span class="linkIcon">
								<span class="sprite @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Icon, item.Item) align-middle"></span>
							</span>
							<div class="clearfix"></div>
						</a>
					</div>

					count++;
				}

			</div>
		</div>
	</div>
</div>


