@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    bool flag = false;
    var i = 0;
}

<div class="panelBox">
    <div class="owl-carousel owl-theme row" id="resources">
        @foreach (var item in Model.NavItems)
        {
            if (i == 0 || (i % 2) == 0)
            {
                @Html.Raw("<div class='slideitem'>")

                if (item.IsNewTab)
                {
                    @Html.Raw("<div class='col-sm-12 mb-3'><a href='" + item.Url + "' class='resourceItem' target='_blank'>")
                }
                else
                {
                    @Html.Raw("<div class='col-sm-12 mb-3'><a href='" + item.Url + "' class='resourceItem' >")

                }
                <div class='resourceIcon'>@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 0, 0)</div>
                <div class='py-2'>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>

                @Html.Raw("</a>")
                @Html.Raw("</div>")
                flag = true;

            }
            else if ((i % 2) != 0)
            {
                if (item.IsNewTab)
                {
                    @Html.Raw("<div class='col-sm-12 mb-3'><a href='" + item.Url + "' class='resourceItem' target='_blank'>")
                }
                else
                {
                    @Html.Raw("<div class='col-sm-12 mb-3'><a href='" + item.Url + "' class='resourceItem' >")

                }
                <div class='resourceIcon'>@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 0, 0)</div>
                <div class='py-2'>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>

                @Html.Raw("</a>")
                @Html.Raw("</div>")
                if (flag)
                {
                    @Html.Raw("</div>")
                }
                flag = false;
            }

            i++;
        }
    </div>
</div>
