@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<ul class="social-links-footer">
    @foreach (var item in Model.NavItems)
    {
        if (item.IsNewTab)
        {
            <li>
                <a target="_blank" href="@item.Url" target="@item.Target"><span class="sprite @item.Item[Templates.LinkMenuItem.Fields.Icon]-large"></span></a>
            </li>
        }
        else
        {
            <li>
                <a href="@item.Url" target="@item.Target"><span class="sprite @item.Item[Templates.LinkMenuItem.Fields.Icon]-large"></span></a>
            </li>
        }
    }
</ul>
