
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<div class="section bg-white">
    <div class="col-md-12 col-lg-12 content">
        @foreach (var item in Model.NavItems)
        {
            if (item.IsNewTab)
            {
                <div class="my-md-3 py-md-3 text-center mobile-none"><a href="@item.Url" class="btnBordered blueBtn my-3 my-md-0">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</a></div>
                <div class="my-md-3 py-md-3 text-center desktop-none "><a target="_blank" href="@item.Url" class="btnBordered blueBtn my-3 my-md-0">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></div>
            }
            else
            {
                <div class="my-md-3 py-md-3 text-center mobile-none"><a href="@item.Url" class="btnBordered blueBtn my-3 my-md-0">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</a></div>
                <div class="my-md-3 py-md-3 text-center desktop-none"><a href="@item.Url" class="btnBordered blueBtn my-3 my-md-0">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></div>
            }
        }
    </div>
</div>