@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<div class="section bg-white">
    <div class="container">
        <div class="row pt-3">
            @foreach (var item in Model.NavItems)
            {
                if (item.IsNewTab)
                {
                    <div class="col-sm-6 col-md-4">
                        <a target="_blank" href="@item.Url" class="tileOuter">
                            <div class="tileImg">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item)</div>
                            <div class="tileCaption">
                                <span>@Html.Sitecore().ImageField(Templates.Navigable.Fields.NavigationTitle, item.Item)</span>
                                <span class="rightArrowCircle"><i class="far fa-arrow-alt-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-sm-6 col-md-4">
                        <a href="@item.Url" class="tileOuter">
                            <div class="tileImg">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item)</div>
                            <div class="tileCaption">
                                <span>@Html.Sitecore().ImageField(Templates.Navigable.Fields.NavigationTitle, item.Item)</span>
                                <span class="rightArrowCircle"><i class="far fa-arrow-alt-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
