@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var count = 2;
    var clmClass = "";
}

<div class="section" id="reporting-approvals">
    <div class="container">
        <h3 class="sectionHeading leftAlign mt-0">Reporting and Approvals</h3>
        <div class="content">
            @Html.Sitecore().Field("{DA6ED874-F918-47E5-AD6A-B5E93B40B0AF}", Sitecore.Context.Item)
        </div>
        <div class="row">
            @foreach (var item in Model.NavItems)
            {<div class="col-sm-6 col-lg-3">
                    @if (item.IsNewTab)
                    {
                        <a target="_blank" href="@item.Url" class="prjtTile">
                            <div class="prjtImg">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)</div>
                            <div class="prjtName">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)</div>
                            <div class="prjtBrief">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item)</div>
                        </a>

                    }
                    else
                    {
                        <a href="@item.Url" class="prjtTile">
                            <div class="prjtImg">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)</div>
                            <div class="prjtName">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item)</div>
                            <div class="prjtBrief">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item)</div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
