@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<h5 class="sectionTitle">Resources</h5>

<div class="panelBox res">
    <ul>
        @foreach (var item in Model.NavItems)
        {
            
            if (item.IsVisible)
            {
                if (item.IsNewTab)
                {
                    <li>
                        <a target="_blank" href="@item.Url" class="resourceItem">
                            <div class="row">
                                <div class="col-3">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 0, 0, "img-fluid")</div>
                                <div class="col-8 txt-left">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>
                            </div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <div class="row">
                            <a href="@item.Url" class="resourceItem">
                                <div class="col-3">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 0, 0, "img-fluid")</div>
                                <div class="col-8 txt-left">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>
                            </a>
                        </div>
                    </li>
                }
            }
        }
    </ul>
</div>
<div class="btnWrapper"><a href="/Media-Centre#resources" class="btn btnBordered">Explore more facts</a></div>


@*<div class="col-sm-6 col-lg-4">
        <h5 class="sectionTitle">Resources</h5>
        <div class="panelBox">
            <ul>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-3"><img src="images/resources/resource1.png" class="img-fluid"></div>
                            <div class="col-8"><p>Adani Australia Fact Sheet</p></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-3"><img src="images/resources/resource2.png" class="img-fluid"></div>
                            <div class="col-8"><p>Carmichael Project and the Great Barrier Reef</p></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-3"><img src="images/resources/resource3.png" class="img-fluid"></div>
                            <div class="col-8"><p>Jobs Portal</p></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-3"><img src="images/resources/resource4.png" class="img-fluid"></div>
                            <div class="col-8"><p>Supplier Portal</p></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-3"><img src="images/resources/resource5.png" class="img-fluid"></div>
                            <div class="col-8"><p>Water Fact Sheet</p></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="btnWrapper"><a href="#" class="btn btnBordered">Explore more facts</a></div>
    </div>*@
