@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    var i = 0;
}
<!-- Expanded Footer -->
<div class="footerExpanded">
    @Html.Sitecore().Placeholder("footer-logo")
    <div class="footerMenuWrapper">
        @foreach (var items in Model.NavItems.ToList())
        {
            if (items.Children != null)
            {
                if (items.Item.DisplayName.ToLower() != "work with us" && items.Item.DisplayName.ToLower() != "follow us")
                {
                    <div class="footerNav">
                        @if (items.IsNewTab)
                        {
                            <h5>
                                <a target="_blank" href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
                            </h5>
                        }
                        else
                        {
                            <h5>
                                <a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
                            </h5>

                        }
                        @if (items.Children != null)
                        {

                            if (items.Item.DisplayName.ToLower() != "follow us")
                            {
                                <ul class="footerSubNav">
                                    @foreach (var child in items.Children.NavItems)
                                    {
                                        if (child.IsNewTab)
                                        {

                                            <li>
                                                <a terget="_blank" href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                @Html.Sitecore().Placeholder("socialmenu-footer")
                            }
                        }

                    </div>
                }
                else if (items.Item.DisplayName.ToLower() == "follow us")
                { 
                    <div class="footerNav">
                        @Html.Sitecore().Placeholder("socialmenu-footer")
                    </div>
                }
                else
                {
                    <div class="footerNav">
                        @if (items.IsNewTab)
                        {
                            <h5>
                                <a target="_blank" href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
                            </h5>
                        }
                        else
                        {
                            <h5>
                                <a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
                            </h5>

                        }
                        @if (items.Children != null)
                        {


                            if (items.Item.DisplayName.ToLower() != "follow us")
                            {
                                <ul class="footerSubNav">
                                    @foreach (var child in items.Children.NavItems)
                                    {
                                        if (child.IsNewTab)
                                        {

                                            <li>
                                                <a terget="_blank" href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                @Html.Sitecore().Placeholder("socialmenu-footer")
                            }
                        }

                    </div>
                }
            }
            else
            {
                if (i == 0)
                {
                    <h5 class="footerNav">
                        @Html.Sitecore().Field(Templates.Link.Fields.Link, items)
                    </h5>
                    i++;
                }
                else
                {
                    if (items.Item.DisplayName.ToLower() != "contact us")
                    {
                        <h5 class="footerNav" style="margin-top: -7%; margin-left: 33%;">
                            @Html.Sitecore().Field(Templates.Link.Fields.Link, items)
                        </h5>
                    }
                    else
                    {
                        <h5 class="footerNav" style="margin-top:-12%;">
                            @Html.Sitecore().Field(Templates.Link.Fields.Link, items)
                        </h5>
                    }
                }
            }

        }
    </div>
</div>
<!-- Expanded Footer -->
<!-- Collapsed Footer -->
<div class="footerCollapsed">
    <div class="row">
        @Html.Sitecore().Placeholder("footer-logo-2")
        <div class="col-12">
            @foreach (var items in Model.NavItems.ToList())
            {
                if (items.Item.DisplayName.ToLower() != "follow us")
                {
                    if (items.IsNewTab)
                    {
                        <div class="footerNav">
                            <h5><a target="_blank" href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a></h5>
                        </div>
                    }
                    else
                    {
                        <div class="footerNav">
                            <h5><a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a></h5>
                        </div>
                    }
                }
                else
                {

                    @*<div class="footerNav" style="margin-top: 0%;">
                            @if (items.IsNewTab)
                            {
                                <h5>
                                    <a target="_blank" href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
                                </h5>
                            }
                            else
                            {
                                <h5>
                                    <a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
                                </h5>
                            }
                            @Html.Sitecore().Placeholder("socialmenu-footer")
                        </div>*@
                    <div style="margin-left: 1%;">
                        @Html.Sitecore().Placeholder("socialmenu-footer")
                    </div>
                }
            }
        </div>
    </div>
</div>

