@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}



<div class="section bg-light communitySec" id="communitiesSec">
    <div class="container">
        <h3 class="text-center txt-blue mb-3">@Html.Sitecore().Dictionary("/Home/Community/Title", "Communities")</h3>
        <div class="py-3">
            <div>
                <div class="row">
                    @foreach (var item in Model.NavItems)
                    {
                        <div class="col-lg-6 community1 mb-4">
                            @if (item.IsNewTab)
                            {
                                <a href="@item.Url" target="_blank" class="communityTile small @item.BGCSS">
                                    <p class="tileCnt">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</p>
                                </a>
                            }
                            else
                            {
                                <a href="@item.Url" class="communityTile small @item.BGCSS">
                                    <p class="tileCnt">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</p>
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>