
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    var ContextItem = Sitecore.Mvc.Presentation.RenderingContext.Current.ContextItem;
}



<div class="pageContent">
    <div class="container">
        <div class="row about-energy">
            @foreach (var item in Model.NavItems)
            {
                var url = item.Url;


                <div class="col-lg-2 col-sm-6" id="">
                    <a class="link-tile" href="@item.Url">
                        @if (url.ToString().Contains(ContextItem.Name))
                        {
                            <span>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ActiveImage, item)</span>
                            <h5><span class="txt-orange">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</span></h5>
                        }
                        else
                        {
                            <span>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)</span>
                            <h5><span class="">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</span></h5>
                        }
                    </a>
                </div>
            }
        </div>
        <div style="padding-right: 0px !important; padding-left: 0px !important;">
            @Html.Sitecore().Placeholder("tab-content")

        </div>
    </div>
</div>