@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    var i = 0;
}
<!-- Expanded Footer -->

<div class="row footerPanel2">
    @foreach (var items in Model.NavItems.ToList())
    {
    if (items.Children != null)
    {
    <div class="col-md-3 ft-submenu col-6 d-md-block d-none">
        @*<h5><a target="_blank" href="@items.Url">@items.Item.DisplayName</a></h5>*@
        @if (items.IsNewTab)
        {
        <h5>
            <a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a>
        </h5>
        }
        else
        {
        <h5>
            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)
        </h5>

        }
        <ul class="ft-business">
            @foreach (var child in items.Children.NavItems)
            {
            if (child.IsNewTab)
            {

            <li>
                <a target="_blank" href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a>
            </li>
            }
            else
            {
            <li>
                <a href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a>
            </li>
            }
            }
        </ul>

    </div>
    }

    }

    <div class="col-md-2 col-6 d-md-block d-none border-right ">
        <div>
            @foreach (var items in Model.NavItems.ToList())
            {

            if (items.Children == null)
            {
            
            if (items.IsNewTab)
            {
            <h5>
                <a target="_blank" href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items)</a>
            </h5>
            }
            else
            {
            <h5>
                <a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items)</a>
            </h5>
            }
            }
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="row ft-logo">
            <div class="col-sm-12 mb-3 text-center">
                <ul class="ft-social">
                    <li><a target="_blank" href="@Html.Sitecore().Dictionary("/Footer/Social Links/facebook","https://www.facebook.com/AdaniOnline")"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a target="_blank" href="@Html.Sitecore().Dictionary("/Footer/Social Links/twitter","https://twitter.com/adanionline")"><i class="fab fa-twitter"></i></a></li>
                    <li><a target="_blank" href="@Html.Sitecore().Dictionary("/Footer/Social Links/instagram","https://www.instagram.com/realtyadani/")"><i class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="@Html.Sitecore().Dictionary("/Footer/Social Links/youtube","https://www.youtube.com/user/AdaniOnline")"><i class="fab fa-youtube"></i></a></li>
                    <li><a target="_blank" href="@Html.Sitecore().Dictionary("/Footer/Social Links/linkedin","https://www.linkedin.com/company/adani-group/")"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-12 text-center">
                <ul class="terms-link d-md-none">
                    <li class="d-inline-block"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/privacypolicy","/privacy-policy")" class="txt-blue">Privacy Policy</a></li>
                    <li class="d-inline-block"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/desclaimer","/disclaimer")" class="txt-blue">Legal Disclaimer</a></li>
                    <li class="d-inline-block"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/termsofuse","/terms-and-conditions")" class="txt-blue">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-12 text-center footerlogo">
                <img src="@Html.Sitecore().Dictionary("/Footer/logos/footerlogo","-/media/13D44CA3F94C48368459F92B13F9DE71.ashx")" class="img-fluid">
            </div>
            <div class="col-sm-12 d-md-none mb-3">
                <p class="sitemap-link bg-gradient-orange d-block p-2">Sitemap<i class="fa fa-angle-down"></i></p>
            </div>
            <div class="col-sm-12 d-none ft-mobilemenu">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="text-center"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/business","#")">Business</a></h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-center"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/sustainability","/sustainability")">Sustainability</a></h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-center"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/about","/about")">About Us</a></h5>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-center"><a href="@Html.Sitecore().Dictionary("/Footer/Mobile footer links/contact","/contact-us")">Contact Us</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

