@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}


<div class="contactPanel">
    <div class="contactBanner">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, Model.NavItems[0].Item, 922, 1903)</div>
    <div class="container">
        <div class="row align-items-center text-center">
            @foreach (var item in Model.NavItems)
            {
                if (item.IsNewTab)
                {
                    <div class="col-md-6 text-md-left"><h4>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</h4></div>
                    <div class="col-md-5 ml-md-auto"><a target="_blank" href="@item.Url" class="btnBordered whiteBtn btnLg">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></div>
                }
                else
                {
                    <div class="col-md-6 text-md-left"><h4>@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</h4></div>
                    <div class="col-md-5 ml-md-auto"><a href="@item.Url" class="btnBordered whiteBtn btnLg">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></div>

                }
            }
        </div>
    </div>
</div>



