@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

<nav class="menu-main-menu-container">
    <ul id="menu-main-menu" class="menu">
        @if (Model?.NavItems != null)
        {
            foreach (var item in Model.NavItems)
            {
                var hasChildren = item.Children != null && item.Children.NavItems.Any() && item.ShowChildren;



                <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item">
                    @if (hasChildren)
                    {
                        <a href="@item.Url" class="subitemMenu1">
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                        </a>
                        <ul class="sub-menu">
                            @foreach (var subitem in item.Children.NavItems)
                            {
                                <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object">
                                    <a href="@subitem.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, subitem.Item)</a>
                                </li>
                            }

                        </ul>
                    }
                    else
                    {
                        <a href="@item.Url">
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                        </a>
                    }
                </li>
				

            }

        }
		<li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item">
					<a>More </a>
					<ul class="sub-menu">
                                <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object sub_submenu inactive">
                                    <a href="#">About Us <i class="fa fa-angle-down"></i></a>
									 <ul class="aboutusul sub_submenu--inner">
									 <li><a href="https://www.ahmedabadmarathon.com/About/About-The-Run">About The Run</a></li>
									 <li><a href="https://www.ahmedabadmarathon.com/About/About-Adani-Group">About Adani Group</a></li>
									 </ul>
                                </li>
                                <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object sub_submenu inactive">
                                    <a href="#">Newsroom <i class="fa fa-angle-down"></i></a>
									 <ul class="Newsroomul sub_submenu--inner">
									 <li><a href="https://www.ahmedabadmarathon.com/Media_Page/Photos">Photos</a></li>
									 <li><a href="https://www.ahmedabadmarathon.com/Media_Page/Videos">Videos</a></li>
									 <li><a href="https://www.ahmedabadmarathon.com/Media_Page/In-the-News">In the News</a></li>
									 </ul>
                                </li>
								<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object">
                                    <a href="/#IdContactUs">Contact Us</a>
                                </li>
                        </ul>
				<li>
    </ul>
    </nav>
