
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    var a = 1;
    var isSocialMenu = Model.NavItems.All(i => !string.IsNullOrWhiteSpace(i.Item[Templates.LinkMenuItem.Fields.Icon]));
}

<div class="menu-social-links-container">

    @*<ul class="@(isSocialMenu ? "social-links m-0" : "mobile-none") float-right">
            @foreach (var item in Model.NavItems)
            {
                var liclass = item.IsActive ? "active " : "";
                if (item.Item.Fields[Templates.LinkMenuItem.Fields.DividerBefore].IsChecked())
                {
                    liclass += "divider-left";
                }
                <li class="@liclass">
                    <a href="@item.Url" target="@item.Target" title="@item.Item[Templates.Navigable.Fields.NavigationTitle]">
                        @if (!string.IsNullOrWhiteSpace(item.Item[Templates.LinkMenuItem.Fields.Icon]))
                        {
                            <span class="@item.Item[Templates.LinkMenuItem.Fields.Icon] in border rounded-circle p-1 social-icons-top"></span>
                        }
                        else
                        {
                            if (item.Item[Templates.LinkMenuItem.Fields.Image] != null)
                            {
                                @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item, 20, 67)
                            }
                            else
                            {
                                @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                            }

                        }

                    </a>

                </li>

            }
        </ul>*@
    @*<ul class="mx-3 quick-links float-right">
            <li class="topSearch">
                <a href="#">
                    <span class="searchIcon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span class="searchTxt">&nbsp;&nbsp;@Html.Sitecore().Dictionary("/Realty/Menu/Search Label", "Search")</span>
                </a>
            </li>
        </ul>

        <ul class="quick-links float-right">
            <li><a href="mailto:@Html.Sitecore().Dictionary("/Realty/Menu/Info Email", "info@adanirealty.com")"><i class="fas fa-envelope"></i>&nbsp;&nbsp;@Html.Sitecore().Dictionary("/Realty/Menu/Info Email", "info@adanirealty.com")</a></li>
            <li class="ml-3"><span><i class="fas fa-phone rotate90"></i>&nbsp;&nbsp;@Html.Sitecore().Dictionary("/Realty/Menu/Phone Number", "1800 108 009")</span></li>
        </ul>*@




    <ul class="header-social-icons">
        @foreach (var item in Model.NavItems)
        {

            <li id="menu-item-@a" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-@a">
                <a href="@item.Url" target="@item.Target">
                    @if (!string.IsNullOrWhiteSpace(item.Item[Templates.LinkMenuItem.Fields.Icon]))
                    {
                        <i class="fa fa-@item.Item[Templates.LinkMenuItem.Fields.Icon]" aria-hidden="true"></i>
                    }
                    else
                    {
                        if (item.Item[Templates.LinkMenuItem.Fields.Icon] != null)
                        {
                            @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Icon, item.Item, 20, 67)
                        }
                        else
                        {
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                        }

                    }

                </a>

            </li>
            a++;

        }
    </ul>
</div>
