@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}
<section class="section" id="resources">
    <div class="container">
        <h3 class="sectionHeading leftAlign mt-0">Resources</h3>
        <div class="row">
            @foreach (var item in Model.NavItems)
            {
                <div class="col-sm-6 col-md-3 col-6">
                    @if (item.IsNewTab)
                    {
                        <a href="@item.Url" class="resourceItem" target="_blank">
                            <div class="resourceIcon">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item)</div>
                            <div class="py-2">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>
                        </a>
                    }
                    else
                    {
                        <a href="@item.Url" class="resourceItem">
                            <div class="resourceIcon">@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, item.Item)</div>
                            <div class="py-2">@Html.Sitecore().Field(Templates.LinkMenuItem.Fields.ShortDesc, item.Item)</div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</section>


