@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}


<div class="accountServices">
    <!-- <div class="row"> -->
    <!-- <div class="col-6 accSerItem"> -->
    <!-- <div class=""> -->
    <!-- <div class="iconBox"> <img src="/-/media/Project/Electricity/Accounts/paperless-billing.png" alt="" width="71" height="73" item="Sitecore.Data.Items.Item" url="https://iss.adanielectricity.com/mumbainsc/" showchildren="True" isnewtab="False" isvisible="False" level="0" isactive="False" target="_blank" isexternallink="True" link="https://iss.adanielectricity.com/mumbainsc/"></div> -->
    <!-- <a href="https://iss.adanielectricity.com/mumbainsc/" target="_blank" class="accService">Online Application</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-6 accSerItem"> -->
    <!-- <div class=""> -->
    <!-- <div class="iconBox"> <img src="/-/media/Project/Electricity/Accounts/pay-bill.png" alt="" width="61" height="61" item="Sitecore.Data.Items.Item" url="/Payment/pay-your-bill" showchildren="True" isnewtab="False" isvisible="False" level="0" isactive="False" isexternallink="False" link="/Electricity/Home/Payment/pay-your-bill"></div> -->
    <!-- <a href="/Payment/pay-your-bill" target="_blank" class="accService">Quick Bill Pay</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <p >With the 'My Account' feature you can:</p> -->
    <div class="row nohover">
        @foreach (var item in Model.NavItems)
        {
            <div class="col-6 accSerItem">
                <div class="accSerTile">
                    <div class="iconBox">
                        @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)
                    </div>
                    @if (string.IsNullOrEmpty(item.Url))
                    {
                        <a href="@item.Url" class="accService">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</a>
                        @Html.Sitecore().Field("TagLine", item)
                    }
                    else
                    {
                        <a href="@item.Url" target="_blank" style="cursor:pointer;" class="accService">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</a>
                        @Html.Sitecore().Field("TagLine", item)
                    }
                </div>
            </div>

        }
    </div>
</div>