@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems
@{


    if (Model?.NavItems == null)
    {
        return;
    }
}
<div class="manageAcBoxOuter newUserAcc">
    <div class="manageAcBox box-inner-shadow">
        <div class="manageAcBoxPd">
            <h4 class="txt-orange mb-3 mobile-none">New User</h4>
            <div class="row mb-3">
                @foreach (var item in Model.NavItems)
                {

                <div class="col-lg-6 text-center">
                    @if (item.IsNewTab)
                    {
                        <a href="@item.Url" target="_blank" class="actionTile">
                            <div class="sprite mobile-none @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS, item)"></div>
                            <h5>@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</h5>
                        </a>
                    }
                    else
                    {
                        <a href="@item.Url" class="actionTile">
                            <div class="sprite mobile-none @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.BGCSS, item)"></div>
                            <h5>@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</h5>
                        </a>
                    }
                </div>                
                }
            </div>
        </div>
    </div>
</div>
