@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
}

<div class="">
    <div class="container">
        <div>
            <p class="pb-3">@Html.Sitecore().Field("Heading")</p>
            <div class="row">
                @foreach (var item in Model.NavItems)
                {
                    <div class="col-sm-6 col-md-5">
                        @if (!item.IsNewTab)
                        {                            
                        <a href="@item.Url" class="link-tile" title="@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]">
                            <span class="link-icon">
                                @*@item.Item[Templates.LinkMenuItem.Fields.Image]*@
                                @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)
                            </span>
                            <span class="link-text">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</span>
                        </a>
                        }
                        else
                        {                           
                            <a href="@item.Url" target="_blank" class="link-tile" title="@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]">
                                <span class="link-icon">
                                    @*@item.Item[Templates.LinkMenuItem.Fields.Image]*@
                                    @Html.Sitecore().Field(Templates.LinkMenuItem.Fields.Image, item)
                                </span>
                                <span class="link-text">@item.Item[Templates.LinkMenuItem.Fields.ShortDesc]</span>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
