@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    var url = Request.Url.AbsoluteUri;
    if (Model?.NavItems == null)
    {
        return;
    }
}
@if (Model?.NavItems != null)
{
    foreach (var item in Model.NavItems)
    {
        if (item.IsNewTab)
        {
            <li>
                <a itemprop="sameAs" target="_blank" href="@item.Url" target="@item.Target"><i class="@item.Item[Templates.LinkMenuItem.Fields.Icon]"></i></a>
            </li>
        }
        else
        {
            <li>
                <a itemprop="sameAs" href="@item.Url" target="@item.Target"><i class="@item.Item[Templates.LinkMenuItem.Fields.Icon]"></i></a>
            </li>
        }
    }

}

