
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    var url = Request.Url.AbsoluteUri;
    if (Model?.NavItems == null)
    {
        return;
    }
}
@if (Model?.NavItems != null)
{
<ul class="ul-media-btm-sidebar">
    @foreach (var item in Model.NavItems)
    {
        if (item.IsNewTab)
        {






            <li><a href="@item.Url" target="_blank"><i>@Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image)</i>   @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
        }
        else
        {
            <li><a href="@item.Url"><i>@Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image,item.Item,0,0,"img-fluid")</i>   @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></li>
        }
    }
</ul>
}