@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var j = 0;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}



@*<div class="row no-gutters h-100">
        <div class="col-md-6">
            @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, element, 0, 0, "img-fluid w-100 h-100")

        </div>
        <div class="col-md-6 bg-white p-5">
            <h3 class="section-heading">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, element)</h3>
            <ul class="ul-policies-section">
                @foreach (var items in Model.NavItems.ToList())
                {
                    <li>
                        <p><a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a></p>
                    </li>
                }
            </ul>
        </div>
    </div>*@










<div class="row no-gutters h-100">
    <div class="col-md-6">
        @Html.Sitecore().ImageField(Templates.LinkMenuItem.Fields.Image, element, 0, 0, "img-fluid w-100 h-100")

    </div>
    <div class="col-md-6 bg-white p-5">
        <h3 class="section-heading">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, element)</h3>

        <div class="owl-carousel single-carousel">

            @foreach (var items in Model.NavItems.ToList())
            {
                if (j % 5 == 0)
                {
                    @:<div class="item">
                        @:<ul class="ul-policies-section">
                }

                        <li>
                            <p><a href="@items.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</a></p>
                        </li>

                if (j == 4 || j== Model.NavItems.Count-1)
                {
                        @: </ul>
                    @:</div>
                }
                j++;
            }


        </div>
    </div>
</div>
