@*
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

<div class="pl-5" id="topMenu">
    <div id="dismiss" class="d-block d-lg-none"><i class="far fa-times-circle"></i></div>
    <div class="clearfix"></div>
    <ul class="topMenu">       
        @if (Model?.NavItems != null)
        {
            foreach (var item in Model.NavItems)
            {
                var hasChildren = item.Children != null && item.Children.NavItems.Any() && item.ShowChildren;
                var cssClass = "";
                if (hasChildren)
                {
                    cssClass += " dropdown";
                }

                <li class="@cssClass">

                    @if (hasChildren)
                    {

                        <a href="@item.Url" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var subitem in item.Children.NavItems)
                            {
                                <li class="@(subitem.IsActive ? "active" : "")">
                                    <a href="@subitem.Url" target="@subitem.Target">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, subitem.Item)</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        if (!item.IsExternalLink)
                        {
                            if (!item.IsNewTab)
                            {
                                <a href="@item.Url" target="@item.Target">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                            else
                            {
                                <a href="@item.Url" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                        }
                        else
                        {
                            if (!item.IsNewTab)
                            {
                                <a href="@item.Link" target="@item.Target">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                            else
                            {
                                <a href="@item.Link" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                        }
                    }
                </li>
            }
			
			<li><a href="https://careers.adani.com/" target="_blank">Careers</a></li>
			<li><a href="/Contact-Us">Contact Us</a></li>
        }
    </ul>
</div>
*@

<div class="pl-5 " id="topMenu">
    <div id="dismiss" class="d-block d-lg-none"><i class="far fa-times-circle"></i></div>
    <div class="clearfix"></div>
    <ul class="topMenu d-lg-flex d-none">
        <li class="dropdown">

            <a href="/About-us">
                About Us
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/About-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/About-us/Board-of-Directors">Board of Directors</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/About-us/CEO-Message">CEO's Message</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" href="/About-us/Chairman-Message">Chairman Message</a>

                        </div>

                    </div>
                </div>
            </div>


        </li>
        <li class="dropdown">

            <a href="/Sustainability">
                Sustainability
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/Sustainability">Explore Sustainability </a></h5>
                    <hr />
                    <div class="row">
					<div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Climate-Resilience">Climate Resilience</a>

                    </div>
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Water">Water Management</a>

                    </div>
					<div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Waste-Management">Waste Management</a>

                    </div>
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Maintaining-Coastal-Ecosystem">Maintaining Coastal Ecosystem</a>

                    </div>
					<div class="col-md-6">
                             <a class="dropdown-item" href="/Sustainability/Safety-as-a-Value">Safety as a Value</a>

                    </div>  
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Valuing-Talent">Valuing Talent</a>

                    </div>
										 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Customer">Customer</a>

                    </div>
					<div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Ethical-Supply-Chain">Sustainable Supply Chain</a>

                    </div>
                    <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Communities">Communities</a>

                    </div>
                    
                    
                    
                        
                       
                       

                    </div>
                </div>
            </div>
        </li>

        <li class="dropdown">

            <a href="/Investors">
                Investors
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5><a href="/Investors">Explore Investor Relations</a></h5>
                    <hr />
                    <div class="row">
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Investor-Downloads">Investor Downloads</a>

                        </div>
						<div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Analyst-Coverage">Analyst Coverage</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Investor-FAQs">Investors FAQ's</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Corporate-Governance">Corporate Governance</a>

                        </div>
						<div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/board-and-committee-charters">Board And Committee Charters</a>

                        </div>
						<div class="col-md-6">
                            <a class="dropdown-item" href="/investors/Key-Management-Personnel">Key Management Personnel</a>

                        </div>
						<div class="col-md-6">
							<a class="dropdown-item" href="/Investors/disclosure-under-regulation-46-of-SEBI-LODR-regulations">Disclosure 46 Of SEBI (LODR) Regulations</a>
						</div>
						<div class="col-md-6">
							<a class="dropdown-item" href="/Investors/disclosure-under-regulation-62-of-SEBI-LODR-regulations">Disclosure 62 Of SEBI (LODR) Regulations</a>
						</div>
                        
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">

            <a href="/Newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                <div class="container-fluid">
                    <h5><a href="/Newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Coverages">Media Coverage</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Releases">Media Release</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Library">Media Library</a>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="https://careers.adani.com/" target="_blank">Careers</a></li>
        <li><a href="/Contact-Us">Contact Us</a></li>

    </ul>
    <ul class="topMenu d-lg-none d-block">
        <li class="dropdown">

            <a href="/Ports-and-Terminals">
                Ports & Terminal
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/Ports-and-Terminals">Explore Ports & Terminal</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Mundra-Port">Mundra Port</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Tuna-Terminal">Tuna Terminal</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Dahej-Port">Dahej Port</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Hazira-Port">Hazira Port</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Mormugao--Terminal">Mormugao Terminal</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Vizhinjam-Port">Vizhinjam Port</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Kattupalli-Port">Kattupalli Port</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Ennore-Terminal">Ennore Terminal</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/Vizag-Terminal">Vizag Terminal</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Ports-and-Terminals/dhamra-port">Dhamra Port</a>

                        </div>
						 <div class="col-md-6">
										<a class="dropdown-item" href="/Ports-and-Terminals/Krishnapatnam-port">Krishnapatnam Port</a>
										
									</div>
									 <div class="col-md-6">
										<a class="dropdown-item" href="/Ports-and-Terminals/Gangavaram-Port">Gangavaram Port</a>
										
									</div>
									 <div class="col-md-6">
										<a class="dropdown-item" href="/Ports-and-Terminals/Dighi-Port">Dighi Port</a>
										
									</div>
                                     <div class="col-md-6">
                                        <a class="dropdown-item" href="/Ports-and-Terminals/Karaikal-Port">Karaikal Port</a>

                                    </div>
                    </div>
                </div>
            </div>

        </li>


        <li class="dropdown">
            <a href="/industrial-land">Industrial Land</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5> <a href="/industrial-land">Explore Industrial Land</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/industrial-land#the-mundra-advantage">The Mundra Advantage</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/industrial-land#utilities">Utilities </a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/industrial-land#social-infrastructure">Social Infrastructure</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/industrial-land#industrial-clusters">Industrial Clusters </a>

                        </div>
                    </div>
                </div>
            </div>



        </li>
        <li><a href="/Logistics">Logistics</a></li>
        <li><a href="/Dredging">Dredging</a></li>
		<li class="dropdown">

            <a href="/About-us">
                About Us
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5><a href="/About-us">Explore About Us</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/About-us/Board-of-Directors">Board of Directors</a>

                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/About-us/CEO-Message">CEO's Message</a>

                        </div>
						<div class="col-lg-6">
                            <a class="dropdown-item" href="/About-us/Chairman-Message">Chairman Message</a>

                        </div>

                    </div>
                </div>
            </div>


        </li>
        <li class="dropdown">

            <a href="/sustainability">
                Sustainability
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="/Sustainability">Explore Sustainability</a></h5>
                    <hr />
                   <div class="row">
					<div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Climate-Resilience">Climate Resilience</a>

                    </div>
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Water">Water Management</a>

                    </div>
					<div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Waste-Management">Waste Management</a>

                    </div>
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Maintaining-Coastal-Ecosystem">Maintaining Coastal Ecosystem</a>

                    </div>
					<div class="col-md-6">
                             <a class="dropdown-item" href="/Sustainability/Safety-as-a-Value">Safety as a Value</a>

                    </div>  
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Valuing-Talent">Valuing Talent</a>

                    </div>
										 <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Customer">Customer</a>

                    </div>
					<div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Ethical-Supply-Chain">Sustainable Supply Chain</a>

                    </div>
                    <div class="col-md-6">
                            <a class="dropdown-item" href="/Sustainability/Communities">Communities</a>

                    </div>
                    
                
                    
                    </div>
                </div>
            </div>
        </li>

        <li class="dropdown">

            <a href="/Investors">
                Investors
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                <div class="container-fluid">
                    <h5>  <a href="/Investors">Explore Investor Relations</a></h5>
                    <hr />
                   <div class="row">
					 <div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Investor-Downloads">Investor Downloads</a>

                        </div>
						<div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Analyst-Coverage">Analyst Coverage</a>

                        </div>
						 <div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Investor-FAQs">Investors FAQ's</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/Corporate-Governance">Corporate Governance</a>

                        </div>
						<div class="col-md-6">
                            <a class="dropdown-item" href="/Investors/board-and-committee-charters">Board And Committee Charters</a>

                        </div>
						
                        
                    </div>
                </div>
            </div>
        </li>
		 <li class="dropdown">

            <a href="/Newsroom">
                Newsroom
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                <div class="container-fluid">
                    <h5><a href="/Newsroom">Explore Newsroom</a></h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Coverages">Media Coverage</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Releases">Media Release</a>

                        </div>
                        <div class="col-md-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Library">Media Library</a>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="https://careers.adani.com/" target="_blank">Careers</a></li>
        <li><a href="/Contact-Us">Contact Us</a></li>

    </ul>
</div>








