@*
    @using Sitecore.Feature.Navigation
    @using Sitecore.Foundation.SitecoreExtensions.Extensions
    @model Sitecore.Feature.Navigation.Models.NavigationItems

    @{
        /**/

        if (Model?.NavItems == null)
        {
            return;
        }

    }

    @if (Model?.NavItems != null)
    {

    <nav class="navbar navbar-expand-lg pl-5">
        <div class="">

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">


                    @foreach (var item in Model.NavItems)
                    {

                        <li class="nav-item active">
                            <a class="nav-link" href="@item.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a>

                             @{var hasChildren = item.Children != null && item.ShowChildren;

                                if (hasChildren)
                                {
                            <ul class="dropdown-menu">
                                @foreach (var subitem in item.Children.NavItems)
                                {
                                    <li class="@(subitem.IsActive ? "active" : "")">
                                        <a href="@subitem.Url" target="@subitem.Target">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, subitem.Item)</a>
                                    </li>
                                }
                            </ul>
                                    }
                                }

                        </li>

                    }

                    </ul>
            </div>
        </div>
    </nav>
    }
*@

<nav class="navbar navbar-expand-lg pl-5">
    <div class="">

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown megamenu-li">
                    <a class="nav-link dropdown-toggle" href="/Ports-and-Terminals">Ports & Terminals</a>
                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                        <div class="container-fluid">
                            <h5><a href="/Ports-and-Terminals">Explore Ports & Terminal</a></h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Mundra-Port">Mundra Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Tuna-Terminal">Tuna Terminal</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Dahej-Port">Dahej Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Hazira-Port">Hazira Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Mormugao--Terminal">Mormugao Terminal</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Vizhinjam-Port">Vizhinjam Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Kattupalli-Port">Kattupalli Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Ennore-Terminal">Ennore Terminal</a>

                                </div>
                                <!-- <div class="col-md-6"> -->
                                <!-- <a class="dropdown-item" href="/Ports-and-Terminals/Vizag-Terminal">Vizag Terminal</a> -->
                                <!-- </div> -->
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/dhamra-port">Dhamra Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Krishnapatnam-port">Krishnapatnam Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Gangavaram-Port">Gangavaram Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Dighi-Port">Dighi Port</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Ports-and-Terminals/Karaikal-Port">Karaikal Port</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item  dropdown megamenu-li">
                    <a class="nav-link dropdown-toggle" href="/Industrial-Land">Industrial Land</a>
                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                        <div class="container-fluid">
                            <h5><a href="/Industrial-Land">Explore Industrial Land</a> </h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Industrial-Land#the-mundra-advantage">The Mundra Advantage</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Industrial-Land#utilities">Utilities </a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Industrial-Land#social-infrastructure">Social Infrastructure</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Industrial-Land#industrial-clusters">Industrial Clusters </a>

                                </div>
                            </div>
                        </div>
                    </div>



                </li>
                <li class="nav-item  dropdown megamenu-li">

                    <a class="nav-link dropdown-toggle" href="/Logistics">Logistics</a>
                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                        <div class="container-fluid">
                            <h5><a href="/Logistics">Explore Logistics</a> </h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Logistics#services">Logistics Park</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Logistics#services">Auto Logistics</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Logistics#services">Road Logistics</a>

                                </div>
                                @*<div class="col-md-6">
                                        <a class="dropdown-item" href="/Logistics#services">Inland Waterways</a>

                                    </div>*@
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Logistics#services">Rail Operations</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Logistics#services">Warehousing</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Logistics#services">Agri Logistics</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown megamenu-li">

                    <a class="nav-link dropdown-toggle" href="/Dredging">Dredging</a>
                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                        <div class="container-fluid">
                            <h5><a href="/Dredging">Explore Dredging</a> </h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Dredging#activities">Capital Dredging</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Dredging#activities">Maintenance Dredging</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="/Dredging#activities">Inland Water Dredging</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>