@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }
    var i = 0;
    var cssClass = "";
}

@foreach (var items in Model.NavItems.ToList())
{
    if (i == 0)
    {
        cssClass = "col-md-2 ft-submenu col-6";
    }
    else if (i == 1)
    {
        cssClass = "col-md-3 col-6";
    }
    else if (i == 2)
    {
        cssClass = "col-md-2 col-6";
    }
    else if (i == 3)
    {
        cssClass = "col-md-2 col-6";
    }

   


    <div class="@cssClass">
        <h5>@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, items.Item)</h5>
        <ul>
@if (items.Children != null)
{ foreach (var child in items.Children.NavItems)
{
                <li><a href="@child.Url">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)</a></li>
}
}       </ul>
    </div>


    i++;
}
<div class="col-lg-3 col-md-8">
    @Html.Sitecore().Placeholder("footer-form")
</div>