@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var isSocialMenu = Model.NavItems.All(i => !string.IsNullOrWhiteSpace(i.Item[Templates.LinkMenuItem.Fields.Icon]));
}

<!-- Secondary Navigation -->
<div class="navBar2">
    <div class="container">
        <div class="row navTilesWrapper no-gutters">
            @foreach (var item in Model.NavItems)
            {
                var liclass = item.IsActive ? "active " : "";
                if (item.Item.Fields[Templates.LinkMenuItem.Fields.DividerBefore].IsChecked())
                {
                    liclass += "divider-left";
                }

                <div class="col navTile my-2">
                    @if (item.IsNewTab)
                    {
                        <ul class="@item.IconCss">
                            <li class="dropdown">
                                <a href="#">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>

                                @if (item.BGCSS == "apply")
                                {
                                    @*<div class="dropdown-menu box-inner-shadow navTilesDropdown">
                                        <a class="dropdown-item" href="/png-residential/customer-inquiry">Residential</a>
                                        <a class="dropdown-item" href="/png-commercial/customer-inquiry">Commercial</a>
                                        <a class="dropdown-item" href="/png-industrial/customer-inquiry">Industrial</a>
                                    </div>*@
                                    <div class="dropdown-menu box-inner-shadow navTilesDropdown">
                                        <a class="dropdown-item" href="/png-residential/newConnection?cid=DefaultWebsite">Residential</a>
                                        <a class="dropdown-item" href="/png-commercial/newConnection?cid=DefaultWebsite">Commercial</a>
                                        <a class="dropdown-item" href="/png-industrial/newConnection?cid=DefaultWebsite">Industrial</a>
                                    </div>
                                }
                                else if (item.BGCSS == "quickbillpay")
                                {
                                    <div class="dropdown-menu box-inner-shadow navTilesDropdown">
                                        <a class="dropdown-item" target="_blank" href="https://www.bharatbillpay.com/Billpay.php">BBPS</a>
                                        <a class="dropdown-item" href="/myaccount/quick-bill-pay">PayTM/BillDesk/PayUMoney</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown-menu box-inner-shadow navTilesDropdown">
                                        <a class="dropdown-item" href="/png-residential#checkgaspricediv">Residential</a>
                                        @*<a class="dropdown-item" href="/png-commercial#checkgaspricediv">Commercial</a>
                                            <a class="dropdown-item" href="/png-industrial#checkgaspricediv">Industrial</a>*@
                                        <a class="dropdown-item" href="/cng#checkgaspricediv">CNG</a>
                                    </div>
                                }
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="@item.IconCss">
                            <li class="">
                                <a href="@item.Url">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            </li>

                        </ul>
                    }
                </div>
                @*<div class="col navTile my-2">
                        <ul class="customerSpeak"><li><a href="#">Customer Speak</a></li></ul>
                    </div>
                        <div class="col navTile my-2">
                        <ul class="feedback"><li><a href="#">Feedback</a></li></ul>
                    </div>
                    <div class="w-100 d-block d-lg-none"></div>
                    <div class="col navTile my-2">
                        <ul class="faq"><li><a href="#">FAQ</a></li></ul>
                    </div>
                    <div class="col navTile my-2">
                        <ul class="gasPrice"><li><a href="#">Check Gas Price</a></li></ul>
                    </div>
                    <div class="w-100 d-block d-lg-none"></div>
                    <div class="col navTile my-2">
                        <ul class="quickBillPay"><li><a href="#">Quick Bill Pay</a></li></ul>
                    </div>*@
            }
        </div>
    </div>
</div>
<!-- /Secondary Navigation -->