@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    if (Model?.NavItems == null)
    {
        return;
    }

    var isSocialMenu = Model.NavItems.All(i => !string.IsNullOrWhiteSpace(i.Item[Templates.LinkMenuItem.Fields.Icon]));
}
<div class="navBar2">
    <div class="container">
        <div class="row navTilesWrapper no-gutters">
            @foreach (var item in Model.NavItems)
            {
                var liclass = item.IsActive ? "active " : "";
                if (item.Item.Fields[Templates.LinkMenuItem.Fields.DividerBefore].IsChecked())
                {
                    liclass += "divider-left";
                }

                <div class="col-lg-2 col-sm-6 navTile my-2">
                    @if (item.IsNewTab)
                    {
                        <ul class="@item.IconCss">
                            <li class="">
                                <a href="@item.Url" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="@item.IconCss">
                            <li class="">
                                <a href="@item.Url">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
</div>