@using Sitecore.Feature.Navigation
@using Sitecore.Data.Fields
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var currentPage = Sitecore.Context.Item;


    var dataSourceId = RenderingContext.Current.Rendering.DataSource;

    var dataSource = Sitecore.Context.Database.GetItem(dataSourceId);

    Sitecore.Data.Items.Item myItem = (Sitecore.Data.Items.Item)currentPage;
    Sitecore.Data.Fields.MultilistField multiselectListing1 = dataSource.Fields[Templates.SitemapListing.Fields.Listing1];
    Sitecore.Data.Items.Item[] itemsListing1 = multiselectListing1.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectListing2 = dataSource.Fields[Templates.SitemapListing.Fields.Listing2];
    Sitecore.Data.Items.Item[] itemsListing2 = multiselectListing2.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectListing3 = dataSource.Fields[Templates.SitemapListing.Fields.Listing3];
    Sitecore.Data.Items.Item[] itemsListing3 = multiselectListing3.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectListing4 = dataSource.Fields[Templates.SitemapListing.Fields.Listing4];
    Sitecore.Data.Items.Item[] itemsListing4 = multiselectListing4.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectListing5 = dataSource.Fields[Templates.SitemapListing.Fields.Listing5];
    Sitecore.Data.Items.Item[] itemsListing5 = multiselectListing5.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectListing6 = dataSource.Fields[Templates.SitemapListing.Fields.Listing6];
    Sitecore.Data.Items.Item[] itemsListing6 = multiselectListing6.GetItems();

    Sitecore.Data.Fields.MultilistField multiselectListing7 = dataSource.Fields[Templates.SitemapListing.Fields.Listing7];
    Sitecore.Data.Items.Item[] itemsListing7 = multiselectListing7.GetItems();


    Sitecore.Data.Fields.MultilistField multiselectListing8 = dataSource.Fields[Templates.SitemapListing.Fields.Listing8];
    Sitecore.Data.Items.Item[] itemsListing8 = multiselectListing8.GetItems();

}

@if (dataSource != null)
{
     
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col s12 section-container site-map">
                <header class="section-header">
                    <h2>@Html.Sitecore().Field(Templates.SitemapListing.Fields.Title)</h2>
                    <p>@Html.Sitecore().Field(Templates.SitemapListing.Fields.SubTitle)</p>
                </header>
                <div class="site-map">
                    <div class="links">
                        <div class="links-col">
                            <h5>  @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title1) </h5>
                            <ul>
                                @foreach (var item in itemsListing1)
                                {
                                    var navName = item.Fields["Name"].Value;
                                    Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                                    var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                                    var urlTarget = linkfld != null ? linkfld.Target : "";

                                    if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                                    {

                                        <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="links-col">
                            <h5>
                                @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title2)</h5>
                                <ul>
                                    @foreach (var item in itemsListing2)
                                    {
                                        var navName = item.Fields["Name"].Value;
                                        Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                                        var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                                        var urlTarget = linkfld != null ? linkfld.Target : "";

                                        if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                                        {

                                            <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
                                        }
                                    }
                                </ul>
</div>
                        <div class="links-col">
                            <h5>
                                @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title3) </h5>
                                <ul>
                                    @foreach (var item in itemsListing3)
                                    {
                                        var navName = item.Fields["Name"].Value;
                                        Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                                        var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                                        var urlTarget = linkfld != null ? linkfld.Target : "";

                                        if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                                        {

                                            <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
                                        }
                                    }
                                </ul>
</div>
                    </div>

                    <div class="links">
                        <div class="links-col">
                            <h5>
                                @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title4) </h5>
                                <ul>
                                    @foreach (var item in itemsListing4)
                                    {
                                        var navName = item.Fields["Name"].Value;
                                        Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
                                        var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
                                        var urlTarget = linkfld != null ? linkfld.Target : "";

                                        if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
                                        {

                                            <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
                                        }
                                    }
                                </ul>
</div>
                        <div class="links-col">
                         <h5>   @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title5) </h5>
    <ul>
        @foreach (var item in itemsListing5)
        {
            var navName = item.Fields["Name"].Value;
            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
            var urlTarget = linkfld != null ? linkfld.Target : "";

            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
            {

                <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
            }
        }
    </ul>
</div>
                        <div class="links-col">
                            <h5>
                                @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title6) </h5>
    <ul>
        @foreach (var item in itemsListing6)
        {
            var navName = item.Fields["Name"].Value;
            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
            var urlTarget = linkfld != null ? linkfld.Target : "";

            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
            {

                <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
            }
        }
    </ul>
</div>
                    </div>

                    <div class="links endlink">
                        <div class="links-col">
                            <h5>
                                @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title7) </h5>
    <ul>
        @foreach (var item in itemsListing7)
        {
            var navName = item.Fields["Name"].Value;
            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
            var urlTarget = linkfld != null ? linkfld.Target : "";

            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
            {

                <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
            }
        }
    </ul>
</div>
                        <div class="links-col">
                            <h5>
                                @Html.Sitecore().Field(Templates.SitemapListing.Fields.Title8) </h5>
    <ul>
        @foreach (var item in itemsListing8)
        {
            var navName = item.Fields["Name"].Value;
            Sitecore.Data.Fields.LinkField linkfld = item.Fields["Link"];
            var url = linkfld != null && !string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? linkfld.GetFriendlyUrl() : "#";
            var urlTarget = linkfld != null ? linkfld.Target : "";

            if ((!string.IsNullOrEmpty(url)) && (!string.IsNullOrEmpty(navName)))
            {

                <li class="waves-effect"><a href="@url" target="@urlTarget">@navName</a></li>
            }
        }
    </ul>
</div>
                         
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

}
