@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
    var url = Request.Url.AbsoluteUri;
    if (Model?.NavItems == null)
    {
        return;
    }
}
<span itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="@url">
    <ul class="social-links-footer">
        @foreach (var item in Model.NavItems)
        {
            if (item.IsNewTab)
            {
                <li>
                    <a itemprop="sameAs" target="_blank" href="@item.Url" target="@item.Target"><span class="@item.Item[Templates.LinkMenuItem.Fields.Icon]"></span></a>
                </li>
            }
            else
            {
                <li>
                    <a itemprop="sameAs" href="@item.Url" target="@item.Target"><span class="@item.Item[Templates.LinkMenuItem.Fields.Icon]"></span></a>
                </li>
            }
        }
    </ul>
</span>

