@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@{
    var SiloStorageAbout = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["SiloStorageAbout"];
    var SiloStorage = Sitecore.Context.Database.GetItem(SiloStorageAbout);
    var SiloStoragedata = SiloStorage.Children;



    var ConventionalVsSilo = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["ConventionalVsSilo"];
    var ConventionalVsSiloStorage = Sitecore.Context.Database.GetItem(ConventionalVsSilo);
    var ConventionalVsSiloStoragedata = ConventionalVsSiloStorage.Children;




    //var footerlinklink = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["footerlink"];
    //var footerlinklinkitem = Sitecore.Context.Database.GetItem(footerlinklink);
    //var footerlinklinkdata = footerlinklinkitem.Children;


    //var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    //var model = Sitecore.Context.Database.GetItem(datasource);

    //var i = 1;
    //var j = 1;
}


<section class="bg-gray py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <h2 class="heading pl-4 mb-3">   @Html.Sitecore().Field("Title", SiloStorage)</h2>
                @Html.Sitecore().Field("Body", SiloStorage)
            </div>
            <div class="col-lg-6 text-right">
                <div class="owl-carousel b-model-carousel">
                    @foreach (var img in SiloStoragedata.ToList())
                    {
                    <div class="item">
                    @Html.Sitecore().ImageField("MediaThumbnail", img, 0, 0, "img-fluid")
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray pb-5">
    <div class="container">
        <div class="owl-carousel business-carousel">
            @foreach (var img in ConventionalVsSiloStoragedata.ToList())
            { 
                <div class="item">
                    <div class="row">
                        <div class="col-md-8">@Html.Sitecore().ImageField("MediaThumbnail", img, 0, 0, "img-fluid")</div>
                        <div class="col-md-4 position-relative">
                            <div class="carousel-box p-4">
                                @Html.Sitecore().Field("MediaDescription", img)
                            </div>
                        </div>
                    </div>
                </div>
            }  
        </div>
    </div>
</section>