@using Sitecore
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    	
	var url = "#";
  
    var ShopAndDine = Sitecore.Context.Database.GetItem("{2B00F4EA-5CDA-4ED1-95D8-4014FC8318B0}");
    var ShopAndDineTerminalMap = Sitecore.Context.Database.GetItem("{58234A48-E906-4482-B362-9A8B9F54EF11}");
  
    var AirportService = Sitecore.Context.Database.GetItem("{8A65353B-CB5B-4F7B-814F-CBB406DDA5AC}");
    var AirportServiceImage = Sitecore.Context.Database.GetItem("{292F9C40-61C0-4340-BCDB-047614B27459}");
    var AirportServiceOtherService = Sitecore.Context.Database.GetItem("{71C1E890-AD8B-447B-817F-373F5A6FB0E2}");
    var AirportServiceTerminalMap = Sitecore.Context.Database.GetItem("{2641ABE9-798B-4AA4-9299-F25FE487DCA7}");
    var OtherServiceCOunt =0;
    var OtherServiceCOunt1 =0;  
  
    var flight = Sitecore.Context.Database.GetItem("{A5E9FE5D-9F8F-4DCD-96FB-452A0EFD00F2}");
  
    var PG = Sitecore.Context.Database.GetItem("{1AF1B100-6738-44AA-AE8B-969719B4CE9B}");
  
    var Transport = Sitecore.Context.Database.GetItem("{68EF4FF2-AF09-42A6-A3EE-A0A5F15F8580}");
  
    var Arrival = Sitecore.Context.Database.GetItem("{F5E7A2FA-7B27-4127-83A5-4D509CA01D2F}");
    var ArrivalContent = Sitecore.Context.Database.GetItem("{26C48C08-2D83-44E3-BA09-8ED0AB64B2AC}");
    var Departure = Sitecore.Context.Database.GetItem("{CED1015D-7CFA-4B68-9141-3EFE4D903B05}");
    var DepartureContent = Sitecore.Context.Database.GetItem("{8418CB41-A3BD-46C6-AEC3-6A31CBB97B33}");
  
    var PGTerminalMap = Sitecore.Context.Database.GetItem("{59DDF77E-5E86-4F9A-8225-AF0097BD5709}");
    var PGFAQ = Sitecore.Context.Database.GetItem("{0A54D5E2-A722-49D4-9DE3-6CA77F29078A}");

	
}

        <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        	<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--shop-dine">
                                    <a class="nav-link" href="@ShopAndDine.Url()">Shop & Dine</a>
									<div class="megamenu">
										<div class="row">
									@foreach (var element in ShopAndDine.GetChildren().ToList())
									{
										if (element.Fields["Title"] != null)
										{
										<div class="col-lg-2">
											<div class="row">
												<div class="col-12">
														<div>
														 <a href="@element.Url()">
														<h3>@Html.Sitecore().Field("Title", element)<span class="fa fa-angle-right"></span></h3>
															<div>
																@Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid")
															</div>
														</a>
														</div>
												</div>
											</div>
										</div>
										}
									}	
									<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stageJaipur.adaniairports.com/ShopAndDine#Feedback"><h3>Feedback<span class="fa fa-angle-right"></span></h3>
															<div>
															<img alt="" src="-/media/8F79BF3485DE46749F8D66110FA115F1.ashx" />
															</div>
															</a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
									<li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--airport-services">
                                    <a class="nav-link" href="@AirportService.Url()">Airport Services</a>
											<div class="megamenu">
									<h3>Services we offer <span class="fa fa-angle-right"></span></h3>
										<div class="row">
										<div class="col-lg-4">
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																@Html.Sitecore().ImageField("BannerImage", AirportServiceImage, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
														@foreach (var element in AirportService.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
														</div>
													</div>
												</div>
											</div>											
		
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
														@foreach (var element in AirportServiceOtherService.GetChildren().ToList())
														{
															if(OtherServiceCOunt < 5)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															OtherServiceCOunt = OtherServiceCOunt +1;
															}
														}														
															
														</div>
													</div>
												</div>
											</div>
												<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
														<div>
														@foreach (var element in AirportServiceOtherService.GetChildren().ToList())
														{
															if(OtherServiceCOunt1 > 4)
															{
															<p><a href="@element.Url()">@Html.Sitecore().Field("Title", element)</a></p>
															OtherServiceCOunt1 = OtherServiceCOunt1 +1;
															}
															else
															{
															OtherServiceCOunt1 = OtherServiceCOunt1 +1;
															}
														}
														</div>
													</div>
												</div>
											</div>
												<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stageJaipur.adaniairports.com/AirportService#Feedback"><h3>Feedback<span class="fa fa-angle-right"></span></h3>
															<div>
															<img alt="" src="-/media/8F79BF3485DE46749F8D66110FA115F1.ashx" />
															</div>
															</a>
															</div>
													</div>
												</div>
											</div>
									
										</div>
										</div>
                          
							  </li>
								<li class="nav-item">
                                    <a class="nav-link" href="@flight.Url()">Flights</a>
                                </li>
								 <li class="nav-item dropdown-toggle__megamenu dropdown-toggle__megamenu--passenger_guide">
                                    <a class="nav-link" href="@PG.Url()">Passenger Guide</a>
									<div class="megamenu">
										<div class="row">
											<div class="col-lg-4">
											<h3>Arrival <span class="fa fa-angle-right"></span></h3>
												<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	@Html.Sitecore().ImageField("Image", Arrival, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
														@foreach (var element in ArrivalContent.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															url = Arrival.Url() +"#" + Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
															<p><a href="@url">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
															
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
											<h3>Departure <span class="fa fa-angle-right"></span></h3>
											<div class="row">
													<div class="col-5">
															<div>
															<a href="">
																<div>
																	@Html.Sitecore().ImageField("Image", Departure, 0, 0, "img-fluid")
																</div>
															</a>
															</div>
													</div>
													<div class="col-6">
														<div>
															@foreach (var element in DepartureContent.GetChildren().ToList())
														{
															if (element.Fields["Title"] != null)
															{
															url = Departure.Url()+ "#" + Html.Sitecore().Field("Title", element).ToString().Replace(" ", "");
															
															<p><a href="@url">@Html.Sitecore().Field("Title", element)</a></p>
															}
															}
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-2">
												<div class="row">
													<div class="col-12">
															<div>
															<a href="https://stageJaipur.adaniairports.com/PassangerGuide#Feedback"><h3>Feedback<span class="fa fa-angle-right"></span></h3></a>
															<a href="@PGFAQ.Url()"><h3>FAQs <span class="fa fa-angle-right"></span></h3></a>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" href="@Transport.Url()">Transport</a>
                                </li>
                        @foreach (var item in model.GetChildren().ToList())
                        {
                            var subItemModel = Sitecore.Context.Database.GetItem(item.ID);
                            var childCount = subItemModel.GetChildren().Count();
                            var cssClass = "";

                            if (childCount > 0)
                            {
                                cssClass = "nav-item dropdown-toggle__megamenu";
                            }
                            else
                            {
                                cssClass = "nav-item";
                            }
							if (childCount > 0)
                            {
                            <li class="@cssClass">

                                @Html.Sitecore().BeginField("Link", item, new { haschildren = true, @class = "nav-link" })
                                @Html.Sitecore().Field("NavigationTitle", item)
                                @if (childCount > 0)
                                {<i class="fas fa-ellipsis-v"></i>}
                                @Html.Sitecore().EndField()


                                @if (subItemModel != null)
                                {
                                    <div class="megamenu">
                                        <ul>
                                            @foreach (var subItem in subItemModel.GetChildren().ToList())
                                            {
                                                <li class="">
                                                    <div>
                                                        @Html.Sitecore().BeginField("Link", subItem, new { haschildren = true, @class = "dropdown-item" })

															<h3> @Html.Sitecore().Field("NavigationTitle", subItem) <span class="fa fa-angle-right"></span></h3>
                                                        <div>
                                                            <!-- <img src="https://via.placeholder.com/350x150" class="img-fluid"> -->
															@Html.Sitecore().Field("Image", subItem)
                                                        </div>
                                                        
                                                        @Html.Sitecore().EndField()
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                        }

                    </ul>
                    <ul id="search-toggle">
                        <li>
                            <i class="fa fa-search d-none1"></i>
                            <div class="search-container">
                                <div class="container-fluid">
                                    @Html.Sitecore().Placeholder("header-searchbar")

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
          