@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);


    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;

    var aircargo = Sitecore.Context.Database.GetItem(paramid["aircargo"]);

    var Cargo = Sitecore.Context.Database.GetItem(paramid["cargo"]);

    var airlines = paramid["airlines"] != null ? Sitecore.Context.Database.GetItem(paramid["airlines"]) : null;

    var commercial = paramid["commercial"] != null ? Sitecore.Context.Database.GetItem(paramid["commercial"]) : null;

    var CargoImage = paramid["cargoImage"] != null ? Sitecore.Context.Database.GetItem(paramid["cargoImage"]) : null;

    var airlinesImage = paramid["airlinesImage"] != null ? Sitecore.Context.Database.GetItem(paramid["airlinesImage"]) : null;

    var commercialImage = paramid["commercialImage"] != null ? Sitecore.Context.Database.GetItem(paramid["commercialImage"]) : null;


}

@if (aircargo != null)
{
    <section class="bg-cream section content-header1 aircargo" id="first-section">
        <div class="container-fluid">
            <!--<h2>@Html.Sitecore().Field("Title", aircargo)</h2>-->
            <p>@Html.Sitecore().Field("Summary", aircargo)</p>
            <ul class="scroll-actions">
                
                <li><a href="#airlines">AIRLINE PARTNERSHIP</a></li>
                <li><a href="#commercial">Commercial</a></li>
				<li><a href="#cargo">CARGO</a></li>
                <li><a href="#tenders">Tenders</a></li>
            </ul>
        </div>
    </section>

}
@if (airlines != null)
{
    <section class="bg-white section content-header" id="airlines">
        <div class="container-fluid">
            <div class="row">
			 <div class="col-lg-6 content-header__main">
                    <h2>@Html.Sitecore().Field("Title", airlines)</h2>
                    <p>@Html.Sitecore().Field("Summary", airlines)</p>
                    <p><a href="@airlines.Url()" class="btn btn-gradient mb-3">Explore</a>&nbsp;<a href="-/media/EA4B9B2B0B0F4BEA9920ED00740DF0EF.ashx" target="_blank" class="btn btn-gradient mb-3">Aeronautical Charges</a></p>
                </div>
                <div class="col-lg-6">
                    @if (airlinesImage != null)
                    {


                        <div class="owl-carousel sync1">
                            @foreach (var element in airlinesImage.GetChildren().ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            }
                        </div>
                        <div class="owl-carousel home-video-thumb sync2 ">
                            @foreach (var element in airlinesImage.GetChildren().ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            }
                        </div>
                    }

                </div>
               
            </div>
        </div>
    </section>

}
@if (commercial != null)
{
    <section class="bg-cream section content-header" id="commercial">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-6">
                    @if (commercialImage != null)
                    {
                        <div class="owl-carousel sync1">
                            @foreach (var element in commercialImage.GetChildren().ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            }
                        </div>
                        <div class="owl-carousel home-video-thumb sync2 sync2__left">
                            @foreach (var element in commercialImage.GetChildren().ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            }
                        </div>
                    }

                </div>
				<div class="col-lg-6 content-header__main">
                    <h2>@Html.Sitecore().Field("Title", commercial)</h2>
                    <p>@Html.Sitecore().Field("Summary", commercial)</p>
                    <p><a href="@commercial.Url()" class="btn btn-gradient mb-3">Explore</a></p>
                </div>
            </div>
        </div>
    </section>
	
	}
	
	@if (Cargo != null)
{
    <section class="bg-white section content-header" id="cargo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 content-header__main">
                    <h2>@Html.Sitecore().Field("Title", Cargo)</h2>
                    <p>@Html.Sitecore().Field("Summary", Cargo)</p>
                    <p><a href="@Cargo.Url()" class="btn btn-gradient mb-3">Explore</a> &nbsp;<a href="-/media/45B1F1114CE74B7EB95B09A47E0F2EB1.ashx" target="_blank" class="btn btn-gradient mb-3">AERA Orders </a></p>
                </div>
                <div class="col-lg-6">
                    @if (CargoImage != null)
                    {
                        <div class="owl-carousel sync1">
                            @foreach (var element in CargoImage.GetChildren().ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            }
                        </div>
                        <div class="owl-carousel home-video-thumb sync2">
                            @foreach (var element in CargoImage.GetChildren().ToList())
                            {
                                <div class="item">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100 h-100")
                                </div>
                            }
                        </div>
                    }
                </div>
				
            </div>
        </div>
    </section>

    <section class="bg-cream section content-header" id="tenders">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <!-- <img src="https://via.placeholder.com/550x550" class="img-fluid w-100 h-100"> -->
					<img src="-/media/DDA6E000760D43F989113DAFAA8DF578.ashx" class="img-fluid ">
                </div>
                <div class="col-lg-6 mb-0 mt-lg-0 order-1 order-lg-2">
                    <h2>Tenders</h2>
                    <p class="mb-4">
                        “Are you a supplier for Goods or Services? Engage with us in developing world class airports and join our journey for Gateway to Goodness”
                    </p> <ul class="tender-listing">
                         
                        <li>
                            <p>Commercial Tenders</p>
                            <p><a href="/Jaipur-Airport/tenders?type=Commercial">Find out more <i class="fa fa-angle-right"></i></a></p>
                        </li>
                        <li>
                            <p>Procurement Tenders</p>
                            <p><a href="/Jaipur-Airport/tenders?type=Procurement">Find out more <i class="fa fa-angle-right"></i></a></p>
                        </li>
						<li> 
                            <p>Procurement SOP</p>
                             <p class=""><a href="-/media/5BC2872077BC487DA875AFEDE6FC224B.ashx">Find out more <i class="fa fa-angle-right"></i></a></p> 
                         </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

}
