@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    Item models = Sitecore.Context.Database.GetItem(datasource);

    Item rootItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.RootPath);



}


@if (models != null)
{
    if (models.GetChildren() != null)
    {

        <div class="col-sm-12 mb-3 text-center">
            <ul class="ft-social">
                @foreach (Item item in models.GetChildren())
                {
                    Sitecore.Data.Fields.LinkField linkvalue = item.Fields["Link"];
                    var linkUrl = linkvalue.GetFriendlyUrl();

                    if (linkUrl != null)
                    {
                        <li>
                            <a href="@linkUrl" target="_blank" title="@Html.Sitecore().Field("NavigationTitle", item)" data-toggle="tooltip" data-placement="top">
                                <i class="@Html.Sitecore().Field("Icon", item)"> </i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#" title="@Html.Sitecore().Field("NavigationTitle", item)" data-toggle="tooltip" data-placement="top">
                                <i class="@Html.Sitecore().Field("Icon", item)"> </i>
                            </a>
                        </li>
                    }


                }
            </ul>
        </div>
        @*<div class="col-sm-12 text-center">
                <ul class="terms-link d-md-none">
                    <li class="d-inline-block"><a href="/sitemap" class="txt-blue">SiteMap</a></li>
                    <li class="d-inline-block"><a href="/privacy-policy" class="txt-blue">Privacy Policy</a></li>
                    <li class="d-inline-block"><a href="/disclaimer" class="txt-blue">Legal Disclaimer</a></li>
                    <li class="d-inline-block"><a href="/terms-of-use" class="txt-blue">Terms & Conditions</a></li>
                </ul>
            </div>*@
        <div class="col-sm-12 text-center py-4">
            <a href="/" target="_blank">
                @if (rootItem != null)
                {
                    @Html.Sitecore().ImageField("FooterLogoImage", rootItem)
                }
            </a>
        </div>

    }


}









