@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
}
<!--<section class="bg-gray py-5">
    <div class="container">-->
        @if (datasource != null)
        {
            var i = 0;
            var j = 0;
            var divID = "";
         
            <ul class="nav nav-tabs nav-border-bottom" role="tablist">

                @foreach (var child in parent.Children.ToList())
                {
                    var replacestr = Regex.Replace(@Html.Sitecore().Field("Title", child).ToString(), "[^a-zA-Z0-9_]+", "").ToLower();
                    if (i == 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true" href="#@replacestr">@Html.Sitecore().Field("Title", child)</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" aria-selected="true" href="#@replacestr">@Html.Sitecore().Field("Title", child)</a>
                        </li>
                    }
                    i++;
                }
            </ul>
            <div class="tab-content p-4" id="address-tab-container">
                @foreach (var child in parent.Children.ToList())
                {
                    if (j == 0)
                    {
                        divID = Regex.Replace(@Html.Sitecore().Field("Title", child).ToString(), "[^a-zA-Z0-9_]+", "").ToLower();

                        <div class="tab-pane fade show active" id="@divID" role="tabpanel" aria-labelledby="home-tab">
                            @Html.Sitecore().Field("Body", child)
                            <div id="drpdwnControl" class="@Html.Sitecore().Field("Title", child).ToString().Replace(" ", "")">
                                @Html.Sitecore().Placeholder(@Html.Sitecore().Field("Title", child).ToString().Replace(" ", ""))
                            </div>
                        </div>
                    }
                    else
                    {
                        divID = Regex.Replace(@Html.Sitecore().Field("Title", child).ToString(), "[^a-zA-Z0-9_]+", "").ToLower();

                        <div class="tab-pane fade show" id="@divID" role="tabpanel" aria-labelledby="home-tab">
                            @Html.Sitecore().Field("Body", child)
                            <div id="drpdwnControl" class="@Html.Sitecore().Field("Title", child).ToString().Replace(" ", "")">
                                @Html.Sitecore().Placeholder(@Html.Sitecore().Field("Title", child).ToString().Replace(" ", ""))
                            </div>
                        </div>
                    }
                    j++;
                }
            </div>
        }
   <!-- </div>
</section>-->
