@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);

    var ContentPath = Sitecore.Context.Item.Paths.ContentPath.Replace("/Power/", "");
    var path = ContentPath.Replace("/Power/", "");
    string[] pathArr = path.Split('/');
    var navPath = "/";
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "cssclass").FirstOrDefault().Value;
    if (string.IsNullOrEmpty(paramid))
    {
        paramid = "breadcrumb-sub-layout bg-gray py-5";
    }
    var i = 0;
    var pageName = "";
}


<div class="breadcrumb-banner">
    <div class="bg-images"> @Html.Sitecore().ImageField("Image", elements, 0, 0, "image-fluid")</div>
    <div class="container position-relative d-block">
        <ul>
            @for (i = 0; i < pathArr.Count() - 1; i++)
            {
                navPath = navPath + pathArr[i];
                pageName = pathArr[i].Replace("-", " ").Substring(0, 1).ToUpper() + "" + pathArr[i].Replace("-", " ").Substring(1).ToLower();

                <li><a href="@navPath">@pageName</a></li>
                navPath = navPath + "/";
            }
        </ul>
        <h1>@pathArr[pathArr.Count() - 1].Replace("-", " ")</h1>

        @Html.Sitecore().Field("Summary", elements)
    </div>
</div>
<!-- <section class="py-5"> -->
    <!-- <div class="container"> -->
        
    <!-- </div> -->
<!-- </section> -->

<section class="bg-gray py-5">
<div class="container">
<div class="row">
<div class="col-lg-1 col-sm-1 col-2">
<div class="sidebar-item">
<ul class="social-share make-me-sticky">
    <li><a data-toggle="tooltip" data-placement="right" title="Share on twitter" class="addthis_button_twitter"><em class="fab fa-twitter"></em></a></li>
    <li><a data-toggle="tooltip" data-placement="right" title="Share on Facebook" class="addthis_button_facebook"><em class="fab fa-facebook-square"></em></a></li>
    <li><a data-toggle="tooltip" data-placement="right" title="Share on Linkedin" class="addthis_button_linkedin"><em class="fab fa-linkedin"></em></a></li>
<!--    <li><a data-toggle="tooltip" data-placement="right" title="Email" ><em class="fa fa-envelope"></em></a></li>-->
</ul>
</div>
</div>
<div class="col-lg-7">
@Html.Sitecore().Field("Body", elements)</div>
<div class="col-lg-4"> @Html.Sitecore().Placeholder("sustainability-report")</div>
</div>
</div>
</section>
