@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Accounts
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts.SessionHelper
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.ChangeOfNameApplicationFromModel
@{
    var CONAppRegistrationByLECPage = (Sitecore.Context.Database.GetItem(Templates.LECPortal.ChangeOfNameLECRegistrationPage)).Url();
    var CONAppStatusCheckByLECPage = (Sitecore.Context.Database.GetItem(Templates.LECPortal.ChangeOfNameLECStatusCheckPage)).Url();
   // var NewConRegistrationByLECPage = (Sitecore.Context.Database.GetItem(Templates.LECPortal.NewConLECRegistrationPage)).Url();
    //var NewConStatusCheckByLEC = (Sitecore.Context.Database.GetItem(Templates.LECPortal.NewConLECSubmittedApplicationPage)).Url();
    var LECProfileManagementPage = (Sitecore.Context.Database.GetItem(Templates.LECPortal.LECUserProfilePage)).Url();
}

<link href="/styles/Electricity/fontawesome-all.css" rel="stylesheet" />
<link href="/styles/Electricity/bootstrap.min.css" rel="stylesheet" />
<link href="/styles/ElectricityNew/adani-electricity.css" rel="stylesheet" />
<link href="/styles/Electricity/adani-electricity-responsive.css" rel="stylesheet" />

<section class="py-5 bg-gray" style="margin-top: -2rem;">
    <div class="container">
        <!-- <h3 class="txt-orange txt-md mb-3">Important Covid 19 Update</h3> -->
        @using (Html.BeginForm("LogoutLEC", "AEMLChangeOfName", FormMethod.Post))
        {
            <div class="row">
                <div class="col-sm-6 pb-3 text-left">
                    <p><span><b>Welcome, </b></span><b class="txt-orange">@UserSession.AEMLCONLECUserSessionContext.LECName <span class="fa fa-user ml-2 mr-1"></span></b></p>
                </div>
                <div class="col-sm-6 pb-3">
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">
                            @Html.Sitecore().Dictionary("Electricity/Tender/Logout", "Logout")
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12 mb-3">
                <!-- <h3 class="txt-orange txt-md mb-3">Important Covid 19 Update</h3> -->
                <p class="">Below services are available to you</p>
            </div>
        </div>
        <div class="row mb-4 lec_portal">
            <div class="col-lg-12 order-2 order-lg-1">
                <div class="">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 my-3">
                            <div class="ql_block h-100 mb-0">
                                <a href="@CONAppRegistrationByLECPage">
                                    <i class="fa fa-address-card"></i>
                                    <p>Apply for a Change of Name Request</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-3">
                            <div class="ql_block h-100 mb-0">
                                <a href="@CONAppStatusCheckByLECPage">
                                    <i class="fa fa-info-circle"></i>
                                    <p>Check Status of Change of Name Request(s) & Submit Saved Applications</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-3">
                            <div class="ql_block h-100 mb-0">
                                <a href="@LECProfileManagementPage">
                                    <i class="fa fa-user"></i>
                                    <p>Profile Management </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
                                <div class="ql_block h-100 mb-0">
                                    <a href="@NewConRegistrationByLECPage">
                                        <i class="fa fa-address-card"></i>
                                        <p>Apply for a New Connection Request</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
                                <div class="ql_block h-100 mb-0">
                                    <a href="@NewConStatusCheckByLEC">
                                        <i class="fa fa-info-circle"></i>
                                        <p>Check Status of New Connection Request(s) & Submit Saved Applications</p>
                                    </a>
                                </div>
                            </div>

                        </div>*@
                </div>
            </div>

        </div>

    </div>
</section>
