@model Project.Mining.Website.Models.AboutUs.LeadershipMessage
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var LeadershipMessageList = Model.LeadershipMessageList;
}
@if (Model != null)
{
    <section class="mtcs-projects position-relative leadership main-skeleton skeleton">
        <div class="container">
            <div class="section-info section-center">
                @if (Model.Heading != null)
                {
                    <h3>
                        <span class="hide-text">@Model.Heading</span>
                    </h3>
                }
            </div>
            <div class="btm scrollable mtcs-mining-leader">
                @if (LeadershipMessageList != null)
                {
                    foreach (var item in LeadershipMessageList)
                    {
                        <div class="item flip-card h-100">
                            <div class="d-mob">
                                <div class="leader-card">
                                    <figure>
                                        @if (item.Image != null)
                                        {
                                            <img src="@item.Image.Src" alt="@item.Image.Alt" />
                                        }
                                    </figure>
                                    <div class="leader-info">
                                        <h2 class="hide-text">@item.Title</h2>
                                        <h4 class="hide-text">@item.SubHeading</h4>
                                        <p class="hide-text">
                                            @Html.Raw(item.Description)
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="inner flip-card-inner d-web">
                                <div class="flip-card-front">
                                    @if (item.Image != null)
                                    {
									 <figure>
                                        <img src="@item.Image.Src" alt="@item.Image.Alt" />
								     </figure>
                                    }
                                    <div class="desc-1">
                                        <h2 class="child hide-text">@item.Title</h2>
                                        <p class="hide-text">@item.SubHeading</p>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <h2 class="hide-text">@item.Title</h2>
                                    <h4 class="hide-text">@item.SubHeading</h4>
                                        @Html.Raw(item.Description)                                   
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="arrows">
                <div class="arr-left-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                    </svg>
                </div>
                <div class="arr-right-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </section>
}
