@model Project.Mining.Website.Models.WhatWeStandForModel



@if (Model != null)
{
    <section class="stand-for position-relative section-bottom-padding main-skeleton skeleton">
        <div class="container">
            <div class="section-info">
                <h3><span class="hide-text">@Model.Heading</span></h3>
            </div>
            <div class="section-wrapper">
                @if (Model.Cards != null)
                {
                    foreach (var child in Model.Cards)
                    {
                        <div class="card-box">
                            @if (child.Image != null)
                            {
							<figure>
                                <img src="@child.Image.Src" class="bor-radius" alt="@child.Image.Alt">
                            </figure> 
							}
                            <h2 class="hide-text">@child.Heading</h2>
                            @Html.Raw(child.Description)
                        </div>
                    }
                }
            </div>
			
            
        </div>
    </section>
}