@model Project.Mining.Website.Models.DiscoverMiningBrochureModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
}
@if (Model != null)
{
    <section class="why-mtcs position-relative section-bottom-padding bg-sea main-skeleton skeleton">
        <div class="container">
            <div class="project-scroll">
                <div class="item">
                    <div class="section-flex">
                        <h3 class="show-mob"><span class="mob-span hide-text">@Model.Heading</span></h3>
                        <p class="para-margin show-mob mob-para-7 hide-text">
                            @Html.Raw(@Model.Description)
                        </p>
						<a class="read-link show-mob read-more-7 hide-text">@Model.CTAText</a>
                        <div class="accreditation-img prj-img m-40">
                            @if (Model.Image != null)
                            {
                                <img src="@Model.Image.Src" class="bor-radius" alt="@Model.Image.Alt">
                            }
                        </div>
                        <div class="accreditation-info mtcs-info">
                            <div class="section-info mt-3 mt-md-0 mb-0">

                                <h3 class="show-large"><span class="hide-text">@Model.Heading</span></h3>
                                <p class="para-margin show-large mob-para-1 hide-text">
                                    @Html.Raw(Model.Description)
                                </p>
                                @if (Model.CTALink != null)
                                {
                                    _linkurl = Model.CTALink.Url;
                                    _linktarget = Model.CTALink.Target;
                                    _linktext = Model.CTALink.Text;
                                }
                                <a class="read-link show-large read-more-1 hide-text">@_linktext</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}