@using Sitecore.Feature.Blogs
@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Blogs.Models.BlogItems

@{
    if (Model?.BlogItem == null)
    {
        return;
    }
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;
    var bgimg = Sitecore.Context.Database.GetItem(paramid["background-image"]);
}
<section class="section-container section" data-hash="f">
    <div class="bg-images bg-blue-opacity">
        @Html.Sitecore().ImageField(Templates.HasBannerSelectorclubahmd.Fields.Image, bgimg, 0, 0, "opacity-015")
       
        @*<img src="images/events-bg.jpg" class="opacity-015">*@
    </div>
    <div class="container aos-item__inner aos-item">
        <div class="owl-carousel owl-theme" id="events">
            @foreach (var item in Model.BlogItem)
            {
                
                    <div class="item" data-aos="fade-left" data-aos-duration="1000">
                        <div class="events-item">
                            <div class="events-thumb">
                                <a href="@item.Url">  @Html.Sitecore().ImageField(Templates.BlogsArticle.Fields.Image, item.Item, 0, 0, "img-fluid mb-3")</a>
                            </div>
                            <div class="events-desc">
                                <div>
                                    <h3 class="txt-white"><a href="@item.Url" class="txt-white">@Html.Sitecore().Field(Templates.BlogsArticle.Fields.Title, item.Item)</a></h3>
                                    <p class="txt-white">@Html.Sitecore().Field(Templates.BlogsArticle.Fields.Date, item.Item, new { format = "MMM dd, yyyy" })</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
            }

                </div>
        <div class="txt-center"><div class="btn-eff mx-auto mt-5"><div class="eff-4"></div><a href="#">Know more</a></div></div>
    </div>
</section>
