@using Sitecore.Feature.Blogs
@using Sitecore.Mvc.Presentation
@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Blogs.Models.BlogItems
@{
    if (Model?.BlogItem == null)
    {
        return;
    }
    var i = 1;
    var blogcount = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "blogcount").FirstOrDefault().Value;
    var blogheading = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "blogheading").FirstOrDefault().Value;
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
   
    var sortedItem = elements.Children.Where(x => x.Fields["IsVisible"].Value == "1").OrderByDescending(x => x.Fields["Date"].Value);
    string linkUrl = "#";
}

<section class="bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="heading pl-4 mb-4">Read our latest blogs</h4>
            </div>
            <div class="col-md-6">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search Topics">
                </div>
            </div>
        </div>
        <!-- Start Blog -->
      

            
        <div class="row">
            @foreach (var item in sortedItem)
            {
                linkUrl = Sitecore.Links.LinkManager.GetItemUrl(item);
                if (i == 1)
                {
                    <div class="col-md-8 padd-box">
                        <div>
                            <div class="bg-images">
                                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")

                            </div>
                            <div class="h-100 position-relative b-block p-5">
                                <span>@Html.Sitecore().Field("Type", item)</span>
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 2)
                {
                    <div class="col-md-4 padd-box">
                        <div>
                            <div class="bg-images">
                                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")

                            </div>
                            <div class="h-100 position-relative b-block-2 p-5">
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                                <span>@Html.Sitecore().Field("Type", item)</span>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 3)
                {
                    <div class="col-md-4 padd-box">
                        <div>
                            <div class="bg-images">

                                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                            </div>
                            <div class="h-100 position-relative b-block p-5">
                                <span>@Html.Sitecore().Field("Type", item)</span>
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 4)
                {
                    <div class="col-md-8 padd-box">
                        <div class="row no-gutters h-100">
                            <div class="col-lg-6">
                                <div class="h-100 position-relative b-block p-5">
                                    <span>@Html.Sitecore().Field("Type", item)</span>
                                    <div class="bg-images"> @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")</div>
                                </div>
                            </div>
                            <div class="col-lg-6 bg-white p-5 blog-c-column">
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 5)
                {
                    <div class="col-md-8 padd-box">
                        <div class="row no-gutters h-100">
                            <div class="col-lg-6 bg-white p-5 blog-c-column blog-c-column-left">
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                            <div class="col-lg-6">
                                <div class="h-100 position-relative b-block p-5">
                                    <span>@Html.Sitecore().Field("Type", item)</span>
                                    <div class="bg-images"> @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 6)
                {
                    <div class="col-md-4 padd-box">
                        <div>
                            <div class="bg-images"> @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")</div>
                            <div class="h-100 position-relative b-block p-5">
                                <span>@Html.Sitecore().Field("Type", item)</span>
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 7)
                {
                    <div class="col-lg-4 padd-box">
                        <div>
                            <div class="bg-images">
                                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                            </div>
                            <div class="h-100 position-relative b-block p-5">
                                <span>@Html.Sitecore().Field("Type", item)</span>
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (i == 8)
                {
                    <div class="col-lg-4 padd-box bg-blue">
                        <div>
                            <div class="h-100 position-relative b-block p-5">
                                <span>@Html.Sitecore().Field("Type", item)</span>
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-4 padd-box">
                        <div>
                            <div class="bg-images">
                                @Html.Sitecore().ImageField("Image", item, 0, 0, "img-fluid")
                            </div>
                            <div class="h-100 position-relative b-block p-5">
                                <span>@Html.Sitecore().Field("Type", item)</span>
                                <p><a href="@linkUrl">@Html.Sitecore().Field("Summary", item)</a></p>
                            </div>
                        </div>
                    </div>
                }

                i++;
            }
        </div><!-- 1st Row-->
            
      
        
            <p class="text-center arrow mt-4">Explore more<i class="fa fa-chevron-down ml-2"></i></p>
            <!-- 4th Row-->
        </div>
</section>