@using Sitecore.Foundation.Dictionary.Extensions
@{
    Sitecore.Data.Items.Item ElectricityChargesDatasourceItem = Sitecore.Context.Database.GetItem("{86249B09-E38C-4282-87EC-F0F250445B16}");
    string tariffTableHtml = ElectricityChargesDatasourceItem != null ? ElectricityChargesDatasourceItem["Short Title"] : string.Empty;
}
<div class="col l4 s12">
    <div class="dashboard-card">
        <h2>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Download Bill", "Electricity Charges")</h2>
        <div class="card section-loader-wrapper" id="ElectricityChargesLoaderDiv">
            <div class="electricity-charges">
                <div class="charges">
                    <ul>
                        <li><span class="orange"></span>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Govt Taxes", "Govt. Taxes") </li>
                        <li><span class="blue"></span> @Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/AEML Charges", "AEML Charges")</li>
                    </ul>
                </div>


                <div class="circle-wrap">
                    <div class="circle">
                        <canvas id="electricityChargesChart"></canvas>
                        @*<div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle">
                                <h5> ₹7.8 </h5>
                                <label>Per Unit</label>
                            </div>*@
                    </div>
                </div>
                <div class="footer">
                    <ul>
                        <li>
                            <a href="#aemlElectricityChargesModal" onclick="dataLayer.push({
                                'event': 'user_dashbaord_view_details',
                                'eventCategory': 'AEML User Dashboard',
                                'eventAction': 'user_dashbaord_view_details',
                                'eventLabel': 'Electricity Charges',
                                'business_user_id': $('#BusinessUserId').val(),
                                'ca_number': $('#GACANumber').val(),
                                'login_status': $('#login_status').val()
                            });" class="sidenav-trigger">@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/View Details", "View Details")</a>
                        </li>
                        <li class="CurrentBillMonthDateChart">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrapper modal-dashboard">
    <div id="aemlElectricityChargesModal" class="sidenav sidenav-right">
        <div class="modal-content-inner">
            <a class="modal-close sidenav-close"><i class="i-cross hide-notification"></i></a>
            <header>
                <h2>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Electricity Charges Details", "Electricity Charges Details")</h2>
                <p class="CurrentBillMonthDate"></p>
            </header>
            <div class="electricity-charges-details">
                <header>
                    <h4>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Electrical Energy (HSN Code 27160000)", "Electrical Energy (HSN Code 27160000)")</h4>
                    <aside>
                        <ul>
                            <li><span class="bullet"></span> @Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Govt Taxes", "Govt. Taxes")</li>
                            <li><span class="bullet blue"></span> @Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/AEML Charges", "AEML Charges")</li>
                        </ul>
                    </aside>
                </header>
                <div class="customer_detail_wrapper customer_detail_list">
                    <table class="customer_detail_list-details">
                        <thead>
                            <tr>
                                <th style="width: 70%;">@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Details", "Details")</th>
                                <th style="width: 30%;">@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Charges", "Charges")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet blue"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Fixed Charge", "Fixed Charge")</h5>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="FixedDemandCharge"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet blue"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Energy Charge", "Energy Charge")</h5>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="EnergyCharge"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet blue"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Wheeling Charge", "Wheeling Charge")</h5>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="Wheelingcharge"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet blue"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Fuel Adjustment Charge", "Fuel Adjustment Charge (FAC)*")</h5>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="FueladjustmentCharges"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet blue"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Regulatory Asset Charge", "Regulatory Asset Charge(RAC)**")</h5>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="RegulatoryAssetCharge"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Government Electricity Duty", "Government Electricity Duty")</h5>
                                                <p class="Govtdutyrate"></p>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="GovernmentElectricityDuty"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <div class="list-flex">
                                            <span class="bullet"></span>
                                            <aside>
                                                <h5>@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Maharashtra Govt Tax on Sale of Electricity", "Maharashtra Govt. Tax on Sale of Electricity")</h5>
                                                <p class="MahGovtTaxOnSaleRate"></p>
                                            </aside>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="TaxOnSale"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-cell">
                                        <label class="strong">@Html.Sitecore().Dictionary("/UserDashboard/UDElectricityCharges/Current Month Bill Amount", "Current Month's Bill Amount")</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-cell">
                                        <label class="strong CurrentMonthBillAmount"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.Raw(tariffTableHtml)
            </div>
        </div>
    </div>
</div>