@using Sitecore.Foundation.Dictionary.Extensions
@{
    Sitecore.Data.Items.Item powerOutageItem = Sitecore.Context.Database.GetItem("{38BFD5D0-DB5C-4E40-B6D2-0A34BC690835}");
    Sitecore.Data.Items.Item complaintItem = Sitecore.Context.Database.GetItem("{4ED06227-1990-4E10-8920-41892B9BAF97}");
    Sitecore.Data.Items.Item SubmitMeterReadingItem = Sitecore.Context.Database.GetItem("{74EEF257-A5E8-4261-A0FA-1A9AC44E852D}");
    Sitecore.Data.Items.Item GreenPowerItem = Sitecore.Context.Database.GetItem("{67052F0E-8601-4AB2-92AF-2BE56B0323EA}");
}

<div class="col l8 s12">
    <div class="dashboard-card">
        <h2>@Html.Sitecore().Dictionary("/UserDashboard/UDNotifications/Notifications", "Notifications")</h2>
        <div class="card section-loader-wrapper" id="NotificationComponentLoaderDiv">
            <div class="no-notification-box" id="NoNotificationsEl" style="display:none">
                <div class="no-notification-content">
                    <figure>
                        <img src="/electricity_assets/icons/no-notification.png" alt="">
                    </figure>
                    <h3>There are no new notifications!</h3>
                </div>
            </div>
            <div class="notification-data" id="NotificationsEl" style="display:none">
                <ul id="aeml-notifications">
                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="ComplaintDashboardUrl" value="@Sitecore.Links.LinkManager.GetItemUrl(complaintItem)" />
<input type="hidden" id="PowerOutageUrl" value="@Sitecore.Links.LinkManager.GetItemUrl(powerOutageItem)" />
<input type="hidden" id="SubmitMeterReadingUrl" value="@Sitecore.Links.LinkManager.GetItemUrl(SubmitMeterReadingItem)" />
<input type="hidden" id="GreenPowerUrl" value="@Sitecore.Links.LinkManager.GetItemUrl(GreenPowerItem)" />
