@using Sitecore.Foundation.Dictionary.Extensions
@{
    Sitecore.Data.Items.Item paymentHistoryItem = Sitecore.Context.Database.GetItem("{C743E457-25D2-4C35-B854-6BEFC3824758}");
    string paymentHistoryUrl = paymentHistoryItem != null ? Sitecore.Links.LinkManager.GetItemUrl(paymentHistoryItem) : "javascript:void(0)";
}
<div class="col l4 s12">
    <div class="dashboard-card dashboard-card-height">
        <header>
            <h2>@Html.Sitecore().Dictionary("/UserDashboard/UDPaymentTrends/Payment Trend", "Payment Trend")</h2>
            @*<aside>
                    <div class="download-list-small dropdown-trigger" data-target="dropdown2">
                        <div id="dropdown2" class="dropdown-content dropdown-download">
                            <ul>
                                <li><a href="#!">one</a></li>
                                <li><a href="#!">two</a></li>
                                <li class="divider"></li>
                                <li><a href="#!">three</a></li>
                            </ul>
                        </div>
                        <span>Download Receipt</span> <i class="i-arrow-d right"></i>
                    </div>
                </aside>*@
        </header>
        <div class="card section-loader-wrapper" id="paymentTrendLoaderDiv">
            <div class="discover" id="PaymentTrendsCharts">
                <ul class="tabs">
                    <li class="tab">
                        <a onclick="CreatedBarChart(2);" href="#2Months" class="active">
                            <h4>@Html.Sitecore().Dictionary("/UserDashboard/UDPaymentTrends/2 Months", "2 Months")</h4>
                        </a>
                    </li>
                    <li class="tab">
                        <a onclick="CreatedBarChart(3);" href="#3Months">
                            <h4>@Html.Sitecore().Dictionary("/UserDashboard/UDPaymentTrends/3 Months", "3 Months")</h4>
                        </a>
                    </li>
                    <li class="tab">
                        <a onclick="CreatedBarChart(4);" href="#4Months">
                            <h4>@Html.Sitecore().Dictionary("/UserDashboard/UDPaymentTrends/4 Months", "4 Months")</h4>
                        </a>
                    </li>
                </ul>
                <div id="2Months" class="tab-content">
                    <div class="pay-trend-box">
                        <div class="pay-trend-head">
                            <ul>
                                <li class="active">Current Month</li>
                                <li>Previous Months</li>
                            </ul>
                        </div>
                        <div class="pay-trend-body">
                            <div class="pay-trend-value-box" id="percentagePaymentsTrend">

                            </div>
                            <div class="pay-trend-graph-box">
                                <canvas id="2-Months" style="height: 21px; width: 24px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="3Months" class="tab-content">
                    <canvas id="3-Months" style="height: 21px; width: 24px;"></canvas>
                </div>
                <div id="4Months" class="tab-content">
                    <canvas id="4-Months" style="height: 21px; width: 24px;"></canvas>
                </div>
            </div>
            <div class="electricity-charges">

                <div class="footer">
                    <ul>
                        <li>
                            <a onclick="dataLayer.push({
                                'event': 'user_dashbaord_view_details',
                                'eventCategory': 'AEML User Dashboard',
                                'eventAction': 'user_dashbaord_view_details',
                                'eventLabel': 'Payment Trend',
                                'business_user_id': $('#BusinessUserId').val(),
                                'ca_number': $('#GACANumber').val(),
                                'login_status': $('#login_status').val()
                            });" href="@paymentHistoryUrl">@Html.Sitecore().Dictionary("/UserDashboard/UDPaymentTrends/View Details", "View Details")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>