@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@{
    var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
    if (info != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageViewElectricityRevamp, info);
    }


    var toast = Session.GetAndRemove("UpdateRevampMessage") as Sitecore.Foundation.Alerts.Models.InfoMessageRevamp;
    if (toast != null)
    {
        Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageViewRevamp, toast);
    }

    var Elemodel = Session["UserLogin"] as Sitecore.Feature.Accounts.Models.DashboardModel;
}
<div class="dashboard">
    <div class="row section-wrapper">
        <div class="col l8 s12">
            <header class="section-header-main">
                <h2>
                    @Html.Sitecore().Dictionary("/UserDashboard/UserDashboardLanding/Welcome", "Welcome,") <span> @Elemodel.UserName </span>
                </h2>
            </header>
        </div>
        <div class="col l4 s12">
            @Html.Sitecore().Placeholder("MulitpleAccountsCA")
        </div>
    </div>
    <div class="row section-wrapper">
        @Html.Sitecore().Placeholder("UDAccountBillDetails")
        @Html.Sitecore().Placeholder("UDElectricityCharges")
    </div>
    <div class="row section-wrapper">
        @Html.Sitecore().Placeholder("UDConsumptionTrends")
        @Html.Sitecore().Placeholder("UDPaymentTrends")
    </div>
    <div class="row section-wrapper">
        @Html.Sitecore().Placeholder("UDNotifications")
        @Html.Sitecore().Placeholder("UDSettings")
    </div>
</div>
<script src="/Scripts/Accounts/Chart.min.js"></script>
<script src="/scripts/ElectricityNew/CommanSitecoreSettings.js"></script>
<script src="/Scripts/Accounts/UserDashboard.js"></script>