@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var Dynamicclass = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Dynamicclass").FirstOrDefault().Value;

	var count =0;
	string CurrentURLs = Request.RawUrl;
	
}

@if (CurrentURLs.Contains("/mangaluru-airport"))
{
    <section class="bg-cream section-bottom @Dynamicclass content-header">
        <div class="container-fluid">
            <h2>Other Services</h2>
            <div class="row">
                @foreach (var element in model.GetChildren().ToList())
                {
					count = count +1;
					if (count >= 5 && count<=11)
					{
                    var class12 = @Html.Sitecore().Field("Type", element);
                    Sitecore.Data.Fields.LinkField lnkFld = element.Fields["Link"];

                    <div class="col-lg-4 col-md-6 @class12">
                        <div class="filter_inner">
                            <ul class="services-blocks">
                                <li>
                                    <span><a href="@element.Url()">@Html.Sitecore().ImageField("Icon", element, 0, 0, "")</a></span>
                                    <div>
                                        <h3>@Html.Sitecore().Field("Title", element)</h3>
                                        <p>@Html.Sitecore().Field("Summary", element)</p>
                                        <div><a href="@element.Url()">Find out more <i class="fa fa-angle-right"></i></a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
					}
                }
            </div>
        </div>
    </section>
}
else
{
       <section class="bg-cream section-bottom @Dynamicclass content-header">
        <div class="container-fluid">
            <h2>Other Services</h2>
            <div class="row">
                @foreach (var element in model.GetChildren().ToList())
                {
				
                    var class12 = @Html.Sitecore().Field("Type", element);
                    Sitecore.Data.Fields.LinkField lnkFld = element.Fields["Link"];
                    //var url = lnkFld.GetFriendlyUrl();
                    <div class="col-lg-4 col-md-6 @class12">
                        <div class="filter_inner">
                            <ul class="services-blocks">
                                <li>
                                    <span><a href="@element.Url()">@Html.Sitecore().ImageField("Image", element, 0, 0, "")</a></span>
                                    <div>
                                        <h3>@Html.Sitecore().Field("Title", element)</h3>
                                        <p>@Html.Sitecore().Field("Summary", element)</p>
                                        <div><a href="@element.Url()">Find out more <i class="fa fa-angle-right"></i></a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
					
                }
            </div>
        </div>
    </section>
}