@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.StringExtensions
@using Sitecore.Resources.Media
@using Sitecore.Data.Fields;
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var i = 0;
    var j = 0;



}


<section class="exp-airport_section exp-airport_sectionbg d-none d-sm-block bg-white">
    <div class="container-fluid">
<h2 data-aos="fade-up" class="section-heading aos-init aos-animate">@Html.Sitecore().Field("Title", element)</h2>
        <div class="tab-content pt-0" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="owl-carousel airport-section__carousel airport-section__carousel-5item">
                            @foreach (Item items in element.GetChildren())
                            {
                                
                                Sitecore.Data.Fields.LinkField linkfld = items.Fields["Link"];
                                var Link = linkfld.GetFriendlyUrl();
                               
                                    <div class="item">
                                        <a href="@Link" target="_blank">
                                            @Html.Sitecore().ImageField("Image", items, 0, 0, "img-fluid w-100")

                                            <div>
                                                <p>  @Html.Sitecore().Field("Title", items)</p>

                                                <span> @Html.Sitecore().Field("Body", items)</span>
                                            </div>
                                        </a>
                                    </div>
                                
								

                            }

                        </div>
                    </div>
        </div>
    </div>
</section>

<section class="exp-airport_sectionbg mobileView mt-5 d-sm-none d-block bg-white">
    <div class="container-fluid">
        <h2 data-aos="fade-up" class="section-heading">@Html.Sitecore().Field("Title", element)</h2>   </div>
        <div class="tab-content pt-0 TRV_carousel_slider" id="myTabContent">

                    <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab1">
                        <div class="owl-carousel airport-section__carousel airport-section__carousel-5item">
                            @foreach (Item items in element.GetChildren())
                            {
                                
                                Sitecore.Data.Fields.LinkField linkfld = items.Fields["Link"];
                                var Link = linkfld.GetFriendlyUrl();
							<div class="item">
                                        <a href="@Link" target="_blank">
                                            @Html.Sitecore().ImageField("Image", items, 0, 0, "img-fluid w-100")


                                        </a>
                                    </div>
                              
							
                            }

                        </div>
                    </div>


        </div>
 
</section>