@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var paramid = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters;

    var CEOMessage = paramid["CEOMessage"] != null ? Sitecore.Context.Database.GetItem(paramid["CEOMessage"].ToString().Replace("%2F", "/")) : null;
    var ChiefAirportManagerMessage = paramid["ChiefAirportManagerMessage"] != null ? Sitecore.Context.Database.GetItem(paramid["ChiefAirportManagerMessage"].ToString().Replace("%2F", "/")) : null;

}


<section class="half-bg bg-cream section-bottom">
    <div class="container-fluid">
        <div class="row">    
<div class="col-lg-6 mb-3 pr-lg-4 d-none">		
                <div class="d-block h-100" >	
                <div class="bg-gradient p-4 chairman-box row boxzoom h-100">
                <div class="col-md-8 mb-3">
                    <h3 class="mb-5">@Html.Sitecore().Field("Title", CEOMessage)</h3>
                    <h4>@Html.Sitecore().Field("Summary", CEOMessage)</h4>
                     <div><a href="@CEOMessage.Url()" class="mb-4 mt-2 readmore">Read more</a></div><br>
                    <p class="signature">@Html.Sitecore().Field("Text", CEOMessage)<span>CEO</span></p>   
                  </div>
                 <div class="col-md-4"> @Html.Sitecore().ImageField("Image", CEOMessage, 0, 0, "img-fluid")</div>

				 </div>
                                 </div>
								  </div>
								 <div class="col-lg-12 mb-3 pr-lg-4">
                <div class="d-block h-100" href="">	
                <div class="bg-gradient p-4 chairman-box row boxzoom h-100">
                <div class="col-md-10 mb-3">
                    <h3 class="mb-5">@Html.Sitecore().Field("Title", ChiefAirportManagerMessage)</h3>
                    <h4>@Html.Sitecore().Field("Summary", ChiefAirportManagerMessage)</h4>
                     <div><a href="@ChiefAirportManagerMessage.Url()" class="mb-4 mt-2 readmore">Read more</a></div><br>
                    <p class="signature">@Html.Sitecore().Field("Text", ChiefAirportManagerMessage)<span>CAO</span></p>   
                  </div>
                 <div class="col-md-2 text-right"> @Html.Sitecore().ImageField("Image", ChiefAirportManagerMessage, 0, 0, "img-fluid")</div>
                 </div></div>
                	 </div>			
           
        </div>
    </div>
</section>