@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Mvc.Presentation
@using System.Text.RegularExpressions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var parent = Sitecore.Context.Database.GetItem(datasource);
    var tab = parent.Children;
    Sitecore.Data.Fields.LinkField linkfield;
	
   
}

<!-- Sitecore.Data.Fields.LinkField Domesticlinkfield; -->
	 <!-- Domesticlinkfield = Domestic.Fields["Link"]; -->
        <!-- Domesticurl = Domesticlinkfield.GetFriendlyUrl(); -->

<section class="bg-white pb-4">
	<div class="container-fluid">
		<div class="row">
		
	        @foreach (var child in tab.ToList())
            {
		    linkfield = child.Fields["Link"];
            var linkfieldurl = linkfield.GetFriendlyUrl();
		        <div class="col-lg-6 pb-4">
				<div class="leadership_block">
					<div class="row">
						<div class="col-3">
							 <div class="leadership_block--thumb">@Html.Sitecore().ImageField("Image", child)</div> 
							<!-- <div class="leadership_block--thumb"><img src="https://via.placeholder.com/350x350" class="img-fluid"></div> -->
						</div>
						<div class="col-9">
							<div class="leadership_block--heading">
								<h3>@Html.Sitecore().Field("Title", child)</h3>
								<p>@Html.Sitecore().Field("Text", child)</p>
							</div>
						</div>
						<div class="col-12">
							<div class="leadership_block--description">
								<p>@Html.Sitecore().Field("Summary", child)</p>
								<div><a href="@linkfieldurl">Read more</a></div>
							</div>
						</div>
					</div>
				</div>
			    </div>
		    }
	
		</div>
			</div>
			</section>