@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
    var Title = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Title").FirstOrDefault().Value;
	var count =0;

}

@if (model != null)
{



    <section class="bg-cream section content-header" id="first-section">
        <div class="container-fluid">
            <div class="filters__section">
<div id="filter-dropdown" class="d-md-none d-block">
<select class="form-control dropdown-select">
<option value="AllLink">ALL</option>
<option value="ArrivalLink">Arrival</option>
<option value="DepartureLink">Departure</option>
</select>
</div>
                <div class="filters d-md-block d-none">

                    <div>
                       
                           <a href="#all" class="active" id="AllLink">All</a>

                            <a href="#Departure" id="DepartureLink">Departure</a>

                            <a href="#Arrival" id="ArrivalLink">Arrival</a>
                           <!-- <a href="#Transit" id="TransitLink">Transfer</a> -->
                        
                    </div>
                </div>


                <div class="filters-content">
                    <h2>@Title</h2>
                    <p>@Html.Sitecore().Field("Summary", model)</p>
                    <div class="row airport-section__carousel">

                        @foreach (var element in model.GetChildren().ToList())
                        {
							
                            if (element.Fields["Title"] != null  && count < 5 )
                            {
							
                             var  class12 = Html.Sitecore().Field("Type", element).ToString();

								if (class12 == "All")
								{
								class12 = "Arrival Departure Transit";
								}
								
                            <div class="col-lg-3 col-md-6 @class12 my-3 AllLink">
								<div class="filter_inner item">
                                <a href="@element.Url()">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100")
                                    <div>

                                        <p>@Html.Sitecore().Field("Title", element)</p>
                                        <span>@Html.Sitecore().Field("Body", element)</span>

                                    </div>
                                </a>
								</div>
                            </div>
                        
                            }
							count = count +1;
							
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

}




