@model Project.MiningRenderingHost.Website.Models.Card
@{
    ViewData["Title"] = "Error";
}

@*<div class="card">
    <div class="card-body">
        <h1 class="card-title heading" asp-for="Title">@Model.Title</h1>
        <p class="card-text description" asp-for="Description">@Model.Description</p>
        <sc-link asp-for="Link" class="btn btn-primary" editable="true">CTA</sc-link>
        <p class="card-title heading" asp-for="Title">Multi List Items</p>
        <ul class="list">
            @foreach (var childNav in @Model.multiList)
            {
                <li>@childNav</li>
            }
        </ul>
        <p class="card-title heading" asp-for="Title">Check List Items</p>
        <ul class="list">
            @foreach (var childNav in @Model.checkList)
            {
                <li>@childNav</li>
            }
        </ul>
        <p class="card-title heading" asp-for="Title">Multi List Item Subtree</p>
        <ul class="list">
            @foreach (var childNav in @Model.City)
            {
                <li>@childNav.Value - @childNav.Link</li>
            }
        </ul>
    </div>
</div>*@