@model Project.MiningRenderingHost.Website.Models.ContactForm
@if (Model != null)
{
    if (Model.FormFields != null)
    {
        var FormFieldsList = Model.FormFields.ToList();
        var Heading = FormFieldsList[0];
        var SubHeading = FormFieldsList[1];
        var FirstNameField = FormFieldsList[2];
        var LastNameField = FormFieldsList[3];
        var MobileField = FormFieldsList[4];
        var EmailField = FormFieldsList[5];
        var SolutionDropDown = FormFieldsList[6];
        var SubmitButton = Model.SubmitButton;

        <!-- Form -->
        <div class="form-field order-lg-2 order-1">
            <h3>@Heading.Text</h3>
            <p>
                @SubHeading.Text
            </p>
            <form action="#" class="project-form noCommonValidation" autocomplete="off" novalidate=""
                  data-gtm-form-interact-id="0">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="form-floating">
                            <input type="@FirstNameField.FieldType"
                                   class="form-control"
                                   id="name-id"
                                   name="Name"
                                   placeholder="@FirstNameField.Placeholder"
                                   required="@FirstNameField.Required"
                                   minlength="@FirstNameField.MinRequiredLength"
                                   maxlength="@FirstNameField.MaxAllowedLength">
                            <small></small>
                            <label for="name-id">@FirstNameField.FieldName</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="form-floating">
                            <input type="text"
                                   class="form-control"
                                   id="name-id"
                                   name="Name"
                                   placeholder="Last Name"
                                   required="@LastNameField.Required"
                                   minlength="@LastNameField.MinRequiredLength"
                                   maxlength="@LastNameField.MaxAllowedLength">
                            <small></small>
                            <label for="name-id">@LastNameField.FieldName</label>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="form-floating">
                            <input type="@MobileField.FieldType"
                                   name="mobile"
                                   class="form-control"
                                   id="mobile-No"
                                   placeholder="@MobileField.Placeholder"
                                   maxlength="@MobileField.MaxAllowedLength"
                                   minlength="@MobileField.MinRequiredLength"
                                   pattern="[1-9]{1}[0-9]{9}"
                                   autocomplete="off"
                                   required="@MobileField.Required">
                            <small></small>
                            <label for="mobileNo">@MobileField.FieldName</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="form-floating">
                            <input type="email"
                                   class="form-control"
                                   id="email-id"
                                   name="Email"
                                   placeholder="Email"
                                   required="@EmailField.Required"
                                   minlength="@EmailField.MinRequiredLength"
                                   maxlength="@EmailField.MaxAllowedLength">
                            <small></small>
                            <label for="email-id">@EmailField.FieldName</label>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mb-4">
                        <div class="form-floating">
                            <div class="form-group">
                                <select id="ddlSubject"
                                        class="form-control form-select"
                                        autocomplete="off"
                                        required="@SolutionDropDown.Required">
                                    <option value="" selected="selected">@SolutionDropDown.FieldName</option>
                                    @if (SolutionDropDown.FieldOptions != null)
                                    {
                                        foreach (var child in SolutionDropDown.FieldOptions)
                                        {
                                            <option value="@child.Id">@child.Label</option>
                                        }
                                    }
                                </select>
                                <small></small>
                                <span id="lblSubject" class="validation"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mb-4">
                        <div class="form-floating">
                            <textarea class="form-control"
                                      name="CustomerQuery"
                                      id="customerQuery"
                                      placeholder="Description"
                                      required="@FirstNameField.Required"
                                      minlength="@FirstNameField.MinRequiredLength"
                                      maxlength="@FirstNameField.MaxAllowedLength"
                                      rows="4">
                            </textarea>
                            <small></small>
                            <label for="name">Description</label>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mb-4">
                        @if (SubmitButton != null)
                        {
                            <button id="project-btn" class="btn btn-primary">@SubmitButton.ButtonText</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    }
}