@model Project.MiningRenderingHost.Website.Models.DiscoverMiningBrochureModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    <section class="our-projects position-relative section-padding">
        <div class="container">
            <div class="project-scroll">
                <div class="item">
                    <div class="section-flex">
                        <h3 class="show-mob mt-4">
                            <span class="mob-span content-center">@Model.Heading</span>
                        </h3>
                        <div class="accreditation-img prj-img m-40 discover">
                            @if (Model.Image != null)
                            {
                                <img src="@serverUrl@Model.Image.Src" alt="@Model.Image.Alt">
                            }
                        </div>
                        <div class="accreditation-info">
                            <div class="section-info mt-3 mt-md-0">
                                <h3 class="show-large"><span>@Model.Heading</span></h3>
                                @Html.Raw(Model.Description)
                                @if (Model.CTALink != null)
                                {
                                    _linkurl = Model.CTALink.URL;
                                    _linktarget = Model.CTALink.Target;
                                    _linktext = Model.CTALink.Text;
                                }
                                <a href="@_linkurl" target="@_linktarget" class="section-btn-exp-prj m-40 download-m-web">
                                    @if (Model.Image != null)
                                    {
                                        <img src="@serverUrl@Model.CtaImage?.Src" alt="@Model.CtaImage?.Alt" class="download-pdf">
                                    }
                                    @_linktext
                                </a>
                            </div>
</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}