@model Project.MiningRenderingHost.Website.Models.FAQ
@{
    int count = 1;
    string questionID = "heading";
    string buttonID = "collapse";
}
<section class="faq position-relative section-padding">
    <div class="container">
        <div class="section-info">
            <h3><span>@Model.Heading</span></h3>
        </div>

        <div class="accordion" id="accordionExample">
            @if (Model.FaqData != null)
            {
                foreach (var child in Model.FaqData.ToList().GetRange(0, Math.Min(5, Model.FaqData.ToList().Count)))
                {
                    questionID = questionID + count;
                    buttonID = buttonID + count;

                    <div class="accordion-item">
                        <h3 class="accordion-header" id="@questionID">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@buttonID" aria-expanded="true" aria-controls="@buttonID">
                                @Html.Raw(child.Question)
                            </button>
                        </h3>
                        <div id="@buttonID" class="accordion-collapse collapse" aria-labelledby="@questionID"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @Html.Raw(child.Answer)
                            </div>
                        </div>
                    </div>
                }
            }


            <span class="moretext">
                @if (Model.FaqData != null && Model.FaqData.Count > 5)
                {
                    foreach (var child in Model.FaqData.ToList().GetRange(5, Model.FaqData.ToList().Count - 5))
                    {
                        questionID = questionID + count;
                        buttonID = buttonID + count;

                        <div class="accordion-item">
                            <h3 class="accordion-header" id="@questionID">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#@buttonID" aria-expanded="true" aria-controls="@buttonID">
                                    @Html.Raw(child.Question)
                                </button>
                            </h3>
                            <div id="@buttonID" class="accordion-collapse collapse" aria-labelledby="@questionID"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @Html.Raw(child.Answer)
                                </div>
                            </div>
                        </div>
                    }
                }
            </span>
        </div>
        <p class="moreless-button pt-5">@Model.CTAText</p>
    </div>
</section>