@model Project.MiningRenderingHost.Website.Models.Footer
@{
    NavigationList SocialList = Model.MainNavigations.LastOrDefault();
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    @if (Model.Image != null)
                    {
                        <img src="@serverUrl@Model.Image.Src" alt="@Model.Image.Alt" />
                    }
                </div>
                <div class="footer-nav-wrap">
                    <div class="row">
                        <div class="col-md-9 f-nav">
                            <ul>
                                @if (Model.MainNavigations != null)
                                {

                                    @foreach (var parent in Model.MainNavigations.ToList().GetRange(0, Model.MainNavigations.ToList().Count - 1))
                                    {
                                        <li class="f-nav-column">
                                            @if (parent.Items != null)
                                            {
                                                <a>@parent.Heading</a>
                                                <ul>
                                                    @foreach (var child in parent.Items)
                                                    {
                                                        if (child.Link != null)
                                                        {
                                                            _linkurl = child.Link.URL;
                                                            _linktarget = child.Link.Target;
                                                            _linktext = child.Link.Text;
                                                        }
                                                        <li><a href="@_linkurl" target="@_linktarget">@_linktext</a></li>

                                                    }
                                                </ul>
                                            }                                    
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                        @if (SocialList != null)
                        {
                            <div class="col-md-3 f-social">
                                <h3 class="show-on-large mt-3 mt-lg-0">@SocialList.Heading</h3>
                                <ul>
                                    @if (SocialList.Items != null)
                                    {
                                        foreach (var child in SocialList.Items)
                                        {
                                            if (child.Link != null)
                                            {
                                                _linkurl = child.Link.URL;
                                                _linktarget = child.Link.Target;
                                                _linktext = child.Link.Text;
                                            }
                                            <li>
                                                <a href="@_linkurl" target="@_linktarget" rel="noopener noreferrer">
                                                    @if (child.Image != null)
                                                    {
                                                        <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt">
                                                    }
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>@Model.Copyright</p>
                </div>
            </div>
        </div>
    </footer>
}