@model Project.MiningRenderingHost.Website.Models.Header

@{
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}

@if (Model != null)
{
    <div class="header-wrapper">
        <div class="top-header show-large">
            <div class="container-1">
                @if (Model.TopbarList != null)
                {
                    @foreach (var child in Model.TopbarList)
                    {
                        <a href="@child.Link">
                            <img src="@serverUrl@child.LinkIcon" alt="download-icon" class="download-icon">
                            <span>@child.LinkText</span>
                        </a>
                    }
                }

            </div>
        </div>
        <header class="header transparent">
            <div class="container-1">

                <div class="row">
                    <div class="col-md-3 logo-section">
                        <div class="logo-area">
                            <a href="@Model.BuLink">
                                <img src="@serverUrl@Model.Logo" alt="@Model.BuLogoAltText" class="logo green-logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 header-nav">
                        <div class="menu-section">
                            <ul>
                                @if (Model.NavData != null)
                                {
                                    @foreach (var nav in Model.NavData)
                                    {
                                        <li class="@nav.Class"><a href="@nav.Link" id="@nav.Class">@nav.LinkText</a></li>
                                    }
                                    <li class="menu-last-link"><a href="/contact-us" id="nav-last-btn">Enquiry</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overLay"></div>          
        </header>
    </div>
}