@model Project.MiningRenderingHost.Website.Models.DiscoverMiningBrochureModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    <section class="our-leader position-relative section-padding">
        <div class="container">
            <div class="project-scroll">
                <div class="item">
                    <div class="section-flex">
                        <div class="section-info py-2 show-mob">
                            <h4 class="">@Model.SubHeading </h4>
                            <h3 class=""><span>@Model.Heading</span></h3>
                        </div>
                        <div class="accreditation-img prj-img">
                            @if (Model.Image != null)
                            {
                                <img src="@serverUrl@Model.Image.Src" alt="@Model.Image.Alt">
                            }
                        </div>
                         <p class="show-mob para-margin">
                            @Html.Raw(Model.Description)
                        </p>
                        <a href="#" class="read-link show-mob">Read more</a>
                        <div class="accreditation-info mtcs-info">
                            <div class="section-info mt-3 mt-md-0 mb-0">
                                <h4 class="show-large">@Model.SubHeading </h4>
                                <h3 class="show-large"><span>@Model.Heading</span></h3>
                               <p class="show-large para-margin mob-para-3">
                                    @Html.Raw(Model.Description)
                                </p>
                                @if (Model.CTALink != null)
                                {
                                    _linkurl = Model.CTALink.URL;
                                    _linktarget = Model.CTALink.Target;
                                    _linktext = Model.CTALink.Text;
                                }
                                <a class="read-link show-large read-more-3">@_linktext</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}