@model Project.MiningRenderingHost.Website.Models.MainBannerCarousel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    @if (Model.MainBannerData != null)
    {
        <div class="cm-home">
            <div class="carousel">
                @foreach (var child in Model.MainBannerData)
                {
                    <div class="slide-container">
                        @if (child.Image != null)
                        {
                            <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt" class="desk-img">
                        }
                        @if (child.MobileImage != null)
                        {
                            <img src="@serverUrl@child.MobileImage.Src" alt="@child.MobileImage.Alt" class="mob-img">
                        }
                        @if (child.TabletImage != null)
                        {
                            <img src="@serverUrl@child.TabletImage.Src" alt="@child.TabletImage.Alt" class="tab-img">
                        }

                        <div class="slider-content">
                            <h4>@child.Heading </h4>
                            <h3>
                                <span>@child.SubHeading</span>
                            </h3>
                            @Html.Raw(child.Description)
                            @if (child.CtaLink != null)
                            {
                                _linkurl = child.CtaLink.URL;
                                _linktarget = child.CtaLink.Target;
                                _linktext = child.CtaLink.Text;
                            }
                            <a href="@_linkurl" target="@_linktarget" class="carousel-btn">@_linktext</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}