@model Project.MiningRenderingHost.Website.Models.ProjectListing.OtherProjects
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    <section class="@Model.BgColor position-relative section-padding">
        <div class="container">
            <div class="section-info section-align ">
                <h4>@Model.SubHeading</h4>
                <h3>
                    <span>@Model.Heading</span>
                </h3>
                @Html.Raw(Model.Description)

            </div>
            <div class="btm scrollable m-plan">
                @if (Model.Projects != null)
                {
                    foreach (var child in Model.Projects)
                    {
                        <div class="item">
                            @if (child.CTALink != null)
                            {
                                _linkurl = child.CTALink.URL;
                                _linktarget = child.CTALink.Target;
                                _linktext = child.CTALink.Text;
                            }
                            <a href="@_linkurl" target="@_linktarget">
                                <div class="inner">
                                    <div class="img">
                                        @if (child.Image != null)
                                        {
                                            <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt" />
                                        }

                                    </div>
                                    <div class="desc homestats">
                                        <h2 class="child">@child.Heading</h2>
                                        <div class="wrap">
                                            <div class="desc-left mb-2">
                                                <p class="child">@child.SubHeading</p>
                                            </div>
                                            <a href="@_linkurl" class="read-link" target="_linktarget">@_linktext</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>            
        </div>
    </section>
}