@model Project.MiningRenderingHost.Website.Models.OurAccreditation
@{
    int Count = 1;
    var _linkurl = "";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
    if (Model.CTALink != null)
    {
        _linkurl = Model.CTALink.URL;
        _linktarget = Model.CTALink.Target;
        _linktext = Model.CTALink.Text;
    }
}

@if (Model != null)
{
    <div class="our-accreditation position-relative section-padding">
        <div class="container">
            <div class="section-flex">
                <div class="accreditation-info">
                    <div class="section-info content-center">
                        <h4 class="show-large">@Model.Heading</h4>
                        <h3 class="show-large">
                            <span>@Model.SubHeading</span>
                        </h3>
                        <h4 class="show-mob">@Model.Heading </h4>
                        <h3 class="show-mob">
                            <span>@Model.SubHeading</span>
                        </h3>
                        <p class="show-mob"> @Html.Raw(Model.Description)</p>
                        <div class="d-flex-web">
                            @if (Model.LogoImages != null)
                            {
                                foreach (var child in Model.LogoImages)
                                {
                                    if (Count < 3)
                                    {
                                        @if (child.Image != null)
                                        {
                                            <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt" class="show-mob acc-img">
                                        }
                                    }
                                    else
                                        break;
                                }
                            }
                        </div>
                        <p class="para-margin show-large">@Html.Raw(Model.Description)</p>
                        @if (!string.IsNullOrEmpty(_linkurl))
                        {
                            <a href="@_linkurl" target="@_linktarget" class="section-btn-acc mt-25">@_linktext</a>
                        }
                    </div>
                </div>
                <div class="accreditation-img">
                    <div class="acc-img-flex">
                        @if (Model.LogoImages != null)
                        {
                            foreach (var child in Model.LogoImages)
                            {
                                if (Count < 3)
                                {
                                    @if (child.Image != null)
                                    {
                                        <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt" class="show-large">
                                    }
                                }
                                else
                                    break;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}