@model Project.MiningRenderingHost.Website.Models.ProjectListing.OurProjects
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    <section class="mtcs-projects position-relative section-padding">
        <div class="container">
            <div class="section-info section-align ">
                <h4>@Model.SubHeading</h4>
                <h3>
                    <span>@Model.Heading</span>
                </h3>
                @Html.Raw(Model.Description)
            </div>
            <a class="read-link show-mob moreless-button">Read More</a>
            <div class="btm scrollable mtcs-mining-project">
                @if (Model.OurServicesdata != null)
            {               
                    foreach (var child in Model.OurServicesdata)
                    {
                        <div class="item">
                            @if (child.Link != null)
                            {
                                _linkurl = child.Link.URL;
                                _linktarget = child.Link.Target;
                                _linktext = child.Link.Text;
                            }
                            <a href="@_linkurl" target="@_linktarget">
                                <div class="inner">
                                    <div class="img">
                                        @if (child.Image != null)
                                        {
                                            <img src="@serverUrl@child.Image.Src" alt="@child.Image.Alt" />
                                        }

                                    </div>
                                    <div class="desc homestats">
                                        <h2 class="child">@child.Heading</h2>
                                        <div class="wrap">
                                            <div class="desc-left mb-2">
                                                <p class="child">@child.Description</p>
                                            </div>
                                            <span class="read-link child-line">@_linktext</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
            @if (Model.OurServicesdata != null && Model.OurServicesdata.Count >= 3)
            {
                <div class="arrows">
                    <div class="arr-left-1">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg>
                    </div>
                    <div class="arr-right-1">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg>
                    </div>
                </div>
            }
        </div>
    </section>
}
