@model Project.MiningRenderingHost.Website.Models.Partners
@{
    int count = 1;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
<section class="our-partner position-relative section-padding">
    <div class="container">
        <div class="section-flex">
            <div class="accreditation-info">
                <div class="section-info">
                    <h4>@Model.Heading</h4>
                    <h3>
                        <span>@Model.SubHeading</span>
                    </h3>
                    @if (Model.OurPartnersData != null)
                    {

                        <div class="accreditation-img show-mob">
                            <div class="partner-img-flex flex-border">
                                @foreach (var child in Model.OurPartnersData.ToList().GetRange(0, Math.Min(3, Model.OurPartnersData.ToList().Count)))
                                {
                                    <div class="div-@count">
                                        <img src="@serverUrl@child.Image" alt="@child.ImageAltText">
                                    </div>
                                    count++;
                                }
                            </div>

                            <div class="partner-img-flex padding-top">
                                @foreach (var child in Model.OurPartnersData.ToList().GetRange(0, Model.OurPartnersData.ToList().Count - 3))
                                {
                                    if (count == 7)
                                    {
                                        break;
                                    }

                                    <div class="div-@count">
                                        <img src="@serverUrl@child.Image" alt="@child.ImageAltText">
                                    </div>

                                    count++;
                                }
                            </div>
                        </div>
                    }
                    @Html.Raw(Model.Description)
                    <a href="@Model.CtaLink" class="section-btn">@Model.CtaText</a>
                </div>
            </div>

            @if (Model.OurPartnersData != null)
            {
                count = 1;
                <div class="accreditation-img show-large">
                    <div class="partner-img-flex flex-border">
                        @foreach (var child in Model.OurPartnersData.ToList().GetRange(0, Math.Min(3, Model.OurPartnersData.ToList().Count)))
                        {
                            <div class="div-@count">
                                <img src="@serverUrl@child.Image" alt="@child.ImageAltText">
                            </div>
                            count++;
                        }
                    </div>

                    <div class="partner-img-flex padding-top">
                        @foreach (var child in Model.OurPartnersData.ToList().GetRange(0, Model.OurPartnersData.ToList().Count - 3))
                        {
                            if (count == 7)
                            {
                                break;
                            }

                            <div class="div-@count">
                                <img src="@serverUrl@child.Image" alt="@child.ImageAltText">
                            </div>

                            count++;
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>