@model Project.MiningRenderingHost.Website.Models.ProjectDetails.ProjectDetails
@{

    int count = 0;
    int count2 = 0;
    
}
<section class="mining-closure position-relative section-padding">
    <div class="container">
        <div class="section-info section-align">
            <h3>
                <span>@Model.Heading</span>
            </h3>
            @Html.Raw(Model.Description)
        </div>
        <div class="closure-card position-relative news-box-1 show-more-height-1">
            @if (Model.Projects != null)
            {
               
                foreach (var child in Model.Projects.ToList().GetRange(0, Math.Min(6, Model.Projects.ToList().Count)))
                {
                    string modelweb = "modelweb" + count;
                    string modelmob = "modelmob" + count;
                    <a href="#" class="show-large" type="button" data-bs-toggle="offcanvas"
                       data-bs-target="#@modelweb" aria-controls="@modelweb">
                        <div class="c-card h-100 homestats">
                            <small>@child.Year</small>
                            <h2>@child.ProjectName</h2>
                            <p><span class="c-span">@child.LocationHeading</span> @child.Location</p>
                            <p><span class="c-span">@child.MineralHeading </span> @child.MineralUsed</p>
                            <p>
                                @Html.Raw(child.ProjectDetails)
                            </p>
                        </div>
                    </a>

                    <a href="#" class="show-mob" type="button" data-bs-toggle="offcanvas"
                       data-bs-target="#@modelmob" aria-controls="@modelmob">
                        <div class="c-card homestats">
                            <small>@child.Year</small>
                            <h2>@child.ProjectName</h2>
                            <p><span class="c-span">@child.LocationHeading</span> @child.Location</p>
                            <p><span class="c-span">@child.MineralHeading </span> @child.MineralUsed</p>
                            <p>
                                @Html.Raw(child.ProjectDetails)
                            </p>

                        </div>
                    </a>
                    count++;


                }

            }
        </div>
        @foreach (var parent in Model.Projects.ToList().GetRange(0, Math.Min(6, Model.Projects.ToList().Count)))
        {
            if(parent != null && parent.Items != null)
            {
                @if (parent.Items.ToList() != null)
                {

                    foreach (var child in parent.Items.ToList().GetRange(0, Math.Min(6, parent.Items.ToList().Count)))
                    {

                        string modelweb = "modelweb" + count2;
                        string modelmob = "modelmob" + count2;
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="@modelweb"
                             aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="off-title">
                                    <h2>@child.Title</h2>
                                </div>
                                <div class="off-info">
                                    @Html.Raw(child.Description)
                                </div>
                            </div>
                        </div>
                        <div class="offcanvas offcanvas-bottom show-mob" tabindex="-1" id="@modelmob"
                             aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">

                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body small">
                                <div class="off-title">
                                    <h2>@child.Title</h2>
                                </div>
                                <div class="off-info">
                                    @Html.Raw(child.Description)
                                </div>
                            </div>
                        </div>
                        count2++;
                    }


                }
            }
        }
        
        @if (Model.Projects.ToList().Count > 3)
        {
            <a class="section-btn-exp explore--open-1">@Model.CTALink?.Text</a>
        }
    </div>
</section>
