@model Project.MiningRenderingHost.Website.Models.Projects

@{
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}

@if (Model != null)
{
    <section class="our-projects position-relative section-padding">
        <div class="container">
            <div class="section-info">
                <h4>@Model.Heading</h4>
                <h3><span>@Model.SubHeading</span></h3>
            </div>
            @if (Model.OurProjectsdata != null)
            {
                <div class="project-scroll">
                    @foreach (var child in Model.OurProjectsdata)
                    {
                        <div class="item">
                            <div class="section-flex pt-3">
                                <div class="accreditation-img prj-img">
                                    <img src="@serverUrl@child.Image" alt="@child.ImageAltText">
                                </div>

                                <div class="accreditation-info">
                                    <div class="section-info mt-3 mt-md-0">
                                        <h3 class="show-mob mt-4"><span>@child.Heading<br /> @child.SubHeading</span></h3>
                                        <h3 class="show-large"><span>@child.Heading<br /> @child.SubHeading</span></h3>
                                        @Html.Raw(child.Description)
                                        <a href="@child.CTALink" class="section-btn">@child.CTAText</a>
                                        <a href="@child.CTALink2" class="section-btn-exp-prj">@child.CTAText2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="arrows-1">
                <div class="arr-left-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                    </svg>
                </div>
                <div class="arr-right-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </section>
}