@using Project.MiningRenderingHost.Website.Models.Common;
@model Project.MiningRenderingHost.Website.Models.Common.RequestACallForm;

@if (Model != null)
{
    if (Model.FormFields != null)
    {
        var FormFieldsList = Model.FormFields.ToList();
        var sectionHeading = FormFieldsList[0];
        var NameField = FormFieldsList[1];
        var EmailField = FormFieldsList[2];
        var MobileField = FormFieldsList[3];
        var SolutionDropDownField = FormFieldsList[4];
        var MessageField = FormFieldsList[5];
        var submitButton = Model.SubmitButton;
        <div class="form-data">
            <div class="container-form">
                <div class="project-form-div">
                    <div class="form-block mb-3">
                        <h3>@sectionHeading.Text</h3>
                    </div>

                    <form action="#" class="project-form">

                        <div class="row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="@NameField.FieldType"
                                           class="form-control"
                                           id="name-id"
                                           name="Name"
                                           placeholder="@NameField.Placeholder"
                                           required="@NameField.Required"
                                           maxlength="@NameField.MaxAllowedLength"
                                           minlength="@NameField.MinRequiredLength">
                                    <label for="email-id">@NameField.FieldName</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="@EmailField.FieldType"
                                           class="form-control"
                                           id="email-id"
                                           name="Email"
                                           placeholder="@EmailField.Placeholder"
                                           required="@EmailField.Required"
                                           maxlength="@EmailField.MaxAllowedLength"
                                           minlength="@EmailField.MinRequiredLength">
                                    <label for="email-id">@EmailField.FieldName</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <div class="relative">
                                        <div class="relative">
                                            <div class="combineOption">
                                                <div class="countryCode">
                                                    <div class="selectFlag">
                                                        <canvas class="country-sprite flag-in sm-flag pos-absolute"
                                                                style="background-image: url('https://sa.adanione.com/-/media/Feature/Adani/CountryFlags/Flags-with-Name/india.png');"></canvas>
                                                        <input class="country-input-flag" type="text"
                                                               autocomplete="off" aria-label="Select country code"
                                                               value="+91">
                                                    </div>
                                                    <i class="font-icons icon-arrow-down">
                                                        <img src="images/angle-down.png" alt="">
                                                    </i>
                                                </div>
                                                <div class="NumWrap">
                                                    <div class="form-control-custom-error adl-floating-input form-floating">
                                                        <input placeholder="@MobileField.Placeholder"
                                                               auto-id=""
                                                               autocomplete="off"
                                                               name=""
                                                               type="@MobileField.FieldType"
                                                               id="mobileNo"
                                                               class="form-control"
                                                               value=""
                                                               required="@MobileField.Required"
                                                               maxlength="@MobileField.MaxAllowedLength"
                                                               minlength="@MobileField.MinRequiredLength">
                                                        <label for="mobileNo">@MobileField.FieldName</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="country_code_layer" id="countryid">
                                            <div class="search_box__parent">
                                                <div class="search_box">
                                                    <i class="font-icons icon-search">
                                                        <img src="images/search-.png" alt="">
                                                    </i><input placeholder="Select Country" autocomplete="off" type="text"
                                                               id="usr" aria-label="search country" class="search_field"
                                                               auto-id="" value="">
                                                </div>
                                            </div>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-au mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Australia</p><span>+61</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-bd mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Bangladesh</p><span>+880</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-fr mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>France</p><span>+33</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-de mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Germany</p><span>+49</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-in mr-10"
                                                            style="background-image: url(&quot;https://sa.adanione.com/-/media/Feature/Adani/CountryFlags/Flags-with-Name/india.png&quot;);"></canvas>
                                                    <p>India</p><span>+91</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="active">
                                                    <canvas class="country-sprite flag-il mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Israel</p><span>+972</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-my mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Malaysia</p><span>+60</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-mv mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Maldives</p><span>+960</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-mu mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Mauritius</p><span>+230</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-nl mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Netherlands</p><span>+31</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-qa mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Qatar</p><span>+974</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-sg mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>Singapore</p><span>+65</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-ae mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>United Arab Emirates</p><span>+971</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-gb mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>United Kingdom</p><span>+44</span>
                                                </li>
                                            </ul>
                                            <ul class="country_list">
                                                <li class="">
                                                    <canvas class="country-sprite flag-us mr-10"
                                                            style="background-image: url(&quot;https://www.adanione.com/-/media/Project/Adani/CountryImage/country-flags.png&quot;);"></canvas>
                                                    <p>United States</p><span>+1</span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class=" row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <div class="form-group">
                                        <select required="@SolutionDropDownField.Required"
                                                name="ddlSubject"
                                                id="ddlSubject"
                                                class="form-control"
                                                data-gtm-form-interact-field-id="0">
                                            <option value="none">@SolutionDropDownField.FieldName</option>
                                            @if (SolutionDropDownField.FieldOptions != null)
                                            {
                                                foreach (var child in SolutionDropDownField.FieldOptions)
                                                {
                                                    <option value="@child.Id">@child.Label</option>
                                                }
                                            }
                                        </select>
                                        <span id="lblSubject" class="validation"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <textarea required="@MessageField.Required"
                                              maxlength="@MessageField.MaxAllowedLength"
                                              minlength="@MessageField.MinRequiredLength"
                                              class="form-control "
                                              name="@MessageField"
                                              id="customerQuery"
                                              placeholder="@MessageField.Placeholder"
                                              rows="4">
                                                                    </textarea>
                                    <label for="name">@MessageField.FieldName</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-button-section">
                            <button id="project-btn"
                                    class="btn btn-primary">
                                @if (submitButton != null)
                                {
                                    @submitButton.ButtonText;
                                }
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}

