@model Project.MiningRenderingHost.Website.Models.ThankyouModal
@{
    var _linkurl = "javascript:void(0)";
    var _linktext = string.Empty;
    var serverUrl = "https://sitecorecm.uat.adanirealty.com";
}
@if (Model != null)
{
    if (Model.ThankYouData != null)
    {
        if (Model.ThankYouData.CtaLink != null)
        {
            _linkurl = Model.ThankYouData.CtaLink;
        }
        if (Model.ThankYouData.CtaLink != null)
        {
            _linktext = Model.ThankYouData.CtaText;
        }
        <!-- Web PopUp -->
        <div class="modal fade contact-us show-large" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="right-icon">
                            <img src="@serverUrl@Model.ThankYouData.Image" alt="@Model.ThankYouData.ImageAlt">
                        </div>
                        <h3>@Model.ThankYouData.Heading</h3>
                        <p>@Model.ThankYouData.Description</p>
                    </div>
                    <div class="modal-footer">
                        <a href="@_linkurl" class="contact-back-btn">@_linktext</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile Popoup -->
        <div class="offcanvas offcanvas-bottom show-mob contact-us-mob" tabindex="-1" id="offcanvasBottom-1" aria-labelledby="offcanvasBottomLabel">
            <div class="modal-dialog-1">
                <div class="modal-content-1">
                    <div class="offcanvas-header modal-header-1">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small modal-body-1">
                        <div class="right-icon">
                            <img src="@serverUrl@Model.ThankYouData.MobileImage" alt="@Model.ThankYouData.ImageAlt">
                        </div>
                        <h3>@Model.ThankYouData.Heading</h3>
                        <p>@Model.ThankYouData.Description</p>
                    </div>
                    <div class="modal-footer-1">
                        <a href="@_linkurl" class="contact-back-btn">@_linktext</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
