@using Adani.BAU.Transmission.Feature.Media.Platform.Models;
@using Sitecore.Globalization;

@if (Model != null && Model.bannerList.Count > 0)
{


    <div class="section-gen-banner section active fp-auto-height" id="i1">
        <div class="pw-genBanner">
            <ul id="pw-genBanner">
                @foreach (var bannerList in Model.bannerList)
                {
                    <li>
                        <img src="@bannerList.ImageSrc" alt="@bannerList.ImageAlt" />
                        <div class="container">
                            <div class="pw-bannerText aos-init aos-animate" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
                                <h1 class="margin-0">
                                    @Html.Raw(bannerList.Title)
                                </h1>
                                <a class="btn ad-btn-secondary" href='@bannerList.LinkURL'>@Sitecore.Globalization.Translate.Text("know_more")</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

}
