@using Sitecore.Data.Fields
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Foundation.Website.Helper

@{
var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
var parent = Sitecore.Context.Database.GetItem(datasource);
Sitecore.Data.Fields.ImageField imgFieldss = ((Sitecore.Data.Fields.ImageField)parent.Fields["Thumbnail"]);
string imgurls = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgFieldss.MediaItem);
int h = 1;
int c = 1;
int i= 1;
int co= 1;
int j=0;
int a=0;
int b=0;
int bo=0;
int count = 0;
var replacestr = @Html.Sitecore().Field("Title");
}
<section class=" bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="video-section aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500" data-toggle="modal" data-target="#video-1">
                    <img alt="" src="@imgurls" class="img-fluid" loading="lazy">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="tabs_school py-lg-5 aos-init aos-animate" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="2500">
                    <ul class="nav nav-tabs nav-justified">
                        @{List
                        <string>
                            amentylist = new List<string>
                                ();}
                                @foreach (var child in parent.Children.ToList())
                                {

                                amentylist.Add(child.ID.ToString());

                                if(count == 0)
                                {
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#menu-@count">@Html.Sitecore().Field("Title", child)</a>
                                </li>
                                }
                                else
                                {
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu-@count">@Html.Sitecore().Field("Title", child)</a>
                                </li>
                                }
                                count++;
                                }
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        @foreach (var amenty in amentylist)
                        {
                        var mainAmenty = Sitecore.Context.Database.GetItem(amenty);

                        if(j == 0)
                        {
                        <div class="tab-pane container active" id="menu-@j">
                            <div id="accordion">
                                @foreach (var item in mainAmenty.GetChildren().ToList())
                                {



                                if(b == 0)
                                {
                                <div class="card">
                                    <div class="card-header" id="heading-@h">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-@c" aria-expanded="true" aria-controls="collapse-@c">
                                                @Html.Sitecore().Field("Heading", item)
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse-@c" class="collapse show" aria-labelledby="heading-@h" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>@Html.Sitecore().Field("ShortDescription", item)</p>
                                        </div>
                                    </div>
                                </div>
                                }
                                else
                                {
                                <div class="card">
                                    <div class="card-header" id="heading-@h">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-@c" aria-expanded="false" aria-controls="collapse-@c">
                                                @Html.Sitecore().Field("Heading", item)
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse-@c" class="collapse" aria-labelledby="heading-@h" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>@Html.Sitecore().Field("ShortDescription", item)</p>
                                        </div>
                                    </div>
                                </div>
                                }

                                b++;
                                h++;
                                c++;

                                }

                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="tab-pane container" id="menu-@j">
                            <div id="accordion">
                                @foreach (var item in mainAmenty.GetChildren().ToList())
                                {



                                if(bo == 0)
                                {
                                <div class="card">
                                    <div class="card-header" id="heading-@i">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-@co" aria-expanded="true" aria-controls="collapse-@co">
                                                @Html.Sitecore().Field("Heading", item)
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse-@co" class="collapse show" aria-labelledby="heading-@i" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>@Html.Sitecore().Field("ShortDescription", item)</p>
                                        </div>
                                    </div>
                                </div>
                                }
                                else
                                {
                                <div class="card">
                                    <div class="card-header" id="heading-@i">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-@co" aria-expanded="false" aria-controls="collapse-@co">
                                                @Html.Sitecore().Field("Heading", item)
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse-@co" class="collapse" aria-labelledby="heading-@i" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>@Html.Sitecore().Field("ShortDescription", item)</p>
                                        </div>
                                    </div>
                                </div>
                                }

                                bo++;
                                i++;
                                co++;

                                }

                            </div>
                        </div>
                        }
                        j++;

                        }
                    </div>
                </div>
            </div>
        </div>
</section>