@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model List<Sitecore.Feature.Accounts.NEW_CON_APPLICATION_FORM>
@{
    string disp = "";
    disp = "display: none;";


}
@if (Session["Message"] != null && !string.IsNullOrEmpty(Session["Message"].ToString()))
{
    <div class="form-group row">
        <input id="message" type="hidden" value="@Session["Message"].ToString()" />
    </div>
}


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmNewConnectionApplicationList", @class = "form-signin", enctype = "multipart/form-data" }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!-- Page Content -->
    <div class="pageContent">
        <div class="container">
            <!-- Welcome Message-->
            <div class="row">
                <div class="col-12">
                    <h4 class="float-left">
                        New Connection List
                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /Welcome Message -->
            <div class="py-2"></div>
            <!-- Section -->
            <!-- Main Content Panel -->

            <div class="" id="mainContent">
                <div class="complaint-panel p-4">
                    <div class="row mb-3">
                        <div class="col-lg-9">
                            <div class="">
                                <p class="text-note mb-2">New Connection Application Status</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="search_sidebar">
                                <li>
                                    <div class="form-group">
                                        <input class="form-control" aria-describedby="Search.." id="searchCONStatusApp" type="text" placeholder="Search..">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive mb-4" style="max-height:400px;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width: 60px;">Sr. No</th>
                                    <th>Application Number</th>
                                    <th>Applicant Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="CONApps">
                                @{
                                    var count = 1;
                                    foreach (var app in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@app.ApplicationNumber</td>
                                            <td>@app.FirstName @(!string.IsNullOrEmpty(app.MiddleName) ? app.MiddleName : "") @app.LastName</td>
                                            <td>@(app.Status == 1 ? "Saved" : "Submited")</td>
                                            <td><a href="/newconnection/newconnectionhome?id=@app.Id">Edit</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="loader-wrapper" style="display:none">
    <div id="loader"></div>
    <div class="loader-content" style="text-align:center;"><p><b>Your request is being processed. Please do not press the “Back” or “Refresh” button.</b></p></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div id="message_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p>Message</p>
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                @if (Session["Message"] != null && !string.IsNullOrEmpty(Session["Message"].ToString()))
                {
                    <div class="form-group row">
                        <label for="" class="col-sm-12 col-form-label txt-green">@Session["Message"].ToString()</label>
                        @*@if (Session["AlertMessage"] != null && !string.IsNullOrEmpty(Session["AlertMessage"].ToString()))
                            {
                                <p class="col-sm-12 col-form-label txt-orange">@Session["AlertMessage"].ToString()</p>
                            }*@
                    </div>
                    Session["Message"] = null;
                    Session["AlertMessage"] = null;
                }
            </div>
            <button type="button" style="padding-bottom:10px;" class="close" data-dismiss="modal">Ok</button>
        </div>

    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
