@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Realty.Website
@using Sitecore.Mvc.Configuration
@model Sitecore.Realty.Website.Model.EnquiryModel

@{
    var id = Sitecore.Context.Database.GetItem("{6983D473-650D-4418-B6E6-605C877EC50B}").Url();
    string RedirectUrl = Request.Url.Scheme + "://" + Request.Url.Host + id;
    var pagename = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item);
}

<!--
Event snippet for Adani Pune Greens - Conversion  on : Please do not remove.
Place this snippet on pages with events you’re tracking.
Creation date: 11/30/2018
-->
<script>
    gtag('event', 'conversion', {
        'allow_custom_scripts': true,
        'send_to': 'DC-9066419/invmedia/adani00+standard'
    });
</script>
<noscript>
    <img src="https://ad.doubleclick.net/ddm/activity/src=9066419;type=invmedia;cat=adani00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt="" />
</noscript>

<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '292960701327843');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=292960701327843&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
<!-- <script> -->
<!-- fbq('track', 'Lead'); -->
<!-- </script> -->
<!-- Global site tag (gtag.js) - Google Ads: 777639171 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-777639171"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-777639171');
</script>

<!-- Event snippet for Adani Pune - Remarketing conversion page -->
<!-- <script> -->
<!-- gtag('event', 'conversion', {'send_to': 'AW-777639171/ug8ACOXzg5ABEIOq5_IC'}); -->
<!-- </script> -->

<form id="codegreen_enquiry_form1" name="codegreen_enquiry_form1" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    <input type=hidden name='captcha_settings' value='{"keyname":"Adani_website_new","fallback":"true","orgId":"00D28000000eQCv","ts":""}'>
    <input type=hidden name="oid" value="00D28000000eQCv">
    <input type=hidden name="retURL" value="@RedirectUrl">
    <input type="hidden" id="lead_source" name="lead_source" value="5 - Web to Lead" />
    <input type="hidden" id="00N2800000DM81x" name="00N2800000DM81x" type="checkbox" value="1" />
    <input type="hidden" id="FormType" value="Atelier Greens" />
    <input type="hidden" id="PageInfo" value="@pagename" />
    <input type="hidden" id="utm_source" value="" />
    <h4>Enquire Now</h4>
    <ul class="form-list" id="enquiryForm">
        <li class="form-li">
            <div class="form-field">
                <input class="text full" type="text" name="first_name" id="firstname" required="required">
                <label>First Name</label>
            </div>
        </li>
        <li class="form-li">
            <div class="form-field">
                <input class="text full" type="text" name="last_name" id="lastname" required="required">
                <label>Last Name</label>
            </div>
        </li>
        <li class="form-li">
            <div class="form-field">
                <input class="text full" type="email" name="email" id="enuiry-email" required="required">
                <label>Email Id</label>
            </div>
        </li>
        <li class="form-li select-country">
            <div class="select-field">
                @Html.DropDownList("country_code", new List<SelectListItem>
                 {
                    new SelectListItem{Value="AU",Text="Australia"},
                    new SelectListItem{Value="CA",Text="Canada"},

                    new SelectListItem{Value="GB",Text="United Kingdom"},
                    new SelectListItem{Value="IN",Text="India"},
                    new SelectListItem{Value="US",Text="United States"},
                    new SelectListItem{Value="OT",Text="Others"},
                 }, "Select Country",new {id="country", @class = "form-control" })
            </div>
        </li>
        <li class="form-li select-city">
            <div class="select-field">
                @Html.DropDownList("state_code", new List<SelectListItem> { }, "Select State", new { id = "state", @class = "form-control" })
            </div>
        </li>
        <li class="mobile-field">
            <div class="form-field">
                <small id="countryCode"></small>
                <input type="hidden" name="countryCode" class="countryCode" value="91">
                <input class="text" type="number" name="mobile" id="enuiry-mobile" required="required" autocomplete="false">
                <label>Mobile No:</label>
            </div>
        </li>
        <li style="display:none;">
            <input checked="01228000000df0X" type="radio" name="recordType" value="01228000000df0X">&nbsp;RESIDENTIAL <br>
            <select name="Projects_Interested__c" class="form-control">
                <option value="Atelier Greens, Pune">Atelier Greens, Pune</option>
            </select>
        </li>
        @*<li class="mobile-field mb-5">
                <div class="g-recaptcha" data-sitekey="6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf" data-callback="correctCaptcha"></div>
            </li>*@
        <li class="agree-field">
            <input type="checkbox" class="text" value="1" name="isAgree" id="isAgree">
            <p>I have read and agree to the terms  mentioned in the <a href="#disclaimer" data-toggle="modal" data-target="#disclaimer" class="footerpopup">DISCLAIMER</a>.</p>
        </li>
        <li class="full-submit">
            <input class="submit" type="button" id="btnCodegreenEnquirySubmit" value="Submit" />

            <h3 onclick="gtag_report_conversion();" class="number"><a href="tel: 1800-108-0009">CALL: 1800-108-0009</a> </h3>
        </li>
    </ul>
</form>

<!-- Modal -->
<div class="modal video" id="OTPModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <div class="modal-header">Please enter OTP for mobile number verification</div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-md-3 col-form-label px-5 py-3">Enter OTP</label>
                        <div class="col-sm-8 col-lg-6 px-5 py-3">
                            <input class="text full" type="text" name="otpvalue" id="otpvalue" required="required">
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <div class="col-sm-12 px-5">
                            <button type="submit" id="otpOk" class="btn btn-default">Verify</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>
<script>
    function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") { var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value); elems["ts"] = JSON.stringify(new Date().getTime()); document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
</script>



