@using Sitecore.Data.Fields
@using Sitecore.Feature.Media
@using Sitecore.Feature.Media.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Resources.Media
@using Sitecore.Mvc.Presentation

@model Sitecore.Mvc.Presentation.RenderingModel

@{

    var currentPage = Sitecore.Context.Item;


    var dataSourceId = RenderingContext.Current.Rendering.DataSource;

    Sitecore.Data.Items.Item dataSource = Sitecore.Context.Database.GetItem(dataSourceId);

    //Sitecore.Data.Items.Item myItem = (Sitecore.Data.Items.Item)currentPage;
    //Sitecore.Data.Fields.MultilistField multiselectField = dataSource.Fields[Templates.DiscoveryWithAdani.Fields.ListingProducts];
    //Sitecore.Data.Items.Item[] items = multiselectField.GetItems();
    //var tabHeaders = "";
    //var tabBodies = "";
}


<div class="discover">
    <header class="section-header-main">
        @*@{
                var componentTitle = @Html.Sitecore().Field(Templates.DiscoveryWithAdani.Fields.Title);

                <h2>@componentTitle</h2>
            }*@
        <h2>@dataSource["Title"]</h2>
    </header>


    @*@for (var i = 0; i < items.Length; i++)
        {
            var title = items[i].Fields["Title"].Value;
            var CssClass = items[i].Fields["CssClass"].Value;
            var description = items[i].Fields["Description"].Value;

            tabHeaders += "<li class='tab'><a href='#"+ @CssClass + "'>" + @title+ "</a></li>";
            tabBodies += "<div id='"+ @CssClass + "'>" + @description + "</div>";

        }
        <ul class="tabs">
            @Html.Raw(tabHeaders)
        </ul>
        @Html.Raw(tabBodies)*@
    @Html.Raw(dataSource["Description"])
    <div class="btn-container">
        <a id="loadmore" onclick="togglee()" class="link-btn" style="cursor: pointer;"
           data-gaevent="aeml_section_interaction"
           data-gaeventCategory="User Interaction"
           data-gaeventAction="AEML Section Interaction"
           data-gaeventLabel="Read More">Read More</a>
    </div>

</div>

