@using Adani.BAU.Transmission.Feature.Media.Platform.Models;

@if (Model != null && Model.socialMediaList.Count > 0)
{
    <div class='footerMenuList col-md-4'>
        <div class='socialBox'>
            <h4>@Sitecore.Globalization.Translate.Text("follow_us_on")</h4>
            <div class='ftrSocial'>
                @foreach (var SocialMediaList in Model.socialMediaList)
                {
                    <a href='@SocialMediaList.LinkURL' title='@SocialMediaList.ImageAltText' target='@SocialMediaList.LinkTarget'>
                        <img src='@SocialMediaList.ImageSrc' alt='@SocialMediaList.ImageAltText'>
                    </a>
                }
                </div>
        </div>
    </div>
}
