@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Navigation.Models.NavigationItems

<div class="ml-5" id="topMenu">
    <div id="dismiss" class="d-block d-lg-none"><i class="fas fa-arrow-left"></i></div>
    <div class="clearfix"></div>
    <ul class="topMenu d-lg-flex d-none">
        @if (Model?.NavItems != null)
        {
            foreach (var item in Model.NavItems)
            {
                var hasChildren = item.Children != null && item.Children.NavItems.Any() && item.ShowChildren;
                var cssClass = "";
                if (hasChildren)
                {
                    cssClass += " dropdown";
                }

                <li class="@cssClass">

                    @if (hasChildren)
                    {
                        <a href="@item.Url">
                            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <div class="container-fluid">
                                <h5><a href="@item.Url">Explore @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)</a></h5>
                                <hr>
                                <div class="row">
                                    @foreach (var subitem in item.Children.NavItems)
                                    {
                                        if (subitem.ShowChildren)
                                        {
                                            <div class="col-md-6">
                                                <a class="dropdown-item" href="@subitem.Url" target="@subitem.Target">
                                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, subitem.Item)
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            @*<li class="@(subitem.IsActive ? "active" : "")">
                                    <a href="@subitem.Url" target="@subitem.Target">@Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, subitem.Item)</a>
                                </li>*@

                        </div>
                    }
                    else
                    {
                        if (!item.IsExternalLink)
                        {
                            if (!item.IsNewTab)
                            {
                                <a href="@item.Url" target="@item.Target">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                            else
                            {
                                <a href="@item.Url" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                        }
                        else
                        {
                            if (!item.IsNewTab)
                            {
                                <a href="@item.Link" target="@item.Target">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                            else
                            {
                                <a href="@item.Link" target="_blank">
                                    @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, item.Item)
                                </a>
                            }
                        }
                    }
                </li>
				
            }
        }
		<li><a href="/current-openings">Careers</a></li>
    </ul>
    <ul class="topMenu d-lg-none d-block">
		
		<li class="dropdown">
            <a href="/About-Us">
                About Us
            </a>
			<div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="">Explore About Us</a></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/About-us/CEO-Message">CEO Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <a href="https://www.adani.com/Sustainability/" target="_blank">
                Sustainability
            </a>
        </li>
        <li class="dropdown">
            <a href="/Newsroom">
                Newsroom
            </a>
			<div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="">Explore Newsroom</a></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Newsroom/Media-Coverage">Media Coverage</a>
                        </div>
						<div class="col-lg-6">
							<a class="dropdown-item" href="/Newsroom/Media-Releases" target="">
								Media Releases
							</a>
						</div>
						<div class="col-lg-6">
							<a class="dropdown-item" href="/Newsroom/Events" target="">
								Events
							</a>
						</div>
						<div class="col-lg-6">
							<a class="dropdown-item" href="/Newsroom/Social-Media" target="">
								Social Media
							</a>
						</div>
						<div class="col-lg-6">
							<a class="dropdown-item" href="/Newsroom/Media-Library" target="">
								Media Library
							</a>
						</div>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="/current-openings">Careers</a></li>
        <li><a href="/Contact-Us">Contact Us</a></li>
		
        <li class="dropdown">
            <a>Why Solar</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown1">
                <div class="container-fluid">
                    <h5> <a>Explore Solar</a></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Why-Solar/Solar-Benefits">Solar Benefits</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Why-Solar/How-Solar-Panel-Works">How Solar Panel Works?</a>
                        </div>                    
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="/Products">Products</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                <div class="container-fluid">
                    <h5> <a href="">Explore Products</a></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Products/Encore-Multi-crystalline">Encore-Multi crystalline</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="#">Eternal-Mono PERC</a>
                            <a class="dropdown-item pl-2" href="/Products/Eternal-Mono-PERC/Eternal-Pride-Series" style="padding-left: 40px !important;"> - Eternal-Pride Series</a>
                            <a class="dropdown-item pl-2" href="/Products/Eternal-Mono-PERC/Eternal-Shine-Series" style="padding-left: 40px !important;"> - Eternal-Shine Series</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="#">Elan-Bifacial</a>
                            <a class="dropdown-item pl-2" href="/Products/Elan-Bifacial/Elan-Pride-Series" style="padding-left: 40px !important;"> - Elan-Pride Series</a>
                            <a class="dropdown-item pl-2" href="/Products/Elan-Bifacial/Elan-Shine-Series" style="padding-left: 40px !important;"> - Elan-Shine Series</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Products/Gallery">Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a>
                Solutions
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="">Explore Solutions</a></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Solutions/Solar-EPC">Solar EPC</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Solutions/Rooftop">Rooftop</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Solutions/Projects-Gallery">Projects Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="/Downloads">
                Downloads
            </a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                <div class="container-fluid">
                    <h5><a href="">Explore Downloads</a></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Downloads">Downloads</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="dropdown-item" href="/Warranty-Certificate">Warranty</a>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li>
            <a href="/Solar-Calculator">
                Solar Calculator
            </a>
        </li>
        

    </ul>
</div>

