@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@using Sitecore.DTPL.Website.Models
@model DTPL_LNGLoginModel
<nav class="navbar navbar-expand-lg bg-white sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="-/media/B86C22A5DFE6478AAFCEB128D78CB092.ashx" alt="">
                </a>
                <div>
                    <a href="/Logout?ComeFrom=UserDashboard" class="back--button">
                        Logout
                    </a>

                </div>
            </div>
        </nav>
<div class="container-fluid ship">
<div class="text_container">
    
    <div class="container">
	<h2 style="padding-top: 50px;">User Table</h2>
        <div class="table-responsive">
            <table id="User" class="table table-bordered table-hover dt-responsive border">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Password</th>
                        <th>Email ID</th>
                        <th>Dashboard Type</th>
                        <th>Created Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.UserDetails)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Password</td>
                            <td>@item.Email_ID</td>
                            <td>@item.DashboardType</td>
                            <td>@item.CreatedDate</td>
                            <td><a href="/DTPL_DeleteUser?ID=@item.ID">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
		<div>
            <a href="/DTPL_UserLogin" class="btn btn-primary" style="outline: 0; background: #293378; width: 12%;border: 0; padding: 15px; color: #FFFFFF; font-size: 15px;
 -webkit-transition: all 0.3 ease;
 transition: all 0.3 ease;
 cursor: pointer;
margin-top: 1.5rem;
}">
                Create User
            </a>

        </div>
    </div>
</div>
</div>


