@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.DTPL.Website.Models.DTPL_LNGLoginModel
@{ 
    var DashboardType= Sitecore.Context.Database.GetItem("{63139DDD-4A99-479D-BA9C-99D36BB5BB00}");
}
<nav class="navbar navbar-expand-lg bg-white sticky-top">
    <div class=" container">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" src="~/Images/headerlogo.png" alt="">
        </a>
        <div>
            <a href="#" class="back--button">
                < &nbsp; Back to Website
            </a>

        </div>
    </div>
</nav>
<div class="container-fluid ship" style="background-image:url(/Images/bg_image.jpg)">
    <div class="container">
        <div class="login-page">
            <div class="form">
                <h2>Welcome to<br /> Dharma LNG Terminal </h2>

                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "DTPL_LNGuserLogin", name = "DTPL_LNGuserLogin", enctype = "multipart/form-data", autocomplete = "off" }))
                {
                <form class="login-form">
                    @Html.AntiForgeryToken()
                    @Html.AddUniqueFormId()
                    @Html.ValidationSummary(true)
                    <h6>Username</h6>
                    <input type="text" id="UserName" name="UserName" placeholder="Enter Name" required />
                    <h6>Password</h6>
                    <input type="password" id="Password" name="Password" placeholder="Enter Password" required />
                    <div class="form-group">
                        <label>Dashboard Type<span class="required">*</span></label>
                        <select class="form-control" name="DashboardType" required id="DashboardType">
                            <option>Select..</option>
                            @foreach (var element in DashboardType.GetChildren().ToList())
                            {
                                var childCount = element.GetChildren().Count();
                                if (childCount != 0)
                                {

                                }
                                else
                                {
                                    <option value="@Html.Sitecore().Field("Title", element)">@Html.Sitecore().Field("Title", element)</option>

                                }

                            }
                        </select>
                        
                    </div>
                    <button type="submit" class="btn btn-primary" id="login">Log in</button>
                </form>
                }

            </div>
        </div>
    </div>


</div>