@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model Sitecore.AGELPortal.Website.Models.PortalLoginModel
@{
    Layout = null;
}

<div class="container">
    <div class="card outlined mid-form section-container border-none-mobile">
        <header class="section-header">
            <img src="/images/AGELPortal/logo.svg" alt="form-logo">
            <h1>Register Account</h1>
        </header>
        <div class="card-with-form login-wrap">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "registration_form", name = "registration_form", @class = "registration_form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-field custom">
                    <input value="@Html.ValidationMessageFor(model => model.name, "", new { @class = "help-block text-danger" }, "p")" id="name" name="name" type="text" class="validate">
                    <label class="active" for="first_name2">Enter Name</label>
                </div>
                <div class="input-field custom">
                    <input value="@Html.ValidationMessageFor(model => model.mobile, "", new { @class = "help-block text-danger" }, "p")" id="mobile" name="mobile" type="text" class="validate">
                    <label class="active" for="mobile">Enter Mobile Number</label>
                </div>
                <div class="input-field custom">
                    <input value="@Html.ValidationMessageFor(model => model.email, "", new { @class = "help-block text-danger" }, "p")" id="email" name="email" type="email" class="validate">
                    <label class="active" for="email">Enter Email ID</label>
                </div>
                <div class="h-right btn-group2">
                    <!--<a class="full-btn" href="/htmls/login_register/create_password.html">

    </a>-->
                    @Html.ValidationMessageFor(model => model.UserValidation, "", new { @class = "help-block text-danger" }, "p")
                    <div>@Html.Sitecore().Dictionary("/AGELPortal/Form/User Alerady Register", "lready registered user please go to forgot password")</div>
                    <button type="submit" class="waves-effect btn full-btn">Validate Account</button>

                </div>
            }
        </div>
        <div class="bordered-items">
            <ul>
                <li>Already have an Account? <a href="/agelportal/home/registration" class="bold">Login Now</a></li>
                <li>Need some help? Call <span class="ff-rb">19122</span></li>
            </ul>
        </div>
    </div>
</div>
