@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.LoginInfoComplaint

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<section class="section_ICRS-form pb-5">
    <div class="bg-images"><img src="/images/ICRS-BG.png"></div>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
        </ul>
        <h2 class="pageTitle">Complaint Registration</h2>
    </div>
    <div class="container">
        <div class="complaint-panel">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="complaint-panel_login-thumb">
                        <img src="/images/ICRS/ICRS-login.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="complaint-panel_login-form">
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
                        {
                            @Html.AddUniqueFormId()
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control", @autocomplete = "off",
                               title = "User Name",
                               id = "UserName", @placeholder = "User Name" })
                                @Html.ValidationMessageFor(x => x.LoginName, "", new { @class = "help-block txt-orange" }, "p")
                                <small id="" class="form-text text-muted"></small>
                            </div>

                            <div class="form-group">
                                @Html.PasswordFor(x => x.Password, new
                           {
                               @class = "form-control",
                               id = "registerPassword",
                               @autocomplete = "off",
                               required = "required",
                               title = "Password",
                               @placeholder = "Password"
                           })
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block txt-orange" }, "p")
                                <small id="" class="form-text text-muted"></small>
                            </div>

                            <div class="g-recaptcha" data-sitekey="6LdYFWgUAAAAALdZf_sC8BRN2uLPzcsxb2p192rf"></div>
                            @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block txt-orange" }, "p")

                            <div class="mb-4">
                                <input type="submit" class="btn btn-primary" name="loginWithCredentials" value="@Html.Sitecore().Dictionary("/ComplaintRegistration/Button/Sign In", "Sign In")" />
                            </div>
                        }
                        <p class="text-left mb-2">
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Other Redirect URL/Login/Forgot Password URL", "/Forgot Password")" title="Forgot Password" class="txt-orange txt-sm">
                                @Html.Sitecore().Dictionary("/Accounts/Login/Forgot Password", "Forgot Username / Password?")
                            </a>
                        </p>
                        <p class="">
                            @Html.Sitecore().Dictionary("/Accounts/Login/Not Yet Signed Up", "Not Yet Signed Up?")
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Other Redirect URL/Login/Registration URL", "/registration-validateotp")">
                                @Html.Sitecore().Dictionary("/Accounts/Login/Button/Register Now", "Register Now")
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="@Html.Sitecore().Dictionary("/Common/CaptchaURL", "https://www.google.com/recaptcha/api.js")"></script>





