@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration


<div class="pageContent">
    <div class="container">
        <div class="py-3"></div>
        <h4 class="txt-orange">Here are some helpful links instead :</h4>
        <div class="py-3"></div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">My Account</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Forgot password","/Forgot Password")">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Forgot password", "Forgot password")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Registration","/registration")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Registration", "New User sign up")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Login","/Existing-User")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Login", "Login")
                        </a>
                </ul>
                <div class="py-3"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">Payments</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Ways to Pay","/Payment")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Ways to Pay", "Ways to Pay")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Online Payments","/Payment/Online-Payments")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Online Payments", "Online Payments")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Offline Payments","/Payment/Offline-Payments")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Offline Payments", "Offline Payments")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Mobile Based Payment","/Payment/Mobile-Based-Payments")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Mobile Based Payment", "Mobile Based Payment")
                        </a>
                    </li>
                </ul>
                <div class="py-3"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">Billing</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/E-Bill","/Billing")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/E-Bill", "E-Bill")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Go Paperless","/Billing")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Go Paperless", "Go Paperless")
                        </a>
                    </li>

                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Bill over SMS","/Billing")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Bill over SMS", "Bill over SMS")
                        </a>
                    </li>

                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Duplicate Bill","/Billing")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Duplicate Bill", "Duplicate Bill")
                        </a>
                    </li>
                    @*<li>
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Change Bill Language","/Billing")" class="link-tile">
                                @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Change Bill Language", "Change Bill Language")
                            </a>
                        </li>*@
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Save/Download Bill","/Billing")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Save/Download Bill", "Save/Download Bill")
                        </a>
                    </li>

                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Know Your Bill","/Billing/KnowYourBill")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Know Your Bill", "Know Your Bill")
                        </a>
                    </li>

                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/TARIFF","/Billing/TariffFaq")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/TARIFF", "TARIFF")
                        </a>

                        <ul class="FLT-list">
                            <li>
                                <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Know Your Tariff","-/media/Project/Electricity/Billing/Documents/Tariff.pdf")" class="link-tile">
                                    @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Know Your Tariff", " - Know Your Tariff")
                                </a>
                            </li>
                            <li>
                                <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/TariffFaq","/Billing/TariffFaq")" class="link-tile">
                                    @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/TariffFaq", " - FAQs Regarding Tariff")
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="py-3"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">Quick Access</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Outage Information","/Quickaccess/outage-information")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Outage Information", "Outage Information")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Check Meter Reading Date","/Quickaccess/check-meter-reading-date")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Check Meter Reading Date", "Check Meter Reading Date")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Check Complaint Status","/Quickaccess/check-complaint-status")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Check Complaint Status", "Check Complaint Status")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Check No Supply Complaint Status","/Quickaccess/check-no-supply-complaint-status")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Check No Supply Complaint Status", "Check 'No-Supply' Complaint Status")
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Check New Connection Status","https://iss.adanielectricity.com/mumbainsc/")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Check New Connection Status", "Check New Connection Status")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Forms You Need","/Quickaccess/forms-you-need")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Forms You Need", "Forms You Need")
                        </a>
                    </li>
                </ul>
                <div class="py-2"></div>
                <ul class="FLT-list">
                    <li>FUNCTIONS</li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Load Change","/Quickaccess")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Load Change", " - Load Change")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Change of Name","/Quickaccess")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Change of Name", " - Change of Name")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Shifting of Meter","/Quickaccess")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Shifting of Meter", " - Shifting of Meter")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Change of Category","/Quickaccess")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Change of Category", " - Change of Category")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Migration Protocol","/Quickaccess")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Migration Protocol", " - Migration Protocol")
                        </a>
                    </li>
                </ul>
                <div class="py-3"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">Money Saver</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    <li>PROMOTIONS</li>
                    @*<li>
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Enery Audit","/MoneySaver/energy-audit")" class="link-tile">
                                @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Enery Audit", " - Enery Audit")
                            </a>
                        </li>
                        <li>
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Smart Offer - Refrigerator","/MoneySaver/smart-offer-refrigerator")" class="link-tile">
                                @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Smart Offer - Refrigerator", " - Smart Offer - Refrigerator")
                            </a>
                        </li>*@
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Ceiling Fan Program","/MoneySaver/ceiling-fan-program")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Ceiling Fan Program", " - Ceiling Fan Program")
                        </a>
                    </li>
					<li>
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Exchange your old Refrigerator Program","/MoneySaver/smart-offer-5star-refrigerator")" class="link-tile">
                                @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Exchange your old Refrigerator Program", " - Exchange your old Refrigerator Program")
                            </a>
                        </li>
                </ul>
                <div class="py-2"></div>
                <ul class="FLT-list">
                    <li>WAYS TO SAVE</li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Energy Wizard","/MoneySaver")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Energy Wizard", " - Energy Wizard")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Simple Ways to Save","/MoneySaver")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Simple Ways to Save", " - Simple Ways to Save")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Energy Calculator","/MoneySaver")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Energy Calculator", " - Energy Calculator")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/What products to Buy","/MoneySaver")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/What products to Buy", " - What products to Buy")
                        </a>
                    </li>
                    @*<li>
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/All About Energy","/MoneySaver")" class="link-tile">
                                @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/All About Energy", " - All About Energy")
                            </a>
                        </li>*@
                </ul>
                <div class="py-3"></div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">What's New</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    <li>Media</li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Adani Electricity in News","/WhatsNew/adani-electricity-news")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Adani Electricity in News", " - Adani Electricity in News")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Press Releases","/WhatsNew/press-release")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Press Releases", " - Press Releases")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Download Press Kit","/WhatsNew")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Download Press Kit", " - Download Press Kit")
                        </a>
                    </li>

                </ul>
            </div>



            <div class="col-lg-4 col-sm-6">
                <h5 class="txt-orange">Contact us</h5>
                <div class="py-1"></div>
                <ul class="FLT-list">
                    @*<li>
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Contact Us","/Contact")" class="link-tile">
                                @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Contact Us", "Contact Us")
                            </a>
                        </li>*@
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Report Theft","/Contact/report-theft")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Report Theft", "Report Theft")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Your Feedback","/Contact/your-feedback")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Your Feedback", "Your Feedback")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Send Your Queries","/Contact/send-your-query")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Send Your Queries", "Send Your Queries")
                        </a>
                    </li>

                </ul>
                <div class="py-2"></div>
                <ul class="FLT-list">
                    <li>For Complaint</li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Bill Related Complaints","/Contact")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Bill Related Complaints", " - Bill Related Complaints")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Meter Related Complaints","/Contact")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Meter Related Complaints", " - Meter Related Complaints")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Supply Related Complaints","/Contact")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Supply Related Complaints", " - Supply Related Complaints")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Track Your Complaint","/Quickaccess/check-no-supply-complaint-status")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Track Your Complaint", " - Track Your Complaint")
                        </a>
                    </li>
                </ul>
                <div class="py-2"></div>
                <ul class="FLT-list">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Complaint Escalation Matrix","/Contact")" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Complaint Escalation Matrix", "Complaint Escalation Matrix")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/CGRF","https://cgrf.adanielectricity.com/")" target="_blank" class="link-tile">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/CGRF", "CGRF")
                        </a>
                    </li>
                </ul>
                <div class="py-3"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/About Us","/About")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/About Us", "Adani Electricity")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Regulatory","/Regulatory")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Regulatory", "Regulatory")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Adani Electricity in News","/WhatsNew/adani-electricity-news")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Adani Electricity in News", "Media")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Tender","/Tenders")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Tender", "Tender")
                    </a>
                </h5>

            </div>
            <div class="col-lg-4 col-sm-6">
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Online Applications","https://iss.adanielectricity.com/mumbainsc/")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Online Applications", "Online Applications")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/EaseofDoingBusiness","/EaseofDoingBusiness")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/EaseofDoingBusiness", "Ease of Doing Business")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Terms of Use","/TermsOfUse")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Terms of Use", "Terms of Use")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Privacy Policy","/PrivacyPolicy")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Privacy Policy", "Privacy Policy")
                    </a>
                </h5>
                <div class="py-2"></div>
                <h5>
                    <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/FAQs","/Faqs")" class="txt-orange">
                        @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/FAQs", "FAQs")
                    </a>
                </h5>

            </div>
            @*<div class="col-lg-4 col-sm-6">
                    <h5>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Terms of Use","/TermsOfUse")" class="txt-orange">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Terms of Use", "Terms of Use")
                        </a>
                    </h5>
                    <div class="py-2"></div>
                    <h5>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Privacy Policy","/PrivacyPolicy")" class="txt-orange">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Privacy Policy", "Privacy Policy")
                        </a>
                    </h5>
                    <div class="py-2"></div>
                    <h5>
                        <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Redirect URL/Adani Electricity in News","/WhatsNew/adani-electricity-news")" class="txt-orange">
                            @Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Sitemap/Adani Electricity in News", "Adani Electricity in News")
                        </a>
                    </h5>
                </div>*@
        </div>
    </div>
    <!-- /Page Content -->
</div>