@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Configuration
@using Sitecore.ICAN.Website
@model Sitecore.ICAN.Website.Models.IcanSubmitYourIdeaModel
@{
    string disp = "";
    disp = "display: none;";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
$(document).ready(function(){
alert("@ViewBag.Message");
});
    </script>
}
<section class="section_registration">
    <div class="container">
        <div class="">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "submit_form", name = "submit_form", @class = "submit_form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })
                <div id="msform">
                    <!-- fieldsets -->
                    <fieldset class="submit">
                        <h2 class="fs-title">Submission Form</h2>
                        <div class="multisteps-form__content mx-100 multistep_two">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="multisteps-form__input form-control" type="text" placeholder="Group Name" name="GroupName" id="GroupName" data-error-msg="Please provide Group Name" value=""  required>
                                    </div>
                                </div>
                            </div>
                            @for (int i = 1; i <= 5; i++)
                            {
                                var style = (i == 1 ? "" : "display:none");

                                <div id="TR_OWNERDOC_@i" style="@style">
                                    <div class="student_group">
                                        <div class="row">
                                            <div class="col-12"><h1>STUDENT 01</h1></div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="FirstName_@i" name="FirstName_@i" aria-describedby="" placeholder="First Name *">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="LastName_@i" name ="LastName_@i" aria-describedby="" placeholder="Last Name *">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input  type = "date" class="form-control" id="DOB_@i" name="DOB_@i" aria-describedby="" placeholder="DOB*">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Grade_@i" name="Grade_@i" aria-describedby="" placeholder="Grade *">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                                <div class="add_student_group">
                                    <p class="add_ownership_document"><span class="fa fa-plus mr-2"></span>Add more</p>
                                    <p class="float-right" id="delete"><span class="fa fa-trash"></span></p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>An intriguing Title for your Project</h4>
                                                <div class="form-group">
                                                    <input class="multisteps-form__input form-control" type="text" placeholder="Project Title" name="TitleForProject" id="TitleForProjects" data-error-msg="Please provide title for project">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h4>A tweet length intro<span>(140 characters long)</span></h4>
                                                <div class="form-group">
<textarea class="form-control" id="TweetLengthIntros" rows="3" name="TweetLengthIntro" data-error-msg="Please provide tweet length inro"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <h4>Explanatory Text <span>(Max 250 words)</span></h4>
                                        <div class="form-group">
<textarea class="form-control" id="ExplainatoryTexts" rows="3" name="ExplainatoryText" data-error-msg="Please provide explanatory text"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4>Key image explaining your idea</h4>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="drop">
                                                    <div class="cont">
                                                        <i class="fa fa-cloud-upload"></i>
                                                        <div class="tit">
                                                            Drag and drop file
                                                        </div>
                                                        <div class="desc">
                                                            or
                                                        </div>
                                                        <div class="browse">
                                                            Browse
                                                        </div>
                                                        <div class="desc-sub">
                                                            <p id="file1" name="file1">Browse..</p>
                                                        </div>
                                                    </div>
                                                    <output id="list"></output>
                                                    <input id="files1" name="Image1" class="form-control-file" type="file" data-error-msg="Please upload the image" value="" accept="image/*" />
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="ideas_file">
                                                    <p>Additional 6 images to further illustrate your concept.</p>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="ideas_file_lable">
                                                                <ul>
                                                                    <li>
                                                                        <span for="customFile" id="file2" name="file2">Browse..</span>
                                                                        <input type="file" class="custom-file-input browse_file" id="files2" name="Image2" class="form-control-file" value="" accept="image/*">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="ideas_file_lable">
                                                                <ul>
                                                                    <li>
                                                                        <span for="customFile" id="file3">Browse..</span>
                                                                        <input type="file" class="custom-file-input browse_file" id="files3" name="Image3" class="form-control-file" value="" accept="image/*">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="ideas_file_lable">
                                                                <ul>
                                                                    <li>
                                                                        <span for="customFile" id="file4">Browse..</span>
                                                                        <input type="file" class="custom-file-input browse_file" id="files4" name="Image4" class="form-control-file" value="" accept="image/*">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="ideas_file_lable">
                                                                <ul>
                                                                    <li>
                                                                        <span for="customFile" id="file5">Browse..</span>
                                                                        <input type="file" class="custom-file-input browse_file" id="files5" name="Image5" class="form-control-file" value="" accept="image/*">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="ideas_file_lable">
                                                                <ul>
                                                                    <li>
                                                                        <span for="customFile" id="file6">Browse..</span>
                                                                        <input type="file" class="custom-file-input browse_file" id="files6" name="Image6" class="form-control-file" value="" accept="image/*">
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-4"><h4>PDF Document of the Idea</h4></div>
                                    <div class="col-lg-8">
                                        <span for="customFile" id="file7">Browse..</span>
                                        <input type="file" class="custom-file-input browse_file" id="files7" name="Image7" class="form-control-file" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-5">
                                        <h4>A 1 TO 2 MINUTE PITCH VIDEO, INTRODUCING YOURSELF OR YOUR TEAM AND YOUR IDEA!!</h4>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="drop">
                                            <div class="cont">
                                                <i class="fa fa-cloud-upload"></i>
                                                <div class="tit">
                                                    Drag and drop video file(Max 150 MB)
                                                </div>
                                                <div class="desc">
                                                    or
                                                </div>
                                                <div class="browse">
                                                    Browse
                                                </div>
                                                <p id="video1">Browse..</p>
                                            </div>
                                            <output id="list"></output><input id="files-2" name="VideoLink" type="file" data-error-msg="Please upload the video" class="form-control-file" value="" accept="video/*" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="multisteps-form__input form-control" type="text" placeholder="Youtube Link" name="YLink" id="YLink" data-error-msg="Please provide Youtube Link">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="form-check text-left">
                                            <input class="form-check-input w-auto" type="checkbox" value="" id="defaultCheck3">
                                            <label class="form-check-label" for="defaultCheck3">
                                                I agree with the terms and conditions. I also understand and agree with the privacy policy.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-4 mb-3">
                            <div id="recaptcha1">
                            </div>
                        </div>
                        <input type="button" name="SubmitForm" class="submit" value="Submit" id="submits" />
                    </fieldset>
                </div>
                @Html.HiddenFor(model => model.reResponse, new { id = "reResponse" })
                @Html.ValidationMessageFor(model => model.reResponse, "", new { @class = "help-block" }, "p")
            }
        </div>
    </div>
</section><!--/section-->
