@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions

@model RenderingModel
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var elements = Sitecore.Context.Database.GetItem(datasource);
    var banner = elements.Children;
    var x = 0;
}

<div class="mainSlider">

    @if (Request.Browser.IsMobileDevice)
    {
        if (Request.Browser.ScreenPixelsWidth < 768)
        {
            x = Request.Browser.ScreenPixelsWidth;
            @Html.Sitecore().Placeholder("mobile-video-banner")
        }

    }
    else
    {
        <div class="owl-carousel owl-theme homeslider">
            @foreach (var item in banner.ToList())
            {
                Sitecore.Data.Fields.LinkField linkField = item.Fields["MediaVideoLink"];
                var url = linkField.Url;
                Sitecore.Data.Fields.LinkField linkFields = item.Fields["MediaLink"];
                var NavigateUrls = linkFields.GetFriendlyUrl();
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaThumbnail"]);

                string url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
                <div class="item" data-videosrc="@url">
                    @if (!String.IsNullOrEmpty(Html.Sitecore().Field("MediaLink", item).ToString()))
                    {
                        <a href="@NavigateUrls">
                            <img src="@url" class="image-fluid" loading="lazy">

                        </a>
                    }
                    @if (String.IsNullOrEmpty(Html.Sitecore().Field("MediaLink", item).ToString()))
                    {
                        <img src="@url" class="image-fluid" loading="lazy">
                    }
                    @if (String.IsNullOrEmpty(Html.Sitecore().Field("MediaLink", item).ToString()) && !String.IsNullOrEmpty(Html.Sitecore().Field("MediaDescription", item).ToString()))
                    {
                        <div class="slider-content">
                            <div>
                                <div class="container">
                                    @Html.Sitecore().Field("MediaDescription", item)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
    <div class="container position-relative @x">
        <div class="scroll-down">
            <a href="#firstsection">
                <span class="blink blink-infinite blink-1"></span><span class="blink blink-infinite blink-2"></span><span class="blink blink-infinite blink-3"></span><span class="blink blink-infinite blink-4"></span><span class="blink blink-infinite blink-5"></span>
            </a>
        </div>
    </div>
</div>
