@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string divClass = RenderingContext.Current.Rendering.Parameters["classname"];
    Helper linkHelepr = new Helper();
}

@if (currentItem != null)
{
    <section>
        <div class="@divClass guidLinesPonits" id="@currentItem.DisplayName">
            <h4>
                @currentItem["Title"]
            </h4>
            @Html.Raw(@currentItem["RichText"])
            <div class="black_link">
                <span>@linkHelepr.GetLinkText(@currentItem, "Link")</span>
            </div>
        </div>
    </section>
}
