@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.StaticPages.Platform
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    IHelper _helper = new Helper();
}

@if (currentItem != null)
{

    <div class="subSection scrollableOffset" id="@currentItem.DisplayName" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
        <h2>@Html.Sitecore().Field("Title", currentItem)</h2>
        <div class="discription-wraper">

            @foreach (Sitecore.Data.Items.Item benefit in currentItem.Children)
            {
                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)benefit.Fields["Image"]);
                string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(benefit, Constant.Image) : "";
                <div class="benefits-tiles">
                    <div class="left-icon"> <img src="@imageUrl" loading="lazy"></div>
                    <div class="content-wrp">
                        <h3>@Html.Sitecore().Field("Title", benefit)</h3>
                        @Html.Sitecore().Field("RichText", benefit)
                    </div>
                </div>

            }



        </div>
    </div>
}