@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Feature.Carousel.Platform
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.Carousel.Platform.Models
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    IHelper _helper = new Helper();
    Sitecore.Data.Fields.ImageField step1ImgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Step1Image"]);
    string step1ImageUrl = step1ImgField != null && step1ImgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Step1Image") : "";
    Sitecore.Data.Fields.ImageField step2ImgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Step2Image"]);
    string step2ImageUrl = step2ImgField != null && step2ImgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Step2Image") : "";
    Sitecore.Data.Fields.ImageField step3ImgField = ((Sitecore.Data.Fields.ImageField)currentItem.Fields["Step3Image"]);
    string step3ImageUrl = step3ImgField != null && step3ImgField.MediaItem != null ? _helper.GetImageURL(currentItem, "Step3Image") : "";
}

@if (currentItem != null)
{
    <div class="subSection scrollableOffset">
        <div class="process-step">
            <div class="row">
                <div class="col-md-5 p-0">
                    <div class="tabs">
                        <div id="tab-1" class="tab-content">
                            <img src="@step1ImageUrl" width="100%" loading="lazy">
                        </div>
                        <div id="tab-2" class="tab-content">
                            <img src="@step2ImageUrl" width="100%" loading="lazy">
                        </div>
                        <div id="tab-3" class="tab-content current">
                            <img src="@step3ImageUrl" width="100%" loading="lazy">
                        </div>

                    </div>
                </div>
                <div class="col-md-7 p-0">
                    <div class="wrapper">
                        <h2>@Html.Sitecore().Field("Title", currentItem)</h2>
                        <div class="StepProgress tabs">
                            @Html.Sitecore().Field("Description", currentItem)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
