@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();
}

@if (currentItem != null)
{
    <div class="section-wrap scrollableOffset pt-wrap" id="@currentItem.Fields["Id"]">
        <h3 class="sr-heading">@currentItem.Fields["Title"]</h3>
        @Html.Sitecore().Field("Description", currentItem)
        <div class="arrow_pos">
            <div class="cargo-slider">
                @if (currentItem.GetChildren() != null && currentItem.Children.Count > 0)
                {
                    foreach (Item item in currentItem.GetChildren())
                    {
                        <div class="service-card">
                            <div class="item-img">
                                <img src="@_helper.GetImageURL(item, "Image1")" loading="lazy">
                                <div class="discription">
                                    <h4>@item.Fields["Title"]</h4>
                                    @Html.Sitecore().Field("Description", item)
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}

