@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="subSection scrollableOffset" id="@currentItem.DisplayName" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
        <h2>@Html.Sitecore().Field("Title", currentItem)</h2>
        <div class="video_center" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
            <iframe src="@Html.Sitecore().Field("VideoURL", currentItem)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
            <meta itemprop="name" content="@Html.Sitecore().Field("VideoTitle", currentItem)" />
            <meta itemprop="description" content="@Html.Sitecore().Field("VideoDescription", currentItem)" />
            <meta itemprop="thumbnailUrl" content="@Html.Sitecore().Field("ThumbnailURL", currentItem)" />
            <meta itemprop="uploadDate" content="@Html.Sitecore().Field("UploadDate", currentItem)" />
            <meta itemprop="duration" content="@Html.Sitecore().Field("Duration", currentItem)" />
            <meta itemprop="contentURL" content="@Html.Sitecore().Field("ContentURL", currentItem)" />
            <meta itemprop="embedURL" content="@Html.Sitecore().Field("EmbedURL", currentItem)" />
        </div>
    </div>
}
