@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
    string sectionClass = RenderingContext.Current.Rendering.Parameters["classname"];
 }

@if (currentItem != null)
{
<div class="subSection scrollableOffset" id="about" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
    <h4 class="mt-0" auto_id="data_medicalCentre_header">@Html.Sitecore().Field("Title", currentItem)</h4>
    <p style="line-height: 24px;" onload="countLines();" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">@Html.Sitecore().Field("Description", currentItem)</p>

    <h4 auto_id="data_medicalCentre_ambulanceheader">@Html.Sitecore().Field("MedicalTitle", currentItem)</h4>
    <p auto_id="@Html.Sitecore().Field("AutoIdQ", currentItem)">
        @Html.Sitecore().Field("MedicalDescription", currentItem)
        <span id="readMoreFlightDetail" class="readMoresection">@Html.Sitecore().Field("ReadMoreDescription", currentItem)</span>
        <a href="javascript:void(0)" type="button" onclick="readMore(this,'readMoreFlightDetail','airportDescription')" class="black_link toggle-readmore">
            @Html.Sitecore().Field("ButtonText", currentItem)
        </a>
    </p>
</div>

}
