@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    var i = 0;
    IHelper _helper = new Helper();
}
@if (currentItem != null)
{
    <div class="bodySection scrollableOffset howItsWork" id="v-pills-tabContent">
        <h2 class="page-tittle scrollableOffset" id="@currentItem.DisplayName" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">@Html.Sitecore().Field("__Short description", currentItem)</h2>
        <div class="horizontal-tab-bar">
            <div class="tab scrollbar-x">
                @foreach (Item Tabs in currentItem.Children)
                {
                    if (i == 0)
                    {
                        <div class="nav-item"><button class="tablinks active" id="@Tabs.Name"> @Html.Sitecore().Field("Title", Tabs)</button></div>
                    }
                    else
                    {
                        <div class="nav-item"><button class="tablinks" id="@Tabs.Name"> @Html.Sitecore().Field("Title", Tabs)</button></div>
                    }

                    i++;
                }
            </div>
            @foreach (Item TabsContent in currentItem.Children)
            {
                <div id="@TabsContent.Name" class="tabcontent">
                    <div class=" d-flex scrollbar-x">
                        @foreach (Item TabsChildren in TabsContent.Children)
                        {
                            Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)TabsChildren.Fields["Image"]);
                            string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(TabsChildren, "Image") : "";                           
                            
                                <div class="flightService" data-category="flights">
                                    <div class="zoomEffect">
                                        <div class="card border-0">
                                            <figure>
                                                <img src="@imageUrl" class="card-img-top" alt="..." loading="lazy">
                                            </figure>
                                            <div class="card-body">
                                                <small>@Html.Sitecore().Field("Title", TabsChildren)</small>
                                                <h5 class="card-title">@Html.Sitecore().Field("SubTitle", TabsChildren)</h5>
                                                <p class="card-text pt-0">
                                                    @Html.Sitecore().Field("Description", TabsChildren)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}