@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.MultilistField otherServices = ((Sitecore.Data.Fields.MultilistField)currentItem.Fields["ServicesList"]);
 }

@if (currentItem != null)
{
<div class="subSectionChild" auto_id="@Html.Sitecore().Field("AutoId", currentItem)">
    <h6 class="dark">@Html.Sitecore().Field("Title", currentItem)</h6>
    <p>@Html.Sitecore().Field("Description", currentItem)</p>
    @if (otherServices != null && otherServices.GetItems() != null && otherServices.GetItems().Count() > 0)
    {
        <div class="hotalDetailList">
            @foreach (Sitecore.Data.Items.Item services in otherServices.GetItems())
            {
                <div class="detailCard">
                    <i class="@Html.Sitecore().Field("cssClass", services)"></i>
                    <p>@Html.Sitecore().Field("Description", services)</p>
                </div>
            }
        </div>
    }
</div>
}
