@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@using Adani.SuperApp.Airport.Feature.StaticPages.Platform
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    IHelper _helper = new Helper();
}

@if (currentItem != null)
{
    <div class="subSection scrollableOffset" id="@currentItem.DisplayName">
        <div class="recommended-wrapper">
            <div class="row gx-0">
                <div class="col-md-4"><h3 class="sl-heading">@Html.Sitecore().Field("__Short Description", currentItem)</h3></div>
                <div class="col-md-8">
                    <div class="details_wrapper arrow_pos">
                        <div class="d-flex scrollbar-x">
                            @foreach (Sitecore.Data.Items.Item package in currentItem.Children)
                            {
                                Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)package.Fields["Image"]);
                                string imageUrl = imgField != null && imgField.MediaItem != null ? _helper.GetImageURL(package, "Image") : "";
                                <div class="detail_card">
                                    <figure>
                                        <img src="@imageUrl" loading="lazy">
                                    </figure>
                                    <div class="card-body">
                                        <h3 class="sm-title">@Html.Sitecore().Field("Title", package)</h3>
                                        @Html.Sitecore().Field("Description", package)                                        
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
