@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item;
                Sitecore.Data.Fields.MultilistField specialAssistanceSection = ((Sitecore.Data.Fields.MultilistField)currentItem.Fields["SpecialAssistanceSubSections"]); }

@if (currentItem != null)
{
    <div class="subSection scrollableOffset" id="about">
        <div class="subSectionChild ">
            <p auto_id="data_splAssistance_content">@Html.Sitecore().Field("RichText", currentItem)</p>
        </div>
        <h4 class="detailTableTitle" auto_id="data_splAssistance_freeWheelchairHeader">@Html.Sitecore().Field("Title", currentItem)</h4>
        <p auto_id="data_splAssistance_freeWheelchairContent">@Html.Sitecore().Field("Description", currentItem)</p>
        <div class="detailTable">
            @Html.Sitecore().Field("SpecialAssistanceDescription", currentItem)
        </div>
        @if(specialAssistanceSection.GetItems()!= null)
        {
            foreach (Sitecore.Data.Items.Item section in specialAssistanceSection.GetItems())
            {
                <div class="subSectionChild">
                    <h4 auto_id="data_splAssistance_aboutHeader">@Html.Sitecore().Field("Title", section)</h4>
                    <p auto_id="data_splAssistance_aboutContent">
                        @Html.Sitecore().Field("Description", section)
                    </p>
                </div>
            }
        }
    </div>
}
