@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{ 
    Item currentItem = RenderingContext.Current.Rendering.Item;
}

@if (currentItem != null)
{
    <div class="subSection scrollableOffset" id="@currentItem.DisplayName">

        <p style="line-height: 24px;" onload="countLines();">@Html.Sitecore().Field("RichText", currentItem)</p>

        <p auto_id="@Html.Sitecore().Field("AutoId", currentItem)">@Html.Sitecore().Field("Title", currentItem)</p>

        <ul class="list">
            @Html.Sitecore().Field("Description", currentItem)
        </ul>
        <a href="javascript:void(0)" type="button" onclick="readMore(this,'readMoreFlightDetail','airportDescription')" class="black_link toggle-readmore">
            @Html.Sitecore().Field("ButtonText", currentItem)
        </a>
    </div>
}
