@*@using Sitecore.AdaniCapital.Website.Helper*@
@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Feature.Accounts.Models
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

}

@if (element.HasChildren)
{
    foreach (Item item in element.GetChildren())
    {
        //var imgurls = Helper.ImageUrl("LinkImage", item);
        //var url = Helper.LinkUrl(item.Fields["LinkUrl"]);

        Sitecore.Data.Fields.LinkField itemLinkfld = item.Fields["LinkUrl"];
        var url = itemLinkfld != null && !string.IsNullOrEmpty(itemLinkfld.GetFriendlyUrl()) ? itemLinkfld.GetFriendlyUrl() : "#";
        var urlTarget = itemLinkfld != null ? itemLinkfld.Target : "";

        var Elemodel = Session["UserLogin"] as Sitecore.Feature.Accounts.Models.DashboardModel;

        if (Sitecore.Context.User.IsAuthenticated && Elemodel != null)
        {
            var getName = Elemodel.UserName as string;
            var result = getName.Substring(0, 1).ToUpper();
            <a class="collapsible-header collapsible_link waves-effect">
                <span class="icon-box user-icon">
                    @*<img class="" src="/electricity_assets/images/login.svg">*@
                    <span class="user-initial">@result</span>
                </span>
                <label>Hi, @Html.Raw(Elemodel.UserName)<strong>@Html.Sitecore().Field("Text", item)</strong></label>

            </a>
        }
        else if (item != null && item.Name.ToLower() == "login")
        {
            Sitecore.Data.Fields.ImageField imageField = item != null ? item.Fields["Image"] : null;
            string imageUrl = imageField != null && imageField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageField.MediaItem) : string.Empty;


            <a href="@url" target="@urlTarget" class="collapsible-header collapsible_link waves-effect userNotLogin">
                <span class="icon-box user-icon">
                    @if (!string.IsNullOrEmpty(imageUrl))
                    {
                        <img class="" src="@imageUrl">
                    }
                    else
                    {
                        <i class="@item.Fields["Class"]"></i>
                    }
                </span>
                <label>@Html.Sitecore().Field("Title", item)<strong>My Account</strong></label>
                <em class="i-arrow-r"></em>
            </a>
        }
        else
        {
            Sitecore.Data.Fields.ImageField imageField = item != null ? item.Fields["Image"] : null;
            string imageUrl = imageField != null && imageField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageField.MediaItem) : string.Empty;
            <a href="@url" target="@urlTarget" class="collapsible-header collapsible_link waves-effect userNotLogin">
                <span class="icon-box user-icon">
                    @if (!string.IsNullOrEmpty(imageUrl))
                    {
                        <img class="" src="@imageUrl">
                    }
                    else
                    {
                        <i class="@item.Fields["Class"]"></i>
                    }
                </span>
                <label>@Html.Sitecore().Field("Title", item)</label>
            </a>
        }

    }

}

