@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Items.Item vccItem = Sitecore.Context.Database.GetItem("{6B27FAA0-91F9-467A-8D63-C5CEA20E7011}");
    var vccItemUrl = vccItem != null ? Sitecore.Links.LinkManager.GetItemUrl(vccItem) : "#";
}
@if (element != null)
{
    <li class="flx-list">
        <ul class="dd-menu nav-list nav-small">
            <li id="vcc-header">
                <a class="waves-effect" href="@vccItemUrl">
                    <i class="header-tel-icon">
                        <svg class="visible-white" width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <path id="e8ykg8ucaa" d="M0 0h5v8H0z" /> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(16 3)"> <mask id="ibh03xg8rb" fill="#fff"> <use xlink:href="#e8ykg8ucaa" /> </mask> <path d="M4.993 4.036c0 .901.006 1.803-.002 2.704-.009 1.052-.75 1.541-1.718 1.095-.89-.41-1.743-.9-2.625-1.329C.19 6.284.044 5.917.035 5.47.017 4.55.012 3.633 0 2.715c-.007-.53.177-.947.69-1.204C1.598 1.057 2.486.56 3.405.13 4.21-.248 4.96.233 4.986 1.134c.027.967.006 1.934.007 2.902" fill="#FFF" mask="url(#ibh03xg8rb)" /> </g> <path d="M12.176 0A2.824 2.824 0 0 1 15 2.824v9.352A2.824 2.824 0 0 1 12.176 15H2.824A2.824 2.824 0 0 1 0 12.176V2.824A2.824 2.824 0 0 1 2.824 0h9.352zm-1.315 2.5a1.23 1.23 0 0 0-.693.217 1.244 1.244 0 0 0-.471.583L7.545 9.631 5.4 3.316a1.143 1.143 0 0 0-.46-.594 1.245 1.245 0 0 0-.698-.209c-.383 0-.704.145-.928.42A1.324 1.324 0 0 0 3 3.785c0 .167.025.309.077.432l2.408 6.788c.18.502.457.882.821 1.128.36.243.776.366 1.233.366.449 0 .86-.123 1.22-.366.364-.246.64-.625.821-1.129l2.437-6.796a1.34 1.34 0 0 0-.231-1.285c-.22-.277-.54-.424-.925-.424z" fill="#FFF" /> </g> </svg>
                        <svg class="visible-colored" width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <path id="e8ykg8ucaa" d="M0 0h5v8H0z" /> </defs> <g fill="none" fill-rule="evenodd"> <g transform="translate(16 3)"> <mask id="ibh03xg8rb" fill="#fff"> <use xlink:href="#e8ykg8ucaa" /> </mask> <path d="M4.993 4.036c0 .901.006 1.803-.002 2.704-.009 1.052-.75 1.541-1.718 1.095-.89-.41-1.743-.9-2.625-1.329C.19 6.284.044 5.917.035 5.47.017 4.55.012 3.633 0 2.715c-.007-.53.177-.947.69-1.204C1.598 1.057 2.486.56 3.405.13 4.21-.248 4.96.233 4.986 1.134c.027.967.006 1.934.007 2.902" fill="#333" mask="url(#ibh03xg8rb)" /> </g> <path d="M12.176 0A2.824 2.824 0 0 1 15 2.824v9.352A2.824 2.824 0 0 1 12.176 15H2.824A2.824 2.824 0 0 1 0 12.176V2.824A2.824 2.824 0 0 1 2.824 0h9.352zm-1.315 2.5a1.23 1.23 0 0 0-.693.217 1.244 1.244 0 0 0-.471.583L7.545 9.631 5.4 3.316a1.143 1.143 0 0 0-.46-.594 1.245 1.245 0 0 0-.698-.209c-.383 0-.704.145-.928.42A1.324 1.324 0 0 0 3 3.785c0 .167.025.309.077.432l2.408 6.788c.18.502.457.882.821 1.128.36.243.776.366 1.233.366.449 0 .86-.123 1.22-.366.364-.246.64-.625.821-1.129l2.437-6.796a1.34 1.34 0 0 0-.231-1.285c-.22-.277-.54-.424-.925-.424z" fill="#333" /> </g> </svg>
                    </i>
                    Virtual Contact Centre
                </a>
                <span class="vcc-new">NEW</span>
            </li>
            <li id="contact-num-header">
                <a class=" waves-effect"
                   data-gaevent="top_pannel_interaction"
                   data-gaeventCategory="User Interaction"
                   data-gaeventAction="Top Pannel  Interaction"
                   data-gaeventLabel="Toll-Free"
                   href="tel:+19122">
                    <i class="header-tel-icon">
                        <img class="visible-white" src="/electricity_assets/images/tel-icon-white.svg" alt="Tel">
                        <img class="visible-colored" src="/electricity_assets/images/tel-icon.svg" alt="Tel">
                    </i>
                    Toll-Free: 19122 (24x7)
                </a>
            </li>

            <li class="business-dd-desk dd-menu-click-holder">
                <a href="javascript:void(0)"
                   class="dropdown-toggle-trigger"
                   data-target="businesses"
                   data-gaevent="top_pannel_interaction"
                   data-gaeventCategory="User Interaction"
                   data-gaeventAction="Top Pannel  Interaction"
                   data-gaeventLabel="Business"
                   id="business-dd">




                    <i class="i-grid"></i>@Html.Sitecore().Field("Text", element)
                </a>
                <ul class="dd-menu-dd dropdown-toggle-content" id="businesses">
                    @if (element.HasChildren)
                    {
                        foreach (Item item in element.GetChildren())
                        {
                            Sitecore.Data.Fields.LinkField itemLinkfld = item.Fields["LinkUrl"];
                            var url = itemLinkfld != null && !string.IsNullOrEmpty(itemLinkfld.GetFriendlyUrl()) ? itemLinkfld.GetFriendlyUrl() : "#";
                            var target = itemLinkfld != null ? itemLinkfld.Target : "";

                            Sitecore.Data.Fields.CheckboxField checkboxField = item.Fields["IsActive"];


                            if (checkboxField != null && checkboxField.Checked)
                            {
                                var eventLable = @Html.Sitecore().Field("Title", item);
                                <li class="active">
                                    <a href="@url"
                                       target="@target" class="waves-effect waves-brand"
                                       data-gaevent="top_pannel_interaction"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Top Pannel  Interaction"
                                       data-gaeventLabel="@eventLable">
                                        <p class="@Html.Sitecore().Field("Class", item)">@Html.Sitecore().Field("Title", item)</p>
                                        <span><i class="i-tick"></i></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                var eventLablecheck = @Html.Sitecore().Field("Title", item);
                                <li>
                                    <a href="@url" target="@target" class="waves-effect waves-brand"
                                       data-gaevent="top_pannel_interaction"
                                       data-gaeventCategory="User Interaction"
                                       data-gaeventAction="Top Pannel  Interaction"
                                       data-gaeventLabel="@eventLablecheck">


                                        <p class="@Html.Sitecore().Field("Class", item)">@Html.Sitecore().Field("Title", item)</p>
                                    </a>
                                </li>
                            }

                        }
                    }
                </ul>
            </li>
        </ul>
    </li>
}