@using Sitecore.AdaniCapital.Website.Helper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
@if (element != null)
{
    <li class="flx-list">
        <ul class="nav-list nav-small">
            @if (element.HasChildren)
            {
                foreach (Item item in element.GetChildren())
                {
                    if (!string.IsNullOrEmpty(item["Title"]))
                    {
                        var url1 = Helper.LinkUrl(item.Fields["LinkUrl"]);
                        var lable = @Html.Sitecore().Field("Title", item);
                        <li>
                            <a href="@url1"
                               data-gaevent="top_pannel_interaction"
                               data-gaeventCategory="User Interaction"
                               data-gaeventAction="Top Pannel  Interaction"
                               data-gaeventLabel="@lable"
                               class="@Html.Sitecore().Field("Class", item)">@Html.Sitecore().Field("Title", item)</a>
                        </li>
                    }


                }
            }

        </ul>
    </li>
}

@*<script type="text/javascript">
	document.querySelector(".waves-brand").addEventListener("click", ()=>{
dataLayer.push({'event':'learn_more_cta_click',
'eventCategory':'Corporate Portal | Home Page',
'eventAction':'Learn More CTA Click',
'eventLabel':'Who we are',
'user_id':'{{dynamic}}',
'business_user_id': '{{dynamic}}',
 'ca_number': '{{dynamic}}',
  'page_type': '{{dynamic}}'

});
})

</script>*@
