@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);

    Sitecore.Data.Fields.ImageField LogoElectricityImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["LogoElectricityImage"]);
    string LogoElectricityImage = LogoElectricityImageField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(LogoElectricityImageField.MediaItem) : string.Empty;
    var LogoElectricityClassCss = element.Fields["LogoElectricityClassCss"];

    Sitecore.Data.Fields.ImageField LogoAdaniImageField = ((Sitecore.Data.Fields.ImageField)element.Fields["LogoAdaniImage"]);
    string LogoAdaniImage = LogoAdaniImageField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(LogoAdaniImageField.MediaItem) : string.Empty;
    var LogoAdaniClassCss = element.Fields["LogoAdaniClassCss"];

    Sitecore.Data.Fields.LinkField linkfld = element.Fields["ImageLink"];
    var url = linkfld != null && string.IsNullOrEmpty(linkfld.GetFriendlyUrl()) ? "/" : linkfld.GetFriendlyUrl();

}

<li class="flx-list brand-logo">
    <a href="@url" data-target="slide-out" class="sidenav-trigger waves-effect waves-light hover-icon"
       data-gaevent="hamburger_menu_click"
       data-gaeventCategory="User Interaction"
       data-gaeventAction="Hamburger Menu Click"
       data-gaeventLabel="NA"><i class="i-hamburger i-30"></i></a>
    <a href="@url" data-gaevent="logo_click"
       data-gaeventCategory="User Interaction"
       data-gaeventAction="Logo click"
       data-gaeventLabel="NA"
       class="@LogoAdaniClassCss">
        <img src="@LogoAdaniImage" alt="logo-white" />
    </a>
    <a href="@url" data-gaevent="logo_click"
       data-gaeventCategory="User Interaction"
       data-gaeventAction="Logo click"
       data-gaeventLabel="NA" class="@LogoElectricityClassCss">
        <img src="@LogoElectricityImage" alt="logo" />

        @*<script type="text/javascript">
                $('a').click(function () {
                    if ($(this).attr('data-gaevent') != undefined) {
                        dataLayer.push({
                            'event': $(this).attr('data-gaevent'),
                            'eventCategory': $(this).attr('data-gaeventCategory'),
                            'eventAction': $(this).attr('data-gaeventAction'),
                            'eventLabel': $(this).attr('data-gaeventLabel'),
                            'business_user_id': $('#BusinessUserId').val(),
                            'login_status': $('#login_status').val(),
                            'ca_number': $('#CANumber').val(),
                            'page_type': $('head title').text()
                        });
                    }
                })
            </script>*@
    </a>
</li>
