@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Mvc
@model IEnumerable<Sitecore.GuwahatiAirport.Website.Models.GuwahatiFlight>


@{
    var i = 1;
    var today = DateTime.Today;
    var tomorrow = today.AddDays(1);
    var yesterday = today.AddDays(-1);
}
<section class="f-search__content bg-white">
    <div class="container-fluid">

        <div class="f-search__content-form p-0">
            <ul class="nav nav-tabs nav-tabs--main">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Domestic">Domestic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#International">International</a>
                </li>
            </ul>
            <div class="tab-content p-0 nav-tabs--content">
                <div class="tab-pane p-0 active" id="Domestic">
				     <div class="row">
                <div class="col-lg-9">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active arrivallink" data-toggle="tab" href="#arrival">Arrival</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link departurelink" data-toggle="tab" href="#departure">Departure</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 text-right d-none">
                    <div class="f-search__content-form__status">
                        <p>Last Updated</p>
                        <p>21.44 <span><a href="#">update</a></span></p>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content p-0">
                <div class="tab-pane p-0 active" id="arrival">
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" id="DateArrival" name="DateArrive" required="required">
                                    <option value="@yesterday.ToShortDateString()">@yesterday.ToShortDateString()</option>
                                    <option value="@today.ToShortDateString()" selected>@today.ToShortDateString()</option>
                                    <option value="@tomorrow.ToShortDateString()">@tomorrow.ToShortDateString()</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="input-group flight_search ">
                                    <input type="text" id="txtSearch" placeholder="Flights Airlines" class="form-control" /> <button type="button" value="Search" id="btnSearch"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="f-search__results table-responsive">
                        <table class="table table-hover mb-0 flight_details">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Airlines</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Flight</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Origin</th>
                                    <th class="th-lg" style="width: 18%;min-width: 180px;">Scheduled Time</th>
                                    <th class="th-lg" style="width: 17%;min-width: 140px;">Estimated Time</th>
                                    <th class="th-lg">Status</th>
									<th class="th-lg">Email</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody id="arrival2">
                                @foreach (var item in Model)
                                {
                                    if (item.ArrivingFrom == "GAU")
                                    {
										if(item.Status=="On Time" ||item.Status=="Arrived" ||item.Status=="Delayed" ||item.Status=="Cancelled" ||item.Status=="Diverted" ||item.Status=="Baggage Delivered" ||item.Status=="Bags on Belt" ||item.Status=="Awaiting Bag")
                                        {
										<tr>
                                            <td>@item.Airline</td>
                                            <td>@item.FlightNumber</td>
                                            <td>@item.DepartureFrom</td>
                                            <td>@item.Scheduled</td>
                                            <td>@item.EstimationTime</td>
                                            <td>@item.Status</td>
											<td><a><span class="far fa-envelope"></span></a></td>



                                        </tr>
										}
                                    }

                                }



                            </tbody>
                            <!--Table body-->
                        </table>
                    </div>
                </div>
                <div class="tab-pane p-0 fade" id="departure">
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" id="DateDeparture" name="DateDepart" required="required">
                                    <option value="@yesterday.ToShortDateString()">@yesterday.ToShortDateString()</option>
                                    <option value="@today.ToShortDateString()" selected>@today.ToShortDateString()</option>
                                    <option value="@tomorrow.ToShortDateString()">@tomorrow.ToShortDateString()</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="input-group flight_search">
                                    <input type="text" id="txtSearches" placeholder="Flights Airlines" class="form-control" /> <button type="button" value="Search" id="btnSearchDeparture"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="f-search__results table-responsive">
                        <table class="table table-hover mb-0 flight_details">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Airlines</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Flight</th>
                                    <th class="th-lg" style="width: 18%;min-width: 140px;">Destination</th>
                                    <th class="th-lg" style="width: 18%;min-width: 180px;">Scheduled Time</th>
                                    <th class="th-lg" style="width: 17%;min-width: 140px;">Estimated Time</th>
                                    <th class="th-lg">Status</th>
									<th class="th-lg">Email</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody id="departure2" class="d-none">
                                @foreach (var item in Model)
                                {
                                    if (item.DepartureFrom == "GAU")
                                    {
										if(item.Status=="Departed"||
										item.Status=="On Time"||item.Status=="Cancelled"||item.Status=="Delayed")
                                        {
                                        <tr>
                                            <td>@item.Airline</td>
                                            <td>@item.FlightNumber</td>
                                            <td>@item.ArrivingFrom</td>
                                            <td>@item.Scheduled</td>
                                            <td>@item.EstimationTime</td>
                                            <td>@item.Status</td>
											<td><a><span class="far fa-envelope"></span></a></td>

                                        </tr>
										}
                                    }

                                }



                            </tbody>
                            <!--Table body-->
                        </table>
                    </div>
                </div>

            </div>
      
</div>
  <div class="tab-pane p-0 " id="International">
                    <div class="row">
                        <div class="col-lg-9">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#In-Arrival">Arrival</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#In-Departure">Departure</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 d-none">
                            <div class="f-search__content-form__status text-right">
                                <p>Last Updated</p>
                                <p>21.44 <span><a href="#">update</a></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content p-0 px-0">
                        <div class="tab-pane p-0 active" id="In-Arrival">
                            <div class="row mt-4">
                                <div class="col-lg-3">
                                    <div class="form-group">
									<select class="form-control" id="DateArrive" name="DateArrive" required="required">
                                    <option value="@yesterday.ToShortDateString()">@yesterday.ToShortDateString()</option>
                                    <option value="@today.ToShortDateString()" selected>@today.ToShortDateString()</option>
                                    <option value="@tomorrow.ToShortDateString()">@tomorrow.ToShortDateString()</option>
                                </select>
                                      <!--  <div class="input-group datepicker">
                                            <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group"><input id="dep_flight" class="form-control" placeholder="Wed 11 Mar" data-type="datepicker" data-guid="59b9b56c-af7c-0aca-7b50-6337c00f4065" data-datepicker="true" role="input" day="2019-0-1"><span class="input-group-append" role="right-icon"><button class="btn btn-outline-secondary border-left-0" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button></span></div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                     <!--   <div class="input-group search">
                                            <input id="dep_flight-search" class="form-control" placeholder="Flight, City, Airline…">
                                        </div>-->
										<div class="input-group flight_search">
                                    <input type="text" id="txtSearches" placeholder="Flights Airlines" class="form-control" /> <button type="button" value="Search" id="btnSearchDeparture"><span class="fa fa-search"></span></button>
                                </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none">
                                    <div class="select_terminal">
                                        <ul>
                                            <li><button type="button" class="active">All</button></li>
                                            <li><button type="button">T1</button></li>
                                            <li><button type="button">T2</button></li>
                                            <li><button type="button">T3</button></li>
                                            <li><button type="button">T4</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="f-search__results table-responsive">
                                <table class="table table-hover mb-0 flight_details">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th class="th-lg" style="width: 18%;min-width: 140px;">Airlines</th>
                                            <th class="th-lg" style="width: 18%;min-width: 140px;">Flight</th>
                                            <th class="th-lg" style="width: 18%;min-width: 140px;">Origin</th>
                                            <th class="th-lg" style="width: 18%;min-width: 180px;">Scheduled Time</th>
                                            <th class="th-lg" style="width: 17%;min-width: 140px;">Estimated Time</th>
                                            <th class="th-lg">Status</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody id="arrival2">
                                       
								@foreach (var item in Model)
                                {
                                    if (item.ArrivingFrom == "GAU")
                                    {
										if(item.Status=="On Time" ||item.Status=="Arrived" ||item.Status=="Delayed" ||item.Status=="Cancelled" ||item.Status=="Diverted" ||item.Status=="Baggage Delivered" ||item.Status=="Bags on Belt" ||item.Status=="Awaiting Bag")
                                        {
                                        <tr>
                                            <td>@item.Airline</td>
                                            <td>@item.FlightNumber</td>
                                            <td>@item.DepartureFrom</td>
                                            <td>@item.Scheduled</td>
                                            <td>@item.EstimationTime</td>
                                            <td>@item.Status</td>
											<td><a><span class="far fa-envelope"></span></a></td>



                                        </tr>
										}
                                    }

                                }


                                    </tbody>
                                    <!--Table body-->
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane p-0" id="In-Departure">
						 <div class="row mt-4">
                                <div class="col-lg-3">
                                    <div class="form-group">
									<select class="form-control" id="DateDepart" name="DateDepart" required="required">
                                    <option value="@yesterday.ToShortDateString()">@yesterday.ToShortDateString()</option>
                                    <option value="@today.ToShortDateString()" selected>@today.ToShortDateString()</option>
                                    <option value="@tomorrow.ToShortDateString()">@tomorrow.ToShortDateString()</option>
                                </select>
                                        <!--<div class="input-group datepicker">
                                            <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group"><input id="dep_flight" class="form-control" placeholder="Wed 11 Mar" data-type="datepicker" data-guid="59b9b56c-af7c-0aca-7b50-6337c00f4065" data-datepicker="true" role="input" day="2019-0-1"><span class="input-group-append" role="right-icon"><button class="btn btn-outline-secondary border-left-0" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button></span></div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
									<div class="input-group flight_search">
                                    <input type="text" id="txtSearches" placeholder="Flights Airlines" class="form-control" /> <button type="button" value="Search" id="btnSearchDeparture"><span class="fa fa-search"></span></button>
                                </div>
                                      <!--  <div class="input-group search">
                                            <input id="dep_flight-search" class="form-control" placeholder="Flight, City, Airline…">
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none">
                                    <div class="select_terminal">
                                        <ul>
                                            <li><button type="button" class="active">All</button></li>
                                            <li><button type="button">T1</button></li>
                                            <li><button type="button">T2</button></li>
                                            <li><button type="button">T3</button></li>
                                            <li><button type="button">T4</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="f-search__results table-responsive">
                                <table class="table table-hover mb-0 flight_details">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th class="th-lg" style="width: 18%;min-width: 140px;">Airlines</th>
                                            <th class="th-lg" style="width: 18%;min-width: 140px;">Flight</th>
                                            <th class="th-lg" style="width: 18%;min-width: 140px;">Destination</th>
                                            <th class="th-lg" style="width: 18%;min-width: 180px;">Scheduled Time</th>
                                            <th class="th-lg" style="width: 17%;min-width: 140px;">Estimated Time</th>
                                            <th class="th-lg">Status</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody id="arrival2">
                                             
									@foreach (var item in Model)
									{
										if (item.DepartureFrom == "GAU")
										{
											if(item.Status=="Departed"||item.Status=="On Time"||item.Status=="Cancelled"||item.Status=="Delayed")
											{
											<tr>
												<td>@item.Airline</td>
												<td>@item.FlightNumber</td>
												<td>@item.ArrivingFrom</td>
												<td>@item.Scheduled</td>
												<td>@item.EstimationTime</td>
												<td>@item.Status</td>
												<td><a><span class="far fa-envelope"></span></a></td>

											</tr>
											}
										}

									}
                                    </tbody>
                                    <!--Table body-->
                                </table>
                            </div>
						</div
                    </div>

                </div>
              
            </div>


        </div>
    </div>
</section>
