@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
 var Dynamicclass = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Dynamicclass").FirstOrDefault().Value;

}

@if (model != null)
{
    <section class="bg-cream section-bottom @Dynamicclass content-header otherSer d-none" >
        <div class="container-fluid">
		
    <div class="row airport-section__carousel">

                @foreach (var element in model.GetChildren().ToList())
                {
                    var class12 = @Html.Sitecore().Field("Type", element);
                    Sitecore.Data.Fields.LinkField lnkFld = element.Fields["Link"];
                    var url = lnkFld.GetFriendlyUrl();
                   				
					
					    <div class="col-lg-3 col-md-6 my-3 AllLink">
								<div class="filter_inner item">
                                <a href="@element.Url()">
                                    @Html.Sitecore().ImageField("Image", element, 0, 0, "img-fluid w-100")
                                    <div>

                                        <p>@Html.Sitecore().Field("Title", element)</p>
                                        <span>@Html.Sitecore().Field("Summary", element)</span>

                                    </div>
                                </a>
								</div>
                            </div>
                }
            </div>
        </div>
    </section>
}