@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
}




<div class="container">
    <div class="row footerPanel2 pb-4">



        @foreach (var item in model.GetChildren().ToList())
        {
            var subItemModel = Sitecore.Context.Database.GetItem(item.ID);
            var childCount = subItemModel.GetChildren().Count();

            <div class="col-md-4 col-lg-2 order-2 ft-submenu ml-md-auto col-6 d-lg-block d-none">
                <h5>
                    @Html.Sitecore().BeginField("Link", item, new { haschildren = true })
                    @Html.Sitecore().Field("NavigationTitle", item)
                    @Html.Sitecore().EndField()
                </h5>
                @if (childCount > 0)
                {
                    <ul>

                        @foreach (var subItem in subItemModel.GetChildren().ToList())
                        {
                            <li class="">
                                @Html.Sitecore().BeginField("Link", subItem, new { haschildren = true })
                                @Html.Sitecore().Field("NavigationTitle", subItem)
                                @Html.Sitecore().EndField()
                            </li>
                        }
                    </ul>

                }
            </div>

        }





        <div class="col-lg-5 ft-logo order-lg-4 order-1 text-center text-lg-left">
            <img src="-/media/EDEB0E192FB0482A87B6D53B412E8BF0.ashx" class="img-fluid">
            <p class="my-4 txt-black text-center text-lg-left">Guwahati Lokpriya Gopinath Bordoloi<span class="d-block">International  Airport, Borjhar Guwahati, <br> Assam 781015</span></p>
            <!-- <p class="mt-1 txt-black text-center text-lg-left"><b>Tel</b> : 1800 000 00000</p> -->
           <ul class="ft-social"> 

                            <li><a href="https://www.facebook.com/Guwahati-Airport-106837828355065" target="_blank"><i class="fab fa-facebook-f"> </i></a></li> 

                            <li><a href="https://twitter.com/GuwahatiAirport" target="_blank"><i class="fab fa-twitter"> </i></a></li> 

                            <li><a href="https://www.linkedin.com/company/adaniairportsholdingsltd/" target="_blank"><i class="fab fa-linkedin-in"> </i></a></li> 

                            <li><a href="https://www.instagram.com/airport_gau/" target="_blank"><i class="fab fa-instagram"> </i></a></li> 

                            <li><a href="https://www.youtube.com/channel/UCMgimlVfpp9Bn6yVSCAW8QQ " target="_blank"><i class="fab fa-youtube"> </i></a></li> 

                    </ul> 
            <p class="txt-black text-center text-lg-left"><a href="https://goo.gl/maps/PtsdEcgfo7WabHPWA" target="_blank"><img src="-/media/8CC0CF7002C4426896F034C7E552CED5.ashx" class="img-fluid mr-2">Find Us On Google Maps</a></p>
            <p class="sitemap-link bg-gradient d-block d-lg-none mt-3 p-2">Sitemap<i class="fa fa-angle-down"></i></p>
        </div>

    </div>
</div>
<div class="footerBtmPanel mt-3 py-2">
    <div class="container">
        <div class="row row-grid align-items-end ftrBtmInner">
            <div class="col-12 col-md-auto text-center text-md-left">

                <div class="">© 2020 Adani Group</div>
            </div>
            <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                <div class="footerMenu">
                    <ul class="ft-policy-links">
                        <li>
                            <a href="/lgbia-guwahati-airport/Privacy-Policy">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="/lgbia-guwahati-airport/Disclaimer">
                                Legal Disclaimer
                            </a>
                        </li>
                        <li>
                            <a href="/lgbia-guwahati-airport/terms-and-conditions">
                                Terms &amp; Conditions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


