@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    /**/

    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var model = Sitecore.Context.Database.GetItem(datasource);
	 var Designation = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters.Where(x => x.Key == "Designation").FirstOrDefault().Value;
}


<section class="bg-cream section content-header travel-guide__content" id="first-section">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
 @Html.Sitecore().ImageField("Image", model,0, 0, "img-fluid")
<p class="mt-3"><strong class="txt-md"> @Html.Sitecore().Field("Text", model)</strong><span class="d-block"> @Designation</span></p>
</div>
<div class="col-md-9">
<h2 class="heading pl-4 mb-3"> @Html.Sitecore().Field("Title", model)</h2>

<p class="mb-2"> @Html.Sitecore().Field("Body", model)</p>


<!-- <p style="color: #505050;"><b>Explore more on these topics:</b></p> -->
<!-- <p class="mt-2"><a class="btn btn-gradient mr-3" href="/About-us/One-Vision-One-team" style="font-size: 0.9rem;"><em class="fa fa-plus mr-3"></em>ONE VISION ONE TEAM</a><a class="btn btn-gradient" href="/Newsroom/Chairman-Corner" style="font-size: 0.9rem;"><em class="fa fa-plus mr-3"></em>CHAIRMAN's CORNER</a></p> -->

</div>
</div>
</div>
</section>
