@using Sitecore.Foundation.Dictionary.Extensions
<section class="py-2 bg-gray position-relative d-block">
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("newsandupdates")
            <div class="col-lg-7 mb-3">
				<a href="@Html.Sitecore().Dictionary("/Home/Management/Title/URL", "/about-us/ceo-message")">
					<div class="row no-gutters borderedBox">
						<div class="col-sm-7">
							<div class="p-4 bg-gradient-orange h-100 w-100">
								<h3 class="section-heading text-white text-left">@Html.Sitecore().Dictionary("/Home/Management/Title", "Management's Corner")</h3>
								<p class="txt-lg text-white mb-5 pr-lg-6">@Html.Sitecore().Dictionary("/Home/Management/Description1", "\"Safety first in")<br />@Html.Sitecore().Dictionary("/Home/Management/Description2", "everything we do at AGL.\"")</p>
								<p class="signature txt-white">@Html.Sitecore().Dictionary("/Home/Management/Name", "Suresh P Manglani")<span>@Html.Sitecore().Dictionary("/Home/Management/Designation", "CEO - Adani Gas Ltd.")</span></p>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="ceo-img-h h-100 bg-white ceoImg"><img src="/-/media/Project/AdaniGas/AboutUs/Suresh-P-Manglani-pic.jpg?la=en&amp;hash=CC74B65470155FAFE20AF76B35A7335C" class="img-fluid w-100"></div>
						</div>
					</div>
				</a>
            </div>
        </div>
    </div>
</section>