@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.MultilistField otherServices = ((Sitecore.Data.Fields.MultilistField)currentItem.Fields["OtherServices"]);
    string imageAltText = string.Empty;

}

@if (currentItem != null)
{
    <div class="shop-section scrollableOffset" id="@currentItem.DisplayName">
        <h2 class="cm-heading">@Html.Sitecore().Field("Title", currentItem)</h2>
        <div class="arrow_pos">
            <div class="slider-citytocity items-2-slider">
                @foreach (Sitecore.Data.Items.Item services in otherServices.GetItems())
                {
                    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)services.Fields["CardImage"]);
                    string imageUrl = imgField != null && imgField.MediaItem != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem) : "";
                    if (imgField != null && imgField.MediaItem != null)
                    {
                        Sitecore.Data.Items.MediaItem image = new Sitecore.Data.Items.MediaItem(imgField.MediaItem);
                        imageAltText = image != null && image.Alt != null ? image.Alt : "";
                    }                    
                    Sitecore.Data.Fields.LinkField linkField = ((Sitecore.Data.Fields.LinkField)services.Fields["RedirectLink"]);
                    if (linkField != null)
                    {
                        var redirectUrl = linkField.GetFriendlyUrl();
                        <div class="card-Wrap slider-box">
                            <a href="@redirectUrl" class="card zoomEffect">
                                <figure>
                                    <img class="card-img-top" src="@imageUrl"
                                         alt="@imageAltText" loading="lazy"/>
                                </figure>
                                <div class="card-body">
                                    <h3>@Html.Sitecore().Field("CardTitle", services)</h3>
                                    <p class="vertical_ellipsis">
                                        @Html.Sitecore().Field("CardDescription", services)
                                        <span class="black_link">
                                            @linkField.Text
                                        </span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
