@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var NewsandEvents = Sitecore.Context.Database.Items.GetItem("{7FBD10AC-F3FD-4D2E-9FBC-7DB593666174}");
    var LatestResource = Sitecore.Context.Database.Items.GetItem("{63874A77-8763-458E-BF51-8AA67D57981D}");



}

<section class="bg-gray section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h3 class="sub_heading">@Html.Sitecore().Field("Title", element)</h3>
                <div class="other_block">
                    <div class="video_section mb-4" data-toggle="modal" data-target="#about-video">
                        @Html.Sitecore().Field("Image", element)
                    </div>
                    <p> @Html.Sitecore().Field("Body", element)</p>
                    <a href="#" class="btn btn-bordered">Join Us</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3 class="sub_heading">News & Events</h3>
                <div class="other_block">
                    <div class="owl-carousel latest-news mb-4">
                        @foreach (Item item in NewsandEvents.GetChildren())
                        {
                            Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["MediaImage"]);

                            string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);

                        <div class="item">
                             <img src="@imgurl">
                            @*<img src="https://via.placeholder.com/550x550">*@
                        </div>
                        }
                            
                        </div>
                    <p>@Html.Sitecore().Field("Body", element)</p>
                    <a href="#" class="btn btn-bordered">Explore more</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3 class="sub_heading">@Html.Sitecore().Field("Title", LatestResource)</h3>
                <ul class="downloads_block">
                    
                    @foreach (Item item in LatestResource.GetChildren())
                    {
                       
                        <li><a href="#">@Html.Sitecore().Field("Image", item)<span>@Html.Sitecore().Field("Title", item)</span></a></li>
                    }
                         </ul>
                <a href="#" class="btn btn-bordered">Explore more</a>
            </div>
        </div>
    </div>
</section><!--/section-->