@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);



}

<section class="bg-gray section_padding">
    <div class="container">
        <div class="text_container mb-4 text-center position-relative">
            <div class="sidebar_logo"><img src="-/media/DD07128803B745208BD87FEFC82AED49.ashx"></div>
            <h2>@Html.Sitecore().Field("Title", element)</h2>
            <p class="txt-md mb-5">@Html.Sitecore().Field("Body", element)</p>
        </div>
        <div class="row">
            @foreach (Item item in element.GetChildren())
            {
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="business-block box-shadow">
                        <div class="business-img">@Html.Sitecore().Field("Image", item)</div>
                        <div class="business-desc bg-white p-4">
                            <h3 class="mb-3">@Html.Sitecore().Field("Title", item)</h3>
                            <p class="mb-3">@Html.Sitecore().Field("Body", item)</p>
                            <div><a href="" class="">Know more</a></div>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</section><!--/section-->