
@using Sitecore.Data.Fields
@using Sitecore.Data.Items

@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var ImageItem = Sitecore.Context.Database.Items.GetItem("{C7519968-78A9-4C5B-BDEF-F857582FE019}");
    var i = 1;

}

<section class="section_lng section_padding position-relative">
    <div class="bg-images"><img src="https://via.placeholder.com/350x150"></div>
    <div class="container">
        <div class="text_container mb-4 text-center">
            <h2 class="heading">@Html.Sitecore().Field("Title", element)</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="text_container mb-4">
                    @Html.Sitecore().Field("Body", element)
                    <div class="row">

                        @foreach (Item item in element.GetChildren())
                        {
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="stats_section">
                                    <div class="stats_section--thumb">
                                        @Html.Sitecore().Field("Image", item)
                                    </div>
                                    <div class="stats_section--description">
                                        <h3>@Html.Sitecore().Field("Title", item)</h3>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="c_section">
                    @foreach (Item item in ImageItem.GetChildren())
                    {
                        if(i==1 || i==3)
                        {
                        <div class="c_section_half">
                            <div class="c_section-thumb">
                                @Html.Sitecore().Field("Image", item)
                            </div>
                            <div class="c_section-desc">
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                            </div>
                        </div>
                        }
                        else {
                        <div class="c_section_full">
                            <div class="c_section-thumb">
                                @Html.Sitecore().Field("Image", item)
                            </div>
                            <div class="c_section-desc">
                                <h3>@Html.Sitecore().Field("Title", item)</h3>
                            </div>
                        </div>
                        }
                        i = i + 1;
                    }

                    </div>
            </div>
        </div>
    </div>
</section>