@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
<!-- logout Modal/offcanvas -->
@if (currentItem != null)
{
    <div class="modal fade" id="logoutPopup" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h4">@Html.Sitecore().Field("Title", currentItem)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Sitecore().Field("Description", currentItem)
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="adl-button btn btn-outline-secondary btn-md">@Html.Sitecore().Field("Button1Text", currentItem)</button>
                    <button type="button" class="adl-button btn btn-secondary btn-md" onclick="logoutUserProfileAccept();">@Html.Sitecore().Field("Button2Text", currentItem)</button>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-bottom logoutOffcanvas" tabindex="-1" id="logout_offcanvas"
         aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <div class="offcanvas-title h5">@Html.Sitecore().Field("Title", currentItem)</div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @Html.Sitecore().Field("Description", currentItem)
        </div>
        <div class="offcanvas-footer">
            <button type="button" data-bs-dismiss="modal" class="cancelBtn btn btn-outline-secondary">@Html.Sitecore().Field("Button1Text", currentItem)</button>
            <button type="button" class="submitReview btn btn-secondary" onclick="logoutUserProfileAccept();">@Html.Sitecore().Field("Button2Text", currentItem)</button>
        </div>
    </div>
}
<!-- logout Modal/offcanvas -->
