@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
<!-- mobile start-->
@if (currentItem != null)
{
    <div class="services-wrap pt-wrap">
        <div class="container">
            <div class="slider-mobile scrollbar-x mobSlider blank-holder">
                @foreach (Item service in currentItem.Children)
                {
                <div class="col">
                    @if (@Html.Sitecore().Field("Title", service).ToString() == "Book Flights")
                    {
                        <a href="/flight/booking/home/ADLONE/D/O/ECO/1_0_0/x/DEL-BOM-@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy").Replace("/","")" class="service-box">
                            <div class="img-box blank round">
                                @Html.Sitecore().Field("Image", service, new { @alt = "Airport-Services" })
                            </div>
                            <p>@Html.Sitecore().Field("Title", service)</p>
                        </a>
                    }
                    else if (@Html.Sitecore().Field("Title", service).ToString() == "View All")
                    {
                        @Html.Sitecore().BeginField("Link", service, new { haschildren = true, @class = "service-box" })
                        <div class="img-box blank round">
                            @Html.Sitecore().Field("Image", service, new { @alt = "Airport-Services" })
                        </div>
                        <i class="i-services"></i>
                        <p>@Html.Sitecore().Field("Title", service)</p>
                        @Html.Sitecore().EndField()
                    }
                    else
                    {
                        @Html.Sitecore().BeginField("Link", service, new { haschildren = true, @class = "service-box" })
                        <div class="img-box blank round">
                            @Html.Sitecore().Field("Image", service, new { @alt = "Airport-Services" })
                        </div>
                        <p>@Html.Sitecore().Field("Title", service)</p>
                        @Html.Sitecore().EndField()
                    }
                </div>
                }
            </div>
        </div>
    </div>
}

<!-- mobile  End-->