@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Feature.Carousel.Platform
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelepr = new Helper();
    string serviceClass = string.Empty;
    string[] absoluteurl = System.Web.HttpContext.Current.Request.Url.AbsoluteUri.Split('/');
}
    @if (currentItem != null)
    {
        <section class="card-Box feature-service pt-wrap">
            <div class="container">
                <h3 class="d-none d-md-block">@Html.Sitecore().Field("__Short description", currentItem)</h3>
                <div class="mumbai-airports airport-features arrow_pos blank-holder">
                    @foreach (Item service in currentItem.Children)
                    {
                        <div class="slider-box">
                            <ul class="services-list">
                                @foreach (Item slider in service.Children)
                                {
                                    if (@Html.Sitecore().Field("Title", slider).ToString() == "View All")
                                    {
                                        <li>
                                            @Html.Sitecore().BeginField("Link", slider, new { haschildren = true })
                                            <figure class="zoomEffect blank round">
                                                <div class="viewAllServices">
                                                    @Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })
                                                </div>
                                                <i class="i-services"></i>
                                            </figure>
                                            <label>@Html.Sitecore().Field("Title", slider)</label>
                                            @Html.Sitecore().EndField()
                                        </li>

                                    }
                                    else
                                    {
                                        if (@Html.Sitecore().Field("Description", slider).ToString() == "deactivate")
                                        {
                                            serviceClass = "deactivate";
                                        }
                                        else if (@Html.Sitecore().Field("Description", slider).ToString() == "nonCursueTag")
                                        {
                                            serviceClass = "nonCursueTag";
                                        }
                                        else
                                        {
                                            serviceClass = "zoomEffect";
                                        }
                            <li class="@serviceClass">
                                @if (@Html.Sitecore().Field("Description", slider).ToString() == "deactivate")
                                {

                                    <div>
                                        @if (@Html.Sitecore().Field("Description", slider).ToString() == "deactivate")
                                        {
                                            <span class="tag-coming-soon">COMING SOON</span>
                                            <figure class="blank round">
                                                @Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })
                                            </figure>
                                        }
                                        else
                                        {
                                            <figure class="blank round">@Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })</figure>
                                        }
                                        <label>@Html.Sitecore().Field("Title", slider)</label>
                                    </div>

                                }
                                else
                                {
                                    if (@linkHelepr.LinkUrl(slider.Fields["Link"]).Contains("{NextDayDate}"))
                                    {
                                        <a href="@linkHelepr.LinkUrl(slider.Fields["Link"]).Replace("{NextDayDate}",@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy").Replace("/",""))"
                                           class="gtmEventClick" data-event="lob_selection" data-subcategory="@Html.Sitecore().Field("Title", slider)">
                                           <span class="tag-coming-soon">domestic</span>
                                            <figure class="blank round">@Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })</figure>
                                            <label>@Html.Sitecore().Field("Title", slider)</label>
                                        </a>
                                    }
                                    else if (@linkHelepr.LinkUrl(slider.Fields["Link"]).Contains("{CurrentDate}"))
                                    {
                                        <a href="@linkHelepr.LinkUrl(slider.Fields["Link"]).Replace("{CurrentDate}",@DateTime.Now.ToString("dd/MM/yyyy").Replace("/",""))"
                                           class="gtmEventClick" data-event="lob_selection" data-subcategory="@Html.Sitecore().Field("Title", slider)">
                                            <figure class="blank round">@Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })</figure>
                                            <label>@Html.Sitecore().Field("Title", slider)</label>
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.Sitecore().BeginField("Link", slider, new { haschildren = true, @class= "gtmEventClick", @data_event="lob_selection", @data_subcategory=@Html.Sitecore().Field("Title", slider) })

                                        if (@Html.Sitecore().Field("Description", slider).ToString() == "deactivate")
                                        {
                                            <span class="tag-coming-soon">COMING SOON</span>
                                            <figure class="blank round">
                                                @Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })
                                            </figure>
                                        }
                                        else if (@Html.Sitecore().Field("Description", slider).ToString() == "nonCursueTag")
                                        {
                                            <span class="tag-coming-soon">domestic</span>
                                            <figure class="blank round">
                                                @Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })
                                            </figure>
                                        }
                                        else
                                        {
                                            <figure class="blank round">@Html.Sitecore().Field("Image", slider, new { @alt = "Services", @class = "img-fluid" })</figure>
                                        }
                                        <label>@Html.Sitecore().Field("Title", slider)</label>
                                        @Html.Sitecore().EndField()
                                    }

                                }
                            </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </section>
    }



