@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <section class="mumbai-other-service pt-wrap borderRemove_card">
        <div class="container">
            <h3>@Html.Sitecore().Field("__Short description", currentItem)</h3>
            <div class="arrow_pos">
                <div class="slider-airports">
                    @foreach (Item service in currentItem.Children)
                    {
                        <div class="card-Wrap slider-box">
                            @Html.Sitecore().BeginField("Link", service, new { haschildren = true, @class = "card zoomEffect gtmKnowMoreClick", @auto_id = @Html.Sitecore().Field("AutoId", service), @data_event="view_know_more", @data_subcategory="", @data_bannercategory="More Services", @data_label=@Html.Sitecore().Field("Title", service) })
                            <figure>
                                @Html.Sitecore().Field("Image", service, new { @width = "100%", @class = "h-auto" })
                            </figure>
                            <div class="card-body">
                                <h3>@Html.Sitecore().Field("Title", service)</h3>
                                <p class="vertical_ellipsis">
                                    @Html.Sitecore().Field("Description", service)
                                </p>
                                <span href="#" class="know-btn">@Html.Sitecore().Field("SubTitle", service)</span>
                            </div>
                            @Html.Sitecore().EndField()
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
