@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelepr = new Helper();
}
@if (currentItem != null)
{
    <section class="our-airports pt-wrap">
        <div class="container">
            <h3>@Html.Sitecore().Field("__Short description", currentItem)</h3>
            <div class="arrow_pos">
                <div class="slider-airports">
                    @foreach (Item airport in currentItem.Children)
                    {
                        if (linkHelepr.LinkUrl(airport.Fields["Link"]) != string.Empty)
                        {
                            <div class="slider-box">
                                @Html.Sitecore().BeginField("Link", airport, new { haschildren = true })
                                <div class="zoomEffect">
                                    <figure>
                                        @Html.Sitecore().Field("Image", airport, new { @alt = "Airport-Image", @width = "100%" })
                                    </figure>
                                    <div class="cityHeading @Html.Sitecore().Field("textColor", airport)">
                                        <h3>@Html.Sitecore().Field("Title", airport)</h3>
                                        <p>@Html.Sitecore().Field("Description", airport)</p>
                                    </div>
                                </div>
                                @Html.Sitecore().EndField()
                            </div>
                        }
                        else
                        {
                            <div class="slider-box">
                                <div class="zoomEffect">
                                    <figure>
                                        @Html.Sitecore().Field("Image", airport, new { @alt = "Airport-Image", @width = "100%" })
                                    </figure>
                                    <div class="cityHeading @Html.Sitecore().Field("textColor", airport)">
                                        <h3>@Html.Sitecore().Field("Title", airport)</h3>
                                        <p>@Html.Sitecore().Field("Description", airport)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
}
