@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <section class="other-service pt-wrap airportOthServices">
        <div class="container">
            <h3>@Html.Sitecore().Field("__Short description", currentItem)</h3>
            <div class="arrow_pos">
                <div class="other-services slider-airports">
                    @foreach (Item Otherservice in currentItem.Children)
                    {
                        if (@Html.Sitecore().Field("SubTitle", Otherservice).ToString() == "Comingsoon")
                        {
                            <div class="slider-box" auto_id=@Html.Sitecore().Field("AutoId", Otherservice)>
                                <div class="zoomEffect" auto_id=@Html.Sitecore().Field("AutoId", Otherservice)>

                                    <figure>
                                        @Html.Sitecore().Field("Image", Otherservice, new { @alt = "Airport-More-Services", @width = "100%" })
                                    </figure>
                                    <div class="content">
                                        <h3>@Html.Sitecore().Field("Title", Otherservice)</h3>
                                        <p class="vertical_ellipsis">
                                            @Html.Sitecore().Field("Description", Otherservice)
                                        </p>
                                        <span class="tag-coming-soon mt-3">COMING SOON</span>
                                    </div>

                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="slider-box">
                                <div class="zoomEffect">
                                    @Html.Sitecore().BeginField("Link", Otherservice, new { haschildren = true, @auto_id = @Html.Sitecore().Field("AutoId", Otherservice), @class= "gtmKnowMoreClick", @data_event ="view_know_more", @data_subcategory="", @data_bannercategory=@Html.Sitecore().Field("__Short description", currentItem), @data_label=@Html.Sitecore().Field("Title", Otherservice) })
                                    <figure>
                                        @Html.Sitecore().Field("Image", Otherservice, new { @alt = "Airport-More-Services", @width = "100%" })
                                    </figure>
                                    <div class="content">
                                        <h3>@Html.Sitecore().Field("Title", Otherservice)</h3>
                                        <p class="vertical_ellipsis">
                                            @Html.Sitecore().Field("Description", Otherservice)
                                        </p>
                                        <span href="#" class="know-btn">@Html.Sitecore().Field("SubTitle", Otherservice)</span>
                                    </div>
                                    @Html.Sitecore().EndField()
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
}
