@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
<section class="duty-free-sallers pt-wrap">
    <div class="container">
        <h3>@Html.Sitecore().Field("__Short description", currentItem)</h3>
        <div class="arrow_pos">
            <div class="slider-airports blank-holder">
                @foreach (Item seller in currentItem.Children)
                {
                    <div class="card-Wrap zoomEffect">
                        @Html.Sitecore().BeginField("CardLink", seller, new { haschildren = true, @class = "card blank", @auto_id = @Html.Sitecore().Field("AutoId", seller) })
                        <figure>
                            @Html.Sitecore().Field("SellerCard", seller, new { @alt = "sellar_card" })
                        </figure>
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class=" vertical_ellipsis">
                                    @Html.Sitecore().Field("CardTitle", seller)
                                </span>
                            </h5>
                            <div class="price-item">
                                <span><del>@Html.Sitecore().Field("Price", seller)</del></span>
                                <div class="ammount">
                                    <h5>@Html.Sitecore().Field("Amount", seller)<span class="offer-text">@Html.Sitecore().Field("OfferText", seller)</span></h5>
                                </div>
                            </div>
                        </div>
                        @Html.Sitecore().EndField()
                    </div>
                }
            </div>
        </div>
    </div>
</section>
}
