@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <section class="product-categories pt-wrap">
        <div class="container">
            <h3>@Html.Sitecore().Field("__Short description", currentItem)</h3>
            <div class="arrow_pos">
                <div class="slider-airports">
                    @foreach (Item category in currentItem.Children)
                    {
                    <div class="card-Wrap">


                        @Html.Sitecore().BeginField("Link", category, new { haschildren = true, @class = "card all-items zoomEffect gtmdutyFreeCategoriesClick", @auto_id = @Html.Sitecore().Field("AutoId", category), @data_event = "slick_list_selection", @data_subcategory = @Html.Sitecore().Field("__Short description", currentItem), @data_label = @Html.Sitecore().Field("Title", category) })
                        <figure>
                            @Html.Sitecore().Field("Image", category, new { @alt = "sellar_card" })
                        </figure>
                        <div class="item-name">
                            <p>@Html.Sitecore().Field("Title", category)</p>
                        </div>
                        @Html.Sitecore().EndField()
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
