@using Sitecore.Feature.Identity
@using Sitecore.Feature.Identity.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Links
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var url = Request.Url.AbsoluteUri;
    var identity = IdentityRepository.Get(Model.Item);
    if (identity == null)
    {
        return;
    }
    //TODO: Resolve context site from item (implement in Foundation.Multisite)
    var homeUrl = Sitecore.Context.Site?.GetStartItem()?.Url() ?? "/";
    var hasTagline = identity.FieldHasValue(Templates.Identity.Fields.LogoTagLine);
}



<div itemscope itemtype="http://schema.org/Organization">
    <a class="navbar-brand @(hasTagline ? "has-tagline" : "")" href="@homeUrl">
        @Html.Sitecore().Field(Templates.Identity.Fields.Logo,identity,new { alt = "Adani Realty" , itemprop = "logo" })
        @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, identity, 0, 0)
        @if (hasTagline)
        {
            <small class="tagline">@Html.Sitecore().Field(Templates.Identity.Fields.LogoTagLine, identity)</small>
        }
    </a>
    <span itemprop="description" style="display:none;"> Adani Realty, a luxury real estate developer offers residential &amp; commercial property across various locations like Mumbai, Pune, Ahmedabad &amp; Gurgaon.</span>
    <a itemprop="url" href="@url" title="Adani Realty"></a>
</div>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>


