@using Sitecore.Foundation.Dictionary.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore

<a href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Logged-In","/myaccount/png-dashboard")">
    <img src="/-/media/904159C6CA6241DFAE493079EC5BF624.png" alt="Login" class="icon">
    @if (WebAPIAdaniGas.IsUserLoggedIn())
    {
        <h4>Welcome, User</h4>
        <a class="hamburger_dropdown arrow" href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Logged-In","/myaccount/png-dashboard")"><img src="/-/media/904159C6CA6241DFAE493079EC5BF624.png"></a>
    }
    else
    {
        <h4>@Html.Sitecore().Field("Title", item) <br><label>@Html.Sitecore().Field("Text", item)</label></h4>
        <a class="hamburger_dropdown arrow" href="@Html.Sitecore().Dictionary("/Accounts/Redirect URL/Login","/myaccount")"><img src="/-/media/904159C6CA6241DFAE493079EC5BF624.png"></a>
    }
</a>
    