@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.afterSalesServices

<!-- Toggle button to show/hide side nav -->
<div class="d-block d-md-none sideNavBtn">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Menu</span>
    </button>
</div>
<!-- /Toggle button to show/hide side nav -->
<div class="clearfix"></div>
<!-- Update Profile Page Content-->

<div class="panel">

    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "afterSalesService", @class = "form-signin" }))
    {
        @Html.ValidationSummary(true)
        @Html.AddUniqueFormId()
        @Html.AntiForgeryToken()

        var dueDate = DateTime.Now.ToString("yyyyMMdd");
        var billDate = DateTime.Now.ToString("yyyyMMdd");

        <input type="hidden" name="Bill_Date" value="@dueDate" />
        <input type="hidden" name="Due_Date" value="@billDate" />
        <h3 class="mb-3">After Sales Services</h3>
        <div class="row">
            <div class="col-lg-12 col-md-6" style="color:red;">
                <span id="txtmessage"></span>
            </div>
            <div class="col-lg-6 col-md-6">
                <label>Request for After Sales services<span class="txt-red">*</span></label>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.selectedAfterSalesServiceRequest, new SelectList(Model.afterSalesServiceSelectedList, "Value", "Text"), "Select", new { @class = "custom-select", required = "required" })
                    @Html.ValidationMessageFor(m => m.afterSalesServiceSelectedList)

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label>Quantity<span class="txt-red">*</span></label>
                    <div class="form-group quantityTxtBox mb-0">
                        @Html.EditorFor(m => m.Quantity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Quantity)
                        @Html.ValidationMessage("ErrorInQuantity")
                        @Html.HiddenFor(x => x.TempQuantity_Min)
                        @Html.HiddenFor(x => x.TempQuantity_Max)
                        <!-- @Html.HiddenFor(x=>x.Quantity) -->
                        <span class="errorMsg" id="quantityMSG" style="color:red;"></span>
                    </div>
                    <div class="valueForLable txt-xs">
                        Min <span id="minQuantity"></span>- Max <span id="maxQuantity"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="form-group amountToPay">
                    <label>Amount to be Paid<span class="txt-red">*</span></label>
                    <div class="form-group">
                        @Html.EditorFor(m => m.Amount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Amount)
                        @Html.HiddenFor(x => x.TempAmount)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6" style="display:none;">
                <div class="form-group">
                    <label>@Html.Sitecore().Dictionary("/Accounts/Pay Online/Customer Email", "Customer Email")<span class="txt-red">*</span></label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @Value = "-" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>
            <div class="col-lg-6 col-md-6" style="display:none;">
                <div class="form-group">
                    <label>@Html.Sitecore().Dictionary("/Accounts/Pay Online/Customer Mobile", "Mobile Number")<span class="txt-red">*</span></label>
                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @Value = "-" })
                    @Html.ValidationMessageFor(x => x.Mobile)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Additional Comment<span class="txt-red">*</span></label>
                    @Html.TextAreaFor(m => m.Comment, new { @class = "w-100 p-2", placeholder = "Comment", @maxlength = "130" })
                    @Html.ValidationMessageFor(x => x.Comment)
                </div>
            </div>
            <div class="col-lg-12 payment-radio-grp" id="paymentmethod">
                <h6 class="mb-2">Select Payment method</h6>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.Paytm, new { required = "required", @checked = "checked" })
                        <img src="/-/media/Project/Electricity/Payment Gateway Image/paytm" class="pay_box">
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.BillDesk, new { required = "required" })
                        <img src="/-/media/Project/Electricity/Payment Gateway Image/billdesk" class="pay_box">
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.PayUMoney, new { required = "required" })
                        <img src="/-/media/Project/Electricity/Payment Gateway Image/payumoney" class="pay_box">
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentGateway, (int)EnumPayment.GatewayType.HDFC, new { required = "required" })
                        <img src="/-/media/Project/Electricity/Payment Gateway Image/HDFC" class="pay_box">
                    </label>
                </div>
            </div>
            <div class="col-lg-12 paymentTbl" id="paytmTable">
                <table id="paytmTableTG" class="table table-bordered bg-white">
                    <tbody>
                        <tr>
                            <td colspan="2">Net Banking</td>
                            <td>Nil</td>
                        </tr>
                        <tr>
                            <td>Credit Card/Debit Card</td>
                            <td>Visa/Master/Amex/Diners</td>
                            <td>Nil</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 paymentTbl" id="payUTable" style="display: none">
                <table id="payUTableTG" class="table table-bordered bg-white">
                    <tr>
                        <th class="tg-s6z2" colspan="2">Net banking</th>
                        <th class="tg-031e"><b>Nil</b></th>
                    </tr>
                    <tr>
                        <td class="tg-031e">Credit Card</td>
                        <td class="tg-yw4l">Visa/Master/Amex/Diners</td>
                        <td class="tg-031e"><b>Amount less than Rs.10,000 - Nil</b></td>
                    </tr>
                    <tr>
                        <td class="tg-031e">Credit Card</td>
                        <td class="tg-yw4l">Visa/Master</td>
                        <td class="tg-031e">Amount more than Rs.10,000 - 0.90% + ST</td>
                    </tr>
                    <tr>
                        <td class="tg-031e">Credit Card</td>
                        <td class="tg-yw4l">Amex/Diners</td>
                        <td class="tg-031e">Amount more than Rs.10,000 - 1 % or Rs. 10 whichever is higher + ST</td>
                    </tr>
                    <tr>
                        <td class="tg-baqh" colspan="2">Debit Card</td>
                        <td class="tg-yw4l"><b>Amount less than Rs.10,000 - Nil</b></td>
                    </tr>
                    <tr>
                        <td class="tg-baqh" colspan="2">Debit Card</td>
                        <td class="tg-yw4l">Amount more than Rs.10,000 - 1% + ST</td>
                    </tr>
                </table>
            </div>
            <div id="bdeskTable" class="paymentTbl col-lg-12" style="display: none">
                <table id="bdeskTableTG" class="table table-bordered bg-white">
                    <tr>
                        <th class="tg-yw4l" colspan="2">Net Banking</th>
                        <th class="tg-031e"><b>HDFC/ICICI Bank  Amount less than Rs.667 - Nil </b><br /> Amount more than Rs.667 - 1.50% + ST<br /> Other Banks - Nil</th>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Credit Card/Debit Card</td>
                        <td class="tg-yw4l">Visa/Master/ Amex/Diners</td>
                        <td class="tg-yw4l"><b>Amount less than Rs.10,000 - Nil</b></td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">Credit Card/Debit Card</td>
                        <td class="tg-yw4l">Visa/Master/ Amex/Diners</td>
                        <td class="tg-yw4l">Amount more than Rs.10,000 - 0.90% + ST</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12">
                <div class="btn-group" role="group" aria-label="Basic example">

                    <input type="submit" id="btnsubmit" name="Submit" class="btn btn-primary mr-2" value="@Html.Sitecore().Dictionary("/Accounts/afersalesservice", "Submit")" />
                    <input type="submit" name="Cancel" class="btn btn-secondary" value="@Html.Sitecore().Dictionary("/Accounts/afersalesservice", "Cancel")" />

                </div>
            </div>
        </div>
    }
</div>


<div class="modal video" id="AdaniGasaftersalesModal" style="padding-right: 17px; display:none">
    <div class="modal-dialog modal-dialog-centered modal-xs">
        <div class="modal-content modal-lg">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- Modal body -->
            <div class="modal-body bg-white c-tracking p-4">
                <h3 class="mb-3 txt-md">Payment Confirmation</h3>
                <div class="subscribe-form">
                    <div id="paymentdetails">
                        <span id="spnpaymentinfo">

                        </span>
                    </div>
                    <div class="form-group text-right">
                        <input type="button" value="Pay" id="btnpaymentclose" data-dismiss="modal" class="btn btn-gradient">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>