@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ChangePasswordAdaniGas



@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmChnagePassword" }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    <!-- Toggle button to show/hide side nav -->
    <div class="d-block d-md-none sideNavBtn">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>&nbsp;Menu</span>
        </button>
    </div>
    <!-- /Toggle button to show/hide side nav -->
    <div class="clearfix"></div>
    <!-- Update Profile Page Content-->
    <div class="panel">
        <h3 class="mb-3">@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password", "Change Password")</h3>
        <!--<p class="txt-xs">
            Passwords should have a capital letter, no spaces or special charaters and a numeric value.
        </p> <br/>-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row ml-0 mt-2">
                    <div class="col-lg-4 col-md-6 form-group">
                        <label><b>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password/Customer ID", "Customer ID"): </b></label>
                        <label class="txt-orange"><b>@Html.DisplayTextFor(x => x.CustomerID)</b></label>
                        @Html.HiddenFor(x => x.CustomerID)
                    </div>
                    <div class="col-lg-6">
                        <p class="txt-xs float-right">
                            <i>Passwords should have a capital letter, no spaces or special charaters and a numeric value.</i>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 @Html.ValidationErrorFor(x => x.OldPassword, "has-error")">
                    <div class="form-group">
                        <label>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password/OldPassword", "Old Password")<span class="txt-red">*</span></label>
                        @Html.PasswordFor(x => x.OldPassword, new
                   {
                       @class = "form-control reset-control",
                       id = "OldPassword",
                       @autocomplete = "off",
                       required = "required"
                   })
                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 @Html.ValidationErrorFor(x => x.Password, "has-error")">
                    <div class="form-group">
                        <label>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password/NewPassword", "New Password")<span class="txt-red">*</span></label>
                        @Html.PasswordFor(x => x.Password, new
                   {
                       @class = "form-control reset-control",
                       id = "NewPassword",
                       @autocomplete = "off",
                       required = "required"
                   })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password/Confirm Password", "Re-type Password")<span class="txt-red">*</span></label>
                        @Html.PasswordFor(x => x.ConfirmPassword, new
                   {
                       @class = "form-control reset-control",
                       id = "ConfirmPassword",
                       @autocomplete = "off",
                       required = "required"
                   })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="=" btn-group">
                        <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password/Button/Submit", "Submit")</button>
                        <button type="button" class="btn btn-secondary" id="btnReset" onclick="ResetElement('frmChnagePassword')">@Html.Sitecore().Dictionary("/Accounts/My Account/Profile/Change Password/Button/Cancel", "Cancel")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

