@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Accounts.Models.AdaniGasCNGRegistration.AdaniGasCNG_AdminDashboardModel
<div class="pageContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4 text-right d-none">
                <a class="btn btn-primary" href="/cng/admin-login/inquiry">New Inquiry</a>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <h3 class="mb-3">@Html.Sitecore().Dictionary("/Accounts/Inquiry Info/Details/Inquiry Information", "Inquiry Information")</h3>
                    @Html.Sitecore().Placeholder("admin-form")
                    @*<div class="table-responsive">
                            <table class="table table-striped border text-center bg-white">
                                <thead>
                                    <tr>
                                        <th>@Html.Sitecore().Dictionary("/Accounts/CNG/CustomerDetails/Sr. No", "Sr. No")</th>
                                        <th>@Html.Sitecore().Dictionary("/Accounts/CNG/CustomerDetails/CustomerRegNo", "Customer Reg. No.")</th>
                                        <th>@Html.Sitecore().Dictionary("/Accounts/CNG/CustomerDetails/CNG Kit No", "CNG Kit No")</th>
                                        <th>@Html.Sitecore().Dictionary("/Accounts/CNG/CustomerDetails/Current Status", "Current Status")</th>
                                        <th>@Html.Sitecore().Dictionary("/Accounts/CNG/CustomerDetails/Updated On", "Last updated on")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 1;
                                        foreach (var item in Model.RegisteredInquiryList.OrderByDescending(x => x.UpdatedOn))
                                        {
                                            DateTime billDate = DateTime.Parse(item.UpdatedOn.ToString());
                                            var billDate1 = billDate.ToString("dd.MM.yyyy");
                                            <tr>
                                                <td>@count</td>
                                                <td><a href="/cng/admin-login/inquiry?RID=@item.CustomerGUID"></a>@item.CustomerRegnNo</td>
                                                <td>@item.CNG_KitNumber</td>
                                                <td>@item.CurrentStatus</td>
                                                <td>@item.UpdatedOn</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

