
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.AdaniGasCNGRegistration.AdaniGasCNG_AdminFormModel
<section class="bg-gray py-5">
    <div class="container">
        <h3 class="mb-4"><b>Welcome to ATGL</b></h3>
        @if (Model != null)
        {
            <p class=""><b>@ViewBag.Message</b></p>
            <div class="vehicle_form">
                <h5 class="mb-3 border-bottom pb-3"><b>User datails</b></h5>
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerRegForm", name = "CNGDealerRegForm", @class = "", enctype = "multipart/form-data" }))
                {
                    @Html.AddUniqueFormId()
                    @Html.AntiForgeryToken()
                    @*@Html.HiddenFor(m => m.page, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                    @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })*@

                    <div class="row">
                        @if (!Model.IsValidRegistrationNo)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", id = "CNGCustRegNo" })
                                    @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6">
                                <div class="form-group">
                                    <button type="submit" value="CNGAdminSearchBtn" name="Submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-4  col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", @readonly = "readonly", id = "CNGCustRegNo" })
                                    @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                </div>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                        }
                    </div>
                    if (Model.IsValidRegistrationNo)
                    {
                        var custDetail = Model.RegisteredInquiryList.First();
                        <div class="owner-details user-data_dashboard">
                            <div class="row">
                                <div class="col-12">
                                    <fieldset>
                                        <legend>Customer Details</legend>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input class="form-control" disabled="disabled" type="text" value="@custDetail.FirstName @custDetail.LastName">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="VehicleType">Vehicle Type</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleType">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="VehicleComp">Vehicle Company</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleCompany">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="VehicleModel">Vehicle Model </label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleModel">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="VehicleYear">Year of Purchase</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.Year">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="VehicleYear"> Vehicle Registration No</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleNo">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="MobileNo"> Customer Mobile No</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.Mobile">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="MobileNo"> Customer's Current Address</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.CurrentAddressLine1 @custDetail.CurrentAddressLine2 @custDetail.CurrentArea @custDetail.CurrentCity @custDetail.CurrentState @custDetail.CurrentPincode">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="MobileNo"> Customer's Registered Address</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.RegisteredAddressLine1 @custDetail.RegisteredAddressLine2 @custDetail.RegisteredArea @custDetail.RegisteredCity @custDetail.RegisteredState @custDetail.RegisteredPincode">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="DealerId"> Dealer Id</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@Model.DealerId">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="DealerName"> Dealer Name</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@Model.DealerName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="DealerName"> Enquiry Created On</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@Model.CreatedOn">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="DealerName"> Current Status</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@Model.CurrentStatus">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="DealerName"> CNG Kit No</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@Model.CNG_KitNumber">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label for="VehicleInsureanceFileLink"> Vehicle Insureance</label>
                                        @if (!string.IsNullOrEmpty(Model.VehicleInsureanceFileLink))
                                        {
                                            if (!Model.IsValidVehicleInsureanceFile)
                                            {
                                                <a href="#" data-src="@Model.VehicleInsureanceFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.VehicleInsureanceFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data - src="@Model.VehicleInsureanceFileLink" class="PreviewCustFile">View/Download<span class=" fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="RC_BookFileLink"> RC Book</label>
                                        @if (!string.IsNullOrEmpty(Model.RC_BookFileLink))
                                        {
                                            if (!Model.IsValidRC_BookFile)
                                            {
                                                <a href="#" data-src="@Model.RC_BookFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.RC_BookFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.RC_BookFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="AadharCardFileLink"> Customer Aadhar card</label>
                                        @if (!string.IsNullOrEmpty(Model.AadharCardFileLink))
                                        {
                                            if (!Model.IsValidAadharCardFile)
                                            {
                                                <a href="#" data-src="@Model.AadharCardFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.AadharCardFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.AadharCardFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="PAN_CardFileLink"> Customer PAN card</label>
                                        @if (!string.IsNullOrEmpty(Model.PAN_CardFileLink))
                                        {
                                            if (!Model.IsValidPAN_CardFile)
                                            {
                                                <a href="#" data-src="@Model.PAN_CardFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.PAN_CardFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.PAN_CardFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="InvoiceFileLink"> Invoice</label>
                                        @if (!string.IsNullOrEmpty(Model.InvoiceFileLink))
                                        {
                                            if (!Model.IsValidInvoiceFile)
                                            {
                                                <a href="#" data-src="@Model.InvoiceFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.InvoiceFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.InvoiceFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="RTO_App_ReceiptFileLink"> RTO Application Receipt Copy</label>
                                        @if (!string.IsNullOrEmpty(Model.RTO_App_ReceiptFileLink))
                                        {
                                            if (!Model.IsValidRTO_App_ReceiptFile)
                                            {
                                                <a href="#" data-src="@Model.RTO_App_ReceiptFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.RTO_App_ReceiptFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.RTO_App_ReceiptFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="RTO_CertiFileLink"> RTO Certificate file</label>
                                        @if (!string.IsNullOrEmpty(Model.RTO_CertiFileLink))
                                        {
                                            if (!Model.IsValidRTO_CertiFile)
                                            {
                                                <a href="#" data-src="@Model.RTO_CertiFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.RTO_CertiFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.RTO_CertiFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="CNG_CylinderCertiFileLink"> Cylinder Certificate File</label>
                                        @if (!string.IsNullOrEmpty(Model.CNG_CylinderCertiFileLink))
                                        {
                                            if (!Model.IsValidCNG_CylinderCertiFile)
                                            {
                                                <a href="#" data-src="@Model.CNG_CylinderCertiFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.CNG_CylinderCertiFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.CNG_CylinderCertiFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="SignedSchemeDocFileLink"> Scheme Document Signed by Customer</label>
                                        @if (!string.IsNullOrEmpty(Model.SignedSchemeDocFileLink))
                                        {
                                            if (!Model.IsValidSignedSchemeDocFile)
                                            {
                                                <a href="#" data-src="@Model.SignedSchemeDocFileLink" class="PreviewCustFile">View/Download<span class="d-none fa fa-check ml-2 text-check-green"></span></a>
                                                <button class="float-right Validate" for-data="@Model.SignedSchemeDocFileLink" type="button">Validate</button>
                                            }
                                            else
                                            {
                                                <a href="#" data-src="@Model.SignedSchemeDocFileLink" class="PreviewCustFile">View/Download<span class="fa fa-check ml-2 text-check-green"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" data-src="" class="">File not found</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label>&nbsp;</label>
                                    <div class="form-group form-check mb-3">
                                        @Html.CheckBoxFor(model => model.IsVerifiedByDealer, new { @class = "form-check-input saveOnly", disabled = "disabled" })
                                        @Html.LabelFor(model => model.IsVerifiedByDealer, "Is all documents verified by Dealer", new { @class = "form-check-label" })
                                        @Html.ValidationMessageFor(model => model.IsVerifiedByDealer, "", new { @class = "help-block required" }, "p")
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        @Html.LabelFor(model => model.CurrentStatus, "Current Status", new { @class = "" })
                                        @Html.TextBoxFor(model => model.CurrentStatus, new { @class = "form-control", @disabled = "disabled", required = "required" })
                                        @Html.ValidationMessageFor(model => model.CurrentStatus, "", new { @class = "help-block required" }, "p")
                                    </div>
                                </div>
                                @if (Model.CurrentStatus.ToLower() != "approved")
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-3">
                                            @Html.LabelFor(model => model.UpdatedStatus, "Status")<span class="required">*</span>
                                            @Html.DropDownListFor(x => x.UpdatedStatus, new SelectList(Model.StatusList, "Value", "Text"), "Select Status", htmlAttributes: new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(x => x.UpdatedStatus, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                }
                                @if (Model.CurrentStatus.ToLower() != "approved")
                                {
                                    <div class="col-12 text-left mt-4 mr-4">
                                        <button type="submit" value="CNGAdminSaveBtn" id="CNGAdminSaveBtn" name="Submit" class="btn btn-secondary">Save</button>
                                        <button type="submit" value="CNGAdminSubmitBtn" id="CNGAdminSubmitBtn" name="Submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</section>
