@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.AdaniGasCNGRegistration.AdaniGasCNG_DealerDetails
<section class="bg-gray py-5">
    <div class="container">
        @*<h3 class="mb-4"><b>Welcome to ATGL</b></h3>
        <p></p>*@

        <div class="vehicle_form">
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerDetForm", name = "CNGDealerDetForm", @class = "", enctype = "multipart/form-data" }))
            {
                @Html.AddUniqueFormId()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })

                <div class="owner-details">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group mb-3">

                                @Html.LabelFor(model => model.VendorNumber, "Vendor Number", new { @class = "" })<span class="required">*</span>
                                @Html.TextBoxFor(model => model.VendorNumber, new { @class = "form-control", required = "required", id = "CNGCustVendorNumber" })
                                @Html.ValidationMessageFor(model => model.VendorNumber, "", new { @class = "help-block required" }, "p")
                                <div class="input-group-append">
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-primary mb-2 mb-md-0" name="VendorDetails" id="GetUserDetails" value="Check Vendor Details" />

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerDetForms", name = "CNGDealerDetForms", @class = "", enctype = "multipart/form-data" }))
            {
                @Html.AddUniqueFormId()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })
                if (Model.IsVendorNumberValid == true)
                {
                    <div class="owner-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group mb-3">

                                    @Html.LabelFor(model => model.Name, "Name", new { @class = "" })<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.Name, @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "help-block required" }, "p")


                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group mb-3">

                                    @Html.LabelFor(model => model.MobileNumber, "Mobile Number", new { @class = "" })<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.MobileNumber, @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "help-block required" }, "p")


                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group mb-3">

                                    @Html.LabelFor(model => model.Email, "Email", new { @class = "" })<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.Email, @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "help-block required" }, "p")


                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleType, "VehicleType", new { @class = "" })<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.VehicleType, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.VehicleType, @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.VehicleType, "", new { @class = "help-block required" }, "p")


                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleModel, "VehicleModel", new { @class = "" })<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.VehicleModel, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.VehicleModel, @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "help-block required" }, "p")


                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleCompany, "VehicleCompany", new { @class = "" })<span class="required">*</span>
                                    @Html.TextBoxFor(model => model.VehicleCompany, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.VehicleCompany, @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.VehicleCompany, "", new { @class = "help-block required" }, "p")


                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VehicleNumber, "VehicleNumber", new { @class = "" })<span class="required">*</span>
                                        @Html.TextBoxFor(model => model.VehicleNumber, new { @class = "form-control CNGCustReg", required = "required", @Value = Model.VehicleNumber, @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.VehicleNumber, "", new { @class = "help-block required" }, "p")


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group ml-4">
                        <p class="txt-orange" id="docErrorMessage">@ViewBag.Message</p>
                    </div>
                }

            }

        </div>
        @if (Model.IsVendorNumberValid == true)
        {
        <div class="owner-details">

            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "cng_upload", name = "cng_upload", @class = "cng_upload", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })
                @Html.HiddenFor(m => m.UploadVehicleInsuranceLink, new { @Value = HttpContext.Current.Request.Url.PathAndQuery })
                @Html.HiddenFor(m => m.UploadRCBookLink, new { @Value = HttpContext.Current.Request.Url.PathAndQuery })
                @Html.HiddenFor(m => m.UploadAadharCardLink, new { @Value = HttpContext.Current.Request.Url.PathAndQuery })
                @Html.HiddenFor(m => m.UploadPanCardLink, new { @Value = HttpContext.Current.Request.Url.PathAndQuery })
                @Html.HiddenFor(m => m.VendorNumber, new { @Value = Model.VendorNumber })
                @Html.HiddenFor(m => m.Name, new { @Value = Model.Name })
                @Html.HiddenFor(m => m.MobileNumber, new { @Value = Model.MobileNumber })
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CNGKitNumber, "CNGKitNumber", new { @class = "" })<span class="required">*</span>
                            @Html.TextBoxFor(model => model.CNGKitNumber, new { @class = "form-control CNGCustReg", required = "required" })
                            @Html.ValidationMessageFor(model => model.CNGKitNumber, "", new { @class = "help-block required" }, "p")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Upload Vechicle Insurance<span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.UploadVehicleInsurance, new
                       {
                           type = "file",
                           id = "Resume_upload",
                           @class = "form-control-file",
                           accept = "application/pdf,.doc,.docx",
                           required = "required"
                       })
                            @Html.ValidationMessageFor(model => model.UploadVehicleInsurance, "", new { @class = "required help-block" }, "p")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Upload RC Book<span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.UploadRCBook, new
                       {
                           type = "file",
                           id = "Resume_upload",
                           @class = "form-control-file",
                           accept = "application/pdf,.doc,.docx",
                           required = "required"
                       })
                            @Html.ValidationMessageFor(model => model.UploadRCBook, "", new { @class = "required help-block" }, "p")
                        </div>
                    </div>
                </div>
                <div class="row">




                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Upload Aadhar Card<span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.UploadAadharCard, new
                       {
                           type = "file",
                           id = "Resume_upload",
                           @class = "form-control-file",
                           accept = "application/pdf,.doc,.docx",
                           required = "required"
                       })
                            @Html.ValidationMessageFor(model => model.UploadAadharCard, "", new { @class = "required help-block" }, "p")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Upload Pan Card<span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.UploadPanCard, new
                       {
                           type = "file",
                           id = "Resume_upload",
                           @class = "form-control-file",
                           accept = "application/pdf,.doc,.docx",
                           required = "required"
                       })
                            @Html.ValidationMessageFor(model => model.UploadPanCard, "", new { @class = "required help-block" }, "p")
                        </div>
                    </div>
                </div>

                <div class="form-group ml-4">
                    <p class="required txt-orange" id="docErrorMessage">@ViewBag.Message</p>
                </div>
                <div class="col-lg-12 text-right">
                    <button type="submit" id="" name="SubmitApplication" value="submit" class="btn btn-info">Submit</button>

                </div>


            }
        </div>
        }
    </div>


</section>
