@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts
@model Sitecore.Feature.Accounts.Models.DodoCNG
@{

}

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmCNGDodo", enctype = "multipart/form-data" }))
{
    @Html.AddUniqueFormId()
    <div class="pageContent">
        <div class="container">
            <div class="panel dodoForm">
                <div class="text-sm-center mb-3">
                    <label for="" class="d-inline-block valignTop">
                        @Html.Sitecore().Dictionary("/Accounts/Mobile number", "Mobile Number")
                        <span class="required">*</span>
                    </label>
                    <div class="d-inline-block pl-sm-3 valignTop text-left">
                        @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control reset-control", required = "required" })
                    </div>
                    <div class="d-inline-block pl-md-3 pt-2 pt-sm-0 valignTop"><button id="btnSubmit" type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Submit Button", "Submit")</button></div>

                </div>
                <div class="row">
                    <div class="col-md-12 dodoImg">
                        @if (Model.IsDownloadable)
                        {
                            <img src="/images/adanigas/DODO/Mailer.jpg" class="img-fluid" />
                            <div class="btnPanelBox">
                                <a href="@Model.DownloadLink" class="btn btn-primary" target="_blank">Download Application Form</a>
                                <a href="/DodoFormDownload/Forms/User Guide CNG DODO Form.pdf" class="btn btn-primary" target="_blank">Download User Guide</a>
                            </div>

                        }
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-3 col-md-3 col-form-label"></div>-->
                    <div class="col-sm-12 col-md-12 text-center">
                        @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "help-block" }, "p")
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="">

                    </div>
                </div>-->
            </div>
        </div>
    </div>
}

