
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.AdaniGasCNGRegistration.AdaniGasCNG_DealerRegisterModel
<section class="bg-gray py-5">
    <div class="container">
        <h3 class="mb-4"><b>Welcome to ATGL</b></h3>
        @if (Model != null)
        {
            if (Model.CurrentStatus != null)
            {
                if (Model.CurrentStatus.ToLower() == "approved" || Model.CurrentStatus.ToLower() == "rejected")
                {
                    <div class="vehicle_form">
                        <h5 class="mb-3 border-bottom pb-3"><b>Dealer Registration</b></h5>
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerRegForm", name = "CNGDealerRegForm", @class = "", enctype = "multipart/form-data" }))
                        {
                            @Html.AddUniqueFormId()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.CustomerGUID)
                            @*@Html.HiddenFor(m => m.page, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                            @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })*@

                            <div class="row">
                                @if (!Model.IsValidRegistrationNo)
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", id = "CNGCustRegNo", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6">
                                        <div class="form-group  mb-0 pt-4 mt-1">
                                            <button type="submit" value="CNGDealerSearchBtn" name="Submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-4  col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", @disabled = "disabled", @readonly = "readonly", id = "CNGCustRegNo" })
                                            @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                }
                            </div>
                            if (Model.IsValidRegistrationNo)
                            {
                                var custDetail = Model.RegisteredInquiryList.First();
                                <div class="owner-details">
                                    <div class="row">
                                        <div class="col-12">
                                            <fieldset>
                                                <legend>Customer Details</legend>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <label for="Name">Name</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleType">Vehicle Type</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleType">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleComp">Vehicle Company</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleCompany">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleModel">Vehicle Model </label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.vehicleModel">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleYear">Year of Purchase</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.YearOfPurchase">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleYear"> Vehicle Registration No</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleNo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="Mobile"> Customer Mobile No</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.MobileNo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CNG_KitNumber, "CNG Kit No")<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.CNG_KitNumber, new { @class = "form-control saveOnly d-block", required = "required", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.CNG_KitNumber, "", new { @class = "help-block required" }, "p")
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-3">
                                                @Html.LabelFor(model => model.VehicleInsuranceFile, "Vehicle Insurance Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-3">
                                                @Html.LabelFor(model => model.RC_BookFile, "Vehicle RC Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.AadharCardFile, "Aadhar Card Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.PAN_CardFile, "PAN card Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.InvoiceFileFile, "Invoice Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.CNG_CylinderCertiFile, "Cylinder Certificate Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.RTO_App_ReceiptFile, "RTP Application Receipt Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.RTO_CertiFile, "RTO Certificate Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.SignedSchemeDocFile, "Customer Signed Document Copy", new { @class = "" })
                                                <a href="javascript:void(0)" data-src="" class="">File is verfied/No preview available</a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.CurrentStatus, "Current Status", new { @class = "" })
                                                @Html.TextBoxFor(model => model.CurrentStatus, new { @class = "form-control", @disabled = "disabled", required = "required" })
                                                @Html.ValidationMessageFor(model => model.CurrentStatus, "", new { @class = "help-block required" }, "p")
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3 pl-4">
                                                @Html.CheckBoxFor(model => model.IsVerifiedByDealer, new { @class = "form-check-input", required = "required", @disabled = "disabled" })
                                                @Html.LabelFor(model => model.IsVerifiedByDealer, "Is all documents verified by Dealer", new { @class = "form-check-label" })<span class="required">*</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="vehicle_form">
                        <h5 class="mb-3 border-bottom pb-3"><b>Dealer Registration</b></h5>
                        @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerRegForm", name = "CNGDealerRegForm", @class = "", enctype = "multipart/form-data" }))
                        {
                            @Html.AddUniqueFormId()
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.CustomerGUID)
                            @*@Html.HiddenFor(m => m.page, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                            @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })*@

                            <div class="row">
                                @if (!Model.IsValidRegistrationNo)
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", id = "CNGCustRegNo" })
                                            @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6">
                                        <div class="form-group  mb-0 pt-4 mt-1">
                                            <button type="submit" value="CNGDealerSearchBtn" name="Submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-4  col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", @readonly = "readonly", id = "CNGCustRegNo" })
                                            @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                }
                            </div>
                            if (Model.IsValidRegistrationNo)
                            {
                                var custDetail = Model.RegisteredInquiryList.First();
                                <div class="owner-details">
                                    <div class="row">
                                        <div class="col-12">
                                            <fieldset>
                                                <legend>Customer Details</legend>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <label for="Name">Name</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleType">Vehicle Type</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleType">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleComp">Vehicle Company</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleCompany">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleModel">Vehicle Model </label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.vehicleModel">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleYear">Year of Purchase</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.YearOfPurchase">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="VehicleYear"> Vehicle Registration No</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleNo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label for="Mobile"> Customer Mobile No</label>
                                                                <input class="form-control" disabled="disabled" type="text" value="@custDetail.MobileNo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CNG_KitNumber, "CNG Kit No")<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.CNG_KitNumber, new { @class = "form-control saveOnly d-block", required = "required" })
                                                @Html.ValidationMessageFor(model => model.CNG_KitNumber, "", new { @class = "help-block required" }, "p")
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-3">
                                                @Html.LabelFor(model => model.VehicleInsuranceFile, "Vehicle Insurance Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.VehicleInsuranceFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.VehicleInsuranceFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.VehicleInsureanceFileLink))
                                                {
                                                    <a href="" data-src="@Model.VehicleInsureanceFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-3">
                                                @Html.LabelFor(model => model.RC_BookFile, "Vehicle RC Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.RC_BookFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.RC_BookFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.RC_BookFileLink))
                                                {
                                                    <a href="" data-src="@Model.RC_BookFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.AadharCardFile, "Aadhar Card Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.AadharCardFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.AadharCardFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.AadharCardFileLink))
                                                {
                                                    <a href="" data-src="@Model.AadharCardFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.PAN_CardFile, "PAN card Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.PAN_CardFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.PAN_CardFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.PAN_CardFileLink))
                                                {
                                                    <a href="" data-src="@Model.PAN_CardFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.InvoiceFileFile, "Invoice Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.InvoiceFileFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.InvoiceFileFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.InvoiceFileLink))
                                                {
                                                    <a href="" data-src="@Model.InvoiceFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.CNG_CylinderCertiFile, "Cylinder Certificate Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.CNG_CylinderCertiFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.CNG_CylinderCertiFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.CNG_CylinderCertiFileLink))
                                                {
                                                    <a href="" data-src="@Model.CNG_CylinderCertiFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.RTO_App_ReceiptFile, "RTP Application Receipt Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.RTO_App_ReceiptFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.RTO_App_ReceiptFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.RTO_App_ReceiptFileLink))
                                                {
                                                    <a href="" data-src="@Model.RTO_App_ReceiptFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.RTO_CertiFile, "RTO Certificate Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.RTO_CertiFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.RTO_CertiFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.RTO_CertiFileLink))
                                                {
                                                    <a href="" data-src="@Model.RTO_CertiFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.SignedSchemeDocFile, "Customer Signed Document Copy", new { @class = "" })<span class="required">*</span>
                                                @Html.TextBoxFor(model => model.SignedSchemeDocFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                                @Html.ValidationMessageFor(model => model.SignedSchemeDocFile, "", new { @class = "help-block required" }, "p")
                                                @if (!string.IsNullOrEmpty(Model.SignedSchemeDocFileLink))
                                                {
                                                    <a href="" data-src="@Model.SignedSchemeDocFileLink" class="PreviewCustFile">Preview</a>
                                                }
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6">
                                            <div class="form-group mb-4">
                                                @Html.LabelFor(model => model.CurrentStatus, "Current Status", new { @class = "" })
                                                @Html.TextBoxFor(model => model.CurrentStatus, new { @class = "form-control", @disabled = "disabled", required = "required" })
                                                @Html.ValidationMessageFor(model => model.CurrentStatus, "", new { @class = "help-block required" }, "p")
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3 pl-4">
                                                @Html.CheckBoxFor(model => model.IsVerifiedByDealer, new { @class = "form-check-input saveOnly", required = "required" })
                                                @Html.LabelFor(model => model.IsVerifiedByDealer, "Is all documents verified by Dealer", new { @class = "form-check-label" })<span class="required">*</span>
                                                @Html.ValidationMessageFor(model => model.IsVerifiedByDealer, "", new { @class = "help-block required" }, "p")
                                            </div>
                                        </div>
                                        <div class="col-12 text-left mt-4">
                                            <button type="submit" value="CNGDealerSaveBtn" id="CNGDealerSaveBtn" name="Submit" class="btn btn-secondary">Save</button>
                                            <button type="submit" value="CNGDealerSubmitBtn" id="CNGDealerSubmitBtn" name="Submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
            else
            {
                <div class="vehicle_form">
                    <h5 class="mb-3 border-bottom pb-3"><b>Dealer Registration</b></h5>
                    @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerRegForm", name = "CNGDealerRegForm", @class = "", enctype = "multipart/form-data" }))
                    {
                        @Html.AddUniqueFormId()
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CustomerGUID)
                        @*@Html.HiddenFor(m => m.page, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                        @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })*@

                        <div class="row">
                            @if (!Model.IsValidRegistrationNo)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                        @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", id = "CNGCustRegNo" })
                                        @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                    </div>
                                </div>
                                <div class="col-lg-4  col-md-6">
                                    <div class="form-group  mb-0 pt-4 mt-1">
                                        <button type="submit" value="CNGDealerSearchBtn" name="Submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-4  col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomerRegistrationNo, "Customer Registration No")<span class="required">*</span>
                                        @Html.TextBoxFor(model => model.CustomerRegistrationNo, new { @class = "form-control", required = "required", @readonly = "readonly", id = "CNGCustRegNo" })
                                        @Html.ValidationMessageFor(x => x.CustomerRegistrationNo, "", new { @class = "help-block required" }, "p")
                                    </div>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                            }
                        </div>
                        if (Model.IsValidRegistrationNo)
                        {
                            var custDetail = Model.RegisteredInquiryList.First();
                            <div class="owner-details">
                                <div class="row">
                                    <div class="col-12">
                                        <fieldset>
                                            <legend>Customer Details</legend>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <label for="Name">Name</label>
                                                        <input class="form-control" disabled="disabled" type="text" value="@custDetail.Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="VehicleType">Vehicle Type</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleType">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="VehicleComp">Vehicle Company</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleCompany">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="VehicleModel">Vehicle Model </label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.vehicleModel">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="VehicleYear">Year of Purchase</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.YearOfPurchase">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="VehicleYear"> Vehicle Registration No</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.VehicleNo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="Mobile"> Customer Mobile No</label>
                                                            <input class="form-control" disabled="disabled" type="text" value="@custDetail.MobileNo">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CNG_KitNumber, "CNG Kit No")<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.CNG_KitNumber, new { @class = "form-control saveOnly d-block", required = "required" })
                                            @Html.ValidationMessageFor(model => model.CNG_KitNumber, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-3">
                                            @Html.LabelFor(model => model.VehicleInsuranceFile, "Vehicle Insurance Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.VehicleInsuranceFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.VehicleInsuranceFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.VehicleInsureanceFileLink))
                                            {
                                                <a href="" data-src="@Model.VehicleInsureanceFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-3">
                                            @Html.LabelFor(model => model.RC_BookFile, "Vehicle RC Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.RC_BookFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.RC_BookFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.RC_BookFileLink))
                                            {
                                                <a href="" data-src="@Model.RC_BookFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.AadharCardFile, "Aadhar Card Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.AadharCardFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.AadharCardFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.AadharCardFileLink))
                                            {
                                                <a href="" data-src="@Model.AadharCardFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.PAN_CardFile, "PAN card Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.PAN_CardFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.PAN_CardFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.PAN_CardFileLink))
                                            {
                                                <a href="" data-src="@Model.PAN_CardFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.InvoiceFileFile, "Invoice Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.InvoiceFileFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.InvoiceFileFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.InvoiceFileLink))
                                            {
                                                <a href="" data-src="@Model.InvoiceFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.CNG_CylinderCertiFile, "Cylinder Certificate Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.CNG_CylinderCertiFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.CNG_CylinderCertiFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.CNG_CylinderCertiFileLink))
                                            {
                                                <a href="" data-src="@Model.CNG_CylinderCertiFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.RTO_App_ReceiptFile, "RTP Application Receipt Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.RTO_App_ReceiptFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.RTO_App_ReceiptFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.RTO_App_ReceiptFileLink))
                                            {
                                                <a href="" data-src="@Model.RTO_App_ReceiptFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.RTO_CertiFile, "RTO Certificate Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.RTO_CertiFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.RTO_CertiFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.RTO_CertiFileLink))
                                            {
                                                <a href="" data-src="@Model.RTO_CertiFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.SignedSchemeDocFile, "Customer Signed Document Copy", new { @class = "" })<span class="required">*</span>
                                            @Html.TextBoxFor(model => model.SignedSchemeDocFile, new { @class = "saveOnly d-block", type = "file", required = "required" })
                                            @Html.ValidationMessageFor(model => model.SignedSchemeDocFile, "", new { @class = "help-block required" }, "p")
                                            @if (!string.IsNullOrEmpty(Model.SignedSchemeDocFileLink))
                                            {
                                                <a href="" data-src="@Model.SignedSchemeDocFileLink" class="PreviewCustFile">Preview</a>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group mb-4">
                                            @Html.LabelFor(model => model.CurrentStatus, "Current Status", new { @class = "" })
                                            @Html.TextBoxFor(model => model.CurrentStatus, new { @class = "form-control", @disabled = "disabled", required = "required" })
                                            @Html.ValidationMessageFor(model => model.CurrentStatus, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-3 pl-4">
                                            @Html.CheckBoxFor(model => model.IsVerifiedByDealer, new { @class = "form-check-input saveOnly", required = "required" })
                                            @Html.LabelFor(model => model.IsVerifiedByDealer, "Is all documents verified by Dealer", new { @class = "form-check-label" })<span class="required">*</span>
                                            @Html.ValidationMessageFor(model => model.IsVerifiedByDealer, "", new { @class = "help-block required" }, "p")
                                        </div>
                                    </div>
                                    <div class="col-12 text-left mt-4">
                                        <button type="submit" value="CNGDealerSaveBtn" id="CNGDealerSaveBtn" name="Submit" class="btn btn-secondary">Save</button>
                                        <button type="submit" value="CNGDealerSubmitBtn" id="CNGDealerSubmitBtn" name="Submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</section>
