@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Feature.Accounts.Models.AdaniGasCNGRegistration.AdaniGasCNG_DealerRegistration
<section class="bg-gray py-5">
    <div class="container">
        @*<h3 class="mb-4"><b>Welcome to ATGL</b></h3>
            <p></p>*@
        @if (Model != null)
        {
            <div class="vehicle_form">
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "CNGDealerRegForm", name = "CNGGDealerRegForm", @class = "", enctype = "multipart/form-data" }))
                {
                    @Html.AddUniqueFormId()
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                    @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath })

                    <div class="owner-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group mb-3">
                                    @if (Model.IsOTPValid)
                                    {
                                        @Html.LabelFor(model => model.Mobile, "Mobile Number", new { @class = "" })<span class="required"></span><i class="fas fa-check-circle"></i>
                                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control CNGCustReg", type = "number", maxlength = "10", @readonly = "readonly", required = "required", id = "CNGCustRegMobile" })

                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "help-block required" }, "p")
                                        @Html.HiddenFor(m => m.IsOTPValid)
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.Mobile, "Mobile Number", new { @class = "" })<span class="required">*</span>
                                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control CNGCustReg", type = "number", maxlength = "10", required = "required", id = "CNGCustRegMobile" })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "help-block required" }, "p")
                                        <div class="input-group-append">
                                            <div class="input-group-append">
                                                <button type="button" value="sendOTP" id="DealersendOTP">Send OTP</button>
                                            </div>
                                        </div>
                                    }

                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group mb-3">
                                    @if (Model.IsOTPValid)
                                    {
                                        @Html.LabelFor(model => model.VendorCode, "Vendor Code", new { @class = "" })<span class="required"></span><i class="fas fa-check-circle"></i>
                                        @Html.TextBoxFor(model => model.VendorCode, new { @class = "form-control CNGCustReg", @readonly = "readonly", required = "required", id = "VendorCode" })

                                        @Html.ValidationMessageFor(model => model.VendorCode, "", new { @class = "help-block required" }, "p")
                                        
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.VendorCode, "VendorCode", new { @class = "" })<span class="required">*</span>
                                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control CNGCustReg", required = "required", id = "VendorCode" })
                                        @Html.ValidationMessageFor(model => model.VendorCode, "", new { @class = "help-block required" }, "p")
                                       
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="owner-details">
                        <div class="row">
                            <div class="col-lg-2 col-md-6">
                                <div class="form-group">
                                    @if (Model.IsOTPValid)
                                    {
                                        @Html.LabelFor(model => model.OTP, "Enter OTP", new { @class = "d-none" })
                                        @Html.TextBoxFor(model => model.OTP, new { @class = "form-control d-none", @readonly = "readonly", required = "required" })
                                        @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "help-block required" }, "p")
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.OTP, "Enter OTP")<span class="required">*</span>
                                        @Html.TextBoxFor(model => model.OTP, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "help-block required" }, "p")
                                        <div class="input-group-append">
                                            <div class="input-group-append">
                                                <button type="submit" name="ValidateOTP" value="validateOTP">Validate</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    if (Model.IsOTPValid)
                    {

                        <div class="col-12 text-left mt-4">
                            <button type="submit" value="CNGRegSubmitBtn" name="SubmitBtn" class="btn btn-primary">Submit</button>
                        </div>

                    }


                }
            </div>

        }
    </div>
</section>
