@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Models
@model Sitecore.Feature.Accounts.Models.GasPrice

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmCNGGasPrice" }))
{
    <section class="bg-gray section py-lg-5" id="checkgaspricediv">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tileBox cngPriceTile">
                        <h4>@Html.Sitecore().Dictionary("/CNG/Gas Prices", "CNG Gas Prices")</h4>
                        <div class="row pt-1 align-items-top">
                            <div class="col-lg-6">
                                <div class="selectBox mt-lg-3 pt-lg-1">
                                    @Html.DropDownListFor(x => Model.SelectedCity, new SelectList(Model.CityList, "Value", "Value"), "Select", htmlAttributes: new { @class = "customSelect", id = "CngCity" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                @foreach (var city in Model.CityWisePrice)
                                {
                                    <div class="detail @city.City.ToLower()" style="display:none;">
                                       
                                        <div class="priceDetails">
                                            <div><span class="priceTxt">@Html.Sitecore().Dictionary("/CNG/Rs", "Rs.") @city.CNGCityWisePrice.Price_1</span><br>@Html.Sitecore().Dictionary("/CNG/Unit", "per kg")</div>
                                            <div>@Html.Sitecore().Dictionary("/CNG/Taxs", "Exclusive of all Taxes")</div>
                                        </div>
                                        <div>@Html.Sitecore().Dictionary("/CNG/EffectiveFrom", "w.e.f") @city.CNGCityWisePrice.Effectice_Date_1</div>
                                        
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tileBox cngStationTile">
                        <h4>@Html.Sitecore().Dictionary("/CNG/Locate CNG Station", "Locate CNG Station")</h4>
                        <div class="row py-lg-3 mt-2 align-items-center">
                            <div class="col-md-6">
                                <div class="selectBox">
                                    @Html.DropDownListFor(x => Model.LocateCNGCity, new SelectList(Model.LocateCNGCityList, "Value", "Value"), "Select", htmlAttributes: new { @class = "customSelect", id = "LocateCng" })
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 ml-auto">
                                <a id="a_redirectToCngStation" href="@Html.Sitecore().Dictionary("/CNG/collection-center","/cng/cng-locate")" class="txt-white">@Html.Sitecore().Dictionary("/CNG/Click here", "Click here >")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}











