@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Feature.Accounts.Models.ContactUsOffice

<section class="section pt-5 pb-0">
    <div class="container">
<div class="bg-white p-4">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="">
                    <form>
                        <div class="form-group">
                            <label class="form-label mb-1">State</label>
                            @*<select class="form-control" id="contactusState" name="contactusState" onchange=""></select>*@
                            @Html.DropDownListFor(x => Model.selectedState, new SelectList(Model.StateList, "Value", "Text"), "Select State", htmlAttributes: new { @class = "form-control", id = "contactusState" })
                        </div>
                        <div class="form-group">
                            <label class="form-label mb-1">City</label>
                            @*<select class="form-control" id="contactusCity" name="contactusCity" onchange=""></select>*@
                            @Html.DropDownListFor(x => Model.selectedCity, new SelectList(Model.CityList, "Value", "Text"), "Select City", htmlAttributes: new { @class = "form-control", id = "contactusCity" })
                        </div>
                    </form>
					<div> 
					1. Customer Care: <a class="pl-3" href="mailto:customercare.gas@adani.com">customercare.gas@adani.com</a><br>
					2. Nodal Officer: <a class="pl-3" href="mailto:nodalofficer.gas@adani.com">nodalofficer.gas@adani.com</a>
					</div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 p-4 bg-white" id="divcomapnydetails">
                @foreach (var item in Model.companylist)
                {
                    <div class="main-add companyinfo-data" data-state="@item.state" data-city="@item.city" style="display:none;">
                        <div id="mainAddress" class="Hazira d-block">
                            <h4>@item.Name</h4>
                            <p class="mb-2">@item.Address</p>
                        </div>
                    </div>
                }

           
            </div>
        </div>
</div>
    </div>
</section>