@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.CustomerFeedbackMainAdaniGasModel

@if (Model.CustomerID != null)
{
    <div class="container pt-5">
        <h4>Your valuable feedback will help us to improve our Business Performance.</h4>
    </div>
    using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmCustomerFeedback", @class = "form-signin" }))
    {
        @Html.AddUniqueFormId()
        @Html.AntiForgeryToken()
        <div class="pageContent">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        @{
                            var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
                            if (info != null)
                            {
                                Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
                            }
                        }
                    </div>
                </div>
                <div class="panel">
                    @if (!string.IsNullOrEmpty(Model.ReturnViewMessage))
                    {
                        <p class="col-md-7">
                            @Model.ReturnViewMessage
                        </p>
                    }
                    @*<p class="pb-md-3 float-sm-right">fields marked <span class="required">*</span> are mandatory</p>*@
                    <div class="clearfix"></div>

                    <div id="dvNewInformations">
                        @Html.HiddenFor(m=>m.CustomerID)
                        @Html.HiddenFor(m=>m.ComplaintNumber)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row pt-md-2">
                                    <label for="" class="col-sm-5 col-md-5 col-form-label">
                                        @Html.Sitecore().Dictionary("/Accounts/Register/CustomerID", "Customer ID")
                                    </label>
                                    <div class="col-sm-7 col-md-7">
                                        @Html.DisplayFor(x => x.CustomerID, new { @class = "form-control reset-control", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row pt-md-2">
                                    <label for="" class="col-sm-5 col-md-5 col-form-label">
                                        @Html.Sitecore().Dictionary("/Accounts/Register/ComplaintNumber", "ComplaintNumber")
                                    </label>
                                    <div class="col-sm-7 col-md-7">
                                        @Html.DisplayFor(x => x.ComplaintNumber, new { @class = "form-control reset-control", id = "Comp[laintNumber", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h3 class="mb-3">Customer Satisfaction Parameters</h3>
                        <table class="table table-striped border text-center bg-white">
                            <thead>
                                <tr>
                                    <th>Parameters</th>
                                    <th>Can be improved</th>
                                    <th>Average</th>
                                    <th>Good</th>
                                    <th>Very Good</th>
                                    <th>Excellent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Response to enquiry</td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <td>@Html.RadioButtonFor(m => m.Response_CQR, i)</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Representative performance</td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <td>@Html.RadioButtonFor(m => m.Rep_Performance, i)</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Delivery performance</td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <td>@Html.RadioButtonFor(m => m.Del_Performance, i)</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Pricing</td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <td>@Html.RadioButtonFor(m => m.Pricing, i)</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Handling customer complaints</td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <td>@Html.RadioButtonFor(m => m.Handl_Cust_Comp, i)</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Overall Performance</td>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <td>@Html.RadioButtonFor(m => m.Overall_Performance, i)</td>
                                    }
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.Captcha, "has-error")">
                                <label for="" class="">@Html.Sitecore().Dictionary("/Accounts/Register/Captcha", "Captcha") <span class="required">*</span></label>
                                <div class="">
                                    @Html.Captcha("Try another", "Enter the text you see above:", 4, "Is required field", true)
                                    @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row pt-md-3 mb-0">
                        <div class="col-12">
                            <button id="btnSubmit" type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")</button>
                            @*<button type="button" class="btn btn-secondary" id="btnReset" onclick="location.reload()">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Reset", "Reset")</button>*@
                            <a href="javascript:void(0);" id="a_reload" class="btn btn-secondary">
                                @Html.Sitecore().Dictionary("/Accounts/Register/Button/Reset", "Reset")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
        </div>
    }
}
else
{



    <div class="container pt-5 mb-5">
        @{
            var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
            if (info != null)
            {
                Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
            }
            else
            {
                <h4>This page is not accessible to you, input is not valid.</h4>
            }
        }
    </div>
}

