@model Sitecore.Feature.Accounts.Models.NewRegistration
@{
    ViewBag.Title = "DocumentUpload";
}
<style>
    .danger {
        color: red;
    }
    /*=====================
        ## header banner
        =======================*/
    .headerbanner {
        padding: 1em;
        background: #5f2c82;
        background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
        background: linear-gradient(to right, #49a09d, #5f2c82);
    }



        .headerbanner button {
            width: 100%;
        }

        .headerbanner .btn-group {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }

        .headerbanner .btn-bannner {
            background: #ffffff;
            color: #003e9d;
            text-align: left;
            padding: 5px;
        }

        .headerbanner .dropdown-menu {
            min-width: 320px;
            padding: 5px;
        }

    .addressbox {
        background: #ffffff;
        padding: 1em;
        margin-top: 20px;
        line-height: 26px;
    }

    .newconnection .btn-default {
        background: transparent;
        color: #ffffff;
        border: 1px solid #fff;
    }

    .newconnectionbanner {
        background-image: url(../img/gascat-3.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 2.8em;
        margin-top: 20px;
    }

        .newconnectionbanner h2 {
            font-size: 42px;
            text-transform: capitalize;
            margin: 0;
            font-weight: bold;
            color: #ffffff;
        }

            .newconnectionbanner h2 span {
                font-size: 26px;
                font-weight: 400;
                color: #ffffff;
            }

    .addressbox {
        color: #003e9d;
        font-size: 16px;
    }

    .allDetails {
        margin-top: 20px;
    }

        .allDetails .fa {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            padding-bottom: 5px;
        }

    .allDetailstop {
        padding: 1em;
        color: #165db7;
        font-size: 18px;
    }

        .allDetailstop p {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            display: inline-block;
            padding-bottom: 5px;
        }

    .boxbgcolor span {
        color: #2167bc;
        font-size: 15px;
    }

    .boxbgcolor {
        background: #eef1f6;
        padding: 1em 1.5em;
        color: #000;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }

        .boxbgcolor p {
            color: #000;
            font-size: 14px;
        }

    .boxbgcolork {
        background: #e19c58;
        padding: 1em 1.5em;
        color: #000;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    .companyaddress {
    }

    .progressbar {
        counter-reset: step;
        width: 100%;
        position: relative;
        height: 100px;
        margin-top: 2rem;
    }

        .progressbar li {
            list-style-type: none;
            width: 14%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
                z-index: 1;
                position: relative;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: 0;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: #ee7f26;
            }

                .progressbar li.active:before {
                    border-color: #ee7f26;
                }

                .progressbar li.active + li:after {
                    background-color: #ee7f26;
                }

    section.document-b {
        margin-top: 2em;
    }

        section.document-b .sectitle h3 {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            display: inline-block;
            padding-bottom: 5px;
        }

        section.document-b .document-table {
            border: 1px solid #666;
            padding: 1em;
            margin-bottom: 2em;
        }

        section.document-b .bgtable {
            background: #eef1f6;
        }

        section.document-b .iconbox .fa {
            width: 30px;
            height: 30px;
            border: 1px solid #666;
            text-align: center;
            border-radius: 50%;
            margin: 0 5px;
            padding: 5px;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
        }

    .document-table .tablecentertitle {
        background: #1f8f75;
        padding: 8px;
        text-align: center;
        color: #000;
        font-size: 18px;
        border-radius: 2px;
        font-weight: 400;
    }

    section.document-b .document-table h3 {
        color: #165db7;
        font-size: 18px;
        margin: 15px 10px;
    }

    .document-table button {
        color: #ffffff;
        background: #165db7;
        border: 1px solid #165db7;
        margin: 20px 0;
        padding: 12px 35px;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        border-radius: 5px;
        float: right;
        margin-right: 10px;
    }

        .document-table button:hover {
            background: #000;
            border: 1px solid #000;
            color: #ffffff;
        }

    .table-responsive .otherdoc button {
        background: transparent !important;
        border: 1px solid #165db7 !important;
        padding: 10px 15px;
        color: #165db7;
    }
    /*==================
    ##tabal
    =========================*/
    .equopmenttable {
        border-bottom: 1px solid #719ad0;
        margin-bottom: 1em;
    }

        .equopmenttable table {
            border: none;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            margin-top: 1px;
        }

            .equopmenttable table caption {
                font-size: 16px;
                padding: 20px;
                color: #165db7;
                font-weight: 600;
                text-align: left;
            }

            .equopmenttable table tr {
                background: #f8f8f8;
                border-bottom: 1px solid #c2d2ec;
                padding: .35em;
            }

            .equopmenttable table th, table td {
                padding: .625em;
                text-align: right;
                color: #000;
                font-size: 14px;
            }

        .equopmenttable tbody {
            border-bottom: 1px solid #000;
        }

        .equopmenttable stable th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        .equopmenttable table td img {
            text-align: center;
        }

    @@media screen and (max-width: 600px) {

        .equopmenttable table {
            border: 0;
        }

            .equopmenttable table caption {
                font-size: 1.3em;
            }

            .equopmenttable table thead {
                display: none;
            }

            .equopmenttable table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            .equopmenttable table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

                .equopmenttable table td:before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .equopmenttable table td:last-child {
                    border-bottom: 0;
                }
    }

    .equopmenttable .table-title {
        background: #165db7;
        padding: 10px;
    }

        .equopmenttable .table-title p {
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            margin-top: 10px;
        }

        .equopmenttable .table-title button {
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 5px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 15px;
        }

            .equopmenttable .table-title button:hover {
                background: #ffffff;
                border: 1px solid #ffffff;
                color: #000;
            }


    .equopmenttable input.defaultCheckbox {
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        background: #fff;
        margin-right: 10px;
        position: relative;
        top: 10px;
        left: -24px;
    }

    .equopmenttable input.defaultCheckbox2 {
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        background: #fff;
        margin-right: 10px;
        position: relative;
        top: 0;
        float: left;
        left: 17px;
    }

    }

    .modal-content {
        overflow: hidden;
    }

        .modal-content .modal-header {
            padding: 10px 15px;
            border-bottom: 1px solid #e5e5e5;
        }

    .modal-header {
        background: #165db7;
    }

        .modal-header h4.modal-title {
            color: #ffffff;
        }

    .modal-content .close {
        font-size: 34px;
        font-weight: 400;
        color: #ffffff;
    }

    .modal-body {
        position: relative;
        padding: 2em;
        background: #eef1f6;
    }

    .modal-content .form-control {
        height: 40px;
        color: #010101;
        border-radius: 8px;
    }

    .modal-content .form-group .form-control {
        border-color: #ccc;
        border-radius: 5px;
    }

    .modal-content .form-group {
        margin-bottom: 20px;
    }

    .modal-content .btn-primary {
        float: right;
        margin: 10px 0;
        border-radius: 5px;
        padding: 10px 25px;
        background: #165db7;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 14px;
    }

        .modal-content .btn-primary:hover {
            background: #333;
            color: #ffffff;
            text-transform: capitalize;
        }

    .modal-content option.selected {
        background: transparent;
        color: #000;
    }

    .modal-content label {
        color: #333;
        margin: 5px 0;
        font-size: 14px;
        font-weight: 400;
    }
</style>
<div class="clearfix"></div>
<section class="bg-white pt-5">
    <div class="container">
        <div class="headerbanner">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-bannner dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Domestic
                        </button>
                        @*<div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Domestic 0</a>
                                <a class="dropdown-item" href="#">Domestic 1</a>
                                <a class="dropdown-item" href="#">Domestic 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>*@
                    </div>
                    <div class="clearfix"></div>
                    <div class="addressbox">
                        <div class="row">
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10"><b>User ID: </b>@Html.DisplayFor(model => model.MOBILE, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.NAME_FIRST, new { @class = "form-control" }) @Html.DisplayFor(model => model.NAME_LAST, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.MOBILE, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.EMAIL, new { @class = "form-control" })</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-md-8 col-sm-8">
                    @*<div class="newconnection pull-right">
                            <button type="button" class="btn btn-default">CREATE NEW CONNECTION</button>
                        </div>*@
                    <div class="clearfix"></div>
                    <div class="newconnectionbanner">
                        <h2>adani | <span>Gas</span></h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--end headerbanner-->
        <div class="clearfix"></div>

        <section class="timeline">

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>



        <!--end container-->
    </div>
</section>
<section class="bg-white py-5">
    <div class="container">
        @*<div class="innerpage">*@
        <div class="container">
            <ul class="progressbar">
                <li class="active">Inquiry Details</li>
                <li class="active">Document Upload</li>
                <li>Payment</li>
                <li>Document Verification</li>
                <li>Installation In Progress</li>
                <li>Connection Complete</li>
                <li>Feedback</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <section class="document-b">
            <div class="sectitle">
                <h3>Documents</h3>
            </div>
            <div class="clearfix"></div>
            <div class="document-table">
                @using (Html.BeginForm("SaveDocuments", "AdaniGas", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("EnquiryNo", (string)ViewBag.EnquiryNo)
                    <div class="tablecentertitle text-center">
                        Verification Pendding
                    </div>@*
                        <div class="col-md-12">

                        </div>*@
                    <div class=" table-responsive">
                        <h3>
                            (A) Attach a photo copy of any of the document as address proof
                            <button type="button" data-toggle="modal" data-target="#myModalNew" onclick="SelectSection('A')">Add New Document</button>
                        </h3>

                        <table class="table table-bordered table-hover" id="DocUploadSectionA">
                            <thead>
                                <tr style="color: #165db7;">
                                    <th class="text-center">File</th>
                                    <th class="text-center">Document Name</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Date of Issue</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class=" table-responsive">
                        <h3>
                            (B) Attach a photo copy of any of the document as address a proof ownership of house
                            <button type="button" data-toggle="modal" data-target="#myModalNew" onclick="SelectSection('B')">Add New Document</button>
                        </h3>

                        <table class="table table-bordered table-hover" id="DocUploadSectionB">
                            <thead>
                                <tr style="color: #165db7;">
                                    <th class="text-center">File</th>
                                    <th class="text-center">Document Name</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Date of Issue</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class=" table-responsive">
                        <h3>
                            (C) Aadhar Card
                            <button type="button" data-toggle="modal" data-target="#myModalNew" onclick="SelectSection('C')">Add New Document</button>
                        </h3>

                        <table class="table table-bordered table-hover" id="DocUploadSectionC">
                            <thead>
                                <tr style="color: #165db7;">
                                    <th class="text-center">File</th>
                                    <th class="text-center">Document Name</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Date of Issue</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" id="uploadbtn" onclick="return upLoadvalidatedata()">Update</button>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </section>
    </div>
</section>
@*<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="PopupDocText"></h4>
                </div>
                @Html.Hidden("PopupDocId")
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <label>Number*</label>
                                <input type="text" class="form-control" placeholder="xxxxx01" id="DocNo" name="DocNo">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group-files">
                            <label>DRAG FILE HERE OR <span>BROWSE</span></label>
                            <input type="file" class="form-control" name="File1" id="File1">
                        </div>
                    </div>
                    <!--end form-grou-->
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary" onclick="SaveFile()">Save</button>
                </div>
            </div>
        </div>
    </div>*@


<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Document</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @Html.Hidden("SelectedSection")
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>Document Type*</label>
                            <select class="form-control" id="DocumentId" name="DocumentId">
                                <option>Mr.</option>
                                <option>Mrs.</option>
                                <option>Ms.</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>Number</label>
                            <input type="text" class="form-control" placeholder="xxxxx01" id="DocNo2" name="DocNo2">
                            <label id="AdharCardNoValidationMessage" style="color:red; display:none">Invalid Adhar Card No.</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group-files">
                        <label>DRAG FILE HERE OR <span>BROWSE</span></label>
                        <input type="file" class="form-control" name="File2" id="File2">
                    </div>
                </div>
                <!--end form-grou-->
                <div class="clearfix"></div>
                <button class="btn btn-primary" onclick="SaveFile1()">Save</button>
            </div>
        </div>
    </div>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@


