@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model  Sitecore.Feature.Accounts.Models.AdaniGasENachRegistrationModel
@if (Model != null && !string.IsNullOrEmpty(Model.TransactionId))
{
    <div class="pageContent">
        <div class="container">
            <div class="panel" id="dvContents">
                <div class="payLogoBox"><img src="/-/media/Project/AdaniGas/Logos/AdaniGaslogo.png?h=42&amp;la=en&amp;w=188&amp;hash=792BCB4E17A1624535B214D0F092E7A3"></div>

                <h5 class="pt-3">Your eNACH registration is failed.</h5>
                <p>Please find below details for your reference</p>
                <br />
                <h5 class="txt-orange">Your eNACH registration Details</h5>
                <div class="py-3"></div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/TransactionNumber", "Transaction Number")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.TransactionId">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/OrderNumber", "Order Number")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.OrderId">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/AdaniGas/Global/Dictionary/PayOnline/Account/CustomerId", "Customer Id")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.CustomerID">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/AdaniGas/Global/Dictionary/PayOnline/Account/CustomerName", "Customer Name")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.CustomerName">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/Amount", "Amount")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.SIAmount">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/Transaction Date Label", "Transaction Date")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.TransactionDate">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/PaymentStatus", "Payment Status")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/PaymentFailureText", "FAILURE")">
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.ErrorDescription))
                {
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/AdaniGas/Global/Dictionary/Accounts/e-NACHRegistration/ErrorDesc", "Error Description")</label>
                        <div class="col-sm-8 col-lg-6">
                            <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.ErrorDescription">
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-md-3 col-form-label">@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Accounts/ViewandPayBill/Remark", "Remark")</label>
                    <div class="col-sm-8 col-lg-6">
                        <input type="text" readonly="" class="form-control-plaintext" id="" value="@Model.Remark">
                    </div>
                </div>
            </div>
            <div class="">
                <div class="form-group row">
                    <div class="col-sm-8 col-lg-6">
                        <a class="btn btn-primary" href="/">@Html.Sitecore().Dictionary("/Accounts/e-NACH/Back for Home", "Go to HomePage")</a>
                        <input type="button" class="btn btn-primary" value="@Html.Sitecore().Dictionary("/Accounts/ViewandPayBill/prin", "Print this page")" onclick="PrintDiv()" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}
else if (!string.IsNullOrEmpty(Model.ErrorDescription))
{
    <div class="pageContent">
        <div class="container">
            <h5 class="pt-3">Your registration is failed.</h5>
            <br />
            <h5 class="pt-3">Error Description: @Model.ErrorDescription</h5>
            <br />
            <h5 class="txt-orange">There is some technically difficulty. Please contact customer care for more information.</h5>
        </div>
    </div>
}
else
{
    <div class="pageContent">
        <div class="container">
            <h5 class="pt-3">Your payment is failed.</h5>
            <br />
            <h5 class="txt-orange">There is some technically difficulty. Please contact customer care for more information.</h5>
        </div>
    </div>
}


<script type="text/javascript">
    function PrintDiv() {
        var divContents = document.getElementById("dvContents").innerHTML;
        var printWindow = window.open('', '', 'height=600,width=800');
        printWindow.document.write('<html><head><link href="/styles/Electricity/bootstrap.min.css" rel="stylesheet" /><link href="/styles/Electricity/adani-electricity.css" rel="stylesheet" /><title>Adani Gas Payment Receipt</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.focus();
        setTimeout(function () {
            printWindow.print();
            printWindow.close();
        }, 2000);


    }
</script>