@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.AdaniGasENachRegistrationModel

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin", id = "frmeNachRegistration" }))
{
    @Html.AddUniqueFormId()
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" id="gresponse" name="reResponse" value="abc">
    <div class="pageContent">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        @{
                            var info = Session.GetAndRemove("UpdateMessage") as Sitecore.Foundation.Alerts.Models.InfoMessage;
                            if (info != null)
                            {
                                Html.RenderPartial(Sitecore.Foundation.Alerts.Constants.InfoMessageView, info);
                            }
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-lg-right text-left mt-3 mt-lg-0 d-none">
                    <button type="button" class="btn btn-primary txt-sm" data-toggle="modal" data-target="#eNachGuidelines">e-NACH Guidelines</button>
                    <a href="#eNachGuidelines" class="btn btn-primary d-none" target="_blank" style="color: #fff;" data-toggle="modal" data-target="#eNachGuidelines"><b>e-NACH Guidelines</b></a>
                </div>

                <div class="row">

                    <div class="col-lg-7 ml-auto">
                        <div class="modal-popup__content">
                            <p class="txt-orange mb-3 txt-md">e-Nach Guidelines</p><p class="mb-2"><b>Pre-requisites</b>:</p>
                            <ul class="txt-sm ul-bullets pl-4" style="">
                                <li class="mb-3" style="
    list-style-type: disc;
">The invoices generated prior to registration of e-NACH should be paid by other payment modes.</li>
                                <li class="mb-3" style="list-style-type: disc;">
                                    As per the NPCI directions, applications for e-NACH can only be taken for mandate amounts of Rs. 1 lac or less. In case, you wish to apply for an application with a mandate greater than Rs. 1 lac, please submit a physical NACH mandate at the nearest Customer Care Center.
                                    <br>
                                    Download NACH mandate form <a target="_blank" href="/-/media/768E46695F29467E827FDECBA3E7EBF2.pdf?la=en&hash=A139BB5CACB7EE0EC700400123F1FCB1">here</a>.
                                </li>
                            </ul>

                            <p class="mb-2"><b>How to opt for the service?</b></p>
                            <ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">Enter the 10-digit Adani Gas customer id in the field above.</li>
                                <li style="
   list-style-type: disc;
">Validate the entered customer id number &amp; verify the name being displayed.</li>
                                <li style="
    list-style-type: disc;
">OTP will be sent on registered mobile number.</li>
                                <li style="
    list-style-type: disc;
">Enter the OTP and follow the e-NACH registration process.</li>
                            </ul>
                            <p class="mb-2"><b>What details are required while applying for this payment mode?</b></p><ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">
                                    Bank Details:
                                    <ul class="txt-sm ul-bullets pl-4 mb-3">
                                        <li style="
    list-style-type: circle;
">Account No.</li>
                                        <li style="
    list-style-type: circle;
">Account Type</li>
                                        <li style="
    list-style-type: circle;
">IFSC Code,</li>
                                        <li style="
    list-style-type: circle;
">MICR code</li>
                                    </ul>
                                </li>
                                <li style="
    list-style-type: disc;
">Select a “Mandate” amount in line with your average billing. A mandate amount is the maximum amount for which the auto-debit will be permitted.</li>
                                <li style="
    list-style-type: disc;
">Fill all required information and authorize through Net Banking or Debit Card</li>
                                <li style="
    list-style-type: disc;
">Validate information through Net Banking or by OTP in case of validation through Debit card</li>
                            </ul>



                            <p class="mb-3"><b>How E- NACH process works?<b></b></b></p>
                            <ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">Once the NACH payment mode is active, the amount will be auto debited from your bank account.</li>
                                <li style="
    list-style-type: disc;
">In case the bill amount is higher than the “mandate” amount, you need to pay the bill separately via alternative modes of payment. This will be explicitly mentioned under the “Important Messages” section of the bill.</li>
                            </ul>
                            <p class="mb-3"><b>Benefits:</b></p>
                            <ul class="txt-sm ul-bullets pl-4 mb-3" style="">
                                <li style="
    list-style-type: disc;
">No need to visit the Customer Care Centre to register for the service.</li>
                                <li style="
    list-style-type: disc;
">No need to monitor bi-monthly payments</li>
                                <li style="
    list-style-type: disc;
">Savings in time and bi-monthly effort required for payments</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-5 ml-auto">
                        <div class="form_namechange mb-0" style="background: #f5f5f5;border: 1px solid #eaeaea;">
                            <div class="px-4">
                                <h3 class="pl-0 pt-0 mb-3" style="min-height: auto;">Register now for e-Nach</h3>
                                @if (!Model.IsvalidatAccount)
                                {
                                    <div class="input-group mb-3">
                                        <label for="" class="w-100">@Html.Sitecore().Dictionary("/ENACH/Register/CustomerId", "Enter 10 digit Customer Id")</label>
                                        @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control reset-control", id = "CustomerId", required = "required" })
                                        @*@Html.HiddenFor(x => x.reResponse, new { id = "gresponse" })
                                            @Html.ValidationMessageFor(x => x.reResponse, "", new { @class = "help-block" }, "p")*@
                                    </div>
                                    <div class="input-group mb-3">
                                        @Html.Captcha("Try another", "Enter the text you see above:", 4, "Is required field", true)
                                        @Html.ValidationMessageFor(x => x.reResponse, "", new { @class = "help-block" }, "p")
                                        @*<div id="recaptcha3"></div>*@
                                    </div>
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-secondary" id="submits" name="ValidateAccount" value="@Html.Sitecore().Dictionary("/ENACH/Register/Validate Account Button text", "Validate")" />
                                    </div>
                                    <div>
                                        @Html.ValidationMessageFor(x => x.CustomerID, "", new { @class = "help-block" }, "p")
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group mb-3">
                                        <label for="" class="w-100">@Html.Sitecore().Dictionary("/ENACH/Register/CustomerId", "Enter 10 digit Customer Id")</label>
                                        @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control reset-control", id = "CustomerId", @readonly = "readonly" })
                                    </div>
                                }

                                @if (Model.IsvalidatAccount)
                                {
                                    <div class="form-group">
                                        <label for="">@Html.Sitecore().Dictionary("/ENACH/Register/Registered CustomerId", "Registered Customer Name")</label>
                                        @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control reset-control", id = "CustomerName", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "help-block" }, "p")
                                    </div>

                                    <div class="col-sm-7 col-md-7">
                                        <label for="OTPNumber" class="col-sm-12 col-md-12 col-form-label">
                                            @Html.Sitecore().Dictionary("/Accounts/Register/ValidOTP", "Enter Valid OTP")
                                            <span class="required">*</span>
                                        </label>
                                        @Html.TextBoxFor(x => x.OTPNumber, new { @class = "form-control reset-control", id = "OTPNumber", required = "required" })
                                        @Html.ValidationMessageFor(x => x.OTPNumber)
                                        @Html.ValidationMessage("ErrorValidOTP")
                                    </div>
                                    <div class="form-group text-right mb-0 mt-2">
                                        @if (Model.ResendDisable == null)
                                        {
                                            <div id="OTPtimer">
                                            </div>
                                            <input type="submit" class="btn btn-secondary d-none" id="Resend" name="Resend" value="@Html.Sitecore().Dictionary("/Accounts/Register/Button/Resend", "Re-Send OTP")" />
                                        }
                                        <input type="submit" class="btn btn-primary" name="Submit" id="submit" value="@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")" />
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.Info))
                                {
                                    <p>@ViewBag.Info</p>
                                }
                                else if (!string.IsNullOrEmpty(Model.Message))
                                {
                                    <p>@Model.Message</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade modal-popup" id="eNachGuidelines" tabindex="-1" role="dialog" aria-labelledby="eNachGuidelines" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5>e-NACH Guidelines</h5>

                </div>

            </div>
        </div>
    </div>

}
