@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts
@model Sitecore.Feature.Accounts.Models.NewRegistration
@{
    ViewBag.Title = "E-Registration";
}

@{
    var strTitle = "";
    var strFirstName = "";
    var varArr = Model.NAME_FIRST.Split('.').ToList();
    if (varArr.Count() > 0)
    {
        strTitle = varArr[0] + ".";
        strFirstName = varArr[1];
    }
}
<style>
    .danger {
        color: red;
    }

    .dropdownheight {
        height: 36px !important;
    }
    .inquiryform-box {
        padding: 10px 10px 0px 10px;
        margin-bottom: 0px;
    }
        .inquiryform-box label {
            font-size: 14px;
            text-transform: capitalize;
        }
        .inquiryform-box input[type="checkbox"] {
            position: relative;
            top: 2px;
        }
        .inquiryform-box select {
            
        }
</style>



<section class="bg-white py-5">
    <div class="container">
        <div class="innerpage panel">
            <div class="inquiryform">
                
                <div id="fillinformation">
                    
                    <div class="inquiryform-box">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="title mb-3">Fill in your Information</h4>
                                <p class=""><b>Domestic Details</b></p>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="dropdown-label">Title  </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBox("Title", strTitle, new { @class = "form-control" })
                                        @* <select id="dropdown">
                                    <option value="1">Mr. </option>
                                    <option value="2">Mrs. </option>
                                </select>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="firstname-label">First Name* </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBox("NAME_FIRST", strFirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="surname-label">Surname * </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.NAME_LAST, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="number-label">Contact Number * </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.MOBILE, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="email-label">Email-ID * </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end nquiryform-box-->
                    <div class="inquiryform-box">
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="houseno-label">House No.* </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.HOUSE_NUM1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="plotno-label">House Type:*</label>
                                    </div>
                                    <div id="right-tab">
                                        <select class="form-control dropdownheight" id="HouseTypeId" name="HouseTypeId">
                                            <option>Select Value</option>
                                            <option value="9023">Builder</option>
                                            <option value="9025">Bulk</option>
                                            <option value="9024">Individual</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="Address-label">Address Line 1* : </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.STR_SUPPL1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="Address-label">Address Line 2 : </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.STR_SUPPL2, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="number-label">postal code </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.POST_CODE1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="number-label">Region </label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.LOCATION, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="dropdown-label">City</label>
                                    </div>
                                    <div id="right-tab">
                                        @Html.TextBoxFor(model => model.CITY1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end nquiryform-box-->
                    <div class="inquiryform-box">
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-2">Details of LPG Connection of Buyer</p>
                            <div class="">
                                <label>Does Buyer own Liquefied Petroleum Gas(LPG) household connection provide by Public sector Oil Marketing Comoany(PSOMC) under Public Distrbution System,*</label>
                                <div class="clearfix"></div>
                                <div class="informationcheckbox">
                                    <label class="iconmark">
                                        Yes
                                        <input type="checkbox" value="Yes" class="chk-LPBBuyerconnection" id="chkLPGBuyerYes">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="iconmark">
                                        No
                                        <input type="checkbox" checked="checked" value="No" class="chk-LPBBuyerconnection">
                                        <span class="checkmark"></span>
                                    </label>

                                </div>
                                
                                <div id="customerdetails" style="display: none">
                                    <div class="row my-3">
                                        <div class="col-md-6">
                                            <div id="label">
                                                <div id="left-tab">
                                                    <label id="number-label">if YES, Kindly provide LPG Consumer No. *</label>
                                                </div>
                                                <div id="right-tab">
                                                    <input type="text" class="form-control" id="ConsumerName" placeholder="xxxxxxxxxx" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="left-tab">
                                                <label>Name of Company</label>
                                            </div>
                                            <div class="informationcheckbox mt-1">
                                                <div id="right-tab">
                                                    <label class="iconmark mr-2">
                                                        IOCL
                                                        <input type="checkbox" value="IOCL" class="chk-Company">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="iconmark mr-2">
                                                        BPCL
                                                        <input type="checkbox" value="BPCL" class="chk-Company">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="iconmark mr-2">
                                                        HPCL
                                                        <input type="checkbox" value="HPCL" class="chk-Company">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    <!--end nquiryform-box-->
                    <div class="row">
                        <div class="col-12">
                        <div class="inquiryform-box">
                            <p>Advance Request</p>
                            <label>I Would like to take Extra Bathroom point/Extra Kitchen point along single PNG connection</label>
                            <div class="clearfix"></div>
                            <div class="informationcheckbox">
                                <label class="iconmark">
                                    Yes
                                    <input type="checkbox" value="Yes" id="chkAdvancePoint" class="chk-advanceRequest">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="iconmark">
                                    No
                                    <input type="checkbox" checked="checked" value="No" class="chk-advanceRequest">
                                    <span class="checkmark"></span>
                                </label>

                            </div>
                            <div class="clearfix"></div>
                            <div id="div-advance" class="my-3" style="display: none">
                                <div class="allpoints row">
                                    <div class="col-md-4">
                                        <div id="label">
                                            <div id="left-tab">
                                                <label id="bathroom-label">Number of Bathroom point</label>
                                            </div>
                                            <div id="right-tab">
                                                <select class="form-control" id="BathroomPointsdropdown" name="BathroomPoints" style="width: 30%;display: inline-block;">
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                                <b>Points</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="label">
                                            <div id="left-tab">
                                                <label id="kitchen-label">Number of Kitchen point</label>
                                            </div>
                                            <div id="right-tab">
                                                <select class="form-control" id="KitchenPointsdropdown" name="KitchenPoints" style="width: 30%;display: inline-block;">
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                                <b>Points</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    

                    
                    <!--end nquiryform-box-->
                    <div class="clearfix"></div>
                    <div class="inquiryform-box">
                        @using (Html.BeginForm("CreateUser", "AdaniGas", FormMethod.Get))
                        {
                            @Html.Hidden("HouseType")
                            <div class="row">
                            <div class="col-md-6">
                                <div class="row no-gutters">
                                    <div class="col-8">
                                        <label>User ID* </label>
                                        @Html.TextBox("UserName", Model.MOBILE, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-4">
                                        <label class="w-100">&nbsp;</label>
                                        <button class="btn btn-secondary" type="button" id="VerifyUser" name="VerifyUser" onclick="VerifyUserDetails()">Verify</button>
                                        @Html.Hidden("VerifyUserStatus", "F")
                                        @Html.Hidden("VerifyPassword", "F")
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <div>
                                        <label>Password* </label>
                                    </div>
                                    <div>
                                        @Html.Password("Password", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            </div>
                            @Html.Hidden("EnquiryNo", Model.COMPNO)
                            @Html.Hidden("Patner", Model.PARTNER)
                            @Html.Hidden("CustomerNo")
                            @Html.Hidden("Company")
                            @Html.Hidden("KitchenPoints")
                            @Html.Hidden("BathroomPints")
                            <div class="clearfix"></div>
                            <div class="col-md-12 p-0">
                                <button class="btn btn-primary mt-3" type="submit" onclick="return ValidateUser();">Save</button>
                            </div>
                        
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>

        </div>
    </div>
</section>





@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    var jQ = jQuery.noConflict(true);
    function ValidateUser() {
        var consumername = "";
        if (jQ("#chkLPGBuyerYes").prop('checked') == true) {
            consumername = jQ("#ConsumerName").val();
            var company = jQ('.chk-Company').filter(':checked').length;

            if (consumername == '' || company == 0) {
                var message = "Please Enter Consumer Name or Select Company.";
                jQ('#msgarea').html(message);
                jQ('#Messagepopup1').modal('show');
                return false;
            }
        }

        if (jQ("#chkAdvancePoint").prop('checked') == true) {
            var kitechenpoints = jQ("#KitchenPointsdropdown").val();
            var bathroompoints = jQ("#BathroomPointsdropdown").val();
            if (kitechenpoints == '0' && bathroompoints == '0') {
                var message = "Please select Kitchen or Bathroom Points.";
                jQ('#msgarea').html(message);
                jQ('#Messagepopup1').modal('show');
                return false;
            }
        }

        if (jQ("option:selected", jQ("#HouseTypeId")).text() == "Select Value") {
            var message = "Please Select House Type.";
            jQ('#msgarea').html(message);
            jQ('#Messagepopup1').modal('show');
            return false;
        }

        var password = jQ("#Password").val();
        var flag = jQ("#VerifyUserStatus").val();
        if (password == '' || flag == "F") {
            var message = "Please enter Password or Please Verify user.";
            jQ('#msgarea').html(message);
            jQ('#Messagepopup1').modal('show');

            return false;
        }



        jQ("#CustomerNo").val(consumername);
        var companyname = jQ('.chk-Company:checkbox:checked').val();
        jQ("#Company").val(companyname);
        jQ("#KitchenPoints").val(kitechenpoints);
        jQ("#BathroomPints").val(bathroompoints);
        // HOUSE TYPE
        jQ("#HouseType").val(jQ("option:selected", jQ("#HouseTypeId")).text());

    }

    function VerifyUserDetails() {
        var username = jQ("#UserName").val();
        jQ.ajax({
            type: "GET",
            url: '/api/AdaniGas/VerifyUser',
            data: { "username": username },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                jQ("#VerifyUserStatus").val("S");
                var message = data.Ev_Message;
                if (data.Ev_Msg_Flag == "F") {
                    message = "User Already exists. Please enter the password to continue";
                    jQ("#VerifyPassword").val("S");
                }
                jQ('#msgarea').html(message);
                jQ('#Messagepopup1').modal('show');
            },
            failure: function () {
                jQ("#VerifyUserStatus", "F");
                alert("Failed!");
            }
        });
    }

    jQ(document).ready(function () {
        jQ(".chk-LPBBuyerconnection").change(function () {
            var currentselect = jQ(this).val();
            jQ(".chk-LPBBuyerconnection").prop('checked', false);
            jQ(this).prop('checked', true);
            //jQ(".chk-LPBBuyerconnection").each(function () {
            //    if (currentselect != jQ(this).val()) {
            //        jQ(this).attr('checked', false);
            //    }
            //});

            if (currentselect == "Yes") {
                jQ("#customerdetails").show();
            }
            else {
                jQ("#customerdetails").hide();
            }
        })

        jQ(".chk-Company").change(function () {
            var currentselect = jQ(this).val();
            jQ(".chk-Company").prop('checked', false);
            jQ(this).prop('checked', true);
            //jQ(".chk-Company").each(function () {
            //    if (currentselect != jQ(this).val()) {
            //        jQ(this).attr('checked', false);
            //    }
            //});
        })

        jQ(".chk-advanceRequest").change(function () {
            var currentselect = jQ(this).val();
            jQ(".chk-advanceRequest").prop('checked', false);
            jQ(this).prop('checked', true);
            //jQ(".chk-advanceRequest").each(function () {
            //    if (currentselect != jQ(this).val()) {
            //        jQ(this).attr('checked', false);
            //    }
            //});

            if (currentselect == "Yes") {
                jQ("#div-advance").show();
            }
            else {
                jQ("#div-advance").hide();
            }
        })
    });


    jQ("#Password").change(function () {
        if (!PasswordCheck(jQ(this).val())) {
            var message = "Password should contain at least 1 char, 1 Special char, 1 number and the min length should be 8 char.";

            jQ('#msgarea').html(message);
            jQ('#Messagepopup1').modal('show');
            jQ(this).val('');
        }
        else {
            if (jQ("#VerifyPassword").val() == "S") {
                var password = jQ(this).val();
                var username = jQ("#UserName").val();
                jQ.ajax({
                    type: "GET",
                    url: '/api/AdaniGas/VerifyPassword',
                    data: { "username": username, "password": password },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == false) {
                            var message = "Please enter the correct password.";
                            jQ('#msgarea').html(message);
                            jQ('#Messagepopup1').modal('show');
                            jQ(this).val('');
                        }

                    },
                    failure: function () {
                        alert("Failed!");
                    }
                });
            }
        }
    });

</script>