@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.ForgotPasswordValidateOTP

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmForgotPasswordValidateOTP", @class = "form-signin" }))
{
    @Html.AddUniqueFormId()

    <div class="pageContent">
        <div class="container">
            <div class="panel input otp">
                @{
                    var data = TempData["ModelMsg"];
                }
                <p>@data</p>
                <a href="/myaccount">@TempData["done"]</a>
                @{
                    var success = TempData["done"];
                    var stl = string.Empty;
                    if (success != null)
                    {
                        stl = "display: none;";
                    }
                }
                <p class="pb-md-3 float-sm-right">fields marked <span class="required">*</span> are mandatory</p>
                <div class="clearfix"></div>
                <form class="pt-3">
                    <div class="row" style="@stl">
                        <div class="col-md-6">
                            <div class="form-group row pt-md-2">
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/ValidOTP", "Valid OTP")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.TextBoxFor(x => x.Valid_OTP, new { @class = "form-control reset-control", id = "ValidOTP", required = "required" })
                                    @Html.ValidationMessageFor(x => x.Valid_OTP)
                                    @Html.ValidationMessage("ErrorValidOTP")
                                </div>
                                <br />
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/New Password", "New Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.PasswordFor(x => x.New_Password, new { @class = "form-control reset-control", id = "NewPassword", required = "required" })
                                    @Html.ValidationMessageFor(x => x.New_Password)
                                    @Html.ValidationMessage("ErrorNewPassword")
                                </div>
                                <br />
                                <label for="" class="col-sm-5 col-md-5 col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/Repeat Password", "Repeat Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="col-sm-7 col-md-7">
                                    @Html.PasswordFor(x => x.Repeat_Password, new { @class = "form-control reset-control", id = "RepeatPassword", required = "required" })
                                    @Html.ValidationMessageFor(x => x.Repeat_Password)
                                    @Html.ValidationMessage("ErrorRepeatPassword")
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row pt-md-3 mb-0" style="@stl">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")</button>
                            <button type="reset" class="btn btn-secondary" id="btnReset">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Reset", "Reset")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
