@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Models
@model List<Sitecore.Feature.Accounts.DODOForm>


<section class="section pt-0 pb-5">
    <div class="container">
        <div class="paymentTbl" id="paytmTable">
            <input type="button" class="btn btn-primary mb-2 float-right" onclick="tableToExcel('paytmTableTG1', 'DODOFormData')" value="Export to Excel">
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table id="paytmTableTG" class="table table-bordered bg-white">
                    <thead>
                        <tr>
                            <th>ID No.</th>
                            <th>Photo1</th>
                            <th>Photo2</th>
                            <th>Photo3</th>
                            <th>Photo4</th>
                            <th>Salutation</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Payment Status</th>
                            <th>Transaction Id</th>
                            <th>Dealer Format</th>
                            <th>Payment Agreement</th>
                            <th>Payment Time</th>
                            <th>Applicant State</th>
                            <th>Applicant City</th>
                            <th>Address Line 1</th>
                            <th>Address Line 2</th>
                            <th>Address Line 3</th>
                            <th>Current City</th>
                            <th>Current District</th>
                            <th>Current State</th>
                            <th>Pincode</th>
                            <th>Mobile no</th>
                            <th>Landline no</th>
                            <th>Email</th>
                            <th>Occupation Type</th>
                            <th>Occupation Detail</th>
                            <th>Plot No</th>
                            <th>Road(NH/SH)</th>
                            <th>Land Mark</th>
                            <th>Road Going Toward</th>
                            <th>Plot City</th>
                            <th>Plot District</th>
                            <th>Plot State</th>
                            <th>Plot Pincode</th>
                            <th>Plot Type</th>
                            <th>Plot Size</th>
                            <th>Plot Latitude</th>
                            <th>Plot Longitude</th>
                            <th>Nearest Filling Station Name</th>
                            <th>Nearest Filling Station Distance</th>
                            <th>Previous Experience</th>
                            <th>OMC Name</th>
                            <th>OMC Association Time</th>
                            <th>Dealer ship</th>
                            <th>Reference</th>
                            <th>Submitted Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0;}
                        @foreach (var item in Model.OrderBy(x => x.CreatedDate))
                        {
                            count = count + 1;
                            var paymentstatus = item.IsPaymentDone == true ? "T" : "F";
                            var paymentaggreement = item.AgreeForPayment == true ? "Y" : "N";
                            var paymntdate = item.CreatedDate != null ? item.CreatedDate.Value.ToString("ddd, dd MMM yyy HH:mm") : "-";
                            <tr>
                                <td>@count</td>
                                <td><a onclick="openFile(@item.Id,'FrontViewPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td><a onclick="openFile(@item.Id,'LeftSideEntryPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td><a onclick="openFile(@item.Id,'RightSideExitPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td><a onclick="openFile(@item.Id,'InsideOutViewPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td>@item.Salutation</td>
                                <td>@item.FirstName</td>
                                <td>@item.MiddleName</td>
                                <td>@item.LastName</td>
                                <td>@paymentstatus</td>
                                <td>@item.TransactionId</td>
                                <td></td>
                                <td>@paymentaggreement</td>
                                <td>@paymntdate</td>
                                <td>@item.StateName</td>
                                <td>@item.GeographicalArea</td>
                                <td>@item.Address1</td>
                                <td>@item.Address2</td>
                                <td>@item.Address3</td>
                                <td>@item.City</td>
                                <td>@item.District</td>
                                <td>@item.State</td>
                                <td>@item.Pincode</td>
                                <td>@item.Mobile</td>
                                <td>@item.LandlineNumber</td>
                                <td>@item.Emailid</td>
                                <td>@item.Occupation</td>
                                <td>@item.OccuptionDetails</td>
                                <td>@item.LandPlotNo</td>
                                <td>@item.Nearest_Highway_No_Road</td>
                                <td>@item.Near_LandMark</td>
                                <td>@item.Road_going_towards</td>
                                <td>@item.NameOfCity</td>
                                <td>@item.NameOfDistrict</td>
                                <td>@item.NameofState</td>
                                <td>@item.NameofPincode</td>
                                <td>@item.PlotType</td>
                                <td>@item.PlotSize</td>
                                <td>@item.Latitude</td>
                                <td>@item.Longtitude</td>
                                <td>@item.NearestPumpStationName</td>
                                <td>@item.NearestPumpStationDistance</td>
                                <td>@item.AnyPreviousExperience</td>
                                <td>@item.OMC</td>
                                <td>@item.OMCYear</td>
                                <td>@item.ProposedEntity</td>
                                <td>@item.HowdidYouKnow</td>
                                <td>@paymntdate</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table id="paytmTableTG1" class="table table-bordered bg-white" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID No.</th>
                            <th>Photo1</th>
                            <th>Photo2</th>
                            <th>Photo3</th>
                            <th>Photo4</th>
                            <th>Salutation</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Payment Status</th>
                            <th>Transaction Id</th>
                            <th>Dealer Format</th>
                            <th>Payment Agreement</th>
                            <th>Payment Time</th>
                            <th>Applicant State</th>
                            <th>Applicant City</th>
                            <th>Address Line 1</th>
                            <th>Address Line 2</th>
                            <th>Address Line 3</th>
                            <th>Current City</th>
                            <th>Current District</th>
                            <th>Current State</th>
                            <th>Pincode</th>
                            <th>Mobile no</th>
                            <th>Landline no</th>
                            <th>Email</th>
                            <th>Occupation Type</th>
                            <th>Occupation Detail</th>
                            <th>Plot No</th>
                            <th>Road(NH/SH)</th>
                            <th>Land Mark</th>
                            <th>Road Going Toward</th>
                            <th>Plot City</th>
                            <th>Plot District</th>
                            <th>Plot State</th>
                            <th>Plot Pincode</th>
                            <th>Plot Type</th>
                            <th>Plot Size</th>
                            <th>Plot Latitude</th>
                            <th>Plot Longitude</th>
                            <th>Nearest Filling Station Name</th>
                            <th>Nearest Filling Station Distance</th>
                            <th>Previous Experience</th>
                            <th>OMC Name</th>
                            <th>OMC Association Time</th>
                            <th>Dealer ship</th>
                            <th>Reference</th>
                            <th>Submitted Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(x => x.CreatedDate))
                        {

                            var paymentstatus = item.IsPaymentDone == true ? "T" : "F";
                            var paymentaggreement = item.AgreeForPayment == true ? "Y" : "N";
                            var paymntdate = item.CreatedDate != null ? item.CreatedDate.Value.ToString("ddd, dd MMM yyy HH:mm") : "-";
                            <tr>
                                <td>@item.Id</td>
                                <td><a onclick="openFile(@item.Id,'FrontViewPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td><a onclick="openFile(@item.Id,'LeftSideEntryPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td><a onclick="openFile(@item.Id,'RightSideExitPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td><a onclick="openFile(@item.Id,'InsideOutViewPhoto')"><img src="~/Images/AdaniGas/download.png"></a></td>
                                <td>@item.Salutation</td>
                                <td>@item.FirstName</td>
                                <td>@item.MiddleName</td>
                                <td>@item.LastName</td>
                                <td>@paymentstatus</td>
                                <td>@item.TransactionId</td>
                                <td></td>
                                <td>@paymentaggreement</td>
                                <td>@paymntdate</td>
                                <td>@item.StateName</td>
                                <td>@item.GeographicalArea</td>
                                <td>@item.Address1</td>
                                <td>@item.Address2</td>
                                <td>@item.Address3</td>
                                <td>@item.City</td>
                                <td>@item.District</td>
                                <td>@item.State</td>
                                <td>@item.Pincode</td>
                                <td>@item.Mobile</td>
                                <td>@item.LandlineNumber</td>
                                <td>@item.Emailid</td>
                                <td>@item.Occupation</td>
                                <td>@item.OccuptionDetails</td>
                                <td>@item.LandPlotNo</td>
                                <td>@item.Nearest_Highway_No_Road</td>
                                <td>@item.Near_LandMark</td>
                                <td>@item.Road_going_towards</td>
                                <td>@item.NameOfCity</td>
                                <td>@item.NameOfDistrict</td>
                                <td>@item.NameofState</td>
                                <td>@item.NameofPincode</td>
                                <td>@item.PlotType</td>
                                <td>@item.PlotSize</td>
                                <td>@item.Latitude</td>
                                <td>@item.Longtitude</td>
                                <td>@item.NearestPumpStationName</td>
                                <td>@item.NearestPumpStationDistance</td>
                                <td>@item.AnyPreviousExperience</td>
                                <td>@item.OMC</td>
                                <td>@item.OMCYear</td>
                                <td>@item.ProposedEntity</td>
                                <td>@item.HowdidYouKnow</td>
                                <td>@paymntdate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>