@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Models
@model Sitecore.Feature.Accounts.Models.GasPrice

<div class="container col-4" id="checkgaspricediv">
    <div class="contBox bgPrice">
        <div class="contBoxPd">
            <h3 class="title">
                Check
                <span>Gas Prices</span>
            </h3>
            <div class="valueBox">
                <div class="selectCity selectExtra">
                    @Html.DropDownListFor(x => Model.SelectedCity, new SelectList(Model.CityListD, "Value", "Value"), htmlAttributes: new { @class = "form-control", id = "city" })
                </div>
                <div class="gasprice">
                    @foreach (var city in Model.CityWisePrice)
                    {
                        <div id="@city.City.ToLower()" class="citydiv row">
                            
                            <div class="price col-lg-6" id="@city.DomesticCityWisePrice.Type">
                                <h1>Domestic</h1>
                                Rs. @city.DomesticCityWisePrice.Price_1
                                <span class="wefCom">w.e.f @city.DomesticCityWisePrice.Effectice_Date_1</span>
                                <div class="priceList priceRht Mmbtu singleCol" style="margin-top: 0px">
                                    per MMBTU<br>
                                    Exclusive of all Tax
                                </div>
                            </div>
                           
                            <div class="price col-lg-6" id="@city.CommercialCityWisePrice.Type">
                                <h1>Commercial</h1>
                                <span class="wefCom" id="Faridabadwef">w.e.f @city.CommercialCityWisePrice.Effectice_Date_1</span>
                                <div class="priceList">
                                    <span class="titlePrice"><b>Commercial</b></span>
                                    <br>
                                    Rs. @city.CommercialCityWisePrice.Price_1
                                </div>
                                <div class="priceList priceRht indusPrice">
                                    <span class="titlePrice"><b>Non Commercial</b></span>
                                    <br>
                                    Rs. @city.CommercialCityWisePrice.Price_2
                                </div>
                                <div class="priceList priceRht Mmbtu">
                                    per MMBTU<br>
                                    Exclusive of all Tax
                                </div>
                            </div>
                            
                            <div class="price col-lg-6" id="@city.IndustrailCityWisePrice.Type">
                                <h1>Industrial</h1>
                                <span class="wefCom" id="Faridabadwef">w.e.f @city.IndustrailCityWisePrice.Effectice_Date_1</span>
                                <div class="priceList">
                                    <span class="titlePrice"><b>MGO</b></span>
                                    <br>
                                    Rs. @city.IndustrailCityWisePrice.Price_1
                                </div>
                                <div class="priceList priceRht indusPrice">
                                    <span class="titlePrice"><b>No-MGO</b></span>
                                    <br>
                                    Rs. @city.IndustrailCityWisePrice.Price_2
                                </div>
                                <div class="priceList priceRht Mmbtu">
                                    per MMBTU<br>
                                    Exclusive of all Tax
                                </div>
                            </div>
                            
                            <div class="price col-lg-6" id="@city.CNGCityWisePrice.Type">
                                <h1>CNG</h1>
                                Rs. @city.CNGCityWisePrice.Price_1
                                <span class="wefCom">w.e.f @city.CNGCityWisePrice.Effectice_Date_1</span>
                                <div class="priceList priceRht Mmbtu singleCol" style="margin-top: 0px">
                                    per Kg<br>
                                    Inclusive of all Tax
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>











