@model Sitecore.Feature.Accounts.Models.NewRegistration
@{
    ViewBag.Title = "Schemes";
}
<style>
    .danger {
        color: red;
    }
    /*=====================
        ## header banner
        =======================*/
    .headerbanner {
        padding: 1em;
        background: #5f2c82;
        background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
        background: linear-gradient(to right, #49a09d, #5f2c82);
    }



        .headerbanner button {
            width: 100%;
        }

        .headerbanner .btn-group {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }

        .headerbanner .btn-bannner {
            background: #ffffff;
            color: #003e9d;
            text-align: left;
            padding: 5px;
        }

        .headerbanner .dropdown-menu {
            min-width: 320px;
            padding: 5px;
        }

    .addressbox {
        background: #ffffff;
        padding: 1em;
        margin-top: 20px;
        line-height: 26px;
    }

    .newconnection .btn-default {
        background: transparent;
        color: #ffffff;
        border: 1px solid #fff;
    }

    .newconnectionbanner {
        background-image: url(../img/gascat-3.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 2.8em;
        margin-top: 20px;
    }

        .newconnectionbanner h2 {
            font-size: 42px;
            text-transform: capitalize;
            margin: 0;
            font-weight: bold;
            color: #ffffff;
        }

            .newconnectionbanner h2 span {
                font-size: 26px;
                font-weight: 400;
                color: #ffffff;
            }

    .addressbox {
        color: #003e9d;
        font-size: 16px;
    }

    .allDetails {
        margin-top: 20px;
    }

        .allDetails .fa {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            padding-bottom: 5px;
        }

    .allDetailstop {
        padding: 1em;
        color: #165db7;
        font-size: 18px;
    }

        .allDetailstop p {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            display: inline-block;
            padding-bottom: 5px;
        }

    .boxbgcolor span {
        color: #2167bc;
        font-size: 15px;
    }

    .boxbgcolor {
        background: #eef1f6;
        padding: 1em 1.5em;
        color: #000;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }

        .boxbgcolor p {
            color: #000;
            font-size: 14px;
        }

    .boxbgcolork {
        background: #e19c58;
        padding: 1em 1.5em;
        color: #000;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    .companyaddress {
    }

    .progressbar {
        counter-reset: step;
        width: 100%;
        position: relative;
        height: 100px;
        margin-top: 2rem;
    }

        .progressbar li {
            list-style-type: none;
            width: 14%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
                z-index: 1;
                position: relative;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: 0;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: #ee7f26;
            }

                .progressbar li.active:before {
                    border-color: #ee7f26;
                }

                .progressbar li.active + li:after {
                    background-color: #ee7f26;
                }

    section.document-b {
        margin-top: 2em;
    }

        section.document-b .sectitle h3 {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            display: inline-block;
            padding-bottom: 5px;
        }

        section.document-b .document-table {
            border: 1px solid #666;
            padding: 1em;
            margin-bottom: 2em;
        }

        section.document-b .bgtable {
            background: #eef1f6;
        }

        section.document-b .iconbox .fa {
            width: 30px;
            height: 30px;
            border: 1px solid #666;
            text-align: center;
            border-radius: 50%;
            margin: 0 5px;
            padding: 5px;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
        }

    .document-table .tablecentertitle {
        background: #1f8f75;
        padding: 8px;
        text-align: center;
        color: #000;
        font-size: 18px;
        border-radius: 2px;
        font-weight: 400;
    }

    section.document-b .document-table h3 {
        color: #165db7;
        font-size: 18px;
        margin: 15px 10px;
    }

    .document-table button {
        color: #ffffff;
        background: #165db7;
        border: 1px solid #165db7;
        margin: 20px 0;
        padding: 12px 35px;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        border-radius: 5px;
        float: right;
        margin-right: 10px;
    }

        .document-table button:hover {
            background: #000;
            border: 1px solid #000;
            color: #ffffff;
        }

    .table-responsive .otherdoc button {
        background: transparent !important;
        border: 1px solid #165db7 !important;
        padding: 10px 15px;
        color: #165db7;
    }
</style>
<div class="clearfix"></div>
<section class="bg-white pt-5">
    <div class="container">
        <div class="headerbanner">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-bannner dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Domestic
                        </button>
                        @*<div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Domestic 0</a>
                                <a class="dropdown-item" href="#">Domestic 1</a>
                                <a class="dropdown-item" href="#">Domestic 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>*@
                    </div>
                    <div class="clearfix"></div>
                    <div class="addressbox">
                        <div class="row">
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10"><b>User ID: </b>@Html.DisplayFor(model => model.MOBILE, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.NAME_FIRST, new { @class = "form-control" }) @Html.DisplayFor(model => model.NAME_LAST, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.MOBILE, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.EMAIL, new { @class = "form-control" })</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-md-8 col-sm-8">
                    @*<div class="newconnection pull-right">
                            <button type="button" class="btn btn-default">CREATE NEW CONNECTION</button>
                        </div>*@
                    <div class="clearfix"></div>
                    <div class="newconnectionbanner">
                        <h2>adani | <span>Gas</span></h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--end headerbanner-->
        <div class="clearfix"></div>

        <section class="timeline">

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>



        <!--end container-->
    </div>
</section>
<section class="py-5 bg-white">
    <div class="container">
        @*<div class="innerpage">*@
        <div class="inquiryform">
            <div class="allDetails">
                <div class="row allDetailstop">
                    <div class="col-md-4 ">
                        <p>Schemes</p>
                    </div>
                    <div class="col-md-8 text-right"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="companyaddress boxbgcolor">
                        <div class=" table-responsive">
                            <h3>Schemes</h3>
                            <table class="table table-bordered table-hover" id="RequiredDocumentTable">

                                <tbody>
                                    @foreach (var item in ((IEnumerable<Sitecore.Feature.Accounts.Models.Schemes>)ViewBag.SchemeList).ToList())
                                    {
                                        <tr class="bgtable" id="@item.SchemeName">
                                            @Html.Hidden(item.Scheme + "_SchemeId", item.Scheme)
                                            @Html.Hidden(item.Scheme + "_SchemeName", item.SchemeName)
                                            @Html.Hidden(item.Scheme + "_TotalPaymentReg", item.TotalPaymentReg)
                                            @Html.Hidden(item.Scheme + "_AddtTaxChrgReg", item.AddtTaxChrgReg)
                                            @Html.Hidden(item.Scheme + "_ConndepRefundPost", item.ConndepRefundPost)
                                            <td class="text-center">@Html.CheckBox(item.Scheme, false, new { @class = "chk-scheme" }) </td>
                                            <td class="text-center">@item.Scheme</td>
                                            <td class="text-left">@item.SchemeDes</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="companyaddress boxbgcolor">
                        <div class=" table-responsive">
                            <h3></h3>
                            <table class="table table-bordered table-hover" id="RequiredDocumentTable">
                                <tbody onload="disableSubmit()">
                                    <tr class="bgtable">
                                        <td class="text-center">@Html.CheckBox("termsncondition", false, new { }) </td>
                                        <td class="text-left">
                                            <b>
                                                <a data-toggle="modal" data-target="#myModal" style="color: blue;">
                                                    I agree terms and conditions
                                                </a>
                                            </b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
                @*Connection Security Deposit*@
                <div class="connectionsec">
                    <div class="row allDetailstop">
                        <div class="col-md-4 ">
                            <p>Payment</p>
                        </div>
                        <div class="col-md-8 text-right"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="processbox row">
                        <div class="col-md-4 col-sm-12">
                            <div class="doted">
                                <h6>Total Payment</h6>
                                <br>
                                <span id="TotalAmount">0</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="dotedbg">
                                <h6>Amount Paid</h6>
                                <br>
                                <span>Nil</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="dotedbg">
                                <h6>Outstanding Amount</h6>
                                <br>
                                <span id="OutstandingAmount">0</span><br>
                                @* @using (Html.BeginForm("GetSchemes", "Enquiry", FormMethod.Post))
                                    {
                                        @Html.Hidden("FName", Model.NAME_FIRST)
                                        @Html.Hidden("Email", Model.EMAIL)
                                        @Html.Hidden("SchemeId")
                                        @Html.Hidden("EnquiryNo", (string)ViewBag.EnquiryNo)
                                        @Html.Hidden("OutstandingAmountPost")
                                    }*@
                                <button type="button" class="paynow" id="btnSubmit">Pay Now</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end processbox-->

                    <div class="clearfix"></div>
                </div>
                <!--end connectionsec-->

            </div>
        </div>
    </div>
    <!--end container-->
</section>
<div class="clearfix"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Terms and Conditions for the Supply of Piped Natural Gas (PNG) to Domestic </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            @{Html.RenderPartial("TermsAndCondition");}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
            </div>
        </div>
    </div>
</div>


<div id="myPaymentOption" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Payment Option</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("GetSchemes", "AdaniGas", FormMethod.Post))
                {
                    @Html.Hidden("FName", Model.NAME_FIRST)
                    @Html.Hidden("Email", Model.EMAIL)
                    @Html.Hidden("SchemeId")
                    @Html.Hidden("EnquiryNo", (string)ViewBag.EnquiryNo)
                    @Html.Hidden("OutstandingAmountPost")

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <table>
                                    <tr>
                                        <td style="text-align: left !important;">
                                            @Html.RadioButton("PaymentOption", "PayTM") PayTM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left !important;">
                                            @Html.RadioButton("PaymentOption", "PayuMoney") Payu Money
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left !important;">
                                            @Html.RadioButton("PaymentOption", "BillDesk") BillDesk
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary">Next</button>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    var jQ = jQuery.noConflict(true);
    jQ(document).ready(function () {
        jQ(".chk-scheme").click(function () {
            jQ('.chk-scheme').not(this).prop('checked', false);

            var currentselect = jQ(this).attr('name');
            //alert(jQ("#" + currentselect + "_TotalPaymentReg").val());
            var _SchemeName = jQ("#" + currentselect + "_SchemeName").val();
            var _TotalPaymentReg = parseInt(jQ("#" + currentselect + "_TotalPaymentReg").val());
            var _AddtTaxChrgReg = parseInt(jQ("#" + currentselect + "_AddtTaxChrgReg").val());
            var _ConndepRefundPost = parseInt(jQ("#" + currentselect + "_ConndepRefundPost").val());
            var OutstandingAmout = _TotalPaymentReg + _AddtTaxChrgReg;
            var TotalAmount = _TotalPaymentReg + _ConndepRefundPost;
            //alert(TotalAmount);
            var _SchemeId = jQ("#" + currentselect + "_SchemeId").val();
            jQ("#OutstandingAmount").text(OutstandingAmout);
            jQ("#OutstandingAmountPost").val(OutstandingAmout);
            jQ("#TotalAmount").text(TotalAmount);
            jQ("#SchemeId").val(_SchemeId);

        });

        jQ("#btnSubmit").click(function () {

            if (jQ("#OutstandingAmountPost").val() == "") {
                var message = "Please select Scheme.";
                jQ('#msgarea').html(message);
                jQ('#Messagepopup1').modal('show');
                return false;
            }

            if (jQ("#termsncondition").prop('checked') == false) {
                var message = "Please accept Terms & Condition.";
                jQ('#msgarea').html(message);
                jQ('#Messagepopup1').modal('show');
                return false;
            }

            jQ.noConflict();
            jQ('#myPaymentOption').modal('show');
            return false;
        });
    });

</script>
