@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Feature.Accounts.SessionHelper
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using Sitecore.Feature.Accounts.Models
@model Sitecore.Feature.Accounts.Models.EditProfile


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { }))
{

    <nav id="sideNav">
        <div id="dismiss" class="d-block d-md-none"><i class="fas fa-arrow-left"></i></div>
        <div class="clearfix"></div>

        <!-- Side Navigation -->
        <ul class="list-unstyled parentMenu" id="accordion">
            <li>
                <a href="#billingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/png/Bill Payments", "Bill & Payments")
                </a>
                <ul class="collapse list-unstyled submenu" id="billingSubmenu" data-parent="#accordion">
                    @if (Model.CustomerType.Equals("9004"))
                    {
                        <li>
                            <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/domestic/View and Pay Bill","/myaccount/billing-and-payment/submit-meter-reading")">
                                @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Submit Meter Reading", "Self-Billing")
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/Pay Online","/myaccount/billing-and-payment/pay-online")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Pay Online", "Pay Online")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/Advance Payment","/myaccount/billing-and-payment/advance-payment")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Advance Payment", "Advance Payment")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/Register for E-invoice","/myaccount/billing-and-payment/register-for-e-invoice")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for E-invoice", "Register for E-invoice")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URLpng//Understand Your bill","/myaccount/billing-and-payment/understand-your-bill")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Understand Your bill", "Understand Your bill")
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#accoutsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Main Menu/Account Services", "Account Services")
                </a>
                <ul class="collapse list-unstyled submenu" id="accoutsSubmenu" data-parent="#accordion">
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/Manage Email ID","/myaccount/account-services/manage-emails")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Email ID", "Manage Email ID")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/SwitchAccount","/myaccount/account-services/manage-mobile-numbers")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Manage Mobile Number", "Manage Mobile Number")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/NonRegisteredAccount","/myaccount/account-services/name-transfer")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Name Transfer", "Name Transfer")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/DeRegisterAccount","/myaccount/account-services/change-password")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Change Password", "Change Password")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/DeRegisterAccount","/myaccount/account-services/register-for-sms-alerts")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Register for SMS Alerts", "Register for SMS Alerts")
                        </a>
                    </li>
                    <li>
                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/DeRegisterAccount","/myaccount/account-services/complaints-queries")">
                            @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/Complaints Queries", "Complaints/Inquiry")
                        </a>
                    </li>
                    @if (Model.CustomerType.Equals("9004"))
                    {
                        <li>
                            <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/DeRegisterAccount","/myaccount/account-services/after-sales-services")">
                                @Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Sub Menu/After Sales Services", "After Sales Services")
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
        <!-- /Side Navigation -->

    </nav>

}
