@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Feature.Accounts.Models
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.LoginInfo
@{
    ViewBag.TextMeassage = Session["EnquiryMessage"];
}

<div class="manageAcBoxOuter">
    <div class="manageAcBox">
        @if (WebAPIAdaniGas.IsUserLoggedIn())
        {
            <div class="manageAcBoxPd">
                <h4 class="txt-orange mb-3">@Html.Sitecore().Dictionary("/Accounts/Login/Heading", "Manage Your Account")</h4>
                <div class="form-group row no-gutters)">
                    <label for="inputID1" class="col-sm-5 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/Login/Customer ID", "Customer ID")
                    </label>
                    <div class="col-sm-7">
                        @Html.DisplayFor(x => x.CustomerID, new { @class = "form-control", id = "LoginName" })
                    </div>
                </div>
                <div class="form-group row no-gutters">
                    <label for="inputID1" class="col-sm-5 col-form-label">
                        @Html.Sitecore().Dictionary("/Accounts/Login/Customer Name", "Customer Name")
                    </label>
                    <div class="col-sm-7">
                        @Html.DisplayFor(x => x.LoginName, new { @class = "form-control", id = "LoginName" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 pr-0 col-6 mb-2">

                        <a href="@Html.Sitecore().Dictionary("/Accounts/My Account/Left Panel/Redirect URL/png/Home", "/myaccount/png-dashboard")">
                            <button type="button" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Dasboard", "Dashboard")</button>
                        </a>

                    </div>
                    @using (Html.BeginForm("LogoutAdaniGas", "AdaniGas", FormMethod.Post, new
                    {
                        @class = "form-signin"
                    }))
                    {
                        <div class="col-sm-7 col-8">
                            <button type="submit" class="btn btn-secondary">@Html.Sitecore().Dictionary("/Accounts/Edit Profile/Button Logout", "Logout")</button>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="manageAcBoxPd">
                <h4 class="txt-orange mb-3">@Html.Sitecore().Dictionary("/Accounts/Login/Heading", "Manage Your Account")</h4>
                @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @class = "form-signin" }))
                {
                    @Html.AddUniqueFormId()
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group row no-gutters @Html.ValidationErrorFor(x => x.LoginName, "has-error")">
                        <label for="inputID1" class="col-sm-5 col-form-label">
                            @Html.Sitecore().Dictionary("/Accounts/Login/Customer ID", "Customer ID")
                        </label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control", id = "LoginName", required = "required" })
                            @Html.ValidationMessageFor(x => x.LoginName, "", new { @class = "help-block" }, "p")
                        </div>
                    </div>
                    <div class="form-group row no-gutters">
                        <label for="inputPassword2" class="col-sm-5 col-form-label">
                            @Html.Sitecore().Dictionary("/Common/Password", "Password")
                        </label>
                        <div class="col-sm-7">
                            @Html.PasswordFor(x => x.Password, new
                       {
                           @class = "form-control",
                           id = "registerPassword",
                           @autocomplete = "off",
                           required = "required"
                       })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                        </div>
                    </div>
                    <div class="form-group row no-gutters @Html.ValidationErrorFor(x => x.Captcha, "has-error")">
                        <div class="col-5">
                            <label for="" class="">@Html.Sitecore().Dictionary("/Accounts/Register/Captcha", "Captcha") <span class="required">*</span></label>
                        </div>
                        <div class="col-7" style="font-size: 12px">
                            @Html.Captcha("Try another", "Enter the text you see above:", 4, "Is required field", true)
                            @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck1" type="checkbox" name="RememberMe">
                                <label class="form-check-label" for="gridCheck1">
                                    @Html.Sitecore().Dictionary("/Accounts/Login/Remember me", "Remember me")
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Html.Sitecore().Dictionary("/sitecore/content/Electricity/Global/Dictionary/Other Redirect URL/Login/Forgot Password URL", "/ForgotPassword")" title="Forgot Password" class="forgotPassLink">
                                @Html.Sitecore().Dictionary("/Accounts/Login/Forgot Password", "Forgot Password?")
                            </a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-5 pr-md-0 mb-2">
                            <button type="submit" class="btn btn-primary w-100">@Html.Sitecore().Dictionary("/Accounts/Login/Button/Sign in", "Sign in")</button>
                        </div>
                        <div class="col-sm-6 col-md-7">
                            <a href="@Html.Sitecore().Dictionary("/AccountServices/Login/Quick Bill Pay link", "/myaccount/quick-bill-pay")">
                                <button type="button" class="btn btn-secondary w-100">@Html.Sitecore().Dictionary("/AccountServices/Login/Quick Bill Pay", "Quick Bill Pay")</button>
                            </a>
                        </div>
                    </div>
                    <div class="form-group row" id="LoginNewEnquiryConnect">
                        <div class="col-sm-6 col-md-5 pr-md-0 mb-2">
                            @*<a href="@Html.Sitecore().Dictionary("/AccountServices/Login/New Enquiry link", "/myaccount/new-enquiry")">*@
                            <button type="button" class="btn btn-secondary w-100" data-toggle="modal" data-target="#InquiryTypePopup">@Html.Sitecore().Dictionary("/AccountServices/Login/New Inquiry", "New Inquiry")</button>
                            @*</a>*@
                        </div>
                        <div class="col-sm-6 col-md-7">
                            @*<a href="@Html.Sitecore().Dictionary("/AccountServices/Login/New Connection link", "/myaccount/new-connection")">*@
                            <button type="button" class="btn btn-secondary w-100" data-toggle="modal" data-target="#ERegistrationPopup">@Html.Sitecore().Dictionary("/AccountServices/Login/New Connection", "E-Registration")</button>
                            @*</a>*@
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="col-form-label">
                                @Html.Sitecore().Dictionary("/Accounts/Login/Not Yet Signed Up", "Not Yet Signed Up?")&nbsp;&nbsp;
                            </label>
                            <a href="@Html.Sitecore().Dictionary("/Accounts/Login/Registration URL", "/myaccount/png-registration")" class="registerLink">
                                @Html.Sitecore().Dictionary("/Accounts/Login/Button/Register Now", "Register Now")
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>


@*<div id="InquiryTypePopup" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select Inquiry Type</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                        @using (Html.BeginForm("SelectEnquiryType", "AdaniGas", FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style="color: #707070; font-size: 16px">
                                        @Html.RadioButton("EnquiryType", "CNG") CNG

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 col-sm-12" style="color: #707070; font-size: 16px">

                                        @Html.RadioButton("EnquiryType", "Domestic") Domestic
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-primary">Next</button>
                        }
                    </div>
            </div>
        </div>
    </div>*@










