@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.NameTransferAdminRegistation



<section class="name-transfer">
    <div class="container">
        <div>
            @using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "name-transfer-Forgot-Password-step1", @class = "name-transfer-Forgot-Password-step1" }))
            {
                @Html.AddUniqueFormId()
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="panel">
                    <div class="row">
                        <div class="row col-12">

                            @*<div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label for="">Register Admin Name</label>
                                        @Html.DropDownListFor(x => Model.Name, new SelectList(Model.GetAdminRegisterNamelist, "Text", "Text"), "--Please Select--", htmlAttributes: new { @class = "form-control reset-control col-12", id = "NameTransferAdminRegisterNamelist" })
                                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "help-block" }, "p")
                                    </div>
                                </div>*@

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="">Registerd Mobile Number</label>
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control reset-control", id = "MobileNumber", required = "required", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="">Registerd Email ID</label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control reset-control", id = "Email", required = "required", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>

                            @*<div class="col-lg-6 col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label for="">Enter Old Password:</label>
                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control reset-control", id = "Email", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6"style="display:none">
                                    <div class="form-group">
                                        <label for="">Enter New  Password:</label>
                                        @Html.PasswordFor(x => x.NameChangeNewPassword, new { @class = "form-control reset-control", id = "NewPassword", required = "required" })
                                        @Html.ValidationMessageFor(x => x.NameChangeNewPassword, "", new { @class = "help-block" }, "p")
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6"style="display:none">
                                    <div class="form-group">
                                        <label for="">Enter Confirm  Password:</label>
                                        @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @class = "form-control reset-control", id = "ConfirmNewPassword", required = "required" })
                                        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, "", new { @class = "help-block" }, "p")
                                    </div>
                                </div>*@

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary w-auto" name="updatepasswordproceed" value="Proceed" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>