@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts
@model Sitecore.Feature.Accounts.Models.NewInq
@{

    ViewBag.Title = "New Enquiry";

}
<style>
    .danger {
        color: red;
    }

    .activeType {
        font-weight: bold !important;
    }

    .dropdownheight {
        height: 38px !important;
    }
</style>

<div class="pageContent bg-white py-5">
    <div class="container">
        @*<div class="headerfullbanner">
                <div class="container">
                    <div class="banner-title">
                        <div class="overlay"></div>
                        <h2>Inquiry for a New Connection</h2>
                    </div>
                </div>
            </div>*@
        <div class="">
            <div class="innerpage">
                <div class="inquiryform new-conn_form">
                    <div class="clearfix"></div>
                    <div class="frm-bx1 row">
                        <div class="col-md-8 p-4 bg-gray">
                            @using (Html.BeginForm())
                            {
                                <div class="formboxx row">
                                    <div class="col-md-2 mb-3">
                                        <div>
                                            <div>
                                                <label>Title :</label>
                                            </div>
                                            <div>
                                                <select class="form-control dropdownheight" id="Title" name="Title">
                                                    <option>Select Value</option>
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                                    <option>Ms.</option>
                                                </select>
                                                <label id="TitleMessage" style="color:red; display:none">Title Required.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <div>
                                            <div>
                                                <label>First Name* : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.Name_first, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Name_first, null, new { @class = "danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-5 mb-3">
                                        <div>
                                            <label>Last Name* : </label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(model => model.Name_last, null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Name_last, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-md-8 mb-3">
                                        <div>
                                            <div>
                                                <label>Contact Number* : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.Mob_number, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Mob_number, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-md-8 mb-3">
                                        <div>
                                            <div>
                                                <label id="email-label">Email-ID : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.Smtp_addr, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Smtp_addr, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="formboxx row">
                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>City* : </label>
                                            </div>
                                            <div>
                                                @Html.DropDownListFor(model => model.Regioarea, new SelectList(ViewBag.City, "CityId", "CityName"), "Select Value", new { @class = "form-control dropdownheight" })
                                                @Html.ValidationMessageFor(model => model.Regioarea, null, new { @class = "danger" })
                                                @Html.HiddenFor(model => model.City1, (string)ViewBag.City1)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>Postal Code* : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.Post_code1, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Post_code1, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>Region* : </label>
                                            </div>
                                            <div>
                                                @Html.DropDownListFor(model => model.RegioGroup, new SelectList(ViewBag.Region, "RegionId", "RegionName"), "Select Value", new { @class = "form-control dropdownheight" })
                                                @Html.ValidationMessageFor(model => model.RegioGroup, null, new { @class = "danger" })
                                                @Html.HiddenFor(model => model.GroupDesc, (string)ViewBag.GroupDesc)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="formboxx row">
                                    @* <div class="col-md-12 mb-3">
                                            <div>
                                                <div>
                                                    <label>House Type* : </label>
                                                </div>
                                                <div>
                                                    <select class="form-control dropdownheight" id="HouseTypeId" name="HouseTypeId">
                                                        <option value="9023">Builder</option>
                                                        <option value="9024">Individual</option>
                                                        <option value="9025">Bulk</option>
                                                    </select>
                                                    @Html.Hidden("HouseTypeValue")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />*@
                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>Society* : </label>
                                            </div>
                                            <div>
                                                @Html.DropDownListFor(model => model.Society, new SelectList(ViewBag.Society, "SocietyId", "SocietyName"), "Select Value", new { @class = "form-control dropdownheight" })
                                                @Html.ValidationMessageFor(model => model.Society, null, new { @class = "danger" })
                                                @Html.HiddenFor(model => model.Street)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>House No./ Flat No* : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.House_num1, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.House_num1, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>Address Line 1* : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.Str_suppl1, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Str_suppl1, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />

                                    <div class="col-md-12 mb-3">
                                        <div>
                                            <div>
                                                <label>Address Line 2 : </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(model => model.Str_suppl2, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Str_suppl2, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-8 mb-3">
                                        <div>
                                            <div>
                                                <label>OTP* : </label>
                                            </div>
                                            <div>
                                                @Html.TextBox("OTP", null, new { @class = "form-control" })
                                                @Html.ValidationMessage("OTP", null, new { @class = "danger" })
                                                @Html.Hidden("RealOTP")
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4 mb-3">
                                        <label class="w-100"></label>
                                        <button type="button" id="btnSendOtp" class="btn btn-secondary">Send OTP</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <button type="submit" class="btn btn-primary" onclick="return AssignHiddenValues()">Save</button>
                            }
                        </div>

                        <!--end formboxx-->
                        <div class=" col-md-4 rightsidebar">
                            <div class="widgetbox">
                                <img src="/Images/AdaniGas/new-enquiry/img1.jpg" class="w-100" />
                                <div class="clearfix"></div>
                            </div>
                            <div class="widgetbox">
                                <img src="/Images/AdaniGas/new-enquiry/img2.jpg" class="w-100">
                                <div class="clearfix"></div>
                            </div>
                            <div class="widgetbox">
                                <img src="/Images/AdaniGas/new-enquiry/img3.jpg" class="w-100">
                                <div class="clearfix"></div>
                            </div>
                            <div class="widgetbox mb-0">
                                <img src="/Images/AdaniGas/new-enquiry/img4.jpg" class="w-100">
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--end-->



                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- end inquiryform-->
            
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    var jQ = jQuery.noConflict(true);
    jQ(document).ready(function () {
        if ('@ViewBag.Message' != '') {
            jQuery.noConflict();
            jQ('#msgarea').html('@ViewBag.Message');
            jQ('#Messagepopup1').modal('show');
        }

        jQ(".chk-connection").change(function () {
            var currentselect = jQ(this).val();
            jQ('.activeType').removeClass('activeType');

            jQ(".chk-connection").each(function () {
                if (currentselect != jQ(this).val()) {
                    jQ(this).attr('checked', false);
                    jQ("#" + currentselect).addClass('activeType');
                }
            });

            jQ(this).attr('checked', true);
        })
    });

    jQ("#Regioarea").change(function () {
        jQ("#RegioGroup").empty().append();
        var cityid = jQ(this).val();
        jQ.ajax({
            type: "GET",
            url: "/api/AdaniGas/GetRegion",
            data: { "CityId": cityid },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                jQ.each(data, function () {
                    jQ("#RegioGroup").append(jQ("<option/>").val(this.RegionId).text(this.RegionName));
                });

                var areaId = jQ("option:selected", jQ("#RegioGroup")).val();
                LoadSociety(areaId);
            },
            failure: function () {
                alert("Failed!");
            }
        });
    })

    jQ("#RegioGroup").change(function () {
        var areaId = jQ(this).val();
        LoadSociety(areaId);
    })

    function LoadSociety(areaId) {
        jQ("#Society").empty().append();

        jQ.ajax({
            type: "GET",
            url: "/api/AdaniGas/GetSociety",
            data: { "AreaId": areaId },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                jQ.each(data, function () {
                    jQ("#Society").append(jQ("<option/>").val(this.SocietyId).text(this.SocietyName));
                });
            },
            failure: function () {
                alert("Failed!");
            }
        });
    }

    jQ(document).ready(function () {
        jQ("#btnSendOtp").click(function () {
            if (jQ("#Mob_number").val() != '') {
                jQ.ajax({
                    type: "GET",
                    url: "/api/AdaniGas/GetOTP",
                    data: { "MobileNo": jQ("#Mob_number").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        jQ("#RealOTP").val(data);
                        var message = "The OTP has been sent to " + jQ("#Mob_number").val() + " It is valid for 10 minutes.";
                        //alert(message);
                        jQuery.noConflict();
                        jQ('#msgarea').html(message);
                        jQ('#Messagepopup1').modal('show');
                    },
                    failure: function () {
                        alert("Failed!");
                    }
                });
            }
        })
    });

    function AssignHiddenValues() {
        jQ("#Street").val(jQ("option:selected", jQ("#Society")).text());
        jQ("#City1").val(jQ("option:selected", jQ("#Regioarea")).text());
        jQ("#GroupDesc").val(jQ("option:selected", jQ("#RegioGroup")).text());
        //jQ("#HouseTypeValue").val(jQ("option:selected", jQ("#HouseTypeId")).text());

        if (jQ("option:selected", jQ("#Title")).text() == "Select Value") {
            jQ("#TitleMessage").show();
            jQ("#Title").css("border-color", "red");
            return false;
        }
        else {
            jQ("#Title").css("border-color", "#ccc");
            jQ("#TitleMessage").hide();
            return true;
        }
    }
    </script>
