@model AdaniWeb.Models.NewRegistration
@{
    ViewBag.Title = "New Enquiry";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@{
    var strTitle = "";
    var strFirstName = "";
    var varArr = Model.NAME_FIRST.Split('.').ToList();
    if (varArr.Count() > 0)
    {
        strTitle = varArr[0] + ".";
        strFirstName = varArr[1];
    }
}
<style>
    .danger {
        color: red;
    }

    .dropdownheight {
        height: 45px !important;
    }
</style>

<script src="~/js/Adani.js"></script>

<div class="headerfullbanner">
    <div class="container">
        <div class="banner-title">
            <div class="overlay"></div>
            <h2>Domestic - New Master Page to be created</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="innerpage">
        <div class="inquiryform">

            <div id="fillinformation">
                <h4 class="title">Fill in your Information</h4>
                <br>
                <p>Domestic Details</p>

                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 inquiryform-box">

                    <div class="col-md-2">
                        <div id="label">
                            <div id="left-tab">
                                <label id="dropdown-label">Title  </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBox("Title", strTitle, new { @class = "form-control" })
                                @* <select id="dropdown">
                                    <option value="1">Mr. </option>
                                    <option value="2">Mrs. </option>
                                </select>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="label">
                            <div id="left-tab">
                                <label id="firstname-label">First Name* </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBox("NAME_FIRST", strFirstName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="surname-label">Surname * </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.NAME_LAST, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="number-label">Contact Number * </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.MOBILE, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-md-6">
                        <div id="label">
                            <div id="left-tab">
                                <label id="email-label">Email-ID * </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="clearfix"></div>
                </div>
                <!--end nquiryform-box-->
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 inquiryform-box">

                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="houseno-label">House No.* </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.HOUSE_NUM1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="plotno-label">House Type:*</label>
                            </div>
                            <div id="right-tab">
                                <select class="form-control dropdownheight" id="HouseTypeId" name="HouseTypeId">
                                    <option>Select Value</option>
                                    <option value="9023">Builder</option>
                                     <option value="9025">Bulk</option>
                                    <option value="9024">Individual</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-md-8">
                        <div id="label">
                            <div id="left-tab">
                                <label id="Address-label">Address Line 1* : </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.STR_SUPPL1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-8">
                        <div id="label">
                            <div id="left-tab">
                                <label id="Address-label">Address Line 2 : </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.STR_SUPPL2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="number-label">postal code </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.POST_CODE1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="number-label">Region </label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.LOCATION, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="label">
                            <div id="left-tab">
                                <label id="dropdown-label">City</label>
                            </div>
                            <div id="right-tab">
                                @Html.TextBoxFor(model => model.CITY1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end nquiryform-box-->

                <div class="clearfix"></div>
                <br>
                <p>Details of LPG Connection of Buyer</p>
                <div class="inquiryform-box">
                    <h6>Does Buyer own Liquefied Petroleum Gas(LPG) household connection provide by Public sector Oil Marketing Comoany(PSOMC) under Public Distrbution System,*</h6>
                    <div class="clearfix"></div>
                    <div class="informationcheckbox">
                        <label class="iconmark">
                            Yes
                  <input type="checkbox" value="Yes" class="chk-LPBBuyerconnection" id="chkLPGBuyerYes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="iconmark">
                            No
                  <input type="checkbox" checked="checked" value="No" class="chk-LPBBuyerconnection">
                            <span class="checkmark"></span>
                        </label>

                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div id="customerdetails" style="display: none">
                        <div class="col-md-5">
                            <div id="label">
                                <div id="left-tab">
                                    <label id="number-label">if YES, Kindly provide LPG Consumer No. *</label>
                                </div>
                                <div id="right-tab">
                                    <input type="text" id="ConsumerName" placeholder="xxxxxxxxxx" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div id="left-tab">
                                <label>Name of Company</label>
                            </div>
                            <div class="informationcheckbox">
                                <div id="right-tab">
                                    <label class="iconmark">
                                        IOCL
                  <input type="checkbox" value="IOCL" class="chk-Company">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="iconmark">
                                        BPCL
                  <input type="checkbox" value="BPCL" class="chk-Company">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="iconmark">
                                        HPCL
                  <input type="checkbox" value="HPCL" class="chk-Company">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end nquiryform-box-->
                <div class="clearfix"></div>
                <br>
                <p>Advance Request</p>

                <div class="inquiryform-box">
                    <h6>I Would like to take Extra Bathroom point/Extra Kitchen point along single PNG connection</h6>
                    <div class="clearfix"></div>
                    <div class="informationcheckbox">
                        <label class="iconmark">
                            Yes
                  <input type="checkbox" value="Yes" id="chkAdvancePoint" class="chk-advanceRequest">
                            <span class="checkmark"></span>
                        </label>
                        <label class="iconmark">
                            No
                  <input type="checkbox" checked="checked" value="No" class="chk-advanceRequest">
                            <span class="checkmark"></span>
                        </label>

                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div id="div-advance" style="display: none">
                        <div class="allpoints">
                            <div class="col-md-4">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="bathroom-label">Number of Bathroom point</label>
                                    </div>
                                    <div id="right-tab">
                                        <select class="form-control" id="BathroomPointsdropdown" name="BathroomPoints" style="width: 30%;">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <b>Points</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="label">
                                    <div id="left-tab">
                                        <label id="kitchen-label">Number of Kitchen point</label>
                                    </div>
                                    <div id="right-tab">
                                        <select class="form-control" id="KitchenPointsdropdown" name="KitchenPoints" style="width: 30%;">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <b>Points</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end nquiryform-box-->
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 inquiryform-box">
                    @using (Html.BeginForm("CreateUser", "Enquiry", FormMethod.Get))
                    { 
                        @Html.Hidden("HouseType")
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <label>User ID* </label>
                                </div>
                                <div>
                                    @Html.TextBox("UserName", Model.MOBILE, new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <button type="button" id="VerifyUser" name="VerifyUser" onclick="VerifyUserDetails()">Verify</button>
                        @Html.Hidden("VerifyUserStatus", "F")
                        @Html.Hidden("VerifyPassword", "F")
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <label>Password* </label>
                                </div>
                                <div>
                                    @Html.Password("Password", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        
                        @Html.Hidden("EnquiryNo", Model.COMPNO)
                        @Html.Hidden("Patner", Model.PARTNER)
                        @Html.Hidden("CustomerNo")
                        @Html.Hidden("Company")
                        @Html.Hidden("KitchenPoints")
                        @Html.Hidden("BathroomPints")
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <button type="submit" onclick="return ValidateUser();">Save</button>
                        </div>
                        
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

<div id="Messagepopup1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body" style="color: black; font-family: Verdana; font-weight: bold">
                <p id="msgarea">
                </p>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>
    function ValidateUser() {
        var consumername = "";
        if ($("#chkLPGBuyerYes").prop('checked') == true) {
            consumername = $("#ConsumerName").val();
            var company = $('.chk-Company').filter(':checked').length;

            if (consumername == '' || company == 0) {
                var message = "Please Enter Consumer Name or Select Company.";
                jQuery.noConflict();
                $('#msgarea').html(message);
                $('#Messagepopup1').modal('show');
                return false;
            }
        }

        if ($("#chkAdvancePoint").prop('checked') == true) {
            var kitechenpoints = $("#KitchenPointsdropdown").val();
            var bathroompoints = $("#BathroomPointsdropdown").val();
            if (kitechenpoints == '0' && bathroompoints == '0') {
                var message = "Please select Kitchen or Bathroom Points.";
                jQuery.noConflict();
                $('#msgarea').html(message);
                $('#Messagepopup1').modal('show');
                return false;
            }
        }

        if ($("option:selected", $("#HouseTypeId")).text() == "Select Value") {
            var message = "Please Select House Type.";
            jQuery.noConflict();
            $('#msgarea').html(message);
            $('#Messagepopup1').modal('show');
            return false;
        }

        var password = $("#Password").val();
        var flag = $("#VerifyUserStatus").val();
        if (password == '' || flag == "F") {
            var message = "Please enter Password or Please Verify user.";
            jQuery.noConflict();
            $('#msgarea').html(message);
            $('#Messagepopup1').modal('show');

            return false;
        }

        

        $("#CustomerNo").val(consumername);
        var companyname = $('.chk-Company:checkbox:checked').val();
        $("#Company").val(companyname);
        $("#KitchenPoints").val(kitechenpoints);
        $("#BathroomPints").val(bathroompoints);
        // HOUSE TYPE
        $("#HouseType").val($("option:selected", $("#HouseTypeId")).text());

    }

    function VerifyUserDetails() {
        var username = $("#UserName").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("VerifyUser", "Enquiry")',
            data: { "username": username },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                $("#VerifyUserStatus").val("S");
                var message = data.Ev_Message;
                if (data.Ev_Msg_Flag == "F") {
                    message = "User Already exists. Please enter the password to continue";
                    $("#VerifyPassword").val("S");
                }
                jQuery.noConflict();
                $('#msgarea').html(message);
                $('#Messagepopup1').modal('show');
            },
            failure: function () {
                $("#VerifyUserStatus", "F");
                alert("Failed!");
            }
        });
    }

    $(document).ready(function () {
        $(".chk-LPBBuyerconnection").change(function () {
            var currentselect = $(this).val();
            $(".chk-LPBBuyerconnection").each(function () {
                if (currentselect != $(this).val()) {
                    $(this).attr('checked', false);
                }
            });

            if (currentselect == "Yes") {
                $("#customerdetails").show();
            }
            else {
                $("#customerdetails").hide();
            }
        })

        $(".chk-Company").change(function () {
            var currentselect = $(this).val();
            $(".chk-Company").each(function () {
                if (currentselect != $(this).val()) {
                    $(this).attr('checked', false);
                }
            });
        })

        $(".chk-advanceRequest").change(function () {
            var currentselect = $(this).val();
            $(".chk-advanceRequest").each(function () {
                if (currentselect != $(this).val()) {
                    $(this).attr('checked', false);
                }
            });

            if (currentselect == "Yes") {
                $("#div-advance").show();
            }
            else {
                $("#div-advance").hide();
            }
        })
    });


    $("#Password").change(function () {
        if (!PasswordCheck($(this).val())) {
            var message = "Password should contain at least 1 char, 1 Special char, 1 number and the min length should be 8 char.";
            jQuery.noConflict();
            $('#msgarea').html(message);
            $('#Messagepopup1').modal('show');
            $(this).val('');
        }
        else {
            if ($("#VerifyPassword").val() == "S") {
                var password = $(this).val();
                var username = $("#UserName").val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("VerifyPassword", "Enquiry")',
                    data: { "username": username, "password": password },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == false) {
                            var message = "Please enter the correct password.";
                            jQuery.noConflict();
                            $('#msgarea').html(message);
                            $('#Messagepopup1').modal('show');
                            $(this).val('');
                        }

                    },
                    failure: function () {
                        alert("Failed!");
                    }
                });
            }
        }
    });

</script>
