@model Sitecore.Feature.Accounts.Models.NewRegistration
@{
    ViewBag.Title = "NewRegistrationDomesticSecond";
}

@{
    string strDate = Model.Date.Substring(0, 4) + "-" + Model.Date.Substring(4, 2) + "-" + Model.Date.Substring(6, 2);
}
<style>
    .danger {
        color: red;
    }
    /*=====================
## header banner
=======================*/
    .headerbanner {
        padding: 1em;
        background: #5f2c82;
        background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
        background: linear-gradient(to right, #49a09d, #5f2c82);
    }



        .headerbanner button {
            width: 100%;
        }

        .headerbanner .btn-group {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }

        .headerbanner .btn-bannner {
            background: #ffffff;
            color: #003e9d;
            text-align: left;
            padding: 5px;
        }

        .headerbanner .dropdown-menu {
            min-width: 320px;
            padding: 5px;
        }

    .addressbox {
        background: #ffffff;
        padding: 1em;
        margin-top: 20px;
        line-height: 26px;
    }

    .newconnection .btn-default {
        background: transparent;
        color: #ffffff;
        border: 1px solid #fff;
    }

    .newconnectionbanner {
        background-image: url(../img/gascat-3.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 2.8em;
        margin-top: 20px;
    }

        .newconnectionbanner h2 {
            font-size: 42px;
            text-transform: capitalize;
            margin: 0;
            font-weight: bold;
            color: #ffffff;
        }

            .newconnectionbanner h2 span {
                font-size: 26px;
                font-weight: 400;
                color: #ffffff;
            }

    .addressbox {
        color: #003e9d;
        font-size: 16px;
    }

    .allDetails {
        margin-top: 20px;
    }

        .allDetails .fa {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            padding-bottom: 5px;
        }

    .allDetailstop {
        padding: 1em;
        color: #165db7;
        font-size: 18px;
    }

        .allDetailstop p {
            color: #165db7;
            font-size: 20px;
            border-bottom: 2px solid #165db7;
            display: inline-block;
            padding-bottom: 5px;
        }

    .boxbgcolor span {
        color: #2167bc;
        font-size: 15px;
    }

    .boxbgcolor {
        background: #eef1f6;
        padding: 1em 1.5em;
        color: #000;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }

        .boxbgcolor p {
            color: #000;
            font-size: 14px;
        }

    .boxbgcolork {
        background: #e19c58;
        padding: 1em 1.5em;
        color: #000;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    .companyaddress {
    }
    .progressbar {
        counter-reset: step;
        width: 100%;
        position: relative;
        height: 100px;
        margin-top: 2rem;
    }

        .progressbar li {
            list-style-type: none;
            width: 14%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
                z-index: 1;
                position: relative;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: 0;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: #ee7f26;
            }

                .progressbar li.active:before {
                    border-color: #ee7f26;
                }

                .progressbar li.active + li:after {
                    background-color: #ee7f26;
                }

</style>
<div class="clearfix"></div>
<section class="bg-white pt-5">
    <div class="container">
        <div class="headerbanner">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-bannner dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Domestic
                        </button>
                        @*<div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Domestic 0</a>
                            <a class="dropdown-item" href="#">Domestic 1</a>
                            <a class="dropdown-item" href="#">Domestic 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>*@
                    </div>
                    <div class="clearfix"></div>
                    <div class="addressbox">
                        <div class="row">
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10"><b>User ID: </b>@Html.DisplayFor(model => model.MOBILE, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.NAME_FIRST, new { @class = "form-control" }) @Html.DisplayFor(model => model.NAME_LAST, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.MOBILE, new { @class = "form-control" })</div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-xs-2 col-sm-2"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-10 col-sm-10">@Html.DisplayFor(model => model.EMAIL, new { @class = "form-control" })</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-md-8 col-sm-8">
                    @*<div class="newconnection pull-right">
                        <button type="button" class="btn btn-default">CREATE NEW CONNECTION</button>
                    </div>*@
                    <div class="clearfix"></div>
                    <div class="newconnectionbanner">
                        <h2>adani | <span>Gas</span></h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--end headerbanner-->
        <div class="clearfix"></div>

        <section class="timeline">

            <div class="clearfix"></div>
        </section>

        <div class="clearfix"></div>



        <!--end container-->
    </div>
</section>
    <section class="bg-white py-5">
        <div class="container">
            <div class="container">
                <ul class="progressbar">
                    <li class="active">Inquiry Details</li>
                    <li>Document Upload</li>
                    <li>Payment</li>
                    <li>Document Verification</li>
                    <li>Installation In Progress</li>
                    <li>Connection Complete</li>
                    <li>Feedback</li>
                </ul>
            </div>

            @*<div class="innerpage">*@
            <div class="inquiryform">
                <div class="allDetails">
                    <div class="row allDetailstop">
                        <div class="col-md-4 ">
                            <p>Domestic Details</p>
                        </div>
                        <div class="col-md-8 text-right"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="companyaddress boxbgcolor row">
                            <div class="col-md-8 col-sm-6">
                                <span>Customer</span><br />
                                <b>@Html.DisplayFor(model => model.NAME_FIRST, new { @class = "form-control" }) @Html.DisplayFor(model => model.NAME_LAST, new { @class = "form-control" })</b><br />
                                <p>
                                    @Html.DisplayFor(model => model.HOUSE_NUM1, new { @class = "form-control" })<br />
                                    @Html.DisplayFor(model => model.STR_SUPPL1, new { @class = "form-control" })<br />
                                    @Html.DisplayFor(model => model.STR_SUPPL2, new { @class = "form-control" })<br />
                                    @Html.DisplayFor(model => model.CITY1, new { @class = "form-control" })<br />
                                    @Html.DisplayFor(model => model.LOCATION, new { @class = "form-control" })<br />
                                    @Html.Display("HouseType", (string)ViewBag.HouseType, new { @class = "form-control" })
                                </p>
                            </div>
                            <div class="col-md-4 text-right col-sm-6">
                                Inquiry No : <b>@Html.DisplayFor(model => model.COMPNO, new { @class = "form-control" })</b><br />
                                Date :<b> @strDate</b>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-12 allDetailstop">
                        <div class="">
                            <p>LPG Connection of Buyer</p>
                        </div>
                        <div class="col-md-8 text-right"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="boxbgcolor">
                                    <span>LPG Consumer No :</span><br />
                                    <b>@ViewBag.CustomerNo</b><br />

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="boxbgcolor">
                                    <span>Name of the company</span><br />
                                    <b>@ViewBag.Company</b><br />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row allDetailstop">
                        <div class="col-md-4 ">
                            <p>Advance Request</p>
                        </div>
                        <div class="col-md-8 text-right"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">

                                <div class="boxbgcolor">
                                    <div class="col-md-12">
                                        <span>I would like to take extra Bathroom point/Kitchen Point along with single PNG connection</span><br />
                                        @if (!string.IsNullOrEmpty((string)ViewBag.BathroomPints))
                                        {
                                            <b>Yes</b>
                                        }
                                        else
                                        {
                                            <b>No</b>
                                        }
                                        <br />
                                        <br />
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="boxbgcolor">
                                    <div class="col-md-6 col-sm-6">
                                        <span>Number of Bathroom Points</span><br />
                                        <b>@ViewBag.BathroomPints Bathroom Point</b><br />
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <span>Number of Kitchen Points</span><br />
                                        <b>@ViewBag.KitchenPoints Kitchen Point</b><br />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="document-table">
                @using (Html.BeginForm("DocumentUpload", "AdaniGas", FormMethod.Get, new { }))
                {
                    <div class="col-md-12">
                        @Html.Hidden("EnquiryNo", Model.COMPNO)

                        <button class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
        <!--end container-->
    </section>
    <div class="clearfix"></div>



