@{
    string url = "https://secure.paytm.in/oltp-web/processTransaction?orderid='" + @ViewBag.txnid + "'";
}
<form method="post" action=@url name='f1'>
    <table border='1'>
        <tbody>
            <input type='hidden' name='MERC_UNQ_REF'
                value='${payment.custNo}|${payment.billNo}' />
            <input type='hidden'
                name='MID' value='ADANIA30158054352006' />
            <input type='hidden'
                name='CHANNEL_ID' value='WAP' />
            <input type='hidden'
                name='INDUSTRY_TYPE_ID' value='Retail' />
            <input
				type='hidden' name='ORDER_ID' value='@ViewBag.ORDER_ID' />
            <input
                type='hidden' name='WEBSITE' value='WEBSTAGING' />
            <input 
				type='hidden' name='CUST_ID' value='@ViewBag.CUST_ID' />
            <input
				type='hidden' name='TXN_AMOUNT' value='@ViewBag.TXN_AMOUNT' />
            <input
                type='hidden' name='CALLBACK_URL' value='http://208.85.249.167:8030/Enquiry/PaymentSuccess' />
            <input
                type='hidden' name='CHECKSUMHASH' value='@ViewBag.HashValue' />
            <input
                id='paytmBtn' type='submit' value='submit' style='display: none' />
        </tbody>
    </table>
    <script type='text/javascript'>document.f1.submit();</script>
</form>
