
    <form method="post" action='https://sandboxsecure.payu.in/_payment' name='f1'>
        <table border='1'>
            <tbody>
                <input type='hidden' name='key' value='qdHof2'>
                <input type='hidden' name='txnid' value='@ViewBag.txnid'>
                @*<input type='hidden' name='txnid' value='123456'>*@
                <input type='hidden' name='amount' value='@ViewBag.OutstandingAmountPost'>
                @*<input type='hidden' name='amount' value='1000.00'>*@
                <input type='hidden' name='productinfo' value='GasBill'>
                <input type='hidden' name='firstname' value="@ViewBag.Fname">
                @*<input type='hidden' name='firstname' value='Mahesh'>*@
                <input type='hidden' name='service_provider' value='payu_paisa'> 
                <input type='hidden' name='email' value='-'>
                <input type='hidden' name='phone' value='-'>
                <input type='hidden' name='udf1' value="@ViewBag.ActualBpNo">
                @*<input type='hidden' name='surl' value='https://germinant-visibilit.000webhostapp.com/success_payu.php'>*@
                <input type='hidden' name='surl' value='http://208.85.249.167:8030/Enquiry/PaymentSuccess'>
                <input type='hidden' name='furl' value='http://208.85.249.167:8030/Enquiry/PaymentFail'>
                <input type='hidden' name='curl' value='http://208.85.249.167:8030/Enquiry/PaymentFail'>
                <input type='hidden' name='hash' value='@ViewBag.HashValue'>
            </tbody>
            @*<input type='hidden' name='hash' value='6ed13a11a6a5b4bcab7fc9b7357e880cc75cb8e52c67543169ccaa9e65fae4f6fc8e5f513c3999ce8a493f109ef6aded3e3b51993758a907376153b340219f71'>*@</tbody>
        </table>

        <script type='text/javascript'>document.f1.submit();</script>
    </form>


