@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Models
@model Sitecore.Feature.Accounts.Models.GasPrice
@{
    var pngtype = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Parameters["PNGType"];
}

@if (pngtype == "Residential")
{
<div class="liveGasPrice" id="checkgaspricediv">
    <h3 class="txt-white">Gas Price Live&nbsp;&nbsp;<span class="circle-red"></span></h3>
    <div class="selectBox">
        @Html.DropDownListFor(x => Model.SelectedCity, new SelectList(Model.CityListD, "Value", "Value"), "Select", htmlAttributes: new { @class = "customSelect", id = "ResidentialCity" })
    </div>
    <!--  Price will appear here -->

   
    @foreach (var city in Model.CityWisePrice)
    {
    <div class="btm-position residential @city.City.ToLower()" style="display:none; color:white;">

        @if (!string.IsNullOrEmpty(city.DomesticCityWisePrice.Price_1))
        {
            <span>@Html.Sitecore().Dictionary("/PNG/EffectiveFrom", "w.e.f") @city.DomesticCityWisePrice.Effectice_Date_1</span>
            <div class="priceDetails">
                <div><span id="ResidentialPrice" class="priceTxt">@Html.Sitecore().Dictionary("/PNG/Rs", "Rs.") @city.DomesticCityWisePrice.Price_1</span><br>@Html.Sitecore().Dictionary("/PNG/Unit", "per MMBTU")</div>
                <div>@Html.Sitecore().Dictionary("/PNG/Taxs", "Exclusive of all Taxes")</div>
            </div>
        }
        @if (!string.IsNullOrEmpty(city.DomesticCityWisePrice.Price_2))
        {
            <span>@Html.Sitecore().Dictionary("/PNG/EffectiveFrom", "w.e.f") @city.DomesticCityWisePrice.Effectice_Date_2</span>
            <div class="priceDetails">
                <span class="titlePrice"><b>@city.DomesticCityWisePrice.Desc_2</b></span><br>
                <div><span id="ResidentialPrice" class="priceTxt">@Html.Sitecore().Dictionary("/PNG/Rs", "Rs.") @city.DomesticCityWisePrice.Price_2</span><br>@Html.Sitecore().Dictionary("/PNG/Unit", "per MMBTU")</div>
                <div>@Html.Sitecore().Dictionary("/PNG/Taxs", "Exclusive of all Taxes")</div>
            </div>

        }
        @if (!string.IsNullOrEmpty(city.DomesticCityWisePrice.Price_3))
        {
            <span>@Html.Sitecore().Dictionary("/PNG/EffectiveFrom", "w.e.f") @city.DomesticCityWisePrice.Effectice_Date_3</span>
            <div class="priceDetails">
                <span class="titlePrice"><b>@city.DomesticCityWisePrice.Desc_3</b></span><br>
                <div><span id="ResidentialPrice" class="priceTxt">@Html.Sitecore().Dictionary("/PNG/Rs", "Rs.") @city.DomesticCityWisePrice.Price_3</span><br>@Html.Sitecore().Dictionary("/PNG/Unit", "per MMBTU")</div>
                <div>@Html.Sitecore().Dictionary("/PNG/Taxs", "Exclusive of all Taxes")</div>
            </div>
            <p style="font-size:12px;">@Html.Sitecore().Dictionary("/PNG/Bi-monthly consumption", "*Bi-monthly consumption in Rs./MMBTU")</p>
        }
    </div>
    }

</div>
}

@if (pngtype == "Commercial")
{
    <div class="liveGasPrice" id="checkgaspricediv">

        <h3 class="txt-white">Gas Price Live&nbsp;&nbsp;<span class="circle-red"></span></h3>
        <p class="txt-white">As the prices are subject to change, from time to time, please contact marketing and business development representatives at our various offices.</p>
        

    </div>
}

@if (pngtype == "Industrial" )
{
    <div class="liveGasPrice" id="checkgaspricediv">
        <h3 class="txt-white">Gas Price Live&nbsp;&nbsp;<span class="circle-red"></span></h3>
        <p class="txt-white">As the prices are subject to change, from time to time, please contact marketing and business development representatives at our various offices.</p>
        
    </div>
}

@Html.Sitecore().Placeholder("collection-Control")













