@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.RegistrationInfoAdaniGas

@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "frmRegister", @class = "form-signin" }))
{
    @Html.AddUniqueFormId()
	@Html.AntiForgeryToken()
    <div class="pageContent">
        <div class="container">
<div class="row">
<div class="col-md-8">
             <div class="panel formStyle2">
                @if (!string.IsNullOrEmpty(Model.ReturnViewMessage))
                {
                    <p class="col-md-7" style="color:red;">
                        @Model.ReturnViewMessage
                    </p>
                }
                <p class="pb-md-3 float-sm-right">fields marked <span class="required">*</span> are mandatory</p>
                <div class="clearfix"></div>
                <!-- Sign up Form -->
                <form class="pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Select CustomerType", "Select Customer Type")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.DropDownListFor(x => Model.PartnerType, new SelectList(Model.PartnerTypeList, "Value", "Text"),"Please Select"
                                                        , htmlAttributes: new { @class = "form-control reset-control", id = "PartnerType", required = "required" })
                                    @Html.ValidationMessageFor(x => x.PartnerType, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.CustomerID, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/CustomerID", "Customer ID")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control reset-control", id = "CustomerID", required = "required" })
                                    @Html.ValidationMessageFor(x => x.CustomerID, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
      
                    <div class="row" id="domesticField">
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.FirstName, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/FirstName", "First Name")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.TextBoxFor(x => x.FirstName, new {@maxlength="50", @class = "form-control reset-control", id = "FirstName", required = "required" })
                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.LastName, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/LastName", "Last Name")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                        @Html.TextBoxFor(x => x.LastName, new { @maxlength = "50", @class = "form-control reset-control", id = "LastName", required = "required" })
                                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "help-block" }, "p")
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row" id="otherField">
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.OrganizationName, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/OrganizationName", "Organization Name")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.TextBoxFor(x => x.OrganizationName, new { @maxlength = "50", @class = "form-control reset-control", id = "OrganizationName", required = "required" })
                                    @Html.ValidationMessageFor(x => x.OrganizationName, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.Email, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/Email", "E-mail id")
                                    
                                </label>
                                <div class="inputField">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control reset-control", id = "Email"})
                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.MobileNumber, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/MobileNumber", "Mobile No.")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control reset-control", id = "MobileNumber", required = "required" })
                                    @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.Password, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Common/Password", "Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.PasswordFor(x => x.Password, new
                               {
                                   @class = "form-control reset-control",
                                   id = "registerPassword",
                                   @autocomplete = "off",
                                   required = "required"
                               })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.ConfirmPassword, "has-error")">
                                <label for="" class="inputLabel col-form-label">
                                    @Html.Sitecore().Dictionary("/Accounts/Register/Confirm Password", "Re-type Password")
                                    <span class="required">*</span>
                                </label>
                                <div class="inputField">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new
                               {
                                   @class = "form-control reset-control",
                                   id = "registerConfirmPassword",
                                   @autocomplete = "off",
                                   required = "required"
                               })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group @Html.ValidationErrorFor(x => x.Captcha, "has-error")">
                                <label for="" class="">@Html.Sitecore().Dictionary("/Accounts/Register/Captcha", "Captcha") <span class="required">*</span></label>
                                <div class="">
                                    @Html.Captcha("Try another", "Enter the text you see above:", 4, "Is required field", true)
                                    @Html.ValidationMessageFor(x => x.Captcha, "", new { @class = "help-block" }, "p")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Submit", "Submit")</button>
                            <button type="button" class="btn btn-secondary" id="btnReset" onclick="ResetElement('frmRegister')">@Html.Sitecore().Dictionary("/Accounts/Register/Button/Reset", "Reset")</button>
                        </div>
                    </div>
                </form>
            </div>
</div>
<div class="col-md-4">
<h3 class="heading pl-4 mb-3">Benefits of registering with us</h3>
<div class="bg-gradient-orange p-4">
<ul class="bullets-ul ml-4">
    <li> 24-hour access to your account</li>
    <li> View and pay your bill securely</li>
    <li> Enroll in paperless billing</li>
    <li> Choose your payment method</li>
    <li> Stop Services</li>
    <li> Request for after sales services</li>
    <li> Provide feedback</li>
    <li> Submit meter reading</li>
</ul>
</div>
</div>
</div>

        </div>
        <!-- /Page Content -->
    </div>
}
