@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Feature.Navigation.Platform
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    var ancestors = currentItem.Axes.GetAncestors().ToList();
    ancestors.Add(currentItem);
    ancestors = ancestors.Skip(2).ToList();
    var domestic = ancestors[1];
    var last = ancestors.LastOrDefault();
}
@if (currentItem != null)
{
    if (currentItem.TemplateID.Guid == Constant.CityToCityTemplateId)
    {
        <div class="container">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @foreach (Item ancestor in ancestors)
                    {
                        var pageUrl = Sitecore.Links.LinkManager.GetItemUrl(ancestor);
                        <li class="breadcrumb-item"><a href="@pageUrl">@ancestor.DisplayName</a></li>
                        if (ancestor.Equals(domestic))
                        {
                            break;
                        }
                    }
                    <li class="breadcrumb-item active" aria-current="page">@last.DisplayName</li>
                </ol>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @foreach(Item ancestor in ancestors)
                    {
                        if (ancestor.Equals(last))
                        {
                            <li class="breadcrumb-item active" aria-current="page">@ancestor.DisplayName</li>
                        }
                        else
                        {
                            var pageUrl = Sitecore.Links.LinkManager.GetItemUrl(ancestor);
                            <li class="breadcrumb-item"><a href = "@pageUrl" > @ancestor.DisplayName </a></li>
                        }

                     }
                </ol>
            </div>
        </div>
    }
}
