@{
    Layout = null;
}

@using Adani.SuperApp.Airport.Feature.Navigation.Platform.Models
@model Adani.SuperApp.Airport.Feature.Navigation.Platform.Models.AirportHeader


@{
    if (Model.NavigationLevel1 == null)
    {
        return;
    }
}


<ul>
    @foreach (var level1 in Model.NavigationLevel1)
    {

        if (level1.NavigationLevel2 != null && level1.NavigationLevel2.Count() > 0)
        {
            <li>
                <a href="#"
                   class="icon-button flat"
                   id="dropdownMenuLink"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="@level1.LeftIcon"></i>  @level1.Title
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    @foreach (var level2 in level1.NavigationLevel2)
                    {
                        <li>
                            <a class="dropdown-item active" href="@level2.Link">
                                <i class="@level2.LeftIcon"></i> @level2.Title
                                @*<span class="i-tick"></span>*@
                            </a>
                        </li>

                    }
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="#" class="icon-button flat">
                    <i class="@level1.LeftIcon"></i> @level1.Title
                </a>

            </li>

        }
    }
</ul>
