@model Project.Mining.Website.Models.ProjectDetails.OtherProjectsModel
@{
    var _linkurl = "javascript:void(0)";
    var _linktarget = string.Empty;
    var _linktext = string.Empty;
    
}
@if (Model != null)
{
    <section class="@Model.BgColor position-relative section-padding main-skeleton skeleton">
        <div class="container">
            <div class="section-info section-align">
                <h4 class="content-center-left hide-text">@Model.SubHeading</h4>
                <h3 class="content-center-left">
                    <span class="hide-text">@Model.Heading</span>
                </h3>
				<p class="show-large hide-text"> @Html.Raw(Model.Description)</p>
                <p class="show-mob mob-para-2 content-center-left hide-text">@Html.Raw(Model.Description)</p>

            </div>
			<a class="read-link show-mob read-more-2 content-center-left hide-text">@Model.CTAText</a>
            <div class="btm scrollable m-plan project-two-card">
                @if (Model.Projects != null)
                {
                    foreach (var child in Model.Projects)
                    {
                        <div class="item">
                            @if (child.CtaLink != null)
                            {
                                _linkurl = child.CtaLink.Url;
                                _linktarget = child.CtaLink.Target;
                                _linktext = child.CtaLink.Text;
                            }
                            <a href="@_linkurl" target="@_linktarget">
                                <div class="inner">
                                    <div class="img">
                                        @if (child.Image != null)
                                        {
                                            <img src="@child.Image.Src" alt="@child.Image.Alt" />
                                        }

                                    </div>
                                    <div class="desc parent homestats">
                                        <h2 class="child hide-text">@child.Heading</h2>
                                        <div class="wrap">
                                            <div class="desc-left mb-2">
                                                <p class="child hide-text">@child.SubHeading</p>
                                            </div>
                                            <a href="@_linkurl" class="read-link hide-text">@_linktext</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="arrows">
                <div class="arr-left-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                    </svg>
                </div>
                <div class="arr-right-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </section>
}