@model Project.Mining.Website.Models.ProjectDetails.ProjectDetailModel
@{

    int count = 0;
    int count2 = 0;

}
<section class="mining-closure position-relative section-padding main-skeleton skeleton">
    <div class="container">
        <div class="section-info section-align">
            <h1 class="content-center-left">
                <span class="hide-text">@Model.Heading</span>
            </h1>
            <p class="show-large hide-text"> @Html.Raw(Model.Description)</p>
            <p class="show-mob mob-para-3 content-center-left hide-text"> @Html.Raw(Model.Description)</p>


        </div>
        <a class="read-link show-mob read-more-3 content-center-left hide-text">@Model.CTAText</a>
        <div class="closure-card position-relative news-box-1 show-more-height-1">
            @if (Model.Projects != null)
            {

                foreach (var child in Model.Projects)
                {
                    string modelweb = "modelweb" + count;
                    string modelmob = "modelmob" + count;
                    <a href="javascript:void(0)" class="show-large card-box d-none">
                        <div class="c-card homestats">
                            <small class="hide-text">@child.Year</small>
                            <h2 class="hide-text">@child.ProjectName</h2>
                            <p class="hide-text"><span class="c-span hide-text">@child.LocationHeading</span> @child.Location</p>
                            <p class="hide-text"><span class="c-span hide-text">@child.MineralHeading </span> @child.MineralUsed</p>
                            <p class="hide-text">
                                @Html.Raw(child.ProjectDetails)
                            </p>
                        </div>
                    </a>


                    <a href="javascript:void(0)" class="show-mob card-box d-none" type="button">
                        <div class="c-card homestats">
                            <small class="hide-text">@child.Year</small>
                            <h2 class="hide-text">@child.ProjectName</h2>
                            <p><span class="c-span hide-text">@child.LocationHeading</span> <span class="hide-text">@child.Location</span></p>
                            <p><span class="c-span hide-text">@child.MineralHeading </span><span class="hide-text"> @child.MineralUsed</span></p>
                            <p class="hide-text">
                                @Html.Raw(child.ProjectDetails)
                            </p>

                        </div>
                    </a>
                    count++;


                }

            }
        </div>
        @foreach (var parent in Model.Projects)
        {
            if (parent != null && parent.items != null)
            {
                if (parent.items != null)
                {
                    foreach (var child in parent.items)
                    {
                        string modelweb = "modelweb" + count2;
                        string modelmob = "modelmob" + count2;

                        <div class="sidenav show-large" id="@modelweb">
                            <div class="overlay" id="overlay"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)"></a>
                                <div class="service-body">
                                    <div class="off-title">
                                        <h2>@child.Title</h2>
                                    </div>
                                    <div class="off-info">
                                        @Html.Raw(child.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidenav show-mob" id="@modelmob">
                            <div class="overlay" id="overlay"></div>
                            <div class="content">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)"></a>
                                <div class="service-body">
                                    <div class="off-title">
                                        <h2>@child.Title</h2>
                                    </div>
                                    <div class="off-info">
                                        @Html.Raw(child.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                        count2++;
                    }
                }
            }
        }

        @if (Model.Projects.ToList().Count > 6)
        {
            <a class="section-btn-exp explore--open-1 desk-btn hide-text" id="ViewMoreBtn">@Model.CTALink.Text</a>
        }
        @if (Model.Projects.ToList().Count > 3)
        {
            <a class="section-btn-exp explore--open-2 mob-btn hide-text" id="MobViewMoreBtn">@Model.CTALink.Text</a>
        }

    </div>
</section>
