@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using CaptchaMvc;
@using CaptchaMvc.HtmlHelpers;
@model Sitecore.Feature.Accounts.Models.NewConnectionApplication

<div class="" id="divStep3">
    <hr class="my-4">
    <div class="form-group mb-0">
        <div class="row">
            @(!string.IsNullOrEmpty(ViewBag.Message) ? ViewBag.Message : "")
            <div class="col-lg-12 text-lg-right text-left my-3 mt-lg-0">
                <button type="button" class="btn btn-primary txt-sm" data-toggle="modal" data-target="#docsupload">DOCUMENT UPLOAD GUIDELINES</button>
                @*@if (Model.SelectedPremiseType.Trim() == "003" || Model.SelectedPremiseType.Trim() == "034")
                    {
                        <p class="mt-2"><i>Scanned Copies of the Original Documents to the uploaded, for verification.</i></p>
                    }
                    else
                    {
                        <p class="mt-2"><i>All documents needs to be self-attested</i></p>
                    }*@
                <p class="mt-2"><i>All documents needs to be self-attested</i></p>
                <a href="#docsupload" class="btn btn-primary d-none" style="color: #fff;" target="_blank" data-toggle="modal" data-target="#docsupload"><b>DOCUMENT UPLOAD GUIDELINES</b></a>
            </div>
        </div>
    </div>
    <div id="docsupload" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <p class="mb-3">
                        To be Added*
                        <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/AEMLNewConnection/Partial/_IdentityDocument.cshtml", Model)
    @Html.Partial("~/Views/AEMLNewConnection/Partial/_OwnershipDocument.cshtml", Model)
    @Html.Partial("~/Views/AEMLNewConnection/Partial/_RequiredDocument.cshtml", Model)
    
    
    <p class="mb-3"><b>Terms & Conditions:</b></p>
    <div class="form-check">
        <input type="checkbox" name="IsTermConditionAccepted" class="form-check-input" id="IsTermConditionAccepted" value="1" @(!string.IsNullOrEmpty(Model.IsTermConditionAccepted) && Model.IsTermConditionAccepted == "1" ? "checked" : "")>
        <label class="form-check-label" for="termsCb">I agree to the terms and conditions</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="IsCopiedSelfAttested" class="form-check-input" id="IsCopiedSelfAttested" value="1" @(!string.IsNullOrEmpty(Model.IsCopiedSelfAttested) && Model.IsCopiedSelfAttested == "1" ? "checked" : "")>
        <label class="form-check-label" for="confirmCb">I confirm that copies of uploaded documents are self-attested</label>
    </div>
    <a href="#termsandconditions" class="pl-4 mt-3 txt-orange" data-toggle="modal" data-target="#termsandconditions" style="text-decoration: underline;font-size: 13px;">Read terms and conditions</a>
</div>
<div id="message_modal" class="modal fade show" role="dialog" style="display: none; padding-right: 17px;" data-id="">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p>Message</p>
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="form-group row">
                        <label for="" class="col-sm-12 col-form-label txt-green">@ViewBag.Message</label>
                    </div>
                }
            </div>
            <button type="button" style="padding-bottom:10px;" class="close" data-dismiss="modal">Ok</button>
        </div>

    </div>
</div>
<div class="form-group">
    <span class="txt-orange txt-error-document" id="docErrorMessage"></span>
</div>