@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{ Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper _helper = new Helper();}

@if (currentItem != null)
{
    <div class="cao-msg">
        <div class="sm-img">
            <img src=@_helper.GetImageURL(currentItem,"QuoteIcon") loading="lazy">
        </div>
        <div class="dec-row">
            <div class="circle-img">
                <img src=@_helper.GetImageURL(currentItem,"ProfileImage") loading="lazy">
                <div class="nm-sec">
                    <h5>
                        @Html.Sitecore().Field("ProfileName", currentItem)
                    </h5>
                    <span>@Html.Sitecore().Field("ProfileDesignation", currentItem)</span>
                </div>
            </div>
            <aside>
                <h3>@Html.Sitecore().Field("Title", currentItem)</h3>
                <div class="text-container">
                    <div class="text-wrapper ">
                        <p>@Html.Sitecore().Field("Description", currentItem)</p>
                    </div>
                    <div class="black_link sectionReadMore" onclick="sectionReadMoreToggle(this)">@Html.Sitecore().Field("ButtonText", currentItem)</div>
                </div>
            </aside>
        </div>
    </div>
}
