@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{

   
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
}
<section class="py-5 initiatives_block">
    <div class="bg-images">@Html.Sitecore().ImageField("MainImage", element)</div>
    <div class="container">
        <h2 class="heading heading-centered txt-white">@Html.Sitecore().Field("Title", element)</h2>
        <div class="row">
            @foreach (var item in element.Children.ToList())
            {
                string parentUrl = Sitecore.Links.LinkManager.GetItemUrl(item);

                <div class="col mb-3 text-center">
                    <div class="initiative_sub">
                        <div class="initiative_sub--thumb">
                            @Html.Sitecore().ImageField("MainImage", item)
                        </div>
                        <div class="initiative_sub--desc">
                            <h3>@Html.Sitecore().Field("Title", item)</h3>
                            @Html.Sitecore().Field("Description", item)
                            <div><a href="@parentUrl.Replace("/en/", "/")">Explore more</a></div>
                        </div>
                    </div>
                </div>
            }
             
      
            </div>
    </div>
</section>