@using Sitecore.Data.Items;

@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var models = Sitecore.Context.Database.GetItem(datasource);
    var i = 1;
}


<section class="bg-gray py-4" id="first-section">
    <div class="container">
        <div class="row">

            @if (!string.IsNullOrEmpty(datasource))
            {
                if (models != null)
                {
                    if (models.HasChildren)
                    {
                        foreach (Item item in models.GetChildren())
                        {
                            var emails = item.Fields["Email"];
                            if (i == 1)
                            {


                                <div class="col-lg-6 my-4">
                                    <div class="bg-orangegradient p-5 h-100 boxzoom txt-white">


                                        <h3 class="section-heading">@item.Fields["OfficeTitle"]</h3>
                                        @*<p class="mb-3"><strong>@item.Fields["OfficeName"]</strong> </p>*@
                                        <p class="mb-3">@item.Fields["Address1"]</p>
                                        <p class="mb-3">@item.Fields["Address2"]</p>

                                        <div class="row mb-3">
                                            <div class="col-md-6">@item.Fields["Telephone"] </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><a class="txt-white" rel="noopener noreferrer" href="mailto:" @emails target="_blank">@item.Fields["Email"] </a></div>
                                        </div>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6 my-4 address-box">
                                    <div class="p-5 bg-white border h-100 boxzoom">


                                        <h3 class="section-heading">@item.Fields["OfficeTitle"]</h3>
                                        @*<p class="mb-3"><strong>@item.Fields["OfficeName"]</strong> </p>*@
                                        <p class="mb-3">@item.Fields["Address1"]</p>
                                        <p class="mb-3">@item.Fields["Address2"]</p>

                                        <div class="row mb-3">
                                            <div class="col-md-6">@item.Fields["Telephone"] </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><a rel="noopener noreferrer" href="mailto:" @emails target="_blank">@item.Fields["Email"] </a></div>
                                        </div>

                                    </div>
                                </div>
                            }
                            i++;
                        }
                    }
                }
            }
        </div>
    </div>
</section>