@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    var imgurl = Helper.ImageUrl("Thumbnail", element);


}
<section class="py-5 bg-white " id="first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">


                <img alt="" src="@imgurl" class="img-fluid" disablewebedit="False" />
            </div>
            <div class="col-md-9">
                <div class="border-left pl-3 mb-3">
                    <h1> @Html.Sitecore().Field("Heading", element)</h1>
                    <p> @Html.Sitecore().Field("ShortDescription", element)</p>
                </div>


                @Html.Sitecore().Field("Description", element)
                <p class="mt-4"><a class="btn btn-primary" href="@imgurl"><em class="fa fa-download mr-2"></em>Download high resolution image</a></p>
            </div>
        </div>
    </div>
</section>