@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{
    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);
    Item rootItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.RootPath);
    var SocialIcon = Sitecore.Context.Database.Items.GetItem("{5D563DCF-1826-407D-B8C5-1B0C281749AC}");
    var FooterSecondaryMenu = Sitecore.Context.Database.Items.GetItem("{EA0EB000-33EF-42E7-8E33-07272C25C8DC}");
    var j = 1;
    var i = 1;
}

<footer class="pt-5 position-relative d-block">
  
    <div class="container">
        <div class="row footerPanel2">
            <div class="col-lg-5 ft-submenu d-md-block d-none">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>@element.Name</h5>
                        <ul class="ft-business">
                            @if (element != null)
                            {
                                if (element.HasChildren)
                                {

                                    foreach (Item item in element.GetChildren())
                                    {
                                        if (i <= 5)
                                        {
                                            var link = item.Fields["Link"];
                                            <li><a href="@link">@item.Fields["NavigationTitle"]</a></li>
                                        }
                                        i++;
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6 d-md-block d-none ft-submenu border-right">
                <div>
                    @if (element != null)
                    {
                        if (element.HasChildren)
                        {

                            foreach (Item item in element.GetChildren())
                            {
                                var link = item.Fields["Link"];
                                if (j > 5)
                                {
                                <h5><a href="@link">@item.Fields["NavigationTitle"]</a></h5>
                                }
                                j++;
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row ft-logo">
                    <div class="col-sm-12 pb-4">
                        @if (rootItem != null)
                        {
                            @Html.Sitecore().ImageField("FooterLogoImage", rootItem, 0, 0, "img-fluid")
                        }

                    </div>
                    <div class="col-sm-12 mb-3 text-center">
                        <ul class="ft-social">
                            @if (SocialIcon != null)
                            {
                                if (SocialIcon.HasChildren)
                                {

                                    foreach (Item item in SocialIcon.GetChildren())
                                    {
                                        Sitecore.Data.Fields.LinkField linkFields = item.Fields["Link"];
                                        var link = linkFields.GetFriendlyUrl();

                                        
                                        var SocialIcons = item.Fields["Icon"];

                                        <li><a href="@link"><i class="@SocialIcons"></i></a></li>

                                    }
                                }
                            }

                        </ul>
                    </div>
                    <div class="col-sm-12 text-center">
                        <ul class="terms-link d-lg-none">
                            @if (FooterSecondaryMenu != null)
                            {
                                if (FooterSecondaryMenu.HasChildren)
                                {

                                    foreach (Item item in FooterSecondaryMenu.GetChildren())
                                    {
                                        var link = item.Fields["Link"];
                                        <li class="d-inline-block"><a href="@link"> @item.Fields["NavigationTitle"]</a></li>

                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-sm-12 d-lg-none mb-3">
                        <p class="sitemap-link d-block p-2">Sitemap<i class="fa fa-angle-down"></i></p>
                    </div>
                    <div class="col-sm-12 d-none ft-mobilemenu">
                        <div class="row mb-3">

                            @if (element != null)
                            {
                                if (element.HasChildren)
                                {

                                    foreach (Item item in element.GetChildren())
                                    {
                                        var link = item.Fields["Link"];
                                        <div class="col-6">
                                            <h5 class="text-left"><a href="@link">@item.Fields["NavigationTitle"]</a></h5>
                                        </div>
                                       
                                    }
                                }
                            }

                     
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="footerBtmPanel mt-3 py-2 d-md-block d-none">
        <div class="container">
            <div class="row row-grid align-items-end ftrBtmInner ">
                <div class="col-12 col-md-auto text-center text-md-left">

                    <div class="d-none d-md-block">© 2020 Adani Group</div>
                </div>
                <div class="col-12 col-md-auto text-center text-md-left ml-md-auto">
                    <div class="footerMenu">
                        <ul class="ft-policy-links">
                            @if (FooterSecondaryMenu != null)
                            {
                                if (FooterSecondaryMenu.HasChildren)
                                {

                                    foreach (Item item in FooterSecondaryMenu.GetChildren())
                                    {
                                        var link = item.Fields["Link"];
                                        <li class="d-inline-block"><a href="@link"> @item.Fields["NavigationTitle"]</a></li>

                                    }
                                }
                            }
                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>