@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@{


    var datasource = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource;
    var element = Sitecore.Context.Database.GetItem(datasource);


}


<section class="py-4">
    <div class="container">
        <div class="row">
            @foreach (var item in element.Children.ToList())
            {
                var link = item.Fields["Link"];
            <div class="col-lg-6 my-4 mt-lg-5">
                <h2 class="heading">@Html.Sitecore().Field("Title", item)</h2>
                @Html.Sitecore().Field("Description", item)
                <p class="mt-4"><a href="@link" class="btn btn-primary">Read more</a></p>
            </div>
            }
                <div class="col-lg-6 my-4">
                    <div class="bio-thumb">
                        @foreach (var item in element.Children.ToList())
                        {
                        <div class="bio-thumb_first"> @Html.Sitecore().ImageField("Image 1", item, 0, 0, "image-fluid")</div>
                        <div class="bio-thumb_second">@Html.Sitecore().ImageField("Image 2", item, 0, 0, "image-fluid")</div>
                        <div class="bio-thumb_third">@Html.Sitecore().ImageField("Image 3", item, 0, 0, "image-fluid")</div>
                        }
                        </div>
                </div>
            </div>
    </div>
</section>