@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
}
@if (currentItem != null)
{
    <div class="col-md-9 col-xs-12 left-area">
        <div class="content-area">
            <div class="bg-area pt-0">
                <em>@Html.Sitecore().Field("BlogHeading", currentItem)</em>
                <div class="bg-heading">@(@Html.Sitecore().Field("AuthorName", currentItem).ToString()== string.Empty? string.Empty : @Html.Sitecore().Field("AuthorName", currentItem)+",") @Html.Sitecore().Field("AuthorOrganisation", currentItem) <span>@Html.Sitecore().Field("BlogDate", new { format = "dd/MM/yyyy" })</span></div>
            </div>
            <div>
                <p>@Html.Sitecore().Field("Introduction", currentItem)</p>
            </div>
            @foreach (Item blogContent in currentItem.Children)
            {
                <div>
                    @Html.Sitecore().Field("RichText", blogContent)
                </div>
            }
        </div>
    </div>
}


