@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Adani.SuperApp.Airport.Foundation.SitecoreHelper.Platform.Helper
@model RenderingModel
@{
    Item currentItem = RenderingContext.Current.Rendering.Item;
    Helper linkHelper = new Helper();
}
@if (currentItem != null)
{
<div class="pt-wrap video-wrapper">
    <div class="container">
        <div class="heading-content">
            <h3 class="cm-heading">@Html.Sitecore().Field("Title", currentItem)</h3>
            <p>@Html.Sitecore().Field("SubTitle", currentItem)</p>
            <div class="row for-desktop">
                <div class="col-xl-9">
                    <div class="video-section">
                        <video class="video" poster="@linkHelper.GetImageURL(currentItem,"VideoPosterPath")">
                            <source src="@linkHelper.LinkUrl(currentItem.Fields["VideoSrcPath"])" type="video/mp4">
                        </video>

                        <div class="playpause"></div>
                    </div>
                </div>
                <div class="col-xl-3">
                    @foreach (Item rightVideo in currentItem.Children)
                    {
                    <div class="sm-vedio">
                        <div class="video-section right-vedio">
                            <video class="video right-vedio" poster="@linkHelper.GetImageURLbyField(rightVideo.Fields["VideoPosterPath"])">
                                <source src="@linkHelper.LinkUrl(rightVideo.Fields["VideoSrcPath"])" type="video/mp4">
                            </video>

                            <div class="playpause"></div>
                        </div>
                        <p>The Grub Fest at Delhi</p>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- For Mobile -->
        <div class="for-mobile">
            <div class="mobile-video-wrapper scrollbar-x mobSlider">
                <div class="video-section">
                    <video class="video" poster="@linkHelper.GetImageURL(currentItem,"VideoPosterPath")">
                        <source src="@linkHelper.LinkUrl(currentItem.Fields["VideoSrcPath"])" type="video/mp4">
                    </video>

                    <div class="playpause"></div>
                </div>
                @foreach (Item mobileVideo in currentItem.Children)
                {
                <div class="video-section">
                    <video class="video" poster="@linkHelper.GetImageURLbyField(mobileVideo.Fields["VideoPosterPath"])">
                        <source src="@linkHelper.LinkUrl(mobileVideo.Fields["VideoSrcPath"])" type="video/mp4">
                    </video>

                    <div class="playpause"></div>
                </div>
                }
            </div>
        </div>
        <!-- For Mobile -->
    </div>
</div>
}


