@using Adani.BAU.Transmission.Feature.Navigation.Platform.Models
@using Sitecore.Mvc.Configuration
<div class="section-footer section fp-auto-height" id="i4">
    @if (Model != null)
    {
        <div class='common-footer'>
            <div class='container'>
                <div class='row'>
                    <div class='footerLeft col-md-9'>
                        <div class='row'>
                            @if (Model.mainFooterLinks.Count > 0)
                            {
                                foreach (var FooterLink in Model.mainFooterLinks)
                                {
                                    <div class='footerMenuList col-md-4'>
                                        <h4><a href='@FooterLink.LinkUrl'>@FooterLink.LinkText</a></h4>
                                        @if (FooterLink.subMenuFooterLinks.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var FooterSubLink in FooterLink.subMenuFooterLinks)
                                                {
                                                    <li>
                                                        <a href="@FooterSubLink.LinkUrl">@FooterSubLink.LinkText</a>
                                                    </li>
                                                }

                                            </ul>
                                        }

                                    </div>
                                }

                            }

                        </div>
                        <div class='row'>
                            @Html.Sitecore().Placeholder("SocialMedia")
                            @Html.Sitecore().Placeholder("ContactUsLink")

                        </div>
                    </div>
                    <div class='footerRight col-md-3'>
                        <span class="antiforgerytoken">@Html.AntiForgeryToken()</span>
                        <form>
                            <div class='inquiryForm'>
                                <h4>Contact Form</h4>
                                <div><label id='lblmsg' class='form-error'></label></div>
                                <div class='contact-form'>
                                    <div class='form-group' id='name'> <input type='text' class='form-control' placeholder='Name' id='txtname' maxlength="100"> <label id='lblrname' class='form-error'></label></div>
                                    <div class='form-group' id='email'> <input type='email' class='form-control' placeholder='Email' id='txtemail' maxlength="100"> <label id='lblemail' class='form-error'></label></div>
                                    <div class='form-group'>
                                        <select name='' class='form-control' id='enquiry'>
                                            <option value='General Inquiry'>General Inquiry</option>
                                            <option value='Business Inquiry'>Business Inquiry</option>
                                            <option value='Website Feedback'>Website Feedback</option>
                                            <option value='Media'>Media</option>
                                        </select>
                                    </div>
                                    <div class='form-group' id='message'><textarea class='form-control' rows='5' placeholder='Message' id='txtcomment' maxlength="500"></textarea><label id='lblcomm' class='form-error'></label></div>

                                    <div>By continuing, you agree to our <a href="/Term-of-use">T&amp;Cs</a> and <a href="/Privacy-Policy">Privacy Policy.</a></div>
                                    <div class="form-group">
                                        <div id="Contactrecaptcha" class="captcha">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-wrapper floating">
                                            <p id="contact-error" class="form-error anim error"></p>
                                        </div>
                                    </div>
                                    <br /><a class=' btn-block ad-btn-secondary' onclick='sendEmailToC();' href='javascript://'>Submit</a>
                                    <div class='adaniLoader' id='contactLoader'> <img src='/Assets/WesternTransmission/css/ajax-loader.gif' class='adaniLoaderImg'></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class='footer-copy'>
            @Html.Sitecore().Placeholder("footerbottom")
        </div>

    }
</div>
<script>
    var sitekey='@Sitecore.Globalization.Translate.Text("sitekey")';
</script>