@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Affordable.Website.Models.BookNow


@using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { @id = "properties" }))
{
<section class="py-5 bg-grey">
    @Html.HiddenFor(x => x.projectid)
    @Html.HiddenFor(x => x.ProjectName)
    <div class="container">
        <h2 class="mb-3 txt-md">Book your Property with Token amount:</h2>
        <div id="myPartialViewContainer">
            @Html.Partial("~/Views/Affordable/SearchProperties.cshtml", Model)
        </div>
        <h3 class="mb-3 txt-sm"><b>Personal Details:</b></h3>
        <div class="row">

            <div class="col-md-6 mb-3 col-lg-3 col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control py-2", @name = "name", @id = "name", placeholder = "Enter Name" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 mb-3 col-lg-3 col-md-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control py-2", @name = "email", @id = "email", placeholder = "Enter Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 mb-3 col-lg-3 col-md-3">
                @Html.TextBoxFor(m => m.MoblieNo, new { @class = "form-control py-2", @name = "mobile", @id = "mobile", placeholder = "Enter Moblie Number" })
                @Html.ValidationMessageFor(model => model.MoblieNo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 mb-3 col-lg-3 col-md-3">
                <button type="submit" class="btn btn-primary w-100">Pay Now</button>
            </div>
        </div>

    </div>
    @*</div>
        </div>*@
</section>
}
