@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@model Sitecore.Affordable.Website.Models.BookNow

<h3 class="mb-3 txt-sm"><b>Project Name: @Model.ProjectName</b></h3>
<div class="row">
    @Html.Raw(Model.Project_Notes)
    <br />
    @Html.Raw(Model.Project_Address)
</div>
<div class="row">
    <div class="col-md-6 mb-3 col-lg-4 col-md-4">
        Building:
        @Html.DropDownListFor(m => m.Building, new SelectList(Model.Building, "Key", "Value", Model.buildingid), new { @class = "form-control", @onchange = "getvalue()" })
        @Html.ValidationMessageFor(model => model.buildingid, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.buildingid)
    </div>
    <div class="col-md-6 mb-3 col-lg-4 col-md-4">
        Floor:
        @Html.DropDownListFor(m => m.Floor, new SelectList(Model.Floor, "Key", "Value", Model.floorid), new { @class = "form-control", @onchange = "getfloor()" })
        @Html.ValidationMessageFor(model => model.floorid, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.floorid)
    </div>
    <div class="col-md-6 mb-3 col-lg-4 col-md-4">
        Apartment:
        @Html.DropDownListFor(m => m.Unit, new SelectList(Model.Unit, "Key", "Value", Model.unitid), new { @class = "form-control", @onchange = "GetAmount()" })
        @Html.ValidationMessageFor(model => model.unitid, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.unitid)
    </div>
    <div class="col-md-6 mb-3 col-lg-4 col-md-4">
        Total Amount:
        @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control py-2", @readonly = "readonly", @name = "TotalAmount", @id = "TotalAmount", placeholder = "Enter Name" })
        @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6 mb-3 col-lg-4 col-md-4">
        Token Amount
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control py-2", @readonly = "readonly", @name = "Amount", @id = "Amount", placeholder = "Enter Name" })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-12 mb-5">
        <p>
            <a href="#" target="_blank" class="btn btn-bordered">View/Download Payment Breakdown</a>
            <a href="#" target="_blank" class="btn btn-bordered">View/Download Broucher</a>
        </p>
    </div>
</div>
