@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AdaniHousing.Website.Models.AdaniHousingApplyforLoanModel
@{
    string keyValues = Session["Key"] != null ? "off" : "on";
    Session["Key"] = null;
}

<div class="wrapper-body">
    @if (Model != null)
    {
        //using (Html.BeginForm())
        using (Html.BeginRouteForm(MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "LoginLoan_form", name = "LoginLoan_form", autocomplete = keyValues, @class = "user_profile apply_loan", enctype = "multipart/form-data" }))
        {
            @Html.AddUniqueFormId()
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
            @Html.HiddenFor(m => m.FormName, new { @Value = HttpContext.Current.Request.Url.AbsolutePath + "#loan" })
            @Html.HiddenFor(m => m.LastTabIndex)
            <div class="row">
                <div class="col-lg-7">
                    <h3>Apply for loans</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <p id="applyErrorMsg" class="field-validation-error help-block required">@ViewBag.Message</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.FirstName, "First Name")<span class="required">*</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required", id = "apply-fname" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "help-block required" }, "p")
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.LastName, "Last Name")<span class="required">*</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required", id = "apply-lname" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "help-block required" }, "p")
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.EmailID, "Email Id")
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.EmailID, new {type="email", @class = "form-control", id = "apply-email" })
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "help-block required" }, "p")
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.MobileNo, "Contact No.")<span class="required">*</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", required = "required", maxlength = "10", type = "number", id = "apply-number" })
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "help-block required" }, "p")
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.PinCode, "Pincode")<span class="required">*</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control", required = "required", id = "zipcode" })
                                @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "help-block required" }, "p")
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.ProductType, "Product Type")<span class="required">*</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.ProductType, new SelectList(Model.ProductsList, "Value", "Text"), "Select Product", htmlAttributes: new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.ProductType, "", new { @class = "help-block required" }, "p")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="submit" value="Loansubmit" id="LogInApplyForLoanSubmitBtn" name="Submit" class="btn btn-primary btn-md">Submit</button>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-5">
                    <div class="side_thumb">
                        <img src="/-/media/D35337F5E6B3424DA0D04D0A04D3DCCB.ashx">
                    </div>
                </div>
            </div>
        }
    }
</div>

