@model Sitecore.AdaniHousing.Website.Models.TransactionsModel
    @{ 
        int count = 0;
    }
<div class="wrapper-body">
    <div class="user_profile apply_loan">
        <h3 class="mb-3">Payment Summary</h3>
        <div class="table-responsive">
            <table class="table table-striped border text-center bg-white">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Amount</th>
                        <th>Due Date</th>
                        <th>Received Date</th>
                        <th>ReferenceNumber</th>
                        <th>PaymentMode</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.LastPaymentsbyCustomerList)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.PaymentDate</td>
                            <td>@transaction.InstrumentDate</td>
                            <td>@transaction.ReferenceNumber</td>
                            <td>@transaction.PaymentMode</td>
                        </tr>
                    }
                    @*<tr>
            <td>1</td>
            <td>R202110466679</td>
            <td>20.06.2021</td>
            <td>-1062.00</td>
            <td>20.06.2021</td>
            <td><a href="" class="lnk_Printbill" data-document="EXT011009240183   20210620"><i class="fa fa-print"></i></a></td>
        </tr>*@
                </tbody>
            </table>
        </div>

    </div>
</div>

