<!-- Modal -->
@using Sitecore.Mvc.Configuration;
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.AdaniHousing.Website.Models.RequestCallbackModel
<!-- Modal -->
<div class="modal fade" id="req_callback" tabindex="-1" role="dialog" aria-labelledby="req_callback" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body bg-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <form class="form-section" id="ReqCallbackForm" name="ReqCallback_form">
                    @Html.AddUniqueFormId()
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.PageInfo, new { @Value = HttpContext.Current.Request.Url.AbsoluteUri })
                    @Html.HiddenFor(m => m.FormName, new { @Value = "ReqCallbackForm", id = "ReqCallbackformName" })
                    <h3 class="mb-4">Request Call Back</h3>
                    <div class="row text_container">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required", placeholder = "Enter Name*", id = "ReqCallbackName" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", required = "required", placeholder = "Enter Mobile No*", id = "ReqCallbackMobile", maxlength = "10", type = "number" })
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", required = "required", placeholder = "Enter Email*", id = "ReqCallbackEmailId" })
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", id = "ReqCallbackMessage", required = "required", placeholder = "Message*", maxlength = 150, rows = "3" })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "help-block" }, "p")
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="ReqCallbackrecaptcha"></div>
                        </div>
                        <div class="col-12 text-right">
                            <button type="button" name="Submit" id="btnReqCallbackSubmit" value="Submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


