@using Sitecore.Mvc
@model Project.Mining.Website.Models.Home.SubscribeUsModel


@if (Model != null)
{
    <section class="subscribe position-relative section-padding">
        <div class="container-2">
        <div class="subscribe-box py-4">
                <div class="section-flex message-box">
                    <div class="subscribe-img">
                        @if (Model.Image != null)
                        {
                            <img src="@Model.Image.Src" alt="@Model.Image.Alt">
                        }
                    </div>
                    <div class="subscribe-info">
                        <div class="section-info mt-3 mt-md-0 content-center">
                            <h3>
                                <span>@Model.Heading</span>
                            </h3>
                            @Html.Raw(Model.Description)
                        </div>
                        @Html.Sitecore().Placeholder("forms")
                        <div class="formContainer">
                            <form action="">
                                <fieldset class="fieldInput">
                                    <input class="form-input" type="email" id="s-email-id" placeholder="mining@mtcs.com">
                                    <button type="submit" class="form-submit" id="subscribe-btn">@Model.Link.Text</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}